<template>
  <div class="main_page" v-if="template.form">
    <div class="live">
      <div class="preview" v-if="prev">
        <div class="body shadow">
          <div class="p-2">
            <h3 class="mb-3">{{template.form.legend}}</h3>
            <section v-for="(section,index) in template.form.sections" :key="index" class="mb-3">
              <div class="number">Section {{index+1}}</div>
              <h4 class="mb-2">{{section.section.label}}</h4>

              <div v-for="(rows,idx) in section.section.rows" :key="idx">
                <div v-for="(row,id) in rows.row" :key="id" class="mb-3 rows">
                  <div>
                    <div class="number">Q.{{id+1}}</div>
                    <p>{{row.description}}</p>
                    <div class="form-group" v-if="row.type == 'radio'">
                      <h4>{{row.label}}</h4>
                      <small>{{row.note}}</small>
                      <label
                        class="custom-control custom-radio"
                        v-for="(value,id) in row.values"
                        :key="id"
                      >
                        <input
                          type="radio"
                          :value="value"
                          class="custom-control-input"
                          v-model="row.answer"
                        />
                        <span class="custom-control-indicator">{{value}}</span>
                      </label>
                    </div>

                    <div class="form-group" v-else-if="row.type == 'select'">
                      <h4>{{row.label}}</h4>
                      <small>{{row.note}}</small>
                      <select class="custom-select" v-model="row.answer">
                        <option disabled selected>Select one</option>
                        <option v-for="(value,id) in row.values" :key="id">{{value}}</option>
                      </select>
                    </div>

                    <div class="form-group" v-else-if="row.type == 'checkbox'">
                      <h4>{{row.label}}</h4>
                      <small>{{row.note}}</small>
                      <label
                        class="custom-control custom-checkbox"
                        v-for="(value,id) in row.values"
                        :key="id"
                      >
                        <input
                          type="checkbox"
                          :value="value"
                          class="custom-control-input"
                          v-model="row.answers"
                          :multiple="row.multiple"
                        />
                        <span class="custom-control-indicator">{{value}}</span>
                      </label>
                    </div>

                    <div class="form-group" v-else-if="row.type == 'table'">
                      <h4>{{row.label}}</h4>
                      <small>{{row.note}}</small>
                      <table class="table table-bordered" v-if="row.table.headers.length">
                        <thead>
                          <tr>
                            <th></th>
                            <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in row.table.items" :key="index">
                            <td>{{row.table.row_titles[index]}}</td>
                            <td
                              v-for="(column, indexColumn) in row.table.headers"
                              :key="indexColumn"
                              class="p-0"
                            >
                              <input
                                type="text"
                                class="form-control border-0"
                                v-model="item[column + index + indexColumn]"
                                placeholder="type here"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="form-group" v-else-if="row.type='text'">
                      <h4>{{row.label}}</h4>
                      <small>{{row.note}}</small>
                      <input
                        :type="row.type"
                        class="form-control"
                        :placeholder="row.placeholder"
                        :required="row.required"
                        v-model="row.answer"
                      />
                    </div>
                    <div v-else></div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="sub-page">
        <div>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="updateForm"
          >Update Form</button>
        </div>
        <div class="form">
          <div class="form-group mb-5" v-if="new_group">
            <input
              type="text"
              class="form-control w-50 mb-3"
              aria-describedby="helpId"
              v-model="group"
              placeholder="Enter form group title"
            />
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main mb-3"
              @click="groupType"
            >Select group</button>
          </div>
          <div class="form-group mb-5" v-else>
            <select class="form-control mb-3 w-50" v-model="group">
              <option disabled value="selected">Select Group</option>
              <option>Discovering what is within</option>
              <option>Business Education</option>
              <option v-for="(item,idx) in groups" :key="idx">{{item}}</option>
            </select>
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="groupType"
            >Add new group</button>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control w-50"
              aria-describedby="helpId"
              v-model="template.form.legend"
              placeholder="Enter form title"
            />
          </div>

          <section v-for="(section,index) in template.form.sections" :key="index" class="mb-3">
            <h4 class="mb-2">
              <input
                type="text"
                class="form-control w-25"
                v-model="section.section.label"
                placeholder="Enter section title"
                required
              />
            </h4>
            <div class="form-group mb-2">
              <label class="mini-label">Description</label>
              <textarea class="form-control" rows="3" v-model="section.section.description"></textarea>
            </div>

            <span class="right mini-label mr-4" @click="addRow(index)">
              <i class="fa fa-plus-circle text-main" aria-hidden="true">Add row</i>
            </span>
            <span class="right mini-label" @click="removeRow(index)">
              <i class="fa fa-minus-circle text-main" aria-hidden="true">Remove row</i>
            </span>
            <div v-for="(rows,idx) in section.section.rows" :key="idx">
              <div v-for="(row,id) in rows.row" :key="id" class="mb-3 rows">
                <span class="text-right">
                  <i
                    class="fa fa-plus-circle"
                    @click="showConfig(index,idx)"
                    aria-hidden="true"
                    v-if=" idx !== current  || index !== currentIndex"
                  ></i>
                  <i
                    class="fa fa-minus-circle"
                    @click="closeConfig()"
                    v-if=" idx == current  && index == currentIndex"
                    aria-hidden="true"
                  ></i>
                </span>
                <!-- configs starts here  -->
                <div class="configs" v-if="idx == current && index == currentIndex">
                  <div>
                    <!-- select type of input here  -->
                    <div class="form-group">
                      <label class="mini-label">Select type</label>
                      <select class="custom-select" v-model="row.type">
                        <option disabled value="selected">Select one</option>
                        <option value="text">Text</option>
                        <option value="textarea">Textarea</option>
                        <option value="number">Number</option>
                        <option value="date">Date</option>
                        <option value="time">Time</option>
                        <option value="select">Select Option</option>
                        <option value="checkbox">Checkbox</option>
                        <option value="radio">Radio</option>
                        <option value="table">Table</option>
                          <option value="table with textarea">Table with Textarea</option>
                       <option value="table with multiple data">Table with Multiple Data</option>
                      </select>
                    </div>

                    <div class="d-flex p-2 border align-items-start" v-if="row.type =='table'">
                      <div class="form-group mr-3">
                        <input
                          type="text"
                          class="form-control"
                          v-model="newHeader"
                          placeholder="type header here"
                          aria-describedby="helpId"
                        />
                        <button
                          type="button"
                          class="elevated_btn elevated_btn_sm text-white btn-compliment"
                          @click="addHeader(index,idx,id)"
                        >Add header</button>
                        <button
                          type="button"
                          class="elevated_btn elevated_btn_sm text-main"
                          @click="removeHeader(index,idx,id)"
                        >Remove header</button>
                      </div>

                      <div class="form-group">
                        <div class="d-flex">
                          <input
                            type="text"
                            class="form-control"
                            v-model="row_title"
                            placeholder="type row title here.."
                            aria-describedby="helpId"
                          />
                        </div>
                        <button
                          class="elevated_btn elevated_btn_sm text-white btn-compliment"
                          @click="addItem(index,idx,id)"
                        >Add row</button>
                        <button
                          class="elevated_btn elevated_btn_sm text-main"
                          @click="removeItem(index,idx,id)"
                        >Remove row</button>
                      </div>
                    </div>
                    <!-- add values here  -->
                    <div
                      class="form-group d-flex border p-2"
                      v-if="row.type == 'radio' || row.type == 'checkbox' || row.type == 'select'"
                    >
                      <div class="mr-3">
                        <input
                          type="text"
                          class="form-control"
                          v-model="myValue"
                          aria-describedby="helpId"
                          placeholder="Enter value here"
                        />
                        <button
                          type="button"
                          class="elevated_btn elevated_btn_sm text-white btn-compliment"
                          @click="addValue(index,idx,id)"
                        >Add Value</button>
                      </div>
                      <div class="form-group" v-if="row.type == 'checkbox'">
                        <label for class="mini-label">Multiple</label>
                        <div class="d-flex align-items-center">
                          <label class="custom-control custom-radio mini-label mr-3">
                            <input
                              class="custom-control-input"
                              type="radio"
                              v-model="row.multiple"
                              value="true"
                            />
                            <span class="custom-control-indicator">True</span>
                          </label>
                          <label class="custom-control custom-radio mini-label">
                            <input
                              class="custom-control-input"
                              type="radio"
                              v-model="row.multiple"
                              value="false"
                            />
                            <span class="custom-control-indicator">False</span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- add headers and items  -->
                  </div>

                  <!-- enter label here  -->
                  <div>
                    <div class="form-group mb-2">
                      <label for class="mini-label">Description</label>
                      <textarea class="form-control" rows="3" v-model="row.description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for class="mini-label">Question title</label>
                      <input
                        type="text"
                        class="form-control mb-2"
                        v-model="row.label"
                        placeholder="Enter label / question"
                      />
                    </div>

                    <div class="form-group">
                      <label for class="mini-label">Note</label>
                      <input
                        type="text"
                        class="form-control mb-2"
                        v-model="row.note"
                        placeholder="Enter label / question"
                      />
                    </div>
                  </div>
                  <!-- enter placeholder here   -->
                  <div>
                    <div class="form-group mb-3">
                      <label for class="mini-label">Placeholder</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="row.placeholder"
                        placeholder="Enter placeholder"
                      />
                    </div>
                    <!-- chooses if required is true of false  -->
                    <div class="form-group">
                      <label for class="mini-label">Required</label>
                      <div class="d-flex align-items-center">
                        <label class="custom-control custom-radio mini-label mr-3">
                          <input
                            class="custom-control-input"
                            type="radio"
                            v-model="row.required"
                            value="true"
                          />
                          <span class="custom-control-indicator">True</span>
                        </label>
                        <label class="custom-control custom-radio mini-label">
                          <input
                            class="custom-control-input"
                            type="radio"
                            v-model="row.required"
                            value="false"
                          />
                          <span class="custom-control-indicator">False</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- configs end here   -->

                <div>
                  <p>{{row.description}}</p>
                  <div class="form-group" v-if="row.type == 'radio'">
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <label
                      class="custom-control custom-radio"
                      v-for="(value,id) in row.values"
                      :key="id"
                    >
                      <input
                        type="radio"
                        :value="value"
                        class="custom-control-input"
                        v-model="row.answer"
                      />
                      <span class="custom-control-indicator">{{value}}</span>
                    </label>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'select'">
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <select class="custom-select" v-model="row.answer">
                      <option disabled selected>Select one</option>
                      <option v-for="(value,id) in row.values" :key="id">{{value}}</option>
                    </select>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'checkbox'">
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <label
                      class="custom-control custom-checkbox"
                      v-for="(value,id) in row.values"
                      :key="id"
                    >
                      <input
                        type="checkbox"
                        :value="value"
                        class="custom-control-input"
                        v-model="row.answers"
                        :multiple="row.multiple"
                      />
                      <span class="custom-control-indicator">{{value}}</span>
                    </label>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'table'">
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <table class="table table-bordered" v-if="row.table.headers.length">
                      <thead>
                        <tr>
                          <th></th>
                          <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in row.table.items" :key="index">
                          <td>{{row.table.row_titles[index]}}</td>
                          <td
                            v-for="(column, indexColumn) in row.table.headers"
                            :key="indexColumn"
                            class="p-0"
                          >
                            <input
                              type="text"
                              class="form-control border-0"
                              v-model="item[column + index + indexColumn]"
                              placeholder="type here"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="form-group" v-else-if="row.type=='textarea'">
                    <h4>{{row.label}}</h4>
                    <textarea
                      class="form-control"
                      rows="3"
                      :required="row.required"
                      v-model="row.answer"
                    ></textarea>
                  </div>
                  <div class="form-group" v-else-if="row.type == 'table with textarea'">
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <table class="table table-bordered" v-if="row.table.headers.length">
                      <thead>
                        <tr>
                          <th></th>
                          <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in row.table.items" :key="index">
                          <td>{{row.table.row_titles[index]}}</td>
                          <td
                            v-for="(column, indexColumn) in row.table.headers"
                            :key="indexColumn"
                            class="p-0"
                          >
                            <textarea
                              class="form-control"
                              rows="5"
                              :placeholder="row.placeholder"
                              v-model="item[column + index + indexColumn]"
                            ></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group" v-else>
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <input
                      :type="row.type"
                      class="form-control"
                      :placeholder="row.placeholder"
                      :required="row.required"
                      v-model="row.answer"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="gui">
      <div>
        <div class="mb-5">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="previewNow"
          >Preview</button>
        </div>
        <div class="mb-5">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="addSection"
          >Add Section</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="removeSection"
          >Remove Section</button>
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped>
.main_page {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.preview {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  z-index: 1;
}
.body {
  background: #fff;
  padding: 25px;
  height: 90%;
  overflow: scroll;
  width: 100%;
}
.gui {
  width: 15%;
  background: #f7f8fa;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.live {
  width: 85%;
  height: 100%;
  position: relative;
}
.sub-page {
  height: 90vh;
  padding: 15px;
  overflow-y: scroll;
}
p {
  font-size: 15px;
}
small {
  font-size: 12px;
  font-style: italic;
  color: red;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

table {
  font-size: 14px;
}
h4 {
  margin-bottom: 14px;
  text-transform: inherit;
  font-size: 15px;
  font-weight: normal;
}
.form {
  padding: 30px 15px;
}
.fa-plus-circle,
.fa-minus-circle {
  font-size: 12px;
  float: right;
  padding: 10px;
}
section {
  background: rgb(204, 204, 204, 0.5);
  padding: 10px;
}
.rows {
  background: #f7f8fa;
  padding: 10px 15px;
}
.configs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
  align-items: center;
}
.mini-label {
  font-size: 13px;
}
label span {
  color: rgba(0, 0, 0, 0.64);
}
.custom-control {
  display: fleX;
}

.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
  font-size: 13px;
}
th,
td {
  text-align: center;
}
</style>
<script>
import Editor from "@tinymce/tinymce-vue";
export default {
  data() {
    return {
      user: {},
      template: {},
      value: "",
      group: "",
      prev: false,
      current: 0,
      row_title: "",
      myHead: "",
      item: {},
      groups: [],
      new_group: false,
      row_title: "",
      form_group: "selected",
      currentIndex: 0
    };
  },
  components: {
    "app-editor": Editor
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        vm.auth = true;
      } else {
        vm.$toasted.error("Log in to access");
        next("/");
      }
    });
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    this.user = user;
    this.getQuestion();
  },
  methods: {
    groupType() {
      this.new_group = !this.new_group;
      if (this.new_group == true) {
        this.group = "";
      } else {
        this.group = "selected";
      }
    },
    getGroups() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-form-templates`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(res => {
          if ((res.status = 200)) {
            let groups = [];

            res.data.forEach(item => {
              groups.push(item.group);
            });

            let newSet = new Set(groups);
            this.groups = Array.from(newSet);
          }
        })
        .catch();
    },
    showConfig(index, id) {
      this.current = id;
      this.currentIndex = index;
    },
    closeConfig() {
      this.current = null;
      this.currentIndex = null;
    },
    getQuestion() {
      let id = this.$route.params.id;
      axios
        .get(`/api/get-form-template/${id}`, {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(res => {
          if ((res.status = 200)) {
            this.template = JSON.parse(res.data.template);
            this.group = res.data.group;
          }
        })
        .catch();
    },
    changeGroup(value) {
      this.group = value;
    },
    previewNow() {
      this.prev = !this.prev;
    },
    updateRowTitle(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.row_titles.push(this.row_title);
      this.row_title = "";
    },
    updateValue(value) {
      this.value = value;
    },
    updateHeader(value) {
      this.myHead = value;
    },
    addForm() {
      this.start = true;
    },
    addSection() {
      this.template.form.sections.push({
        section: {
          label: "",
          rows: []
        }
      });
    },
    removeSection() {
      this.template.form.sections.pop();
    },
    removeRow(id) {
      this.template.form.sections[id].section.rows.pop();
    },
    addRow(id) {
      this.template.form.sections[id].section.rows.push({
        row: [
          {
            type: "selected",
            multiple: false,
            placeholder: "input text",
            label: "",
            description: "",
            note: "",
            required: false,
            answer: "",
            answers: [],
            values: [],
            item: {},
            table: {
              items: [],
              headers: [],
              row_titles: []
            }
          }
        ]
      });
    },
    addValue(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].values.push(this.value);
    },

    addItem(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.items.push(this.item);
      this.updateRowTitle(sectionId, rowsId, rowId);
    },
    removeItem(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.items.pop();
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.row_titles.pop();
    },
    addHeader(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.headers.push(this.myHead);

      this.myHead = "";
    },
    removeHeader(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.headers.pop();
    },
    updateForm() {
      let id = this.$route.params.id;
      let data = {
        id: id,
        group: this.group,
        title: this.template.form.legend,
        template: this.template
      };
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .post(`/api/update-form-template`, JSON.parse(JSON.stringify(data)), {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(res => {
          if (res.status == 200) {
            this.$router.push("/form-questions");
          }
        })
        .catch();
    }
  }
};
</script>