<template>
  <div class="main_page">
    <div class="page">
      <router-link to="/entrepreneur/bap" class="back mb-5">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to BAP-6
      </router-link>
      <div class="mb-5 text-right">
        <button
          type="button"
          class="elevated_btn elevated_btn_sm btn-compliment text-white"
          @click="createForm"
        >Add form</button>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Form Title</th>
            <th>Group</th>
            <th>Action</th>
            <th>
              <input type="checkbox" v-model="all" value="false" />
            </th>
          </tr>
        </thead>
        <tbody v-if="templates.length">
          <tr v-for="(template,index) in templates" :key="index">
            <td scope="row">{{template.form_title}}</td>
            <td>{{template.group}}</td>
            <td class="text-center action">
              <span class="mr-3 cpointer" @click="gotoTemplate(template.id)">
                
                <i class="fa fa-eye pl-1" aria-hidden="true"></i>
              </span>
              <span class="mr-3 cpointer" @click="editTemplate(template.id)">
                
                <i class="fas fa-edit pl-1"></i>
              </span>
              <span class="cpointer" @click="deleteForm(template.id)">
                
                <i class="fa fa-trash pl-1" aria-hidden="true"></i>
              </span>
            </td>
            <td>
              <input
                class="form-check-input p-2"
                type="checkbox"
                v-model="checks"
                :value="template.id"
              />
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td>No Form yet</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="mb-5 text-right" v-if="checks.length">
        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-main ml-auto"
          @click="deleteAllForm"
        >Delete all</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      section_num: 0,
      user: {},
      templates: [],
      auth: false,
      checks: [],
      all: false
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        vm.auth = true;
      } else {
        vm.$toasted.error("Log in to access");
        next("/");
      }
    });
  },
  watch: {
    all: "checkAll"
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    this.user = user;
    this.getQuestion();
  },
  methods: {
    checkAll() {
      this.checks = [];
      if (this.all) {
        this.templates.forEach(item => {
          this.checks.push(item.id);
        });
      }
    },
    changeSection(id) {
      this.section_num = id;
    },
    createForm() {
      this.$router.push("/form");
    },
    getQuestion() {
      axios
        .get(`/api/get-form-templates`, {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(res => {
          if ((res.status = 200)) {
            this.templates = res.data;
          }
        })
        .catch();
    },
    deleteAllForm() {
      let ask = confirm("Do you wish to delete?");
      if (ask) {
        let data = {
          ids: this.checks
        };
        axios
          .post(`/api/delete-all-form`, data, {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(res => {
            if ((res.status = 200)) {
              this.$toasted.success('Deleted succesfully')
              this.getQuestion();
            }
          })
          .catch();
      }
    },
    deleteForm(id) {
      let ask = confirm("Do you wish to delete?");
      if (ask) {
        axios
          .delete(`/api/delete-form-template/${id}`, {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(res => {
            if ((res.status = 200)) {
              this.getQuestion();
            }
          })
          .catch();
      }
    },
    gotoTemplate(id) {
      this.$router.push(`/form-question/${id}`);
    },
    editTemplate(id) {
      this.$router.push(`/edit-form/${id}`);
    }
  }
};
</script>

<style scoped>
.main_page {
  display: flex;
  min-height: 100vh;
  position: relative;
  background: #f7f8fa;
  padding: 15px;
}
th {
  font-weight: bold;
}
.action {
  display: flex;
  justify-content: space-around;
}
.page {
  background: #fff;
  width: 95%;
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;
  padding: 20px 10px;
}

.navi {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.nav-items {
  position: relative;
}

.nav-items::after {
  content: "";
  border-top: 2px solid #ccc;
  position: absolute;
  width: 200px;
  height: 10px;
  bottom: 0;
}
.nav-items:last-child::after {
  content: "";
  border-top: none;
}
.number {
  font-size: 14px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

table {
  font-size: 14px;
}
h4 {
  margin-bottom: 14px;
  text-transform: inherit;
  font-size: 15px;
  font-weight: normal;
}
.mini-label {
  font-size: 13px;
}
label span {
  color: rgba(0, 0, 0, 0.64);
}
.custom-control {
  display: fleX;
}

.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
  font-size: 13px;
}
th,
td {
  text-align: center;
}
table {
  font-size: 14px;
}
</style>