<template>
  <div class="main-page">
      
    <div class="live">
       <router-link to="/form-questions" class="back py-3 px-2 ">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back 
      </router-link>
      <div class="preview" v-if="prev">
        <div class="body shadow">
          <Preview :template="template" @close="previewNow"/>
        </div>
      </div>
      <Live
      @changeGroup='changeGroup'
        :template="template"
        @addForm="addForm"
        :start="start"
        @addRow="addRow"
        @removeRow="removeRow"
        @addValue="addValue"
        @updateValue="updateValue"
        @addItem="addItem"
        @removeItem="removeItem"
        @addHeader="addHeader"
        @removeHeader="removeHeader"
        @updateHeader="updateHeader"
        @updateRowTitle="updateRowTitle"
        @createForm="createForm"
      />
    </div>

    <div class="gui">
      <Gui @addSection="addSection" @removeSection="removeSection" @previewNow="previewNow" />
    </div>
  </div>
</template>

<script>
import Gui from "./guiForm";
import Live from "./liveForm";
import Preview from "./previewForm";
export default {
  data() {
    return {
      prev: false,
      start: true,
      value: "",
      template: {
        form: {
          legend: "",
          sections: []
        }
      },
      item: {},
      myHead: "",
      group:''
    };
  },
   beforeRouteEnter (to, from, next) {
    next(vm=>{
      let user = JSON.parse(localStorage.getItem("authUser"));
    if(user!==null){
      vm.auth = true
    }else{
      vm.$toasted.error('Log in to access')
      next('/')
    }
    })
  },
  components: {
    Gui,
    Live,
    Preview
  },
  methods: {
    changeGroup(value){
      this.group = value
    },
    previewNow() {
      this.prev = !this.prev;
    },
    updateRowTitle(value, sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.row_titles.push(value);
    },
    updateValue(value) {
      this.value = value;
    },
    updateHeader(value) {
      this.myHead = value;
    },
    addForm() {
      this.start = true;
    },
    addSection() {
      this.template.form.sections.push({
        section: {
          label: "",
          rows: []
        }
      });
    },
    removeSection() {
      this.template.form.sections.pop();
    },
    removeRow(id) {
      this.template.form.sections[id].section.rows.pop();
    },
    addRow(id) {
      this.template.form.sections[id].section.rows.push({
        row: [
          {
            type: "selected",
            multiple: false,
            placeholder: "input text",
            label: "",
            description: "",
            note: "",
            required: false,
            answer: "",
            answers: [],
            values: [],
            table: {
              items: [],
              headers: [],
              row_titles: []
            }
          }
        ]
      });
    },
    addValue(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].values.push(this.value);
    },

    addItem(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.items.push(this.item);
    },
    removeItem(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.items.pop();
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.row_titles.pop();
    },
    addHeader(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.headers.push(this.myHead);

      this.myHead = "";
    },
    removeHeader(sectionId, rowsId, rowId) {
      this.template.form.sections[sectionId].section.rows[rowsId].row[
        rowId
      ].table.headers.pop();
    },
    createForm() {
      let data = {
        group:this.group,
        title: this.template.form.legend,
        template: this.template
      };
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .post(`/api/save-form-template`, JSON.parse(JSON.stringify(data)), {
          headers: { Authorization:`Bearer ${user.access_token}`
          }
        })
        .then(res=>{
            if (res.status == 201) {
            this.$router.push('/form-questions')
          }
        })
        .catch();
    }
  }
};
</script>
<style scoped>
.main-page {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.preview {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  z-index: 1;
}
.body {
  background: #fff;
  padding: 25px;
  height: 90%;
  overflow: scroll;
  width: 90%;
}
.gui {
  width: 20%;
  background: #f7f8fa;
  height: 100%;
  padding: 30px;
  text-align: center;
}
.live {
  width: 80%;
  height: 100%;
  position: relative;
}
</style>