<template>
  <div class="main_page">
    <div class="prev" v-if="preview">
      <div class="prev-body">
        <Preview :template="template" @close="closePreview" />
        <hr />
        <div class="butt mt-3">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main mr-3"
            @click="closePreview"
          >close</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="submitAnswer"
          >Submit</button>
        </div>
      </div>
    </div>

    <div class="page" v-if="template.form && !preview">
      <router-link to="/entrepreneur/bap" class="back mb-5">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
      </router-link>
      <h3 class="text-center mb-3">{{template.form.legend}}</h3>
      <div class="navi mb-3">
        <div
          v-for="(section,index) in template.form.sections"
          :key="index"
          @click="changeSection(index)"
          class="nav-items"
        >{{section.section.label}}</div>
      </div>
      <section
        v-for="(section,index) in template.form.sections"
        :key="index"
        class="mb-3"
        v-if="index== section_num"
      >
        <!-- <div class="number">Section {{index+1}}</div> -->
        <h4 class="mb-3 section_title">{{section.section.label}}</h4>
        <p class="section_desc" v-html="section.section.description"></p>
        <ol>
          <div v-for="(rows,idx) in section.section.rows" :key="idx">
            <div v-for="(row,id) in rows.row" :key="id" class="mb-3 rows">
              <p>{{row.description}}</p>
              <li>
                <div>
                  <div class="form-group" v-if="row.type == 'radio'">
                    <h5>{{row.label}}</h5>
                    <small class="note form-text">{{row.note}}</small>
                    <label
                      class="custom-control custom-radio"
                      v-for="(value,id) in row.values"
                      :key="id"
                    >
                      <input
                        type="radio"
                        :value="value"
                        class="custom-control-input"
                        v-model="row.answer"
                      />
                      <span class="custom-control-indicator">{{value}}</span>
                    </label>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'select'">
                    <h5>{{row.label}}</h5>
                    <small class="note form-text">{{row.note}}</small>
                    <select class="custom-select" v-model="row.answer">
                      <option disabled selected>Select one</option>
                      <option v-for="(value,id) in row.values" :key="id">{{value}}</option>
                    </select>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'checkbox'">
                    <h5>{{row.label}}</h5>
                    <small class="note form-text">{{row.note}}</small>
                    <label
                      class="custom-control custom-checkbox"
                      v-for="(value,id) in row.values"
                      :key="id"
                    >
                      <input
                        type="checkbox"
                        :value="value"
                        class="custom-control-input"
                        v-model="row.answers"
                        :multiple="row.multiple"
                      />
                      <span class="custom-control-indicator">{{value}}</span>
                    </label>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'table'">
                    <h5>{{row.label}}</h5>
                    <small class="note form-text">{{row.note}}</small>
                    <div class="table-responsive">
                      <table class="table table-bordered" v-if="row.table.headers.length">
                        <thead>
                          <tr>
                            <th></th>
                            <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in row.table.items" :key="index">
                            <td>{{row.table.row_titles[index]}}</td>
                            <td
                              v-for="(column, indexColumn) in row.table.headers"
                              :key="indexColumn"
                              class="p-0"
                            >
                              <input
                                type="text"
                                class="form-control border-0"
                                v-model="item[column + index + indexColumn]"
                                placeholder="type here"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group" v-else-if="row.type == 'table with textarea'">
                    <h4>{{row.label}}</h4>
                    <small>{{row.note}}</small>
                    <table class="table table-bordered" v-if="row.table.headers.length">
                      <thead>
                        <tr>
                          <th></th>
                          <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in row.table.items" :key="index">
                          <td>{{row.table.row_titles[index]}}</td>
                          <td
                            v-for="(column, indexColumn) in row.table.headers"
                            :key="indexColumn"
                            class="p-0"
                          >
                            <textarea
                              class="form-control"
                              rows="5"
                              :placeholder="row.placeholder"
                              v-model="item[column + index + indexColumn]"
                            ></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group" v-else>
                    <h5>{{row.label}}</h5>
                    <small class="note form-text">{{row.note}}</small>
                    <input
                      :type="row.type"
                      class="form-control"
                      :placeholder="row.placeholder"
                      :required="row.required"
                      v-model="row.answer"
                    />
                  </div>
                
                </div>
              </li>
            </div>
          </div>
        </ol>
      </section>
      <hr />
      <div class="w-100 butt mt-4">
        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-main"
          @click="saveDraft"
        >Save to draft</button>
        <div class="buttt">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main mr-3"
            v-if="section_num > 0"
            @click="previous"
          >Previous</button>
          <button
            v-if="section_num !== template.form.sections.length - 1"
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="continueTo"
          >Continue</button>
          <button
            v-if="section_num == template.form.sections.length - 1"
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="openPreview"
          >Preview</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Preview from "./previewForm";
export default {
  data() {
    return {
      section_num: 0,
      user: {},
      template: {},
      record: {},
      preview: false
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        vm.auth = true;
      } else {
        vm.$toasted.error("Log in to access");
        next("/");
      }
    });
  },
  components: {
    Preview
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    this.user = user;
    this.getQuestion();
  },
  methods: {
    closePreview() {
      this.preview = false;
    },
    openPreview() {
      this.preview = true;
    },
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.template,
        month: this.record.current_month,
        week: this.record.current_week,
        template: this.template.form.legend
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.template,
        month: this.record.current_month,
        week: this.record.current_week,
        template: this.template.form.legend
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              this.template = JSON.parse(response.data.responses);
            }
          }
        });
    },
    continueTo() {
      if (this.section_num < this.template.form.sections.length - 1) {
        this.section_num++;
      }
    },
    previous() {
      if (this.section_num > 0) {
        this.section_num--;
      }
    },

    submitAnswer() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.template,
        month: this.record.current_month,
        week: this.record.current_week,
        template: this.template.form.legend
      };
      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");
            this.preview = true;
            this.$router.push("/entrepreneur/bap");
          }
        });
    },
    changeSection(id) {
      this.section_num = id;
    },
    getQuestion() {
      let id = this.$route.params.id;
      axios
        .get(`/api/get-form-template/${id}`, {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(res => {
          if ((res.status = 200)) {
            this.template = JSON.parse(res.data.template);
            if (this.template) {
              this.getRecord();
              this.getDraft();
            }
          }
        })
        .catch();
    }
  }
};
</script>

<style scoped>
li {
  font-size: 14px;
}
.prev-body {
  background: #fff;
  padding: 25px;
  height: 90%;
  overflow: scroll;
  width: 90%;
}
.note {
  color: blue;
  line-height: 1.4;
}
.prev {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  z-index: 1;
}
.butt,
.buttt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_page {
  display: flex;
  min-height: 100vh;
  position: relative;
  background: #f7f8fa;
  padding: 30px;
}
.page {
  background: #fff;
  width: 80%;
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;
  padding: 30px 40px;
}

.navi {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.nav-items {
  position: relative;
  text-transform: capitalize;
  font-size: 12px;
}

/* .nav-items::after {
  content: "";
  border-top: 2px solid #ccc;
  position: absolute;
  width: 200px;
  height: 10px;
  bottom: 0;
}
.nav-items:last-child::after {
  content: "";
  border-top: none;
} */
.number {
  font-size: 14px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

table {
  font-size: 14px;
}
h4 {
  margin-bottom: 14px;
  text-transform: inherit;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
.section_title {
  text-transform: uppercase;
  font-size: 15.5px;
}
.section_desc {
  font-size: 15.5px;
}
p {
  margin: 0 0 10px;
  font-size: 15px;
}
.mini-label {
  font-size: 13px;
}
label span {
  color: rgba(0, 0, 0, 0.64);
}
.custom-control {
  display: fleX;
}

.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
  font-size: 13px;
}
th,
td {
  text-align: center;
}
table {
  font-size: 14px;
}
@media (max-width: 425px) {
  .page {
    width: 100%;
    padding: 20px 15px;
  }
}
</style>