<template>
  <div class="main-page">
    <div>
        <div class="mb-5">
        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-main"
          @click="previewNow"
        >Preview</button>
      </div>
      <div class="mb-5">
        <button
          type="button"
          class="elevated_btn elevated_btn_sm  text-main"
          @click="addSection"
        >
          Add Section
         
        </button>
        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-main"
          @click="removeSection"
        >
          Remove Section
         
        </button>
      </div>

    
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },

  methods: {
    addSection() {
      this.$emit("addSection");
    },
    removeSection() {
      this.$emit("removeSection");
    },

    previewNow() {
      this.$emit("previewNow");
    }
  }
};
</script>

<style scoped>
.main-page {
  display: flex;
  min-height: 100vh;
}
</style>