<template>
  <div class="sub-page">
    <div>
      <button
        type="button"
        class="elevated_btn elevated_btn_sm btn-compliment text-white"
        @click="createForm"
      >Create Form</button>
    </div>
    <div class="form" v-if="start">
      <div class="form-group mb-5" v-if="new_group">
        <input
          type="text"
          class="form-control w-50 mb-3"
          aria-describedby="helpId"
          v-model="form_group"
          placeholder="Enter form group title"
        />
        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-main mb-3"
          @click="groupType"
        >Select group</button>
      </div>
      <div class="form-group mb-5" v-else>
       
        <select class="form-control mb-3 w-50" v-model="form_group">
          <option disabled value="selected">Select Group</option>
          <option>Discovering what is within</option>
          <option>Business Education</option>
          <option v-for="(item,idx) in groups" :key="idx">{{item}}</option>
         
        </select>
         <button
            type="button"
            class="elevated_btn elevated_btn_sm  text-main"
            @click="groupType"
          >Add new group</button>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control w-50"
          aria-describedby="helpId"
          v-model="template.form.legend"
          placeholder="Enter form title"
        />
      </div>

      <section v-for="(section,index) in template.form.sections" :key="index" class="mb-3">
        <div class="mb-2">
          <input
            type="text"
            class="form-control w-25"
            v-model="section.section.label"
            placeholder="Enter section title"
            required
          />
        </div>
        <div class="form-group">
          <label class="mini-label">Section Description</label>
            <app-editor
                    apiKey="b2xt6tkzh0bcxra613xpq9319rtgc3nfwqbzh8tn6tckbgv3"
                    :init="{plugins: 'wordcount, lists, advlist'}"
                    class="form-control"
                  v-model="section.section.description"
                  ></app-editor>
      
        </div>
        <span class="right mini-label mr-4" @click="addRow(index)">
          <i class="fa fa-plus-circle text-main" aria-hidden="true">Add row</i>
        </span>
        <span class="right mini-label" @click="removeRow(index)">
          <i class="fa fa-minus-circle text-main" aria-hidden="true">Remove row</i>
        </span>
        <div v-for="(rows,idx) in section.section.rows" :key="idx">
          <div v-for="(row,id) in rows.row" :key="id" class="mb-3 rows">
            <span class="text-right">
              <i
                class="fa fa-plus-circle"
                @click="showConfig(index,idx)"
                aria-hidden="true"
                v-if=" idx !== current  || index !== currentIndex"
              ></i>
              <i
                class="fa fa-minus-circle"
                @click="closeConfig()"
                v-if=" idx == current  && index == currentIndex"
                aria-hidden="true"
              ></i>
            </span>
            <!-- configs starts here  -->
            <div class="configs" v-if="idx == current && index == currentIndex">
              <div>
                <!-- select type of input here  -->
                <div class="form-group">
                  <label class="mini-label">Select type</label>
                  <select class="custom-select" v-model="row.type">
                    <option disabled value="selected">Select one</option>
                    <option value="text">Text</option>
                    <option value="textarea">Textarea</option>
                    <option value="number">Number</option>
                    <option value="date">Date</option>
                    <option value="time">Time</option>
                    <option value="select">Select Option</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="radio">Radio</option>
                    <option value="table">Table</option>
                     <option value="table with textarea">Table with Textarea</option>
                       <option value="table with multiple data">Table with Multiple Data</option>
                  </select>
                </div>

                <div class="d-flex p-2 border align-items-start" v-if="row.type =='table'">
                  <div class="form-group mr-3">
                    <input
                      type="text"
                      class="form-control"
                      v-model="newHeader"
                      placeholder="type header here"
                      aria-describedby="helpId"
                    />
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addHeader(index,idx,id)"
                    >Add header</button>
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-main"
                      @click="removeHeader(index,idx,id)"
                    >Remove header</button>
                  </div>

                  <div class="form-group">
                    <div class="d-flex">
                      <input
                        type="text"
                        class="form-control"
                        v-model="row_title"
                        placeholder="type row title here.."
                        aria-describedby="helpId"
                      />
                    </div>
                    <button
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addItem(index,idx,id)"
                    >Add row</button>
                    <button
                      class="elevated_btn elevated_btn_sm text-main"
                      @click="removeItem(index,idx,id)"
                    >Remove row</button>
                  </div>
                </div>

                 <div class="d-flex p-2 border align-items-start" v-if="row.type =='table with textarea'">
                  <div class="form-group mr-3">
                    <input
                      type="text"
                      class="form-control"
                      v-model="newHeader"
                      placeholder="type header here"
                      aria-describedby="helpId"
                    />
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addHeader(index,idx,id)"
                    >Add header</button>
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-main"
                      @click="removeHeader(index,idx,id)"
                    >Remove header</button>
                  </div>

                  <div class="form-group">
                    <div class="d-flex">
                      <input
                        type="text"
                        class="form-control"
                        v-model="row_title"
                        placeholder="type row title here.."
                        aria-describedby="helpId"
                      />
                    </div>
                    <button
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addItem(index,idx,id)"
                    >Add row</button>
                    <button
                      class="elevated_btn elevated_btn_sm text-main"
                      @click="removeItem(index,idx,id)"
                    >Remove row</button>
                  </div>
                </div>

                 <div class="d-flex p-2 border align-items-start" v-if="row.type =='table with multiple data'">
                  <div class="form-group mr-3">
                    <input
                      type="text"
                      class="form-control"
                      v-model="newHeader"
                      placeholder="type header here"
                      aria-describedby="helpId"
                    />
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addHeader(index,idx,id)"
                    >Add header</button>
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-main"
                      @click="removeHeader(index,idx,id)"
                    >Remove header</button>
                  </div>

                  <div class="form-group">
                    <div class="d-flex">
                      <input
                        type="text"
                        class="form-control"
                        v-model="row_title"
                        placeholder="type row title here.."
                        aria-describedby="helpId"
                      />
                    </div>
                    <button
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addItem(index,idx,id)"
                    >Add row</button>
                    <button
                      class="elevated_btn elevated_btn_sm text-main"
                      @click="removeItem(index,idx,id)"
                    >Remove row</button>
                  </div>
                </div>
                <!-- add values here  -->
                <div
                  class="form-group d-flex border p-2"
                  v-if="row.type == 'radio' || row.type == 'checkbox' || row.type == 'select'"
                >
                  <div class="mr-3">
                    <input
                      type="text"
                      class="form-control"
                      v-model="myValue"
                      aria-describedby="helpId"
                      placeholder="Enter value here"
                    />
                    <button
                      type="button"
                      class="elevated_btn elevated_btn_sm text-white btn-compliment"
                      @click="addValue(index,idx,id)"
                    >Add Value</button>
                  </div>
                  <div class="form-group" v-if="row.type == 'checkbox'">
                    <label for class="mini-label">Multiple</label>
                    <div class="d-flex align-items-center">
                      <label class="custom-control custom-radio mini-label mr-3">
                        <input
                          class="custom-control-input"
                          type="radio"
                          v-model="row.multiple"
                          value="true"
                        />
                        <span class="custom-control-indicator">True</span>
                      </label>
                      <label class="custom-control custom-radio mini-label">
                        <input
                          class="custom-control-input"
                          type="radio"
                          v-model="row.multiple"
                          value="false"
                        />
                        <span class="custom-control-indicator">False</span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- add headers and items  -->
              </div>

              <!-- enter label here  -->
              <div>
                <div class="form-group mb-2">
                  <!-- <label for class="mini-label">Description</label> -->
                  <textarea class="form-control" rows="3" v-model="row.description" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                  <!-- <label for class="mini-label">Question title</label> -->
                  <input
                    type="text"
                    class="form-control mb-2"
                    v-model="row.label"
                    placeholder="Enter question title"
                  />
                </div>

                <div class="form-group">
                  <!-- <label for class="mini-label">Note</label> -->
                  <input
                    type="text"
                    class="form-control mb-2"
                    v-model="row.note"
                    placeholder="Enter note"
                  />
                </div>
              </div>
              <!-- enter placeholder here   -->
              <div>
                <div class="form-group mb-3">
                <label for class="mini-label">Placeholder</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="row.placeholder"
                  placeholder="Enter placeholder"
                />
              </div>
              <!-- chooses if required is true of false  -->
              <div class="form-group">
                <label for class="mini-label">Required</label>
                <div class="d-flex align-items-center">
                  <label class="custom-control custom-radio mini-label mr-3">
                    <input
                      class="custom-control-input"
                      type="radio"
                      v-model="row.required"
                      value="true"
                    />
                    <span class="custom-control-indicator">True</span>
                  </label>
                  <label class="custom-control custom-radio mini-label">
                    <input
                      class="custom-control-input"
                      type="radio"
                      v-model="row.required"
                      value="false"
                    />
                    <span class="custom-control-indicator">False</span>
                  </label>
                </div>
              </div>
              </div>
            </div>
            <!-- configs end here   -->

            <div>
              <p>{{row.description}}</p>
              <div class="form-group" v-if="row.type == 'radio'">
                <h4>{{row.label}}</h4>
                <small>{{row.note}}</small>
                <label
                  class="custom-control custom-radio"
                  v-for="(value,id) in row.values"
                  :key="id"
                >
                  <input
                    type="radio"
                    :value="value"
                    class="custom-control-input"
                    v-model="row.answer"
                  />
                  <span class="custom-control-indicator">{{value}}</span>
                </label>
              </div>

              <div class="form-group" v-else-if="row.type == 'select'">
                <h4>{{row.label}}</h4>
                <small>{{row.note}}</small>
                <select class="custom-select" v-model="row.answer">
                  <option disabled selected>Select one</option>
                  <option v-for="(value,id) in row.values" :key="id">{{value}}</option>
                </select>
              </div>

              <div class="form-group" v-else-if="row.type == 'checkbox'">
                <h4>{{row.label}}</h4>
                <small>{{row.note}}</small>
                <label
                  class="custom-control custom-checkbox"
                  v-for="(value,id) in row.values"
                  :key="id"
                >
                  <input
                    type="checkbox"
                    :value="value"
                    class="custom-control-input"
                    v-model="row.answers"
                    :multiple="row.multiple"
                  />
                  <span class="custom-control-indicator">{{value}}</span>
                </label>
              </div>

              <div class="form-group" v-else-if="row.type == 'table'">
                <h4>{{row.label}}</h4>
                <small>{{row.note}}</small>
                <table class="table table-bordered" v-if="row.table.headers.length">
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in row.table.items" :key="index">
                      <td>{{row.table.row_titles[index]}}</td>
                      <td
                        v-for="(column, indexColumn) in row.table.headers"
                        :key="indexColumn"
                        class="p-0"
                      >
                        <input
                          type="text"
                          class="form-control border-0"
                          v-model="item[column + index + indexColumn]"
                           :placeholder="row.placeholder"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

               <div class="form-group" v-else-if="row.type == 'table with textarea'">
                <h4>{{row.label}}</h4>
                <small>{{row.note}}</small>
                <table class="table table-bordered" v-if="row.table.headers.length">
                  <thead>
                    <tr>
                      <th></th>
                      <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in row.table.items" :key="index">
                      <td>{{row.table.row_titles[index]}}</td>
                      <td
                        v-for="(column, indexColumn) in row.table.headers"
                        :key="indexColumn"
                        class="p-0"
                      >                     
                        <textarea class="form-control" rows="5"   :placeholder="row.placeholder"  v-model="item[column + index + indexColumn]"></textarea>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            
              <div class="form-group" v-else-if="row.type=='textarea'">
                <h4>{{row.label}}</h4>
                <textarea
                  class="form-control"
                  rows="3"
                  :required="row.required"
                    :placeholder="row.placeholder"
                  v-model="row.answer"
                ></textarea>
              </div>
                <div class="form-group" v-else>
                <h4>{{row.label}}</h4>
                <small>{{row.note}}</small>
                <input
                  :type="row.type"
                  class="form-control"
                  :placeholder="row.placeholder"
                  :required="row.required"
                  v-model="row.answer"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";
export default {
  props: ["template", "start"],
  data() {
    return {
      config: false,
      current: 0,
      groups: [],
      myValue: "",
      newHeader: "",
      new_group: false,
      row_title: "",
      form_group: "selected",
      currentIndex:0
    };
  },
    components: {
    "app-editor": Editor,
 
  },
  mounted() {
    this.getGroups();
  },
  watch: {
    myValue: "addNewValue",
    newHeader: "addNewHeader",
    form_group: "changeGroup"
  },
  methods: {
    groupType() {
      this.new_group = !this.new_group;
      if (this.new_group == true) {
        this.form_group = "";
      } else {
        this.form_group = "selected";
      }
    },
    getGroups() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-form-templates`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(res => {
          if ((res.status = 200)) {
            let groups = [];

            res.data.forEach(item => {
              groups.push(item.group);
            });

            let newSet = new Set(groups);
            this.groups = Array.from(newSet);
          }
        })
        .catch();
    },
    changeGroup() {
      this.$emit("changeGroup", this.form_group);
    },
    createForm() {
      this.$emit("createForm");
    },
    updateRowTitle(sectionId, rowsId, rowId) {
      this.$emit("updateRowTitle", this.row_title, sectionId, rowsId, rowId);
      this.row_title = "";
    },
    addHeader(sectionId, rowsId, rowId) {
      if (this.newHeader != "") {
        this.$emit("addHeader", sectionId, rowsId, rowId);
        this.newHeader = "";
      } else {
        this.$toasted.error("Input header title");
      }
    },
    removeHeader(sectionId, rowsId, rowId) {
      this.$emit("removeHeader", sectionId, rowsId, rowId);
    },
    addItem(sectionId, rowsId, rowId) {
      if (
        this.template.form.sections[sectionId].section.rows[rowsId].row[rowId]
          .table.headers.length
      ) {
        this.$emit("addItem", sectionId, rowsId, rowId);
        this.updateRowTitle(sectionId, rowsId, rowId);
      } else {
        this.$toasted.error("Input header title");
      }
    },
    removeItem(sectionId, rowsId, rowId) {
      this.$emit("removeItem", sectionId, rowsId, rowId);
    },
    addForm() {
      this.$emit("addForm");
    },
    addRow(id) {
      this.$emit("addRow", id);
    },
    removeRow(id) {
      this.$emit("removeRow", id);
    },
    addValue(sectionId, rowsId, rowId) {
      this.$emit("addValue", sectionId, rowsId, rowId);
      this.myValue = "";
    },
    addNewValue() {
      this.$emit("updateValue", this.myValue);
    },
    addNewHeader() {
      this.$emit("updateHeader", this.newHeader);
    },
    showConfig(index,id) {
      this.current = id;
      this.currentIndex = index
    },
    closeConfig() {
      this.current = null;
       this.currentIndex = null
    }
  }
};
</script>

<style scoped>
.sub-page {
  height: 90vh;
  padding: 30px 20px;
  overflow-y: scroll;
}
p {
  font-size: 15px;
}
small {
  font-size: 12px;
  font-style: italic;
  color: red;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

table {
  font-size: 14px;
}
h4 {
  margin-bottom: 14px;
  text-transform: inherit;
  font-size: 15px;
  font-weight: normal;
}
.form {
  padding: 30px 15px;
}
.fa-plus-circle,
.fa-minus-circle {
  font-size: 12px;
  float: right;
  padding: 10px;
}
section {
  background: rgb(204, 204, 204, 0.5);
  padding: 15px;
}
.rows {
  background: #f7f8fa;
  padding: 10px 15px;
}
.configs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
  align-items: center;
}
.mini-label {
  font-size: 12px;
}
label span {
  color: rgba(0, 0, 0, 0.64);
}
.custom-control {
  display: fleX;
}

.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
  font-size: 13px;
}
th,
td {
  text-align: center;
}
</style>