<template>
  <div class="p-4 bg-white main-preview">
    <h3 class="text-center mb-3">{{template.form.legend}}</h3>
    <p>{{template.form.description}}</p>
    <section v-for="(section,index) in template.form.sections" :key="index" class="mb-3">
      <div class="number">Section {{index+1}}</div>
      <h4 class="mb-2">{{section.section.label}}</h4>
        <p class="section_desc" v-html="section.section.description"></p>
      <ol>
        <div v-for="(rows,idx) in section.section.rows" :key="idx">
          <div v-for="(row,id) in rows.row" :key="id" class="mb-3 rows">
              <p>{{row.description}}</p>
            <li>
              <div>
              
                <div class="form-group" v-if="row.type == 'radio'">
                  <h5>{{row.label}}</h5>
                  <small class="form-text text-muted">{{row.note}}</small>
                  <label
                    class="custom-control custom-radio"
                    v-for="(value,id) in row.values"
                    :key="id"
                  >
                    <input
                     readonly
                      type="radio"
                      :value="value"
                      class="custom-control-input"
                      v-model="row.answer"
                    />
                    <span class="custom-control-indicator">{{value}}</span>
                  </label>
                </div>

                <div class="form-group" v-else-if="row.type == 'select'">
                  <h5>{{row.label}}</h5>
                  <small class="form-text text-muted">{{row.note}}</small>
                  <select class="custom-select"  readonly v-model="row.answer">
                    <option disabled selected>Select one</option>
                    <option v-for="(value,id) in row.values" :key="id">{{value}}</option>
                  </select>
                </div>

                <div class="form-group" v-else-if="row.type == 'checkbox'">
                  <h5>{{row.label}}</h5>
                  <small class="form-text text-muted">{{row.note}}</small>
                  <label
                    class="custom-control custom-checkbox"
                    v-for="(value,id) in row.values"
                    :key="id"
                  >
                    <input
                     readonly
                      type="checkbox"
                      :value="value"
                      class="custom-control-input"
                      v-model="row.answers"
                      :multiple="row.multiple"
                    />
                    <span class="custom-control-indicator">{{value}}</span>
                  </label>
                </div>

                <div class="form-group" v-else-if="row.type == 'table'">
                  <h5>{{row.label}}</h5>
                  <small class="form-text text-muted">{{row.note}}</small>
                  <table class="table table-bordered" v-if="row.table.headers.length">
                    <thead>
                      <tr>
                        <th></th>
                        <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in row.table.items" :key="index">
                        <td>{{row.table.row_titles[index]}}</td>
                        <td
                          v-for="(column, indexColumn) in row.table.headers"
                          :key="indexColumn"
                          class="p-0"
                        >
                          <input
                           readonly
                            type="text"
                            class="form-control border-0"
                            v-model="item[column + index + indexColumn]"
                            placeholder="type here"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="form-group" v-else-if="row.type='text'">
                  <h5>{{row.label}}</h5>
                  <small class="form-text text-muted">{{row.note}}</small>
                  <input
                   readonly
                    :type="row.type"
                    class="form-control"
                    :placeholder="row.placeholder"
                    :required="row.required"
                    v-model="row.answer"
                  />
                </div>
                <div v-else></div>
              </div>
            </li>
          </div>
        </div>
      </ol>
    </section>
   <hr>
    <div class="butt mt-3 text-center w-100">
      <button type="button" @click="close" class="elevated_btn elevated_btn_sm text-white btn-compliment mx-auto">Close</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["template"],
  methods: {
    close(){
      this.$emit('close')
    }
  },
};
</script>

<style scoped>
.number {
  font-size: 14px;
}
.form-text{
  color: red;
}
.main-preview {
  width: 80%;
  margin: 0 auto;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

table {
  font-size: 14px;
}
h4 {
  margin-bottom: 14px;
  text-transform: inherit;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
p {
  margin: 0 0 10px;
   font-size: 15px;
}
.mini-label {
  font-size: 13px;
}
label span {
  color: rgba(0, 0, 0, 0.64);
}
.custom-control {
  display: fleX;
}

.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
  font-size: 13px;
}
th,
td {
  text-align: center;
}
table {
  font-size: 14px;
}
li {
  font-size: 14px;
}
@media (max-width: 425px) {
  .main-preview {
    width: 100%;
    margin: 0 auto;
  }
}
</style>