<template>
            <div class="content-wrapper">
                <div class="main-page">
                    <div class="row">
                        <div class="col-md-12">
                <table>
                    <thead>
                    <th>SN</th>
                    <th>Store Name</th>
                    <th>Email</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr v-for="(vendor, index) in vendors">
                        <td>{{index + 1}}</td>
                        <td>{{vendor.storeName}}</td>
                        <td>{{vendor.email}}</td>
                        <td>
                            <router-link class="btn btn-primary" tag="a" :to="{name: 'getVendorDetail', params: {id: vendor.id}}">
                                view
                            </router-link>
                            </td>
                    </tr>
                    </tbody>
                </table>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>
    export default {
        name: "ops-all-vendor-component",
        data: function(){
            return {
                vendors: []
            }
        },
        mounted(){
            let ops = JSON.parse(localStorage.getItem('authOps'));

            if(ops != null) {
                axios.get('api/all/vendors', {headers: {"Authorization": `Bearer ${ops.access_token}`}}).then((response) => {
                    console.log(response.data);
                    this.vendors = response.data;
                }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/ops/login');
            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }


</style>