<template>
    <div class="loginStyle">
        <div class="login-box">
            <div class="login-logo"><b>B</b>SHOP
                <small class="text-center">Operations</small>
            </div>

            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email" v-model="user.email">
                        <i class="fa fa-envelope form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                        <i class="fa fa-lock form-control-feedback"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" @click="login(user)">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>



            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
</template>

<script>
    import {getOpsHeader} from '../../config';
    export default {
        name: "ops-auth-component",
        data: function(){
            return {
                user: {
                    email: null,
                    password: null
                }
            }
        },
        methods: {
            login(user){
                let data = {
                    client_id: 2,
                    client_secret: 'UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C',
                    grant_type: 'password',
                    username: user.email,
                    password: user.password,
                    theNewProvider: 'ops_user'
                };
                const authOps = {};
                console.log(JSON.parse(JSON.stringify(user)));
                axios.post('oauth/token', data).then((response) =>{
                    authOps.access_token = response.data.access_token;
                    authOps.refresh_token = response.data.refresh_token;
                    localStorage.setItem('authOps', JSON.stringify(authOps));
                    console.log(response.data.access_token);
                    axios.get('api/opsDetails', {headers: getOpsHeader()})
                        .then((res) => {
                            if(res.data.verified){
                                authOps.id = res.data.id;
                                authOps.email = res.data.email;
                                localStorage.setItem('authOps', JSON.stringify(authOps));
                                this.$router.push('/ops/dashboard');
                                this.$toasted.success("Successfully login");
                            }else{
                                this.$toasted.error('Please verified your account');
                            }
                        }).catch((error) => {
                            console.log(error);
                    })
                }).catch((error) => {
                   console.log(error);
                   this.$toasted.error("Invalid user credential");
                });
            }
        }
    }
</script>

<style scoped>

    .form-control-feedback {
        position: absolute !important;
        top: 0 !important;
        right: 0;
        z-index: 2;
        display: block !important;
        width: 34px;
        height: 34px;
        line-height: 34px !important;
        text-align: center;
        pointer-events: none;
    }

</style>