<template>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2018 <a href="https://adminlte.io">B SHOP</a>.</strong> All rights
        reserved.
    </footer>

</template>

<script>
    export default {
        name: "ops-footer-component",
        mounted(){
            if(localStorage.getItem('authOps')) {
                let opsVendor = JSON.parse(localStorage.getItem('authOps'));
            }else{
                this.$router.push('/ops/login');
            }
        }

    }
</script>

<style scoped>

</style>