<template>
            <div class="content-wrapper">
                <div class="main-page">
                    <div class="row">
                        <div class="col-md-10 img-dp">
                            <img :src="image" class="img-d">

                            <div><button class="btn btn-primary userEna" @click="disableEnableVendor()">{{status}}</button></div>
                        </div>
                        <div class="col-md-2">
                           Memeber Since: {{vendorDetail.created_at | moment("dddd, MMMM Do YYYY")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 detail-cat">
                            Name: {{vendorDetail.firstName}} {{vendorDetail.lastName}}
                        </div>

                        <div class="col-md-6 detail-cat">
                            Store Name: {{vendorDetail.storeName}}
                        </div>

                        <div class="col-md-4 detail-cat">
                            Address: {{vendorDetail.address}}
                        </div>

                        <div class="col-md-4 detail-cat">
                            City: {{vendorDetail.city}}
                        </div>

                        <div class="col-md-4 detail-cat">
                            Country: {{vendorDetail.country}}
                        </div>

                        <div class="col-md-6 detail-cat">
                            Bio: {{vendorDetail.bio}}
                        </div>



                    </div>


                </div>
            </div>
</template>

<script>
    export default {
        name: "ops-get-vendor-detail-component",
        data:function(){
            return {
                id : this.$route.params.id,
                vendorDetail: {},
                image: '',
                token: '',
                verified: 1,
                status: 'Disabled Vendor'
            }
        },
        mounted(){
            let ops = JSON.parse(localStorage.getItem('authOps'));
            this.token = ops.access_token;

            if(ops != null) {
                axios.get(`api/vendor/${this.id}`, {headers: {"Authorization": `Bearer ${ops.access_token}`}}).then((response) => {
                    this.vendorDetail = response.data.vendorDetail;
                    this.image = "/images/productImages/"+response.data.vendorDetail.image;
                    if(response.data.vendor.verified === 0){
                        this.status = 'Enabled Vendor';
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/ops/login');
            }
        },
        methods: {
            disableEnableVendor(){
                axios.get(`api/vendor/changestatus/${this.id}`, {headers: {"Authorization": `Bearer ${this.token}`}}).then((response) => {
                    if(response.data.status === 0){
                       this.status = 'Disabled Vendor';
                        this.$toasted.success("Vendor Enabled");
                    }else if(response.data.status === 67){
                        this.status = 'Enabled Vendor';
                        this.$toasted.success("Vendor Disabled");
                    }
                }).catch((error) => {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
        overflow: auto;
    }

    .detail-cat {
        padding:50px;
        border: 1px dotted black;
    }

    .img-d {
        height: 200px;
    }

    .img-dp {
        text-align: center;
    }

    .userEna {
        margin-top: 10px;
    }

</style>