<template>
    <div class="skin-blue sidebar-mini wysihtml5-supported">
        <div class="wrapper">
            <main-header></main-header>
            <side-bar></side-bar>

    <router-view></router-view>

            <main-footer></main-footer>
        </div>
    </div>
    
</template>

<script>
    import mainHeader from './opsMainHeaderComponent';
    import sideBar from './opsSidebarComponent';
    import mainFooter from './opsFooterComponent';

    export default {
        name: "ops-main-component",
        components: {
            'main-header': mainHeader,
            'side-bar': sideBar,
            'main-footer': mainFooter
        }
    }
</script>

<style scoped>

    .main-page {
        height: 100vh;
        overflow: auto;
    }


</style>