<template>
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>B</b>SHOP</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>B</b>SHOP</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->

        </nav>
    </header>
</template>

<script>
    export default {
        name: "ops-main-header-component",
      mounted(){
        if(localStorage.getItem('authOps')) {
            let opsVendor = JSON.parse(localStorage.getItem('authOps'));
        }else{
            this.$router.push('/ops/login');
        }
    }
    }
</script>

<style scoped>

</style>