<template>
            <div class="content-wrapper">
                <div class="main-page">
                    profile
                </div>
            </div>
</template>

<script>
    export default {
        name: "ops-profile-component",
        data: function () {
          return {
              id: this.$route.params.id,
              token: ''
          }
        },
        mounted(){

        }
    }
</script>

<style scoped>

    .main-page {
        height: 100vh;
    }

</style>