<template>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                   <router-link tag="a" to="/ops/dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                   </router-link>
                </li>
                <li>
                   <router-link tag="a" to="/ops/all-product">
                        <i class="fa fa-product-hunt"></i> <span>Products</span>
                   </router-link>
                </li>
                <li>
                   <router-link tag="a" to="/ops/all/vendor">
                        <i class="fa fa-users"></i> <span>Vendor</span>
                   </router-link>
                </li>
<!--
                <li><a href="#"><i class="fa fa-star"></i> <span>Reviews</span></a></li>
-->


                <li class="header">LABELS</li>
                <!--<li><router-link tag="a" :to="{ name: 'opsProfile', params: {id: id} }">
                    <i class="fa fa-circle-o text-red"></i> <span>Profile</span></router-link></li>
                &lt;!&ndash;<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>User Configuration</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Settings</span></a></li>-->
                <li><a href="#"><i class="fa fa-circle-o text-black"></i> <span @click="logout()">Logout</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

</template>

<script>
    export default {
        name: "ops-sidebar-component",
        data: function () {
          return {
              id: ''
          }
        },
        mounted(){
            if(localStorage.getItem('authOps')) {
                let opsVendor = JSON.parse(localStorage.getItem('authOps'));
                console.log(opsVendor.id);
                this.id = opsVendor.id;
            }else{
                this.$router.push('/ops/login');
            }
        },
        methods: {
            logout(){
                localStorage.removeItem('authOps');
                this.$router.push('/ops/login');
            }
        }
    }
</script>

<style scoped>

</style>