<template>
         <div class="content-wrapper">

            <div id="">
               <div class="main-page">
                  <div class="row">
                     <div class="col-md-6">
                     <div>
                    <div>
                           <img :src="imgSrc" class="imgFullSide"/>
                         </div>
                           <div class="imgThumbnailSide">
                              <div class="imageContainer" v-for="(productImages, index) in products.productImage">
                                 <img :src="productImages.image" @click="swipeImage(index)">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <h1 class="h1">{{products.title}}</h1>


                 <div class="row" v-for="productVariation in products.productDetail">
                 <div class="col-md-6"><b>Size: </b>{{productVariation.size}}</div>
                 <div class="col-md-6"><b>Original Price: </b>{{productVariation.price}}</div>
                <div class="col-md-6"><b>Sales Price: </b>{{productVariation.salePrice}}</div>
                <div class="col-md-6"><b>Product Quantity:</b>{{productVariation.quantity}}</div>
                  </div>


                    <div class="row">
                       <div class="col-md-6"><p><b>Product Material: </b></p>
                          {{products.material}}
                       </div>
                       <div class="col-md-6"><p><b>Product Description: </b></p>
                          {{products.description}}</div>
                       <div class="col-md-6"><p><b>Product Dimension: </b></p>
                          {{products.dimension}}</div>
                    </div>


                        <span><button @click="featuredProduct(products.id)" class="btn btn-primary">{{featuredProducts}}</button></span>
                        <span><button @click="verifyProduct(products.id)" class="btn btn-primary">{{verifyProducts}}</button></span>
                     </div>

                  </div>
               </div>
            </div>
         </div>
</template>

<script>
    export default {
        name: "ops-show-product-component",
        data: function () {
          return {
              id: this.$route.params.id,
              isActive: true,
              linkTag: false,
              products: {},
              featuredProducts: 'Sponsor Product',
              verifyProducts: 'Verify Product',
              imgSrc: '',
              token: ''
          }
        },
        mounted(){
            let ops = JSON.parse(localStorage.getItem('authOps'));
            this.token = ops.access_token;
            if(ops != null) {
                axios.get(`/api/ops/product/${this.id}`, { headers: {"Authorization" : `Bearer ${ops.access_token}`} }).then((response) => {
                    if(response.data.data.verify){
                      this.verifyProducts = 'Unverify Product';
                    }else{
                        this.verifyProducts = 'Verify Product';
                    }

                    if(response.data.data.sponsor == 'Y'){
                      this.featuredProducts = 'Unsponsor Product';
                    }else{
                        this.featuredProducts = 'Sponsor Product'
                    }

                    this.products = response.data.data;
                    for(var i = 0; i < this.products.productImage.length; i++){
                        this.imgSrc = this.products.productImage[0].image;
                    }
                    this.isActive = false;
                    this.linkTag = true;
                }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/ops/login');
            }
        },
        methods: {
            verifyProduct(productid){
                axios.get(`/api/verify/product/${productid}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) =>{
                    console.log(response);
                    if(response.data.verify){
                        this.$toasted.success("Successfully verified");
                        this.verifyProducts = "Unverify Product";
                    }else{
                        this.$toasted.success("Successfully unverified");
                        this.verifyProducts = "Verify Product"
                    }

                }).catch((error) => {
                   console.log(error);
                });

            },
            featuredProduct(productid){
                axios.get(`/api/featured/product/${productid}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) =>{
                    console.log(response);
                    if(response.data.sponsor == 'Y'){
                        this.$toasted.success("Successfully sponsor");
                        this.featuredProducts = "Unsponsor product";
                    }else{
                        this.$toasted.success("Successfully unsponsor");
                        this.featuredProducts = "Sponsor product";
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            swipeImage(index){
                console.log(index);
                for(var i = 0; i < this.products.productImage.length; i++){
                    this.imgSrc = this.products.productImage[index].image;
                    //console.log(this.products.productImage[index].image);
                }
            }
        }
    }
</script>

<style scoped>
   .content-wrapper {
      padding:30px 0;
   }
   .imageContainer {
      height: 100px;
      width:100px;
   }

   .imgFullSide {
       float:left;
       height: 50%;
       width: 70%;
   }
   .imgThumbnailSide {
      float: left;
   }

   .main-page {
      height: 100vh;
   }


</style>