<template>
            <div class="content-wrapper">
                <div class="main-page">
                <div class="btn-below">
                    <div class="btn-custom-market">
                        <label :class="{ active: isActive }"><input type="radio" v-model="verified" value="All"/>All</label>
                        <label><input type="radio" v-model="verified" value=1 />Verified</label>
                        <label> <input type="radio" v-model="verified" value=0 />Unverified</label>
                        <label><input type="radio" v-model="verified" value="Y"/>Sponsor</label>
                        <label><input type="radio" v-model="verified" value="N"/>Unsponsor</label>
                    </div>
                </div>
                <div class="row">

                <div class="col-md-3 grid_box1 border rounded" v-for="product in showData" >
                    <router-link :to="{name: 'showOpsProduct', params: {id: product.id}}">
                        <h2 class="text-center">{{product.title}}</h2>
                        <div v-for="productimage in product.productImage.slice(0, 1)">
                            <img :src="productimage.image" class="img-fluid" alt="product image">
                            <div v-for="productDetails in product.productDetail">
                                <div class="row">
                                    <div class="col-md-6">{{productDetails.size}}</div><span class="float-right">Quanity: {{productDetails.quantity}}</span>
                                    <div class="col-md-6">Price:{{productDetails.salePrice}}</div><span class="float-right"><i class="fa fa-times"></i>Unverify</span>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>

                </div>
                </div>
            </div>
</template>

<script>
    export default {
        name: "view-all-product-component",
        data: function () {
          return {
              products: [],
              token: '',
              verified: 'All',
              sponsor: '',
              isActive:true
          }
        },
        mounted() {
            let ops = JSON.parse(localStorage.getItem('authOps'));
            this.token = ops.access_token;

            if(ops != null) {
                axios.get('api/all/product', {headers: {"Authorization": `Bearer ${ops.access_token}`}}).then((response) => {
                    console.log(response.data.data);
                    this.products = response.data.data
                }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/ops/login');
            }
        },
        computed: {
             showData(){
                 let verify = this.verified;
                 let sponsor = this.sponsor;
                 if(verify === 'All') {
                     return this.products;
                 }else if(verify === "1" || verify === "0"){
                     return this.products.filter(function(value){
                         return value.verify === parseInt(verify);
                     })
                 }else {
                     return this.products.filter(function(value){
                         return value.sponsor === verify;
                     })
                 }
                }
            }
    }
</script>

<style scoped>
    .main-page {
        padding: 40px 20px;
    }

    .btn-below {
        padding-bottom: 10px;
    }

    .btn-custom-market input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }


    .btn-custom-market label {
        float: left;
        display: inline-block;
        width: auto;
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 6px 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition:    all 0.1s ease-in-out;
        -ms-transition:     all 0.1s ease-in-out;
        -o-transition:      all 0.1s ease-in-out;
        transition:         all 0.1s ease-in-out;
    }

    .btn-custom-market {
        padding: 40px;
        overflow: hidden;
    }

    .btn-custom-market label:hover {
        cursor: pointer;
    }


    .btn-custom-market input:checked {
        background-color: #A5DC86;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-custom-market label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .btn-custom-market label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

    .main-page {
        height: 100vh;
        overflow: auto;
    }

</style>