.main{
    background: #ECF0F1;
    padding: 40px 50px;
}
.content{
    background: #ffffff;
}
.imgContent{
    width: 100%;
    max-height:250px;
}
.imgContent img{
    width:100%;
    height:100%;
}
.testimonials{
    text-align: center;
}
.text{
    color: rgba(0, 0, 0,0.64);
}