/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block; box-sizing: border-box;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)))  !important;
}

/* ol,ul{list-style:initial;margin:0px;padding:0px;} */

blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400 ;
    padding: 4em 0;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: "Playfair Display", serif;
    font-weight: 600 ;
}
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}
a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
a:hover{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.wrap {
    width: 50%;
    margin: 2em auto 0;
}
/*--profile start here--*/
h1 {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
::-webkit-input-placeholder{
    color:#FFFFFF !important;
}
/*--slider--*/
#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}
.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}
.events {
    list-style: none;
}
.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.callbacks li {
    position: absolute;
    width: 100%;
}
.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}
.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}
.callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
    display: inline-block;
}
#slider3-pager span{
    float: left;
}
#slider3-pager span{
    width:100px;
    height:15px;
    background:#fff;
    display:inline-block;
    border-radius:30em;
    opacity:0.6;
}
#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius:30em;
    opacity:1;
}
#slider3-pager a {
    padding: 0;
}
#slider3-pager li{
    display:inline-block;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display:none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li{
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 110%;
    left: 41%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
    font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
    visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 8px;
    width: 8px;
    display: inline-block;
    background: #212121;
    border: 2px solid #212121;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #f44336;
    border: 2px solid #f44336;
}
/*-- //slider --*/
.content-info {
    padding: 5em 3em;
    text-align: center;
}
.content-info h2{
    color: #212121;
    font-size: 1.5em;
    font-weight: 800;
}
.w3layouts-banner-info {
    margin: 2em 0 0 0;
    text-align: center;
}
.w3layouts-banner-info h3{
    color: #212121;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.w3layouts-banner-info p{
    color:#999999;
    margin:1em 0 0 0;
    font-size:.9em;
    line-height:1.8em;
}
.agileinfo-follow{
    margin: 4em 0 2em 0;
    text-align: center;
}
.agileinfo-follow h4{
    color:#212121;
    font-size:1em;
    font-weight:600;
}
.agileinfo-social-grids{
    text-align:center;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul la {
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul  a i.fa{
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul a i.fa.fa-facebook:hover {
    border: solid 2px #3b5998;
    background:#3b5998;
    color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-twitter:hover{
    border: solid 2px #55acee;
    background:#55acee;
    color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-rss:hover{
    border: solid 2px #f26522;
    background:#f26522;
    color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-vk:hover{
    border: solid 2px #45668e;
    background:#45668e;
    color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-linkedin:hover{
    border: solid 2px #0077b5;
    background:#0077b5;
    color: #FFFFFF;
}
.agileinfo-social-grids ul  a i.fa.fa-dribbble:hover{
    border: solid 2px #ea4c89;
    background:#ea4c89;
    color: #FFFFFF;
}
.agile-signin h4{
    text-align:center;
    color:#212121;
    font-size:.9em;
    margin:1em 0 0 0;
}
.agile-signin h4 a{
    color: #f44336;
    text-decoration: none;
}
.agile-signin h4 a:hover{
    color:#212121;
}
.content-left{
    float:left;
    width:50%;
    background:#FFFFFF;
}
.content-main{
    float:left;
    width:50%;
}
.w3ls-subscribe{
    background: rgba(0, 0, 0, 0.56);
    padding: 3em;
    min-height: 426px;
}
.w3ls-subscribe h3{
    color: #FFFFFF;
    font-size: 2em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-subscribe input[type="email"],.w3ls-subscribe input[type="text"],.w3ls-subscribe input[type="password"] {
    outline: none;
    padding: 1em;
    background: none;
    border: 1px solid #ffffff;
    color: #FFFFFF;
    font-size: .9em;
    margin:0 0 1.5em 0;
    width: 93%;
}
.w3ls-subscribe input[type="submit"] {
    color: #ffffff;
    font-size: .9em;
    text-decoration: none;
    padding: 1em 2em;
    cursor: pointer;
    background: #F44336;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #f44336;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3ls-subscribe input[type="submit"]:hover{
    background:none;
    border: solid 1px #FFFFFF;
}
.w3ls-subscribe h4{
    color: #FFFFFF;
    font-size: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.wthree_footer_copy {
    margin: 2em 0 0 0;
    text-align:center;
}
.wthree_footer_copy p {
    font-size: .9em;
    color: #FFFFFF;
}
.wthree_footer_copy p a{
    color:#FFFFFF;
}
.wthree_footer_copy p a:hover{
    color: #f44336;
}
/*-- responsive --*/
@media(max-width:1440px){
    .wrap {
        width: 55%;
    }
}
@media(max-width:1366px){
    .wrap {
        width: 60%;
    }
}
@media(max-width:1080px){
    .wrap {
        width: 75%;
    }
}
@media(max-width:991px){
    .wrap {
        width: 80%;
    }
}
@media(max-width:900px){
    .wrap {
        width: 85%;
    }
}
@media(max-width:800px){
    .content-info h2 {
        font-size: 1.2em;
    }
    .w3ls-subscribe {
        min-height: 445px;
    }
}
@media(max-width:768px){
    .wrap {
        width: 90%;
    }
}
@media(max-width:667px){
    .content-left {
        float: none;
        width: 100%;
    }
    .content-main {
        float: none;
        width: 100%;
    }
    .callbacks_tabs {
        left: 45%;
    }
    .w3ls-subscribe {
        min-height: 425px;
    }
    .wrap {
        width: 85%;
    }
}
@media(max-width:480px){
    h1 {
        font-size: 2em;
    }
}
@media(max-width:414px){
    .w3ls-subscribe input[type="email"],.w3ls-subscribe input[type="text"],.w3ls-subscribe input[type="password"]  {
        width: 89%;
    }
    .content-info {
        padding: 3em 2em;
    }
    .w3ls-subscribe {
        padding: 2em;
    }
    .callbacks_tabs {
        left: 41%;
    }
}
@media(max-width:375px){
    h1 {
        font-size: 1.5em;
    }
    body {
        padding: 2em 0;
    }
    .callbacks_tabs {
        left: 40%;
    }
}
@media(max-width:320px){
    .wrap {
        width: 90%;
    }
    .content-info {
        padding: 2em 1em;
    }
    .callbacks_tabs {
        left: 39%;
    }
    .w3ls-subscribe input[type="email"],.w3ls-subscribe input[type="text"],.w3ls-subscribe input[type="password"] {
        width: 86%;
    }
}

.wthree-dot {
    background-image: url("../images/ecommerce.jpg");
    background-attachment:fixed;
    background-size:cover;
}

/*------------------------------------------------------------------
Project:  ComingSoon
Version:
Last change:
Assigned to:  Bach Le
Primary use:
-------------------------------------------------------------------*/



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: PlayfairDisplay-Italic;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf');
}



/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/
/*---------------------------------------------*/
.container {max-width: 1200px;}



/*//////////////////////////////////////////////////////////////////
[ Form ]*/
.contact100-form {
    width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 500px;
    max-width: calc(100% - 10px);
    position: relative;
    background-color: transparent;
    height: 50px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 25px;
}

/*---------------------------------------------*/
.input100 {
    display: block;
    width: 100%;
    background: transparent;
}

input.input100 {
    height: 100%;
    padding: 0 38px 0 38px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    pointer-events: none;
    border: 2px solid #4272d7;
    border-radius: 25px;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.2);
    -moz-transform: scaleX(1.1) scaleY(1.2);
    -ms-transform: scaleX(1.1) scaleY(1.2);
    -o-transform: scaleX(1.1) scaleY(1.2);
    transform: scaleX(1.1) scaleY(1.2);
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 15px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f071";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}



/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/
.cl0 {color: #fff;}




/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.s1-txt1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/

/*---------------------------------------------*/
.m2-txt1 {
    font-family: PlayfairDisplay-Regular;
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
}

.m2-txt2 {
    font-family: PlayfairDisplay-Italic;
    font-size: 18px;
    color: #fff;
    line-height: 1;
}

/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
    font-family: Poppins-Bold;
    font-size: 48px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.l1-txt2 {
    font-family: Poppins-Light;
    font-size: 70px;
    color: #fff;
    line-height: 1;
}


/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size1 {
    width: 100%;
    min-height: 100vh;
}

.size2 {
    min-width: 160px;
    height: 50px;
}



/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.wsize1 {
    max-width: 100%;
    width: 790px;
}

.wsize2 {
    width: 100px;
}


/*//////////////////////////////////////////////////////////////////
[ Height ]*/




/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg0 {background-color: #fff;}
.bg1 {background-color: rgba(255,255,255,0.8);}

.bg-img1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*//////////////////////////////////////////////////////////////////
[ Border ]*/
.bor1 {
    border: 2px solid rgba(255,255,255,0.35);
}




/*==================================================================
   WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE WHERE
==================================================================*/
.where1 {
    margin: 20px 5px 0px 5px;
}


/*==================================================================
 HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW
==================================================================*/
.placeholder0::-webkit-input-placeholder { color: #fff;}
.placeholder0:-moz-placeholder { color: #fff;}
.placeholder0::-moz-placeholder { color: #fff;}
.placeholder0:-ms-input-placeholder { color: #fff;}

/*---------------------------------------------*/
.overlay1 {
    position: relative;
    z-index: 1;
}
.overlay1::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #61045f;
    background: -webkit-linear-gradient(bottom, #aa076b, #61045f);
    background: -o-linear-gradient(bottom, #aa076b, #61045f);
    background: -moz-linear-gradient(bottom, #aa076b, #61045f);
    background: linear-gradient(bottom, #aa076b, #61045f);
    opacity: 0.9;
}

.overlay1::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}

/*---------------------------------------------*/
.how-btn {
    padding: 0 20px;
    background-color: #4272d7;
    border-radius: 25px;
}

.how-btn:hover {
    background-color: #fff;
    color: #4272d7;
}




/*//////////////////////////////////////////////////////////////////
[ Pseudo ]*/

/*------------------------------------------------------------------
[ Focus ]*/
.focus-in0:focus::-webkit-input-placeholder { color:transparent; }
.focus-in0:focus:-moz-placeholder { color:transparent; }
.focus-in0:focus::-moz-placeholder { color:transparent; }
.focus-in0:focus:-ms-input-placeholder { color:transparent; }


/*------------------------------------------------------------------
[ Hover ]*/
.hov-cl0:hover {color: #fff;}
.hov-bg0:hover {background-color: #fff;}

/*---------------------------------------------*/







/*==================================================================
  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
==================================================================*/


/*//////////////////////////////////////////////////////////////////
[ XL ]*/
@media (max-width: 1200px) {
    .m-0-xl {margin: 0;}
    .m-lr-0-xl {margin-left: 0; margin-right: 0;}
    .m-lr-15-xl {margin-left: 15px; margin-right: 15px;}
    .m-l-0-xl {margin-left: 0;}
    .m-r-0-xl {margin-right: 0;}
    .m-l-15-xl {margin-left: 15px;}
    .m-r-15-xl {margin-right: 15px;}

    .p-0-xl {padding: 0;}
    .p-lr-0-xl {padding-left: 0; padding-right: 0;}
    .p-lr-15-xl {padding-left: 15px; padding-right: 15px;}
    .p-l-0-xl {padding-left: 0;}
    .p-r-0-xl {padding-right: 0;}
    .p-l-15-xl {padding-left: 15px;}
    .p-r-15-xl {padding-right: 15px;}

    .w-full-xl {width: 100% !important;}

    /*---------------------------------------------*/

}


/*//////////////////////////////////////////////////////////////////
[ LG ]*/
@media (max-width: 992px) {
    .m-0-lg {margin: 0;}
    .m-lr-0-lg {margin-left: 0; margin-right: 0;}
    .m-lr-15-lg {margin-left: 15px; margin-right: 15px;}
    .m-l-0-lg {margin-left: 0;}
    .m-r-0-lg {margin-right: 0;}
    .m-l-15-lg {margin-left: 15px;}
    .m-r-15-lg {margin-right: 15px;}

    .p-0-lg {padding: 0;}
    .p-lr-0-lg {padding-left: 0; padding-right: 0;}
    .p-lr-15-lg {padding-left: 15px; padding-right: 15px;}
    .p-l-0-lg {padding-left: 0;}
    .p-r-0-lg{padding-right: 0;}
    .p-l-15-lg {padding-left: 15px;}
    .p-r-15-lg {padding-right: 15px;}

    .w-full-lg {width: 100% !important;}

    /*---------------------------------------------*/


}


/*//////////////////////////////////////////////////////////////////
[ MD ]*/
@media (max-width: 768px) {
    .m-0-md {margin: 0;}
    .m-lr-0-md {margin-left: 0; margin-right: 0;}
    .m-lr-15-md {margin-left: 15px; margin-right: 15px;}
    .m-l-0-md {margin-left: 0;}
    .m-r-0-md {margin-right: 0;}
    .m-l-15-md {margin-left: 15px;}
    .m-r-15-md {margin-right: 15px;}

    .p-0-md {padding: 0;}
    .p-lr-0-md {padding-left: 0; padding-right: 0;}
    .p-lr-15-md {padding-left: 15px; padding-right: 15px;}
    .p-l-0-md {padding-left: 0;}
    .p-r-0-md{padding-right: 0;}
    .p-l-15-md {padding-left: 15px;}
    .p-r-15-md {padding-right: 15px;}

    .w-full-md {width: 100% !important;}

    /*---------------------------------------------*/
    .respon1 {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 340px;
        margin: 0 auto;
    }

    .respon2 {
        display: none;
    }

}


/*//////////////////////////////////////////////////////////////////
[ SM ]*/
@media (max-width: 576px) {
    .m-0-sm {margin: 0;}
    .m-lr-0-sm {margin-left: 0; margin-right: 0;}
    .m-lr-15-sm {margin-left: 15px; margin-right: 15px;}
    .m-l-0-sm {margin-left: 0;}
    .m-r-0-sm {margin-right: 0;}
    .m-l-15-sm {margin-left: 15px;}
    .m-r-15-sm {margin-right: 15px;}

    .p-0-sm {padding: 0;}
    .p-lr-0-sm {padding-left: 0; padding-right: 0;}
    .p-lr-15-sm {padding-left: 15px; padding-right: 15px;}
    .p-l-0-sm {padding-left: 0;}
    .p-r-0-sm{padding-right: 0;}
    .p-l-15-sm {padding-left: 15px;}
    .p-r-15-sm {padding-right: 15px;}

    .w-full-sm {width: 100% !important;}

    /*---------------------------------------------*/

}


/*//////////////////////////////////////////////////////////////////
[ SSM ]*/
@media (max-width: 480px) {
    .m-0-ssm {margin: 0;}
    .m-lr-0-ssm {margin-left: 0; margin-right: 0;}
    .m-lr-15-ssm {margin-left: 15px; margin-right: 15px;}
    .m-l-0-ssm {margin-left: 0;}
    .m-r-0-ssm {margin-right: 0;}
    .m-l-15-ssm {margin-left: 15px;}
    .m-r-15-ssm {margin-right: 15px;}

    .p-0-ssm {padding: 0;}
    .p-lr-0-ssm {padding-left: 0; padding-right: 0;}
    .p-lr-15-ssm {padding-left: 15px; padding-right: 15px;}
    .p-l-0-ssm {padding-left: 0;}
    .p-r-0-ssm{padding-right: 0;}
    .p-l-15-ssm {padding-left: 15px;}
    .p-r-15-ssm {padding-right: 15px;}

    .w-full-ssm {width: 100%;}
    /*---------------------------------------------*/

}
/*-- //responsive --*/
