<template>
    <div class="content-wrapper">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal()">
            Create Bizgururh FAQs
        </button>

        <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="category">Question:</label>
                            <input type="text" class="form-control" id="category" v-model="faqs.question">
                        </div>

                        <div class="form-group">
                            <label for="categorydescription">Answer:</label>
                            <app-editor :init="{plugins: 'wordcount, lists, advlist'}" class="form-control" id="categorydescription" v-model="faqs.answer"></app-editor>
                        </div>

                        <div class="form-group">
                            <label for="adminCategory">Subject Matter</label>
                            <select  id="adminCategory" v-model="faqs.subjectMatter" @change="getTopicById()">
                                <option v-if="subjectMatters.length > 0" v-for="(subjectMatter, index) in subjectMatters" :value="subjectMatter.id">{{subjectMatter.name}}</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="adminCategory">Topics</label>
                            <select  id="adminCategorys" v-model="faqs.topic" @change="getTopicName()">
                                <option v-for="(topic, index ) in topics" :value="topic.id">{{topic.name}}</option>
                            </select>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="submitFAQs()">{{ButtonText}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Subject Matter</th>
                    <th>Topic</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(faqs, index) in faq">
                    <td>{{index + 1}}</td>
                    <td>{{faqs.question}}</td>
                    <td v-html="faqs.answer"></td>
                    <td>{{faqs.subjectMatterName}}</td>
                    <td>{{faqs.topicName}}</td>
                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" @click="showModal(faqs.id)">Edit</button>
                    <button class="btn btn-danger btn-sm" @click="deleteFAQs(faqs.id, index)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';

    export default {
        name: "admin-question-bank-component",
        components: {
          'app-editor': Editor
        },
        data: function(){
          return {
              fade: true,
              modal: true,
              faqs: {
                  id: 0,
                  question: '',
                  answer: '',
                  subjectMatter: '',
                  subjectMatterName: '',
                  topic: '',
                  topicName: ''
              },
              faq: [],
              subjectMatters: [],
              topics: [],
              token: '',
              ButtonText: 'Create FAQs',
              toggleEdit: true,

          }
        },
        mounted(){
            if(localStorage.getItem('authAdmin')) {
                let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
                this.token = authAdmin.access_token;
            }

            axios.get('/api/quest-bank', { headers: {"Authorization" : `Bearer ${this.token}`} })
                .then((response) => {
                    if(response.status === 200){
                        this.faq = response.data;
                    }
                }).catch((error) => {
                    console.log(error);
            })

            axios.get('/api/subjectmatter').then((response) => {
                if(response.status === 200){
                    this.subjectMatters = response.data;
                }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            showModal(params){
                console.log(params);
                this.fade = false;
                if(typeof params === 'undefined'){
                    this.toggleEdit = true;
                    this.ButtonText = 'Create FAQs';
                    this.faqs.question = this.faqs.answer  = this.faqs.topicName = this.faqs.topic = this.faqs.subjectMatterName = this.faqs.subjectMatter = '';
                }else{
                    this.toggleEdit = false;
                    this.fade = false;
                    this.ButtonText = 'Edit FAQs';
                    this.faqs.id = params;
                    axios.get(`/api/quest-bank/${params}/edit`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            console.log(response);
                            if(response.status === 200) {
                                this.faqs = response.data
                            }
                        }).catch((error) => {
                            console.log(error);
                    })
                }

            },
            submitFAQs(){
                if(this.toggleEdit) {

                    axios.post('/api/quest-bank', this.faqs, {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            if (response.status === 201) {
                                this.faq.push(response.data);
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }else{
                    axios.put(`/api/quest-bank/${this.faqs.id}`, this.faqs, {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                window.location.reload();
                            }
                        })
                }
            },
            getTopicById(){
                axios.get(`/api/admin/get/topic/${this.faqs.subjectMatter}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response.data);
                            this.topics = response.data;
                            this.subjectMatters.forEach((item) => {
                                if(parseInt(item.id) === parseInt(this.faqs.subjectMatter)){
                                    this.faqs.subjectMatterName = item.name;
                                }
                            })


                        }
                    }).catch((error) => {
                        console.log(error);
                })
            },
            getTopicName(){
                this.topics.forEach((item) => {
                    if(parseInt(item.id) === parseInt(this.faqs.topic)){
                        this.faqs.topicName = item.name;
                    }
                })
            },
            deleteFAQs(params, id){
                this.faq.splice(id, 1);
                axios.delete(`/api/quest-bank/${params}`, {headers: {"Authorization": `Bearer ${this.token}`}})
                    .then((response) => {
                        console.log(response);
                        if(response.status === 200){
                            this.$toasted.success("Deleted Successfully");
                        }else{
                            this.$toasted.error("Unable to delete item");
                        }
                    }).catch((error) => {
                    for(var key in error.response.data.errors){
                        this.$toasted.error(error.response.data.errors[key][0]);
                    }
                })
            }

        }
    }
</script>

<style scoped>

    .container {
        width: 100%;
    }
    table{
        font-size: 14px;
    }
    .content-wrapper{
        max-height: 100vh;
        overflow-y: scroll;
        padding: 10px;
    }

</style>
