<template>
    <div class="content-wrapper">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal()">
                Create Sub Category
            </button>

            <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create SubCategory</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="category">Category:</label>
                                <input type="text" class="form-control" id="category" v-model="subcategory.category" disabled>
                            </div>


                            <div class="form-group">
                                <label for="subcategory">SubCategory:</label>
                                <input type="text" class="form-control" id="subcategory" v-model="subcategory.name">
                            </div>

                            <div class="form-group">
                                <label for="categorydescription">Description:</label>
                                <textarea class="form-control" id="categorydescription" v-model="subcategory.description"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="adminCategory">Admins</label>
                                <select  id="adminCategory" v-model="subcategory.adminCategory">
                                    <option value="AO">Admin only</option>
                                    <option value="UO">User only</option>
                                    <option value="AU">Admin and User</option>
                                </select>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="createNewSubCategory()">{{CategoryText}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


           <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>SubCategory</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(category, index) in subcategories">
                        <td>{{index + 1}}</td>
                        <td>
                            <router-link tag="a" :to="{name: 'adminProductSubCategoryBrand', params: {id: category.id}}">
                                {{category.name}}
                            </router-link>
                        </td>
                        <td>{{category.description}}</td>
                        <td><button class="btn btn-primary btn-small"  data-toggle="modal" data-target="#myModal" @click="showModal(category.id)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-small" @click="deleteCategory(category.id, index)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</template>

<script>

    export default {
        name: "admin-sub-category-component",
        data: function () {
          return {
              subcategory: {
                  sub_category_id: this.$route.params.id,
                  id: '',
                  category:'',
                  name: '',
                  description: '',
                  adminCategory: ''
              },
              token: '',
              fade: true,
              modal: true,
              toggleEdit: true,
              subcategories: [],
              CategoryText: 'Create SubCategory'
          }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));

            this.token = admin.access_token;
            if(admin != null){
                axios.get(`/api/admin/getsubcategorybyid/${this.subcategory.sub_category_id}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.subcategories = response.data;
                        }
                    }).catch((error) =>{
                        console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }

        },
        methods:{
            createNewSubCategory(){
                if(this.toggleEdit) {
                    axios.post('/api/subcategory', JSON.parse(JSON.stringify(this.subcategory)), {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Subcategory successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else{
                  axios.put(`/api/subcategory/${this.subcategory.id}`, JSON.parse(JSON.stringify(this.subcategory)), {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Subcategory successfully edited');
                                window.location.reload();
                            }
                        }).catch((error) => {
                      for(var key in error.response.data.errors){
                          this.$toasted.error(error.response.data.errors[key][0]);
                      }
                    })
                }
            },
            showModal(subcategory){
                this.fade = false;
                console.log(subcategory);
                if(typeof subcategory === 'undefined'){
                    this.CategoryText = 'Create SubCategory';
                    this.toggleEdit = true;
                    this.subcategory.name = this.subcategory.description = '';
                    axios.get(`/api/admin/getcategorybyid/${this.subcategory.sub_category_id}`, {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            console.log(response);
                            if(response.status === 200) {
                                this.subcategory.category = response.data.name;
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }else{
                    this.CategoryText = 'Update Category';
                    this.toggleEdit = false;
                    axios.get(`/api/admin/getcategorybyid/${this.subcategory.sub_category_id}`, {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            console.log(response);
                            if(response.status === 200) {
                                this.subcategory.category = response.data.name;
                                axios.get(`/api/subcategory/${subcategory}/edit`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                                    .then((response) => {
                                        console.log(response);
                                        if(response.status === 200){
                                            this.subcategory.id = response.data.id;
                                            this.subcategory.name = response.data.name;
                                            this.subcategory.description = response.data.description;
                                            this.subcategory.adminCategory = response.data.adminCategory;

                                        }
                                    }).catch((error) => {
                                    for(var key in error.response.data.errors){
                                        this.$toasted.error(error.response.data.errors[key][0]);
                                    }
                                })

                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })

                }

            },
            deleteCategory(categoryid, cat){
              this.subcategories.splice(cat, 1);
              axios.delete(`/api/subcategory/${categoryid}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                  .then((response) => {
                      if(response.status === 200){
                          this.$toasted.success("Deleted Successfully");
                      }else{
                          this.$toasted.error("Unable to delete item");
                      }
                  }).catch((error) => {
                  for(var key in error.response.data.errors){
                      this.$toasted.error(error.response.data.errors[key][0]);
                  }
              })
            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }

    .container {
        width: 100%;
    }

</style>