<template>
    <div class="content-wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-admin" data-toggle="modal" data-target="#myModal" @click="showModal()">Create Admin</button>
                </div>
            </div>

            <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create Admin</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" v-model="admin.email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" v-model="admin.password">
                            </div>

                            <div class="form-group">
                                <label for="confirmpassword">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirmpassword" v-model="admin.password_confirmation">
                            </div>

                            <div>Access Level</div>

                            <select class="form-control" v-model="admin.role">
                                <option value=1>Store Admin</option>
                                <option value=2>Web Admin</option>
                            </select>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="createAdminLevel()">Create Admin User</button>
                        </div>
                    </div>
                </div>
            </div>


            <table class="table">
                <thead>
                <tr>
                    <th>Identification</th>
                    <th>Detail</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(admin, index) in admins">
                        <td>{{index + 1}}</td>
                        <td>{{admin.email}}</td>
                        <td v-if="admin.role === 0">Super Admin</td>
                        <td v-else-if="admin.role === 1">Store Admin</td>
                        <td v-else>Web Admin</td>
                        <td>{{admin.verified === 0 ? 'Verify' : 'Not Verified'}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-manage-component",
        data: function () {
            return {
                fade: true,
                modal: true,
                admins: [],
                admin: {
                    email: "",
                    password: "",
                    password_confirmation: "",
                    role: '',

                },
                token: ''
            }
        },
        mounted(){
            if(localStorage.getItem('authAdmin')) {
                let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
                this.token = authAdmin.access_token;
                axios.get('/api/admin/all-user-types', { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.admins = response.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })

            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            showModal(){
                this.fade = false;
            },
            createAdminLevel(){
                console.log(this.admin);
                axios.post('/api/admin/create/access-level', JSON.parse(JSON.stringify(this.admin)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.admins.push(response.data.data);
                            this.fade = true;
                            this.$toasted.success(response.data.message);
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
    .btn-admin {
     background: #000000;
        color: #ffffff;
    }

    .content-wrapper {
        height: 100vh;
    }

    .container {
        width: 100%;
    }

    th {
        background-color: #f3f3f3;
        color: #000000;
        font-weight: bold;
    }

    th, td {
        padding: 30px !important;
    }

    td {
        color: #aaaaaa;
    }


</style>
