<template>
    <div class="content-wrapper">
    <div class="main-page">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Subscription Title" v-model="subscriptionOne.title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Price" v-model="subscriptionOne.price">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter duration in days" v-model="subscriptionOne.duration">
            </div>
            <div class="form-group">
                <app-editor apiKey=b2xt6tkzh0bcxra613xpq9319rtgc3nfwqbzh8tn6tckbgv3  class="form-control" v-model="subscriptionOne.moreInfo"></app-editor>
            </div>
            <div class="form-group">
                <button class="btn" @click="subscriptionCreate('levelOne')">Subscription</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Subscription Title" v-model="subscriptionTwo.title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Price" v-model="subscriptionTwo.price">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter duration in days" v-model="subscriptionTwo.duration">
            </div>
            <div class="form-group">
                <app-editor apiKey=b2xt6tkzh0bcxra613xpq9319rtgc3nfwqbzh8tn6tckbgv3  class="form-control" v-model="subscriptionTwo.moreInfo"></app-editor>
            </div>
            <div class="form-group">
                <button class="btn" @click="subscriptionCreate('levelTwo')">Subscription</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Subscription Title" v-model="subscriptionThree.title">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Price" v-model="subscriptionThree.price">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter duration in days" v-model="subscriptionThree.duration">
            </div>
            <div class="form-group">
                <app-editor apiKey=b2xt6tkzh0bcxra613xpq9319rtgc3nfwqbzh8tn6tckbgv3  class="form-control" v-model="subscriptionThree.moreInfo"></app-editor>
            </div>
            <div class="form-group">
                <button class="btn" @click="subscriptionCreate('levelThree')">Subscription</button>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-4">
                <div class="sub">
                <div class="sub_title" v-if="subscriptionOne.title">{{subscriptionOne.title}}</div>
                <div class="sub_price" v-if="subscriptionOne.price">₦{{subscriptionOne.price}}.00</div>
                <div class="sub_price" v-if="subscriptionOne.duration">{{subscriptionOne.duration}}</div>
                <div class="sub_info" v-if="subscriptionOne.moreInfo" v-html="subscriptionOne.moreInfo"></div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="sub">
                <div class="sub_title" v-if="subscriptionTwo.title">{{subscriptionTwo.title}}</div>
                <div class="sub_price" v-if="subscriptionTwo.price">₦{{subscriptionTwo.price}}.00</div>
                <div class="sub_price" v-if="subscriptionTwo.duration">{{subscriptionTwo.duration}}</div>
                <div class="sub_info" v-if="subscriptionTwo.moreInfo" v-html="subscriptionTwo.moreInfo"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sub">
                <div class="sub_title" v-if="subscriptionThree.title">{{subscriptionThree.title}}</div>
                <div class="sub_price" v-if="subscriptionThree.price">₦{{subscriptionThree.price}}.00</div>
                <div class="sub_price" v-if="subscriptionThree.duration">{{subscriptionThree.duration}}</div>
                <div class="sub_info"  v-if="subscriptionThree.moreInfo"  v-html="subscriptionThree.moreInfo"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';


    export default {
        name: "admin-subscription-component",
        components: {
            'app-editor': Editor,
        },
        data: function(){
            return {
                token: '',
                subscriptionOne: {
                    title: '',
                    price: '',
                    duration: '',
                    moreInfo: ''
                },
                subscriptionTwo: {
                    title: '',
                    price: '',
                    duration: '',
                    moreInfo: ''
                },
                subscriptionThree: {
                    title: '',
                    price: '',
                    duration: '',
                    moreInfo: ''
                },
            }
        },
        mounted(){
            if(localStorage.getItem('authAdmin')) {
                let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
                this.token = authAdmin.access_token;
                axios.get('api/subscription', { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                             response.data.forEach((item) => {
                                 if(item.level === '1'){
                                     this.subscriptionOne.title = item.title;
                                     this.subscriptionOne.price = item.price;
                                     this.subscriptionOne.duration = item.duration;
                                     this.subscriptionOne.moreInfo = item.moreInfo;
                                 }else if(item.level === '2'){
                                     this.subscriptionTwo.title = item.title;
                                     this.subscriptionTwo.price = item.price;
                                     this.subscriptionTwo.duration = item.duration;
                                     this.subscriptionTwo.moreInfo = item.moreInfo;
                                 }else if(item.level === '3'){
                                     this.subscriptionThree.title = item.title;
                                     this.subscriptionThree.price = item.price;
                                     this.subscriptionThree.duration = item.duration;
                                     this.subscriptionThree.moreInfo = item.moreInfo;
                                 }
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            subscriptionCreate(params){
                switch (params){
                    case 'levelOne':
                        this.subscriptionOne.level = '1';
                       this.submitSubscription(this.subscriptionOne);
                        break;
                    case 'levelTwo':
                        this.subscriptionTwo.level = '2';
                        this.submitSubscription(this.subscriptionTwo);
                        break;
                    case 'levelThree':
                        this.subscriptionThree.level = '3';
                        this.submitSubscription(this.subscriptionThree);
                        break;
                    default:
                        return false;
                }
            },
            submitSubscription(data){
                axios.post('api/subscription', JSON.parse(JSON.stringify(data)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200 || 201){
                           this.$toasted.success('Subscription successfully updated');
                        }else{
                            this.$toasted.error('Subscription cannot be updated');
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            }
        }

    }
</script>

<style scoped>

    .content-wrapper {
        height: 100vh;
    }

    .sub_title {
        background: #a3c2dc;
        color: #ffffff;
        text-transform: capitalize;
        font-weight: bold;
        padding: 10px 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .sub_price {
        padding: 5px 10px;
        font-weight: bold;
        background: #ffffff;
    }

    .sub_info {
        background: #ffffff;
        border-top: 1px solid #000000;
        padding: 5px 10px;
    }

    .sub_info p {
        margin: 10px;
    }


    .main-page {
        padding: 40px 20px;
        max-height: 100vh;
        height: 100vh;
        overflow: scroll;
    }

</style>