<template>
    <div class="content-wrapper">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal()">
            Create Sub Category
        </button>

        <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create SubCategoryBrand</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input type="text" class="form-control" id="category" v-model="brand.category" disabled>
                        </div>


                        <div class="form-group">
                            <label for="subcategory">SubCategory:</label>
                            <input type="text" class="form-control" id="subcategory" v-model="brand.subcategory" disabled>
                        </div>

                        <div class="form-group">
                            <label for="subcategory">SubCategoryBrand:</label>
                            <input type="text" class="form-control" id="subcategorybrand" v-model="brand.name">
                        </div>

                        <div class="form-group">
                            <label for="categorydescription">Description:</label>
                            <textarea class="form-control" id="categorydescription" v-model="brand.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="adminCategory">Admins</label>
                            <select  id="adminCategory" v-model="brand.adminCategory">
                                <option value="AO">Admin only</option>
                                <option value="UO">User only</option>
                                <option value="AU">Admin and User</option>
                            </select>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="createNewSubCategorybrand()">{{CategoryText}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>SubCategoryBrand</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(subCategoryBrands, index) in subCategoryBrand">
                    <td>{{index + 1}}</td>
                    <td>
                        {{subCategoryBrands.name}}
                    </td>
                    <td>  {{subCategoryBrands.description}}</td>
                    <td><button class="btn btn-primary btn-small"  data-toggle="modal" data-target="#myModal" @click="showModal(subCategoryBrands.id)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger btn-small" @click="deleteSubCategoryBrand(subCategoryBrands.id, index)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>





    </div>
</template>

<script>
    export default {
        name: "admin-sub-category-brand-component",
        data: function(){
            return {
                brandId: this.$route.params.id,
                subCategoryBrand: [],
                fade: true,
                modal: true,
                token: '',
                brand : {
                    sub_brand_category_id: this.$route.params.id,
                    category: '',
                    subcategory: '',
                    name: '',
                    description: '',
                    adminCategory: ''
                },
                toggleEdit: true,
                CategoryText: 'Create SubCategory'
            }
        },
        mounted() {
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            console.log(admin);
             this.token = admin.access_token;
            if(admin != null){
                axios.get(`/api/admin/getsubcatbrandbyid/${this .brandId}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response);
                            this.subCategoryBrand = response.data;
                        }
                    }).catch((error) =>{
                    console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            createNewSubCategorybrand(){
                if(this.toggleEdit){
                    axios.post('/api/subcategorybrand', JSON.parse(JSON.stringify(this.brand)), {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Subcategory successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else{
                    console.log(this.brand);
                    axios.put(`/api/subcategorybrand/${this.brand.id}`, JSON.parse(JSON.stringify(this.brand)), {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Subcategory successfully updated');
                                window.location.reload();
                            }
                        }).catch((error) => {
                            console.log(error);
                    })
                }




            },
            showModal(subcategory) {
                this.fade = false;
                console.log(subcategory);
                if(typeof subcategory === 'undefined'){
                    this.CategoryText = 'Create SubCategory';
                    this.toggleEdit = true;
                    this.brand.name = this.brand.description = '';
                    axios.get(`/api/admin/getsubcategorybrand/${this .brandId}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                response.data.data.forEach((item) => {
                                  this.brand.category = item.category;
                                    this.brand.subcategory = item.subCategory;
                                })
                            }
                        }).catch((error) =>{
                        console.log(error);
                    })

                }else{
                  // console.log(subcategory);
                    this.CategoryText = 'Update Category';
                    this.toggleEdit = false;
                    axios.get(`/api/admin/getsubcategorybrand/${this .brandId}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                response.data.data.forEach((item) => {
                                    this.brand.category = item.category;
                                    this.brand.subcategory = item.subCategory;
                                });
                                axios.get(`api/get/subcatbrand/${subcategory}/edit`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                                    .then((response) => {
                                        if(response.status === 200){
                                         console.log(response);
                                         this.brand.id = response.data.id;
                                         this.brand.name = response.data.name;
                                         this.brand.description = response.data.description;
                                         this.brand.adminCategory = response.data.adminCategory;
                                        }

                                    }).catch((error) => {
                                        console.log(error);
                                })
                            }
                        }).catch((error) =>{
                        console.log(error);
                    })
                }
            },
            deleteSubCategoryBrand(subcatbrand, catbrand){
                console.log(subcatbrand);
                console.log(catbrand);
            this.subCategoryBrand.splice(catbrand, 1);
            axios.delete(`api/subcategorybrand/${subcatbrand}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                .then((response) => {
                    if(response.status === 200){
                        this.$toasted.success("Deleted Successfully");
                    }else{
                        this.$toasted.error("Unable to delete item");
                    }
                }).catch((error) => {
                for(var key in error.response.data.errors){
                    this.$toasted.error(error.response.data.errors[key][0]);
                }
            })


            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }

    .container {
        width: 100%;
    }

</style>