<template>
        <div class="content-wrapper">
           <div class="container">
               <table>
                   <thead>
                   <tr>
                       <th></th>
                       <th>Identification</th>
                       <th>Details</th>
                       <th>phoneNo</th>
                       <th></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr v-if="users.length > 0" v-for="(user, index) in users">
                       <td>{{index + 1}}</td>
                       <td>{{user.name}}</td>
                       <td>{{user.email}}</td>
                       <td>{{user.phoneNo}}</td>
                       <td></td>
                   </tr>
                   </tbody>
               </table>
           </div>
        </div>
</template>

<script>
    export default {
        name: "admin-user-component",
        data: function(){
            return {
                token: '',
                users: []
            }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;
            axios.get('api/admin/get-all-user', {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                .then((response) => {
                    console.log(response);
                    if(response.status === 200){
                        console.log(response);
                        this.users = response.data;
                    }
                }).catch((error) => {
                    console.log(error);
            })
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }
</style>