<template>
  <div class="wrapper skin-blue d-flex flex-column">
    <app-header></app-header>
    <div class="d-flex">
      <app-sidebar></app-sidebar>
    <div class="d-flex flex-column w-100 align-center">
          <router-view></router-view>
         <app-footer></app-footer>
    </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "./adminSidebarComponent";
import Header from "./adminMainHeaderComponent";
import Footer from "./adminFooterComponent";

export default {
  name: "admin-main-component",
  components: {
    "app-header": Header,
    "app-sidebar": Sidebar,
    "app-footer": Footer
  }
};
</script>

<style scoped>
.wrapper {
  background-color: #e3ecf4;
}
  .content-wrapper {
        height: 100vh;
        width: 100%;
        margin-left: 0 !important;
    }
</style>