<template>
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 deleteProductBtn">
                        <button class="btn btn-danger" @click="deleteItem">Delete</button>
                    </div>
                </div>
            <table>
                <thead>
                <tr>
                    <th><input type="checkbox" v-model="overallCheck" @change="overallCheckBox"></th>
                    <th>Identification</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(vendor, index) in vendors">
                    <td><input type="checkbox" :checked="vendor.itemClick" @change="vendor.itemClick = !vendor.itemClick; overallCheck = false"></td>
                    <td>{{index + 1}}</td>
                    <td>{{vendor.storeName}}</td>
                   <!-- <td>{{vendor.created_at | moment("dddd, MMMM Do YYYY")}}</td>-->
                    <td v-if="vendor.verified === 1">Active</td>
                    <td v-else>Pending</td>
                    <td><router-link :to="{ name: 'adminVendorDetail', params: {id: vendor.id}}"><i class="fa fa-arrow-right"></i>
                    </router-link></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
</template>

<script>

    export default {
        name: "admin-vendor-component",
        data: function () {
          return {
              token: '',
              vendors: [],
              overallCheck: false,
          }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;

            if(admin != null){
                axios.get('/api/admin/all/vendors', {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                    .then((response) => {
                        console.log(response);
                        this.vendors = response.data.data;
                    }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            overallCheckBox(){
                this.vendors.forEach((item) => {
                    if(!('itemClick' in item)){
                        this.$set(item, 'itemClick', true)
                    }else if(this.overallCheck){
                        this.$set(item, 'itemClick', true)
                    }else{
                        this.$set(item, 'itemClick', false)
                    }
                })
            },
            // admin/delete/products
            deleteItem(){
                let deletedArray = [];
                this.vendors.forEach((item) => {
                    if(item.itemClick){
                        console.log(item);
                        deletedArray.push(item.id);
                    }
                });
                if(deletedArray.length === 0){
                    this.$toasted.error('You must select at least one product to delete');
                }else {
                    console.log(deletedArray);
                    axios.post('/api/admin/delete/products',  JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                console.log(response);
                                for(let i = 0; i < deletedArray.length; i++){
                                    console.log(deletedArray[i]);
                                    this.showData.splice(i, 1);
                                }
                                this.$toasted.success('All selected items deleted')
                            }else{
                                this.$toasted.error('Unable to delete');
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }
            }
        },
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }

    .container {
        width: 100%;
    }

    th {
        background-color: #f3f3f3;
        color: #000000;
        font-weight: bold;
    }

    th, td {
        padding: 30px !important;
    }

    td {
        color: #aaaaaa;
    }

</style>
