<template>
    <div class="content-wrapper">
        <div class="container">
        vendor details
            <div class="row vendorDetailBg">
                <div class="col-md-6">
                    <div>
                        <img :src="vendorDetails.image">
                    </div>
                    <div>
                        {{vendorDetails.firstName}} {{vendorDetails.lastName}}
                    </div>
                    <div v-if="vendorDetail.verify === 1">
                        STATUS: CONFIRMED
                    </div>
                    <div v-else>
                        STATUS: PENDING
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "admin-vendor-detail-component",
        data: function(){
            return {
                id: this.$route.params.id,
                vendorDetail: {},
                vendorDetails: {}
            }
        },
        mounted(){

            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;

            if(admin != null) {
                axios.get(`api/admin/vendor-details/${this.id}`, {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response.data.data);
                           this.vendorDetail = response.data.data[0];
                           this.vendorDetails = response.data.data[0].detail;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        }
    }
</script>

<style scoped>

    .content-wrapper {
        height: 100vh;
    }

    .container {
        width: 100%;
    }

    .vendorDetailBg {
        background: #ffffff;
    }

</style>