<template>
    <div class="content-wrapper">
            <div class="main-page">
                <h5>Edit Product</h5>
                <div class="row widget-shadow">
                    <div class="col-md-4">
                        <h3 class="cat-header">Select Menu Category</h3>
                        <div class="firstBar">
                            <div class="row m-0" v-for="(category, index) in categories" @click="getSubCategory(category.id, category, category.name)"  @mouseenter="category.hover = true"  @mouseleave="category.hover = false"   :class="{category: 'catd',hightlightbg: category.id === cat.category_id, 'hover': category.hover, 'clickColor': category.click }">
                                    {{category.name}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3 class="cat-header">Select Subject Matter</h3>
                        <div class="firstBar">
                            <div class="row m-0" v-for="(subcategory, index) in subcategories" @click="getSubCategoryId(subcategory.id, subcategory, subcategory.name)"  @mouseenter="subcategory.hover = true"  @mouseleave="subcategory.hover = false"   :class="{category: 'catd', hightlightbg: subcategory.id === cat.sub_category_id, 'hover': subcategory.hover, 'clickColor': subcategory.click}">
                                    {{subcategory.name}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3 class="cat-header">Select Topic</h3>
                        <div class="firstBar">
                            <div class="row m-0" v-for="(subcategoryBrand, index) in subcategoriesBrand" @click="getSubCategoryBrandById(subcategoryBrand.id, subcategoryBrand, subcategoryBrand.name, index)" @mouseenter="subcategoryBrand.hover = true"  @mouseleave="subcategoryBrand.hover = false"  :class="{category: 'catd', hightlightbg:  subcategoryBrand.clickF === true, 'hover': subcategoryBrand.hover, 'clickColor': subcategoryBrand.click}">
                                {{subcategoryBrand.name}}{{subcategoryBrand.id}}
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12 text-center">
                        <h3>{{category_name}}</h3>
                        <p>{{subcategory_name}}</p>
                        <button class="btn btn-primary" @click="editCategory()">Edit Category</button>
                       <!-- :disabled="btn"-->
                    </div>
                </div>
            </div>
    </div>
</template>

<script>

    export default {
        name: "edit-categories-admin-component",
        data: function(){
            return {
                id: this.$route.params.id,
                token: '',
                cat_id: '',
                catd: true,
                sub_id: '',

                vendor_user_id: '',
                category: '',
                category_name: '',
                subcategory_name: '',
                subcategory: '',
                categories: [],
                subcategories: [],
                subcategoriesBrand: [],
                cat: {
                    category_id:'',
                    sub_category_id: '',
                    sub_category_brand_id: [],
                    vendor_user_id: ''
                },
                btn: false,
                topicId: []
            }
        },
        mounted(){
            if(localStorage.getItem('authAdmin')) {
                let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
                this.token = authAdmin.access_token;
                this.cat.vendor_user_id = authAdmin.id;
                axios.get(`/api/product/${this.id}/edit`, { headers: {"Authorization" : `Bearer ${authAdmin.access_token}`} }).then((response) => {
                    if(response.status === 200){
                        this.cat.category_id = response.data.data.category_id;
                        this.cat.sub_category_id = response.data.data.sub_category_id;
                        let firstArray = response.data.data.sub_category_brand_id;
                        let secondArray = firstArray.replace(']', '');
                        let thirdArray = secondArray.replace('[', '');
                        let fourthArray = thirdArray.split(',');
                        let realArray = [];
                        fourthArray.forEach((item) => {
                            realArray.push(JSON.parse(item));
                        });

                        this.cat.sub_category_brand_id = realArray;
                        this.topicId = realArray;
                        console.log(realArray);
                        this.category = response.data.data.category_id;
                        this.subcategory = response.data.data.sub_category_id;
                        this.getAllCategory();
                    }
                }).catch((error) => {
                    console.log(error);
                })

                }else{
                this.$router.push('/vendor/auth');
            }

        },
        methods: {
            getAllCategory(){
                axios.get('/api/admin/get/category', { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) => {
                    if(response.status === 200){
                        this.categories = response.data;
                        this.categories.forEach((item) => {
                            this.$set(item, 'hover', false);
                        });
                        this.getSubCategory(this.cat.category_id);
                    }
                }).catch((error) => {
                    console.log(error);
                })

            },
            getSubCategory(subcat, category, category_name){
                if(category !== undefined){
                    this.subcategoriesBrand = [];
                    this.cat.sub_category_brand_id = '';
                    this.cat.sub_category_id = '';
                    this.categories.forEach((val)=> {
                        val.click = false;
                    });


                    axios.get(`/api/admin/get/subcategory/${subcat}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) => {
                      console.log('vvv');
                        if(response.status === 200 ) {
                            console.log('hhhhhddd');
                            console.log(response);
                            this.cat.category_id = subcat;
                            this.subcategories = response.data;
                            this.subcategories.forEach((item) => {
                                this.$set(item, 'hover', false);
                            });
                            // category.click = true;
                            this.category_name = category_name;
                            this.btn =  true;

                        }
                    }).catch((error) => {
                        console.log(error);
                    })
                }else{
                    this.categories.forEach((val)=> {
                        val.click = false;
                    });
                    axios.get(`/api/admin/get/subcategory/${subcat}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) => {
                        if(response.status === 200 ) {
                            this.cat.category_id = subcat;
                            this.subcategories = response.data;
                            this.subcategories.forEach((item) => {
                                this.$set(item, 'hover', false);
                            });
                            // category.click = true;
                            this.getSubCategoryBrand(this.cat.sub_category_id);
                            this.category_name = category_name;
                            this.btn =  true;
                        }
                    }).catch((error) => {
                        console.log(error);
                    })
                }

                },
            getSubCategoryBrand(subcatBrand){
                  axios.get(`/api/admin/get/topic/${subcatBrand}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                      .then((response) => {
                          let a = [];
                          if(response.status === 200){
                              this.subcategoriesBrand = response.data;
                              this.subcategoriesBrand.forEach((item) => {
                                  this.$set(item, 'hover', false);

                                  this.cat.sub_category_brand_id.forEach((items) => {
                                      if(parseInt(items) === parseInt(item.id)){
                                          this.$set(item, 'clickF', true);

                                      }else{
                                          console.log('false');
                                      }
                                  });


                              })

                          }
                      }).catch((error) => {
                          console.log(error);
                  })
            },
            getSubCategoryId(subcatid, subcategory, subcategory_name){
                axios.get(`/api/get/all/subcategorybrand/${subcatid}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.subcategoriesBrand = response.data;
                            this.subcategoriesBrand.forEach((item) => {
                                this.$set(item, 'hover', false);
                            })
                        }
                    }).catch((error) => {
                        console.log(error)
                })
                this.subcategories.forEach((val) => {
                    val.click = false;
                });
                this.cat.sub_category_id = subcatid;
                this.subcategory_name = subcategory_name;
                subcategory.click = true;
                this.btn = false;
            },
            getSubCategoryBrandById(subrandId, subcategoryBrand, subcategoryBrand_name, index){

               if(this.topicId.includes(subrandId)){
                   let a = this.topicId.indexOf(subrandId);
                   if(a > -1){
                       console.log('test');
                       this.topicId.splice(a, 1);
                       this.cat.sub_category_brand_id = this.topicId;
                       subcategoryBrand.clickF = false;
                   }
               }else{
                   this.topicId.push(subrandId);
                   this.cat.sub_category_brand_id = this.topicId;
                   subcategoryBrand.clickF = true;
               }

                /*
                this.subcategoriesBrand.forEach((item) => {
                    item.click = false;
                });
                this.cat.sub_category_brand_id = subrandId;
                subcategoryBrand.click = true;*/

            },
            editCategory(){
               let cat = {
                        category_id: this.cat.category_id,
                        sub_category_id: this.cat.sub_category_id,
                        sub_category_brand_id: JSON.stringify(this.cat.sub_category_brand_id),
                        vendor_user_id: this.cat.vendor_user_id
                }
               // JSON.stringify(this.cat.sub_category_brand_id);
             console.log(cat);
               axios.put(`/api/product/${this.id}`,  JSON.parse(JSON.stringify(cat)),  { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response)=> {
                    if(response.status === 200){
                        console.log(response);
                        let id = response.data.data.id;
                        this.$toasted.success('Category successfully updated ');
                         this.$router.push({name: 'adminEditProduct', params: { id: id}});

                    }
                }).catch((error)=> {
                   for(let key in error.response.data.data.errors){
                       this.$toasted.error(error.response.data.errors[key][0]);
                   }
                    })
            }
        }
    }
</script>

<style scoped>

    .main-page {
        padding: 40px 20px;
        max-height: 100vh;
        height: 100vh;
        overflow: scroll;
    }

    .content-wrapper {
        height: 100vh;
    }

    .firstBar {
        border: 4px solid black;
        height: 55vh;
        overflow: scroll;
    }
    .hightlightbg {
        background: #222d32;
        color: #ffffff;
    }

    .category {
        width: 100%;
        padding: 8px;
        border-bottom: 1px solid black;
        cursor: pointer;
    }


    #page-wrapper {
        height: 100vh;
    }

    .widget-shadow {
        height: 85vh;
    }

    .hover, .clickColor {
        background: #222d32;
        color: #ffffff;
    }

    .cat-header {
        margin: 19px 0;
        font-size: 17px;
        font-weight: bold;
    }


</style>
