<template>
    <div class="wrapper skin-blue">
        <div class="content-wrapper">
            <div class="main-page">


                <div class="row">
                    <div class="col-md-6 text-center">
                        <h2 class="h1">{{products.title}}</h2>
                        <div>{{products.author}} / {{storeName}} </div>
                    </div>

                    <div class="col-md-6 text-center mt-4">
                        <button class="btn btn-danger" @click="deleteProduct(products.id)">Delete</button>
                        STATUS: {{products.verify === 1 ? 'CONFIRMED' : 'NOT CONFIRMED'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 text-center">
                        <div><img :src="products.coverImage" height="100" class="imgDivDisplay"></div>
                        <div>{{products.aboutAuthor}}</div>
                        <div><button @click="featuredProduct(products.id)" class="btn btn-primary">{{featuredProducts}}</button></div>
                        <div><button @click="verifyProduct(products.id)" class="btn btn-primary">{{verifyProducts}}</button></div>
                    </div>

                    <div class="col-md-6 text-center">
                        <div class="detailContainer">
                            <p @click="showAndHide('detail')">Details</p>
                            <transition name="slide-up-down">
                                <div v-if="detail">
                                    <div>ISBN-13 : {{products.fileType}}</div>
                                    <div>Publisher : {{products.publisher}}</div>
                                    <div>Publication Date : {{products.publicationDate}}</div>
                                    <div>Series : {{products.series}}</div>
                                    <div>Pages : {{products.pageNo}}</div>
                                </div>
                            </transition>
                        </div>

                        <div class="detailContainer">
                            <p @click="showAndHide('category')">Category</p>
                            <transition name="slide-up-down">
                                <div v-if="category">
                                    <div>ISBN-13 : {{products.category.name}}</div>
                                    <div>Publisher : {{products.subcategory.name}}</div>
                                    <div>Publication Date : {{products.topic.name}}</div>
                                </div>
                            </transition>
                        </div>

                        <div class="detailContainer">
                            <p @click="showAndHide('priceLists')">Pricelists</p>
                            <transition name="slide-up-down">
                                <div v-if="priceLists">
                                    <div v-if="products.hardCopyPrice !== null">Hard Cover Price : ₦{{products.hardCopyPrice}}.00</div>
                                    <div v-if="products.softCopyPrice !== null">Soft Cover Price : ₦{{products.softCopyPrice}}.00</div>
                                    <div v-if="products.audioPrice !== null"> Audio Price: ₦{{products.audioPrice}}.00</div>
                                    <div v-if="products.videoPrice !== null">Video Price: ₦{{products.videoPrice}}.00</div>
                                </div>
                            </transition>
                        </div>

                        <div class="detailContainer">
                            <p @click="showAndHide('format')">Formats</p>
                            <transition name="slide-up-down">
                                <div v-if="format">
                                    <div v-if="products.hardCopyPrice !== ''">Hard Copy</div>
                                    <div v-if="products.softCopyPrice !== ''">Pdf Format</div>
                                    <div v-if="products.audioPrice !== ''">Audio Format</div>
                                    <div v-if="products.videoPrice !== ''">Video Format</div>
                                </div>
                            </transition>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-show-bizguruh-component",
        data: function(){
            return {
                id: this.$route.params.id,
                isActive: true,
                category: false,
                priceLists: false,
                format: false,
                linkTag: false,
                detail: true,
                prod: {},
                storeName: '',
                products: {},
                featuredProducts: 'Sponsor Product',
                verifyProducts: 'Verify Product',
                imgSrc: '',
                token: ''
            }
        },
        mounted(){

            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;
            if(admin != null){
                axios.get(`/api/admin/product/${this.id}`, { headers: {"Authorization" : `Bearer ${admin.access_token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response.data.data);
                            let emptyObject = {

                            }
                            switch (response.data.data.prodType){
                                case 'Books':
                                    emptyObject = response.data.data.books;
                                    break;
                                case 'White Paper':
                                    emptyObject = response.data.data.whitePaper;
                                    break;
                                case 'Market Reports':
                                    emptyObject = response.data.data.marketReport;
                                    break;
                                case 'Journals':
                                    emptyObject = response.data.data.journal;
                                    break;
                                case 'Market Research':
                                    emptyObject = response.data.data.marketResearch;
                                    break;
                                case 'Webinar':
                                    emptyObject = response.data.data.webinar;
                                    break;
                                case 'Podcast':
                                    emptyObject = response.data.data.webinar;
                                    break;
                                case 'Videos':
                                    emptyObject = response.data.data.webinar;
                                    break;
                                case 'Courses':
                                    emptyObject = response.data.data.courses;
                                    break;
                                default:
                                    return false;

                            }

                            this.storeName = response.data.data.vendor.storeName;
                            if(response.data.data.verify){
                                this.verifyProducts = 'Unverify Product';
                            }else{
                                this.verifyProducts = 'Verify Product';
                            }

                            if(response.data.data.sponsor === 'Y'){
                                this.featuredProducts = 'Unsponsor Product';
                            }else{
                                this.featuredProducts = 'Sponsor Product'
                            }

                            this.prod = response.data.data;
                            this.products = {...emptyObject, ...this.prod}

                            //this.products.prodContent = emptyObject;
                            console.log(this.products);
                            this.isActive = false;
                            this.linkTag = true;
                        }

                    }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }


        },
        methods: {
            verifyProduct(productid){
                axios.get(`/api/admin/verify/product/${productid}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) =>{
                    console.log(response);
                    if(response.data.verify){
                        this.$toasted.success("Successfully verified");
                        this.verifyProducts = "Unverify Product";
                    }else{
                        this.$toasted.success("Successfully unverified");
                        this.verifyProducts = "Verify Product"
                    }

                }).catch((error) => {
                    console.log(error);
                });
            },
            featuredProduct(productid){
                axios.get(`/api/admin/featured/product/${productid}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) =>{
                    console.log(response);
                    if(response.data.sponsor == 'Y'){
                        this.$toasted.success("Successfully sponsor");
                        this.featuredProducts = "Unsponsor product";
                    }else{
                        this.$toasted.success("Successfully unsponsor");
                        this.featuredProducts = "Sponsor product";
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            swipeImage(index){
                console.log(index);
                for(var i = 0; i < this.products.productImage.length; i++){
                    this.imgSrc = this.products.productImage[index].image;
                    //console.log(this.products.productImage[index].image);
                }
            },
            showAndHide(params){
                switch (params){
                    case 'detail':
                        this.detail = !this.detail;
                        break;
                    case 'category':
                        this.category = !this.category;
                        break;
                    case 'priceLists':
                        this.priceLists = !this.priceLists;
                        break;
                    case 'format':
                        this.format = !this.format;
                        break;
                    default:
                        this.detail = this.category = this.priceLists = this.format = false;
                }
            },
            deleteProduct(id){
                confirm('Are you sure');
                axios.delete(`/api/admin/remove/${id}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.$router.push('/admin/products');
                        }
                    }).catch((error) => {
                    console.log(error);
                })

            }
        }
    }
</script>

<style scoped>

    .btn-primary {
        margin: 30px;
    }


    .detailContainer {
        border: 1px solid #90b5da;
        margin: 30px;
    }

    .detailContainer p {
        border-bottom: 1px solid #90b5da;
        cursor: pointer;
    }

    .detailContainer p:hover {
        background-color: #90b5da;
    }

    .main-page {
        height: 100vh;
        background: #ffffff;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-wrapper {
        padding:30px 0;
    }

    .imgDivDisplay {
        height: 330px;
    }

    .slide-up-down-enter-active {
        transition: all .3s ease;
    }
    .slide-up-down-leave-active {
        transition: all .2s ease;
    }
    .slide-up-down-enter {
        transform: translateY(-50px);
        opacity: 0;
    }
    .slide-up-down-leave-to {
        transform: translateY(-50px);
        opacity: 0;
    }

</style>
