<template>
    <div class="content-wrapper">
        <div class="main-page">
           <table class="table">
               <thead>
               <tr>
                   <th>Identification</th>
                   <th>Title</th>
                   <th>Description</th>
                   <th>Rating</th>
                   <th>Users</th>
                   <th></th>
               </tr>
               </thead>
               <tbody>
               <tr v-for="(review, index) in reviews">
                   <td>{{index + 1}}</td>
                   <td>{{review.title}}</td>
                   <td>{{review.description}}</td>
                   <td>{{review.rating}}</td>
                   <td>{{review.user.name}} {{review.user.lastName}}</td>
                   <td><button class="btn btn-primary btn-sm" @click="verifyReview(review.id)">{{review.verify === 0 ? 'Verify' : 'Unverify'}}</button>
                   <i class="fa fa-trash" @click="deleteReview(review.id, index)"></i>
                   </td>
               </tr>
               </tbody>
           </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-reviews-component",
        data: function () {
          return {
              reviews: [],
              token: '',
              verifyBtn: 'Verify'
          }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;

            if(admin != null) {
                axios.get('/api/reviews', {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response.data.data);

                         this.reviews = response.data.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            verifyReview(id){
             axios.get(`/api/admin/verify/reviews/${id}`, {headers: {"Authorization": `Bearer ${this.token}`}})
                 .then((response) => {
                     if(response.status === 200){
                         window.location.reload();
                        this.$toasted.success('Status successfully change');
                     }
                 }).catch((error) => {
                     console.log(error);
             })
            },
            deleteReview(id, index){
                console.log(id);
                axios.delete(`/api/reviews/${id}`, {headers: {"Authorization": `Bearer ${this.token}`}})
                    .then((response) => {
                        if(response.status === 200){
                            this.reviews.splice(index, 1);
                            this.$toasted.success('Successfully remove');
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }

    .main-page {
        padding: 40px 20px;
    }

    th {
        background-color: #f3f3f3;
        color: #000000;
        font-weight: bold;
    }

    th, td {
        padding: 30px !important;
    }

    td {
        color: #aaaaaa;
    }



</style>
