<template>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <ul class="sidebar-menu" data-widget="tree">
                <li>
                   <router-link tag="a" to="/admin/dashboard">
                         <span>Dashboard</span>
                        <span class="pull-right-container">
            </span>
                   </router-link>
                </li>


                <li v-if="storeAdmin">
                   <router-link tag="a" to="/admin/products">
                       <span>All Products</span></router-link></li>

                <li v-if="(storeAdmin)"><router-link :to="{name: 'bizguruhProduct'}" tag="a">Bizguruh Products</router-link></li>

                <li v-if="(storeAdmin)"><router-link :to="{name: 'adminDraftProduct'}" tag="a">Bizguruh Products(Draft)</router-link></li>

                <li v-if="storeAdmin">
                    <router-link tag="a" to="/admin/univerify-products">
                        <span>Products (UnVerified)</span></router-link></li>


                <li v-if="(storeAdmin && webAdmin)">
                    <router-link tag="a" :to="{ name: 'adminManage'}">Manage Admin</router-link>
                </li>

                <li v-if="(storeAdmin && webAdmin)">
                    <router-link tag="a" :to="{name: 'adminQuestionBank'}">Upload Question</router-link>
                </li>

                <li v-if="(storeAdmin)">
                    <router-link tag="a" :to="{name: 'SubscriptionPage'}">Subscription</router-link>
                </li>

                 <li v-if="(storeAdmin)">
                    <router-link tag="a" :to="{name: 'checklistPage'}">Checklist Questions</router-link>
                </li>


                <li v-if="storeAdmin"><router-link tag="a" to="/admin/orders">
                    <span>Order</span></router-link></li>

                <li v-if="(storeAdmin && webAdmin)"><router-link tag="a" to="/admin/product-type">
                    <span>Product Type</span></router-link></li>

                <li v-if="webAdmin"><router-link tag="a" to="/admin/category">
                    <span>Category</span></router-link></li>
                <li v-if="storeAdmin">
                    <router-link tag="a" to="/admin/reviews">
                        <span> Reviews</span></router-link>
                </li>

                <li v-if="storeAdmin"><router-link tag="a" to="/admin/users"> <span>Users</span></router-link></li>
                <li v-if="storeAdmin">
                    <router-link tag="a" to="/admin/vendors">
                       <span>Vendor</span>
                    </router-link></li>
                <li v-if="storeAdmin">
                   <router-link tag="a" to="/admin/ops">
                        <span>Ops Users</span></router-link></li>
                <li><a href="#"> <span>Admin Configuration</span></a></li>
                <li><a href="#"> <span>Settings</span></a></li>
                <li><a href="#"> <span @click="logout()">Logout</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
    export default {
        name: "admin-sidebar-component",
        data:function(){
            return {
                webAdmin: false,
                storeAdmin: false,
            }
        },
        mounted(){
            if(localStorage.getItem('authAdmin')){
                let admin = JSON.parse(localStorage.getItem('authAdmin'));
                console.log(admin);
                if(admin.role == 0){
                    this.webAdmin = this.storeAdmin = true;
                } else if(admin.role == 0 || admin.role == 1){
                    this.webAdmin = true;
                }else if(admin.role == 0 || admin.role == 2){
                    this.storeAdmin = true;
                }
            }else{
                this.$router.push('/admin/auth/manage')
            }
        },
        methods: {
            logout(){
                localStorage.removeItem('authAdmin');
                this.$router.push('/admin/auth/manage');
            }
        }
    }
</script>

<style scoped>

.main-sidebar {
  width:30%;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0,0,0 .74);
}
.sidebar ul li a {
    font-size: .8em;

}
</style>