<template>
    <div class="content-wrapper">
        <div class="main-page">

            <!--<div class="row rowProduct">
                <div class="col-md-12 dive">
                    <button class="btn btn-create">
                        <router-link tag="a" :to="{ name: 'adminProductAddCategory' }">
                            Create New Product
                        </router-link>
                    </button>

                    <button class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>-->

            <table class="table">
                <thead>
                <tr>
                    <th><input type="checkbox" v-model="overallCheck" @change="overallCheckBox"></th>
                    <th>Identification</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="products.length > 0" v-for="(product, index) in products">
                    <td><input  type="checkbox"  :checked="product.itemClick" @change="product.itemClick = !product.itemClick; overallCheck = false"/></td>
                    <td>{{index + 1}}</td>
                    <td v-if="product.articleTitle">{{product.articleTitle}}</td>
                    <td v-else="">{{product.title}}</td>
                    <td v-if="product.verify === 1">Active</td>
                    <td v-else>Pending</td>
                    <td>{{product.created_at.date | moment("L")}}</td>
                    <td><router-link class="linktoproduct" :to="{ name: 'adminProductshowSave', params: {id: product.uniId} }"><i class="fa fa-arrow-right"></i></router-link></td>
                </tr>
                <tr v-else>No Product</tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-draft-product-component",
        data: function(){
            return {
                products: [],
                overallCheck: false,
                checkIn: false,
            }
        },
        mounted(){
            let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
            if(authAdmin != null) {
                axios.get(`/api/admin/get/draft-product`, { headers: {"Authorization" : `Bearer ${authAdmin.access_token}`} })
                    .then((response) => {
                        if((response.data.data).length > 0) {
                            let emptyArray = [];

                            response.data.data.forEach((item) => {
                                switch(item.prodType){
                                    case 'Books':
                                        this.$set(item.books, 'verify', item.verify);
                                        this.$set(item.books, 'uniId', item.id);
                                        this.$set(item.books, 'created_at', item.myDate);
                                        emptyArray.push( item.books);
                                        break;
                                    case 'White Paper':
                                        this.$set(item.whitePaper, 'verify', item.verify);
                                        this.$set(item.whitePaper, 'uniId', item.id);
                                        this.$set(item.whitePaper, 'created_at', item.myDate);
                                        emptyArray.push(item.whitePaper);
                                        break;
                                    case 'Market Reports':
                                        this.$set(item.marketReport, 'verify', item.verify);
                                        this.$set(item.marketReport, 'uniId', item.id);
                                        this.$set(item.marketReport, 'created_at', item.myDate);
                                        emptyArray.push(item.marketReport);
                                        break;
                                    case 'Market Research':
                                        this.$set(item.marketResearch, 'verify', item.verify);
                                        this.$set(item.marketResearch, 'uniId', item.id);
                                        this.$set(item.marketResearch, 'created_at', item.myDate);
                                        emptyArray.push(item.marketResearch);
                                        break;
                                    case 'Webinar':
                                        this.$set(item.webinar, 'verify', item.verify);
                                        this.$set(item.webinar, 'uniId', item.id);
                                        this.$set(item.webinar, 'created_at', item.myDate);
                                        emptyArray.push(item.webinar);
                                        break;
                                    case 'Podcast':
                                        this.$set(item.webinar, 'verify', item.verify);
                                        this.$set(item.webinar, 'uniId', item.id);
                                        this.$set(item.webinar, 'created_at', item.myDate);
                                        emptyArray.push(item.webinar);
                                        break;
                                    case 'Videos':
                                        this.$set(item.webinar, 'verify', item.verify);
                                        this.$set(item.webinar, 'uniId', item.id);
                                        this.$set(item.webinar, 'created_at', item.myDate);
                                        emptyArray.push(item.webinar);
                                        break;
                                    case 'Journals':
                                        this.$set(item.journal, 'verify', item.verify);
                                        this.$set(item.journal, 'uniId', item.id);
                                        this.$set(item.journal, 'created_at', item.myDate);
                                        emptyArray.push(item.journal);
                                        break;
                                    case 'Courses':
                                        this.$set(item.courses, 'verify', item.verify);
                                        this.$set(item.courses, 'uniId', item.id);
                                        this.$set(item.courses, 'created_at', item.myDate);
                                        emptyArray.push(item.courses);
                                        break;
                                    default:
                                        return false;
                                }
                            });
                            this.products = emptyArray;

                        }
                    }).catch((error) => {
                    console.log(error);
                })
            }
        },
        methods:{
            overallCheckBox(){
                //  this.checkIn = !this.checkIn;
                this.products.forEach((item) => {
                    if(!('itemClick' in item)){
                        this.$set(item, 'itemClick', true)
                    }else if(this.overallCheck){
                        this.$set(item, 'itemClick', true)
                    }else{
                        this.$set(item, 'itemClick', false)
                    }
                })
            },
            deleteItem(){
                let deletedArray = [];
                this.products.forEach((item) => {
                    if(item.itemClick){
                        console.log(item);
                        console.log('yes');
                        deletedArray.push(item.uniId);
                    }
                });
                if(deletedArray.length === 0){
                    this.$toasted.error('You must select at least one product to delete');
                }else {
                    console.log(deletedArray);
                    axios.post('/api/delete/many-products', JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                console.log(response);
                                for(let i = 0; i < deletedArray.length; i++){
                                    console.log(deletedArray[i]);
                                    this.products.splice(i, 1);
                                }
                                this.$toasted.success('All selected items deleted')
                            }else{
                                this.$toasted.error('Unable to delete');
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }



            }
        }
    }
</script>

<style scoped>

    .content-wrapper {
        height: 100vh;
    }

    .main-page {
        padding: 40px 20px;
        max-height: 100vh;
        height: 100vh;
        overflow: scroll;
    }

    .rowProduct {
        margin-bottom: 50px;
    }
    th {
        background-color: #f3f3f3;
        padding: 40px 10px !important;
        color: #000000;
    }

    td {
        color: #a4a4a4 !important;
        padding: 30px 10px !important;
    }

    .dive {
        text-align: right;
    }

</style>
