<template>
  <div class="login_area">
    <div class="login_inner">
      <div class="row h-100">
        <div class="divLeft signUp">
          <i class="fas fa-user-lock fa-10x mb-4"></i>
          <h2 class="text-white">Admin Area</h2>

          <!-- <div class="signUp-button">
              <button class="btn btn-signup">Admin Area</button>
          </div>-->
        </div>

        <div class="divRight loginPagge">
          <h3 class="mb-4">Admin Log in</h3>
          <div class="form-group">
            <p class="login-box-msg">Sign in to start your session</p>

            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email" v-model="user.email" />
              <i class="fa fa-envelope form-control-feedback"></i>
            </div>
            <div class="form-group has-feedback">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                v-model="user.password"
              />
              <i class="fa fa-lock form-control-feedback"></i>
            </div>
            <div class="row">
              <!-- <div class="col-xs-6">
                  <div class="checkbox icheck">
                    <label>
                      <input type="checkbox" /> Remember Me
                    </label>
                  </div>
              </div>-->
              <!-- /.col -->
              <div class="w-100 text-center">
                <button type="submit" class="btn btn-signup" @click="login(user)">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAdminHeader } from "../../config";
export default {
  name: "admin-auth-component",
  data: function() {
    return {
      user: {
        email: null,
        password: null
      }
    };
  },
  mounted() {
    let admin = JSON.parse(localStorage.getItem("authAdmin"));
    if (admin !== null) {
      this.$router.push("/admin/dashboard");
    } else {
      this.$router.push("/admin/auth/manage");
    }
  },
  methods: {
    login(user) {
      let data = {
        client_id: 2,
        client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
        grant_type: "password",
        username: user.email,
        password: user.password,
        scope: "*",
        theNewProvider: "admin_user"
      };
      const authAdmin = {};
      console.log(JSON.parse(JSON.stringify(user)));
      axios
        .post("/oauth/token", data)
        .then(response => {
          authAdmin.access_token = response.data.access_token;
          authAdmin.refresh_token = response.data.access_token;
          localStorage.setItem("authAdmin", JSON.stringify(authAdmin));
          console.log(response.data.access_token);
          axios
            .get("/api/adminDetails", { headers: getAdminHeader() })
            .then(res => {
              console.log("Data: login -> res", res);
              if (res.data.verified) {
                authAdmin.id = res.data.id;
                authAdmin.email = res.data.email;
                authAdmin.role = res.data.role;
                localStorage.setItem("authAdmin", JSON.stringify(authAdmin));
                this.$router.push("/admin/dashboard");
                this.$toasted.success("Successfully login");
              } else {
                this.$toasted.error("Please verify your account");
              }
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(error => {
          this.$toasted.error("Invalid user credential");
        });
    }
  }
};
</script>

<style scoped>
.login_area {
  background-color: #f5f5f5 !important;
  height: 100vh;
}
.signUp {
  background-color: #a3c2dc !important;
  width: 60%;
  height: 100%;
  padding: 60px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginPagge {
  background-color: #ffffff !important;
  width: 40%;
  padding: 20px 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registerPagge {
  padding: 20px 60px;
  width: 50%;
  background-color: #a3c2dc !important;
}

h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.pp {
  text-align: center;
  font-size: 20px;
}
.btn-signup {
  background-color: #a3c2dc !important;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: capitalize;
}

.btn-logIn {
  color: #a3c2dc;
  background-color: #ffffff !important;
}

.signUp-button {
  margin: 40px 0 0 0;
}

.login_inner {
  height: 100%;
}
@media (max-width: 768px) {
  .signUp {
    display: none;
  }

  .loginPagge {
    width: 100%;
  }
}
</style>
