<template>
        <div class="content-wrapper">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal()">
                Create Operation User
            </button>

            <!-- Modal -->
            <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create a New Operation User</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" v-model="user.email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" v-model="user.password">
                            </div>

                            <div class="form-group">
                                <label for="confirmpassword">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirmpassword" v-model="user.password_confirmation">
                            </div>

                                 <div>Access Level</div>

                                <label><input type="radio"  name="accessLevel">One</label>

                                <label><input type="radio" name="accessLevel">Two</label>

                                <label><input type="radio"  name="accessLevel">Three</label>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="registerOpsUser()">Create Ops User</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Email</th>
                        <th>Member Since</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(op, index) in ops">
                    <td>{{index + 1}}</td>
                    <td>{{op.email}}</td>
                     <td>{{op.created_at | moment("dddd, MMMM Do YYYY")}}</td>
                        <td v-if="op.verified"><span class="label label-success">Verified</span></td>
                        <td v-else><span class="label label-default">Not Verified</span></td>
                        <td v-if="op.verified"><button class="btn btn-primary btn-sm" @click="changeStatus(op.id)">Disable</button></td>
                        <td v-else><button class="btn btn-primary btn-sm" @click="changeStatus(op.id)">Activate</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</template>

<script>
    export default {
        name: "admin-create-ops-component",
        data:function(){
            return {
                fade: true,
                modal: true,
                user: {
                    email: "",
                    password: "",
                    password_confirmation: "",
                    token: ''
                },
                ops: [],
                disable: 'Disable'

            }
        },
        mounted(){
            if(localStorage.getItem('authAdmin')) {
                let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
                this.token = authAdmin.access_token;
                axios.get('/api/admin/add/ops', {headers: {"Authorization": `Bearer ${authAdmin.access_token}`}})
                    .then((response) => {
                        console.log(response.data);
                        this.ops = response.data;
                        this.vendors = response.data;
                    }).catch((error) => {
                    console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }

        },
        methods: {
            showModal(){
           this.fade = false;
            },
            registerOpsUser(){
                axios.post('/api/admin/ops/register', JSON.parse(JSON.stringify(this.user)), { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) => {
                    if(response.status === 200){
                       this.$toasted.success('Operation user created succesfully');
                        window.location.reload();
                    }else{
                     console.log(response.message)
                    }
                }).catch((error) => {
                   // console.log(error.data.message);
                })
            },
            changeStatus(ops){
                    axios.get(`/api/admin/enabledisable/vendor/${ops}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) => {
                        console.log(response)
                        if(response.status ===200){
                            this.$toasted.success('Status changed');
                            window.location.reload();
                        }
                    }).catch((error) => {
                        console.log(error);
                    })

            }
        }
    }
</script>

<style scoped>
 .content-wrapper {
     height: 100vh;
 }
    .container {
        width: 100%;
    }
</style>
