<template>
    <div class="content-wrapper">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal()">
                 Create Category
            </button>

            <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create Category</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="category">Category:</label>
                                <input type="text" class="form-control" id="category" v-model="category.name">
                            </div>

                            <div class="form-group">
                                <label for="categorydescription">Description:</label>
                                <textarea class="form-control" id="categorydescription" v-model="category.description"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="adminCategory">Admins</label>
                                <select  id="adminCategory" v-model="category.adminCategory">
                                    <option value="AO">Admin only</option>
                                    <option value="UO">User only</option>
                                    <option value="AU">Admin and User</option>
                                </select>
                            </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="createNewCategory()">{{CategoryText}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(category, index) in categories">
                        <td>{{index + 1}}</td>
                        <td>
                            <router-link tag="a" :to="{name: 'adminProductSubcategory', params: {id: category.id}}">
                            {{category.name}}
                            </router-link>
                        </td>
                        <td>{{category.description}}</td>
                        <td><button class="btn btn-primary btn-small"  data-toggle="modal" data-target="#myModal" @click="showModal(category.id)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-small" @click="deleteCategory(category.id, index)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


</template>

<script>

    export default {
        name: "admin-category-component",
        data:function () {
          return {
              category: {
                  id: '',
                  name: '',
                  description: '',
                  adminCategory: ''
              },
              token: '',
              fade: true,
              modal: true,
              categories: [],
              toggleEdit: true,
              CategoryText: 'Create Category'
          }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;
            if(admin != null){
                axios.get('/api/category', { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        console.log(response);
                        this.categories = response.data;
                    }).catch((error) => {
                    if(error.response.status === 401){
                        this.$router.push('/admin/auth/manage');
                    }else{
                        this.$toasted.error('Unknown error occur');
                    }
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            createNewCategory(){
                if(this.toggleEdit) {
                    console.log(JSON.parse(JSON.stringify(this.category)));
                    axios.post('/api/category', JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            console.log(response);
                            if(response.status === 201) {
                                this.$toasted.success('Category successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else{
                    axios.put(`/api/category/${this.category.id}`, JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.token}`}})
                        .then((response) => {
                            console.log(response);
                            if(response.status === 200) {
                                this.$toasted.success('Category successfully edited');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        console.log(error.response.data);
                    })
                }
            },
            showModal(category){
                this.fade = false;
                if(typeof category === 'undefined'){
                    this.CategoryText = 'Create Category';
                    this.toggleEdit = true;
                   this.category.name = this.category.description = '';
                }else{
                    this.CategoryText = 'Update Category';
                    this.toggleEdit = false;
                    this.category.id = category;
                    axios.get(`/api/category/${category}/edit`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            console.log(response.data);
                            this.category.name = response.data.name;
                            this.category.description = response.data.description;
                            this.category.adminCategory = response.data.adminCategory;
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }
            },
            deleteCategory(categoryid, cat){
                this.categories.splice(cat, 1);
               axios.delete(`/api/category/${categoryid}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.$toasted.success("Deleted Successfully");
                        }else{
                            this.$toasted.error("Unable to delete item");
                        }
                    }).catch((error) => {
                   for(var key in error.response.data.errors){
                       this.$toasted.error(error.response.data.errors[key][0]);
                   }
                })
            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }
    .container {
        width: 100%;
    }

</style>