<template>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h2 class="mb-4">
                    Dashboard
                    <small>(Store)</small>

                </h2>
            <div class=" w-100 mx-auto ">
                    <graph-bar
                        :width="800"
                        :height="600"
                        :axis-min="0"
                        :axis-max="50"
                        :labels="[ '1Q', '2Q', '3Q', '4Q' ]"
                        :values="values">
                    <note :text="'Dashboard Statistics'" :align="'left'"></note>
                    <tooltip :names="names" :position="'left'"></tooltip>
                    <legends :names="names" :filter="true"></legends>
                </graph-bar>
            </div>
            </section>

        </div>
</template>

<script>
    export default {
        name: "admin-dashboard-component",
        data: function () {
            return {
                token: '',
                names: [ "orders", "users", "vendor" ],
                values: [
                    [ 10, 5, 5, 5 ],
                    [ 40, 10, 10, 10 ],
                    [ 30, 30, 30, 30 ]
                ],
            }
        },

        mounted(){
            if(localStorage.getItem('authAdmin')) {
                let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
                this.token = authAdmin.access_token;
            }else{
                this.$router.push('/admin/auth/manage');
            }
        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
    .content-header{
        height: 100%;
    }

</style>