<template>
    <div class="content-wrapper">
            <div class="main-page">
                <div class="btn-below">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="btn-custom-market">
                                <label :class="{ active: isActive }"><input type="radio" v-model="verified" value="All"/>All</label>
                                <label><input type="radio" v-model="verified" value=1 />Verified</label>
                                <label> <input type="radio" v-model="verified" value=0 />Unverified</label>
                                <label><input type="radio" v-model="verified" value="Y"/>Sponsor</label>
                                <label><input type="radio" v-model="verified" value="N"/>Unsponsor</label>
                                <label><input type="radio" v-model="verified" value="PN"/>Pending Update</label>
                            </div>
                        </div>
                        <div class="col-md-4 deleteProductBtn">
                            <button class="btn btn-danger" @click="deleteItem">Delete</button>
                        </div>
                    </div>


                </div>



               <table class="table">
                   <thead>
                   <tr>
                       <th><input type="checkbox" v-model="overallCheck" @change="overallCheckBox"></th>
                       <th>Identification</th>
                       <th>Details</th>
                       <th>Status</th>
                       <th></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr  v-for="(product, index) in showData" >
                       <td><input type="checkbox" :checked="product.itemClick" @change="product.itemClick = !product.itemClick; overallCheck = false"></td>
                       <td>{{index + 1}}</td>
                       <td v-if="product.articleTitle">{{product.articleTitle}}</td>
                       <td v-else>{{product.title}}</td>
                       <td v-if="product.verify === 1">Active</td>
                       <td v-else>Pending</td>
                       <td><router-link :to="{name: 'adminShowProduct', params: {id: product.uniId}}">
                           <i class="fa fa-arrow-right"></i>
                       </router-link>
                       </td>
                   </tr>
                   </tbody>
               </table>
            </div>
        </div>
</template>

<script>
    export default {
        name: "admin-product-component",
        data: function(){
          return {
              token: '',
              products: [],
              overallCheck: false,
              verified: 'All',
              sponsor: '',
              isActive: true
          }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;
            console.log(this.products);

            if(admin != null){
                axios.get('/api/admin/all/product', {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                    .then((response) => {
                        let emptyArray = [];
                        console.log(response);
                        response.data.data.forEach((item) => {
                            switch(item.prodType){
                                case 'Books':
                                    this.$set(item.books, 'verify', item.verify);
                                    this.$set(item.books, 'draftValue', item.draftType);
                                    this.$set(item.books, 'editFlag', item.editFlag);
                                    this.$set(item.books, 'uniId', item.id);
                                    emptyArray.push( item.books);
                                    break;
                                case 'White Paper':
                                    this.$set(item.whitePaper, 'verify', item.verify);
                                    this.$set(item.whitePaper, 'draftValue', item.draftType);
                                    this.$set(item.whitePaper, 'editFlag', item.editFlag);
                                    this.$set(item.whitePaper, 'uniId', item.id);
                                    emptyArray.push(item.whitePaper);
                                    break;
                                case 'Market Reports':
                                    this.$set(item.marketReport, 'verify', item.verify);
                                    this.$set(item.marketReport, 'draftValue', item.draftType);
                                    this.$set(item.marketReport, 'editFlag', item.editFlag);
                                    this.$set(item.marketReport, 'uniId', item.id);
                                    emptyArray.push(item.marketReport);
                                    break;
                                case 'Market Research':
                                    this.$set(item.marketResearch, 'verify', item.verify);
                                    this.$set(item.marketResearch, 'draftValue', item.draftType);
                                    this.$set(item.marketResearch, 'editFlag', item.editFlag);
                                    this.$set(item.marketResearch, 'uniId', item.id);
                                    emptyArray.push(item.marketResearch);
                                    break;
                                case 'Webinar':
                                    this.$set(item.webinar, 'verify', item.verify);
                                    this.$set(item.webinar, 'draftValue', item.draftType);
                                    this.$set(item.webinar, 'editFlag', item.editFlag);
                                    this.$set(item.webinar, 'uniId', item.id);
                                    emptyArray.push(item.webinar);
                                    break;
                                case 'Podcast':
                                    this.$set(item.webinar, 'verify', item.verify);
                                    this.$set(item.webinar, 'draftValue', item.draftType);
                                    this.$set(item.webinar, 'editFlag', item.editFlag);
                                    this.$set(item.webinar, 'uniId', item.id);
                                    emptyArray.push(item.webinar);
                                    break;
                                case 'Videos':
                                    this.$set(item.webinar, 'verify', item.verify);
                                    this.$set(item.webinar, 'draftValue', item.draftType);
                                    this.$set(item.webinar, 'uniId', item.id);
                                    emptyArray.push(item.webinar);
                                    break;
                                case 'Journals':
                                    this.$set(item.journal, 'verify', item.verify);
                                    this.$set(item.journal, 'draftValue', item.draftType);
                                    this.$set(item.journal, 'editFlag', item.editFlag);
                                    this.$set(item.journal, 'uniId', item.id);
                                    emptyArray.push(item.journal);
                                    break;
                                case 'Courses':
                                    this.$set(item.courses, 'verify', item.verify);
                                    this.$set(item.courses, 'draftValue', item.draftType);
                                    this.$set(item.courses, 'editFlag', item.editFlag);
                                    this.$set(item.courses, 'uniId', item.id);
                                    emptyArray.push(item.courses);
                                    break;
                                case 'Events':
console.log('vvvvv');
                                    break;
                                default:
                                    return false;
                            }
                        });
                        this.products = emptyArray;
                    }).catch((error) => {
                        console.log(error);
                })
            }else{
                this.$router.push('/admin/auth/manage');
            }
        },
        methods: {
            overallCheckBox(){
                this.showData.forEach((item) => {
                    if(!('itemClick' in item)){
                        this.$set(item, 'itemClick', true)
                    }else if(this.overallCheck){
                        this.$set(item, 'itemClick', true)
                    }else{
                        this.$set(item, 'itemClick', false)
                    }
                })
            },
           // admin/delete/products
            deleteItem(){
                let deletedArray = [];
                this.showData.forEach((item) => {
                    if(item.itemClick){
                        console.log(item);
                        deletedArray.push(item.uniId);
                    }
                });
                if(deletedArray.length === 0){
                    this.$toasted.error('You must select at least one product to delete');
                }else {
                    console.log(deletedArray);
                    axios.post('/api/admin/delete/products',  JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                console.log(response);
                                for(let i = 0; i < deletedArray.length; i++){
                                    console.log(deletedArray[i]);
                                    this.showData.splice(i, 1);
                                }
                                this.$toasted.success('All selected items deleted')
                            }else{
                                this.$toasted.error('Unable to delete');
                            }
                        }).catch((error) => {
                            console.log(error);
                    })
                }
            }
        },
        computed: {
            showData(){
                let verify = this.verified;
                let sponsor = this.sponsor;
                if(verify === 'All') {
                    return this.products;
                }else if(verify === "1" || verify === "0"){
                    return this.products.filter(function(value){
                        return value.verify === parseInt(verify);
                    })
                }else if(verify === 'PN'){
                    return this.products.filter(function(value){
                        return value.editFlag === 'Y';
                    })
                }
                else {
                    return this.products.filter(function(value){
                        return value.sponsor === verify;
                    })
                }
            }
        }
    }
</script>

<style scoped>

     th {
        background-color: #f3f3f3;
        color: #000000;
        font-weight: bold;
    }

     th, td {
        padding: 30px !important;
    }

     td {
         color: #aaaaaa;
     }
    .content-wrapper {
        height: 100vh;
    }

    .deleteProductBtn {
        text-align: right;
    }

    .main-page {
        padding: 40px 20px;
        max-height: 100vh;
        height: 100vh;
        overflow: scroll;
    }

    .btn-below {
        padding-bottom: 10px;
    }

    .btn-custom-market input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }


    .btn-custom-market label {
        float: left;
        display: inline-block;
        width: auto;
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 6px 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition:    all 0.1s ease-in-out;
        -ms-transition:     all 0.1s ease-in-out;
        -o-transition:      all 0.1s ease-in-out;
        transition:         all 0.1s ease-in-out;
    }

    .btn-custom-market {
        overflow: hidden;
    }

    .btn-custom-market label:hover {
        cursor: pointer;
    }


    .btn-custom-market input:checked {
        background-color: #A5DC86;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-custom-market label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .btn-custom-market label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

</style>
