<template>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy; 2018 <a href="https://adminlte.io">B SHOP</a>.</strong> All rights
        reserved.
    </footer>
</template>

<script>
    export default {
        name: "admin-footer-component"
    }
</script>

<style scoped>
 .main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-top: 40px;
    text-align: center;

}
</style>