<template>
    <div class="content-wrapper">
        <div :class="{modal : modal, 'fade' : fade}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input type="text" class="form-control" id="category" v-model="category.name">
                        </div>

                        <div class="form-group">
                            <label for="categorydescription">Description:</label>
                            <textarea class="form-control" id="categorydescription" v-model="category.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="upload">Upload Image:</label>
                            <input type="file" id="upload"/>
                        </div>

                        <div class="form-group">
                            <label for="adminCategory">Admins</label>
                            <select  id="adminCategory" v-model="category.adminCategory">
                                <option value="AO">Admin only</option>
                                <option value="UO">User only</option>
                                <option value="AU">Admin and User</option>
                            </select>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="createNewCategory(category.id)">{{CategoryText}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
        <div class="rowB">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('subjectMatter', null)">Create Subject Matter</button>
                </div>
                <div class="col-md-4 deleteProductBtn">
                    <button class="btn btn-danger" @click="deleteItem('subjectMatter')">Delete</button>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th><input type="checkbox" v-model="overallCheck" @change="overallCheckBox('subjectMatter')"></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="subjectMatters.length > 0" v-for="(subjectMatter, index) in subjectMatters">
                    <td><input type="checkbox" :checked="subjectMatter.itemClick" @change="subjectMatter.itemClick = !subjectMatter.itemClick; overallCheck = false"></td>
                    <td>{{subjectMatter.name}}</td>
                    <td>{{subjectMatter.description}}</td>
                    <td><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('subjectMatterEdit',subjectMatter.id)">Edit</button>
                    <button class="btn btn-sm btn-danger" @click="deleteCategory(subjectMatter.id, index, 'subjectMatter')">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>

        <div>
            <div class="rowB">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('insight', null)">Create Insight</button>
                    </div>
                    <div class="col-md-4 deleteProductBtn">
                        <button class="btn btn-danger" @click="deleteItem('insight')">Delete</button>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" v-model="insightCheck" @change="overallCheckBox('insight')"></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="insights.length > 0" v-for="(insight, index) in insights">
                        <td><input type="checkbox" :checked="insight.itemClick" @change="insight.itemClick = !insight.itemClick; overallCheck = false"></td>
                        <td>{{insight.name}}</td>
                        <td>{{insight.description}}</td>
                        <td><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('insightEdit',insight.id)">Edit</button>
                            <button class="btn btn-sm btn-danger" @click="deleteCategory(insight.id, index, 'insight')">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <div class="rowB">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('concept', null)"> Create Concept</button>
                    </div>
                    <div class="col-md-4 deleteProductBtn">
                        <button class="btn btn-danger" @click="deleteItem('concept')">Delete</button>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" v-model="conceptCheck" @change="overallCheckBox('concept')"></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="topics.length > 0" v-for="(topic, index) in topics">
                        <td><input type="checkbox" :checked="topic.itemClick" @change="topic.itemClick = !topic.itemClick; overallCheck = false"></td>
                        <td>{{topic.name}}</td>
                        <td>{{topic.description}}</td>
                        <td><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('conceptEdit',topic.id)">Edit</button>
                            <button class="btn btn-sm btn-danger" @click="deleteCategory(topic.id, index, 'concept')">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div>
            <div class="rowB">
                <div class="col-md-4">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('industry', null)"> Create Industry</button>
                </div>
                <div class="col-md-4 deleteProductBtn">
                    <button class="btn btn-danger" @click="deleteItem('industry')">Delete</button>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" v-model="industryCheck" @change="overallCheckBox('industry')"></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="industries.length > 0" v-for="(industry, index) in industries">
                        <td><input type="checkbox" :checked="industry.itemClick" @change="industry.itemClick = !industry.itemClick; overallCheck = false"></td>
                        <td>{{industry.name}}</td>
                        <td>{{industry.description}}</td>
                        <td><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" @click="showModal('industryEdit',industry.id)">Edit</button>
                            <button class="btn btn-sm btn-danger" @click="deleteCategory(industry.id, index, 'industry')">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "admin-product-type-component",
        data: function(){
            return {
                token: '',
                subjectMatters: [],
                insights: [],
                topics: [],
                industries: [],
                admin: {},
                fade: true,
                modal: true,
                overallCheck: false,
                insightCheck: false,
                conceptCheck: false,
                industryCheck: false,
                type: '',
                category: {
                    id: '',
                    name: '',
                    description: '',
                    adminCategory: ''
                },
                CategoryText: 'Create Category',
                catId: ''
            }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.admin = admin;

            axios.get('/api/admin/all-subject-matter', {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                .then((response) => {
                    console.log(response);
                    if(response.status === 200){
                        this.subjectMatters = response.data.data;
                        this.getAllInsight();
                        this.getAllTopics();
                        this.getAllIndustry();
                    }
                }).catch((error) => {
                    console.log(error);
            })
        },
        methods: {
            getAllInsight(){
                axios.get('/api/insights', {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                    .then((response) => {
                        if(response.status === 200){
                            this.insights = response.data.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            },
            getAllTopics(){
                axios.get('/api/admin/all-topics', {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                    .then((response) => {
                        if(response.status === 200){
                            this.topics = response.data.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            },
            getAllIndustry(){
                axios.get('/api/industry', {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                    .then((response) => {
                        if(response.status === 200){
                            this.industries = response.data.data;
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            },
            showModal(params, id){
                this.fade = false;
                if(params === 'subjectMatter'){
                    this.type = 'subjectMatter'
                }else if(params === 'insight'){
                    this.type = 'insight';
                }else if(params === 'concept'){
                    this.type = 'concept';
                }else if(params === 'industry'){
                    this.type = 'industry';

                }else if(params === 'industryEdit'){
                    this.type = 'industryEdit';

                    axios.get(`/api/industry/${id}/edit`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            console.log(response.data);
                            this.category.id = response.data.id;
                            this.category.name = response.data.name;
                            this.category.description = response.data.description;
                            this.category.adminCategory = response.data.adminCategory;
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(params === 'conceptEdit'){
                    this.type = 'conceptEdit';
                    axios.get(`/api/subcategorybrand/${id}/edit`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.category.id = response.data.id;
                                this.category.name = response.data.name;
                                this.category.description = response.data.description;
                                this.category.adminCategory = response.data.adminCategory;
                            }
                        }).catch((error) =>{
                        console.log(error);
                    })
                }

                else if(params === 'subjectMatterEdit'){
                    this.type = 'subjectMatterEdit';
                    this.catId = id;
                    axios.get(`/api/subcategory/${id}/edit`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            console.log(response.data);
                            this.category.id = response.data.id;
                            this.category.name = response.data.name;
                            this.category.description = response.data.description;
                            this.category.adminCategory = response.data.adminCategory;
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(params === 'insightEdit'){
                    console.log(id);
                    this.type = 'insightEdit';
                    this.catId = id;
                    axios.get(`/api/insights/${id}/edit`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            this.category.id = response.data.id;
                            this.category.name = response.data.name;
                            this.category.description = response.data.description;
                            this.category.adminCategory = response.data.adminCategory;
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }
            },
            createNewCategory(params){
                if(this.type === 'subjectMatter') {
                    axios.post('/api/subcategory', JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            console.log(response);
                            if (response.status === 201) {
                                this.$toasted.success('Subject matter successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for (var key in error.response.data.errors) {
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(this.type === 'insight'){
                    axios.post('/api/insights', JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if (response.status === 201) {
                                this.$toasted.success('Insight successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for (var key in error.response.data.errors) {
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(this.type === 'concept'){
                    axios.post('/api/subcategorybrand', JSON.parse(JSON.stringify(this.brand)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Subcategory successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(this.type === 'industry'){
                    axios.post('/api/industry', JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if (response.status === 201) {
                                this.$toasted.success('Insight successfully created');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for (var key in error.response.data.errors) {
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                } else if(this.type === 'subjectMatterEdit'){
                    axios.put(`/api/subcategory/${params}`, JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Subcategory successfully edited');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(this.type === 'conceptEdit'){
                    axios.put(`/api/subcategorybrand/${params}`, JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Subcategory successfully edited');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }
                else if(this.type === 'insightEdit'){
                    console.log(params);
                    axios.put(`/api/insights/${params}`, JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Subcategory successfully edited');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(this.type === 'industryEdit'){
                    axios.put(`/api/industry/${params}`, JSON.parse(JSON.stringify(this.category)), {headers: {"Authorization": `Bearer ${this.admin.access_token}`}})
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Subcategory successfully edited');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }
            },
            deleteCategory(id, cat, params){
                console.log(id, cat, params);
                if(params === 'subjectMatter'){
                    console.log('sm');
                    axios.delete(`/api/subcategory/${id}`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success("Deleted Successfully");
                                window.location.reload();
                            }else{
                                this.$toasted.error("Unable to delete item");
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(params === 'insight'){
                    axios.delete(`/api/insights/${id}`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success("Deleted Successfully");
                                window.location.reload();
                            }else{
                                this.$toasted.error("Unable to delete item");
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(params === 'concept'){
                    axios.delete(`/api/subcategorybrand/${id}`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success("Deleted Successfully");
                                window.location.reload();
                            }else{
                                this.$toasted.error("Unable to delete item");
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }else if(params === 'industry'){
                    axios.delete(`/api/industry/${id}`, { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success("Deleted Successfully");
                                window.location.reload();
                            }else{
                                this.$toasted.error("Unable to delete item");
                            }
                        }).catch((error) => {
                        for(var key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                    })
                }
            },
            deleteItem(params){
              if(params === 'subjectMatter'){
                  let deletedArray = [];
                  this.subjectMatters.forEach(item => {
                      if(item.itemClick){
                          deletedArray.push(item.id);
                      }
                  })
                  if(deletedArray.length === 0){
                      this.$toasted.error('You must select at least one subject matter to delete');
                  }else{
                      console.log(deletedArray);
                      axios.post('/api/admin/subject-matter-delete',  JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                          .then((response) => {
                              if(response.status === 200){
                                  console.log(response);
                                  for(let i = 0; i < deletedArray.length; i++){
                                      window.location.reload();
                                  }
                                  this.$toasted.success('All selected items deleted')
                              }else{
                                  this.$toasted.error('Unable to delete');
                              }
                          }).catch((error) => {
                          console.log(error);
                      })
                  }
              }else if(params === 'insight'){
                  let deletedArray = [];
                  this.insights.forEach(item => {
                      if(item.itemClick){
                          deletedArray.push(item.id);
                      }
                  })

                  if(deletedArray.length === 0){
                      this.$toasted.error('You must select at least one subject matter to delete');
                  }else{
                      console.log(deletedArray);
                      axios.post('/api/admin/delete-insights',  JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                          .then((response) => {
                              if(response.status === 200){
                                  console.log(response);
                                  for(let i = 0; i < deletedArray.length; i++){
                                      window.location.reload();
                                  }
                                  this.$toasted.success('All selected items deleted')
                              }else{
                                  this.$toasted.error('Unable to delete');
                              }
                          }).catch((error) => {
                          console.log(error);
                      })
                  }
              }else if(params === 'concept'){
                  let deletedArray = [];
                  this.topics.forEach(item => {
                      if(item.itemClick){
                          deletedArray.push(item.id);
                      }
                  })

                  if(deletedArray.length === 0){
                      this.$toasted.error('You must select at least one subject matter to delete');
                  }else{
                      console.log(deletedArray);
                      axios.post('/api/admin/delete-concepts',  JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                          .then((response) => {
                              if(response.status === 200){
                                  console.log(response);
                                  for(let i = 0; i < deletedArray.length; i++){
                                      console.log(deletedArray[i]);
                                      this.topics.splice(i, 1);
                                  }
                                  this.$toasted.success('All selected items deleted')
                              }else{
                                  this.$toasted.error('Unable to delete');
                              }
                          }).catch((error) => {
                          console.log(error);
                      })
                  }
              }else if(params === 'industry'){
                  let deletedArray = [];
                  this.industries.forEach(item => {
                      if(item.itemClick){
                          deletedArray.push(item.id);
                      }
                  })

                  if(deletedArray.length === 0){
                      this.$toasted.error('You must select at least one subject matter to delete');
                  }else{
                      console.log(deletedArray);
                      axios.post('/api/admin/delete-industry',  JSON.parse(JSON.stringify(deletedArray)), { headers: {"Authorization" : `Bearer ${this.admin.access_token}`} })
                          .then((response) => {
                              if(response.status === 200){
                                  console.log(response);
                                  for(let i = 0; i < deletedArray.length; i++){
                                      console.log(deletedArray[i]);
                                      this.industries.splice(i, 1);
                                  }
                                  this.$toasted.success('All selected items deleted')
                              }else{
                                  this.$toasted.error('Unable to delete');
                              }
                          }).catch((error) => {
                          console.log(error);
                      })
                  }
              }
            },
            overallCheckBox(params){
                if(params === 'subjectMatter'){
                    console.log(params);
                    this.subjectMatters.forEach(item => {
                        if(!('itemClick' in item)){
                            this.$set(item, 'itemClick', true)
                        }else if(this.overallCheck){
                            this.$set(item, 'itemClick', true)
                        }else{
                            this.$set(item, 'itemClick', false)
                        }
                    })
                }else if(params === 'insight'){
                    this.insights.forEach(item => {
                        if(!('itemClick' in item)){
                            this.$set(item, 'itemClick', true)
                        }else if(this.insightCheck){
                            this.$set(item, 'itemClick', true)
                        }else{
                            this.$set(item, 'itemClick', false)
                        }
                    })
                }else if(params === 'concept'){
                    this.topics.forEach(item => {
                        if(!('itemClick' in item)){
                            this.$set(item, 'itemClick', true)
                        }else if(this.conceptCheck){
                            this.$set(item, 'itemClick', true)
                        }else{
                            this.$set(item, 'itemClick', false)
                        }
                    })
                }else if(params === 'industry'){
                    this.industries.forEach(item => {
                        if(!('itemClick' in item)){
                            this.$set(item, 'itemClick', true)
                        }else if(this.industryCheck){
                            this.$set(item, 'itemClick', true)
                        }else{
                            this.$set(item, 'itemClick', false)
                        }
                    })
                }
            },
            deleteAllItem(){

            }
        }
    }
</script>

<style scoped>

    .rowB {
        padding: 30px;
    }

</style>
