<template>
    <div class="content-wrapper">
        <div class="main-page">
          <!--  <div class="row">
               <div class="col-md-4">
                    <h3 class="cat-header">Select Menu Category</h3>
                    <div class="firstBar">
                        <div class="row m-0" v-for="(category, index) in categories" @click="getSubCategory(category.id, category, category.name)" @mouseenter="category.hover = true"  @mouseleave="category.hover = false"  :class="{category: 'catd', 'hover': category.hover, 'clickColor': category.click }">
                            {{category.name}}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="cat-header">Select Subject Matter</h3>
                    <div class="firstBar">
                        <div class="row m-0" v-for="(subcategory, index) in subcategories" @click="getSubCategoryId(subcategory.id, subcategory, subcategory.name)" @mouseenter="subcategory.hover = true" @mouseleave="subcategory.hover = false"  :class="{category: 'catd', 'hover': subcategory.hover, 'clickColor': subcategory.click}">
                            {{subcategory.name}}
                        </div>
                    </div>
                </div>

                  <div class="col-md-4">
                     <h3 class="cat-header">Select Topic</h3>
                     <div class="firstBar">
                         <div class="row m-0" v-for="(subcategoryBrand, index) in subcategoriesBrand" @click="getSubCategoryBrandId(subcategoryBrand.id, subcategoryBrand, subcategoryBrand.name,index)" @mouseenter="subcategoryBrand.hover = true"  @mouseleave="subcategoryBrand.hover = false"  :class="{category: 'catd', 'hover': subcategoryBrand.hover, 'clickColor': subcategoryBrand.click}">
                             {{subcategoryBrand.name}}
                         </div>
                     </div>
                 </div>

                <div class="col-md-12 text-center">
                    <h3>{{category_name}}</h3>
                    <p>{{subcategory_name}}</p>
                    <p>{{subcategoryBrand_name}}</p>
                    <button class="btn btn-primary" @click="addCategory()" :disabled="btn">Add Category</button>
                </div>
            </div>-->

            <div class="row">
                <label>Select Categories</label>
                <select class="form-control" v-model="cat.category_id" @change="prodtype($event)">
                    <option v-if="categories.length > 0" v-for="(category, index) in categories" :value="category.id">{{category.name}}</option>
                </select>

                <label>Select Subject Matter</label>
                <select class="form-control" v-model="cat.sub_category_id">
                    <option v-if="subjectMatters.length > 0" v-for="(subjectMatter, index) in subjectMatters" :value="subjectMatter.id">{{subjectMatter.name}}</option>
                </select>

                <label>Select Insights</label>
                <select class="form-control" v-model="cat.insight_id">
                    <option v-if="insights.length > 0" v-for="(insight, index) in insights" :value="insight.id">{{insight.name}}</option>
                </select>

                <label>Select Industries</label>
                <select class="form-control" v-model="cat.industry_id">
                    <option v-if="industries.length > 0" v-for="(industry, index) in industries" :value="industry.id">{{industry.name}}</option>
                </select>



                <label>Select Concept</label>
                <select class="form-control multiDis" multiple v-model="cat.sub_category_brand_id">
                    <option v-if="topics.length > 0" v-for="(topic, index) in topics" :value="topic.id">{{topic.name}}</option>
                </select>

                <button class="btn btn-primary" @click="addCategory()">Add Category</button>




            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "admin-add-product-category-component",
        data: function(){
            return {
                categories: [],
                subjectMatters: [],
                topics: [],
                insights: [],
                industries: [],
                token: '',
                catd: true,
                category_name: '',
                subcategory_name: '',
                subcategoryBrand_name: '',
                subcategoriesBrand: [],
                subcategories: [],
                cat: {
                    category_id:'',
                    sub_category_id: '',
                    sub_category_brand_id: [],
                    topicsId: '',
                    vendor_user_id: '',
                    productCategory: 'BP',
                    insight_id: '',
                    industry_id: ''
                },
                btn: true,
                topicId: [],
                subcat: ''
            }
        },
        mounted(){
            let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
            this.cat.vendor_user_id = authAdmin.id;
            if(authAdmin !== null){
                this.token = authAdmin.access_token;
              axios.get('/api/admin/get/category', { headers: {"Authorization" : `Bearer ${authAdmin.access_token}`} })
                  .then((response) => {
                      if(response.status === 200){
                          this.categories = response.data;
                          this.getRealSubjectMatter();
                          this.getVendorInsight();
                          this.getVendorTopics();
                          this.getVendorIndustry();
                          this.categories.forEach((item) => {
                              this.$set(item, 'hover', false);
                          });
                          this.categories.forEach((item) => {
                              this.$set(item, 'click' , false);
                          });
                      }
                  }).catch((error) => {
                      console.log(error);
              })
            }
        },
        methods: {
            prodtype(){
               this.categories.forEach((item, index) => {
                   if(item.id === this.cat.category_id){
                       this.category_name = item.name;
                   }
               })
            },

            getSubCategory(subcat, category, category_name){
                this.categories.forEach((val)=> {
                    val.click = false;
                });
                console.log(subcat);
                axios.get(`/api/admin/get/subcategory/${subcat}`,  { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.cat.category_id = subcat;
                            this.cat.sub_category_id = '';
                            this.subcategories = response.data;
                            this.subcategories.forEach((item) => {
                                this.$set(item, 'hover', false);
                            });
                            category.click = true;
                            this.category_name = category_name;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            },
            getSubCategoryId(subcatid, subcategory, subcategory_name){
                this.subcat = subcategory_name;
                axios.get(`/api/admin/get/topic/${subcatid}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            this.subcategoriesBrand = response.data;
                            this.subcategoriesBrand.forEach((item) => {
                                this.$set(item, 'hover', false);
                            })
                        }
                    }).catch((error) => {
                        console.log(error);
                });
                this.subcategories.forEach((val) => {
                    val.click = false;
                });
                this.cat.sub_category_id = subcatid;
                subcategory.click = true;
                this.subcategory_name = subcategory_name;
                this.btn = false;
            },
            getSubCategoryBrandId(subbrandId, subcategoryBrand, subcategoryBrand_name, index) {
                if(this.topicId.includes(subbrandId)){
                    let a = this.topicId.indexOf(subbrandId)
                    if(a > -1){
                        this.topicId.splice(a, 1);
                        this.cat.sub_category_brand_id = JSON.stringify(this.topicId);
                        subcategoryBrand.click = false;
                    }

                }else {
                    this.topicId.push(subbrandId);
                    this.cat.sub_category_brand_id = JSON.stringify(this.topicId);
                    subcategoryBrand.click = true;
                }
            },
            addCategory(){
                console.log(this.cat);
                this.cat.topicsId = JSON.stringify(this.cat.sub_category_brand_id);
                console.log(this.cat);

                axios.post('/api/product', JSON.parse(JSON.stringify(this.cat)),  { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response)=> {
                    if(response.status === 201){
                        let id = response.data.data.id;
                        this.$toasted.success('Category successfully added');
                      //  this.$router.push(`/admin/add/product/${id}/${this.category_name}`);
                        this.$router.push({name: 'adminAddProduct', params: { id: id, name: this.category_name.replace(/ /g, '-') }})
                    }
                }).catch((error) => {
                    for(var key in error.response.data.errors){
                        this.$toasted.error(error.response.data.errors[key][0]);
                    }
                })
            },
            getRealSubjectMatter(){
                axios.get('/api/vendor-subject-matter')
                    .then((response) => {
                        if(response.status === 200){
                            this.subjectMatters = response.data;
                        }
                    }).catch((error) => {
                        console.log(error)
                })
            },
            getVendorInsight(){
                axios.get('/api/vendor-insights')
                    .then((response) => {
                        if(response.status === 200){
                            this.insights = response.data;
                        }
                    }).catch(error => {
                        console.log(error)
                })
            },
            getVendorTopics(){
                axios.get('/api/vendor-topics')
                    .then((response) => {
                        if(response.status === 200){
                            this.topics = response.data;
                        }

                    }).catch((error) => {
                        console.log(error);
                })
            },
            getVendorIndustry(){
                axios.get('/api/vendor-industry')
                    .then((response) => {
                        if(response.status === 200){
                            this.industries = response.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }

            }
    }
</script>

<style scoped>

    .multiDis {
        overflow: scroll;
    }

    .content-wrapper {
        height: 100vh;
    }

    .main-page {
        padding: 40px 20px;
        max-height: 100vh;
        height: 100vh;
        overflow: scroll;
    }

    .category {
        width: 100%;
        padding: 8px;
        border-bottom: 1px solid black;
        cursor: pointer;
        text-transform: capitalize;
    }

    .hover, .clickColor {
        background: #222d32;
        color: #ffffff;
    }

    .firstBar {
        border: 4px solid black;
        height: 55vh;
        overflow: scroll;
    }


    .cat-header {
        margin: 19px 0;
        font-size: 17px;
        font-weight: bold;
    }
</style>
