<template>
    <header class="main-header w-100 bg-white">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>B</b>SHOP</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>B</b>SHOP</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <!-- <nav class="navbar navbar-static-top">
          
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>


        </nav> -->
    </header>
</template>

<script>
    export default {
        name: "adim-main-header-component"
    }
</script>

<style scoped>
.main-header{
  box-shadow:  0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important
}

</style>