<template>


    <div class="wrapper skin-blue">
        <div class="content-wrapper">

            <div class="main-page">
                <table class="table">
                    <thead>
                    <th>SN</th>
                    <th>Order Num</th>
                    <th>Reference No</th>
                    <th>Payment Method</th>
                    <th>Total Amount</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr v-if="orders.length > 0" v-for="(order, index) in orders">
                        <td>{{index + 1}}</td>
                        <td>{{order.orderNum}}</td>
                        <td>{{order.referenceNo}}</td>
                        <td>{{order.paymentType}}</td>
                        <td>{{order.totalAmount}}</td>
                        <td>  <i class="fa fa-arrow-right"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        </div>
</template>

<script>

    export default {
        name: "admin-order-component",
        data: function(){
            return {
                token: '',
                orders: []
            }
        },
        mounted(){
            let admin = JSON.parse(localStorage.getItem('authAdmin'));
            this.token = admin.access_token;
            if(admin != null){
               axios.get(' /api/order', {headers: {"Authorization": `Bearer ${admin.access_token}`}})
                   .then((response) => {
                       if(response.status === 200){
                           this.orders = response.data.data;
                       }
                   }).catch((error) => {
                       console.log(error);
               })
            }else{
                this.$router.push('/admin/auth/manage');
            }

        }
    }
</script>

<style scoped>
    .content-wrapper {
        height: 100vh;
    }

    .container {
        width: 100%;
    }

    .content-wrapper {
        padding:30px 20px;
    }

    th {
        background-color: #f3f3f3;
        color: #000000;
        font-weight: bold;
    }

    th, td {
        padding: 30px !important;
    }

    td {
        color: #aaaaaa;
    }


</style>
