<template>
    <div class="content-wrapper">
    <div class="main-page">
    <div class="row">

      <div class="main">
            <h2 class="mb-4">Question List</h2>
        <div class="create">
           <router-link tag="a" :to="{name:'ChecklistQuestion'}">
                <button type="button" class="btn btn-primary">Create question</button>
           </router-link>

        </div>
      </div>


    
    </div>

      <div class="row">

          <table class="table" >
              <thead>
                  <tr>
                      <th>S/n</th>
                      <th>Title</th>
                      <th>Status</th>
                      <th>Edit</th>
                  </tr>
              </thead>
              <tbody v-if="allQuestions.length > 0">
                  <tr v-for="(question, index) in allQuestions" v-bind:key="index">
                      <td scope="row">{{index + 1}}</td>
                      <td>{{question.title}}</td>
                      <td v-if="question.verify === 0">Pending</td>
                      <td v-else>Active</td>
                    <td class="butt" >
                     <router-link tag="a" :to="{name:'editChecklistPage', params:{id:question.id}}" class="buttt"> 

                      
                              <i class="fa fa-pencil-square fa-2x " aria-hidden="true"></i>
                              <span id="edit">Edit</span>
                  
                     </router-link>
                      <span  @click="deleteQuestion(question.id)" class="buttt">

                      
                         
                              <i class="fas fa-trash  fa-inverse fa-2x " aria-hidden="true"></i>
                              <span id="del"> Delete</span>
                  
                     </span>
                      <span  class="buttt">

                      
                         <i @click="verifyQuestion(question.id)" v-if="question.verify === 0" class="fas fa-check-square fa-inverse fa-2x" aria-hidden="true"></i>
                       
                         <i @click="unVerifyQuestion(question.id)" v-else class="fas fa-undo   fa-2x "></i>
                           <span id="verify" class="verifys">
                               <span v-if="question.verify === 0"> Verify</span>
                               <span v-else>unverify</span>
                           </span>
                            
                  
                     </span>
                  </td>
                  </tr>
                
                
              </tbody>
          </table>
          
      </div>
    </div>
    </div>
</template>


<script>
export default {
    name:'checklist-page',
    data: function(){
        return{

            allQuestions:[],
            active:null,

        }
    },

    created(){
       this.getQuestions()
    },
    watch: {
        'active':'getQuestions'
    },
    methods: {
        getQuestions(){
             axios.get('/api/questions').then(response=>{
            this.allQuestions = response.data
        })
        },
        deleteQuestion(id){

          let del =  confirm('Do you want to delete?')
          if (del) {
               axios.delete(`/api/questions/${id}`).then(response=>{
                if (response.status === 200) {
                    // if (response.data === 'deleted') {
                        this.$toasted.success('Question deleted')
                        this.$router.go(0);
                    // }
                }
            })
          }
           
        },
        verifyQuestion(id){
            axios.get(`/api/verify-question/${id}`).then(response=>{
                if (response.status === 200) {
                    //   if (response.data === 'verified') {
                        this.$toasted.success('Verified')
                        this.active = true
                        
                    // }
                }
                
            })
        },
         unVerifyQuestion(id){
               axios.get(`/api/unverify-question/${id}`).then(response=>{
                   if (response.status === 200) {
                    //    if (response.data === 'unverified') {
                        this.$toasted.error('Unverified')
                        this.active = false
                     
                    // }
                   }
                  
            })
        }
        
    },
}
</script>

<style scoped>

    .content-wrapper {
        height: 100vh;
    }

    

    .main-page {
        padding: 40px 20px;
        max-height: 100vh;
        height: 100vh;
        overflow: scroll;
    }
   th, tr{
        text-align: center;
    }
    td{
        text-transform: capitalize;
    }
    .main{
      width:100%;
      display: flex;
      justify-content: space-between;
    }
    .butt{
        display:flex;
        justify-content: space-around;
    }
    .fa-2x{
        font-size: 1.2em;
    }
    .fa-trash{
        color:red;
       
    }
    .fa-check-square{
        color:green;
       
    }
    .fa-undo{
        color:black;
        
    }
    .buttt{
         position: relative;
         cursor: pointer;
    }


        #verify{
        display: none;
        position: absolute;
        top:-30px;
        left: -15px;
        width:60px;
        font-size: 12px;
        padding: 5px;
        background:#fafafa;
        color:black;
        border-radius: 2px;
    }
    .buttt:hover #verify{
        display: block;
    }
    #edit{
         display: none;
        position: absolute;
        top:-30px;
        left: -15px;
        width:60px;
        font-size: 12px;
        padding: 5px;
        background:#fafafa;
        color:black;
        border-radius: 2px;
    }
     .buttt:hover #edit{
        display: block;
    }
    #del{
        display: none;
        position: absolute;
        top:-30px;
        left: -15px;
        width:60px;
        font-size: 12px;
        padding: 5px;
        background:#fafafa;
        color:black;
        border-radius: 2px;
    }
     .buttt:hover #del{
        display: block;
    }
  

</style>