<template>
  <div class="content_wrapper">
    <form class="main-page" @submit.prevent="submit">
      <div class="form-group">
        <label class="mb-2" for="title">Questionaire Catalog</label>
        <select class="form-control" name id v-model="catalog">
          <option value>Select</option>
          <option value="qg">Questionaire/Guides</option>
          <option value="diagnostics">Business Diagnostics</option>
        </select>
      </div>

      <div class="form-group">
        <label class="mb-2" for="title">Questionaire Title</label>
        <input
          type="text"
          class="form-control"
          name
          id="title"
          aria-describedby="helpId"
          placeholder
          minlength="10"
          v-model="title"
          required
        />
      </div>

      <div class="form-group" v-if="catalog=== 'diagnostics'">
        <label class="mb-2" for="title">Premise</label>
        <app-editor
          apiKey="b2xt6tkzh0bcxra613xpq9319rtgc3nfwqbzh8tn6tckbgv3"
          :init="{plugins: 'wordcount, lists, advlist'}"
          class="form-control"
          v-model="premise"
        ></app-editor>
      </div>

      <div class="form-group" v-if="catalog=== 'diagnostics'">
        <label class="mb-2" for="title">Questionaire Type</label>
        <select class="form-control" name id v-model="type">
          <option value>Select</option>
          <option value="brain-gym">Brain-gym</option>
        </select>
      </div>

      <div class="form-group" v-else>
        <label class="mb-2" for="title">Questionaire Type</label>
        <select class="form-control" name id v-model="type">
          <option value>Select</option>
          <option value="qa">Checklist</option>
          <option value="template">Business Template</option>
          <option value="bg">Business Guide</option>
        </select>
      </div>

      <div v-for="(model,index) in models" v-bind:key="index" class="questionGroup">
        <div class="form-group">
          <h5 class="mb-2" for="title">Question Category {{index + 1}}</h5>
          <input
            type="text"
            class="form-control"
            name
            id="title"
            aria-describedby="helpId"
            placeholder="Enter category"
            v-model="model.category"
            required
          />
        </div>

        <div v-for="(question,index) in model.questions" v-bind:key="index">
          <div class="form-group">
            <h5 class="mb-2" for="title">Question {{index+1}}</h5>
            <input
              type="text"
              class="form-control"
              name
              id="title"
              aria-describedby="helpId"
              placeholder="Enter question"
              v-model="question.title"
              required
            />
          </div>

          <div class="form-group">
            <label class="mb-2" for>Type</label>
            <select class="form-control" name id v-model="question.type" required>
              <option value="tf">True/False</option>
              <option value="mc">Multiple Optons</option>
              <option value="radio">Single Options</option>
              <option value="text">text</option>
            </select>
          </div>

          <div class="form-group" v-if="question.type === 'mc' || question.type === 'radio'">
            <label class="mb-2" for="option">Options</label>
            <div class="d-flex">
              <input
                type="text"
                class="form-control"
                name
                id="option"
                aria-describedby="helpId"
                placeholder
                v-model="question.option"
              />
              <button
                type="button"
                class="btn btn-primary"
                @click="addOption(question.options, question.option)"
              >Add</button>
            </div>
            <div v-for="(quest, index) in question.options" v-bind:key="index">
              <ul>
                <li>
                  {{quest}}
                  <i
                    style="color:red"
                    class="fas fa-trash fa-inverse fa-1x ml-2"
                    aria-hidden="true"
                    @click="removeOption(question.options,index)"
                  ></i>
                </li>
              </ul>
            </div>
            <br />
            <div></div>
          </div>

          <div class="form-group" v-if="type==='qa'">
            <label class="mb-2" for="title">Answer(s)</label>
            <div class="d-flex">
              <input
                type="text"
                class="form-control"
                name
                id="title"
                aria-describedby="helpId"
                placeholder
                v-model="question.answer"
              />
              <button
                type="button"
                class="btn btn-primary"
                @click="addOption(question.answers, question.answer)"
              >Add</button>
            </div>
            <div v-for="(quest, index) in question.answers" v-bind:key="index">
              <ul>
                <li>
                  {{quest}}
                  <i
                    style="color:red"
                    class="fas fa-trash fa-inverse fa-1x ml-2"
                    aria-hidden="true"
                    @click="removeOption(question.answers,index)"
                  ></i>
                </li>
              </ul>
            </div>
            <br />
          </div>
        </div>

        <div>
          <button type="button" class="btn btn-primary sub" @click="create(index)">Add question</button>
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-primary sub" @click="addCategory">Add Category</button>
      </div>

      <div class="submit">
        <button @click="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</template>


<script>
export default {
  name: "edit-checklist-page",
  data: function() {
    return {
      id: this.$route.params.id,
      title: "",
      premise: "",
      type: "",
      catalog: "",

      models: [
        {
          category: "",
          questions: [
            {
              title: "",
              type: "tf",
              option: "",
              options: [],
              answers: [],
              answer: ""
            }
          ]
        }
      ],
      answers: []
    };
  },

  created() {
    axios.get(`/api/questions/${this.id}`).then(response => {
      this.title = response.data.title;
      this.type = response.data.name;
      this.catalog = response.data.catalog
      this.premise = response.data.premise
      this.models = JSON.parse(response.data.questions);
    });
  },
  methods: {
    addOption(options, option) {
      options.push(option);
      option = " ";

      this.$toasted.success("Added");
    },

    removeOption(options, index) {
      options.splice(index);
      this.$toasted.success("Removed");
    },
    create(i) {
      this.models[i].questions.push({
        title: "",
        type: "tf",
        option: "",
        options: [],
        answers: [],
        answer: ""
      });
      this.$toasted.success("Question added");
    },
    addCategory() {
      this.models.push({
        category: "",
        questions: [
          {
            title: "",
            type: "tf",
            option: "",
            options: [],
            answers: [],
            answer: ""
          }
        ]
      });
    },

    submit() {
      let data = {
        title: this.title.toLowerCase(),
        models: this.models,
        name: this.type
      };
      axios
        .put(`/api/questions/${this.id}`, JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            this.$router.go(-1);
            this.$toasted.success("Question updated");
          }
        });
    }
  }
};
</script>

<style scoped>
.container {
  padding: 80px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.content-wrapper {
  height: 100vh;
}

.main-page {
  padding: 40px 20px;
  max-height: 100vh;
  height: 100vh;
  padding: 20px 30px;
  box-shadow: 0 0 2px 1px #ccc;
  overflow: scroll;
}
.main {
  background: white;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px #ccc;
  width: 80%;
  min-height: 500px;
}
ul,
ol {
  list-style: none;
}
.labs {
  background: white;
  padding: 1px 10px;
  margin: 8px 0;
  width: max-content;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.btn-primary {
  background-color: rgb(171, 171, 190) !important;
  border: none !important;
}
.sub {
  margin: 20px;
  background-color: rgba(53, 113, 141, 0.6) !important;
}
.form-control {
  background: rgba(255, 255, 255, 0.5);
}
.questionGroup {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.submit {
  width: 100%;
  text-align: right;
}
</style>

