<template>
    <div class="main-page" v-if="dis">
        <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading>
          <router-link  class="btn btn-primary mb-4" v-if="linkTag" tag="a" :to="{name: 'adminProductEditcategory', params: {id: products.uniId}}">Edit</router-link>
        <button class="btn btn-danger mb-4" @click="deleteProduct(products.uniId)">Delete</button>
        <button class="btn btn-primary mb-4" @click="verifyAdminProduct(products.uniId)">{{verifyProducts}}</button>

        <div class="stDiv">STATUS: {{products.verify === 1 ? 'ACTIVE' : 'INACTIVE'}}</div>
             <div class="row">
                <div class="col-md-6">
                  <img :src="products.coverImage"  class="imgFullSide">
                </div>
                 <div class="col-md-6">
                     <h2>{{products.title}}</h2>
                     <p v-if="products.host"> {{products.host ? 'Host:' : ''}} {{products.host}}</p>
                     <p>{{products.level ? 'Level: ' : ''}} {{products.level }}</p>
                     <p>{{products.certification ? 'Certification Avaliability: ' : ''}} {{products.certification }}</p>
                     <p class="productAuthor">{{products.author ? 'Author: ' : ''}} {{products.author}}  <span v-if="products.guest !== null">{{products.guest ? 'Guest:' : ''}} {{products.guest}}</span> {{storeName}}</p><span>{{categoryName}}</span>
                     <p>{{products.publisher ? 'Publisher: ' : ''}} {{products.publisher}}</p>
                     <hr>

                     <div>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>

                         <span class="proReview">4 Customer Reviews</span><span class="proEdi">Editorial Review</span>
                     </div>
                     <hr>

                     <div class="">
                        <!-- <p>{{title}}</p>
                         <div class="divC">₦{{price}}.00</div>-->
                     </div>

                     <div class="row">
                         <div v-if="products.hardCopyPrice !== null" class="hardCover col-md-6" @click="togglePrice('hardCopy')">
                             ₦{{products.hardCopyPrice}}.00
                             <p>Hard Copy</p>
                         </div>
                         <div v-if="products.softCopyPrice !== null" class="softCover col-md-6" @click="togglePrice('softCopy')">
                             ₦{{products.softCopyPrice}}.00
                             <p>Digital Copy</p>
                         </div>

                         <div v-if="products.audioPrice !== null" class="softCover col-md-6" @click="togglePrice('softCopy')">
                             ₦{{products.audioPrice}}.00
                             <p>Audio Copy</p>
                         </div>
                         <div v-if="products.readOnlinePrice !== null" class="softCover col-md-6" @click="togglePrice('readOnline')">
                             ₦{{products.readOnlinePrice}}.00
                             <p>Read Online</p>
                         </div>

                         <div v-if="products.eventPrice !== null" class="softCover col-md-6" @click="togglePrice('eventPrice')">
                         ₦{{products.eventPrice}}.00
                         <p>Event Price</p>
                         </div>

                         <div v-if="products.videoPrice !== null" class="softCover col-md-6" @click="togglePrice('softCopy')">
                             ₦{{products.videoPrice}}.00
                             <p>Video Copy</p>
                         </div>

                         <div v-if="products.webinarPrice !== null" class="softCover col-md-6" @click="togglePrice('webinarCopy')">
                             ₦{{products.webinarPrice}}.00
                             <p>Webinar Copy</p>
                         </div>

                         <div v-if="products.streamPrice !== null" class="softCover col-md-6" @click="togglePrice('streamCopy')">
                             ₦{{products.streamPrice}}.00
                             <p>Streaming Copy</p>
                         </div>

                         <div v-if="products.subscribePrice !== null" class="softCover col-md-6" @click="togglePrice('subscribeCopy')">
                             ₦{{products.subscribePrice}}.00
                             <p>Subscribe Copy</p>
                         </div>

                     </div>
                     <hr>
                 </div>
          </div>
             <div class="row">
                 <div v-if="checkBook" class="col-md-2 customTab" @click="changeTabsContent('product detail')">Product Details</div>
                 <div  v-if="products.aboutAuthor" class="col-md-2 customTab" @click="changeTabsContent('About the author')">About the Author</div>
                 <div  v-if="products.aboutThisAuthor" class="col-md-2 customTab" @click="changeTabsContent('About the author')">About the Author</div>
                 <div v-if="tableOfContent" class="col-md-2 customTab" @click="changeTabsContent('table of content')">Table of Content</div>
                 <div v-if="excerpts" class="col-md-2 customTab" @click="changeTabsContent('read an excerpts')">Read an Excerpts</div>
                 <div v-if="products.description" class="col-md-2 customTab" @click="changeTabsContent('overview')">Overview</div>
             </div>

        <div v-if="checkBook">
            <p v-if="products.fileType !== null">ISBN: {{products.isbn}}</p>
            <p v-if="products.publisher !== null">Publisher: {{products.publisher}}</p>
            <p v-if="products.publicationDate !== null">Publication Date: {{products.publisherDate}}</p>
            <p v-if="products.pageNo !== null">Pages: {{products.noOfPages}}</p>
        </div>

        <div v-if="products.aboutAuthor">
        {{products.aboutAuthor}}
        </div>


        <div v-if="products.aboutThisAuthor">
            {{products.aboutThisAuthor}}
        </div>
        <div v-if="tableOfContent">
            {{products.tableOfContent}}
        </div>
        <div v-if="excerpts">
            {{products.excerpts}}
        </div>

        <div v-if="products.description" v-html="products.description">
        </div>


        <hr>


      </div>



</template>

<style scoped>
    .stDiv {
        float: right;
    }
    .moreProductDetail {
        text-align: center;
        padding: 40px;
    }

    .main-page {
        background-color: #ffffff;
         padding: 30px;
        width: 70%;
        margin-top: 28px;
        margin-bottom: 28px;
        margin-right: 28px;
        margin-left: auto;
    }

    .productAuthor {
        float: left;
        margin-right: 200px;
    }

    .hardCover, .softCover {
        border: 2px solid #4c4c4c;
        max-width: 25%;
        padding: 11px;
    }

    .customTab {
        text-align: center;
        border: 2px solid #f5f5f5;
        padding: 20px;
        text-transform: uppercase;
        margin: 40px;
    }



    .proReview {
        margin-left: 50px;
        margin-right: 50px;
    }
    .divC {
        font-size: 40px;
        margin: 17px 0 50px 0;
    }

    .imgFullSide {
        float:left;
        height: 50%;
        width: 70%;
    }
    .videoList {
        padding: 3px 5px;
        border: 1px solid black;
        border-radius: 4px;
    }
</style>


<script>

    export default {
        data: function(){
          return {
              id: this.$route.params.id,
              products: {},
              isActive: true,
              productDetails: true,
              tableOfContent: false,
              checkBook: false,
              token: '',
              storeName: '',
              categoryName: '',
              excerpts: false,
              aboutAuthor: false,
              linkTag: false,
              price: '',
              title: 'Hard Copy',
              dis: false,
              verifyProducts: 'Verify Product',
          }
        },
        mounted(){
            let authAdmin = JSON.parse(localStorage.getItem('authAdmin'));
            if(authAdmin != null) {
                this.token = authAdmin.access_token;
                axios.get(`/api/product/${this.id}`, { headers: {"Authorization" : `Bearer ${authAdmin.access_token}`} }).then((response) => {

                   if(response.status === 200) {
                       let emptyObject = {};
                       console.log(response.data.data);
                       switch (response.data.data.prodType) {
                           case 'Books':
                               this.$set(response.data.data.books, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.books, 'uniId', response.data.data.id);
                               this.$set(response.data.data.books, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.books, 'verify', response.data.data.verify);
                               this.$set(response.data.data.books, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice : null);
                               this.$set(response.data.data.books, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.books, 'softCopyPrice', response.data.data.softCopyPrice ? response.data.data.softCopyPrice : null);
                               this.$set(response.data.data.books, 'audioPrice', null);
                               this.$set(response.data.data.books, 'videoPrice', null);
                               this.$set(response.data.data.books, 'webinarPrice', null);
                               this.$set(response.data.data.books, 'streamPrice', null);
                               this.$set(response.data.data.books , 'subscribePrice', null);
                               emptyObject = response.data.data.books;
                               console.log('fff')
                               break;
                           case 'White Paper':
                               this.$set(response.data.data.whitePaper, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.whitePaper, 'uniId', response.data.data.id);
                               this.$set(response.data.data.whitePaper, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.whitePaper, 'verify', response.data.data.verify);
                               this.$set(response.data.data.whitePaper, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice : null);
                               this.$set(response.data.data.whitePaper, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.whitePaper, 'softCopyPrice', response.data.data.softCopyPrice ? response.data.data.softCopyPrice : null);
                               this.$set(response.data.data.whitePaper, 'audioPrice', null);
                               this.$set(response.data.data.whitePaper, 'videoPrice', null);
                               this.$set(response.data.data.whitePaper, 'webinarPrice', null);
                               this.$set(response.data.data.whitePaper, 'streamPrice', null);
                               this.$set(response.data.data.whitePaper, 'subscribePrice', null);
                               emptyObject = response.data.data.whitePaper;
                               break;
                           case 'Market Reports':
                               this.$set(response.data.data.marketReport, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.marketReport, 'uniId', response.data.data.id);
                               this.$set(response.data.data.marketReport, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.marketReport, 'verify', response.data.data.verify);
                               this.$set(response.data.data.marketReport, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice : null);
                               this.$set(response.data.data.marketReport, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.marketReport, 'softCopyPrice', response.data.data.softCopyPrice ? response.data.data.softCopyPrice : null);
                               this.$set(response.data.data.marketReport, 'audioPrice', null);
                               this.$set(response.data.data.marketReport, 'videoPrice', null);
                               this.$set(response.data.data.marketReport, 'webinarPrice', null);
                               this.$set(response.data.data.marketReport, 'streamPrice', null);
                               this.$set(response.data.data.marketReport, 'subscribePrice', null);
                               emptyObject = response.data.data.marketReport;
                               break;
                           case 'Market Research':
                               this.$set(response.data.data.marketResearch, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.marketResearch, 'uniId', response.data.data.id);
                               this.$set(response.data.data.marketResearch, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.marketResearch, 'verify', response.data.data.verify);
                               this.$set(response.data.data.marketResearch, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice : null);
                               this.$set(response.data.data.marketResearch, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.marketResearch, 'softCopyPrice', response.data.data.softCopyPrice ? response.data.data.softCopyPrice : null);
                               this.$set(response.data.data.marketResearch, 'audioPrice', null);
                               this.$set(response.data.data.marketResearch, 'videoPrice', null);
                               this.$set(response.data.data.marketResearch, 'webinarPrice', null);
                               this.$set(response.data.data.marketResearch, 'streamPrice', null);
                               this.$set(response.data.data.marketResearch, 'subscribePrice', null);
                               emptyObject = response.data.data.marketResearch;
                               break;
                           case 'Webinar':
                               this.$set(response.data.data.webinar, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.webinar, 'uniId', response.data.data.id);
                               this.$set(response.data.data.webinar, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.webinar, 'verify', response.data.data.verify);
                               this.$set(response.data.data.webinar, 'readOnlinePrice', null);
                               this.$set(response.data.data.webinar, 'hardCopyPrice', null);
                               this.$set(response.data.data.webinar, 'softCopyPrice', null);
                               this.$set(response.data.data.webinar, 'audioPrice', null);
                               this.$set(response.data.data.webinar, 'webinarPrice', response.data.data.webinarPrice ? response.data.data.webinarPrice : null);
                               this.$set(response.data.data.webinar, 'videoPrice', null);
                               emptyObject = response.data.data.webinar;
                               break;
                           case 'Podcast':
                               this.$set(response.data.data.webinar, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.webinar, 'uniId', response.data.data.id);
                               this.$set(response.data.data.webinar, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.webinar, 'verify', response.data.data.verify);
                               this.$set(response.data.data.webinar, 'readOnlinePrice', response.data.data.readOnlinePrice);
                               this.$set(response.data.data.webinar, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.webinar, 'softCopyPrice', null);
                               this.$set(response.data.data.webinar, 'audioPrice', response.data.data.audioPrice ? response.data.data.audioPrice : null);
                               this.$set(response.data.data.webinar, 'webinarPrice', response.data.data.webinarPrice ? response.data.data.webinarPrice : null);
                               this.$set(response.data.data.webinar, 'streamPrice', response.data.data.streamPrice ? response.data.data.streamPrice : null);
                               this.$set(response.data.data.webinar, 'subscribePrice', response.data.data.subscribePrice ? response.data.data.subscribePrice : null);
                               this.$set(response.data.data.webinar, 'videoPrice', response.data.data.videoPrice ? response.data.data.videoPrice : null);
                               emptyObject = response.data.data.webinar;
                               break;
                           case 'Videos':
                               this.$set(response.data.data.webinar, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.webinar, 'uniId', response.data.data.id);
                               this.$set(response.data.data.webinar, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.webinar, 'verify', response.data.data.verify);
                               this.$set(response.data.data.webinar, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice : null);
                               this.$set(response.data.data.webinar, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.webinar, 'softCopyPrice', null);
                               this.$set(response.data.data.webinar, 'audioPrice', null);
                               this.$set(response.data.data.webinar, 'webinarPrice', response.data.data.webinarPrice ? response.data.data.webinarPrice : null);
                               this.$set(response.data.data.webinar, 'streamPrice', response.data.data.streamPrice ? response.data.data.streamPrice : null);
                               this.$set(response.data.data.webinar, 'subscribePrice', response.data.data.subscribePrice ? response.data.data.subscribePrice : null);
                               this.$set(response.data.data.webinar, 'videoPrice', response.data.data.videoPrice ? response.data.data.videoPrice : null);
                               emptyObject = response.data.data.webinar;
                               break;
                           case 'Journals':
                               this.$set(response.data.data.journal, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.journal, 'uniId', response.data.data.id);
                               this.$set(response.data.data.journal, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.journal, 'verify', response.data.data.verify);
                               this.$set(response.data.data.journal, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice: null);
                               this.$set(response.data.data.journal, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.journal, 'softCopyPrice', response.data.data.softCopyPrice ? response.data.data.softCopyPrice : null );
                               this.$set(response.data.data.journal, 'audioPrice', null);
                               this.$set(response.data.data.journal, 'videoPrice', null);
                               this.$set(response.data.data.journal, 'webinarPrice', null);
                               this.$set(response.data.data.journal, 'streamPrice', null);
                               this.$set(response.data.data.journal, 'subscribePrice', null);
                               emptyObject = response.data.data.journal;
                               break;
                           case 'Courses':
                               this.$set(response.data.data.courses, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.courses, 'uniId', response.data.data.id);
                               this.$set(response.data.data.courses, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.courses, 'verify', response.data.data.verify);
                               this.$set(response.data.data.courses, 'readOnlinePrice', response.data.data.readOnlinePrice ? response.data.data.readOnlinePrice : null);
                               this.$set(response.data.data.courses, 'hardCopyPrice', response.data.data.hardCopyPrice ? response.data.data.hardCopyPrice : null);
                               this.$set(response.data.data.courses, 'softCopyPrice', response.data.data.softCopyPrice ? response.data.data.softCopyPrice : null);
                               this.$set(response.data.data.courses, 'audioPrice', response.data.data.audioPrice ? response.data.data.audioPrice : null);
                               this.$set(response.data.data.courses, 'videoPrice', response.data.data.videoPrice ? response.data.data.videoPrice : null);
                               this.$set(response.data.data.courses, 'webinarPrice', null);
                               this.$set(response.data.data.courses, 'streamPrice', null);
                               this.$set(response.data.data.courses, 'subscribePrice', null);
                               emptyObject = response.data.data.courses;
                               break;
                           case 'Events':
                               this.$set(response.data.data.events, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.events, 'uniId', response.data.data.id);
                               this.$set(response.data.data.events, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.events, 'verify', response.data.data.verify);
                               this.$set(response.data.data.events, 'eventPrice', response.data.data.eventPrice);
                               this.$set(response.data.data.events, 'readOnlinePrice', null);
                               this.$set(response.data.data.events, 'hardCopyPrice', null);
                               this.$set(response.data.data.events, 'softCopyPrice', null);
                               this.$set(response.data.data.events, 'subscribePrice', null);
                               this.$set(response.data.data.events, 'audioPrice', null);
                               this.$set(response.data.data.events, 'videoPrice', null);
                               this.$set(response.data.data.events, 'webinarPrice', null);
                               this.$set(response.data.data.events, 'streamPrice', null);
                               emptyObject = response.data.data.events;
                               break;
                           case 'Articles':
                               this.$set(response.data.data.articles, 'vendor', response.data.data.vendor);
                               this.$set(response.data.data.articles, 'uniId', response.data.data.id);
                               this.$set(response.data.data.articles, 'coverImage', response.data.data.coverImage);
                               this.$set(response.data.data.articles, 'verify', response.data.data.verify);
                               this.$set(response.data.data.articles, 'readOnlinePrice', null);
                               this.$set(response.data.data.articles, 'hardCopyPrice', null);
                               this.$set(response.data.data.articles, 'softCopyPrice', null);
                               this.$set(response.data.data.articles, 'audioPrice', null);
                               this.$set(response.data.data.articles, 'videoPrice', null);
                               this.$set(response.data.data.articles, 'webinarPrice', null);
                               this.$set(response.data.data.articles, 'streamPrice', null);
                               emptyObject = response.data.data.articles;
                               break;
                           default:
                               console.log('ffsss');
                               return false;
                       }
                       console.log(emptyObject);
                       this.products = emptyObject;
                      // this.products = response.data.data;
                       if (response.data.data.softCopyPrice || response.data.data.hardCopyPrice) {
                           this.checkBook = true;
                       }
                       this.isActive = false;
                       this.linkTag = true;
                       this.dis = true;
                   }
                }).catch((error) => {
                    console.log(error);
                })
            }else {
                this.$router.push('/vendor/auth')
            }

        },
        methods: {
            verifyAdminProduct(id){
                 axios.get(`/api/get/verify-bizguruh-product/${id}`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                     .then((response) => {
                         if(response.status === 200){
                             if(response.data.verify){
                                 this.$toasted.success('Status successfully change');
                                 this.verifyProducts = "Unverify Product";
                             }
                         }else{
                             this.$toasted.success("Successfully unverified");
                             this.verifyProducts = "Verify Product";                         }
                     })
            },
            swipeImage(index){
                console.log(index);
                for(var i = 0; i < this.products.productImage.length; i++){
                    this.imgSrc = this.products.productImage[index].image;
                }
            },
            changeTabsContent(tabArr){
                switch(tabArr){
                    case 'product detail':
                        this.productDetails = true;
                        this.tableOfContent = false;
                        this.excerpts = false;
                        this.aboutAuthor = false;
                        break;
                    case 'About the author':
                        this.productDetails = false;
                        this.tableOfContent = false;
                        this.excerpts = false;
                        this.aboutAuthor = true;
                        break;
                    case 'table of content':
                        this.productDetails = false;
                        this.tableOfContent = true;
                        this.excerpts = false;
                        this.aboutAuthor = false;
                        break;
                    case 'read an excerpts':
                        this.productDetails = false;
                        this.tableOfContent = false;
                        this.excerpts = true;
                        this.aboutAuthor = false;
                        break;
                    default:
                        this.productDetails = false;
                        this.tableOfContent = false;
                        this.excerpts = false;
                        this.aboutAuthor = false;
                }
            },
            deleteProduct(id){
                console.log(id);
                confirm('Are you sure?');
                axios.delete(`/api/product/${id}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response)=> {
                    if(response.status === 200){
                        this.$router.push('/vendor/all');
                    }
                }).catch((error) => {
                    console.log(error);
                })

            }
        }

    }
</script>

