<template>
  <div class="navigation shadow-lg">
    <div class="logo">
      <span class="biz">Biz</span><span class="guruh">Guruh</span>
    </div>
    <div class="mobile_bar">
      <i class="fa fa-bars" aria-hidden="true" @click="switchNav"></i>
    </div>
    <ul class="nav" v-if="show">
      <li>
        <router-link to="/classroom">Classroom</router-link>
      </li>
      <li>
        <router-link to="profile/products/subscription">Bizlibrary</router-link>
      </li>
      <li>
        <router-link to="#">
          <i class="fas fa-user-circle" aria-hidden="true"></i>
          {{name}}
        </router-link>
      </li>
      <li @click="logout">Logout</li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show: true,
      name: "name"
    };
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user !== null) {
      this.name = user.name;
    }
    if (window.innerWidth <= 425) {
      this.show = false;
    }
  },
  methods: {
    switchNav() {
      this.show = !this.show;
    },
    logout(){
      this.$emit('logout')
    }
  }
};
</script>


<style scoped>
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  align-items: center;
  font-size: 15.5px;

  position: relative;
}
.mobile_bar {
  display: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li a {
  padding: 10px 20px;
  color: #777777;
  font-weight: bold;
}
.nav li:hover a {
  color: #333333;
  background: white;
}
.logo {
  font-size: 32px;
}
@media (max-width: 425px) {
  .mobile_bar {
    display: block;
  }
  .navigation {
    background: white;
    z-index: 2;
  }
  .nav {
    flex-direction: column-reverse;
    position: absolute;
    right: 0;
    padding: 10px;
    top: 40px;
    z-index: 5;
    background: white;
  }
  .nav li a {
    padding: 10px 30px;
  }
  .logo{
      font-size: 20px;
  }
}
</style>