// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "userStyle";

@import "userStyleResponsive";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Magnifying glass options
$border-size: 5px; // Modify the border width of the magnifying glass component
$border-color: #666666; // Modify the border color of the magnifying glass component
$magnifier-width: 150px; // Modify the width of the magnifying glass component
$magnifier-height: 150px; // Modify the height of the magnifying glass component

// Define your responsive sizes of
$sizes: (
    "(max-width: 320px)" 250px 250px,
    "(max-width: 480px)" 350px 350px,
    "(min-width: 481px)" 450px 450px,
    "(min-width: 1024px)" 550px 550px,
    "(min-width: 1280px)" 600px 600px
);

.vue-magnifier-container {
    position: relative;
    .preview {
        position: relative;
        background: {
            repeat: no-repeat;
            size: contain;
            position: 50% 50%;
        }
        display: block;
        clear: both;
        margin: 0 auto;
        cursor: none;

        .magnifying-glass {
            position: absolute;
            border: $border-size solid $border-color;
            border-radius: 50%;
            cursor: none;
            width: $magnifier-width;
            height: $magnifier-height;
            transform: translate(
                (-1 * $magnifier-width/2),
                (-1 * $magnifier-width/2)
            );
            background: #fff no-repeat;
            display: none;
            pointer-events: none;
            backface-visibility: hidden;
        }

        &:hover {
            .magnifying-glass {
                display: block;
            }
        }

        @each $breakpoint in $sizes {
            $query: nth($breakpoint, 1);
            $bpWidth: nth($breakpoint, 2);
            $bpHeight: nth($breakpoint, 3);

            @media only screen and #{$query} {
                width: $bpWidth;
                height: $bpHeight;
            }
        }
    }
}

.course-Detail {
    margin: 0 !important;
}

.videoOverview {
    overflow: hidden;
    height: 130px;
    text-overflow: ellipsis;
}

.transparentBtn {
    background: none;
    border: 0;
    padding: 0;
}

.errorCheck {
    color: tomato;
    font-weight: bold;
}

.addDemoImage {
    background: url("/images/images/video-placeholder.jpg") no-repeat center;
    background-size: cover;
    height: 180px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.cart {
    .btn:focus {
        outline: none;
    }
    .hidden {
        display: none;
    }
    .listed {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .p-top {
        padding-top: 7px;
    }
    .td-padding {
        padding-top: 15px !important;
    }
    .container {
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 480px;
        max-width: 768px;
    }
    .container-fluid {
        padding-bottom: 10px;
        margin-top: 1px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .paddingLF {
        padding-left: 15px;
        padding-right: 15px;
    }
    .inactiveLink {
        pointer-events: none;
        cursor: default;
    }
    .buttons-wrapper {
        display: inline-block;
    }
}
button:focus {
    outline: none;
}

.button-blue-light {
    padding: 8px 35px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #33495b;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: initial;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, 0.1);
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#33495b, 7%);
    }
    &:active {
        &:after {
            width: 200px;
            height: 200px;
        }
    }
}

.button-blue-dark {
    padding: 8px 35px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #23333f;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: initial;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, 0.1);
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#23333f, 7%);
    }
    &:active {
        &:after {
            width: 200px;
            height: 200px;
        }
    }
}

.button-blue {
    padding: 8px 35px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: hsl(207, 43%, 20%);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: initial;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, 0.1);
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
        background: darken(hsl(207, 43%, 20%), 7%);
    }
    &:active {
        &:after {
            width: 200px;
            height: 200px;
        }
    }
}
.button-1 {
    padding: 8px 35px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #0a4065;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: initial;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, 0.1);
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#0a4065, 7%);
    }
    &:active {
        &:after {
            width: 200px;
            height: 200px;
        }
    }
}
.button-2 {
    padding: 8px 35px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #22cade;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: initial;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, 0.1);
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#22cade, 7%);
    }
    &:active {
        &:after {
            width: 200px;
            height: 200px;
        }
    }
}
.button-3 {
    padding: 8px 35px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #0f1666;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: initial;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
        background: rgba(white, 0.1);
        border-radius: 100%;
        transition: width 0.3s ease, height 0.3s ease;
    }
    &:focus,
    &:hover {
        background: darken(#0f1666, 7%);
    }
    &:active {
        &:after {
            width: 200px;
            height: 200px;
        }
    }
}

.desc_header {
    font-size: 44px;
    font-weight: 400;
    font-family: "Josefin Sans";
    text-align: center;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 10%;
        height: 10px;
        border-bottom: 3px solid #333;
        bottom: -15px;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
    }
}
.why {
    font-size: 44px;
    font-weight: 400;
    font-family: "Josefin Sans";

    position: relative;
    text-align: left;

    &:after {
        content: "";
        position: absolute;
        width: 10%;
        height: 10px;
        border-bottom: 3px solid #333;
        bottom: -15px;
        left: 0;
    }
}

@media (max-width: 1024px) {
    .desc_header,
    .why {
        font-size: 32px;
    }
}
.why {
    text-align: center;
    &:after {
        content: "";
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%, -50%, 0);
    }
}

@media (max-width: 575px) {
    .desc_header,
    .why {
        font-size: 24px;
    }
}
