<template>
  <div class="container p-5 text-center">
    <p>Redirecting to classroom...</p>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  mounted() {
    var bizUser = {};

    if (this.$route.query !== null) {
      bizUser = this.$route.query;
      let data = {
        client_id: 2,
        client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
        grant_type: "password",
        username: bizUser.email,
        password: "bizguruh",
        theNewProvider: "api"
      };

      axios.post(`/api/register-ilc`, bizUser).then(res => {
        if (res.status == 201) {
          axios.post("/oauth/token", data).then(response => {
            if (response.status == 200) {
              let authUser = {};

              authUser.access_token = response.data.access_token;
              authUser.refresh_token = response.data.refresh_token;

              axios
                .get("/api/user", {
                  headers: {
                    Authorization: `Bearer ${response.data.access_token}`
                  }
                })
                .then(res => {
                  if (res.status == 200) {
                    authUser.id = res.data.id;

                    authUser.email = bizUser.email;
                    authUser.name = bizUser.name;
                    authUser.vendor_user_id = res.data.vendor_user_id;
                    authUser.level = bizUser.course_level;
                    authUser.dept = bizUser.department;
                    authUser.school = bizUser.school;
                    authUser.mat_no = bizUser.mat_no;
                    localStorage.setItem("authUser", JSON.stringify(authUser));

                    this.$toasted.info("Welcome " + res.data.name);
                    this.$router.push("/classroom");
                  }
                });
            }
          });
        } else {
          axios.post("/oauth/token", data).then(response => {
            if (response.status == 200) {
              let authUser = {};

              authUser.access_token = response.data.access_token;
              authUser.refresh_token = response.data.refresh_token;

              axios
                .get("/api/user", {
                  headers: {
                    Authorization: `Bearer ${response.data.access_token}`
                  }
                })
                .then(res => {
                  if (res.status == 200) {
                    authUser.id = res.data.id;

                    authUser.email = bizUser.email;
                    authUser.name = bizUser.name;
                    authUser.vendor_user_id = res.data.vendor_user_id;
                    authUser.level = bizUser.course_level;
                    authUser.dept = bizUser.department;
                    authUser.faculth = bizUser.faculty;
                    authUser.school = bizUser.school;
                    authUser.mat_no = bizUser.mat_no;
                    localStorage.setItem("authUser", JSON.stringify(authUser));

                    this.$toasted.info("Welcome " + res.data.name);
                    this.$router.push("/classroom");
                  }
                });
            }
          });
        }
      });
    }
  }
};
</script>


<style scoped>
</style>