<template>
    <div class="privacy">
        <h1><b>BIZGURUH PRIVACY POLICY</b></h1>
        <p>Your privacy is important to BizGuruh and always has been. So we've developed a Privacy Policy that covers how we collect, use, disclose, transfer, and store your information. Please take a moment to familiarize yourself with our privacy practices and let us know if you have any questions.</p>


        <p>By visiting BizGuruh, you are accepting the practices described in this Privacy Notice.</p>

        <h4><b>OVERVIEW</b></h4>

        <ol class="ols">
            <li> <b>What kinds of information do we collect?</b></li>
            <li> <b>How do we use this information? </b></li>
            <li><b>How is this information shared?</b></li>
            <li><b>How do we protect your personal data?</b></li>
            <li> <b>What are your rights?</b></li>
            <li><b>How can I manage or delete information about me?</b></li>
            <li><b>Law And Protection</b></li>
            <li><b>How will we notify you of changes to this Policy?</b></li>
        </ol>



        <h4><b>What kinds of information do we collect?</b></h4>
        <div>To provide the BizGuruh Services, we must process information about you. The type of information that we collect depends on how you use our Services.</div>


        <h4> <b>Things that you and others do and provide:</b></h4>
        <ul class="things">
            <li> <b>Information and content you provide.</b>
                We collect the content, communications and other information you provide when you use our Services, including when you sign up for an account, create or share content and message or communicate with others.</li>
            <li><b>Networks and connections.</b>
                We collect information about the people, pages accounts, hashtags and groups that you are connected to and how you interact with them across our Products, such as people you communicate with the most or groups that you are part of.</li>
           <li> <b>Your usage.</b>
               We collect information about how you use our Services, such as the types of content that you view or engage with, the features you use, the actions you take, the people or accounts you interact with and the time, frequency and duration of your activities. For example, we log when you're using and have last used our Products, and what posts, videos and other content you view on our Products.</li>
        <li><b>Information about transactions made on our Products. </b>
            If you use our business education resources or harness the business development Chatbot or engage in the interactive forum provided on our platform, we collect information about the transaction.</li>
    </ul>

        <h4><b>How do we use this information?</b></h4>
        <div>We use the information we have to deliver our Services, including to personalise features and make suggestions for you (such as groups or events you may be interested in or topics you may want to follow) on and off our Products. To create personalised Services that are unique and relevant to you, we use your connections, preferences, interests and activities based on the data that we collect and learn from you and others (including any data with special protection you choose to provide); how you use and interact with our Products; and the people, places or things that you're connected to and interested in on and off our Products.</div>
        <h4><b>Product research and development:</b></h4>
        <div> We use the information we have to develop, test and improve our Services, including by conducting surveys and research, and testing and troubleshooting new products and features.</div>
        <h4><b>Communicate with you.</b></h4>
        <div>We use the information that we have to communicate with you about our Services and let you know about our Policies and Terms. We also use your information to respond to you when you contact us.</div>
        <h4><b>Research and innovate for social good.</b></h4>
           <div> We use the information that we have (including from research partners who we collaborate with) to conduct and support research and innovation on business education, particularly tailored to the African market and technological advancement for business activities within the region.</div>

        <h4><b>How is this information shared?</b></h4>
        <div>Your information is shared with others in the following ways:</div>
        <h4><b>People and accounts that you share and communicate with:</b></h4>
        <div>When, you use BizGuruh to communicate with people or businesses, those people and businesses can see the content you send. Your network can also see actions that you have taken on our Products, including engagement with ads and sponsored content. We also let other accounts see who has viewed BizGuruh Stories.</div>

        <div>Public information can be seen by anyone, on or off our Services, including if they don't have an account. This includes your BizGuruh username, any information you share with a public audience, information in your public profile on BizGuruh, and content you share on   any other public forum, such as BizGuruh Marketplace. You, other people using BizGuruh and we can provide access to or send public information to anyone on or off our Services, in search results or through tools and APIs. Public information can also be seen, accessed, reshared or downloaded through third-party services such as search engines, APIs and offline media such as TV, and by apps, websites and other services that integrate with our Products.</div>

            <h4><b>Information about your active status or presence on our Platform:</b></h4>
            <div> People in your networks can see signals telling them whether you are active on our platform, or when you last used our Services.</div>

            <h4><b>Apps, websites and third-party integrations on or using our Services.</b></h4>
            <div> When you choose to use third-party apps, websites or other services that use, or are integrated with, our Products, they can receive information about what you post or share. Information collected by these third-party services is subject to their own terms and policies, not this one.</div>
            <h4><b>Sharing with third-party partners</b></h4>

            <div>We work with third-party partners who help us provide and improve our Services or who use BizGuruh Business Tools to grow their businesses, which makes it possible to operate our companies and provide free services to people around the world. We don't sell any of your information to anyone and we never will. We also impose strict restrictions on how our partners can use and disclose the data we provide. Here are the types of third parties that we share information with:</div>

            <h4><b>Partners who use our analytics services.</b></h4>

           <div> We provide aggregated statistics and insights that help people and businesses understand how people are engaging with their posts, listings, Pages, videos and other content on and off the BizGuruh Platform. For example, Page admins and BizGuruh business profiles receive information about the number of people or accounts who viewed, reacted to or commented on their posts, as well as aggregate demographic and other information that helps them understand interactions with their Page or account.</div>
            <h4><b>Advertisers.</b></h4>
        <div>We provide advertisers with reports about the kinds of people seeing their ads and how their ads are performing, but we don't share information that personally identifies you (information such as your name or email address that by itself can be used to contact you or identifies who you are) unless you give us permission. For example, we provide general demographic and interest information to advertisers (for example, that an ad was seen by a woman between the ages of 25 and 34 who lives in Ghana and likes software engineering) to help them better understand their audience. We also confirm which BizGuruh ads led you to make a purchase or take an action with an advertiser.</div>

        <h4><b>Device and Connection Information.</b></h4>
        <div>We collect device-specific information when you install, access, or use our Services. This includes information such as hardware model, operating system information, browser information, IP address, mobile network information including phone number, and device identifiers. We collect device location information if you use our location features, such as when you choose to share your location with your contacts, view locations nearby or those others have shared with you, and the like, and for diagnostics and troubleshooting purposes such as if you are having trouble with our app’s location features.</div>
        <h4><b>Researchers and academics.</b></h4>
        <div>We also provide information and content to research partners and academics to conduct research that advances scholarship and innovation that supports our business or mission and enhances discovery and innovation on business education, African economies and technological advancement in business activities within African markets.</div>
        <h4><b>Law enforcement or legal requests.</b></h4>
    <div> We share information with law enforcement or in response to legal requests</div>

        <h4><b>How do we protect your personal data?</b></h4>
        <div>BizGuruh takes the security of your personal data very seriously. We make every effort to protect your personal data from misuse, interference, loss, unauthorised access, modification or disclosure.</div>
        <div>Our measures include implementing appropriate access controls, investing in the latest Information Security Capabilities to protect the IT environments we leverage, and ensuring we encrypt, pseudonymise and anonymise personal data wherever possible.</div>
        <div>Access to your personal data is only permitted among our employees and agents on a need-to-know basis and subject to strict contractual confidentiality obligations when processed by third-parties.</div>
        <h4><b>What are your rights?</b></h4>
        <div>Your rights in relation to your personal data, how it is processed.</div>
        <div>Where we process your personal data, you have a number of rights over how the data is processed and can exercise these rights at any point. We have provided an overview of these rights below together with what this entails for you. You can exercise your rights by sending an email or submitting a request through the “Contact Us” form on our websites.</div>

        <ul class="disc">
            <li>The right to be informed. You have the right to be provided with clear, transparent and easily understandable information about how we use your personal data and your rights. Therefore, we’re providing you with the information in this Notice.</li>
            <li>The right to access and rectification. You have the right to access, correct or update your personal data at any time. We understand the importance of this and should you want to exercise your rights, please contact us.</li>
            <li>The right to data portability. The personal data you have provided us with is portable. This means it can be moved, copied or transmitted electronically under certain circumstances.</li>
            <li> The right to be forgotten. Under certain circumstances, you have right to request that we delete your data. If you wish to delete the personal data we hold about you, please let us know and we will take reasonable steps to respond to your request in accordance with legal requirements. If the personal data we collect is no longer needed for any purposes and we are not required by law to retain it, we will do what we can to delete, destroy or permanently de-identify it.</li>
            <li>The right to object. Under certain circumstances, you have the right to object to certain types of processing, including processing for direct marketing (i.e., receiving emails from us notifying you or being contacted with varying potential opportunities).</li>
            <li>The right to lodge a complaint with a Supervisory Authority. You have the right to lodge a complaint directly with any local Supervisory Authority about how we process your personal data.</li>
            <li>The right to withdraw consent. If you have given your consent to anything we do with your personal data (i.e., we rely on consent as a legal basis for processing your personal data), you have the right to withdraw your consent at any time (although if you do so, it does not mean that anything we have done with your personal data with your consent up to that point is unlawful). You can withdraw your consent to the processing of your personal data at any time by contacting us with the details provided below.</li>
            <li>Rights related to automated decision-making. You have the right not to be subject to a decision which is based solely on automated processing and which produces legal or other significant effects on you. In particular, you have the right:</li>
        <ul>
            <li>to obtain human intervention;</li>
            <li>to express your point of view;</li>
            <li>to obtain an explanation of the decision reached after an assessment; and</li>
            <li>to challenge such a decision.</li>
        </ul>

</ul>


        <h4><b>How can I manage or delete information about me?</b></h4>
            <div>We provide you with the ability to access, rectify, port and delete your data.</div>
            <div> We store data until it is no longer necessary to provide our services or until your account is deleted – whichever comes first. This is a case-by-case determination that depends on things such as the nature of the data, why it is collected and processed, and relevant legal or operational retention needs. For example, when you search for something on BizGuruh, you can access and delete that query from within your search history at any time, but the log of that search is deleted after six months. If you submit a copy of your valid photo ID for account verification purposes, we delete that copy 30 days after submission.</div>

           <div> When you delete your account, we delete things that you have posted, and you won't be able to recover this information later. Information that others have shared about you isn't part of your account and won't be deleted. If you don't want to delete your account but want to temporarily stop using the Products, you can deactivate your account instead. To delete your account at any time, please visit the BizGuruh settings.</div>

        <h4><b>Law And Protection</b></h4>
            <div>We may collect, use, preserve, and share your information if we have a good-faith belief that it is reasonably necessary to: (a) respond pursuant to applicable law or regulations, to legal process, or to government requests; (b) enforce our Terms and any other applicable terms and policies, including for investigations of potential violations; (c) detect, investigate, prevent, and address fraud and other illegal activity, security, or technical issues; or (d) protect the rights, property, and safety of our users, or others.</div>
            <h4><b>How will we notify you of changes to this Policy?</b></h4>
            <div>We'll notify you before we make changes to this Policy and give you the opportunity to review the revised Policy before you choose to continue using our Products.</div>

        <h4>Contact Us</h4>


            <p>If you have questions about our Privacy Policy, please contact us;</p>
            <p> Coeur Consulting Options Limited.</p>
            <p>Privacy Policy</p>
            <p> Captain House, 34 Aje Road,</p>
            <p>Sabo Yaba, Lagos,</p>
            <p>Nigeria.</p>


    </div>
</template>

<script>
    export default {
        name: "privacy-component"
    }
</script>

<style scoped>
    .privacy {
        padding: 150px;
    }
    h1 {
        margin:30px 0;
    }

    div {
        margin: 10px 0;
    }

    h4 {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    ol {
        margin: 20px 0;
    }

    .disc {
        list-style-type: circle;
        margin-left: 50px;
    }

    .ols {
        list-style-type: decimal;
        margin-left: 50px;
    }

    .ols li {
        margin: 10px 0;
    }

    .things {
        list-style-type: circle;
        margin-left: 50px;
    }
@media(max-width:425px){
    .privacy{
        padding:50px 10px;
    }
}

</style>
