<template>
      <div class="container">
        <div class="">
          <h2 class="tCenter uline mb-4"> TERMS AND CONDITIONS FOR BIZGURUH APP</h2>
<p> Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the https://www.bizguruh.com (the "Service") operated by BizGuruh ("us", "we", or "our").</p>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
</p>
<p class="boldText">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
</p>

 <p>You agree that you will use the BizGuruh App in compliance with these Agreements, and all applicable domestic and international laws, rules and regulations, including copyright laws.</p>

<p>As a condition of your use of the BizGuruh App, you will not use the BizGuruh App in any manner intended to damage, disable, overburden, or impair any server or the network(s) connected to any server or to interfere with any other party's use and enjoyment of the App. You may not attempt to gain unauthorized access to the BizGuruh App, other accounts, computer systems, or networks connected to any server through hacking, password mining, or any other means. You may not obtain or attempt to obtain any materials or information stored on the BizGuruh App, its servers, or associated computers through any means not intentionally made available through the App. If you are a registered user, you will not share your password or let anyone else access or compromise your account.</p>

<p>You agree not to misrepresent or attempt to misrepresent your identity while using the App (although you are welcome and encouraged to use an anonymous username in the forums and to act in a manner that keeps your identity concealed).</p>

<br>
<h3>1.	STRICTLY PROHIBITED ACTIVITIES</h3>
<p>Users are restrained from participating in the following activities on the App:</p>

<ul class="mb-4">
    <li>content that defames, harasses or threatens others;</li>
<li>content that discusses illegal activities with the intent to commit them;</li>

<li>content that infringes another's intellectual property, including, but not limited to, copyrights or trademarks;</li>
<li>Profane, pornographic, obscene, indecent or unlawful content;</li>
<li>Advertising or any form of commercial solicitation;</li>
<li>Content related to partisan political activities;</li>

<li>Sending Viruses, trojan horses, worms, time bombs, corrupted files, malware, spyware, or any other similar software that may damage the operation of another's computer or property; and</li>
<li>Content that contains intentionally inaccurate information or that is posted with the intent of misleading others (this list, collectively, “Strictly Prohibited Items”).
    </li>

</ul>

<p>You may not submit, post, publish, share, or otherwise distribute any of the above Strictly Prohibited Items on or via the BizGuruh App.</p>
<br>
<h3>2.	USER ACCOUNTS</h3>

<p>In order to create a User Account, you must provide your full name, an email address, your country or region of residence, a public username, and a user password. You agree that you will never divulge or share access or access information for your User account with any third party for any reason. In setting up your user account, you may be prompted to enter additional optional information (e.g., your year of birth). You represent that all information provided by you is accurate and current. You agree to maintain and update your information to keep it accurate and current.</p>

<p>We care about the confidentiality and security of your personal information.
    </p>
<br>
<h3>3.	COPYRIGHT PROTECTION</h3>

<p>The content on the BizGuruh App is protected by copyright laws. Unless otherwise expressly stated on the BizGuruh App, the texts, work sheets, video, images, and other instructional materials provided with the courses offered on the App are for your personal use in connection with those courses only.</p>

<p>By using the BizGuruh App, you agree to abide by all such rules and conditions.</p>


<p>All rights in the App and its content, if not expressly granted, are reserved.</p>

<br>
<h3>4.	TRADEMARKS</h3>

<ol>
    <li>
        	<p class="boldText">Use of and Other Member Names, Trademarks, and Service Marks</p>
 The names, logos, and seals of the Members are Trademarks owned by the respective Member. You may not use any of these Trademarks, or any variations thereof, without the owner's prior written consent. You may not use any of these Trademarks, or any variations thereof, for promotional purposes, or in any way that deliberately or inadvertently claims, suggests or, in the owner’s sole judgment, gives the appearance or impression of a relationship with or endorsement by the owner.
Nothing contained on the BizGuruh App should be construed as granting, by   implication, estoppel, or otherwise, any license or right to use any Trademark displayed on the App without the written permission of the owner of the applicable Trademark.
Copyright owners who believe their material has been infringed on the App should the administrator.
    </li>
</ol>

<br>
<h3>5.	INDEMNIFICATION</h3>
 <p>You agree to defend, hold harmless, and indemnify BizGuruh and the BizGuruh Participants, and their respective subsidiaries, affiliates, officers, students, fellows, governing board members, agents and employees from and against any third-party claims, actions, or demands arising out of, resulting from or in any way related to your use of the BizGuruh App, including any liability or expense arising from any and all claims, losses, damages (actual and consequential), suits, judgments, litigation costs, and lawyers' fees, of every kind and nature. In such a case, BizGuruh or the applicable BizGuruh Participant will provide you with written notice of such claim, suit, or action.</p>

<br>
<h3>6.	ADDITIONAL TERMS</h3>

    <ol>
    <li class="mb-2">	<p class="boldText">Termination Rights; Discontinuation of Courses and Content</p>
You agree that, in its sole discretion, BizGuruh may terminate your use of the BizGuruh App or your participation in it, for any reason or no reason, upon notice to you. It is BizGuruh's policy to terminate in appropriate circumstances the accounts of users of the BizGuruh App who are repeat copyright infringers.  and the Participants reserve the right at any time in their sole discretion to cancel, delay, reschedule or alter the format of any course offered through BizGuruh, or to cease providing any part or all of the BizGuruh App content or related services, and you agree that neither BizGuruh nor any of the BizGuruh Participants will have any liability to you for such an action. If you no longer desire to participate in the BizGuruh App, you may terminate your participation at any time. The rights granted to you hereunder will terminate upon any termination of your right to use the BizGuruh App, but the other provisions of the Agreements will survive any such termination.</li>

<li class="mb-2"> <p class="boldText">Entire Agreement</p>
The Agreements constitute the entire agreement between you and with respect to your use of the BizGuruh App, superseding any prior agreements between you and regarding your use of the BizGuruh App.</li>

<li class="mb-2"> <p class="boldText">Waiver and Severability</p>
The failure of BizGuruh to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision. If any provision of the Agreement is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision and the other provisions of the Agreement shall remain in full force and effect.</li>

<li  class="mb-2"><p class="boldText">Choice of Law/Forum Selection</p>
You agree that the Agreement and any claim or dispute arising out of or relating to the Agreement or any content or service obtained from or through the BizGuruh App will be governed by the laws of the Federal Republic of Nigeria. You agree that all such claims and disputes will be heard and resolved exclusively in the federal or state courts located in and serving Lagos, Nigeria. You consent to the personal jurisdiction of those courts over you for this purpose, and you waive and agree not to assert any objection to such proceedings in those courts (including any defense or objection of lack of proper jurisdiction or venue or inconvenience of forum).</li>


  </ol>


        </div>

    </div>
</template>

<script>
export default {
    name:"terms-and-condition-component",
}
</script>

<style scoped>
.container{
    padding-top:80px;
    padding-bottom: 100px;
    line-height:1.8;
    font-size:16px;
}
div ol{
    list-style: lower-roman;
}
h3{
    margin:5px 0;
}
ul{
    list-style: circle;
}
.boldText{
    font-weight:bold;
    font-size:16px;
    margin-bottom:2px;


}
.boldText{
    color:rgba(0, 0, 0,0.64)
}
.uline{
    text-decoration:underline;
}
.tCenter{
    margin: 10px auto;
  text-align: center;
}
.pryColor{
    color: #a3c2dc;
    font-weight: bold;
}
@media(max-width:425px){
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    .boldText{
        font-size:16px;
    }
}

</style>
