<template >
  <div>
    <label class="switch">
      <input type="checkbox" v-model="time"/>
      <span class="slider round"></span>
    </label>
  </div>
</template>
<script>
export default {
    data(){
        return {
        time:false
        }
    },
    watch: {
        'time':'change'
    },
    methods: {
        change(){
            this.$emit('handleToggle',this.time)
        }
    },
}
</script>
<style scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(207, 46%, 20%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
   background-color: hsl(207, 46%, 20%);
}

input:focus + .slider {
   background-color: hsl(207, 46%, 20%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media(max-width:425px){
  .switch {

  width: 50px;
  height: 24px;
}

  .slider:before {

  height: 16px;
  width: 16px;
  
}

}
</style>