<template>
  <div class="">
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my marketing goals"
      />

    </div>
    <h5>MY MARKETING GOAL</h5>
    <p>
      <strong>BIZGURUH TIP:</strong> To make your marketing goals and budget accurate and effective, keep national and even local trends and events in mind. Adjust your annual and monthly budgets according to these trends.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>My short term marketing goals</th>
          <th>My mid term marketing goals</th>
          <th>My long term marketing goals</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <textarea class="form-control" rows="3" v-model="questions.one.q1" placeholder="Finance"></textarea>
            <textarea class="form-control" rows="3" v-model="questions.one.q2" placeholder="Customer /Market"></textarea>
            <textarea class="form-control" rows="3" v-model="questions.one.q3" placeholder="Budget"></textarea>
          </td>
          <td>
            <textarea class="form-control" rows="3" v-model="questions.two.q1" placeholder="Finance"></textarea>
            <textarea class="form-control" rows="3" v-model="questions.two.q2" placeholder="Customer /Market"></textarea>
            <textarea class="form-control" rows="3" v-model="questions.two.q3" placeholder="Budget"></textarea>
          </td>
          <td>
            <textarea class="form-control" rows="3" v-model="questions.three.q1" placeholder="Finance"></textarea>
            <textarea class="form-control" rows="3" v-model="questions.three.q2" placeholder="Customer /Market"></textarea>
            <textarea class="form-control" rows="3" v-model="questions.three.q3" placeholder="Budget"></textarea>
          </td>
         
        </tr>
       
      </tbody>
    </table>
      <div class="w-100 butt">
            <button
            @click="previewAnswer"
              type="button"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
            >Preview</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
  </div>
</template>

<script>
import previewTemp from "../previewTemplate";
export default {

  data() {
    return {
      bap: true,
      preview: false,
      record: {},
      questions:{
        one:{
          q1:'',
          q2:'',
          q3:''
        },
        two:{
          q1:'',
          q2:'',
          q3:''
        },
        three:{
          q1:'',
          q2:'',
          q3:''
        },
     
      }
     
   
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
   
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
  

    
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my marketing goals"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my marketing goals"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my marketing goals"
      };

      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.preview = true;
          }
        });
    }
  }
};
</script>
<style scoped>
.mi{
  position:relative
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}
p{
    margin-bottom: 10px;
}
label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
.form-group {
  margin: 15px 0;
}
.sub_title {
  font-size: 9px;
}
h3, h5{
    margin-bottom: 14px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
</style>