<template>
  <div class>
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my industry analysis"
      />
    </div>
    <h5>MY INDUSTRY ANALYSIS: COMPETITOR ANALYSIS</h5>
    <p
      class="mb-5"
    >This helps you determine the strengths and weaknesses of the competitors within your market, so that you can develop strategies that provide you with a distinct advantage and barriers that can prevent competition from entering your market, and any other weaknesses that can be exploited within the product development cycle.</p>

    <div class="d-flex ml-auto mb-3">
      <button
        @click="addrow"
        type="button"
        class="elevated_btn elevated_btn_sm text-white btn-compliment"
      >Add row</button>
      <button
        type="button"
        class="elevated_btn elevated_btn_sm text-main mr-3"
        @click="removerow"
      >Remove row</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Who are my competitors?</th>
          <th>What are the similarities?</th>
          <th>What can i learn from them?</th>
          <th>How can i differentiate from them?</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,idx) in questions" :key="idx">
          <td scope="row">
            <textarea class="form-control" v-model="item.one" rows="3"></textarea>
          </td>
          <td>
            <textarea class="form-control" v-model="item.two" rows="3"></textarea>
          </td>
          <td>
            <textarea class="form-control" v-model="item.three" rows="3"></textarea>
          </td>
          <td>
            <textarea class="form-control" v-model="item.four" rows="3"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100 butt">
      <button
        @click="previewAnswer"
        type="button"
        class="elevated_btn elevated_btn_sm text-white btn-compliment"
      >Preview</button>

      <button
        type="button"
        class="elevated_btn elevated_btn_sm text-main"
        @click="saveDraft"
      >Save to draft</button>
    </div>
  </div>
</template>

<script>
import previewTemp from "../previewTemplate";
export default {
  data() {
    return {
      bap: true,
      preview: false,
      record: {},
      questions: [
        {
          one: "",
          two: "",
          three: "",
          four: ""
        }
      ]
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
    addrow() {
      this.questions.push({
        one: "",
        two: "",
        three: "",
        four: ""
      });
    },
    removerow() {
      this.questions.pop();
    },
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my industry analysis"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my industry analysis"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my industry analysis"
      };

      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.preview = true;
          }
        });
    }
  }
};
</script>
<style scoped>
.mi {
  position: relative;
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
h3,
h5 {
  margin-bottom: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
.form-group {
  margin: 15px 0;
}
.sub_title {
  font-size: 9px;
}
p {
  margin-bottom: 10px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
</style>