<template>
 <div class="">
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my target market overview"
      />

    </div>
    <div class="form-group mb-5" >
      <h5>MY TARGET MARKET OVERVIEW</h5>
      <label for>
        Briefly define your target market:
        <i
          class="fas fa-question-circle"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="bottom"
          title=" Typically, your customers cut across different categories that grows as you get closer to the end user, give yourself a competitive edge by thinking of each of these customers and plan for their needs and motivation."
        ></i>
      </label>

      <textarea class="form-control"  v-model="questions.one" placeholder rows="3"></textarea>
    </div>

    <div class="form-group  mb-5">
      <label for>
        Briefly describe your customer persona:
        <i
          class="fas fa-question-circle"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="bottom"
          title="While your target audience encompasses the elements that show what different groups of people have in common, the customer persona looks for differentiating factors .i.e what makes each person within a certain demographic unique?
            Simply put, your ideal customer is the one who benefits the most from what you’re selling. 
            "
        ></i>
      </label>
      <textarea class="form-control" v-model="questions.two" rows="3"></textarea>
    </div>

    <div class="form-group  mb-5">
      <label for>
        What is the estimated size of your market?
        <i
          class="fas fa-question-circle"
          aria-hidden="true"
          data-toggle="tooltip"
          data-placement="bottom"
          title="This helps to determine if there are enough customers to serve"
        ></i>
      </label>
      <input type="text" v-model="questions.three" class="form-control" aria-describedby="helpId" placeholder />
    </div>

    <div class="form-group  mb-5">
      <label for>Is it declining or increasing?</label>
      <label class="custom-control custom-radio">
        <input type="radio" value="Declining" v-model="questions.four" class="custom-control-input" />
        <span class="custom-control-indicator">Declining</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" value="Increasing"  v-model="questions.four" class="custom-control-input" />
        <span class="custom-control-indicator">Increasing</span>
      </label>
    </div>

    <div class="form-group  mb-5">
      <label for>At what rate?</label>
      <input type="text" class="form-control" v-model="questions.five" aria-describedby="helpId" placeholder />
      <label class="custom-control custom-checkbox">
        <input type="radio" value="I dont know" v-model="questions.five" class="custom-control-input" />
        <span class="custom-control-indicator">I dont know</span>
      </label>
    </div>
       <div class="w-100 butt">
            <button
            @click="previewAnswer"
              type="button"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
            >Preview</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
  </div>
</template>
<script>
import previewTemp from "../previewTemplate";
export default {

  data() {
    return {
      bap: true,
      preview: false,
      record: {},
      questions:{
        one:'',
        two:'',
        three:'',
        four:'',
        five:''
      }
     
   
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
   
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
      this.showResult = false;

    
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my target market overview"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my target market overview"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my target market overview"
      };

      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.preview = true;
          }
        });
    }
  }
};
</script>

<style scoped>

.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
p{
    margin-bottom: 10px;
}
.form-group {
  margin: 15px 0;
}
.sub_title {
  font-size: 9px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
h3, h5{
    margin-bottom: 14px;
}
</style>