<template>
    <div class="about">
         <ul>
            <li v-for="(breadcrumb, index) in breadcrumbList"  v-bind:key="index" @click="routeTo(index)"  :class="{linked: !!breadcrumb.link}">
               {{breadcrumb.name}}
             </li>
       </ul>
        <h1 class="biz">ABOUT BIZGURUH</h1>

        <p>We are an independent provider of business education and strategic market insight for stakeholders of Africa’s informal sector.</p>
           <p> We create and curate business education resources and strategic market insight for the African market.</p>

        <p>Our pilot product is a digital ecosystem that provides business education, strategic market insight and collaboration for stakeholders of Nigeria’s informal sector.</p>

        <p>Our platform will feature:</p>

        <p><b>Business education and market insight portal:</b> Here, proprietary and curated business education and market research resources retail; books, journal articles, white papers, online courses in text, video and audio format.</p>


        <p><b>A business development chatbot- BizGuruh:</b> Trained to be interactive and hold human-like conversations. BizGuruh creates and curates answers to questions on key subject matter areas of business development, particularly within the African context.
            It will be available on our web portal and all major social media platforms such as: Facebook, Twitter, Telegram, Skype etc.</p>


        <p><b>An interactive forum;</b> categorized by sectors and industries where various industry stakeholders groups can connect, learn and collaborate.</p>

        <p> We will continue to develop and curate data, market intelligence and foster collaboration within the African market; while continuously enhancing our distribution channels to reach our audience wherever they are.</p>

        <p class="connect">Connect. Learn. Be Empowered</p>

    </div>
</template>

<script>
    export default {
        name: "about-us-component",
        data() {
            return {
                breadcrumbList:[],
            }
        },
        mounted() {
             this.updateList()
        },
         watch: {
        '$route'(){
         this.updateList()
        }
    },
        methods: {
             routeTo(pRouteTo){
            if (this.breadcrumbList[pRouteTo].link) {
                    this.$router.push(this.breadcrumbList[pRouteTo].link)
            }

            },
            updateList(){
                     this.breadcrumbList = this.$route.meta.breadcrumb;


            },

        },
    }
</script>

<style scoped>
ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 20px 0px;

  }
  ul > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    font-weight: bold;
    font-size: .8em;
    cursor: default;
    align-items: center;
  }
  ul > li:not(:last-child)::after {
    content: '/';
    float: right;
    font-size: .8em;
    margin: 0 .5em;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
  }
   .about {
       padding: 100px 150px;
   }

    .connect {
        color: tomato;
        font-size: 20px;
        margin-top: 40px;
    }

    .biz {
        margin-bottom: 30px;

    }

    p {
        margin: 20px 0;
    }
      @media (max-width:1024px) {
         .about {
       padding:100px 60px
   }
      }
      @media (max-width:425px) {
         .about {
       padding:60px 15px
   }



    }
</style>
