<template>
  <div class="main_page">
    <div class="page" v-if="template.form">
      <h3 class="text-center mb-3">{{template.form.legend}}</h3>
      <div class="navi mb-3">
        <div
          v-for="(section,index) in template.form.sections"
          :key="index"
          @click="changeSection(index)"
          class="nav-items"
        >{{section.section.label}}</div>
      </div>
      <section
        v-for="(section,index) in template.form.sections"
        :key="index"
        class="mb-3"
        v-if="index== section_num"
      >
        <!-- <div class="number">Section {{index+1}}</div> -->
        <h4 class="mb-2">{{section.section.label}}</h4>
         <p class="section_desc" v-html="section.section.description"></p>
          <ol>
        <div v-for="(rows,idx) in section.section.rows" :key="idx">
          <div v-for="(row,id) in rows.row" :key="id" class="mb-3 rows">
             <p>{{row.description}}</p>
              <li>
                <div>
               
                  <div class="form-group" v-if="row.type == 'radio'">
                    <h5>{{row.label}}</h5>
                    <small class="form-text note">{{row.note}}</small>
                    <label
                      class="custom-control custom-radio"
                      v-for="(value,id) in row.values"
                      :key="id"
                    >
                      <input
                        type="radio"
                        :value="value"
                        class="custom-control-input"
                        v-model="row.answer"
                      />
                      <span class="custom-control-indicator">{{value}}</span>
                    </label>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'select'">
                    <h5>{{row.label}}</h5>
                    <small class="form-text note">{{row.note}}</small>
                    <select class="custom-select" v-model="row.answer">
                      <option disabled selected>Select one</option>
                      <option v-for="(value,id) in row.values" :key="id">{{value}}</option>
                    </select>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'checkbox'">
                    <h5>{{row.label}}</h5>
                    <small class="form-text note">{{row.note}}</small>
                    <label
                      class="custom-control custom-checkbox"
                      v-for="(value,id) in row.values"
                      :key="id"
                    >
                      <input
                        type="checkbox"
                        :value="value"
                        class="custom-control-input"
                        v-model="row.answers"
                        :multiple="row.multiple"
                      />
                      <span class="custom-control-indicator">{{value}}</span>
                    </label>
                  </div>

                  <div class="form-group" v-else-if="row.type == 'table'">
                    <h5>{{row.label}}</h5>
                    <small class="form-text note">{{row.note}}</small>
                    <table class="table table-bordered" v-if="row.table.headers.length">
                      <thead>
                        <tr>
                          <th></th>
                          <th v-for="(column, index) in row.table.headers" :key="index">{{column}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in row.table.items" :key="index">
                          <td>{{row.table.row_titles[index]}}</td>
                          <td
                            v-for="(column, indexColumn) in row.table.headers"
                            :key="indexColumn"
                            class="p-0"
                          >
                            <input
                              type="text"
                              class="form-control border-0"
                              v-model="item[column + index + indexColumn]"
                              placeholder="type here"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="form-group" v-else-if="row.type='text'">
                    <h5>{{row.label}}</h5>
                    <small class="form-text note">{{row.note}}</small>
                    <input
                      :type="row.type"
                      class="form-control"
                      :placeholder="row.placeholder"
                      :required="row.required"
                      v-model="row.answer"
                    />
                  </div>
                  <div v-else></div>
                </div>
              </li>
           
          </div>
        </div>
         </ol>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      section_num: 0,
      user: {},
      template: {}
    };
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    this.user = user;
    this.getQuestion();
  },
  methods: {
    changeSection(id) {
      this.section_num = id;
    },
    getQuestion() {
      let id = this.$route.params.id;
      axios
        .get(`/api/get-form/${id}`)
        .then(res => {
          if ((res.status = 200)) {
            this.template = JSON.parse(res.data.template);
          }
        })
        .catch();
    }
  }
};
</script>

<style scoped>
li{
  font-size: 14px;
}
.main_page {
  display: flex;
  min-height: 100vh;
  position: relative;
  background: #f7f8fa;
  padding: 30px;
}
.page {
  background: #fff;
  width: 90%;
  height: 100vh;
  overflow: scroll;
  margin: 0 auto;
  padding: 30px 20px;
}

.navi {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.nav-items {
  position: relative;
}

/* .nav-items::after {
  content: "";
  border-top: 2px solid #ccc;
  position: absolute;
  width: 200px;
  height: 10px;
  bottom: 0;
}
.nav-items:last-child::after {
  content: "";
  border-top: none;
} */
.number {
  font-size: 14px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

table {
  font-size: 14px;
}
h4 {
  margin-bottom: 14px;
  text-transform: inherit;
  font-size: 15px;
   font-weight: bold;
  text-transform: capitalize;
}
h5{
  font-size: 14px;
  margin-bottom:10px;
}
p {
    margin: 0 0 10px;
}
.mini-label {
  font-size: 13px;
}
label span {
  color: rgba(0, 0, 0, 0.64);
}
.custom-control {
  display: fleX;
}

.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
  font-size: 13px;
}
th,
td {
  text-align: center;
}
table {
  font-size: 14px;
}
</style>