<template>
  <div class="main_view bg-white" v-if="content.length">
    <div class="screen">
      <div class="audio_container mb-4">
        <audio :src="playing" controls autoplay></audio>
        <div class="controls my-5">
          <button class="elevated_btn elevated_btn_sm btn-compliment text-white" @click="prev" v-if="showPrev">prev</button>
          <button class="elevated_btn elevated_btn_sm btn-compliment text-white ml-auto" @click="next" v-if="showNext">next</button>
        </div>
      </div>

      <div class="audio_about">
        <div class="course_info">
          <h3 class="audio_title">{{content[num].title.toLowerCase()}}</h3>
          <p class="info">{{content[num].description}}</p>
        </div>
        <div class="cover_image">
          <img :src="content[num].coverImage" alt />
        </div>
      </div>
    </div>
    <div class="content_view">
      <div class="view">
            <h4 class="module_title mb-4">Modules</h4>
      <div class="modules" v-for="(item,idx) in content" :key="idx">
        <div class="module_info mb-3">
          <h5 class="module_title">{{item.title.toLowerCase()}}</h5>
          <p class="module_about">{{item.description}}</p>
        </div>
        <button
          class="elevated_btn elevated_btn_sm btn-compliment text-white"
          @click="play(idx)"
        >Play</button>
      </div>
      </div>
    </div>
  </div>
</template>
<script>
import cloudder from "cloudinary-core";
import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";
export default {
  props: ["user", "content","assessment"],
  data() {
    return {
      num: 0,
      playing:'',
      contentLength:0,
      showPrev:false,
      showNext:true,
    };
  },
  components: {
    "app-pdf": pdf
  },
  watch: {
    num:'changeaudio'
  },
  mounted() {
   
     setTimeout(() => {
         this.changeaudio()   
         this.contentLength = this.$props.content.length
          if (this.contentLength == 1) {
        this.showPrev = false;
        this.showNext = false;
      }
     }, 2000);
   
  },
  methods: {
    changeaudio() {
      this.playing = this.$props.content[this.num].videoFile;
    
    },
    next() {
      if (this.num < this.contentLength) {
        this.num++;
        this.showNext = true;
      } 
        if (this.num == this.contentLength-1) {
        this.showNext = false;
      }

       if (this.num > 0) {
       
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
    },
    prev() {
      if (this.num > 0) {
        this.num--;
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
        if (this.num !== this.contentLength) {
      
        this.showNext = true;
      } else {
        this.showNext = false;
      }

    },
    play(num) {
      this.num = num;
    }
  }
};
</script>

<style scoped>
.main_view{
    display: flex;
}
.screen {
  width: 60%;
  min-height: 100vh;
  padding: 15px;

}
.content_view {
  width: 40%;
  min-height: 100vh;
  padding: 15px;
    background: #f7f8fa;
}
.audio_container {
  width: 100%;
}
audio {
  width: 100%;
  background: black;
}
.audio_about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.audio_title {
  text-transform: capitalize;
}
.cover_image {
  width: 200px;
  height: auto;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view{
    overflow-y:scroll;
    max-height:60vh;
}
.modules {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom:1px solid #f7f8fa;
  padding:10px;
}
.module_title {
  text-transform: capitalize;
}
.module_about {
  font-size: 14px;
}
h3{
    font-family:'Josefin Sans';
}
@media (max-width:768px){
    h3{
    font-size:20px;
}
.main_view{
    flex-direction: column;
}
  .main_view {
    flex-direction: column;
  }
  .screen{
    width:100%;
     min-height:auto;
  }
   .content_view{
      width:95%;
      min-height: auto;
      margin: auto;
      padding: 5px;
  }
   .view{
      height:auto
  }
  .cover_image {
  width: 100px;
  height: auto;
}
}
</style>