<template>
  <div class="questionPage ">
    <ul>
      <li
        v-for="(breadcrumb, index) in breadcrumbList"
        v-bind:key="index"
        @click="routeTo(index)"
        :class="{linked: !!breadcrumb.link}"
      >{{breadcrumb.name}}</li>
    </ul>
    <div
      :class="{ modal: epiModal, fade: epiFade }"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog product-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body productdIS">
            <div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="close-button" aria-hidden="true">X</span>
              </button>
            </div>
            <div v-if="loginV" class="loginShow">
              <div class="loginText">
                <div class="loginSocial">WE ARE YOUR SOCIAL BUSINESS SCHOOL</div>
                <img class="imga" src=/images/arrow-curve.png" />
                All You Need To Master Business
                <br />Join our BizTribe!
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  v-model="userLogin.email"
                  @focus="errorCheck = false"
                  required
                  min="3"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  v-model="userLogin.password"
                  @focus="errorCheck = false"
                  required
                  min="3"
                />
              </div>

              <div class="upperblock">
                <!-- <p>Forgot Password</p>-->
                <div v-if="errorCheck" class="errorCheck">Please enter a valid credential...</div>
                <vue-spinner-button
                  class="btn btn-logIn"
                  :is-loading="isLoading"
                  :disabled="isLoading"
                  :status="status"
                >
                  <span @click="login(userLogin)" class="logIn">Log In</span>
                </vue-spinner-button>
              </div>
            </div>

            <div v-if="register" class="loginShow">
              <div class="loginText">
                <div class="loginSocial">WE ARE YOUR SOCIAL BUSINESS SCHOOL</div>
                <img class="imga" src=/images/arrow-curve.png" />
                All You Need To Master Business
                <br />Join our BizTribe!
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                  v-model="user.name"
                  @focus="errorCheck = false"
                  required
                  min="3"
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  v-model="user.email"
                  @focus="errorCheck = false"
                  required
                  min="3"
                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  v-model="user.password"
                  @focus="errorCheck = false"
                  required
                  min="3"
                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  v-model="user.password_confirmation"
                  @focus="errorCheck = false"
                  required
                  min="3"
                />
              </div>

              <div class="upperblock">
                <!-- <p>Forgot Password</p>-->
                <div>
                  <button class="btn btn-logIn" @click="registers">Sign In</button>
                </div>
              </div>
            </div>

            <div class="textBar">
              <span v-if="loginV">Not a member yet?</span>
              <span v-if="register">Already a member?</span>
              <span @click="switchAuth()" class="loginButton">
                {{
                loginView
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="rowB">
      <div v-if="ben" class="benBar">
        <div>
          <i v-if="benCancel" class="fa fa-times" @click="removeToolTip('ben')"></i>

          <div>
            Hi I'm Ben, I garnered international attention from the
            business world in 2011 by becoming one of the youngest
            people in history to successfully take his self-founded
            business public. With an IQ of 210, 3 PHDs, and the
            amazing ability to solve complex business problems in a
            matter seconds, I am considered a business boy genius. I
            currently consult for multiple Fortune 500 companies
            across the globe and now help hundreds of budding
            entrepreneurs in Africa move their ideas from inception
            to full on success- just as I have.
          </div>
          <p>
            <b>My areas of specialty are:</b>
          </p>

          <ul>
            <li>- Innovation & IT</li>
            <li>- Strategy</li>
            <li>- SME’s</li>
            <li>- Creativity</li>
            <li>- Product Development</li>
            <li>- Fund Raising</li>
            <li>- Mergers & Acquisitions</li>
          </ul>

          <p>
            <b>I am likely to appeal to:</b>
          </p>

          <ul>
            <li>- Students</li>
            <li>- Young Entrepreneurs</li>
            <li>- Tech Savvy Individuals</li>
            <li>- Start up Founders</li>
          </ul>

          <div>
            Have you met my partners, Aunty Bea and Mr Bill?
            <br />I
            think you'll love them!
          </div>
        </div>
      </div>
      <div v-if="bea" class="benBar">
        <div>
          <i v-if="beaCancel" class="fa fa-times" @click="removeToolTip('bea')"></i>

          <div>
            Hello my dear, my name is Beatrice or ‘Aunty Bea’ as I
            am more commonly known. Many have called me an
            embodiment of grace, fortitude and brilliance and I try
            to live up to it. Starting from humble beginnings, I
            gradually grew my business from my mother's single local
            neighborhood store to a multi-billion Global enterprise,
            making me one of the richest self-made women. For me,
            hard work and dedication are the true determinants of
            success, so I encourage entrepreneurs to follow their
            dreams and invest heavily in the informal sector. I
            think of myself as a powerful role model for women
            especially, all around the world.
          </div>

          <p>My areas of specialty are:</p>

          <ul>
            <li>-Commerce</li>
            <li>- Marketing</li>
            <li>- Skills building</li>
            <li>- Financial Accounting</li>
            <li>- Strategy</li>
            <li>- Human Resource Management</li>
            <li>- Sales</li>
            <li>- Product Development</li>
            <li>- Fund Raising</li>
            <li>- Mergers & Acquisitions</li>
            <li>- Branding</li>
          </ul>

          <p>I am likely to appeal to:</p>

          <ul>
            <li>- Freelancers</li>
            <li>- Business Owners</li>
            <li>- Online Retailers</li>
            <li>- Young Founders</li>
          </ul>

          <div>
            Have you met my partners, Ben and Bill?
            <br />I think
            you'll love them!
          </div>
        </div>
      </div>
      <div v-if="bill" class="benBar">
        <div>
          <i v-if="billCancel" class="fa fa-times" @click="removeToolTip('bill')"></i>
          <div>
            Hi there, I'm Bill, very nice to meet you. I am
            generally considered far from the average businessman,
            and you may soon learn why as we get to know each other
            better. Fun Fact: Despite being enrolled at one of the
            best business schools in the world, many years ago, I
            was more interested in pursuing my own dreams and soon
            dropped out to start my company (My parent's believed I
            graduated with a first degree in International Economics
            and an MBA). Today, my business portfolio has a value
            equivalent to several global economies with huge
            interests in sectors such as logistics, construction,
            real estate and agriculture. In recent years, l have
            retired from working full time and now focused fully on
            mentoring entrepreneurs and stakeholders of Africa's
            informal sector around the world.
          </div>

          <p>My areas of specialty are:</p>

          <ul>
            <li>- Leadership</li>
            <li>- Strategy</li>
            <li>- Entrepreneurship</li>
            <li>- New Market Development</li>
            <li>- Organizational analysis & Structure</li>
            <li>- Fund Raising</li>
            <li>- Mergers & Acquisitions</li>
            <li>-Investment</li>
            <li>- Financial Advisory</li>
          </ul>

          <p>I am likely to appeal to:</p>

          <ul>
            <li>- CEOs / Managers</li>
            <li>- Business Owners</li>
            <li>- Investors</li>
            <li>- Venture Capitalists</li>
          </ul>

          <div>
            Have you met my partners, Aunty Bea and Ben?
            <br />I think you'll love them!
          </div>
        </div>
      </div>

      <div class>
        <div class="imageHolder">
          <img
            src=/images/BizGuruhs-one.png"
            @mouseenter="showToolTip('bill')"
            @mouseleave="hideToolTip('bill')"
            @click="persistToolTip('bill')"
          />
        </div>
      </div>
      <div class>
        <div class="imageHolder">
          <img
            src=/images/BizGuruhs-two.png"
            @mouseenter="showToolTip('bea')"
            @mouseleave="hideToolTip('bea')"
            @click="persistToolTip('bea')"
          />
        </div>
      </div>
      <div class>
        <div class="imageHolder">
          <img
            src=/images/BizGuruhs-three.png"
            @mouseenter="showToolTip('ben')"
            @mouseleave="hideToolTip('ben')"
            @click="persistToolTip('ben')"
          />
        </div>
      </div>
    </div> -->


    <!-- vendor images will be here -->



<div class="vendor-box">
      <swiper :options="swiperOption" class="expertContainer" ref="swiperExpert">
          <swiper-slide class="expertSlide" v-for="(vendor,index) in allVendors" :key="index">
            <div @mouseenter="showToolTip(vendor.username, vendor.bio)" @mouseleave="hideToolTip()" class="img-box">
             <span class="img-b rounded-circle" @click="setVendor(vendor.storeName)">
                <img :src="vendor.valid_id" alt=""   class="vendor-img rounded-circle"/>
                <span class="img-text animated fadeIn"> Ask {{vendor.storeName}}</span>
             </span>
            </div>
           
          </swiper-slide>
          <div class="swiper-button-prev"  slot="button-prev"></div>
        <div class="swiper-button-next"  slot="button-next"></div>
        <div class="swiper-scrollbar"   slot="scrollbar"></div>
        </swiper>


        <div class="about-vendor bg-gray-light p-3 rounded" v-if="showText">
          <div class="vendor-text bg-white p-4 rounded">
            <h3 class='text-center smallText'>{{name}}</h3>
              <p  class="smallText">{{text}}</p>
          </div>
        </div>

</div>















    <div class="container center diver">
      <!-- <div class="needHelp">Got a business related question?</div> -->
      <div class="goAsk">Got a business related question?</div>
      <div class="form-group askVendor">
        <select class="form-control rounded-pill smallText"  v-model="selectVendor">
          <option value="default">Select Your Expert</option>
          <option
            v-for="expert in allVendors"
            v-bind:key="expert.id"
            :value="expert.storeName"
          >Ask - {{expert.storeName}}</option>
        </select>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex search center">
            <select
              class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sel"
              v-model="categorySend"
              v-if="vendorSubject.length > 0"
            >
              <option
                v-for="(subjectMatter) in subjects"
                :value="subjectMatter.name"
                v-bind:key="subjectMatter.id"
              >{{ subjectMatter.name }}</option>
            </select>
            <select class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sel" v-model="categorySend" v-else>
              <option value>Select Concept</option>
              <option
                v-for="(subjectMatter) in subjectMatters"
                :value="subjectMatter.name"
                v-bind:key="subjectMatter.id"
              >{{ subjectMatter.name }}</option>
            </select>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 input-forms inform">
              <input
                placeholder="Go on - ask a question!"
                type="text"
                class="form-control"
                v-model="emailContent"
                required
                minlength="5"
              />
            </div>
            <button
              v-if="!authenticate"
              class="btn btn-popup col-lg-1 col-md-1 col-sm-1 col-xs-2"
              data-toggle="modal"
              data-target="#exampleModal"
              @click="sendEmail()"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
            <button
              v-if="authenticate"
              class="btn btn-popup col-lg-1 col-md-1 col-sm-1 col-xs-2"
              @click="sendEmail()"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
          <div v-if="questionSent" class="questionCheck">
            Question sent, Our experts are on it, check your inbox
            shortly!
          </div>
          <div v-else class="questionCheck">{{emailCheck[0]}}</div>
        </div>
      </div>
      <div class="help">
        Browse our question bank, we might have answered your question
        already
      </div>

      <div>
        <img class="imgArrow" src="/images/arrow-curve.png" alt="arrow" />
      </div>
      <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-3 col-md-6 col-sm-6" v-if="subjectMatters.length > 0" v-for="(subjectMatter, index) in subjectMatters">
                    <router-link :to="{name: 'FAQsShow', params: {id: subjectMatter.id, name: subjectMatter.name }}"><div class="subjectMatter">{{subjectMatter.name}}</div></router-link>

                </div>
                    </div>
            </div>
      </div>-->

      <div class="container contain">
        <div class="row desktop-img">
          <div class="column">
            <router-link
              :to="{
								name: 'FAQsShow',
								params: { id: 3, name: 'business modeling' }
							}"
            >
              <div class="img_container">
                <img src="/images/busmodel2.jpg " alt="Business Modeling" />
              </div>
              <div class="img_content0">
                <h3 class="text-content">Business Modeling</h3>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
            </router-link>
          </div>

          <div class="column">
            <router-link
              :to="{
								name: 'FAQsShow',
								params: { id: 4, name: 'marketing' }
							}"
            >
              <div class="img_container">
                <img src="/images/mark.jpg" alt="Marketing" style="width:100%" />
              </div>
              <div class="img_content1">
                <h3 class="text-content">Marketing</h3>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
            </router-link>
          </div>

          <div class="column">
            <router-link
              :to="{
								name: 'FAQsShow',
								params: { id: 3, name: 'sales' }
							}"
            >
              <div class="img_container">
                <img src="/images/submat3.jpg" alt="Sales" />
              </div>

              <div class="img_content2">
                <h3 class="text-content">Sales</h3>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
            </router-link>
          </div>

          <div class="column">
            <router-link
              :to="{
								name: 'FAQsShow',
								params: { id: 5, name: 'finance' }
							}"
            >
              <div class="img_container">
                <img src="/images/finan.jpg" alt="Finance" />
              </div>

              <div class="img_content3">
                <h3 class="text-content">Finance</h3>

                <i class="fas fa-arrow-circle-right"></i>
              </div>
            </router-link>
          </div>

          <div class="column">
            <router-link
              :to="{
								name: 'FAQsShow',
								params: { id: 6, name: 'persoanl development' }
							}"
            >
              <div class="img_container">
                <img src="/images/submat5.jpeg" alt="Personal Development" />
              </div>

              <div class="img_content4">
                <h3 class="text-content">Personal Development</h3>

                <i class="fas fa-arrow-circle-right"></i>
              </div>
            </router-link>
          </div>
        </div>

        <div class="container">
          <div class="row mobile">
            <div class="col-sm-12 col-xs-12">
              <carousel :perPage="1" :navigationEnabled="true" :paginationEnabled="false">
                <slide>
                  <div class="column">
                    <router-link
                      :to="{
												name: 'FAQsShow',
												params: {
													id: 3,
													name: 'business modeling'
												}
											}"
                    >
                      <div class="img_container">
                        <img src="/images/busmodel.jpg " alt="Business Modeling" />
                      </div>

                      <div class="img_content0">
                        <h3 class="text-content">Business Modeling</h3>
                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                    </router-link>
                  </div>
                </slide>
                <slide>
                  <div class="column">
                    <router-link
                      :to="{
												name: 'FAQsShow',
												params: {
													id: 4,
													name: 'marketing'
												}
											}"
                    >
                      <div class="img_container">
                        <img src="/images/mark.jpg" alt="Marketing" style="width:100%" />
                      </div>

                      <div class="img_content1">
                        <h3 class="text-content">Marketing</h3>
                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                    </router-link>
                  </div>
                </slide>
                <slide>
                  <div class="column">
                    <router-link
                      :to="{
												name: 'FAQsShow',
												params: { id: 3, name: 'sales' }
											}"
                    >
                      <div class="img_container">
                        <img src="/images/submat3.jpg" alt="Sales" />
                      </div>

                      <div class="img_content2">
                        <h3 class="text-content">Sales</h3>
                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                    </router-link>
                  </div>
                </slide>
                <slide>
                  <div class="column">
                    <router-link
                      :to="{
												name: 'FAQsShow',
												params: {
													id: 5,
													name: 'finance'
												}
											}"
                    >
                      <div class="img_container">
                        <img src="/images/finan.jpg" alt="Finance" />
                      </div>
                      <div class="img_content3">
                        <h3 class="text-content">Finance</h3>
                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                    </router-link>
                  </div>
                </slide>
                <slide>
                  <div class="column4">
                    <router-link
                      :to="{
												name: 'FAQsShow',
												params: {
													id: 6,
													name: 'persoanl development'
												}
											}"
                    >
                      <div class="img_container">
                        <img src="/images/submat5.jpeg" alt="Personal Development" />
                      </div>
                      <div class="img_content4">
                        <h3 class="text-content">Personal Development</h3>

                        <i class="fas fa-arrow-circle-right"></i>
                      </div>
                    </router-link>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</template>
<script>
import LoginContent from "./components/userAuthenticateComponent";
import { Carousel, Slide } from "vue-carousel";
import { getCustomerHeader } from "../config";

export default {
  name: "bizguruh-question-component",
  data: function() {
    return {
      activeSlide:0,
      loginView: "Join Here",
      usersub: null,
      questionSent: false,
      subjectMatters: [],
      vendor_id: null,
      currentVendor: null,
      vendorSubLevel: 1,
      allVendors: [],
      userLogin: {
        email: null,
        password: null
      },
      user: {
        name: "",
        lastName: "",
        email: "",
        phoneNo: "",
        password: "",
        password_confirmation: ""
      },
      errorCheck: false,
      selectVendor: "default",
      select_vendor_subject: null,
      isLoading: false,
      status: "",
      emailContent: "",
      categorySend: "",
      ben: false,
      epiFade: true,
      epiModal: true,
      benCancel: false,
      bea: false,
      beaCancel: false,
      bill: false,
      billCancel: false,
      authenticate: false,
      token: "",
      emailCheck: [],
      loginV: true,
      register: false,
      email: "",
      breadcrumbList: [],
      text:'',
      name:'',
      showText:false,
      swiperOption: {
        spaceBetween: 25,
        slidesPerView: 4,
         navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },

        breakpoints: {
          425: {
            slidesPerView: 3,
            spaceBetween: 15
          }
        }
      },
    };
  },
  components: {
    "app-auth": LoginContent,
    Carousel,
  
  },
  mounted() {

    this.updateList();
    this.getVendors();

    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.email = user.email;
      this.token = user.access_token;
      this.authenticate = true;

      axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
        if (response.status === 200) {
          this.usersub = Number(response.data[0].level);
        }
      });
    }
    axios
      .get("/api/subjectmatter")
      .then(response => {
        if (response.status === 200) {
          this.subjectMatters = response.data.data;
        }
      })
      .catch(error => {
        console.log(error);
      });
  },
  watch: {
    $route() {
      this.updateList();
    },
  
  },
  methods: {
   setVendor(name){
     this.selectVendor = name
    },
    getVendors() {
      axios.get("/api/get-all-vendor").then(response => {
        response.data.forEach(item=>{
          if(item.id !== 1){
             this.allVendors.push(item)
          }
        })
       
        this.allVendors.forEach(vendor => {
          if (this.$route.query.vendor) {
            this.vendor_id = this.$route.query.vendor;
            if (Number(vendor.id) === Number(this.vendor_id)) {
              this.selectVendor = vendor.storeName;
              this.select_vendor_subject = vendor.subjectMatter;
            }
          } else {
            this.selectVendor = "default";
          }
        });
      });
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    registers() {
      axios
        .post("/api/customer/register", this.user)
        .then(response => {
          if (response.status === 200) {
            this.$toasted.success(
              "Registration successfully, Please Login to continue"
            );
            window.location.reload();
          }
        })
        .catch(error => {
          for (var key in error.response.data.errors) {
            this.$toasted.error(error.response.data.errors[key][0]);
          }
        });
    },
    login(userLogin) {
      this.isLoading = true;
      let data = {
        client_id: 2,
        client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
        grant_type: "password",
        username: userLogin.email,
        password: userLogin.password,
        theNewProvider: "api"
      };
      const authUser = {};
      axios
        .post("oauth/token", data)
        .then(response => {
          authUser.access_token = response.data.access_token;
          authUser.refresh_token = response.data.refresh_token;
          localStorage.setItem("authUser", JSON.stringify(authUser));
          axios
            .get("/api/user", { headers: getCustomerHeader() })
            .then(response => {
              if (response.status === 200) {
                authUser.id = response.data.id;
                authUser.email = response.data.email;
                authUser.name = response.data.name;
                localStorage.setItem("authUser", JSON.stringify(authUser));
                this.isLoading = false;
                this.status = true;
                // this.$router.push(this.$route.query.redirect || '/');
                this.$toasted.success("Successfully login");
                this.$emit("authenicatedBar", true);
                window.location.reload();
              } else {
                this.$toasted.error("Invalid user name and password");
                this.errorCheck = true;
              }
            })
            .catch(error => {
              let errors = Object.values(error.response.data.error);
              errors.forEach(item => {
                this.$toasted.error(item[0]);
              });
              // this.isLoading = false;
              // this.status = false;
            });
        })
        .catch(error => {
          this.errorCheck = true;
          this.isLoading = false;
          //this.status = true;
        });
    },
    switchAuth() {
      if (this.loginView === "Join Here") {
        this.register = true;
        this.loginV = false;
        this.loginView = "Log In";
      } else if (this.loginView === "Log In") {
        this.register = false;
        this.loginV = true;
        this.loginView = "Join Here";
      }
    },

    sendEmail() {
      if (this.authenticate) {
        if (this.usersub !== 0) {
          if (this.usersub >= this.vendorSubLevel) {
            this.emailCheck = [];
            if (this.selectVendor !== "default") {
              if (this.emailContent.length >= 5 && this.categorySend !== "") {
                this.emailCheck.push("We are sending your message....");
              } else {
                this.emailCheck.push(
                  "Concept / Message required before sending "
                );

                setTimeout(() => {
                  this.emailCheck.splice(0, 0, "");
                }, 3000);
              }
            } else {
              this.$toasted.error("Select an expert !");
            }

            console.log("Data: sendEmail -> emailCheck", this.emailCheck);

            let data = {
              subjectMatter: this.categorySend,
              content: this.emailContent,
              email: this.email,
              vendor: this.selectVendor
            };
            if (this.emailCheck[0] === "We are sending your message....") {
              axios
                .post("/api/user/question-send", data, {
                  headers: { Authorization: `Bearer ${this.token}` }
                })
                .then(response => {
                  if (response.status === 200) {
                    this.questionSent = true;
                    this.emailCheck = [];
                    this.$notify({
                      group: "cart",
                      title: "Question sent",
                      text: "Our experts are on it, check your inbox shortly!"
                    });
                    window.location.reload();
                  }
                })
                .catch(error => {
                  console.log(error);
                });
            }
          } else {
            this.$toasted.error(
              "Oops , upgrade to send questions to this Expert"
            );
          }
        } else {
          this.$toasted.error("Oops , upgrade to send questions ");
        }
      } else {
        // this.emailCheck = false;
        this.epiFade = false;
        /*this.$notify({
            group: 'cart',
            title: 'Unauthenicated',
            text: 'You must log in to ask question'
        })*/
      }
    },
    showToolTip(name, bio) {
      this.showText = true
      this.text = bio
      this.name= name
    },
    hideToolTip(params) {
     this.text=""
     this.name= ''
      this.showText = false
    },
    removeToolTip(params) {
      switch (params) {
        case "bill":
          this.bill = this.billCancel = false;
          break;
        case "bea":
          this.bea = this.beaCancel = false;
          break;
        case "ben":
          this.ben = this.benCancel = false;
          break;
        default:
          this.bill = this.ben = this.bea = false;
      }
    },
    persistToolTip(params) {
      switch (params) {
        case "bill":
          this.bill = this.billCancel = true;
          break;
        case "bea":
          this.bea = this.beaCancel = true;
          break;
        case "ben":
          this.ben = this.benCancel = true;
          break;
        default:
          this.bill = this.bea = this.ben = false;
      }
    }
  },
  computed: {
    vendorSubject() {
      return this.allVendors.filter(item => {
        if (item.storeName.toLowerCase() === this.selectVendor.toLowerCase()) {
          this.select_vendor_subject = item.subjectMatter;
          return item;
        }
      });
    },
    subjects() {
      return this.subjectMatters.filter(element => {
        if (element.id == this.vendorSubject[0].subjectMatter) {
          this.categorySend = element.name;
          return element;
        } else if (this.vendorSubject[0].subjectMatter == null) {
          return element;
        }
      });
    }
  }
};
</script>

<style scoped>
.img-box{
  position:relative;
  width:200px;
  height:230px;
  padding:10px;
  cursor:pointer;
}
.img-text{
  display:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.7);
  color:white;
  font-weight:bold;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.img-b{
 position:absolute;
 height:200px;
 width:200px;
 overflow:hidden;
}
.vendor-box{
  position:relative;
  margin-top:30px;
}
.about-vendor{
  position: absolute;
  left:0;
  top:95%;
  width:25%;
  height:auto;
  z-index:2
}
.expertContainer{
width:70%;
}
/* .expertSlide{
  width:230px !important;
} */
.vendor-img{
  width:200px;
  height:200px;
  object-fit:cover;
   transition: transform .4s;
   background-color:white;
}
.img-b:hover .vendor-img{
  transform:scale(1.1);
}
.img-b:hover .img-text{
  display:flex;
}
.vendor-text{
      border-top-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 20px 0px;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
.colWhite {
  color: #ffffff;
}
.col-xs-2 {
  width: 16.66666667%;
}
.mobile {
  display: none;
}
.center {
  justify-content: center;
}

div.container-fluid {
  padding: 0px 0px;
  margin: 0;
}
div.col-lg-12.col-md-12.col-sm-12.d-flex.search.center {
  padding: 0px 0px;
  margin: 0;
  margin-top: 5px;
}

.column {
  float: left;
  width: 20%;
  height: 300px;
  background: #ffffff;
  position: relative;
}

.img_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
}
.img_content0 {
  position: absolute;
  top: 0;
  background: rgba(44, 69, 180, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_content1 {
  position: absolute;
  top: 0;
  background: rgba(151, 25, 25, 0.5);
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_content2 {
  position: absolute;
  top: 0;
  background: rgba(33, 112, 2, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_content3 {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_content4 {
  position: absolute;
  top: 0;
  background: rgba(109, 14, 133, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_container img {
  width: 100%;
  height: 100%;
  transition: all .4s;
    object-fit: cover;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.close-button {
  border: 1px solid white;
  background: #ffffff;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.VueCarousel .VueCarousel-inner {
  flex-basis: 200px !important;
}
.contain {
  margin-bottom: 20px;
}
.VueCarousel {
  display: none;
}
.fa-arrow-circle-right {
  font-size: initial;
  color: #ffffff;
  float: right;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.text-content {
  font-size: 20px;
  color: #fff;
}

.loginButton {
  cursor: pointer;
  color: #a3c2dc;
}

.loginButton:hover {
  text-decoration: underline;
}
.textBar {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.loginText {
  color: #fff;
  font-family: none;
  margin-top: 20px;
  /* position: relative; */
}
.loginText .loginSocial {
  font-weight: bolder;
  color: #fff;
}
.askVendor {
  width: 25%;
  margin: 10px auto;
}
.imga {
  width: 23px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  right: 100px;
  height: 40px;
}
.upperblock {
  text-align: center;
}
.btn-logIn {
  background-color: #a3c2dc !important;
  color: #ffffff;
  font-weight: bold;
}
.logIn {
  font-size: 16px;
  color: #fff;
}
.loginShow {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loginShow input {
  border: 1px solid #a3c2dc;
}

.product-dialog {
  width: 47%;
  height: 400px;
}

.modal-content {
  position: relative;
  height: 100%;
  background-image: url(/images/login.jpg);
  background-color: #a3c2dc !important;
  background-position: center;
  background-size: 100% 100%;
  box-shadow: 0 0px 2px 0 hsla(0, 0%, 0%, 0.2);
  margin-right: auto;
  margin-left: auto;
}

.productdIS {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.questionCheck {
  color: blue;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.benBar {
  position: absolute;
  left: -33%;
  font-size: 16px;
  width: 40%;
  background: #ffffff;
  border: 1px solid #a3c2dc;
  margin-top: 20px;
  border-radius: 5px;
  padding: 3px;
  z-index: 1;
  overflow: scroll;
  height: 600px;
}

.imgArrow {
  position: relative;
  width: 23px;
  height: 50px;
  right: -19%;
  top: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.help {
  margin-top: 50px !important;
  position: relative;
  font-size: 1rem;
  padding: 0 20px 0 20px;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* older Firefox*/

  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
.sel {
  height: 48px;
  padding-left: 5px;
  background: #c5c5c5;
  padding-right: 0px;
  border: none;
  box-shadow: 0 0px 2px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: unset;
}
.column:hover img{
   transform: scale(1.1);
}
.subjectMatter {
  margin: 10px auto;
  background: #88a2b8;
  color: #ffffff;
  width: 50%;
  text-transform: capitalize;
  padding: 2px 0;
  font-size: 16px;
}

.diver {
  background: #f5f5f5 !important;
  padding-top: 20px;
}
.btn-popup {
  background-color: #a3c2dc !important;
  font-size: 16px;

  height: 48px;
  margin-left: -32px;
  box-shadow: 0 0px 2px 0 hsla(0, 0%, 0%, 0.2);
}
/* .btn-popup:focus{
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
} */

/* .input-forms {
        width: 400px;

    } */

input::-webkit-input-placeholder {
  color: #c5c5c5 !important;
}

.inform input {
  height: 48px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 0px 2px 0 hsla(0, 0%, 0%, 0.2);
}
.inform input:focus {
  box-shadow: inset 0 0px 2px 0 hsla(0, 0%, 0%, 0.2);
}

div.col-sm-6.col-md-6.col-lg-6.input-forms.inform {
  padding: 0px 0px;
}
.img-test {
  display: flex;
  margin-top: 23px;
}

.btn-cont-pop {
  position: relative;
  /* top: -2px; */
}

.col-img {
  padding: 0 5px 0 5px;
  margin-left: auto;
  margin-right: auto;
}

.goAsk {
  font-size: 50px;
  line-height: 60px;
  font-weight: bolder;
  color: #a3c2dc;
}
.needHelp {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 36px;
}
.rowB {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  position: relative;
}
.questionPage {
  background: #f5f5f5 !important;
  /* margin-bottom: 50px; */
  padding:15px;
  padding-top: 60px;
}

.imageHolder {
  width: 100px !important;
  height: 100px !important;
}

.imageHolder img {
  width: 100%;
  height: 100%;
}
.swiper-button-prev, .swiper-button-next {
  
    width: 27px;
    height: 22px;

 
}
@media only screen and (max-width: 768px) {
  .column {
 
  height: 250px;
 
}

  .sel {
    box-shadow: none;
    font-size: small;
  }
  .inform input {
    box-shadow: none;
  }
  .imgArrow {
    position: relative;
    top: 10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .VueCarousel {
    display: -webkit-box;
  }

  .col-img[data-v-d7350e3e] {
    padding: 0 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-popup {
    box-shadow: none;
  }
  .row {
    width: 100%;
  }
  .column {
    float: left;
    width: 20%;
    background: #ffffff;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  div.container.contain {
    padding-top: 20px;
  }
  .img-text{
    font-size:11px;
    line-height: 1.2;
  }
  .fa-arrow-circle-right {
    font-size: initial;
    color: #ffffff;
    float: right;
  }
  .text-content {
    font-size: 16px;
  }
  .img-box{

  width:100px;
  height:150px;

}

.img-b{

 height:100px;
 width:100px;

}
.vendor-box{
  position:relative;
  margin-top:30px;
}
.about-vendor{

  width:85%;

}
.expertContainer{
width:90%;
}
/* .expertSlide{
  width:200px !important;
} */
.vendor-img{
  width:100px;
  height:100px;

}

}

@media only screen and (max-width: 425px) {
  .column {
  float: left;
  width: 20%;
  height: 200px;
  /* padding: 5px; */
  background: #ffffff;
  position: relative;
}

  
  .smallText{
    font-size:x-small;
  }
  .benBar {
    position: absolute;
    left: 0;
    font-size: 16px;
    width: 60%;
  }
  .askVendor {
    width: 70%;
    margin: 10px auto 0;
  }
  .imageHolder {
    width: 124px !important;
    height: 124px !important;
  }
  .product-dialog {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile {
    display: block;
  }
  div.container.subjectMatter {
    padding: 30px 0 0 80px;
  }
  .container {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .column {
    float: left;
    width: 100%;
    background: #ffffff;
  }
  img {
    position: relative;
     transition: all .4s;
   
  }
  .imga {
    right: 34px;
  }
  div.row.desktop-img {
    display: none;
  }
  .VueCarousel {
    display: -webkit-box;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  div.container.contain {
    padding-top: 20px;
  }
  .fa-arrow-circle-right {
    font-size: initial;
    color: #ffffff;
    float: right;
    position: absolute;
  }
  .text-content {
    font-size: 16px;
  }
  .help {
    margin-top: 10px !important;
    margin-bottom: -50px;
  }
  /* .btn-popup[data-v-d7350e3e] {
    width: 50px;

} */
  .sel {
    width: 80px;
    border: none;
    font-size: x-small;
    border-radius: unset;
  }
  .input.form-control {
    border-top: 1px solid #a3c2dc;
    border-bottom: 1px solid #a3c2dc;
  }
  .sel, .inform input, .btn-popup{
    height:34px;
  }
  .goAsk {
    line-height: 1.2 ;
    font-size:1.2em !important;
  }
  .img_container {
    height: 100%;
  }
  .text-content {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  .img_container {
    height: 100%;
  }
  .text-content {
    font-size: 18px;
  }
  .column {
  
  height: 100px;
 
}

}
</style>
