<template>
  <div class="container-fluid">
    <questionTemplate v-if="stageOne" />
  </div>
</template>

<script>
import questionTemplate from "./brightIdeaQuestion";
export default {
  data() {
    return {
      usersub: 0,
      stageOne:false
    };
  },

  beforeRouteEnter(to, from, next) {
    next(vm => {
      let name = "My Bright Idea";
      let user = JSON.parse(localStorage.getItem("authUser"));
      vm.getUserSub();
      axios
        .get(`/api/get-template/${name}`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "active") {
            vm.$router.push("/entrepreneur/bap/discovery");
            vm.$toasted.error("Already completed");
          } else {
            vm.stageOne = true;
          }
        });
    });
  },
  components: {
    questionTemplate
  },
  methods: {
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      if (user !== null) {
        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          if (response.data.length) {
            this.usersub = Math.round(response.data[0].level);

            if (Math.round(response.data[0].level) < 3) {
              this.$router.push({
                name: "SubscriptionProfile",
                params: {
                  level: 3
                },
                query: {
                  redirect_from: "bap_progress"
                }
              });
            }
          } else {
            this.$router.push({
              name: "SubscriptionProfile",
              params: {
                level: 3
              },
              query: {
                redirect_from: "bap_progress"
              }
            });
          }
        });
      }
    }
  }
};
</script>

<style scoped>
.container-fluid {
  margin-top: 0px;
  min-height: 100vh;
  background: #f7f8fa;
}
@media only screen and (min-width: 768px) {
  .container-fluid {
    margin-top: 0px;
    padding:20px;
  }
}
@media only screen and (min-width: 1024px) {
}
</style>