<template>
  <div class="container-fluid">
     
    <form class="question" @submit.prevent="previewAnswer">
       <router-link to="/entrepreneur/bap" class="mb-5 back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</router-link>
      <legend>My Bright Idea</legend>
      <p class="mb-5">Looking at how you initially got inspiration for your business can help you toward determining how you might get others excited about your business as well.
      </p>
      <div class="form-group">
        <label for="one">What is my business idea?</label>
        <textarea class="form-control" v-model="questions.one" id="one" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <label for="two">How did I come up with it?</label>
        <textarea class="form-control" v-model="questions.two" id="two" rows="5" placeholder="200 characters" maxlength="200" required></textarea>
      </div>
      <div class="form-group">
        <label for="three">What excites me about it?</label>
        <textarea class="form-control" v-model="questions.three" id="three" placeholder="200 characters" maxlength="200" rows="5" required></textarea>
      </div>

      <div class="butt">
          <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
        <button type="submit" class="elevated_btn elevated_btn_sm btn-compliment text-white">Preview</button>
      </div>
    </form>

    <div class="previewOverlay" v-if="preview">
      <previewTemp
        title="my bright idea"
        @submit="submit"
        :questions="questions"
        :bap="true"
        @previewTemplate="previewAnswer"
      />
    </div>
  </div>
</template>

<script>
import previewTemp from "./bap/previewTemplate";
export default {
  data() {
    return {
      month: 0,
      week: 0,
      preview: false,
      questions: {
        one: "",
        two: "",
        three: ""
      },
      record: {}
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft()
  },
  methods: {
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
      window.scrollTo(0, 0);
    },
     saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Bright Idea"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Bright Idea"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
                this.questions = JSON.parse(response.data.responses);
            }
          
           
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Bright Idea"
      };
      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");
            this.$router.push("/entrepreneur/bap/discovery");
          }
        });
    }
  }
};
</script>

<style scoped>
.question {
  position: relative;
  margin: 0px auto;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 65px;
  border-radius: 4px;

}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
.form-group {
  margin-bottom: 25px;
}
.butt {
  display: flex;
  justify-content: space-between;
}
.back{
  font-size:14px;
  position:absolute;
  top:0
}
.previewOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

label {
  margin-bottom: 5px;
}

.input-group {
  display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .question {
    width: 90%;
    padding-top: 80px;
  }

  h3 {
    font-size: 20px;
  }
  .quest {
    width: 95%;
  }
}
@media only screen and (min-width: 769px) {
  .question {
    margin: 0px auto;
    width: 80%;
    padding: 25px;
    padding-top: 60px;
    padding-bottom: 100px;

    border: 1px solid #f7f8fa;
  }
  .back{

  top:10px;
}
  legend {
    font-size: 28px;
  }
  .preview {
    background: white;
    padding: 30px;
    border-radius: 4px;
    width: 70%;
    margin: 80px auto;
    margin-bottom: 0;
    font-size: 13.5px;
  }
  h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .question {
    width: 80%;
  }
}
</style>