<template>
  <div class="containers">
  
    <div class="main shadow-lg" v-bind:class="{mainTemplate:showTemplate}">
      <div class="return">
        <span @click="returnNow">
          Return
          <i class="fa fa-undo" aria-hidden="true"></i>
        </span>
      </div>

      <div class="start" v-if="!start">
        <div>
          <button
            v-if="!startCount"
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment submit m-4"
            @click="startNow"
          >Click to begin</button>
        </div>

      </div>

      <!-- CONTENT DISPLAY   -->
      <div
        v-if="showQuestions && start  && !categoryBegin"
        class="mt-4 contents animated fadeInRight faster"
      >
        <h2 class="mb-4" style="text-align:center">{{result.title}}</h2>
        <h6 class="mb-2 text-center">Category {{number+1}} / {{models.length}}</h6>

        <h4>{{models[number].category}}</h4>
         <span class="under"></span>

        <div class=" p-3">
          
          <div
            class="form-check "
            v-if="models[number].questions[questNumber].type === 'tf'"
          >
            <div class="d-flex question">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>
            <label class="form-check-label question">
              <input
                class="form-check-input"
                type="radio"
                name="true"
                id="true"
                value="true"
                v-model="answer"
              /> True
            </label>
            <label class="form-check-label question">
              <input
                class="form-check-input"
                type="radio"
                name="false"
                id="false"
                value="false"
                v-model="answer"
              /> False
            </label>
          </div>

          <div class="question" v-if="models[number].questions[questNumber].type === 'mc'">
            <div class="d-flex ">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>

            <div
              class="form-check question"
              v-for="(check,index) in models[number].questions[questNumber].options"
              v-bind:key="index"
            >
              <input
                class="form-check-input"
                type="checkbox"
                v-model="checkAnswer"
                :value="check"
                name="checkBox"
                :id="check"
              />
              <label class="form-check-label" :for="check">{{check}}</label>
            </div>
          </div>

          <div class="question" v-if="models[number].questions[questNumber].type === 'radio'">
            <div class="d-flex ">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>
            <div
              class="form-check question"
              v-for="(check,index) in models[number].questions[questNumber].options"
              v-bind:key="index"
            >
              <input
                class="form-check-input"
                :type="models[number].questions[questNumber].type"
                v-model="answer"
                name="radioAnswer"
                :id="check"
                :value="check"
              />
              <label class="form-check-label" :for="check">{{check}}</label>
            </div>
          </div>

          <div class="question" v-if="models[number].questions[questNumber].type === 'text'">
            <div class="d-flex ">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>
            <div class="form-group question">
              <input
                type="text"
                class="form-control"
                name="text"
                id="textT"
                v-model="answer"
                placeholder="Enter your answer"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- SUBMIT SCORES  -->
      <div>
        <div class="mt-4 contents scores" v-if="showScores || showSubmit">
          <h2 class="mb-4" style="text-align:center">{{result.title}}</h2>
          <div v-if="showScores" class="animated slideInUp faster">
            <div v-if="result.name === 'template'">
              <!-- TEMPLATE DISPLAY    -->

              <div class="card-columns">
                <div class="card" v-for="(model,index) in models" v-bind:key="index">
                  <div class="card-header bg-primary text-white text-center">
                    <h4>{{model.category}}</h4>
                  </div>
                  <div
                    class="card-body"
                    v-for="(result,idx) in modelAnswer[index]"
                    v-bind:key="idx"
                  >
                    <h5 class="card-title">Q{{idx+1}}. {{model.questions[idx].title}}</h5>
                    <p v-if="typeof result == 'object'" class="card-text text-capitalize">
                   <small class="text-faded">Your reply :</small>   <ul
                        class="text-capitalize"
                      
                      ><li   v-for="(results,idx) in result"
                        v-bind:key="idx"> {{results.toLowerCase()}}</li></ul>
                    </p>
                    <p v-else class="card-text text-capitalize"> <small class="text-faded">Your reply :</small>   {{result.toLowerCase().replace(/''/g, ' ')}}</p>
                  </div>
                  
                </div>
              </div>
            </div>

            <!-- guides list  -->
            <div v-else-if="result.name === 'bg'">
              <div class="card-columns">
                <div class="card" v-for="(model,index) in models" v-bind:key="index">
                  <div class="card-header bg-primary text-white text-center">
                    <h4>{{model.category}}</h4>
                  </div>
                  <div
                    class="card-body"
                    v-for="(result,idx) in modelAnswer[index]"
                    v-bind:key="idx"
                  >
                   <h5 class="card-title">Q{{idx+1}}. {{model.questions[idx].title}}</h5>
                    <p v-if="typeof result == 'object '" class="card-text text-capitalize">
                     <small class="text-faded">Your reply :</small>  <span
                        class="text-capitalize"
                        v-for="(results,idx) in result"
                        v-bind:key="idx"
                      >{{results.toLowerCase().replace(/''/g, '-') }}</span>
                    </p>
                    <p v-else class="card-text text-capitalize"> <small class="text-faded">Your reply :</small>  {{result.toLowerCase()}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- question and answer           -->
            <div v-else>
              <p>Congratulations you just completed this Checklist, you scored</p>
              <h1 class="text-center">{{totalScore}}</h1>
            </div>
          </div>

          <button
            v-if="showSubmit"
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment submit m-4"
            @click="submit()"
          >Submit</button>
        </div>
      </div>

      <!-- category vbegin  -->
      <div class="category contents" v-if="categoryBegin">
        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-white btn-compliment next m-4"
          @click="beginCategory"
        >Begin Next Category</button>
      </div>

      <!-- NAVIGATION BUTTONS  -->
      <div class="navigation questionNav" v-if="showQuestions && start && !categoryBegin">
        <button
          v-if="questNumber !== 0 "
          type="button"
          class="elevated_btn elevated_btn_sm text-white btn-compliment prev m-4"
          @click="prevQuestion"
        >Prev question</button>

        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-white btn-compliment next m-4"
          @click="nextQuestion(models[number].questions[questNumber].type)"
          v-bind:disabled="disable"
        >Next question</button>
      </div>

      <div
        class="navigation"
        v-if="showQuestions && start && (questNumber === (models[number].questions.length))  && !categoryBegin"
      >
        <button
          v-if="number !== 0 "
          type="button"
          class="elevated_btn elevated_btn_sm text-white btn-compliment prev m-4"
          @click="prev"
        >Prev Category</button>

        <button type="button" class="elevated_btn elevated_btn_sm text-white btn-compliment next m-4" @click="next()">Next Category</button>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "checklist",
  data() {
    return {
      id:null,
      result: [],
      quest: [],
      models: [],
      answers: [],
      modelAnswer: [],
      answer: "",
      checkAnswer: [],
      number: 0,
      questNumber: 0,
      totalQuest: 0,
      disable: true,
      questionAnswers: [],
      score: 0,
      totalScore: 0,
      showScores: false,
      showQuestions: true,
      showSubmit: false,
      showTemplate: false,
      start: false,
      count: 1,
      startCount: false,
      categoryBegin: false
    };
  },
  mounted() {
    let user =JSON.parse(localStorage.getItem("authUser"));
  
    if (user !== null) {
      this.id = user.id
    }
    axios.get(`/api/questions/${this.$route.params.id}`).then(response => {
      this.result = response.data;
      this.models = JSON.parse(this.result.questions);
    });
  },
  watch: {
    answer: "ableNext",
    checkAnswer: "ableNext",
    answers: "disableNext"
  },
  methods: {
    storeAnswer(){
      if (this.result.name === 'qa') {
         let data = {

        user_id :this.id,
        title:this.result.title,
        name:this.result.name,
        question_id : this.result.id,
        answers : this.totalScore
      }
        axios.post('/api/guides/history', JSON.parse(JSON.stringify(data)))
        .then(response=>{
       
        }).catch(e=>{
          console.log(e);
          
        })
      }else{
         let data = {
        user_id :this.id,
         title:this.result.title,
        name:this.result.name,
        question_id : this.result.id,
        answers : this.modelAnswer
      }
        axios.post('/api/guides/history', JSON.parse(JSON.stringify(data)))
        .then(response=>{
       
        }).catch(e=>{
          console.log(e);
          
        })
      }
     
      
    },
    startNow() {
      this.startCount = true;
    
          this.start = true;
     
    },
    submit() {
      if (this.result.name === "template") {
        this.showTemplate = true;
      } else {
        let totalMark = this.totalQuest * 5;

        this.totalScore = parseInt((this.score / totalMark) * 100) + "%";
        this.showQuestions = false;
      }
      this.showSubmit = false;
      this.showScores = true;
      this.storeAnswer()
    },
    processAnswer() {
      if (
        this.models[this.number].questions[this.questNumber].answer ==
        this.answer
      ) {
        this.score += 5;
      } else {
        this.score = this.score;
      }
    },
    processMc() {
      let mark = 0;
      this.models[this.number].questions[this.questNumber].answers.forEach(
        answer => {
          this.checkAnswer.forEach(checked => {
            if (answer == checked) {
              mark += 1;
              this.score +=
                (mark /
                  this.models[this.number].questions[this.questNumber].answers
                    .length) *
                5;
            }
          });
        }
      );
    },
    ableNext() {
      if (this.answer !== "" || this.checkAnswer.length > 0) {
        this.disable = false;
      } else {
        this.disable = true;
      }
    },
    disableNext() {
      this.disable = true;
    },
    next() {
      this.number++;
    },
    prev() {
      this.number--;
    },
    nextQuestion(type) {
      this.totalQuest++;
      if (this.number < this.models.length ) {
        if (this.questNumber < this.models[this.number].questions.length - 1) {
          if (type === "mc") {
            this.processMc();
            this.answers.push(this.checkAnswer);
            this.checkAnswer = [];
            this.questNumber++;
          } else {
            this.processAnswer();
            this.answers.push(this.answer);

            this.answer = "";

            this.questNumber++;
          }
        } else {
          if (type === "mc") {
            this.processMc();
            this.answers.push(this.checkAnswer);
            this.checkAnswer = [];
          } else {
            this.processAnswer();
            this.answers.push(this.answer);
            this.answer = "";
          }
          if (this.number === this.models.length-1) {
            if (type === "mc") {
          this.processMc();
          // this.answers.push(this.checkAnswer);
          this.checkAnswer = [];
        } else {
          this.processAnswer();
          // this.answers.push(this.answer);
          this.answer = "";
        }
        this.modelAnswer.push(this.answers);
        this.categoryBegin = false;
        this.showSubmit = true;
        this.start = true;
        this.showQuestions = false;
          }else{
             this.categoryBegin = true;
          }
         
        }
      } else {
        if (type === "mc") {
          this.processMc();
          this.answers.push(this.checkAnswer);
          this.checkAnswer = [];
        } else {
          this.processAnswer();
          this.answers.push(this.answer);
          this.answer = "";
        }
        this.modelAnswer.push(this.answers);
        this.categoryBegin = false;
        this.showSubmit = true;
        this.start = true;
        this.showQuestions = false;
      }
    },
    prevQuestion() {
      this.answers.pop();
      this.questNumber--;
    },
    beginCategory() {
      this.number++;
      this.questNumber = 0;
      this.categoryBegin = false;
      this.modelAnswer.push(this.answers);
      this.answer = "";
      this.answers = [];
    },
    returnNow() {
      this.$router.push({
        name: "Guides"
      });
    }
  }
};
</script>

<style scoped>
.containers {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  height:100vh;
  background: #f7f8fa;
 
}
.main {
  position: relative;
  background: white;
  padding: 30px 50px;
  border-radius: 4px;
  font-size: 16px;
  width: 70%;

  z-index: 1;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 6px 0;
    line-height: normal;
}
.form-check{
  display:flex;
}
.form-check-input{
  position: relative;
}
.form-control{
    border-top: unset;
    border-left: unset;
    border-right: unset;
    /* background-color:lightsteelblue; */
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color:rgba(0, 0, 0, .44) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:rgba(0, 0, 0, .44) !important;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color:rgba(0, 0, 0, .44) !important;
}
   

ul, ol{
    text-decoration:none !important;
}
.mainTemplate {
  background: white;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px #ccc;
  width: 90%;
  min-height: 500px;
  z-index: 1;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.count {
  font-size: 9em;
}
.card-columns .card {
    background: #f2f5fe;
}
.under {
  width: 30px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 0;
  border: 0;
  border-top: 2px solid #eee;
}
.return {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.contents {
  height: 80%;
}
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.64);
}
input[type="text"] {
  background-color: #122048;
  color: rgba(255, 255, 255, 0.7);
}
.btn {
  text-transform: capitalize;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 148, 250, 0.1);
}
.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul,
ol {
  list-style: none;
}

.prev {
  background-color: rgb(171, 171, 190) !important;
  border: none !important;
}
.next {
  background-color: #a4c2db !important;
  border: none !important;
  height: 40px;
}
.submit {
  background-color: #5b84a7 !important;
  border: none !important;
}
.question {
  padding: 2px;
}
.options {
  padding: 10px 20px;
}
.navigation {
  width: 100%;
  text-align: right;
  margin-top: 40px;
}
label {
  text-transform: capitalize;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
@media (max-width: 425px) {
  .main {
    width: 100%;
  }
  .mainTemplate {
    width: 100%;
  }
}
</style>

