<template>
  <div class="container-fluid">
      <router-link to="/entrepreneur/bap/bap" class="back mb-5">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to BAP-6 
      </router-link>
    <div class v-if="one">
      <intro @switch="switchTemp" />
    </div>
    <div class="first" v-else>
      <h3 class="mb-3"></h3>
      <div class="bap_box">
        <router-link to="/entrepreneur/bap/self-discovery" class="grid_box shadow-sm">
          <p class="grid_text">Self Discovery</p>
        </router-link>
        <router-link to="/entrepreneur/bap/idea" class="grid_box shadow-sm">
          <p class="grid_text">My Bright Idea</p>
        </router-link>
        <router-link to="/entrepreneur/bap/concept" class="grid_box shadow-sm">
          <p class="grid_text">My Business Concept</p>
        </router-link>
          <div
          class="grid_box shadow-sm"
          v-for="(form,index) in forms"
          :key="index"
          v-if="forms.length"
          @click=" gotoTemplate(form.id)"
        >
          <p class="grid_text">{{form.form_title.toLowerCase()}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import intro from "./introTemplateOne";
export default {
  data() {
    return {
      current_month: 0,
      one: true,
      forms:[]
    };
  },
  components: {
    intro
  },
  beforeRouteEnter (to, from, next) {
 

    next(vm=>{
      if(from.path == '/entrepreneur/bap/idea' || from.path == '/entrepreneur/bap/concept' || from.path == '/entrepreneur/bap/self-discovery'){
        vm.one = false
      }
    })
  },
  mounted() {
    this.getRecord();
    this.getForms()
  },
  methods: {
      gotoTemplate(id) {
      this.$router.push(`/entrepreneur/bap/form-question/${id}`);
    },
    getForms() {
      let name = this.$route.query.name;
      axios
        .get(`/api/get-bap-forms/${name}`)
        .then(res => {
          if (res.status == 200) {
            this.forms = res.data;
          }
        })
        .catch();
    },
    switchTemp() {
      this.one = !this.one;
      window.scrollTo(0, 0);
    },
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user != null) {
        axios
          .get(`/api/get-active-record`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.current_month = response.data.current_month;
          });
      }
    }
  }
};
</script>

<style scoped>
.container-fluid {
  padding-top: 50px;
  min-height: 100vh;
  background-color: #f7f8fa;
}
.bap_box {
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100%;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}
.grid_box {
  height: 100px;
  position: relative;
  border: 1px solid #f7f8fa;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #414d57,
    #52616e,
    #647786,
    #778c9f,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #778c9f,
    #647786,
    #52616e,
    #414d57
  );
  transition: all 2s;
}
.grid_text {
  text-align: center;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  font-family: "Josefin Sans";
}
.grid_box:hover {
  background-image: linear-gradient(
    to left top,
    #a4c2db,
    #90abc1,
    #7d94a7,
    #6a7e8e,
    #586876,
    #586876,
    #586876,
    #586876,
    #6a7e8e,
    #7d94a7,
    #90abc1,
    #a4c2db
  );
}
h3 {
  font-size: 18.5px;
}
@media only screen and (min-width: 768px) {
  .container-fluid {
    padding: 30px 20px;
  }
  .bap_box {
    grid-template-columns: auto auto auto;
  }
  .grid_text{
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-fluid {
    padding: 30px 40px;
  }
}
</style>