<template>
  <div class="containers">
    <span class="overlay"></span>
    <div class="main shadow-lg animated fadeIn fast" v-if="result.length > 0">
      <div class="menu-box">
        <div
          class="border p-3 d-grid align-items-center item btn-compliment rounded"
          @click="goto('template')"
        >
          <div class="overlay">
            <h4 class="mb-1">Template</h4>
            <span class="under"></span>
            <p
              class="text-faded"
            >A template asks questions that when answered gives an output which represents the business document.</p>
          </div>
          <i class="fas fa-book-open fa-3x"></i>
          <h4 class="te">Template</h4>
        </div>
        <div class="d-grid">
          <div
            class="border p-3 d-grid align-items-center item btn-compliment rounded"
            @click="goto('checklist')"
          >
            <div class="overlay">
              <h4 class="mb-1">Checklist</h4>
              <span class="under"></span>
              <p
                class="text-faded"
              >A list of the different elements you need to have in your business which when completed shows how ready you are (in percentage).</p>
            </div>
            <i class="fa fa-clipboard-check fa-3x" aria-hidden="true"></i>
            <h4 class="te">Checklist</h4>
          </div>
          <div
            class="border p-3 d-grid align-items-center item btn-compliment rounded"
            @click="goto('guides')"
          >
            <div class="overlay">
              <h4 class="mb-1">Guide</h4>
              <span class="under"></span>
              <p
                class="text-faded"
              >A Guide employs keywords, diagrams, games, etc. to help you define aspects of your business.</p>
            </div>
            <i class="fa fa-list-ol fa-3x" aria-hidden="true"></i>
            <h4 class="te">Guides</h4>
          </div>
        </div>
        <div
          class="border p-3 d-grid align-items-center item btn-compliment rounded"
          @click="goto('brain-gym')"
        >
          <div class="overlay">
            <h4 class="mb-1">Case Studies</h4>
            <span class="under"></span>
          </div>
          <i class="fas fa-dumbbell fa-3x"></i>
          <h4 class="te">Case Studies</h4>
        </div>
      </div>

      <div class="next-box p-3">
        <div class="filters mb-5">
          <div class="filter shadow-sm" :class="{'filter_selected':item=='qa'}">
            <label class="custom-control custom-radio">
              <input type="radio" v-model="item" value="qa" class="custom-control-input" />
              <span class="custom-control-indicator">Checklists</span>
            </label>
          </div>
          <div class="filter shadow-sm" :class="{'filter_selected':item=='templates'}">
            <label class="custom-control custom-radio">
              <input type="radio" v-model="item" value="templates" class="custom-control-input" />
              <span class="custom-control-indicator">Templates</span>
            </label>
          </div>
          <div class="filter shadow-sm" :class="{'filter_selected':item=='bg'}">
            <label class="custom-control custom-radio">
              <input type="radio" v-model="item" value="bg" class="custom-control-input" />
              <span class="custom-control-indicator">Guides</span>
            </label>
          </div>
          <div class="filter shadow-sm" :class="{'filter_selected':item=='brain-gym'}">
            <label class="custom-control custom-radio">
              <input type="radio" v-model="item" value="brain-gym" class="custom-control-input" />
              <span class="custom-control-indicator">Case studies</span>
            </label>
          </div>
        </div>
       

       <h4 class="mb-3">{{category}}</h4>
       <div class="table-responsive">
          <table class="table table-bordered" v-if="questions.length">
          <thead>
            <tr>
              <th>#</th>
              
              <th>Title</th>
            </tr>
          </thead>
          <tbody >
            <tr v-for="(item,idx) in questions" :key="idx" >
              <td scope="row">{{idx+1}}</td>
              <td class="title" v-if="item=='brain-gym'" @click="gotoHere('gym',item.id)">{{item.title}}</td> 
              <td class="title" v-else  @click="gotoHere('check',item.id)">{{item.title}}</td>
            </tr>
          </tbody>
        </table>
        <div v-else>
          <span class="form-control">Not available</span>
        </div>
       </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "checklist-guide",
  data() {
    return {
      result: [],
      authenticated: false,
      checklist: [],
      guides: [],
      template: [],
      gym: [],
      item: "qa",
      category:''
    };
  },
  mounted() {
    let user = localStorage.getItem("authUser");
    if (user !== null) {
      this.authenticated = true;
    }
   
    axios.get("/api/questionsVerified").then(response => {
      this.result = response.data;
       this.setCategory()
    });
  
  },
  computed: {
    questions(){
      return this.result.filter(value=>{
        return value.name.toLowerCase() === this.item.toLowerCase();
      })
    }
  },
  watch: {
    item:'setCategory'
  },
  methods: {
    setCategory(){
      if (this.item == 'qa') {
        this.category ='Checklists'
      }else if(this.item == 'bg'){
        this.category = 'Guides'
      }
      else if(this.item == 'template'){
        this.category = 'Templates'
      }
       else {
        this.category = 'Case Studies'
      }
    },
    goto(x) {
      this.$router.push({
        name: "ListDiagnostics",
        params: { area: x }
      });
    },
    openLink(id) {
      if (this.authenticated) {
        this.$router.push({
          name: "Checklist",
          params: { id: id }
        });
      } else {
        this.$toasted.error("Unauthorized access");
        this.$router.push({
          name: "auth",
          params: { name: "login" },
          query: { check: "guides" }
        });
      }
    },
    gotoHere(type, id) {
      if (this.authenticated) {
        if (type === "gym") {
          this.$router.push({
            name: "Diagnostics",
            params: {
              id: id
            }
          });
        } else {
          this.$router.push({
            name: "Checklist",
            params: {
              id: id
            }
          });
        }
      } else {
        this.$router.push({
          name: "auth",
          params: {
            name: "login"
          },
          query: { redirect: this.$route.fullPath }
        });
      }
    }
  }
};
</script>

<style scoped>
.containers {
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: white;
}
.main {
  background: white;
  padding: 0;
  border-radius: 4px;
  width: 100%;
  min-height: 500px;
  z-index: 1;
  display: grid;
  align-items: center;
  font-size: 16px;
  text-align: center;
}
.title{
  text-transform:capitalize;
}
.custom-control-indicator{
  color:hsl(207, 46%, 20%)
}
.next-box {
  margin-top: 50px;
  width: 100%;
  min-height: 500px;
}
.single-box {
  width: 100%;
  min-height: 100px;
  border: 1px solid #eee;
  text-align: left;
  padding: 15px 30px;
}
.mini-box {
  display: grid;
  grid-template-rows: 65px;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  box-shadow: 0 0 1px #eee;
  text-align: center;
}
.under {
  width: 30px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 0;
  border: 0;
  border-top: 2px solid #eee;
}
.cpoint {
  cursor: pointer;
  border-radius: 50px;
}
.overlay {
  padding: 15px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 148, 250, 0.5);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.guides {
  margin: 40px 0;
}
.menu-box {
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: auto auto auto;
  background-color: #f2f5fe;
}
.d-grid {
  display: grid;
}
.guide {
  cursor: pointer;
}
.item {
  cursor: pointer;
  position: relative;
  transition: all 1s;
  color: white;
}
.item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175) !important;
}
.item:hover .overlay {
  display: flex;
}
.cpoint:hover {
  background-color: #fafafa !important;
  color: black !important;
}
.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: space-between;
}
.filter {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.filter_selected{
  background-color: hsl(207, 46%, 20%);
  color:white;
}
.filter_selected label .custom-control-indicator{
  color:white !important;
}
@media (max-width: 575px) {
  .single-box {
    padding: 15px;
  }
  .filters{
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .containers {
    padding: 0;
  }
  .main {
    width: 100%;
    padding: 0;
  }
  .menu-box {
    grid-template-rows: 250px;
  }
  .mini-box {
    grid-template-rows: 40px;
    font-size: 14px;
  }
  .card-body {
    padding: 0.6rem;
  }
  .container {
    margin-top: 0;
  }
  h3 {
    font-size: 16px !important;
  }
}
</style>
