<template>
  <div class="container bg-white rounded shadow-sm" >
      <div v-if="open" class="mode animated fadeIn"  >
          <div @click="closeModal" class="close"> <i class="fa fa-times fa-2x fa-inverse" aria-hidden="true"></i> </div>
          <div class="modeBody bg-white p-2 rounded">
           <div v-if="history.name === 'template'">
              <!-- TEMPLATE DISPLAY    -->

              <div class="card-columns">
                <div class="card" v-for="(model,index) in questions" v-bind:key="index">
                  <div class="card-header bg-primary text-white text-center">
                    <h4>{{model.category}}</h4>
                  </div>
                  <div
                    class="card-body"
                    v-for="(result,idx) in modelAnswer[index]"
                    v-bind:key="idx"
                  >
                    <h5 class="card-title">Q{{idx+1}}. {{model.questions[idx].title}}</h5>
                    <p v-if="typeof result == 'object'" class="card-text text-capitalize">
                     <ul
                        class="text-capitalize"
                      
                      ><li   v-for="(results,idx) in result"
                        v-bind:key="idx">{{results.toLowerCase()}}</li></ul>
                    </p>
                    <p v-else class="card-text text-capitalize pl-3"> {{result.toLowerCase().replace(/''/g, ' ')}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- guides list  -->
            <div v-else-if="history.name === 'bg'">
              <div class="card-columns">
                <div class="card" v-for="(model,index) in questions" v-bind:key="index">
                  <div class="card-header bg-primary text-white text-center">
                    <h4>{{model.category}}</h4>
                  </div>
                  <div
                    class="card-body"
                    v-for="(result,idx) in modelAnswer[index]"
                    v-bind:key="idx"
                  >
                    <p v-if="typeof result == 'object '" class="card-text text-capitalize">
                     Response :  <span
                        class="text-capitalize"
                        v-for="(results,idx) in result"
                        v-bind:key="idx"
                      >{{results.toLowerCase().replace(/''/g, '-') }}</span>
                    </p>
                    <p v-else class="card-text text-capitalize  pl-3">Response : {{result.toLowerCase()}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- question and answer           -->
            <div v-else>
              <p class="congrats">Congratulations you just completed this Q&A section, you scored</p>
              <h1 class="text-center">{{totalScore}}</h1>
            </div>
            </div>
      </div>
    <h2>Checklist & Guide History</h2>

    <table class="table">
        <thead> 
            <tr>
                <th>Title</th>
                <th>Date Created </th>
                <th>Date Updated</th>
               
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, idx) in histories" :key="idx">
                <td class="toCaps" scope="row" @click="getCurrentHistory(item.question_id)">{{item.title.toLowerCase()}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.updated_at}}</td>
                
            </tr>
           
        </tbody>
    </table>



   
  </div>
</template>

<script>
export default {
  name: "guides-history-component",

  data() {
    return {
      id: null,
      histories:[],
      open:false,
      questions:[],
      modelAnswer:[],
      totalScore:0,
      history:{}
    };
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user !== null) {
      this.id = user.id;
    }
    this.getHistory()
  },
  methods: {
    getHistory() {
       
      axios.get(`/api/history/${this.id}`).then(response => {
        this.histories = response.data
        
      });
    },
    getCurrentHistory(id){
         let data ={
            id:this.id,
            question_id:id
        }
     axios.get(`/api/questions/${id}`).then(response=>{
         if (response.status=== 200) {
              this.questions =  JSON.parse(response.data.questions)
             this.openModal()
         }
        
       
     })

     axios.post('/api/single/history', data).then(response=>{
  
         this.history = response.data
         if (this.history.name === 'qa') {
             this.totalScore = JSON.parse(this.history.answers)
         }else{
               this.modelAnswer = JSON.parse(this.history.answers)
         }
     })


    },
    openModal(){
        this.open = true
    },
    closeModal(){
        this.open= false
    }

  }
};
</script>

<style scoped>
.container {
  margin-top: 20px;
  position: relative;
  min-height: 100vh;
}
ul, ol{
    text-decoration:none !important;
}
.toCaps:hover{
    cursor:pointer;
    text-decoration: underline;
}
td{
    font-size:16px;
}
.mode{
      margin-top: 50px;
       display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    padding:15px;

}

.modeBody{
     display:flex;
    justify-content: center;
    align-items: center;
}
.close{
    position: absolute;
    top:20px;
    right:20px;
}
.congrats{
    font-size:16px;
}
@media (max-width: 425px){
    .container{
        min-height: 130vh;
    }
    .mode{
        overflow-y: scroll;
    }
    h2{
      font-size: 16px;
    }
    td{
      font-size:14px;
    }
    .card-body{
      padding:.6rem;
    }
}
</style>