<template>
  <div>
     
    <app-banner></app-banner>
     <div class="bg">
  
  
      <main-content></main-content>

      <expert></expert>
        <app-category></app-category>
      <app-bizguruh></app-bizguruh>

      <testimonial></testimonial>

      <!-- <app-register></app-register>
   -->
    <!-- <subscribe></subscribe> -->
    <app-footer></app-footer>
     </div>
  </div>
</template>

<script>
import Banner from "./components/userBannerComponent";
import Category from "./components/categoriesBarComponent";
import MainContent from "./components/maincontentComponent";
import Testimonial from "./components/testimonialComponent";
import Expert from "./components/expertComponent";
import WhyBizguruh from "./components/whyBizguruhComponent";
import Footer from "./components/userFooterComponent";

export default {
  name: "index-component",
  data: function() {
    return {
      productListing: true,
      courseWork: false,
      helpCourse: false,
      certificate: false
    };
  },
  components: {
    "app-banner": Banner,
    "app-category": Category,
    // 'app-exclusive': ExclusiveResource,
    "app-bizguruh": WhyBizguruh,

    "app-footer": Footer,
    MainContent,
    Testimonial,
    Expert
  },
  methods: {
    tabDisplay(s) {
      switch (s) {
        case 1:
          this.productListing = true;
          this.courseWork = false;
          this.helpCourse = false;
          this.certificate = false;
          break;
        case 2:
          this.productListing = false;
          this.courseWork = true;
          this.helpCourse = false;
          this.certificate = false;
          break;
        case 3:
          this.productListing = false;
          this.courseWork = false;
          this.helpCourse = true;
          this.certificate = false;
          break;
        case 4:
          this.productListing = false;
          this.courseWork = false;
          this.helpCourse = false;
          this.certificate = true;
          break;
      }
    }
  }
};
</script>

<style scoped>
.container {
  padding: 0px !important;
}
.bg {
  background-image: url("/images/curve2.jpg");
  background-size: cover;
}
</style>
