<template>
  <div class="intro">
    <h3 class="headFont">DISCOVERING WHAT IS WITHIN</h3>
    <p>Congratulations! You’re mere weeks away from living the life of your dreams— purposeful, impactful and productive. We are so excited that the world is about to hear you loud and clear, through your business.</p>
    <p>
      Perhaps you have heard by now that running a business is more than a full-time job, and for it to thrive there needs to be a product-market fit, the right branding, strategy, distribution channels etc. but you may not have heard that running a successful business takes self-awareness and round-the-clock physical, emotional and spiritual commitment.
      Yes, sometimes all a business really needs to be successful is alignment with your inner man and commitment— lots of it, because when you own your own business you are not obligated to achieve your goals, heck, no one even knows them, so your motivation must come from within. Ultimately, it is easier to stay on course when those business goals are in alignment with who you really are.
    </p>

    <p>We believe this, and that is why we start right here— discovering what is within.</p>

    <p>
      <strong>How well do you really know yourself?</strong>
    </p>

    <p>We are all mostly aware of the things that society wants us to do, or the people our families want us to be. We hear it so much that sometimes, it’s easy to get caught up in projections of who we are; never quite discovering or perhaps losing touch with our core values, needs, and desires.</p>
    <p>
      <strong>If you don’t know yourself very well, it’s difficult to choose a life path that makes you feel happy and fulfilled, and while growing a business is awesome, do you know what’s even better? Being at peace with who you really are while doing so.</strong>
    </p>
    <p>Therefore, we implore you to answer the questions in this exercise very sincerely and with openness to whatever you find. Give thoughtful answers but do not be consumed by trying to find the one that present you the way you want to be seen, because that just defeats the purpose of this. Be honest enough to allow yourself to be surprised by some aspects of who you are. That should be exciting!</p>
    <p>
      <strong>Know this— whatever you find out about yourself today isn’t a death sentence; life is dynamic, and you will always have the chance to re-write your story</strong> — especially here, just edit! lol.
    </p>
    <p>The aim of this phase of our program is to arm you with self-awareness through a journey of self-reflection. Self-awareness will help you look past your superficial reactions to see your underlying needs and emotions, even in running your business. It is our hope that in doing this exercise, you learn to identify your own voice and distinguish it from the voices of people whose approval you may be seeking.</p>
    <p>Above all, we hope that empowered with the combination of self-reflection, self-awareness and your own voice, you will be led to tell your own story through your entrepreneurial journey— the products and services that you develop to serve humanity. We cant wait to see it manifest, so let’s get started!</p>
    <blockquote>
      <em>Instead of just coasting through life and being reactive to the behaviors and opinions of others, I will get to know myself.</em>
    </blockquote>

    <button
      type="button"
      class="elevated_btn text-white btn-compliment mx-auto"
      @click="switchStage"
    >Click here to discover What's within you</button>
  </div>
</template>
<script>
export default {
  methods: {
    switchStage() {
      this.$emit("switch");
    }
  }
};
</script>


<style scoped>
.headFont{
  font-family: 'Josefin Sans';
}
p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}
em {
  font-style: italic;
  font-size: 15px;
}
h3{
    font-size: 18px;
}
.intro {
  margin: 0 auto;
  min-height: 100vh;
   padding:15px;
  padding-top: 20px;
  padding-bottom: 65px;
  background: white;
 
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
  .intro {
    width: 95%;
    padding-top: 40px;
  }
  h3{
    font-size: 20px;
}
}
@media only screen and (min-width:768px) {
  .intro {
    width: 90%;
     padding:25px;
    padding-top: 50px;
      padding-bottom: 80px;
  }
  h3{
    font-size: 24px;
}
}

@media only screen and (min-width:1024px) {
  .intro {
    width: 70%;
  }
   h3{
    font-size: 32px;
}
}
</style>