<template>
  <div class="container-fluid">
      <div v-if="course">
     <libraryCourse :user="user"  :content='content' :assessment='assessment' :course_id='id'/>
      </div>
 
    <div v-if="video">
          <libraryVideo :user="user" :content='content'  :course_id='id'/>
    </div>
  
  </div>
</template>
<script>

import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";
import libraryCourse from "./viewLibraryCourse";
import libraryVideo from "./viewLibraryVideo";
export default {
  data() {
    return {
      user: "",
      id: this.$route.params.id,
      vid: this.$route.params.vid,
      typed: this.$route.params.type,
      productTitle: this.$route.params.title,
      userSub: "",
      content:[],
      assessment:[]
    };
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.user = user;
      this.getUserSub()
      this.getContent()
     
      if (this.$route.query.type == 'course') {
          this.course = true
          this.video = false
      }
      if (this.$route.query.type == 'video') {
          this.video = true
          this.course = false
      }
      
    }
    this.recordEngage()
  },
  components: {
    "app-pdf": pdf,
    libraryCourse,
    libraryVideo
  },
  methods: {
    getAssessment(){
        axios.get(`/api/get-assessment/${this.content[0].productId}`).then(res=>{
        if (res.status == 200) {
            this.assessment = res.data
        }
        })
    },
    recordEngage(){
      let engage = JSON.parse(localStorage.getItem('engagement'))
    
      if(engage !== null){
        this.$emit('notify',engage.type,'null',engage.product_id)
       localStorage.removeItem('engagement')
        
      }
    },
    getUserSub() {
      axios.post(`/api/user/subscription-plan/${this.user.id}`).then(response => {
        this.usersub = Number(response.data[0].level);
      });
    },
    getContent(){

      axios
        .get(`/api/user-order-product/${this.id}/${this.vid}/${this.typed}`, {
          headers: {
            Authorization: `Bearer ${this.user.access_token}`
          }
        }).then(response=>{
            this.content = response.data
             this.getAssessment()
        })
    }
  }
};
</script>

<style scoped>
.container-fluid {
  background: #f7f8fa;
  min-height: 100vh;
  padding: 0;
}
@media(max-width:425px){
  .container-fluid{
    font-size: 15px;
  }
}
</style>