<template>
  <div class="containers">
  <span class="overlay"></span>
    <div class="main shadow-lg  animated fadeIn slow" v-if ="result.length > 0" >



         <table class="table" v-if="area === 'template'">   
         <thead>
            <tr>
              <th class="text-center"> Business Plans</th>
              
            </tr>
          </thead>     
            <tbody>
                <tr  v-for="(question,index) in result" v-bind:key='index' >
                    <td  v-if="question.name === 'template'" scope="row">
           <span @click="openLink(question.id)" class="text-capitalize guide">{{question.title.toLowerCase()}}</span>
          </td>
                   
                </tr>
               
            </tbody>
        </table>

        <table class="table" v-if="area === 'checklist'">
          <thead>
            <tr>
              <th class="text-center">Checklist</th>
              
            </tr>
          </thead>
          <tbody>
              <tr  v-for="(question,index) in result" v-bind:key='index' >
                    <td v-if="question.name === 'qa'" scope="row">
           <span @click="openLink(question.id)" class="text-capitalize guide">{{question.title.toLowerCase()}}</span>
          </td>
                   
                </tr>
           
          </tbody>
        </table>

          <table class="table" v-if="area === 'guides'">
          <thead>
            <tr>
              <th class="text-center">Business Guides</th>
              
            </tr>
          </thead>
          <tbody>
              <tr  v-for="(question,index) in result" v-bind:key='index' >
                    <td v-if="question.name === 'bg'" scope="row">
           <span @click="openLink(question.id)" class="text-capitalize guides">{{question.title.toLowerCase()}}</span>
          </td>
                   
                </tr>
           
          </tbody>
        </table> 

           <table class="table" v-if="area === 'brain-gym'">
          <thead>
            <tr>
              <th class="text-center">Case Studies</th>
              
            </tr>
          </thead>
          <tbody>
              <tr  v-for="(question,index) in result" v-bind:key='index' >
                    <td v-if="question.name === 'brain-gym'" scope="row">
           <span @click="openGym(question.id)" class="text-capitalize guides">{{question.title.toLowerCase()}}</span>
          </td>
                   
                </tr>
           
          </tbody>
        </table> 
     
    </div>
  </div>
</template>


<script>
export default {
  name: "list-diagnostics",
  data() {
    return {
      result: [],
      authenticated:false,
      area:this.$route.params.area
     
    };
  },
  mounted() {

    let user = localStorage.getItem('authUser');
    if (user !== null) {
      this.authenticated = true
    }
  
    axios.get("/api/questionsVerified").then(response => {
      this.result = response.data;
    
    });
  },
 
  methods: {
    openLink( id){
      if (this.authenticated) {
          this.$router.push({
            name:'Checklist',
            params:{id:id}
          })
      }else{
        this.$toasted.error('login to continue')
        this.$router.push({
          name:'auth',
          params:{name:'login'},
          query:{check:'guides'}
        })

      }
    },
    openGym( id){
      if (this.authenticated) {
          this.$router.push({
            name:'Diagnostics',
            params:{id:id}
          })
      }else{
        this.$toasted.error('login to continue')
        this.$router.push({
          name:'auth',
          params:{name:'login'},
          query:{check:'guides'}
        })

      }
    }
    
  }
};
</script>

<style scoped>
.containers {
  padding: 80px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("/images/1.jpg");
  background-size: cover;
  margin-top: 40px;

}
.main {
  background: white;
  padding: 30px 30px;
  border-radius: 4px;
  width: 60%;
  min-height: 500px;
  z-index: 1;
    text-align: center;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 148, 250, 0.1);
}
.guides{
    margin: 40px 0
}
.menu-box{
     display: grid;
    grid-template-rows: 400px;
    grid-template-columns: auto auto auto;

}
.d-grid{
  display:grid;
}
.guide{
cursor: pointer;
}
@media (max-width: 425px){
    .main{
        width: 100%;
    }
     .card-body{
      padding:.6rem;
    }
    .container{
      margin-top: 0;
    }
}


</style>

