<template>
    <div class="loginStyle">
        <form @submit.prevent="login(userLogin)" class="text_content">
            <h2 class="head">Log in</h2>
            <div class="form-group">
              <!-- <label for="login">Email</label> -->
           
                <div class="form-group">
                  <input
                    v-if="!isNumber"
                    autocorrect="off"
                    autocapitalize="off"
                    type="email"
                    class="form-control"
                    v-on:change="getCount"
                    v-model="userLogin.email"
                    @focus="errorCheck = false"
                    placeholder=" Email address"
                  />
                  <div class="input-group" v-if="isNumber">
                    <div class="input-group-prepend" style="width:25%">
                      <select class="input-group-text" v-model="user.phone_code" required>
                        <option
                          v-for="(dial,idx) in myDials"
                          :key="idx"
                          :value="dial.dial_code"
                        >{{dial.name + ' ' + dial.dial_code}}</option>
                      </select>
                    </div>

                    <div class="input-group-append" style="width:75%">
                      <input
                        required
                        v-model="userLogin.email"
                        type="number"
                        class="form-control input-group-text text-left"
                        aria-describedby="helpId"
                        placeholder="Enter phone no"
                        minlength="6"
                        maxlength="10"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- <label for="Password">Password</label> -->
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    v-model="userLogin.password"
                    @focus="errorCheck = false"
                        placeholder="Enter password"
                  />
                </div>

            
      
            </div>

            <div>
              <!-- <p>Forgot Password</p>-->
              <div v-if="errorCheck" class="errorCheck">Please enter a valid credential...</div>
              <button type="submit" class="btn btn-logIn" >
                Log In
                <span class="spinner-grow spinner-grow-sm text-light" v-if="isLoading"></span>
              </button>
            </div>
                <div class="text-center">
                  <small
                    v-if="isNumber"
                    type="button"
                    @click="toggleEmail"
                    class="mx-auto switch"
                  >Log in with email address</small>
                  <small
                    v-if="!isNumber"
                    type="button"
                    @click="toggleEmail"
                    class="mx-auto switch"
                  >Log in with phone number</small>
                </div>
            <div class="text-center">
              <router-link to="/reset-password" class="reset text-muted"><small>Forgot password ?</small></router-link>
            </div>
            <div v-if="!newUser" class="mobile-register-text">
              <p class="pp">
                Don't have an account ?
                <br />Connect with your BizTribe, and be Empowered
                with Unlimited business resources
                <span>
                  <button class="btn btn-join" @click="toggleSignup">Join Our BizTribe</button>
                </span>
              </p>
            </div>
            <div v-else class="mobile-register-text">
              <h2>Welcome to our BizTribe!</h2>
              <p
                class="pp"
              >Enjoy your 30-day free BizLibrary access, where resources can be archived and accessed at your convenience.</p>
            </div>
          </form>
    </div>
    
</template>

<script>
    import store from '../../store';
    import {getHeader} from "../../../config";

    export default {
        name: "loginComponent",
        data: function(){
            return {
                user: {
                    email: null,
                    password: null
                }
            }
        },
        methods: {
            login(user){
                const authVendor = {};
                store.dispatch('login', user)
                    .then((response) => {
                        authVendor.access_token = response.data.access_token;
                        authVendor.refresh_token = response.data.refresh_token;
                        localStorage.setItem('authVendor', JSON.stringify(authVendor));
                        axios.get('api/vendorDetails', {headers: getHeader()})
                            .then(res => {
                                if(res.data.verified){
                                    authVendor.id = res.data.id;
                                    authVendor.storeName = res.data.storeName;
                                    authVendor.email = res.data.email;
                                    authVendor.type = res.data.type;
                                    authVendor.image = res.data.valid_id;
                                    localStorage.setItem('authVendor', JSON.stringify(authVendor));
                                    this.$router.push('/vendor/dashboard');
                                    this.$toasted.success("Successfully login");
                                }else{
                                    this.$toasted.error("Please verified your account to login");
                                }


                            })
                            .catch(err => {
                                console.log(err);
                            })

                    }).catch((error) => {
                        console.log(error.response)
                })
            }
        }
    }
</script>

<style scoped>
.form-control {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  /* background-color:lightsteelblue; */
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
}

label {
  font-weight: normal;
}
</style>
