<template>
	<div class="container">
		<div class="login_area">
			<div class="login_inner">
				<div class="row">
					<!-- register -->
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 signUp ">
						 <h3>Welcome to our BizTribe! </h3>
						<p class="pp">
							Build your BizLibrary and enjoy having all your favourite resources in one place.
						</p>
                        <p class="ppp">
						30-day Free Access
						</p>
						<div class="signUp-button">
							<!-- <button
								class="btn btn-back"
								@click="toggleSignupMobile"
							>
								Back
							</button> -->

							<!-- <router-link class="home_button" tag="a" to="/auth">
								Back to Sign Up!
							</router-link> -->


							<button
								v-if="!loginToggle"
								class="btn btn-signup "
								@click="toggleSignup"
							>
								Login
							</button>
						</div>
					</div>

					<!-- login -->

					<div
						v-if="loginToggle"
						class=" col-lg-6 col-md-6 col-sm-6 col-xs-12  loginPagge "
						v-bind:class="{ loginActive: isActive }"
					>
						<div class="text_content ">
							<h2 class="mobile">Welcome to our BizTribe! </h2>
						<p class="pp mobile">
							Build your BizLibrary and enjoy having all your favourite resources in one place.
						</p>
						<p class="ppp mobile">30-day Free Access </p>
							<h2>Log in</h2>
							<div class="form-group">
								<input
									type="text"
									class="form-control"

									v-model="userLogin.email"
									@focus="errorCheck = false"
								/>
							</div>
							<div class="form-group">
								<input
									type="password"
									class="form-control"
									v-model="userLogin.password"
									@focus="errorCheck = false"
								/>
							</div>

							<div>
								<!-- <p>Forgot Password</p>-->
								<div v-if="errorCheck" class="errorCheck">
									Please enter a valid credential...
								</div>
								<vue-spinner-button
									class="btn btn-logIn"
									:is-loading="isLoading"
									:disabled="isLoading"
									:status="status"
									><span @click="login(userLogin)"
										>Log In</span
									></vue-spinner-button
								>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { getCustomerHeader } from "../../config";
export default {
	name: "login-form-component",
	data: function() {
		return {
			errorCheck: false,
			isLoading: false,
			status: "",
			loginToggle: true,
			registerToggle: false,
            isActive: false,
            count:0,

			userLogin: {
				email: null,
				password: null
			}
		};
	},
	mounted() {
		let customerUser = JSON.parse(localStorage.getItem("authUser"));
		if (customerUser != null) {
			this.profile = true;
		} else {
			this.profile = false;

        }

	},
	methods: {
		toggleSignup() {
			this.registerToggle = !this.registerToggle;
			this.loginToggle = !this.loginToggle;
		},
		toggleSignupMobile() {
			this.isActive = !this.isActive;
			this.registerToggle = !this.registerToggle;
        },


		login(userLogin) {
			this.isLoading = true;
			let data = {
				client_id: 2,
				client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
				grant_type: "password",
				username: userLogin.email,
				password: userLogin.password,
				theNewProvider: "api"
			};
			const authUser = {};
			axios
				.post("/oauth/token", data)
				.then(response => {
					authUser.access_token = response.data.access_token;
					authUser.refresh_token = response.data.refresh_token;
					localStorage.setItem("authUser", JSON.stringify(authUser));
					axios
						.get("/api/user", { headers: getCustomerHeader() })
						.then(response => {
							if (response.status === 200) {


								authUser.id = response.data.id;
								authUser.email = response.data.email;
								authUser.name = response.data.name;
								localStorage.setItem(
									"authUser",
									JSON.stringify(authUser)
								);
								this.isLoading = false;
								this.status = true;


                            axios.post(`/api/delcount/${this.userLogin.email}`).then(
                                response=>{ })
                                    this.$router.push(
                                    this.$route.query.redirect || "/preference")


								this.$toasted.success("Successfully login");
								this.$emit("authenicatedBar", true);
                                setTimeout(() => {
					window.location.reload();
				}, 200);



							} else {
								this.$toasted.error(
									"Invalid user name and password"
								);
								this.errorCheck = true;
							}
						})
						.catch(error => {
							let errors = Object.values(
								error.response.data.error
							);
							errors.forEach(item => {
								console.log("vvv");
								this.$toasted.error(item[0]);
								console.log("fjfjf");
							});
							// this.isLoading = false;
							// this.status = false;
						});
				})
				.catch(error => {
					this.errorCheck = true;
					this.isLoading = false;
					//this.status = true;
				});
		}
	}
};
</script>

<style scoped>
body {
	background: #a4c2db;
}

.container {
	padding:45px  0 0 !important;
	text-transform: none;
}
.center {
	text-align: center;
	justify-content: center;
}

.login_area {
	background-color: #f5f5f5 !important;
}
.signUp {
	background-color: #ffffff !important;
	/* margin-top: 30px; */
	/* margin-bottom: 30px; */
	padding: 180px 10px 0 10px;
    text-align:center;
}
.signup-head {
	margin-top: 10px;
}

.mobile{
    display:none;
}
a.login-home.router-link-active {
	display: none;
	margin-left: -20px;
	color: #ffffff !important;
	cursor: pointer;
	font-size: 16px;
}
a.signup-home.router-link-active {
	display: none;
	margin-left: -20px;
	color: #ffffff !important;
	cursor: pointer;
	font-size: 16px;
}
.mobile-register-text {
	display: none;
}
.loginPagge {
	position: relative;
	background-image: url(/images/images/login.jpg);
	/* background-color: #a4c2db !important; */
	padding: 0;
	background-position: center;
	background-size: 100% 100%;
	width: 100%;
	height: -webkit-fill-available;
	height: 100%;
}
.loginPagge .text_content {
	margin: 0;
	/* position: absolute; */
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	width: 100%;
	height: -webkit-fill-available;
	height: 100%;
	padding: 160px 40px;
}

.registerPagge {
	position: relative;
	background-image: url(/images/images/login.jpg);
	background-position: center;
	background-size: 100% 100%;
	width: 100%;
	height: -webkit-fill-available;
	height: 100%;
	padding: 0;
}
.registerPagge .text_content {
	margin: 0;
	/* position: absolute; */
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	width: 100%;
	height: -webkit-fill-available;
	height: 100%;
	padding: 80px 40px;
}

h2 {
	font-size: 35px;
	text-align: center;
	margin-bottom: 40px;
}

.pp {
	text-align: center;
	font-size: 16px;
}
.ppp {
	text-align: center;
	font-size: 14px;
}
.btn-signup {
	background-color: #a4c2db !important;
	color: #ffffff;
	padding: 5px 20px;
	border-radius: 5px;
    text-transform: capitalize;
}

.btn-logIn {
	color: #fff;
	background-color: #a4c2db !important;
	margin-bottom: 20px;
    text-transform: capitalize;
}
button.vue-btn.btn.btn {
	color: #fff;
	font-size: 14px;
    text-transform: capitalize;
    background-color: #a4c2db !important;
    padding:0 50px;
}
.btn-back {
	display: none;
	color: #000000;
	font-size: 14px;
	text-transform: none;
}
.btn-join {
	font-size: 16px;
	text-transform: capitalize;
	padding:0 4px;
	background-color: transparent;
	color: #a4c2db;
}
.btn-join:hover {
	color: #0000;
}

.signUp-button {
	margin: 40px 0 0 0;
	text-align: center;
}
a.home_button {
	color: #000000;
	margin: 10px;
}

.login_inner {
	margin-top: 10px;
}
@media screen and (max-width: 768px) {
	.signUp {
		display: none;
	}
	.signUp.signUpActive {
		padding-top: 130px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.registerPagge {
		display: none;
	}
	.mobile-register-text {
		display: inline-block;
		margin-top: 40px;
		margin-bottom: 50px;
	}
	.btn-back {
		display: inline-block;
	}
	.pp {
		font-size: 16px;
		text-align: center;
	}
	a.home_button {
		color: #ffffff;
		margin-left: 20px;
		margin-top: 8px;
	}
	.signUpActive {
		display: block;
		/* margin-top: 30px; */
	}
	.loginActive {
		display: none;
	}
}

@media screen and (max-width: 425px) {
    .mobile{
        display: block;
    }
    h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .terms p {
        font-size:12px;
    }
    .btn-join{
        font-size:14px;
    }
    .container{
        padding:30px 0 0 !important;
    }
	.loginPagge .text_content {
		padding: 44px 40px 80px 40px;
	}
	.registerPagge .text_content {
		padding: 40px 40px 120px 40px;
	}
	.signUp {
		display: none;
	}
	.signUp.signUpActive {
		padding-top: 130px;
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 30px;
	}
	a.home_button {
		margin-left: 20px;
		margin-top: 8px;
		color: #ffffff;
	}
	.registerPagge {
		display: none;
	}
	a.login-home.router-link-active {
		display: block;
	}
	a.signup-home.router-link-active {
		display: block;
	}
	.mobile-register-text {
		display: inline-block;
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.btn-back {
		display: inline-block;
	}
	.pp {
		font-size: 14px;
		line-height: 1.6;
		text-align: center;
	}
	.signUpActive {
		display: block;
	}
	.loginActive {
		display: none;
	}
	.btn-logIn {
		color: #fff;
		background-color: #a4c2db !important;
		margin: 0 0 30px  !important;

	}
	.fa-home {
		color: #a4c2db;
	}
}
</style>
