<template>
<div v-html="mail">
   
</div>
</template>
<script>
 export default  {
     data() {
         return {
             mail:''
         }
     },
     mounted() {
         axios.get(`/api/mail`).then(response=>{

         console.log("Data: mounted -> response", response)
         this.mail = response.data;
         })
     },
   
 }
 



</script>