<template>
  <div class="main_view bg-white" v-if="content.length" :class="{'new_height':fullScreen}">
    <div class="content_view animated" :class="{'slideOutLeft':fullScreen,'w-0':fullScreen}">
      <div class="pdf_about mb-4">
        <div class="course_info">
          <h4 class="pdf_title">{{content[num].title.toLowerCase()}}</h4>
          <p class="info">{{content[num].description}}</p>
        </div>
        <div class="cover_image">
          <img :src="content[num].coverImage" alt />
        </div>
      </div>
      <div v-if="assessment.length" class="mt-auto">
        <h5 class="assess" @click="openOverlay">Take Assessment</h5>
      </div>
      <div class="join_chat py-3 border-top mobile" v-show="!fullScreen">
        <router-link :to="{
         path:`/entrepreneur/group-chat/${content[0].productId}`
         }">
          <button type="button" class="elevated_btn elevated_btn_sm text-main">Join group chat</button>
        </router-link>
      </div>

      <div class="view">
        <h5 class="module_title mb-4">Modules</h5>
        <div class="modules" v-for="(item,idx) in content" :key="idx">
          <div class="module_info mb-3">
            <h5 class="module_title">{{item.title.toLowerCase()}}</h5>
            <p class="module_about">{{item.description}}</p>
          </div>
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="play(idx)"
          >Read</button>
        </div>
      </div>
    </div>
    <div class="screen" :class="{'w-100':fullScreen}">
      <div class="overLay" v-if="openAssessment">
        <div class="overly">
       
            <table class="table">
            <thead>
              <tr>
                <th>Assessments</th>
              
              </tr>
            </thead>
            <tbody>
              <tr >
                <td scope="row" class="bg-white cpointer" v-for="(item,idx) in assessment" :key="idx" @click="goToForm(item.id)">
                  {{item.form_title}}
                 </td>
              
              </tr>
           
            </tbody>
          </table>
        
        </div>
      </div>

      <div class="fullOpen" @click="goFull">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="pdf_container mb-4" :key="num" :class="{'flex-column-reverse':!pageCount}">
        <div class="texxt-center d-flex align-items-center loade">
          <h3 class="josefin text-center" v-if="!pageCount">
            Loading pdf ...
            <div class="spinner-border text-main"></div>
          </h3>
        </div>
        <div class="navigate" v-if="pageCount > 0">
          <span class="d-flex align-items-center mr-2">
            <i class="fa fa-minus-circle text-main" aria-hidden="true" @click="prevPage"></i>

            <input type="number" class="pageNum text-center" v-model="page" />

            <i class="fa fa-plus-circle text-main" aria-hidden="true" @click="nextPage"></i>
          </span>
          /
          <span class="ml-2">{{pageCount}}</span>
        </div>
        <pdf
          :src="src"
          id="pdfBody"
          style=" width: 100%;height:90vh;overflow:scroll;margin:0 auto"
          class="pdfView"
          :page="page"
          @num-pages="pageCount = $event"
        ></pdf>

        <!-- <div class="controls my-5">
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="prev"
            v-if="showPrev"
          >prev</button>
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white ml-auto"
            @click="next"
            v-if="showNext"
          >next</button>
        </div>-->
      </div>
    </div>
  </div>
</template>
<script>
import cloudder from "cloudinary-core";
import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";
export default {
  props: ["user", "content", "assessment"],
  data() {
    return {
      fullScreen: false,
      num: 0,
      src: "",
      page: 1,
      contentLength: 0,
      showPrev: false,
      showNext: true,
      currentPage: 0,
      pageCount: 0,
      openAssessment:false
    };
  },
  components: {
    pdf
  },
  watch: {
    num: "changepdf"
  },
  mounted() {
    setTimeout(() => {
      this.changepdf();
      this.contentLength = this.$props.content.length;
      if (this.contentLength == 1) {
        this.showPrev = false;
        this.showNext = false;
      }
    }, 2000);
  },
  methods: {
    openOverlay() {
      this.openAssessment = !this.openAssessment;
    },
     goToForm(id) {
       this.$router.push(`/assessment/${id}`)
    },
    scrollUp() {
      window.scrollTo(0, 0);
      let body = document.getElementById("pdfBody");
      body.scrollTop = 0;
    },
    goFull() {
      this.fullScreen = !this.fullScreen;
    },
    nextPage() {
      if (this.page !== this.pageCount) {
        this.page++;
        this.scrollUp();
      }
    },
    prevPage() {
      if (this.page > 1) {
        this.page--;
        this.scrollUp();
      }
    },
    changepdf() {
      this.src = this.$props.content[this.num].videoFile;
      this.page = 1;
      this.scrollUp();
    },
    next() {
      if (this.num < this.contentLength) {
        this.num++;
        this.showNext = true;
      }
      if (this.num == this.contentLength - 1) {
        this.showNext = false;
      }

      if (this.num > 0) {
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
    },
    prev() {
      if (this.num > 0) {
        this.num--;
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
      if (this.num !== this.contentLength) {
        this.showNext = true;
      } else {
        this.showNext = false;
      }
    },
    play(num) {
      this.num = num;
    }
  }
};
</script>

<style scoped>
.main_view {
  display: flex;
}
.overLay {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display:flex;
  justify-content: center;
  align-items: center;
}
.overly{
  padding:15px;
  width:65%;
  height:85%;
  background: white;
    display:flex;
  justify-content: center;
  align-items: center;
}
.assess {
  padding: 10px 0;
  cursor: pointer;
  color: hsl(207, 46%, 28%);
}
.assess:hover {
  text-decoration: underline;
  color: hsl(207, 46%, 21%);
}
.w-0 {
  width: 0% !important;
}
.screen {
  width: 70%;
  min-height: 100vh;
  padding: 15px;
  position: relative;
}
.fullOpen {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: #f7f8fa;
}
.pageNum {
  width: 30px;
  border: none !important;
}
.navigate {
  display: flex;
  align-items: center;
}
.content_view {
  width: 30%;
  min-height: 100vh;
  padding: 15px;
  background: #f7f8fa;
}
.pdf_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  position: relative;
}
.loade {
  position: absolute;
}
.pdf_about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 250px;
  overflow: scroll;
  padding-bottom: 20px;
}
.pdf_title {
  text-transform: capitalize;
}
.cover_image {
  width: 100px;
  height: auto;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view {
  overflow-y: scroll;
  max-height: 60vh;
}
.modules {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #f7f8fa;
  padding: 10px;
  max-height: 200px;
  overflow: scroll;
}
.module_info {
  padding-right: 5px;
}
.module_title {
  text-transform: capitalize;
}
.module_about {
  font-size: 14px;
}
h3 {
  font-family: "Josefin Sans";
}
@media (max-width: 768px) {
  .main_view {
    flex-direction: column-reverse;
  }
  .new_height {
    height: 92vh;
  }
  .pdf_container {
    flex-direction: column-reverse;
  }
  .overly{
    width:90%;
  }
  .fullOpen {
    top: unset;
    bottom: 0;
    right: 0;
    left: unset;
    transform: rotate(-90deg);
  }
  .pdfView {
    height: auto !important;
  }
  .w-0 {
    display: none;
  }
  .screen {
    width: 100%;
    min-height: auto;
    height: 100%;
    padding: 0;
  }
  .content_view {
    width: 100%;
    min-height: auto;
    margin: auto;
    padding: 0;
  }
  .view {
    height: auto;
    padding: 15px;
  }
  .cover_image {
    width: 100px;
    height: auto;
  }
  h3 {
    font-size: 20px;
  }
  .pdf_about {
    padding: 15px;
  }
  h4.module_title {
    font-size: 15px;
  }
  .pdf_container {
    height: 100%;
  }
}
</style>