<template>

    <div class= "container" >
   
         <div class="row">

        <h3 class="col-lg-12 col-md-12 col-sm-4 col-xs-12 text">Welcome to our Biztribe! For a more personalised experience please tell us what you like.</h3>


      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 preferenceP mobile ">
        <h3 class="sec_header">Subject Matters</h3>
        <div
          v-if="matterPreferences.length > 0"
        
        >
          <select class="form-control" v-model="matter" multiple size="6">
                    <option v-for="matterPreference in matterPreferences" :key="matterPreference.id" :value="matterPreference.id">{{matterPreference.name}}</option>
                </select>
          </div>
    
      </div>
      <div class=" col-lg-5 col-md-5  col-sm-4 col-xs-12 preferenceP mobile">
        <h3 class="sec_header">Topics</h3>
        <div
        class="singlePref"
          v-if="filteredTopic.length > 0"
          v-for="(topicPreference, index) in filteredTopic"
        >
          <label class="matterP"><input
              type="checkbox"
              :value="{typeId: topicPreference.id, name: topicPreference.name, type: 'PT'}"
              class="checkboxP"
              v-model="item"
            >
            <span class="tpref">{{topicPreference.name}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row center">
      <div class="col-md-12">
        <button
          class="btn btn-p center"
           @click="submitPreference"
        >Submit & Explore</button>
      </div>

      <div class="col-md-12">

            <button
             @click="skip"
          class="btn btn-pp center skip"

        >Skip for later</button>

      </div>
    </div>


  </div>
    </div>

</template>

<script>
export default {
  name: "user-preference-component",
  data: function() {
    return {
      user: {},
      matterPreferences: [],
      topicPreferences: [],
      item: [],
      matter:[],
      passwordChange: {
        oldPassword: "",
        password: "",
        password_confirmation: ""
      },
      dialog:false
    };
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.user = user;
      axios
        .get("/api/user/get/subjectmatter", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
           
            this.matterPreferences = response.data;
            this.getProductTopic();
          }
        })
        .catch(error => {
          console.log(error);
        });
    } else {
      this.$router.replace({ name: "auth" });
    }
  },
   computed: {
            loopMatter(){
            
           return  this.matter.filter(item=>{
               return item
            })
        },
         filteredTopic (){
         return this.topicPreferences.filter(element=>{
                    
                    if ( parseInt(this.loopMatter) === parseInt(element.sub_brand_category_id)) {
                        return element;
                    }
      })
      },

      
    },
  methods: {
    changePasswordForUser() {
      axios
        .post(
          "/api/user/changePassword",
          JSON.parse(JSON.stringify(this.passwordChange)),
          { headers: { Authorization: `Bearer ${this.user.access_token}` } }
        )
        .then(response => {
          if (response.status === 200) {
            localStorage.removeItem("authUser");
            window.location.reload();
          }
        })
        .catch(error => {
          if (
            Array.isArray(error.response.data.errors.oldPassword) ||
            Array.isArray(error.response.data.errors.password) ||
            Array.isArray(error.response.data.errors.password_confirmation)
          ) {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          } else {
            this.$toasted.error(error.response.data.errors);
          }
        });
    },
    getProductTopic() {
      axios
        .get("/api/user/get/producttopic", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
           
            this.topicPreferences = response.data;
            this.getUserPreference();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getUserPreference() {
      axios
        .get("/api/userPreferences", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
         
          if (response.status === 200) {
            response.data.data.forEach(items => {
              this.item.push(items);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    submitPreference() {
      axios
        .post("/api/user-preference", JSON.parse(JSON.stringify(this.item)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {

            this.$toasted.success(" Saved");
             this.$router.push(
			this.$route.query.redirect || "/explore")


          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    skip(){
          this.$toasted.success(" Saved");
        this.$router.push(
			this.$route.query.redirect || "/explore")
    }
  }
};
</script>

<style scoped>
label span{
    color:rgba(0, 0, 0, .84) !important;
}
.singlePref{
    margin:10px;
}
.container{
    padding-top:60px;
}

.text{
    text-transform: inherit;
    padding: 40px;
    width: 100%;
}
.row {
  padding: 0;
}

.ppc {
  border: 1px solid #a3c2dc;
  margin: 20px;
  padding: 20px;
}

.preferenceP {
  height: 400px;
  overflow: scroll;
  padding: 20px 30px;
  border: 2px solid #a3c2dc;
  margin: 30px;
  border-radius: 10px;
}
.tpref,
.smatter {
  text-transform: capitalize;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.matterP {
  display: flex;
}
.sec_header {
  padding: 1px;
  margin-bottom: 20px;
  border: 1px solid #a3c2dc;
  background: #a3c2dc;
  border-radius: 80px 80px 80px 80px;
  text-align: center;
  color: hsl(207, 45%, 99%);
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.checkboxP {
  margin-right: 30px;
}

.btn-p {
  background-color: #a3c2dc !important;
  color: #ffffff;
  text-transform: capitalize;
}
.btn-pp {

  color: #b1c6d6;
  border:none;
  text-transform: capitalize;

}
.btn-pp:hover {

  text-decoration: underline;
}
 .skip{
      padding:0;
  }
.password {
  margin-top: 40px;
  text-align: left;
}
@media (max-width: 768px) {
  .preferenceP {
    margin: 30px;
    height: 300px;
  }
  h5{
    font-size: 18px !important;
}
.text{
    font-size: 18px;
}
}
@media (max-width: 425px) {
  .container {
    padding-top: 30px;
  }
 
  .preferenceP {
    height: 200px;
    padding: 20px 30px;
    border: 2px solid #a3c2dc;
    border-radius: 10px;
    margin: 20px;
  }
  .pry_header {
    border-bottom: 2px solid #a3c2dc;
  }
  .password {
    margin-top: 40px;
  }
  .mobile {
    height: 200px;
  }
  .text{
      padding: 5px;
  }
}
</style>
