<template>

    <div>
        <div class="cotainer course-Details" v-if="mediaContent" >
            <div class="container-fluid con-f">
                <div :style="{backgroundImage : bgImage}">
                    <div class="row videoBg">
                        <div class="col-md-8 videoCont">
                            <h1 class="videoTitle">{{productDisplay.title}}</h1>
                         <!--   <h3 class="myline"  v-if="productDisplay.category !== null"  >Category: {{productDisplay.category.name}}</h3>
                            <h5 class="myline" v-if="productDisplay.subcategory !== null">Category: {{productDisplay.subcategory.name}}</h5>
                            <h5 class="myline" v-if="productDisplay.topic !== null">Topic: {{productDisplay.topic.name}}</h5>
                            <span class="myline">Created by: {{productDisplay.vendor.storeName}}</span>-->
                        </div>
                        <div class="col-md-4 videoSide">
                            <div class="addToCartBox">
                                <img :src="productDisplay.coverImage" class="imageDetail">
                                <h1 class="price">₦{{productDisplay.videoPrice}}.00</h1>
                                <div class="cartbtn">Add to Cart</div>
                                <div class="buyNow">Buy Now</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row rowContent">
                    <div class="col-md-8 single-course-accordion-cont mt-3">
                        <header class="entry-header flex flex-wrap justify-content-between align-items-center">
                            <h2>Curriculum For This Course</h2>

                            <div class="number-of-lectures">340 Lectures</div>

                            <div class="total-lectures-time">42:57:42</div>
                        </header>
                        <div class="entry-contents">
                            <div class="accordion-wrap type-accordion" v-for="prod in productDisplay.productDetail">
                                <h3 class="entry-title flex flex-wrap justify-content-between align-items-lg-center active">
                                    <span class="arrow-r"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                                    <span class="lecture-group-title">{{prod.title}}</span>
                                    <span class="number-of-lectures">{{prod.videoContent.length}} Lectures</span>
                                    <span class="total-lectures-time">21:29</span>
                                </h3>

                                <div class="entry-content">
                                    <ul class="p-0 m-0">
                                        <li class="flex flex-column flex-lg-row align-items-lg-center" v-for="video in prod.videoContent"><span class="lecture-title">{{video.title}}</span><span class="lectures-preview"></span><span class="lectures-time text-left text-lg-right">01:39</span></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 secondSide">
                        <img :src="productDisplay.coverImage" class="imageDetail">
<!--
                        <div>Created By: {{productDisplay.vendor.storeName}}</div>
-->
                    </div>
                </div>
            </div>
        </div>
         <div class="row course-Detail" v-else >

        <div class="col-md-4">
            <img :src="productDisplay.coverImage">
        </div>

        <div class="col-md-6 offset-md-2">
           <div class="prodTitle">{{productDisplay.title}}</div>
           <!-- <p>By: {{productDisplay.vendor.storeName}}</p>-->

            <hr>



            <div class="hardcover" v-if="productStyle">
                <p>Hardcover</p>
                <div> ₦{{productDisplay.hardCopyPrice}}.00</div>
            </div>

            <div class="hardcover" v-if="productStyles">
                <p>Nook Book</p>
                <div> ₦{{productDisplay.softCopyPrice}}.00</div>
            </div>

            <div class="outerdiv">
            <div class="hardDiv" @click="toggleStyle('hardCopy')" :class="{'act': productStyle}">
                <p>Hardcover</p>
               <div> ₦{{productDisplay.hardCopyPrice}}.00</div>
            </div>

            <div class="hardDiv" @click="toggleStyle('softCopy')" :class="{'actt' : productStyles}">
                <p>Nook Book</p>
                <div> ₦{{productDisplay.softCopyPrice}}.00</div>
            </div>
            </div>


            <button class="cart pur" @click="addToCart()">Add to Cart</button>

            <button class="purchase pur" :disabled="btn">Instance Purchase</button>
        </div>


        <div class="col-12 overview">
            <h2 class="text-center">Overview</h2>
            <div>{{productDisplay.description}}</div>
        </div>

        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Product Details</a></li>
                <li><a data-toggle="tab" href="#menu1">About the Author</a></li>
                <li><a data-toggle="tab" href="#menu2">Read an Excerpt</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Some content.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</template>

<script>


    export default {
        name: "product-detail-component",
        data: function(){
          return {
              id: this.$route.params.id,
              productDisplay: {},
              mediaContent : false,
              productStyle: false,
              productStyles: false,
              bgImage: '',
              anonymousCart: [],
              btn: true,
              user: {},
              authenticate: false,
              productId: '',
              vendor_id: '',
              hardCopyPrice: '',
              softCopyPrice: ''
          }
        },
        mounted() {
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.vendor_id = user.id;
                this.user = user;
                this.authenticate = true;
            }
            axios.get(`/api/product-detail/${this.id}`).then((response) => {
                if(response.status === 200){
                    this.productDisplay = response.data.data[0];
                    this.productStyle = true;
                    this.hardCopyPrice = this.productDisplay.hardCopyPrice;
                }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            toggleStyle(style){
                if(style === 'hardCopy'){
                    this.btn = false;
                    this.productStyle = true;
                    this.hardCopyPrice = this.productDisplay.hardCopyPrice;
                    this.productStyles = false;
                }else if(style === 'softCopy'){
                    this.btn = false;
                    this.productStyle = false;
                    this.softCopyPrice = this.productDisplay.softCopyPrice;
                    this.productStyles = true;
                }
            },
            addToCart(){
                if(this.authenticate === false){
                    if(this.productStyle){
                        let cart = {
                            productId: this.$route.params.id,
                            price: this.productDisplay.hardCopyPrice,
                            quantity: 1
                        };
                        this.anonymousCart.push(cart);
                        if(JSON.parse(localStorage.getItem('userCart')) === null){
                            localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                            let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let cartCount = sessionCart.length;
                            this.$emit('getCartCount', cartCount);
                        }else if(JSON.parse(localStorage.getItem('userCart')) !== null){
                            let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let ss = sessionCart.length;
                            sessionCart[ss] = cart;
                            localStorage.setItem('userCart', JSON.stringify(sessionCart));
                            let a = JSON.parse(localStorage.getItem('userCart'));
                            let aCount = a.length;
                            this.$emit('getCartCount', aCount);

                        }
                    }else if(this.productStyles){
                        let cart = {
                            productId: this.$route.params.id,
                            price: this.productDisplay.softCopyPrice,
                            quantity: 0

                        }
                        this.anonymousCart.push(cart);
                        if(JSON.parse(localStorage.getItem('userCart')) === null){
                            localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                            let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let cartCount = sessionCart.length;
                            this.$emit('getCartCount', cartCount);
                        }else if(JSON.parse(localStorage.getItem('userCart')) !== null){
                            let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let ss = sessionCart.length;
                            sessionCart[ss] = cart;
                            localStorage.setItem('userCart', JSON.stringify(sessionCart));
                            let a = JSON.parse(localStorage.getItem('userCart'));
                            let aCount = a.length;
                            this.$emit('getCartCount', aCount);
                        }
                    }
                }else {
                    if(this.productStyle){
                        let cart = {
                            id: this.vendor_id,
                            price: this.hardCopyPrice,
                            productId: this.id,
                            quantity: 1
                        };
                        this.addCart(cart);
                    }else if(this.productStyles){
                        let cart = {
                            id: this.vendor_id,
                            price: this.softCopyPrice,
                            productId: this.id,
                            quantity: 0
                        };
                        this.addCart(cart);
                    }
                }
            },
            addCart(cart){
               axios.post('/api/cart', JSON.parse(JSON.stringify(cart)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response.data);
                            window.location.reload();
                           // this.$toasted.success('Added to Cart');
                          //  let aCount = 1;
                            //this.$emit('getCartCount', aCount);
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>

    .course-Details {
        margin: 52px 0 0 0 !important;
    }

    .con-f {
        padding: 0 !important
    }

    .prodTitle {
        font-weight: 400;
        font-style: normal;
        font-size: 2.08rem;
        line-height: 1.25;
    }

    .hardcover {
        font-size: 1.077rem;
        font-family: Lato,sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .hardDiv {
        background: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        float: left;
        margin: 5px;
    }

    .cart {
        height: 3rem;
        padding: 0.8rem 3.2rem;
        color: #fff;
        text-transform: uppercase;
        background-color: #3d6db5;
    }

    .outerdiv {
        height: 30%;
    }

    .purchase {
        background-color: #fff;
        text-transform: none;
        color: #21282d;
        border: 1px solid #21282d;
        padding: 0.65rem 3.2rem;
    }

    .pur {
        float: left;
        margin: 5px;
    }

    .overview {
        margin: 30px;
        background-color: #f2f2f1 !important;
        padding: 2.5rem 5rem;
    }

    .videoBg {
        background: linear-gradient(#29303b,#29303b,#29303b);
        color: #fff;
        padding: 3rem 1rem;
        position: relative;
    }

    .videoTitle {
        font-size: 36px;
        line-height: 41px;
        font-weight: 600;
        text-align: left;

    }
    .videoCont {
        margin-top: 21px;
        margin-bottom: 10.5px;
    }
    .myline {
        line-height: 41px;
    }

    .cartbtn {
        padding: 16px 12px;
        color: #fff;
        background-color: #ec5252;
        border: 1px solid transparent;
        font-size: 15px;
        line-height: 1.35135;
        border-radius: 2px;
        text-align: center;
    }
    .buyNow {
        color: #686f7a;
        background-color: #fff;
        border: 1px solid #686f7a;
        padding: 16px 12px;
        font-size: 15px;
        line-height: 1.35135;
        border-radius: 2px;
        text-align: center;
        margin-top: 10px;
    }

    .videoSide {
        border: 1px solid #fff;
        padding-top: 20px;
        background: #fff;
        position: absolute;
        right: 2%;
        top: 43%;
        text-align: center;
    }
    .price {
        font-size: 36px;
        color: #505763;
    }


    .rowContent {
        padding: 0px 7rem;
    }

    .secondSide {
        text-align: center;
        padding: 100px;
    }

    .imageDetail {
        border-radius: 50%;
        height: 178px;
        width: 177px;
    }

    .act, .actt{
        padding: 16px;
        border: 5px solid #505763;
        background: #ccc;
    }


</style>
