<template>
  <div class="mi">
      <div class="preview-overlay" v-if="preview">
      <previewTemp  
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="getting to know me"
      />

    
    </div>
    <form class="question" @submit.prevent="previewAnswer">
      <router-link to="/entrepreneur/bap" class="mb-5 back text-main">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back 
      </router-link>
      <div>
        <blockquote class="mx-auto">
          <em
            class="text-main"
          >While growing a business is awesome, do you know what’s even better? Being at peace with who you really are while doing so.</em>
          -- BizGuruh
        </blockquote>
      </div>

      <div class="progress_box">
        <ul class="progress_bar">
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_1"
              @click="switchBatch('first')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_1"
              @click="switchBatch('first')"
            ></i>
            <p>Stage 1</p>
          </li>
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_2"
              @click="switchBatch('second')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_2"
              @click="switchBatch('second')"
            ></i>
            <p>Stage 2</p>
          </li>
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_3"
              @click="switchBatch('third')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_3"
              @click="switchBatch('third')"
            ></i>
            <p>Stage 3</p>
          </li>
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_4"
              @click="switchBatch('fourth')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_4"
              @click="switchBatch('fourth')"
            ></i>
            <p>Stage 4</p>
          </li>
        </ul>
      </div>
      <h3 class="my-4 text-center">Getting To Know Me</h3>
      <div v-if="batch_1">
        <div class="mb-5">
          <div class="form-group">
            <label for>These 3 words describe me perfectly :</label>
            <div class="quest">
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="1."
                v-model="questions.q1.ans1"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="2."
                v-model="questions.q1.ans2"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="3."
                v-model="questions.q1.ans3"
              />
            </div>
          </div>
        </div>
        <div class="mb-5">
          <div class="form-group">
            <label for>Others would use these 5 words to describe me :</label>
            <div class="quest">
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="1."
                v-model="questions.q2.ans1"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="2."
                v-model="questions.q2.ans2"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="3."
                v-model="questions.q2.ans3"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="4."
                v-model="questions.q2.ans4"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="5."
                v-model="questions.q2.ans5"
              />
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>People often come to me to solve this kind of problem :</label>
            <div class="quest">
              <textarea class="form-control" rows="4" v-model="questions.q3.ans1"></textarea>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>What inspires me most ?</label>
            <div class="quest">
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="1."
                v-model="questions.q4.ans1"
              />
            </div>
          </div>
        </div>

        <div class="w-100 butt">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="saveDraft"
          >Save to draft</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="switchBatch('second')"
          >Continue</button>
        </div>
      </div>

      <div v-if="batch_2">
        <div class="mb-5">
          <div class="form-group">
            <label for>These two things make me special/unique ?</label>
            <div class="quest">
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="1."
                v-model="questions.q5.ans1"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="2."
                v-model="questions.q5.ans2"
              />
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>Given the chance, I would take these two superpowers ?</label>
            <div class="quest">
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="1."
                v-model="questions.q6.ans1"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="2."
                v-model="questions.q6.ans2"
              />
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>I want others to think this about me :</label>
            <div class="quest">
              <textarea class="form-control" rows="4" v-model="questions.q7.ans1"></textarea>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>
              I value these five (5) things most
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="In other words, what matters to you most? Values play the biggest role in motivating our choices at work, at home, and in everyday life. Your values can be a combination of moral commitments such as honesty, compassion, integrity etc. or where you find the most joy in life, such as learning, fun, or having diverse experiences."
              ></i>
            </label>

            <div class="quest">
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="1."
                v-model="questions.q8.ans1"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="2."
                v-model="questions.q8.ans2"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="3."
                v-model="questions.q8.ans3"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="4."
                v-model="questions.q8.ans4"
              />
              <input
                minlength="3"
                required
                type="text"
                class="form-control form-borderless"
                placeholder="5."
                v-model="questions.q8.ans5"
              />
            </div>
          </div>
        </div>

        <div class="w-100 butt">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="saveDraft"
          >Save to draft</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="switchBatch('first')"
          >Previous</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="switchBatch('third')"
          >Continue</button>
        </div>
      </div>

      <div v-if="batch_3">
        <div class="mb-5">
          <div class="form-group">
            <label for>
              I believe my purpose is to
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Think of your purpose as being defined by what makes you feel authentic, excited and passionate. Meanwhile, give some thought to how this purpose might help others, even on a small scale."
              ></i>
            </label>

            <div class="quest">
              <textarea class="form-control" rows="4" v-model="questions.q9.ans1"></textarea>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>
              My top 2 goals in the following areas of my life are
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title=" 
               Let your goals be defined by what you view as your life’s
               PURPOSE, the kind of
             LEGACY you want to leave behind, and where you see yourself (VISION) in 2 years, in 10, or in 20..
           "
              ></i>
            </label>

            <div class="quest">
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Spirituality"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans1"
                />
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Family life"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans2"
                />
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Business"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans3"
                />
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Financial"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans4"
                />
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Love life"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans5"
                />
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Social"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans6"
                />
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control form-borderless"
                  placeholder="Other"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q10.ans7"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>These are the people in my inner circle; one for each category :</label>
            <small id="helpId" class="form-text text-muted text-blue">
              <em>“Surround yourself with people whose normal behavior is your desired behavior, and soon enough you’ll be like them.”</em>
              -- BizGuruh
            </small>
            <div class="quest">
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Spirituality"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q11.ans1.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q11.ans1.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Family life"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q11.ans2.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q11.ans2.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Business"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q11.ans3.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q11.ans3.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Financial"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q11.ans4.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q11.ans4.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Love life"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q11.ans5.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q11.ans5.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Career"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q11.ans6.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q11.ans6.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label for>These people hold me most accountable; one for each category :</label>
            <small id="helpId" class="form-text text-muted text-blue">
              <em>“Surround yourself with people whose normal behavior is your desired behavior, and soon enough you’ll be like them.”</em> -- BizGuruh
            </small>
            <div class="quest">
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Spirituality"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q12.ans1.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q12.ans1.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Family life"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q12.ans2.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q12.ans2.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Business"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q12.ans3.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q12.ans3.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Financial"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q12.ans4.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q12.ans4.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Love life"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q12.ans5.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q12.ans5.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
              <div class="input-group">
                <input
                  minlength="3"
                  required
                  type="text"
                  class="form-control w-75"
                  placeholder="Career"
                  aria-label="Text input with dropdown button"
                  v-model="questions.q12.ans6.name"
                />
                <div class="input-group-append">
                  <select required class="form-control" v-model="questions.q12.ans6.relationship">
                    <option value="default">Relationship</option>
                    <option value="parent">Parent</option>
                    <option value="spouse">Spouse</option>
                    <option value="sibling">Sibling</option>
                    <option value="friend">Friend</option>
                    <option value="colleague">Colleague</option>
                    <option value="mentor">Mentor</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 butt">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="switchBatch('second')"
          >Previous</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="switchBatch('fourth')"
          >Continue</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="saveDraft"
          >Save to draft</button>
        </div>
      </div>

      <div v-if="batch_4">
        <div class="mb-5">
          <div class="form-group">
            <label class="mb-3" for>These people inspire me most: one for each category :</label>
            <div class="quest">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Name & Job/Role</th>
                      <th>What Traits Of Theirs Do I Admire</th>
                      <th>How Can I Incorporate These Traits Into My Life</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Family life</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.one.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.one.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.one.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Social Life</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.two.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.two.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.two.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Spirituality</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.three.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.three.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.three.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Love life</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.four.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.four.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.four.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Business / Careers</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.five.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.five.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q13.five.ans3"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="form-group">
            <label class="mb-3" for>I see myself here :</label>
             <small id="helpId" class="form-text text-muted text-blue">
              <em>When the vision is clear, the results will appear. Keep your mindset positive as you work your plan, flourish, and always remember why you started.”
         </em>  -- BizGuruh
            </small>
            <div class="quest">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th></th>
                      <th>In 2 Years</th>
                      <th>In 5 Years</th>
                      <th>In 10 Years</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Family life</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.one.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.one.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.one.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Social Life</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.two.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.two.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.two.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Spirituality</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.three.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.three.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.three.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Love life</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.four.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.four.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.four.ans3"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Business / Careers</td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.five.ans1"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.five.ans2"
                        />
                      </td>
                      <td class="p-0">
                        <input
                          minlength="3"
                          required
                          type="text"
                          class="form-control border-0"
                          v-model="questions.q14.five.ans3"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="w-100 butt">
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="switchBatch('third')"
          >Previous</button>
          <button
            type="button"
            class="elevated_btn elevated_btn_sm text-main"
            @click="saveDraft"
          >Save to draft</button>
          <button
            type="submit"
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
          >Preview</button>
        </div>
      </div>
    </form>


  </div>
</template>

<script>
import previewTemp from "./bap/previewTemplate";
export default {
  data() {
    return {
      bap: true,
      month: 0,
      week: 0,
      preview: false,
      questions: {
        q1: {
          question: "These 3 words describe me perfectly",
          ans1: "",
          ans2: "",
          ans3: ""
        },
        q2: {
          question: "Others would use these 5 words to describe me",
          ans1: "",
          ans2: "",
          ans3: "",
          ans4: "",
          ans5: ""
        },
        q3: {
          question: "People often come to me to solve this kind of problem",
          ans1: ""
        },
        q4: {
          question: "What inspires me most?",
          ans1: ""
        },
        q5: {
          question: "These two things make me special/unique?",
          ans1: "",
          ans2: ""
        },
        q6: {
          question: "Given the chance, I would take these two superpowers?",
          ans1: "",
          ans2: ""
        },
        q7: {
          question: "I want others to think this about me:",
          ans1: ""
        },
        q8: {
          question: "I value these five (5) things most",
          ans1: "",
          ans2: "",
          ans3: "",
          ans4: "",
          ans5: ""
        },
        q9: {
          question: "I believe my purpose is to",
          ans1: ""
        },
        q10: {
          question: "My top 2 goals in the following areas of my life are",
          areas:
            "spirituality, family-life, business,financial,love-life,social,others",
          ans1: "",
          ans2: "",
          ans3: "",
          ans4: "",
          ans5: "",
          ans6: "",
          ans7: ""
        },
        q11: {
          question: "These are the people in my inner circle",
          areas:
            "spirituality, family-life, business,financial,love-life,career",
          ans1: {
            name: "",
            relationship: "default"
          },
          ans2: {
            name: "",
            relationship: "default"
          },
          ans3: {
            name: "",
            relationship: "default"
          },
          ans4: {
            name: "",
            relationship: "default"
          },
          ans5: {
            name: "",
            relationship: "default"
          },
          ans6: {
            name: "",
            relationship: "default"
          }
        },
        q12: {
          question: "These people hold me most accountable",
          areas:
            "spirituality, family-life, business,financial,love-life,career",
          ans1: {
            name: "",
            relationship: "default"
          },
          ans2: {
            name: "",
            relationship: "default"
          },
          ans3: {
            name: "",
            relationship: "default"
          },
          ans4: {
            name: "",
            relationship: "default"
          },
          ans5: {
            name: "",
            relationship: "default"
          },
          ans6: {
            name: "",
            relationship: "default"
          }
        },
        q13: {
          question: "These people inspire me most",
          areas: "spirituality, family-life, business,financial,love-life",
          category:
            "name & job role,WHAT TRAITS OF THEIRS DO I ADMIRE,HOW CAN I INCORPORATE THESE TRAITS INTO MY LIFE",
          one: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          two: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          three: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          four: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          five: {
            ans1: "",
            ans2: "",
            ans3: ""
          }
        },
        q14: {
          question: "I see myself her",
          areas: "spirituality, family-life, business,financial,love-life",
          category: "IN 2 YEARS,IN 5 YEARS,IN 10 YEARS",
          one: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          two: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          three: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          four: {
            ans1: "",
            ans2: "",
            ans3: ""
          },
          five: {
            ans1: "",
            ans2: "",
            ans3: ""
          }
        }
      },
      batch_1: true,
      batch_2: false,
      batch_3: false,
      batch_4: false,
      record: {}
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },
    switchBatch(batch) {
      switch (batch) {
        case "first":
          this.batch_1 = true;
          this.batch_2 = this.batch_3 = this.batch_4 = false;
          window.scrollTo(0, 0);
          break;
        case "second":
          this.batch_2 = true;
          this.batch_1 = this.batch_3 = this.batch_4 = false;
          window.scrollTo(0, 0);

          break;
        case "third":
          this.batch_3 = true;
          this.batch_1 = this.batch_2 = this.batch_4 = false;
          window.scrollTo(0, 0);

          break;
        case "fourth":
          this.batch_4 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = false;
          window.scrollTo(0, 0);

          break;
        default:
          this.batch_1 = true;
          this.batch_2 = this.batch_3 = this.batch_4 = false;

          break;
      }
    },
    closePreview() {
      this.preview = false;
      window.scrollTo(0, 0);
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "Getting to know me"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "Getting to know me"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              this.questions = JSON.parse(response.data.responses);
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "Self Discovery"
      };
      if (
        this.questions.q1.ans1 !== "" &&
        this.questions.q1.ans2 !== "" &&
        this.questions.q1.ans3 !== "" &&
        this.questions.q2.ans1 !== "" &&
        this.questions.q2.ans2 !== "" &&
        this.questions.q2.ans3 !== "" &&
        this.questions.q2.ans4 !== "" &&
        this.questions.q2.ans5 !== "" &&
        this.questions.q3.ans1 !== "" &&
        this.questions.q4.ans1 !== ""
      ) {
        if (
          this.questions.q5.ans1 !== "" &&
          this.questions.q5.ans2 !== "" &&
          this.questions.q6.ans1 !== "" &&
          this.questions.q6.ans2 !== "" &&
          this.questions.q7.ans1 !== "" &&
          this.questions.q8.ans1 !== "" &&
          this.questions.q8.ans2 !== "" &&
          this.questions.q8.ans3 !== "" &&
          this.questions.q8.ans4 !== "" &&
          this.questions.q8.ans5 !== ""
        ) {
          if (
            this.questions.q9.ans1 !== "" &&
            this.questions.q10.ans1 !== "" &&
            this.questions.q10.ans2 !== "" &&
            this.questions.q10.ans3 !== "" &&
            this.questions.q10.ans4 !== "" &&
            this.questions.q10.ans5 !== "" &&
            this.questions.q10.ans6 !== "" &&
            this.questions.q10.ans7 !== "" &&
            this.questions.q11.ans1.name !== "" &&
            this.questions.q11.ans2.name !== "" &&
            this.questions.q11.ans3.name !== "" &&
            this.questions.q11.ans4.name !== "" &&
            this.questions.q11.ans5.name !== "" &&
            this.questions.q11.ans6.name !== "" &&
            this.questions.q11.ans1.relationship !== "default" &&
            this.questions.q11.ans2.relationship !== "default" &&
            this.questions.q11.ans3.relationship !== "default" &&
            this.questions.q11.ans14relationship !== "default" &&
            this.questions.q11.ans5.relationship !== "default" &&
            this.questions.q11.ans6.relationship !== "default" &&
            this.questions.q12.ans1.name !== "" &&
            this.questions.q12.ans2.name !== "" &&
            this.questions.q12.ans3.name !== "" &&
            this.questions.q12.ans4.name !== "" &&
            this.questions.q12.ans5.name !== "" &&
            this.questions.q12.ans6.name !== "" &&
            this.questions.q12.ans1.relationship !== "default" &&
            this.questions.q12.ans2.relationship !== "default" &&
            this.questions.q12.ans3.relationship !== "default" &&
            this.questions.q12.ans14relationship !== "default" &&
            this.questions.q12.ans5.relationship !== "default" &&
            this.questions.q12.ans6.relationship !== "default"
          ) {
            axios
              .post(`/api/save-responses`, data, {
                headers: {
                  Authorization: `Bearer ${user.access_token}`
                }
              })
              .then(response => {
                if (response.data.status == "saved") {
                  this.preview = false;
                  this.$toasted.success("Completed");
                  this.$router.push("/entrepreneur/bap");
                }
              });
          } else {
            this.preview = false;
            this.$toasted.error("Fill all fields in stage three");
            this.switchBatch("third");
          }
        } else {
          this.preview = false;
          this.$toasted.error("Fill all fields in stage two");
          this.switchBatch("second");
        }
      } else {
        this.preview = false;
        this.$toasted.error("Fill all fields in stage one");

        this.switchBatch("first");
      }
    }
  }
};
</script>

<style scoped>
.question {
  position: relative;
  margin: 0px auto;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 65px;
  border-radius: 4px;
 
  font-size: 15px;
}
.mi{
  position: relative;
}
ol,
ul,
td,
th {
  text-transform: capitalize;
}
ol {
  font-weight: bold;
}
.butt {
  display: flex;
  justify-content: space-between;
}
.back {
  font-size: 14px;
  position: absolute;
  top: 0;
}
label {
  font-weight: normal;
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.progress_box {
  padding: 20px 0;
  position: relative;
}
.progress_bar {
  text-align: center;
  position: relative;
}
.progress_bar li {
  display: inline-table;
  position: relative;
  width: 70px;
}
.progress_bar li .fa {
  padding: 10px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  font-size: 15px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.progress_bar li .fa::after {
  content: "";
  position: absolute;
  width: 75px;
  background: #ccc;
  height: 3px;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  z-index: -1;
}
.progress_bar li .fa.active {
  background: hsl(207, 43%, 20%);
}
.progress_bar li .fa.active::after {
  background: hsl(207, 43%, 20%);
}
.progress_bar li p {
  font-size: 12px;
  line-height: 1.4;
}
.preview {
  background: white;
  padding: 15px;
  border-radius: 4px;
  width: 96%;
  margin: 90px auto;
  margin-bottom: 0;
  height: 85%;
  font-size: 13px;
  overflow: scroll;
}
.preview table {
  font-size: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 5px;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .progress_bar li {
    width: 60px;
  }
  .progress_bar li .fa {
    padding: 10px;
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  .progress_bar li .fa::after {
    width: 65px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .question {
    width: 95%;
    padding-top: 80px;
  }
  .progress_bar li p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 130px;
  }
  .progress_bar li .fa {
    padding: 10px;

    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .progress_bar li .fa::after {
    width: 135px;
  }
  .tab-prev {
    font-size: 14px;
  }
}
@media only screen and (min-width: 769px) {
  .question {
    margin: 0px auto;
    width: 90%;
    padding: 25px;
    padding-top: 60px;
    padding-bottom: 100px;

    border: 1px solid #f7f8fa;
  }
  .back {
    top: 10px;
  }
  .preview {
    background: white;
    padding: 30px;
    border-radius: 4px;
    width: 70%;
    margin: 80px auto;
    margin-bottom: 0;
    font-size: 13.5px;
  }
  h3 {
    font-size: 24px;
  }
  table {
    font-size: 16px;
  }
  select.form-control {
    font-size: 16px;
  }
  .form-control.border-0 {
    font-size: 16px;
  }
  blockquote {
    width: 80%;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 150px;
  }
  .progress_bar li .fa {
    padding: 15px;

    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .progress_bar li .fa::after {
    width: 155px;
  }
}

@media only screen and (min-width: 1024px) {
  .question {
    width: 80%;
  }
  .progress_bar li p {
    font-size: 16px;
  }
}
</style>