<template>
  <div class="mt-5 p-5">
    <h5>Redirect</h5>
    <button class="btn btn-default" @click="AuthProvider('facebook')">auth Facebook</button>
  </div>
</template>

<script>
import { getCustomerHeader } from "../../js/config";
export default {
  data() {
    return {};
  },
  methods: {
    AuthProvider(provider) {
      var self = this;

      this.$auth
        .authenticate(provider)
        .then(response => {
          self.SocialLogin(provider, response);
        })
        .catch(err => {
          console.log({ err: err });
        });
    },

    SocialLogin(provider, response) {
      this.$http
        .post("/sociallogin/" + provider, response)
        .then(response => {
          let data = {
            client_id: 2,
            client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
            grant_type: "social",
            access_token: response.data.token,
            provider: provider
          };
          const authUser = {};
          this.$http.post(`/oauth/token`, data).then(response => {
            if (response.status === 200) {
              authUser.access_token = response.data.access_token;
              authUser.refresh_token = response.data.refresh_token;
              localStorage.setItem("authUser", JSON.stringify(authUser));
            
              axios.get("/api/user", { headers: getCustomerHeader() })
                .then(response => {
                 
                });
            }
          });
        })
        .catch(err => {
          console.log({ err: err });
        });
    },
    
    
  }
};
</script>