<template>
  <div class="main">
    <div class="loaderShadow" v-if="isActive">
      <div class="loadContainer">
        <!-- <img class="icon" src="/images/logo.png" alt="bizguruh loader" /> -->
        <div class="loader"></div>
      </div>
    </div>

    <div class="upgradeContainer animated fadeIn" v-if="showUpgrade">
      <div class="upgrade">
        <p
          class="upgradeText"
        >Oops, looks like you need to upgrade to access this. It’ll only take a sec though. 😁</p>
        <div class="upgradeButtons">
          <div class="upgradeButton" @click="redirectUpgrade">Yes please!</div>
          <div class="upgradeButton" @click="closeUpgrade">I'll keep exploring</div>
        </div>
      </div>
    </div>
     <div class="mobilee slide">
    <div> <i class="fas fa-sliders-h"  @click="openSide"> Filter</i></div>
      <div class="sideNav mobilee" v-if="allSubjectMatters.length > 0 && sideNav">
        
   
     <div>
        <h4>Knowledge Area</h4>
        <ul>
            <li class="navy" >
                    <input
                    class="form-check-input checkers"
                    type="radio"
                    name
                    id="all"
                    value=""
                    v-model="subject_id"
                  />
                  <label
                    for="all"
                    class="toCaps mainFontColor"
                  >All</label>
                 </li>
          <li class="navy" v-for="(subject,index) in allSubjectMatters" v-bind:key="index">
           <input class="form-check-input checkers" type="radio" name="" :id="subject.name" :value="subject.id" v-model="subject_id"> 
                        <label :for="subject.name"  class="toCaps mainFontColor" @click="loading">
                      {{subject.name.toLowerCase()}}
                      </label>
                      </li>
        </ul>
     </div>
     
      <div>
          <h4>Contents</h4>
        <ul>
          <li class="navy"> <input class="form-check-input checkers" type="radio" name="newname" id="video" value="video" v-model="newname"> 
                        <label for="video"  class="toCaps mainFontColor">
                     Watch
                      </label> </li>
                        <li class="navy"> <input class="form-check-input checkers" type="radio" name=" newname" id="article" value="article" v-model="newname"> 
                        <label for="article"  class="toCaps mainFontColor">
                     Read
                      </label> </li>
                        <li class="navy"> <input class="form-check-input checkers" type="radio" name="newname" id="course" value="course" v-model="newname"> 
                        <label for="course"  class="toCaps mainFontColor">
                     Study
                      </label> </li>
                        <li class="navy"> <input class="form-check-input checkers" type="radio" name="newname" id="research" value="research" v-model="newname"> 
                        <label for="research"  class="toCaps mainFontColor">
                    Research
                      </label> </li>

        </ul>
      </div>
    </div>

      </div>
   <div  class="seperate">
     
      <div class="sideNav desktop" v-if="allSubjectMatters.length > 0">
      <h4>Knowledge Area</h4>
        <ul>
            <li class="navy" >
                    <input
                    class="form-check-input checkers"
                    type="radio"
                    name
                    id="all"
                    value=""
                    v-model="subject_id"
                  />
                  <label
                    for="all"
                    class="toCaps mainFontColor"
                  >All</label>
                 </li>
          <li class="navy" v-for="(subject,index) in allSubjectMatters" v-bind:key="index">
           <input class="form-check-input checkers" type="radio" name="" :id="subject.name" :value="subject.id" v-model="subject_id"> 
                        <label :for="subject.name"  class="toCaps mainFontColor" @click="loading">
                      {{subject.name.toLowerCase()}}
                      </label>
                      </li>
        </ul>
        <hr>
        <h4>Contents</h4>
        <ul>
          <li class="navy"> <input class="form-check-input checkers" type="radio" name="newname" id="video" value="video" v-model="newname"> 
                        <label for="video"  class="toCaps mainFontColor">
                     Watch
                      </label> </li>
                        <li class="navy"> <input class="form-check-input checkers" type="radio" name=" newname" id="article" value="article" v-model="newname"> 
                        <label for="article"  class="toCaps mainFontColor">
                     Read
                      </label> </li>
                        <li class="navy"> <input class="form-check-input checkers" type="radio" name="newname" id="course" value="course" v-model="newname"> 
                        <label for="course"  class="toCaps mainFontColor">
                     Study
                      </label> </li>
                        <li class="navy"> <input class="form-check-input checkers" type="radio" name="newname" id="research" value="research" v-model="newname"> 
                        <label for="research"  class="toCaps mainFontColor">
                    Research
                      </label> </li>

        </ul>
    </div>

   
    <div class="container">
      
      <div class="bread">
        <ul>
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>
      </div>

     
      <section class="video" v-if="name=== 'video'">
       <div class="sub">
		    <span class="header mainFontColor">Videos on</span>
          <span class="sideHeader mainFontColor toCaps" v-if="subject_id === ''">All Subjects</span>
        <span  v-else class="sideHeader mainFontColor toCaps">{{subject}}</span>
	   </div>

        <div class="videos">
          <div class="vidContainer animated fadeIn slow delay-3s" v-for="(item, index) in video" v-bind:key="index">
            <router-link
              :to="{
									name: 'Video',
									params: { id: item.product_id }
								}"
            >
              <div class="vidImage">
                <img :src="item.coverImage" :alt="item.title" />
              </div>
              <div class="vidAbout">
                <p class="title">{{item.title.toLowerCase()}}</p>
                <p class="industry">video</p>
                <p class="industry">{{item.industry.toLowerCase()}}</p>
                <p class="vendor">{{item.vendor.toLowerCase()}}</p>
              </div>
            </router-link>
          </div>
        </div>
		<div v-if="video.length === 0" class="noContent" > No content yet</div>
      </section>
      <section class="article" v-if="name=== 'article'">
        <div class="sub">
			<span class="header mainFontColor">Articles on</span>
         <span class="sideHeader mainFontColor toCaps" v-if="subject_id === ''">All Subjects</span>
        <span v-else  class="sideHeader mainFontColor toCaps">{{subject}}</span>
		</div>

        <div class="articles">
          <div v-for="(item, index) in article" v-bind:key="index"   class="articleContainer animated fadeIn slow delay-3s">
            <router-link
             class="d-flex"
              :to="{ name: 'ArticleSinglePage', params: {id: item.product_id, name:item.title.replace(/[^\w\s]/gi,'').replace(/ /g, '-' ).replace(/\?/g,'-').replace(/\!/g, '').replace(/\$/g, '')}}"
            >
              <div class="articleDesc">
                <p class="title">{{item.title.toLowerCase()}}</p>
                <p class="articleD" v-html="item.description"></p>
              </div>
              <div class="articleImage">
                <img :src="item.coverImage" alt="item.title" />
              </div>
            </router-link>
          </div>
        </div>

        <div v-if="article.length === 0" class="noContent" > No content yet</div>
      </section>
      <section class="course" v-if="name==='course'">
      <div class="sub">
		    <span class="header mainFontColor">Courses on</span>
         <span  class="sideHeader mainFontColor toCaps" v-if="subject_id === ''">All Subjects</span>
        <span v-else  class="sideHeader mainFontColor toCaps">{{subject}}</span>

	  </div>
        <div class="videos">
          <div class="vidContainer animated fadeIn slow delay-3s" v-for="(item, index) in course" v-bind:key="index">
            <router-link
              :to="{
								name: 'CourseFullPage',
								params: {
									id: item.product_id,
									name: item.title.replace(/ /g, '-')
								}
							}"
              tag="a"
              class="routerlink"
            >
              <div class="vidImage">
                <img :src="item.coverImage" :alt="item.title" />
              </div>
              <div class="vidAbout">
                <p class="title">{{item.title.toLowerCase()}}</p>
                <p class="industry">Course</p>
                <p class="industry">{{item.industry.toLowerCase()}}</p>
                <p class="vendor">{{item.vendor.toLowerCase()}}</p>
              </div>
            </router-link>
          </div>
        </div>
		<div v-if="course.length === 0" class="noContent"  > No content yet</div>
      </section>

      <section class="research" v-if="name=== 'research'">
       <div class="sub">
		    <span class="header mainFontColor">Market Researches on</span>
          <span class="sideHeader mainFontColor toCaps" v-if="subject_id === ''">All Subjects</span>
        <span  v-else class="sideHeader mainFontColor toCaps">{{subject}}</span>

	   </div>
        <div class="videos">
          <div class="vidContainer animated fadeIn slow delay-3s" v-for="(item, index) in research" v-bind:key="index">
            <router-link
              :to="{ name: 'ProductPaperDetail', params: {id: item.product_id, name:  (item.title ? item.title : item.articleTitle).replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
            >
              <div class="vidImage">
                <img :src="item.coverImage" :alt="item.title" />
              </div>
              <div class="vidAbout">
                <p class="title">{{item.title.toLowerCase()}}</p>
                <p class="industry">Market Research</p>
                <p class="industry">{{item.industry.toLowerCase()}}</p>
                <p class="vendor">{{item.vendor.toLowerCase()}}</p>
              </div>
            </router-link>
          </div>
        </div>
		<div v-if="research.length === 0" class="noContent"  > No content yet</div>
      </section>
    </div>

    </div>
  </div>
</template>

<script>
import { getCustomerHeader } from "../config";
export default {
  data() {
    return {
      id: this.$route.params.id,
      name: this.$route.params.name,
      videoProduct: [],
      researchProduct: [],
      podcastProduct: [],
      articleProduct: [],
      courseProduct: [],
      allProduct: [],
      allVendors: [],
      isActive: true,
      subject_id:this.$route.params.id,
      userSub: null,
      freeTrial: null,
      userSub: null,
      user: {},
      inLibrary: null,
      showUpgrade: false,
      allSubjectMatters: [],
      subject: '',
      newname:this.$route.params.name,
      sideNav:false,
    };
  },

  created() {
    this.isActive = true;
    this.updateList();
    this.getAllProducts();
    this.checkStatus();
    this.getSubjectMatters();
  },

  watch: {
    $route() {
      this.updateList();
    },
    'subject_id':'changeSubject',
    'newname':'changeName'
  },
  methods: {
    changeSubject(){
       
         this.id = this.subject_id
         this.isActive = false
    },
    changeName(){
      this.name = this.newname
    },
    getSubjectMatters() {
      axios.get("/api/subjectmatter").then(response => {
        this.allSubjectMatters =  response.data.data
        response.data.data.forEach(item => {
          this.isActive = false;
          if (Number(item.id) === Number(this.id)) {
            this.subject = item.name.toLowerCase();
          }
        });
      });
    },
    checkStatus() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      this.user = user;
      if (user != null) {
        axios
          .get("/api/user", { headers: getCustomerHeader() })
          .then(response => {
            let userDate = response.data.created_at;
            this.startDate = new Date(userDate);

            this.startDateParsed = Date.parse(new Date(userDate));
            this.currentDate = Date.parse(new Date());

            this.endDate = Date.parse(
              new Date(
                this.startDate.setDate(this.startDate.getDate(userDate) + 30)
              )
            );

            if (this.currentDate >= this.endDate) {
              this.freeTrial = false;
            } else {
            }
          });

        this.token = user.access_token;
        axios
          .get(`/api/user/orders`, {
            headers: { Authorization: `Bearer ${user.access_token}` }
          })
          .then(response => {
            response.data.data.forEach(element => {
              element.orderDetail.forEach(item => {
                if (item.type === "VIDEOS") {
                  this.checkLibrary.push(item);
                }
              });
            });
          });
        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          this.userSub = Number(response.data[0].level);
        });
      }
    },
    loading() {
      this.isActive = true;
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    getAllProducts() {
      axios.get(`/api/products`).then(response => {
        if (response.status === 200) {
          this.allProduct = response.data.data.reverse();
          response.data.data.forEach(item => {
            if (item.prodType == "Market Research") {
              item.marketResearch.coverImage = item.coverImage;
              item.marketResearch.subLevel = item.subscriptionLevel;
              item.marketResearch.subjectMatter = item.subjectMatter.id;
              item.marketResearch.industry = item.industry.name;
              item.marketResearch.vendor = item.vendor.storeName;

              this.researchProduct.push(item.marketResearch);
            } else if (item.prodType == "Videos") {
              item.webinar.coverImage = item.coverImage;
              item.webinar.subLevel = item.subscriptionLevel;
              item.webinar.subjectMatter = item.subjectMatter.id;
              item.webinar.industry = item.industry.name;
              item.webinar.vendor = item.vendor.storeName;
              this.videoProduct.push(item.webinar);
            } else if (item.prodType == "Podcast") {
              item.webinar.coverImage = item.coverImage;
              item.webinar.subLevel = item.subscriptionLevel;
              item.webinar.subjectMatter = item.subjectMatter.id;
              item.webinar.industry = item.industry;
              item.webinar.vendor = item.vendor.storeName;
              this.podcastProduct.push(item.webinar);
            } else if (item.prodType == "Articles") {
              item.articles.coverImage = item.coverImage;
              item.articles.subLevel = item.subscriptionLevel;
              item.articles.subjectMatter = item.subjectMatter.id;
              item.articles.industry = item.industry.name;
              item.articles.vendor = item.vendor.storeName;
              this.articleProduct.push(item.articles);
            } else if (item.prodType == "Courses") {
              item.courses.coverImage = item.coverImage;
              item.courses.subLevel = item.subscriptionLevel;
              item.courses.subjectMatter = item.subjectMatter.id;
              item.courses.industry = item.industry.name;
              item.courses.vendor = item.vendor.storeName;

              this.courseProduct.push(item.courses);
            } else {
              return;
            }
          });
        }
      });
    },
    closeUpgrade() {
      this.showUpgrade = false;
    },
    redirectUpgrade(level) {
      this.showUpgrade = false;
      let routeData = this.$router.resolve({
        name: "SubscriptionProfile",
        params: {
          level: this.videoProduct[0].subLevel
        },
       
      });
    },
     openSide(){
           this.sideNav = !this.sideNav
        },
  },
  computed: {
    video() {
      return this.videoProduct.filter(item => {
        if (Number(item.subjectMatter) === Number(this.id)) {
          return item;
        }else if(this.id === ''){
          return item;
        }
      });
    },
    article() {
      return this.articleProduct.filter(item => {
        if (Number(item.subjectMatter) === Number(this.id)) {
          return item;
        }else if(this.id === ''){
          return item;
        }
      });
    },
    course() {
      return this.courseProduct.filter(item => {
        if (Number(item.subjectMatter) === Number(this.id)) {
          return item;
        }else if(this.id === ''){
          return item;
        }
      });
    },
    research() {
      return this.researchProduct.filter(item => {
        if (Number(item.subjectMatter) === Number(this.id)) {
          return item;
        }else if(this.id === ''){
          return item;
        }
      });
    }
  },
  mounted() {}
};
</script>

<style scoped>
.main {
  padding:150px 15px;
}
a {
  height: 100%;
}
.container {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 40px;
  min-height: 100vh;
  background:white;
}
.noContent{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bread{
	margin-bottom:40px;
}
.header {
  font-size: 16px;
  font-weight: normal;
}
.sideHeader {
  font-size: 16px;
  font-weight: bold;
}
ul{
  padding:10px 0;
}
.sub{
	margin: 20px 0;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vidContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 350px;
  margin: 10px;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

}
.vidImage {
  width: 100%;
  height: 50%;
  position: relative;
  padding: 10px;
  font-size: 14px;
  background:#f7f7f7;
}
.seperate{
  display: flex;
  position: relative;
}
.sideNav{
  padding: 10px;
  background: white;
  border-radius: 4px;
}
.navy{
  display:flex;
}

.navy:hover{
 color: #88a2b8;
}
.vidAbout {
  position: relative;
  width: 100%;
  height: 50%;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.articleContainer {
  display: flex;
  width: 45%;
  height: 120px;
  margin: 10px;
  background: white;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}
.articleDesc {
  width: 80%;
  position: relative;

}
.articleImage {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 5px;
}
.articleImage img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.articleD {
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.2;
  padding: 10px;
  max-height: 50px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.checkers{
  position:relative;
  margin: auto 10px;
}
.title {
  text-transform: capitalize;
  font-size: 18px ;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.2;
  padding: 10px;
  max-height: 55px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.industry {
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.2;
  padding: 5px 10px;
}
.vendor {
  text-transform: capitalize;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  line-height: 1.2;
  padding: 5px 10px;
}
.mobilee{
  display:none;
}
@media(max-width:425px){
  .desktop{
    display: none;
  }
  .mobilee{
    display:block;
  }
  .main{
    padding:57px 0;
  }
  .slide{
    position: sticky;
    top: 0;
    background: #ccc;
    padding: 5px 20px;
    text-align: right;
    z-index: 5;
  }
  .fa-sliders-h{
    font-size:16px;
    color:rgba(0, 0, 0, 0.54);
  }

  .seperate{
    flex-direction: column;
  }
  .vidContainer{
    width: 100%;
  }
  .articleContainer{
    width: 100%;
     height:auto;
     padding:10px;
  }
  .articleD{
    font-size: 14px;
    padding: 10px 10px 0;
     line-height: 1.4;
     max-height: 48px;
  }.title{
    font-size: 16px;
    padding: 10px 10px 0;
   
  }
  .mobilee.sideNav{
    display:flex;
    width:100%;
    position: absolute;
    padding:15px 20px;
    z-index: 2;
    top: 35px;
    height: auto;
    left:0;
    box-shadow:1px 0 1px 1px #ccc;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    text-align: left;

  }
}
</style>