<template>
    <div class="course-Detail  justify-content-center align-items-center ">


        <!-- <div :class="{modal : modal, fade: fade}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">

                       <div class="row">
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="firstName">First Name</label>
                                   <input type="text" class="form-control" id="firstName" v-model="userDetail.firstName">
                               </div>
                           </div>
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="lastName">Last Name</label>
                                   <input type="text" class="form-control" id="lastName" v-model="userDetail.lastName">
                               </div>
                           </div>

                           <div class="col-md-12">
                               <div class="form-group">
                               <input type="text" id="phoneNo" class="form-control" v-model="userDetail.phoneNo">
                               </div>
                           </div>


                           <div class="col-md-12">
                               <div class="form-group">
                                   <label for="address">Address</label>
                                   <textarea id="address" class="form-control" v-model="userDetail.address"></textarea>
                               </div>
                           </div>

                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="state">State</label>
                                   <input id="state" class="form-control" v-model="userDetail.state">
                               </div>
                           </div>

                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="state">City</label>
                                   <input id="city" class="form-control" v-model="userDetail.city">
                               </div>
                           </div>


                           <div class="col-md-12">
                               <div class="form-group">
                                   <label for="state">Country</label>
                                   <input id="country" class="form-control" v-model="userDetail.country">
                               </div>
                           </div>

                       </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary addAddress" @click="addAddress()">Add Address</button>
                    </div>
                </div>
            </div>
        </div> -->

      

           <div class="w-25  mob1 shadow">
            <div class="carts itemCheckout">
            <h2 class="sumCart">Payment Summary</h2>
            <ul v-if="products.length" class="animated fadeIn">
                <li v-for="(product, index) in products" class="itemList" :key="index">
                     <!-- <img :src="product.coverImage" class="imgCheckout"> -->
                    <div class="mr-4">{{product.title}}</div>

                    <div><span>₦{{product.amount}}.00</span></div>
                    <div v-if="product.shippingPrice"><span>ShippingPrice: </span><span>₦{{product.shippingPrice}}.00</span></div>
                </li>
                <li class="subTotal"><div><span>Sub Total: </span> <span>₦{{subAmount}}.00</span></div></li>
                <li class="shipping" v-if="shippingAmount !== 0"><div><span>Shipping: </span> <span>₦{{shippingAmount}}.00</span></div></li>
                <li class="totalCheckout"><div><span>Total: </span> <span>₦{{totalAmount}}.00</span></div></li>
            </ul>
            </div>
             <div class="mt-3"><button class="elevated_btn elevated_btn_sm text-main " id="pay" @click="pay">{{payment}}</button></div>
        </div>
        <!-- <div class="col-md-offset-1 col-md-7 p-0 mob2">
            <div class="billingAddress">
            <h2 class="bill">Shipping Address</h2>
            <ul class="addressDiv">
                <li v-if="userDetails.length > 0" v-for="(userD, index) in userDetails"   class="text">
                    <div><input type="radio" @change="getAddressId(userD.id)" :value="userD.id" v-model="radioCheck"></div>
                    <div class="editName"><i class="fa fa-pencil editMo" @click="showModal(index, userD.id)" data-toggle="modal" data-target="#exampleModal"></i><i class="fa fa-trash" @click="deleteAddress(index, userD.id)"></i></div>
                    <div class="nameDiv"><b>Name: </b><span>{{userD.firstName}} </span> <span> {{userD.lastName}}</span></div>
                    <div class="nameDivs"><b>Address: </b>{{userD.address}}</div>
                    <div class="nameDivs"><span>{{userD.city}} </span> <span> {{userD.state}}</span> <span> {{userD.country}}</span></div>
                </li>
            </ul>
            <div class="addressAdd"><button type="button" class="btn btn-primary addAddress" @click="showModal('new', 'id')" data-toggle="modal" data-target="#exampleModal">
               Add Address
            </button></div>
           
            </div>
        </div> -->


    </div>
</template>

<script>
    export default {
        name: "user-checkout-component",
        data: function(){
            return {
                payment:'Pay',
                addressCheck: '',
                id: '',
                radioCheck: '',
                addressId: 0,
                products: [],
                email: '',
                totalAmount: '',
                shippingAmount: '',
                subAmount: '',
                modal: true,
                name: '',
                fade : true,
                userDetails : [],
                editTab : false,
                show: false,
                token: '',
                userDetail: {
                    firstName: '',
                    lastName: '',
                    phoneNo: '',
                    address: '',
                    state: '',
                    city: '',
                    country: '',
                    user_id: ''
                },
                redirect: false
            }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user != null){
                this.email = user.email;
                this.name = user.name;
                this.token = user.access_token;
                this.userDetail.user_id = user.id;

          this.transactionGetCart('id')

                // axios.get(`/api/user-details/${this.userDetail.user_id}`, { headers: {"Authorization" : `Bearer ${this.token}`} })

                //     .then((response) => {
                //         if(response.status === 200) {
                //             response.data[0].addressFirstCheck = 1;
                //             console.log(response);
                //             this.addressId = response.data[0].id;
                //             this.radioCheck = response.data[0].id;
                //             console.log(response.data);
                //             this.userDetails = response.data;
                //             this.transactionGetCart(this.addressId);
                //         }
                //     }).catch((error) => {
                //     console.log(error);
                // });

            }else{
                this.$router.push({name: 'auth', query: { redirect: 'product/checkout'}});
            }

        },
        methods: {
            transactionGetCart(id){
                let customerUser = JSON.parse(localStorage.getItem('authUser')) ? JSON.parse(localStorage.getItem('authUser')) : 0;
                let  sessionCart = JSON.parse(localStorage.getItem('userCart')) ? JSON.parse(localStorage.getItem('userCart')) : 0;
                let  itemArray = [];
                if(sessionCart instanceof Array){
                    sessionCart.forEach((item) => {
                        itemArray.push({
                            id: item.productId,
                            quantity: item.quantity,
                            prodType: item.prodType,
                            mediaId: item.mediaId
                        })
                    });
                }

                let cart = {
                    customerId: customerUser.id,
                    itemId: itemArray,
                    sessionCheck: customerUser.id === undefined ? 'NC': 'C',
                    addressId: id
                };


                axios.post('/api/post/cart/bk', JSON.parse(JSON.stringify(cart))).then((response) => {
                    if(response.status === 200){
                       
                        this.products = response.data.item;
                       
                        this.totalAmount = response.data.totalAmount
                        this.shippingAmount = response.data.shippingPrice;
                        this.subAmount = response.data.subTotal;
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            showModal(index, id) {
                if(index === 'new'){
                    this.fade = false;
                    this.editTab = false;
                    this.userDetail.firstName = this.userDetail.lastName = this.userDetail.phoneNo = this.userDetail.address = this.userDetail.state = this.userDetail.city = this.userDetail.country = '';
                }else{
                    this.fade = false;
                    this.editTab = true;
                    this.id = id;
                    axios.get(`/api/user-detail/${id}/edit`, { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.userDetail.firstName = response.data.firstName;
                                this.userDetail.lastName = response.data.lastName;
                                this.userDetail.phoneNo = response.data.phoneNo;
                                this.userDetail.address = response.data.address;
                                this.userDetail.state = response.data.state;
                                this.userDetail.city = response.data.city;
                                this.userDetail.country = response.data.country;
                            }
                        }).catch((error) => {
                           console.log(error);
                    })
                }
            },
            addAddress(){
                if(this.editTab) {
                   
                    axios.put(`/api/user-detail/${this.id}`, JSON.parse(JSON.stringify(this.userDetail)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Address successfully updated');
                                window.location.reload();
                            }
                        }).catch((error) => {
                            console.log(error);
                    })
                }else{
                    
                    axios.post('/api/user-detail', JSON.parse(JSON.stringify(this.userDetail)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Address successfully added');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }

                },
            deleteAddress(index, id){
                axios.delete(`/api/user-detail/${id}`, { headers: {"Authorization" : `Bearer ${this.token}`} }).then((response) => {
                   if(response.status === 200){
                      this.userDetails.splice(index, 1);
                      this.$toasted.success('Successfully deleted');
                   }
                }).catch((error) => {
                    console.log(error);
                })

            },
            pay(){
                this.payment = 'Processing payment..'
                let data = {
                    deliveryId : this.addressId,
                    email: this.email,
                    totalAmount: this.totalAmount,
                    paidAmount: this.totalAmount,
                    item: this.products,
                    paymentType: 'paystack'
                }
              
                axios.post('/api/order', JSON.parse(JSON.stringify(data)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200) {
                           
                           window.location.href = response.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })

            },
            getAddressId(id){
               // this.addressId = id;
                this.transactionGetCart(id);

            }

            }

    }
</script>

<style scoped>
ul,ol,li{
    list-style: none;
}
.prodTit{
    width:50%;
}
.course-Detail{
    background:#f7f8fa;
    min-height: 100vh;
    display:flex;
}
    .bill {
        padding: 12px 0 2px 20px;
        margin-top:0;
    }

    .addressDiv {
    border: 1px solid #ffffff;
    }

    .addressAdd {
        margin: 5px;
        padding:0 10px;
    }

    .billingAddress {
        background-color: #a6c4dd !important;
        color: #ffffff !important;
    }

    .sumCart {
       
        padding: 20px 0;
    }
    #exampleModal {
        z-index: 10001;
    }


    .totalCheckout {
        padding: 20px 0;
        font-size: 25px;
        font-weight: bold;
    }

    .itemCheckout {
         width:100%;
        color: #ffffff !important;
        text-align: center;
    }
   li{
       margin-bottom: 20px;
   }
    .itemList {
    
        padding: 15px 5px;
        display:flex;

    }

    .addAddress {
        color: #000000;
        background-color: #ffffff !important;
        border: 0px solid #ffffff !important;
        text-transform: capitalize;
    }


    .pay {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .imgCheckout{
    width: 50px;
    height: 80px;
    padding: 0 0 10px 0;
}

    .nameDiv {
        padding: 0;
        margin:0 ;
        font-size: 16px;
    }

    .nameDivs {
        padding: 0;
        margin:0 ;
    }

    .editName {
        text-align: right;
    }
    .editMo {
        margin-right: 10px;
    }

    .text {
        border: 1px solid #a3c2dc;
        padding: 20px;
        margin-bottom: 0;
    }

    .btn-o {
        margin-top: 0;
        text-align: center;
        border-top: 1px solid #ffffff;
        padding: 20px;
    }
    .mob1{
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        background-color: hsl(207, 46%, 20%) !important;
        text-align:center;
        padding:20px;
    }
    @media(max-width:425px){
          .sumCart {
       
       font-size:16px;
    }
        .bill{
            font-size:16px;
        }
        .mob1{
            margin-bottom:20px;
            width:95% !important;
            height:100%;
        }
        .mob2{
            padding:20px;
        }
        .nameDiv {
            margin:0;
            padding:0;
        }
         .nameDivs{
             margin:0;
             padding:0;
         }
         .course-Detail {
     
        padding:20px 0 0;
    }
    ol, ul{
    padding-left:0;
    }
    .itemList {
    border-bottom: 1px solid #ffffff;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.imgCheckout{
    width: 60px;
    height: 80px;
    padding: 0 0 10px 0;
}
    }


</style>
