<template>
    <div class="course-Detail">
       <app-videoBanner></app-videoBanner>
        <div :class="{modal: epiModal, fade: epiFade}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog product-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div>
                       <video width="620" controls class="cld-video-player videoDetail"></video>
                            </div>
                            <div class="videoInfo">
                                <p class="videoTitles">{{videoDetail.title}}</p>
                                <small>By: {{videoDetail.host}}</small>
                                <!--<div class="row">
                                    <div class="col-md-12">
                                          <p>{{title}}</p>
                                        <div class="divC">₦{{price}}.00</div>
                                    </div>
                                </div>-->
                                <div class="PriceDIV">
                                   <div v-if="videoDetail.videoPrice > 0" :class="{hardpriceCont: hardpriceCont, hardCopy: hardCopy}" @click="togglePrice('videoPrice')">₦{{videoDetail.videoPrice}}.00
                                   <p class="productNames">Video Price</p>
                                   </div>
                                    <div v-if="videoDetail.streamPrice > 0" :class="{softpriceCont: softpriceCont, softCopy: softCopy}" @click="togglePrice('streamPrice')">₦{{videoDetail.streamPrice}}.00
                                    <p class="productNames">Stream Price</p>
                                    </div>
                                    <div v-if="videoDetail.subscribePrice > 0" :class="{readOnlinepriceCont: readOnlinepriceCont, readOnline: readOnline}" @click="togglePrice('subscribePrice')">₦{{videoDetail.subscribePrice}}.00
                                    <p class="productNames">Subscribe Price</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-guruh-cart" @click="addToCart(videoDetail.uid)">Add Cart</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12 overDesc">
                            <p>{{videoDetail.description}}</p>
                            <p>{{videoDetail.created_at | moment("dddd, MMMM Do YYYY")}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 text-center"  :class="{ episodeTab: episodeTab, episodeTabSwitch : episodeTabSwitch}"   @click="showTabs('episode')">Episode Information</div>
                            <div class="col-md-3 text-center"  :class="{ shipTab: shipTab, shipTabSwitch : shipTabSwitch}"   @click="showTabs('shipping')">Sponsor Information</div>
                            <div class="col-md-3 text-center" :class="{ reviewTab: reviewTab, reviewTabSwitch : reviewTabSwitch}"  @click="showTabs('reviews')">Write a Reviews</div>
                            <div class="col-md-3 text-center" :class="{ shareTab: shareTab, shareTabSwitch : shareTabSwitch}" @click="showTabs('share')">Share this Items</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" v-if="episode">
                                Course Content({{episodeArray.length}})
                                <div>
                                    <div v-if="episodeArray.length > 0" v-for="(episodeArrays, index) in episodeArray">
                                       <div>
                                           <div class="episodeTitles row" @click="episodeArrays.showHide ? episodeArrays.showHide = false : episodeArrays.showHide = true"><div class="col-md-5">{{episodeArrays.title}}</div><div  v-if="videoDetail.streamPrice !== ''" class="epiPriceDiv col-md-7"><div class="epiPrice cartAdd" @click="addEpisodeToCart($event,episodeArrays.id, videoDetail.uid, episodeArrays.price)">Add to Cart</div><div class="epiPrice">₦{{episodeArrays.price}}.00</div></div> </div>
                                           <div class="episodeDescription" v-if="episodeArrays.showHide">
                                               <div>{{episodeArrays.overview}}</div>
                                               <div>Guest: {{episodeArrays.guest}}</div>
                                               <div>About Guest: {{episodeArrays.aboutGuest}}</div>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 shipDetailRow" v-if="shipping">
                                <p v-if="videoDetail.sponsorName !== ''">Sponsor: {{videoDetail.sponsorName}}</p>
                                <div v-if="videoDetail.aboutSponsor !== ''">{{videoDetail.aboutSponsor}}</div>
                            </div>
                            <div class="col-md-12 " v-if="reviews">
                                <div class="review-div">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Title" v-model="review.title">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5"  placeholder="Enter Reviews" v-model="review.description"></textarea>
                                    </div>
                                    <div>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedOne, 'fa-star' : RatedOne}" @click="rateWithStar('1')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedTwo, 'fa-star' : RatedTwo}" @click="rateWithStar('2')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedThree, 'fa-star' : RatedThree}" @click="rateWithStar('3')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedFour, 'fa-star' : RatedFour}" @click="rateWithStar('4')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedFive, 'fa-star' : RatedFive}" @click="rateWithStar('5')"></i>
                                        <i class="ml-lg-5">{{review.rating}} {{review.rating > 1 ? 'stars' : 'star'}}</i>
                                    </div>

                                    <button class="btn btn-reviews mb-4" @click="submitReview()">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-12" v-if="share">
                                <p>Share across social media</p>
                            </div>
                        </div>

                        <div class="row" v-if="allReviews.length > 0">
                            <h1>Reviews</h1>
                            <div class="col-md-12">
                                <div>
                                    <div class="mb-5" v-for="(Review, index) in allReviews">
                                        <div class="avatarD"><span class="reviewAvatar">{{(Review.user.name).charAt(0)}}</span><span class="avatartitle">{{Review.title}}</span></div>
                                        <div class="avatarDescription">{{Review.description}}</div>
                                        <div v-for="star in Review.rating" class="rateStyle">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div v-for="star in 5 - Review.rating" class="rateStyle">
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 videoRelated">
                                <p>Other Products to get based on :</p>
                                <select>
                                    <option>Related</option>
                                    <option>The Latest</option>
                                    <option>Most Popular</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4" v-if="relatedVideos .length > 0" v-for="(relatedVideo, index) in relatedVideos">
                                <div class="vid">
                                    <video class="relatedVideo cld-video-player" width="320" controls></video>
                                    <div class="videoTitle">{{relatedVideo.title}}</div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row rowBanner">
            <div class="col-md-12">
                <input type="search" class="form-control" placeholder="Search">
            </div>
            <div class="col-md-12">
                <select type="search" class="form-control">
                    <option>Video</option>
                </select>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Tags">
            </div>

        </div>
        <div class="row">
            <div class="col-md-4" v-if="videos.length > 0" v-for="(video, index) in videos">
                <div class="vid">
                <video v-if="video.excerpts !== ''"  :src="video.excerpts" width="320" controls class="cld-video-player demo-player">
                </video>
                    <div v-else class="addDemoImage"></div>
                <div class="videoDiver" data-toggle="modal" data-target="#exampleModal" @click="openModal(video.uid)">
                <div class="videoTitle">{{video.title}}</div>
                 <div class="videoOverview">{{video.description}}</div>
                <div class="videoCat">Category: {{video.category}}</div>
                </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import cloudder from 'cloudinary-core';
    import clo from 'cloudinary-video-player';

    import VideoBanner from './components/categoryVideoBannerComponent';

    export default {
        name: "user-video-component",
        data: function(){
            return {
                videos: [],
                videoTag: [],
                epiFade: true,
                epiModal: true,
                videoDetail: {},
                cld: '',
                player: '',
                relatedVideos: [],
                anonymousCart: [],
                relatedPlaylist: '',
                authenticate: false,
                price: '',
                title: '',
                shipTab: true,
                reviewTabSwitch: false,
                shareTabSwitch: false,
                episodeTabSwitch: true,
                reviewTab: true,
                shareTab: true,
                episodeTab: true,
                shipTabSwitch: false,
                episode: true,
                shipping: false,
                reviews: false,
                share: false,
                allReviews: [],
                review: {
                    productId: '',
                    title: '',
                    description: '',
                    rating: 0
                },
                star: 0,
                NotratedOne: true,
                NotratedTwo: true,
                RatedTwo: false,
                RatedOne: false,
                NotratedThree: true,
                RatedThree: false,
                NotratedFour: true,
                RatedFour: false,
                NotratedFive: true,
                RatedFive: false,
                rateFa: true,
                episodeArray: [],
                user: {},
                email: '',
                user_id: '',
                loginCart: [],
                hardCopy: false,
                hardpriceCont: false,
                softCopy: false,
                softpriceCont: true,
                readOnline: false,
                readOnlinepriceCont: true

            }
        },
        components: {
            'app-videoBanner': VideoBanner
        },
        mounted() {
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.email = user.email;
                this.user_id = user.id;
                this.user = user;
                this.authenticate = true;
            }

            this.cld = cloudder.Cloudinary.new({ cloud_name: 'diuflmhz2' });
            this.player = this.cld.videoPlayers('.videoDetail');
            this.relatedPlaylist = this.cld.videoPlayers('.relatedVideo');
            axios.get('/api/get/prodtype/Videos').then((response) => {
                if(response.status === 200){
                   let product = response.data.data;
                   product.forEach((item, index) => {
                       item.webinar.category = item.category.name;
                     
                       item.webinar.uid  = item.id;
                       this.videos.push(item.webinar);
                   });
                   /*let cld = cloudder.Cloudinary.new({ cloud_name: 'diuflmhz2' });
                  let player =  cld.videoPlayers('.cld-video-player');
                    var source = { publicId: 'productFile/s0jb8pptxcc8mia879hg'};
                    player.forEach((item) => {
                      item.source(source);
                  })*/
                   // cld.source('https://res.cloudinary.com/diuflmhz2/video/upload/v1546861411/productFile/s0jb8pptxcc8mia879hg.mp4').play();
               }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            showTabs(params){
                switch(params){
                    case 'shipping':
                        this.shipping = this.shipTabSwitch = this.reviewTab = this.shareTab = true;
                        this.reviews = this.episode = this.shipTab = this.reviewTabSwitch = this.shareTabSwitch = this.shareTabSwitch = this.share =  this.episodeTabSwitch = false;
                        break;
                    case 'reviews':
                        this.reviewTabSwitch = this.reviews = this.shipTab = this.shareTab = true;
                        this.shipTabSwitch = this.episode = this.reviewTab = this.shipping = this.shareTabSwitch = this.share = this.episodeTabSwitch = false;
                        break;
                    case 'share':
                        this.shipping =  this.episode = this.reviews = this.reviewTabSwitch = this.shipTab = this.shareTab = this.shipTabSwitch = this.episodeTabSwitch = false;
                        this.share  = this.shareTabSwitch = this.reviewTab = this.shipTab = true;
                        break;
                    case 'episode':
                        this.shipping = this.share = this.reviews = this.reviewTabSwitch = this.shipTabSwitch = this.shareTabSwitch = false;

                        this.episode = this.episodeTabSwitch = this.reviewTab = this.shipTab = this.shareTab  =true;

                        break;
                    default:
                        this.shipping = false;
                        this.reviews = false;
                }
            },
            getRelatedVideoProduct(id){
                axios.get(`/api/get/related/Videos/${id}`).then((response) => {
                    if(response.status === 200){
                       
                        let relatedProduct = response.data.data;
                        relatedProduct.forEach((item, index) => {
                            item.webinar.category = item.category.name;
                            item.webinar.uid  = item.id;
                            this.relatedVideos.push(item.webinar);
                           // this.relatedPlaylist[index].source(item.webinar.excerptsPublicId);
                        });

                        this.relatedPlaylist.forEach((item, index) => {
                           
                            item.source(this.relatedVideos[index].excerptsPublicId);
                        })
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            openModal(id){
                this.epiFade = false;
                axios.get(`/api/product-detail/${id}`).then((response) => {
                    if(response.status === 200){
                        this.videoDetail = response.data.data[0].webinar;
                        this.videoDetail.subscribePrice = response.data.data[0].subscribePrice;
                        this.videoDetail.streamPrice = response.data.data[0].streamPrice;
                        this.videoDetail.uid = response.data.data[0].id;
                        this.videoDetail.videoPrice = response.data.data[0].videoPrice;
                        this.getMediaDetail(this.videoDetail.id);
                        this.player.forEach((item) => {
                            item.source(this.videoDetail.excerptsPublicId);
                        });
                        this.getRelatedVideoProduct(id);
                        this.getProductReviews(this.videoDetail.uid);
                        if(!isNaN(parseInt(this.videoDetail.videoPrice))){
                            this.title = 'Video';
                            this.hardpriceCont = false;
                            this.hardCopy =true;
                            this.price = this.videoDetail.videoPrice;
                        }else if(!isNaN(parseInt(this.videoDetail.subscribePrice))){
                            this.title = 'Subscription';
                            this.softpriceCont = false;
                            this.softCopy = true;
                            this.price = this.videoDetail.subscribePrice;
                        }else if(!isNaN(parseInt(this.videoDetail.streamPrice))){
                            this.title = 'Streaming';
                            this.readOnlinepriceCont = false;
                            this.readOnline = true;
                            this.price = this.videoDetail.streamPrice;
                        }
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            getProductReviews(id){
                let data = {
                    id: id
                }
                axios.post('/api/product/get-reviews', JSON.parse(JSON.stringify(data))).then((response) => {
                    if(response.status === 200){
                        
                        this.allReviews = response.data.data;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            togglePrice(price){
                if(price === 'videoPrice'){
                    this.price = this.videoDetail.videoPrice;
                    this.hardpriceCont  = this.softCopy =  this.readOnline  = false;
                    this.hardCopy = this.softpriceCont = this.readOnlinepriceCont = true;
                    this.title = 'Video';
                }else if(price === 'streamPrice'){
                    this.price = this.videoDetail.streamPrice;
                    this.softpriceCont = this.hardCopy = this.readOnline = false;
                    this.softCopy = this.hardpriceCont = this.readOnlinepriceCont = true;
                    this.title = 'Streaming';
                }else if(price === 'subscribePrice'){
                    this.price =this.videoDetail.subscribePrice;
                    this.readOnlinepriceCont = this.hardCopy = this.softCopy = false;
                    this.readOnline =  this.softpriceCont = this.hardpriceCont = true;
                    this.title = 'Subscription';
                }
                
            },
            addEpisodeToCart(e, vid, id, price){
                e.preventDefault();
               
                let cart = {
                    productId: id,
                    mediaId: vid,
                    price: price,
                    prodType : 'VideoEpisode',
                    quantity: 0,
                    vidEpisode: true
                }

                if(this.authenticate === false){
                    cart.cartNum = 1;
                    this.anonymousCart.push(cart);
                    if(JSON.parse(localStorage.getItem('userCart')) === null){
                        localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let cartCount = sessionCart.length;
                        this.$emit('getCartCount', cartCount);
                    }else if(JSON.parse(localStorage.getItem('userCart')) !== null){
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let ss = sessionCart.length;
                        sessionCart[ss] = cart;
                        localStorage.setItem('userCart', JSON.stringify(sessionCart));
                        let a = JSON.parse(localStorage.getItem('userCart'));
                        let aCount = a.length;
                        this.$emit('getCartCount', aCount);
                    }
                }else{
                    this.addCart(cart);
                }





            },
            addToCart(id){
                let cart = {
                    productId: id,
                    price: this.price
                };
                if(this.title === 'Video'){
                    cart.quantity = 0;
                    cart.prodType = 'Video';
                }else if(this.title === 'Streaming'){
                    cart.quantity = 0;
                    cart.prodType = 'Streaming';
                }else if(this.title === 'Subscription'){
                    cart.quantity = 0;
                    cart.prodType = 'Subscription';
                }

                if(this.authenticate === false){
                    cart.cartNum = 1;
                    this.anonymousCart.push(cart);
                    if(JSON.parse(localStorage.getItem('userCart')) === null){
                        localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let cartCount = sessionCart.length;
                        this.$emit('getCartCount', cartCount);
                        this.$notify({
                            group: 'cart',
                            title: this.videoDetail.title,
                            text: 'Successfully Added to Cart!'
                        })
                    }else if(JSON.parse(localStorage.getItem('userCart')) !== null){
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let ss = sessionCart.length;
                        sessionCart[ss] = cart;
                        localStorage.setItem('userCart', JSON.stringify(sessionCart));
                        let a = JSON.parse(localStorage.getItem('userCart'));
                        let aCount = a.length;
                        this.$emit('getCartCount', aCount);
                        this.$notify({
                            group: 'cart',
                            title: this.videoDetail.title,
                            text: 'Successfully Added to Cart!'
                        })
                    }
                }else{
                 this.addCart(cart);
                }
            },
            addCart(cart){
                axios.post('/api/cart', JSON.parse(JSON.stringify(cart)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 201){
                           
                            this.loginCart.push(response.data);
                            let aCount = this.loginCart.length;
                            this.$emit('getCartCount', aCount);
                            this.$notify({
                                group: 'cart',
                                title: this.videoDetail.title,
                                text: 'Successfully Added to Cart!'
                            })
                           // window.location.reload();
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            },
            rateWithStar(num){
                switch (num) {
                    case '1':
                        this.NotratedOne = !this.NotratedOne;
                        this.RatedOne = !this.RatedOne;
                        this.review.rating = 1;
                        break;
                    case '2':
                        this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
                        this.RatedTwo = this.RatedOne = !this.RatedTwo;
                        this.review.rating = 2;
                        break;
                    case '3':
                        this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this.NotratedThree;
                        this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
                        this.review.rating = 3;
                        break;
                    case '4':
                        this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this.NotratedFour;
                        this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this.RatedFour;
                        this.review.rating = 4;
                        break;
                    case '5':
                        this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this.NotratedFive;
                        this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this.RatedFive;
                        this.review.rating = 5;
                        break;
                    default:
                        this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
                        this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
                }
            },
            submitReview(){
                if(this.authenticate=== false){
                    this.$toasted.error('You must log in to review a product');
                }else{
                    this.review.productId = this.videoDetail.uid;
                    axios.post('/api/user/reviews', JSON.parse(JSON.stringify(this.review)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Reviews successfully saved');
                                this.review.productId = this.review.title = this.review.description =  '';
                                this.review.rating = 0;
                                this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
                                this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
                            }
                            else{
                                this.$toasted.error('You cannot review this product until you purchase it');
                            }
                        }).catch((error) => {
                        let errors = Object.values(error.response.data.errors);
                        errors.forEach((item) => {
                            this.$toasted.error(item[0]);
                        })
                    })
                }

            },
            getMediaDetail(id){
                axios.get(`/api/get/getvideodetail/${id}`).then((response) => {
                   if(response.status === 200){
                       this.episodeArray = response.data;
                       this.episodeArray.forEach((item) => {
                           this.$set(item, 'showHide', false);
                       })
                   }
                }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
    .overDesc {
        background: #eff0f0;
        text-align: center;
        padding: 20px;
    }

    .episodeDescription {
        display: block;
        padding: 12px 30px 12px 43px;
        background-color: #FFF;
        border: 1px solid #E8E9EB;
        border-top: none;
        color: #686F7A;
        letter-spacing: .3px;
        line-height: 1.33;
    }

    .reviewAvatar {
        text-transform: capitalize;
        background: #a3c2dc;
        color: #ffffff;
        padding: 7px 10px;
        border-radius: 50%;
    }

    .review-div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .reviewList {
        margin-bottom: 20px;
    }

    .rateStyle {
        float: left;
        margin: 2px;
    }

    .episodeTitles {
        display: flex;
        align-items: center;
        background: #f9f9f9;
        border: solid 1px #E8E9EB;
        cursor: pointer;
        height: auto;
        margin-top: 3px;
        padding: 10px 30px 10px 22px;
    }

    .divC {
        font-size: 40px;
        margin: 17px 0 50px 0;
    }

    .epiPrice {
        float: right;
        margin: 0 10px;
    }

    .epiPriceDiv {
        width: 100%;
    }

    .cartAdd {
        background: #a3c2dc;
        font-weight: bold;
        color: #ffffff;
        padding: 7px;
        border-radius: 2px;
    }

    .shipTabSwitch, .reviewTabSwitch, .shareTabSwitch, .episodeTabSwitch {
        background-color: #a3c2dc;
        border: 1px solid #a3c2dc;
        color: #ffffff !important;
        padding: 15px 0;
        cursor: pointer;
    }

    .shipTab, .reviewTab, .shareTab, .episodeTab {
        color: #a4a4a4;
        border: 1px solid #a4a4a4;
        padding: 15px 0;
        cursor: pointer;
    }


    .videoRelated {
        text-align :right;
    }

    .videoRelated select {
        width: 125px;
        margin-left: auto;
    }

    .videoRelated p {
        font-weight: bold;
    }

    .btn-guruh-cart {
        background-color: #a3c2dc !important;
        padding: 20px 42%;
    }

    .hardCover, .softCover {
        cursor: pointer;
        border: 1px solid #a3c2dc;
        padding: 10px 0;
    }

    .productNames {
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        line-height: 15px;
    }

    .product-dialog {
        width: 90%;
        max-width: 90%;
        margin-top: 130px;
    }

    .PriceDIV {
        display: flex;
    }

    .videoDiver {
        margin-top: -7px;
        background: #e3ecf4;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
        font-weight: bold;
        text-align: justify;
        padding: 0 30px;
    }

    .videoOverview {
        color: #b0b3b5;
    }

    .videoCat {
        color: #b6cfe4;
    }

    .videoTitle {
        color: #000000;
    }

    .vid {
        text-align: center;
    }

    .rowBanner  {
        padding: 30px 200px;
        background: #f5f5f5;
    }

    .hardCopy, .softCopy, .readOnline {
        background: #a3c2dc;
        color: #ffffff !important;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
    }


    .videoInfo {
        background: #eff0f0;
        padding: 20px 2px;
        text-align: center;
        width: 40%;
    }

    .hardpriceCont, .softpriceCont, .readOnlinepriceCont{
        border: 2px solid #a3c2dc;
        padding: 10px;
        color: #a3c2dc;
        margin: 10px;
        cursor: pointer;
    }

    .videoTitles {
        font-size: 1.60rem;
    }

    .btn-reviews {
        background-color: #a3c2dc !important;
        padding: 10px 20px;
    }
</style>
