<template>
   <div class="subDiv">
       <h1>Subscription Plan</h1>
       <div class="row subscriptionTable" v-if="subscriptions.length > 0">
           <div class="col-md-4 center subRow"  v-for="(subscription, index) in subscriptions">
               <div>{{subscription.title}}</div>
               <div>₦{{subscription.price}}.00</div>
               <div>{{subscription.duration}} days</div>
               <div v-html="subscription.moreInfo"></div>
               <div v-if="subscription.addCheck === 'check'">
                   <button class="btn btn-subscribe" disabled @click="subscribe(subscription.id, subscription.level)">Subscribed</button>
               </div>
               <div v-else-if="subscription.addCheck === 'notCheck'">
                   <button class="btn btn-subscribe" @click="subscribe(subscription.id, subscription.level)">Upgrade</button>
               </div>
               <div v-else>
                   <button class="btn btn-subscribe" @click="subscribe(subscription.id, subscription.level)">Subscribe</button>
               </div>
           </div>
       </div>

   </div>
</template>

<script>
    export default {
        name: "user-subscription-component",
        data: function(){
          return {
              subscriptions: [],
              token: '',
              email: ''
          }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user != null) {
                this.token = user.access_token;
            }
                axios.get('/api/subscription-plans')
                    .then((response) => {
                        console.log(response);
                        if (response.status === 200) {
                            //this.subscriptions = response.data;
                            if(user != null) {
                                this.getUserSubscriptionPlan(response.data);
                            }else{
                                this.subscriptions = response.data;
                            }
                        }
                    }).catch((error) => {
                    console.log(error);
                })

        },
        methods: {
            subscribe(id, type){
                let data = {
                    id: id,
                    type: type
                }
                axios.post('/api/usersubscription', JSON.parse(JSON.stringify(data)), { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            window.location.href = response.data;
                        }
                    }).catch((error) => {
                        console.log(error.response.data.message);
                    if(error.response.data.message === 'Unauthenticated.'){
                        this.$router.push({name: 'auth', query: { redirect: 'subscription'}});
                    }
                })
            },
            getUserSubscriptionPlan(data){
                let subscription = [];
                let sub = [];
                axios.get('/api/user/subscription-plans', { headers: {"Authorization" : `Bearer ${this.token}`} })
                    .then((response) => {
                        if(response.status === 200) {
                           data.forEach((item) => {
                               response.data.forEach((items) => {
                                   if(item.level === items.level){
                                       item.addCheck = 'check';
                                   }else{
                                       item.addCheck = 'notCheck';
                                   }
                               })
                               subscription.push(item);
                           })
                            this.subscriptions = subscription;

                        }

                    }).catch((error) => {
                        console.log(error);
                })
            }
        }
    }
</script>

<style scoped>

    .subDiv {
        margin: 20px;
    }

    .subRow div {
        margin: 20px;
    }

    .btn-subscribe {
        background: #a3c2dc !important;
        color: #ffffff;
    }

    .subscriptionTable {
        margin: 40px;
        border: 1px solid #e0dddd;
        padding: 20px 40px;
        border-radius: 5px;
        outline: 1px solid #a3c2dc;
        box-shadow: 0 5px 8px 10px #ccc;
    }

</style>
