<template>
    <div class="course-Detail">
        <div :class="{modal: epiModal, fade: epiFade}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog product-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="coursePrice" v-if="courseDetail.hardCopyPrice">
                                    ₦{{courseDetail.hardCopyPrice}}.00
                                    <div>Hard Cover</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="coursePrice" v-if="courseDetail.softCopyPrice">
                                    ₦{{courseDetail.softCopyPrice}}.00
                                    <div>Digital Cover</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="coursePrice" v-if="courseDetail.readOnlinePrice">
                                    ₦{{courseDetail.readOnlinePrice}}.00
                                    <div>Read Online</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="coursePrice" v-if="courseDetail.videoPrice">
                                    ₦{{courseDetail.videoPrice}}.00
                                    <div>Video Copy</div>
                                </div>
                            </div>
                        </div>
                        <div class="enrolDiv"><button class="btn btn-enroll">Enroll</button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
          <div class="courseTitle">

          </div>
            <div class="headerCourse">
            <div class="rowBottom">
                <div class="courseTab"><button class="transparentBtn" v-scroll-to="'#courseContentOverview'">Overview</button></div>
                <div class="courseTab"><button class="transparentBtn" v-scroll-to="'#courseContentTableOfContent'">Course Module</button></div>
                <div class="courseTab"><button class="transparentBtn" v-scroll-to="'#courseContentSponsor'">About the Sponsor</button></div>
                <div class="courseTab"><button class="transparentBtn" v-scroll-to="'#courseContentFaq'">FAQ's</button></div>
            </div>
            <div class="enrollContent">
                <select v-model="price">
                    <option v-if="courseDetail.hardCopyPrice > 0" :value="{price: courseDetail.hardCopyPrice, format:'HardCopy'}">Hard Cover</option>
                    <option v-if="courseDetail.softCopyPrice > 0" :value="{price: courseDetail.softCopyPrice, format: 'SoftCopy'}">Digital Copy</option>
                    <option v-if="courseDetail.readOnlinePrice > 0" :value="{price: courseDetail.readOnlinePrice, format: 'ReadOnline'}">Read Online</option>
                    <option v-if="courseDetail.videoPrice > 0" :value="{price: courseDetail.videoPrice, format: 'VideoCopy'}">Video Cover</option>
                    <option v-if="courseDetail.audioPrice > 0" :value="{price: courseDetail.audioPrice, format: 'AudioCopy'}">Audio Copy</option>
                </select>
                <div class=""><button class="btn btn-enroll" @click="addToCart(id)">Enroll</button></div>

            </div>
            </div>


                <div class="row">
                    <div class="col-md-8 roww">
                        <div class="contentC">
                        <div class="cseT">{{courseDetail.title}}</div>
                        <div id="courseContentOverview" class="courseContentOverview">
                            <div class="subSectionHeader">Overview</div>
                            {{courseDetail.overview}}
                        </div>
                        <div id="courseContentTableOfContent" class="courseContentTableOfContent">
                            <div class="subSectionHeader">Course Modules</div>
                            <div v-html="courseDetail.courseModules"></div>
                            <div v-html="courseDetail. courseObjectives"></div>
                        </div>
                        <div id="courseContentSponsor" class="courseContentSponsor">
                            <div class="subSectionHeader">Sponsor</div>
                            {{courseDetail.sponsorName}}
                            {{courseDetail.aboutSponsor}}
                        </div>
                        <div id="courseContentFaq" class="courseContentFaq">
                            <div class="subSectionHeader">FAQ's</div>
                            <div class="faqDiv" v-if="courseDetail.faq.length > 0" v-for="(faq, index) in courseDetail.faq">
                                <div class="faqQuestion">{{faq.question}}</div>
                                <div>{{faq.answer}}</div>
                            </div>
                        </div>
                        <div class="whatYouWillLearn" v-if="courseDetail.whenYouComplete">
                            <div class="subSectionHeader">What you will learn</div>
                            <p>{{courseDetail.whenYouComplete}}</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4 rowws">
                        <p>AT A GLANCE</p>
                        <ul>
                            <li class="listCourse" v-if="courseDetail.hardCopyPrice > 0"><i class="fa fa-money iconMoney"></i>Hard Copy Price: ₦{{courseDetail.hardCopyPrice}}.00</li>
                            <li class="listCourse" v-if="courseDetail.softCopyPrice > 0"><i class="fa fa-money iconMoney"></i>Digital Copy Price: ₦{{courseDetail.softCopyPrice}}.00</li>
                            <li class="listCourse" v-if="courseDetail.audioPrice > 0"><i class="fa fa-money iconMoney"></i>Audio Copy Price: ₦{{courseDetail.audioPrice}}.00</li>
                            <li class="listCourse" v-if="courseDetail.videoPrice > 0"><i class="fa fa-money iconMoney"></i>Video Copy Price: ₦{{courseDetail.videoPrice}}.00</li>
                            <li class="listCourse" v-if="courseDetail.readOnlinePrice > 0"><i class="fa fa-money iconMoney"></i>Read Online: ₦{{courseDetail.readOnlinePrice}}.00</li>
                            <li class="listCourse" v-if="courseDetail.fullOnline"><i class="fa fa-percent iconMoney"></i>100% Online</li>
                            <li class="listCourse" v-if="courseDetail.level === 'beginner'"><i class="fa fa-clock-o iconMoney"></i>Beginner Level</li>
                            <li class="listCourse"><i class="fa fa-times-circle iconMoney"></i>{{courseDetail.duration}} {{courseDetail.durationPeriod}}</li>
                            <li class="listCourse" v-if="courseDetail.certification"><i class="fa fa-paperclip iconMoney"></i>Certification</li>
                        </ul>
                    </div>
                </div>







            <div class="relatedCourses">

            </div>

      </div>
    </div>

</template>

<script>
    export default {
        name: "user-full-course-component",
        data: function(){
            return {
                id: this.$route.params.id,
                courseDetail: {},
                epiFade: true,
                epiModal: true,
                price: '',
                email: '',
                user_id: '',
                user: {},
                authenticate: false,
                anonymousCart: [],
                loginCart: []
            }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.email = user.email;
                this.user_id = user.id;
                this.user = user;
                this.authenticate = true;
            }
            axios.get(`/api/product-detail/${this.id}`).then((response) => {
                if(response.status === 200){
                    console.log(response);
                  this.courseDetail = response.data.data[0].courses;
                  this.courseDetail.hardCopyPrice = response.data.data[0].hardCopyPrice;
                  this.courseDetail.audioPrice = response.data.data[0].audioPrice;
                  this.courseDetail.readOnlinePrice = response.data.data[0].readOnlinePrice;
                  this.courseDetail.softCopyPrice = response.data.data[0].softCopyPrice;
                  this.courseDetail.videoPrice = response.data.data[0].videoPrice;
                  this.courseDetail.faq = response.data.data[0].faq;
                }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            openModal(){
                this.epiFade = false;
            },
            addToCart(id){
              if(this.price === ''){
                  this.$toasted.error('Please Select a Format Type');
              }else{
                  let cart = {
                      productId: id,
                      price: this.price.price,
                      prodType: this.price.format
                  };
                if(this.price.format === 'HardCopy'){
                    cart.quantity = 1;
                }else{
                    cart.quantity = 0;
                }
                console.log(cart);

                if(this.authenticate === false){
                    cart.cartNum = 1;
                    this.anonymousCart.push(cart);
                    if(JSON.parse(localStorage.getItem('userCart')) === null){
                        console.log(this.anonymousCart);
                        localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let cartCount = sessionCart.length;
                        this.$emit('getCartCount', cartCount);
                        this.$notify({
                            group: 'cart',
                            title: this.courseDetail.title,
                            text: 'Successfully Added to Cart!'
                        })
                    }else if(JSON.parse(localStorage.getItem('userCart')) !== null){
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let ss = sessionCart.length;
                        sessionCart[ss] = cart;
                        localStorage.setItem('userCart', JSON.stringify(sessionCart));
                        let a = JSON.parse(localStorage.getItem('userCart'));
                        let aCount = a.length;
                        this.$emit('getCartCount', aCount);
                        this.$notify({
                            group: 'cart',
                            title: this.courseDetail.title,
                            text: 'Successfully Added to Cart!'
                        })

                    }
                }else{
                    this.addCart(cart);
                }

              }
            },
            addCart(cart){
                axios.post('/api/cart', JSON.parse(JSON.stringify(cart)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 201){
                            this.loginCart.push(response.data);
                            let aCount = this.loginCart.length;
                            this.$emit('getCartCount', aCount);
                            this.$notify({
                                group: 'cart',
                                title: this.courseDetail.title,
                                text: 'Successfully Added to Cart!'
                            })
                            //window.location.reload();
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>

    .faqDiv {
        margin-bottom: 20px;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid #333;
    }

    .faqQuestion {
        font-weight: bold;
        padding-bottom: 5px;
    }

    .iconMoney {
        font-size: 40px;
        padding-right: 20px;
    }

    .subSectionHeader {
        font-size: 22px;
        line-height: 24px;
        margin: 36px 0 16px;
        font-weight: 400;
        max-width: 100%;
        padding: 0;
    }

    .relatedCourses{
    background-color: #f5f5f5;
    }
    .coursePrice{
        border: 1px solid #a3c2dc;
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        cursor: pointer;
    }

    .enrolDiv {
        float: right;
        margin-top: 30px;
    }

    .roww {
        padding: 80px;
    }

    .rowws {
        padding: 80px 0;
    }

    .btn-enroll {
        background-color: #a3c2dc !important;
        color: #ffffff;
        font-weight: bolder;
    }

    .learn {
        font-weight: bold;
    }

    .product-dialog {
        width: 70%;
        max-width: 70%;
        margin-top: 130px;
    }

    .rowBottom {
        display: flex;
        justify-content: space-around;
       float: left;
        width: 70%;
        margin-top: 6px;
    }

    .enrollContent {
        display: flex;
        justify-content: space-around;
        float: left;
        width: 30%;

    }

    .headerCourse {
        border-bottom: 1px solid #dadada;
        box-shadow: 0px 1px 2px #888888;
        overflow: hidden;
        padding: 10px 0;
    }

    .listCourse {
        color: #333;
        line-height: 3;
        font-size: 20px;
        font-weight: 400;
    }

    .courseTab div {
        color: #a4a4a4;
        background: #ffffff;
        text-align: center;
        margin: 3px 26px;
        padding: 10px 6px;
    }

    .cseT {
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1;

    }

    .courseContentOverview, .courseContentTableOfContent,
    .courseContentSponsor, .courseContentFaq, .whatYouWillLearn  {
   padding: 50px;
    }

    .fa-circle-o {
        margin-right: 20px;
    }



    .courseTitle span {
        float: left;
    }

</style>
