<template>
    <div class="container">
        <div class="titleName">{{name}}</div>
        <div class="img-test">
            <div class="">
                <select class="form-control categoriesdropDown" v-if="myTopics.length > 0" v-model="topicChange">
                    <option><i class="fa fa-caret-down"></i></option>
                    <option v-for="(myTopic, index) in myTopics" class="mytopic" :value="myTopic.id">{{myTopic.name}}</option>
                </select>

            </div>
            <div class="input-forms inform">
                <input type="text" class="form-control" v-model="searchItem" placeholder="Search Keywords">
            </div>
        </div>
        <div class="askquestions"><router-link tag="a" :to="{name: 'BizguruhQuestionBank'}">return to BizGuruh</router-link></div>

        <div class="viewQ">
            <div class="viewQ" v-if="questionsBank.length > 0" v-for="(questionBank, index) in searchFilterData">
                <a @click="questionBank.verify = !questionBank.verify" class=" whatLearnx section-container">
                    <div class="section-header-left">
                                <span class="section-title-wrapper">
                                    <span class="section-title-toggle">
                                        <span class="section-title-toggle-plus">+</span>

                                    </span>
                                    <span class="section-title-text questionA">{{questionBank.question}}</span>
                                </span>

                    </div>
                </a>
                <a v-if="questionBank.verify" class="whatLearnxss">
                    <div v-if="questionBank.topicName !== ''"><span><b>Concept: </b> {{questionBank.topicName}} </span></div>
                    <div><span class="questionA" v-html="questionBank.answer"></span></div>
                </a>


               <!-- <div class="questiondivs">
                    <div class="questiontitle">{{questionBank.question}}</div>
                    <div class="questiondiv">
                        <div v-if="questionBank.subjectMatterName !== ''"><b>Subject Matter</b> {{questionBank.subjectMatterName}}</div>
                        <div v-if="questionBank.topicName !== ''"><b>Topic:</b> {{questionBank.topicName}}</div>
                        <div>{{questionBank.answer}}</div>
                        </div>
                </div>-->
            </div>
            <div v-else>No FAQs for this Subject Matter</div>
        </div>
        <div>
            <nav aria-label="Page navigation example" class="pagination-question">
                <ul class="pagination ">
                    <li :class="[{disabled: !pagination.prev}]" class="page-item"><a class="page-link" href="#" @click="getQuestionBank(pagination.prev )">Previous</a></li>

                    <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>


                    <li :class="[{disabled: !pagination.next}]" class="page-item"><a class="page-link" href="#" @click="getQuestionBank(pagination.next)">Next</a></li>
                </ul>
            </nav>
        </div>

    </div>
</template>

<script>
    export default {
        name: "user-f-a-qs-show-component",
        data: function(){
            return {
                subjectMatters: [],
                epiFade: true,
                token: '',
                emailCheck: false,
                errorCheck: false,
                isLoading: false,
                status: '',
                emailContent: '',
                categorySend: '',
                id: this.$route.params.id,
                name: this.$route.params.name,
                questionsBank: [],
                pagination: {},
                myTopics: [],
                topicChange: '',
                searchItem: ''
            }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.token = user.access_token;
                this.authenticate = true;
            }
            let data = {
                id: this.id
            }
            console.log(data);
            this.getQuestionBank();
            this.topics();
        },
        methods: {
            getQuestionBank(page_url){
                let vm = this;
                page_url = page_url || `/api/questionBank/${this.id}/question`;
                axios.get(page_url).then((response)=> {
                    console.log(response);
                    if(response.status === 200){
                        console.log(response);
                        this.questionsBank = response.data.data;
                        vm.makePagination(response.data.links, response.data.meta);
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            makePagination(link, meta){
               let pagination = {
                   current_page : meta.current_page,
                   last_page : meta.last_page,
                   next : link.next,
                   prev : link.prev
               }

               this.pagination = pagination;
            },
            topics(){
                axios.get('/api/topics').then((response) => {
                   if(response.status === 200){
                       this.myTopics = response.data;
                   }
                }).catch((error) => {
                    console.log(error);
                })
            }
        },
        computed:{
            searchFilterData(){

                if(this.searchItem !== '') {
                    return this.questionsBank.filter((item) => {
                        return item.question.toLowerCase().includes(this.searchItem.toLowerCase());
                    });
                }


                if(this.topicChange !== ''){
                      return this.questionsBank.filter((item) => {
                          if(this.topicChange === item.topic){
                              return item;
                          }

                      })
                }else{
                    return this.questionsBank;
                }
            }
        }
    }
</script>

<style scoped>
    .titleName {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;
    }

    .askquestions {
        text-align: center;

    }

    .askquestions a {
        color: tomato;
        font-size: 13px;
    }

    .viewQ {
        overflow: hidden;
    }
    .inform input {
        height: 53px;
    }
    .input-forms {
        width: 400px;
    }


    input::-webkit-input-placeholder {
        color: #c5c5c5 !important;
    }

    .categoriesdropDown {
        height: 53px;
        width: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 50% !important;
        border-radius: 0px !important;
    }



    .mytopic {
        margin: 10px;
    }



    .img-test {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    .questionA {
        text-transform: none;
    }

    .section-title-wrapper {
        flex-direction: row;
        align-items: center;
        display: flex;
        color: #505763;
        flex: 1 1 auto;
        font-size: 18px;
        font-weight: 600;
    }

    .section-title-toggle {
        color: #007791;
        display: inline-block;
        width: 12px;
        height: auto !important;
    }

    .section-title-text {
        font-size: 13px;
        padding-left: 8px;
        padding-right: 10px;
    }
.whatLearnxss {
    float: left;
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #DEDFE0;
    padding: 10px 15px;
    margin: -3px 30px;
    font-size: 13px;


}

    .whatLearnx {
        cursor:pointer;
        float: left;
        width: 95%;
        margin: 2px 30px;
        border-radius: 5px;
        background-color: #f9f9f9;
        border: 1px solid #DEDFE0;
        padding: 10px 15px;
    }
    .questiondivs {
        width: 80%;
        margin: 10px auto;
        border: 1px solid #a3c2dc;
        border-radius: 4px;

    }
    .questiontitle {
        border-bottom: 1px solid #a3c2dc;
        padding: 5px 4px;
    }
.questiondiv {
    margin: 10px;
}
</style>
