<template>
    <div class="course-Detail">
      <div class="row">
          <div class="col-md-3">
              <app-categories></app-categories>
          </div>
          <div class="col-md-9">
              <app-content></app-content>
          </div>
      </div>
    </div>
</template>

<script>
    import CourseCategories from './components/userCourseCategoriesComponent';
    import CourseContent from './components/userCourseContentComponent';

    export default {
        name: "user-course-component",
        components: {
            'app-categories': CourseCategories,
            'app-content': CourseContent
        }
    }
</script>

<style scoped>

</style>