<template>
  <div class="course-Detail">
    <!-- <ul>
      <li
        v-for="(breadcrumb, index) in breadcrumbList"
        v-bind:key="index"
        @click="routeTo(index)"
        :class="{linked: !!breadcrumb.link}"
      >{{breadcrumb.name}}</li>
    </ul> -->
    <div class=" orderHistory shadow m-auto">
      <div class="pos ">
        <router-link
          v-if="vendor"
          class="tabProfile border"
          :to="{name: 'PartnersProfile', params: {username: vendor_name}}"
        >
          <div class="sideText desktop">Profile</div>
          <span class="overlay">
            <h4>Profile</h4>
            <hr />
            <p class="mini-text">View your profile</p>
          </span>
          <span class="pos">
            <i class="fas fa-user fa-3x fa-inverse ico" aria-hidden="true"></i> Profile
          </span>
        </router-link>
        <router-link class="tabProfile border" to="/entrepreneur/wishlist" v-else>
          <span class="overlay">
            <h4>Wishlist</h4>
            <hr />
            <p class="mini-text">view your Wishlist</p>
          </span>
          <div class="sideText desktop">Library</div>

          <span class="pos">
            <i class="fas fa-heart fa-3x fa-inverse ico" aria-hidden="true"></i>
              Wishlist
          </span>
        </router-link>
      </div>
       <div class="pos flex-column ">
        <div v-if="profileImage === undefined || profileImage === null">
          <div
            v-if="vendor"
            class="detailAvatar mb-2 animated bounce delay-2s"
          >{{(vendor_name).charAt(0)}}</div>
          <div v-else class="detailAvatar mb-2 animated bounce">{{(avatarName).charAt(0)}}</div>
        </div>
        <div v-else>
          <img class="detailAvatar mb-2 animated bounce delay-2s" :src="profileImage" alt />
        </div>

        <div v-if="vendor" class="fullName">
          {{vendor_name}}
          <!-- {{userDetail.lastName}} -->
        </div>

        <div v-else class="fullName">
          {{userDetail.name}}
          <!-- {{userDetail.lastName}} -->
        </div>
      </div>
      <div class="">
        <router-link
          class="tabProfile border"
          :to="{name: 'SubscriptionProfile',
             params:{level:0}}"
        >
          <span class="overlay">
            <h4>Subscriptions</h4>
            <hr />
            <p class="mini-text">View our different subscription packages</p>
          </span>
          <div class="sideText desktop">Subscriptions</div>
          <span class="pos">
            <i class="fas fa-coins fa-3x ico"></i> Subscriptions
          </span>
        </router-link>
      </div>
      <div class="pos ">
        <router-link
          class="tabProfile border"
          :to="{name: 'Profile', params: {name: 'subscription'}}"
        >
          <span class="overlay">
            <h4>BizLibrary</h4>
            <hr />
            <p class="mini-text">View your BizLibrary</p>
          </span>
          <div class="sideText desktop">Library</div>

          <span class="pos">
            <i class="fas fa-folder fa-3x fa-inverse ico" aria-hidden="true"></i> My BizLibrary
            <span v-if="freeTrial && usersub === 0" class="trial">Free Trial</span>
          </span>
        </router-link>
      </div>
   
     
      <!-- <div class="pos ">
        <router-link class="tabProfile border" :to="{name: 'Guides'}">
          <span class="overlay">
            <h4>Checklist & Guides</h4>
            <hr />
            <p class="mini-text">Try out our business guides and checklist</p>
          </span>
          <div class="sideText desktop">Checklist & Guides</div>

          <span class="pos">
            <i class="fas fa-list fa-3x ico"></i> Checklist & Guides
          
          </span>
        </router-link>
      </div> -->
      <div class="pos " v-if="currentSub > 2">
        <router-link class="tabProfile border" to="/entrepreneur/bap">
          <span class="overlay">
            <h4>BAP-6</h4>
            <hr />
            <p class="mini-text">Try out our Business Acceleration Program tools</p>
          </span>
          <div class="sideText desktop">Business Acceleration Program</div>

          <span class="pos">
            <i class="fas fa-notes-medical fa-3x ico"></i>BAP-6
          </span>
        </router-link>
      </div>
       <div class="pos " v-else>
        <a class="tabProfile  border" id="faded" href="#">
          <span class="overlay">
            <h4>BAP-6</h4>
            <hr />
            <p class="mini-text">Upgrade today and try out our Business Acceleration Program tools</p>
          </span>
          <div class="sideText desktop">Business Acceleration Program</div>

          <span class="pos">
            <i class="fas fa-notes-medical fa-3x ico"></i>BAP-6
          </span>
        </a>
      </div>
         <div class="pos ">
        <router-link class="tabProfile border" to="/entrepreneur/choose">
          <span class="overlay">
            <h4>Settings</h4>
            <hr />
            <p class="mini-text">Change your preferred settings</p>
          </span>
          <div class="sideText desktop">User Settings</div>

          <span class="pos">
            <i class="fas fa-cogs fa-3x ico"></i>  Settings
          </span>
        </router-link>
      </div>
      <!-- <div class="pos ">
        <router-link class="tabProfile border" to="/entrepreneur/bap/progress">
          <span class="overlay">
            <h4>BAP-6 Progress</h4>
            <hr />
            <p class="mini-text">View your Business Acceleration Program Progress</p>
          </span>
          <div class="sideText desktop">BAP-6 Progress</div>

          <span class="pos">
            <i class="fas fa-history fa-3x ico" aria-hidden="true"></i> BAP-6 Progress
          </span>
        </router-link>
      </div> -->
     
      <!-- <h3>Profile</h3> -->
    </div>
  </div>
</template>

<script>
import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";

export default {
  props:['currentSub'],
  name: "user-main-profile-page-component",
  data: function() {
    return {
      token: "",
      epiFade: true,
      epiModal: true,
      readonline: false,
      audioItem: "",
      audio: false,
      readOnlineProduct: "",
      userDetail: {},
      avatarName: "",
      breadcrumbList: [],
      items: [],
      startDate: null,
      startDateParsed: null,
      currentDate: null,
      endDate: null,
      freeTrial: true,
      usersub: null,
      vendor: false,
      vendor_id: null,
      vendor_name: ""
    };
  },
  components: {
    "app-pdf": pdf
  },
  created() {
    this.updateList();
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user !== null) {
      if (user.vendor_user_id !== 0) {
        this.vendor = true;
        this.vendor_id = user.vendor_user_id;
        this.vendor_name = user.name;
      }
      this.token = user.access_token;
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));

          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
            this.freeTrial = false;
          } else {
          }
        });

      axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
        if (response.status === 200) {
          if (response.data.length !== 0) {
            this.userSub = Number(response.data[0].level);
          }
        }
      });
    }
  },
  beforeRouteEnter(to, from, next) {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user === null) {
      next({
        name: "auth",
        params: { name: "login" },
        query: { redirectFrom: to.fullPath }
      });
    } else {
      next();
    }
  },
  computed: {
    profileImage() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user.logo !== undefined) {
        return user.logo;
      }
    }
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user != null) {
      this.token = user.access_token;
      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.items = response.data.data;
            this.getUserProfileDetail();
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },
    getUserProfileDetail() {
      axios
        .get("/api/user/profile", {
          headers: { Authorization: `Bearer ${this.token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.userDetail = response.data;
            this.avatarName = this.userDetail.name;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.pos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
#faded{
  background-color: #ccc;
  color: rgba(255, 255, 255, 0.54);
  cursor: not-allowed !important;
}
.ico{
  margin-bottom: 14px;
}
.fa-inverse {
  color:#fff;
}
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 40px auto;
  padding: 6px 20px;
  background: #ffffff;
  width: 80%;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.sideProfile {
  margin: 100px 0;
  padding: 0;
  background-color: #f7f8fa;
}
.sideText.desktop {
  font-size: 14px;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  color: #000000;
  text-transform: capitalize;
  display: none;
}

.trial {
  font-family: ubuntu;
  font-size: 8px;
  background: rgba(0, 0, 0, 0.74);
  padding: 1px 2px;
}

a {
  color: hsl(207, 43%, 20%) !important;
}
h4 {
  margin-bottom: 5px;
}
hr {
  width: 30px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 0;
}
.tabProfile {
  position: relative;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color:  hsl(207, 43%, 20%);
  overflow: hidden;
  transition: all 0.8s;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.64);
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding: 15px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
}
.mini-text {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.54);
}
.tabProfile:hover .overlay {
  display: inline;
}
.tabProfile:hover .pos .fas {
 transform: scale(0.5);
}
.detailAvatar {
  background: hsl(207, 43%, 20%);
  width: 83px;
  font-size: 50px;
  font-weight: bold;
  height: 83px;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.detailAvatar img {
  width: 100%;
  height: 100%;
}

.fullName {
  text-transform: capitalize;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  color: hsl(207, 43%, 20%);
}
.ic {
  color: hsl(207, 43%, 20%);
}

th {
  background-color: #f7f8fa;
  color: #000000;
  font-weight: bold;
}

th,
td {
  padding: 30px !important;
}

.pdfReader {
  width: 90%;
  max-width: 90%;
  height: 90vh;
}

td {
  color: #aaaaaa;
}

.orderH {
  text-align: center;
  padding: 100px 30px;
}

.product-dialog {
  width: 90%;
  max-width: 90%;
  height: 100vh;
}

.course-Detail {
  padding-top: 0px;

  background-color: #f7f8fa;
  min-height: 100vh;
  font-weight: bold;
  display:flex;
}

.imgPurchase {
  height: 100px;
}

.orderHistory {
  background: #fff;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto ;
  grid-row-gap: 20px;
  grid-column-gap:20px;
}
.mob {
  font-size: 16px;
}
a.mob:hover {
  font-weight: bold;
}
@media (max-width: 425px) {
  .desktop {
    display: none;
  }
  .ico {
    margin-bottom: 0;
    padding-right: 10px;
  }
  .tabProfile:hover .overlay {
    display: none;
  }
  .pos {
    flex-direction: row;
  }
  .course-Detail {
    padding-top: 65px;
    padding-bottom: 0;
  }
  .fullName {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
  .orderH {
    padding: 0;
  }
  .orderHistory {
    width: 95%;
    padding-top: 20px;
      grid-template-columns: auto ;
  grid-template-rows: auto ;

  }
  .sideProfile {
    margin: 20px 0;
  }

  @media only screen and (max-width: 425px) {
    ul {
      margin: 50px 0 20px;
      padding: 5px 10px;
      background: #ffffff;
      width: 100%;
    }

    p {
      font-size: 16px;
    }
    .tabProfile {
      padding: 20px;
    }
    .pos {
      font-size: 16px;
    }
    .fa-3x {
      font-size: 1em;
    }
  }
}
</style>
