<template>
<div class="market">

<div class="container-fluid p-0">
    <app-paper-content></app-paper-content>
</div>
<!-- <app-side-category></app-side-category>
 -->
</div>

</template>

<script>
    import SideCategory from './components/userCourseCategoriesComponent';
    import PaperContent from './components/userAdminPaperContentComponent';
    export default {
        name: "user-admin-white-paper-component",
        data: function()
        {
          return {
              cartNo: '',
              cartId: '',
          }
        },
        components: {
          'app-side-category': SideCategory,
          'app-paper-content': PaperContent
        },
        mounted(){

        },
        methods: {
        addToCart(){
            this.$emit('update-cart', this.cartNo);
        }
        }
    }
</script>

<style scoped>
.market{
  background: rgba(163, 194, 220, 0.1) ;
}
.container{
     padding: 60px 10px 120px;
        background: #fff;
     max-width: 900px;
   
    font-weight: bold;
}

.market_img{
    position: relative;
    width:100%;
    height: 300px;
    min-height: 300px;
    margin-top:50px
}
.market_img img{
    width:100%;
    height: 100%;
}
.text{
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 40px;
    color: #000;
}
 @media(max-width: 425px){
     .container{
    padding: 31px 0px;
}

     .market_img{
         /* display: none; */
         height: 150px;
     }
        .text{
            font-size:20px;
        }
}

    .catBg {
        background: linear-gradient(110deg,#e9eeef,#fff 33%);
    }

</style>
