<template>
    <div class="container">
        <div class="m-5"><h2>This is the shipping information</h2>
    <div class="row">

        <div class="col-md-3 shipTabs" v-if="userDetails.length > 0" v-for="(userDetail, index) in userDetails">
            <div class="shipInner">
                <div><i class="fa fa-pencil" @click="editAddress(userDetail.id, index)"></i></div>
                <div><i class="fa fa-trash" @click="deleteAddress(index, userDetail.id)"></i></div>
                <p v-if="userDetail.firstName">First Name: {{userDetail.firstName}}</p>
                <p v-if="userDetail.lastName">Last Name: {{userDetail.lastName}}</p>
                <p v-if="userDetail.phoneNo">Phone No: {{userDetail.phoneNo}}</p>
                <p v-if="userDetail.address">Address: {{userDetail.address}}</p>
                <p v-if="userDetail.city">City: {{userDetail.city}}</p>
                <p v-if="userDetail.state">State: {{userDetail.state}}</p>
                <p v-if="userDetail.country">Country: {{userDetail.country}}</p>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" v-model="userDetail.firstName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" v-model="userDetail.lastName">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" id="phoneNo" class="form-control" v-model="userDetail.phoneNo">
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea id="address" class="form-control" v-model="userDetail.address"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="state">State</label>
                    <input id="state" class="form-control" v-model="userDetail.state">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="state">City</label>
                    <input id="city" class="form-control" v-model="userDetail.city">
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <label for="state">Country</label>
                    <input id="country" class="form-control" v-model="userDetail.country">
                </div>
            </div>

            <div class="col-d-12 center footerB">
                <button class="btn btn-primary addAddress" @click="addAddress()">Add Address</button>
            </div>

        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "user-shipping-information-component",
        data: function(){
           return {
               user: {},
               userDetails: [],
               modal: true,
               fade : true,
               show: false,
               edit: false,
               userDetail: {
                   id: '',
                   firstName: '',
                   lastName: '',
                   phoneNo: '',
                   address: '',
                   state: '',
                   city: '',
                   country: '',
                   user_id: ''
               },
           }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user != null){
                this.user = user;
                this.userDetail.user_id = user.id;

                axios.get(`/api/user-details/${this.user.id}`, { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 200){
                          this.userDetails = response.data;
                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }
        },
        methods: {
            editAddress(id, index){
                this.edit = true;
                console.log(this.userDetails[index]);
                this.userDetail = this.userDetails[index];
            },
            add(){
              console.log('fjfjfjf');
              this.fade = false;
              this.show = true;
            },
            addAddress() {
                if(this.edit){
                    axios.put(`/api/user-detail/${this.userDetail.id}`, JSON.parse(JSON.stringify(this.userDetail)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.$toasted.success('Address successfully updated');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }else {
                    axios.post('/api/user-detail', JSON.parse(JSON.stringify(this.userDetail)), {headers: {"Authorization": `Bearer ${this.user.access_token}`}})
                        .then((response) => {
                            if (response.status === 201) {
                                this.$toasted.success('Address successfully added');
                                window.location.reload();
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }
            },
            deleteAddress(index, id){
                axios.delete(`/api/user-detail/${id}`, { headers: {"Authorization" : `Bearer ${this.user.access_token}`} }).then((response) => {
                    if(response.status === 200){
                        this.userDetails.splice(index, 1);
                        this.$toasted.success('Successfully deleted');
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
.container{
    padding-top: 80px;
}
    .footerB {
        width: 100%;
    }

    .shipTabs {
         margin: 30px;
    }

    .shipInner {
        border: 1px solid #a3c2dc;
        padding: 10px;
        border-radius: 5px
    }

    .addAddress {
        color: #ffffff;
        background-color: #a3c2dc !important;
    }
    @media(max-width: 425px){
        .container{
            padding: 60px 0 50px 0;
        }
    }

</style>
