<template>
 <div class="container-fluid">
    <div class="container">
    <div class="row mt-80">
         <ul>
            <li v-for="(breadcrumb, index) in breadcrumbList"  v-bind:key="index" @click="routeTo(index)"  :class="{linked: !!breadcrumb.link}">
               {{breadcrumb.name}}
             </li>
       </ul>
      <h2 class="col-lg-12 col-md-12 col-sm-4 col-xs-12 pry_header"> Preference Settings</h2>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 preferenceP mobile ">
        <h3 class="sec_header">Subject Matters</h3>
        <div
          v-if="matterPreferences.length > 0"
  
        >
         <select class="form-control" v-model="matter" multiple size="6">
                    <option v-for="matterPreference in matterPreferences" :key="matterPreference.id" :value="matterPreference.id">{{matterPreference.name}}</option>
                </select>
        </div>
      </div>

       
      <div class=" col-lg-5 col-md-5  col-sm-4 col-xs-12 preferenceP mobile">
        <h3 class="sec_header">Topics</h3>
        <div
        class="singlePref"
          v-if="filteredTopic.length > 0"
          v-for="(topicPreference, index) in filteredTopic"
        >
          <label class="matterP"><input
              type="checkbox"
              :value="{typeId: topicPreference.id, name: topicPreference.name, type: 'PT'}"
              class="checkboxP"
              v-model="item"
            >
            <span class="tpref">{{topicPreference.name}}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row center">
      <div class="col-md-12">
        <button
          class="elevated_btn text-white btn-compliment center mx-auto"
          @click="submitPreference"
        >Submit Preferences</button>
      </div>
    </div>

    <!-- Password settings -->
    <div class="center password">
      <h3>Change Password</h3>
      <div class="row ppc">
        <div class="col-md-3">
          <label>Old Password</label>
          <input
            type="password"
            placeholder="old password"
            class="form-control"
            v-model="passwordChange.oldPassword"
          ></div>
        <div class="col-md-3">
          <label>New Password</label>
          <input
            type="password"
            placeholder="new password"
            class="form-control"
            v-model="passwordChange.password"
          ></div>
        <div class="col-md-3">
          <label>Verify Password</label>
          <input
            type="password"
            placeholder="verify new password"
            class="form-control"
            v-model="passwordChange.password_confirmation"
          ></div>
        <div class="col-md-3 mt-4"><button
            class="elevated_btn text-white btn-compliment elevated_btn_sm mt-0"
            @click="changePasswordForUser()"
          >Save Changes</button></div>
      </div>
    </div>

    <div class="center password">
      <h3>Change Email</h3>
      <div class="row ppc">
        <div class="col-md-4">
          <label>Old Email</label>
          <input
            type="Email"
            placeholder="Enter Old Email"
            class="form-control"
          ></div>
        <div class="col-md-4">
          <label>New Email</label>
          <input
            type="Email"
            placeholder="Enter New Email"
            class="form-control"
          ></div>
        <div class="col-md-4 mt-4"><button class="elevated_btn text-white btn-compliment elevated_btn_sm mt-0">Save Changes</button></div>
      </div>
    </div>
  </div>
 </div>
</template>

<script>
export default {
  name: "user-preference-component",
  data: function() {
    return {
      user: {},
      matterPreferences: [],
      topicPreferences: [],
      item: [],
      matter:[],
      breadcrumbList:[],
      passwordChange: {
        oldPassword: "",
        password: "",
        password_confirmation: ""
      }
    };
  },
  mounted() {
       this.updateList()
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.user = user;
      axios
        .get("/api/user/get/subjectmatter", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
          
            this.matterPreferences = response.data;
            this.getProductTopic();
          }
        })
        .catch(error => {
          console.log(error);
        });
    } else {
      this.$router.replace({ name: "auth" });
    }

    
  },
   watch: {
        '$route'(){
         this.updateList()
        }
    },
    computed: {
            loopMatter(){
            
           return  this.matter.filter(item=>{
               return item
            })
        },
         filteredTopic (){
         return this.topicPreferences.filter(element=>{
                    
                    if ( parseInt(this.loopMatter) === parseInt(element.sub_brand_category_id)) {
                        return element;
                    }
      })
      },

      
    },
  methods: {
    
       routeTo(pRouteTo){
            if (this.breadcrumbList[pRouteTo].link) {
                    this.$router.push(this.breadcrumbList[pRouteTo].link)
            }

            },
            updateList(){
                     this.breadcrumbList = this.$route.meta.breadcrumb;


            },

    changePasswordForUser() {
      axios
        .post(
          "/api/user/changePassword",
          JSON.parse(JSON.stringify(this.passwordChange)),
          { headers: { Authorization: `Bearer ${this.user.access_token}` } }
        )
        .then(response => {
          if (response.status === 200) {
            localStorage.removeItem("authUser");
            window.location.reload();
          }
        })
        .catch(error => {
          if (
            Array.isArray(error.response.data.errors.oldPassword) ||
            Array.isArray(error.response.data.errors.password) ||
            Array.isArray(error.response.data.errors.password_confirmation)
          ) {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          } else {
            this.$toasted.error(error.response.data.errors);
          }
        });
    },
    getProductTopic() {
      axios
        .get("/api/user/get/producttopic", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
          
            this.topicPreferences = response.data;
            this.getUserPreference();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getUserPreference() {
      axios
        .get("/api/userPreferences", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          console.log(response);
          if (response.status === 200) {
            response.data.data.forEach(items => {
              this.item.push(items);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    submitPreference() {
      axios
        .post("/api/user-preference", JSON.parse(JSON.stringify(this.item)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.$toasted.success("Success Added");
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.container-fluid{
  background-color:#f7f8fa;
}
label span{
    color:rgba(0, 0, 0, .84) !important;
}
option{
    font-size: 16px;
}
.singlePref{
    margin:10px;
}
ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding: 15px 15px;
   
  }
  ul > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    font-weight: bold;
    font-size: .8em;
    cursor: default;
    align-items: center;
  }
  ul > li:not(:last-child)::after {
    content: '/';
    float: right;
    font-size: .8em;
    margin: 0 .5em;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
  }
.row {
  padding: 0;
}
/* .mt-80{
    margin-top: 60px;
} */

.ppc {
  background: #ffffff;
  margin: 20px;
  padding: 20px;
}

.preferenceP {
  height: 400px;
  overflow: scroll;
  padding: 20px 30px;
  border: 2px solid hsl(207, 43%, 20%) ;
  margin: 30px;
  border-radius: 10px;
}
.tpref,
.smatter {
  text-transform: capitalize;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.matterP {
  display: flex;
}
.sec_header {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid hsl(207, 43%, 20%) ;
  background: hsl(207, 43%, 20%) ;
  border-radius: 80px 80px 80px 80px;
  text-align: center;
  color: hsl(207, 45%, 99%);
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.checkboxP {
  margin-right: 30px;
}

.btn-p {
  background-color: hsl(207, 43%, 20%)  !important;
  color: #ffffff;
}
.password {
  margin-top: 40px;
  text-align: left;
}
@media (max-width: 768px) {
  .preferenceP {
    margin: 30px;
    height: 300px;
  }
}
@media (max-width: 425px) {
    .container{
        padding-top: 20px;
    }

  .preferenceP {
    height: 200px;
    padding: 20px 30px;
    border: 2px solid hsl(207, 43%, 20%) ;
    border-radius: 10px;
    margin: 20px;
  }
  .pry_header {
    border-bottom: 2px solid hsl(207, 43%, 20%) ;
  }
  .password {
    margin-top: 40px;
  }
  .mobile {
    height: 200px;
  }
}
</style>
