<template>
  <div>
    <!-- <div class="article-banner">
                <h2 class="text"> Articles</h2>
    </div>-->
     <div class="loaderShadow" v-if="isActive">
          <div class="loadContainer">
            <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
            <div class="loader"></div>
          </div>
        </div>

    <div class="course-Detail" v-else>
      <div class="container  shadow-lg bg-white">
        <ul>
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>

        <!-- <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading> -->
       
        <div v-if="!loaderShow">
          <div class="row articleRS">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <div v-if="articles.length > 0" class="mb-4">
                <div class="articleImage">
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[0].myid, name: showFeaturedProduct[0].title.replace(/[^a-z0-9]/gi, '')}}"
                  >
                    <img :src="showFeaturedProduct[0].coverImage" />
                  </router-link>
                </div>
                <div class="articleShow">
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[0].myid, name: showFeaturedProduct[0].title.replace(/[^a-z0-9]/gi, '')}}"
                  >
                    <div class="articleAtitle">{{showFeaturedProduct[0].title}}</div>
                    <div class="articleDes" v-html="showFeaturedProduct[0].description"></div>
                  </router-link>
                  <div class="authorDetail">
                    <div
                      class="writer"
                    >{{showFeaturedProduct[0].writer}} in {{showFeaturedProduct[0].subjectMatter.toLowerCase()}}</div>
                    <div class="date">{{showFeaturedProduct[0].created_at | moment("MMM D")}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div v-if="articles.length > 1">
                <div class="articlebar">
                  <div class="articleShift">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[1].myid, name: showFeaturedProduct[1].title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <div class="articleAtitlebar">{{showFeaturedProduct[1].title}}</div>
                      <div class="articleDes" v-html="showFeaturedProduct[1].description"></div>
                    </router-link>
                    <div class="authorDetail">
                      <div>{{showFeaturedProduct[1].writer}} in {{showFeaturedProduct[1].subjectMatter.toLowerCase()}}</div>
                      <div>{{showFeaturedProduct[1].created_at | moment("MMM D")}}</div>
                    </div>
                  </div>
                  <div class="articleImagebar">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[1].myid, name: showFeaturedProduct[1].title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <img :src="showFeaturedProduct[1].coverImage" />
                    </router-link>
                  </div>
                </div>
              </div>

              <div v-if="articles.length > 2">
                <div class="articlebar">
                  <div class="articleShift">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[2].myid, name: showFeaturedProduct[2].title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <div class="articleAtitlebar">{{showFeaturedProduct[2].title}}</div>
                      <div class="articleDes" v-html="showFeaturedProduct[2].description"></div>
                    </router-link>
                    <div class="authorDetail">
                      <div>{{showFeaturedProduct[2].writer}} in {{showFeaturedProduct[2].subjectMatter.toLowerCase()}}</div>
                      <div>{{showFeaturedProduct[2].created_at | moment("MMM D")}}</div>
                    </div>
                  </div>
                  <div class="articleImagebar">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[2].myid, name: showFeaturedProduct[2].title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <img :src="showFeaturedProduct[2].coverImage" />
                    </router-link>
                  </div>
                </div>
              </div>

              <div v-if="articles.length > 3">
                <div class="articlebar">
                  <div class="articleShift">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[3].myid, name: showFeaturedProduct[3].title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <div class="articleAtitlebar">{{showFeaturedProduct[3].title}}</div>
                      <div class="articleDes" v-html="showFeaturedProduct[3].description"></div>
                    </router-link>
                    <div class="authorDetail">
                      <div>{{showFeaturedProduct[3].writer}} in {{showFeaturedProduct[3].subjectMatter.toLowerCase()}}</div>
                      <div>{{showFeaturedProduct[3].created_at | moment("MMM D")}}</div>
                    </div>
                  </div>
                  <div class="articleImagebar">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[3].myid, name: showFeaturedProduct[3].title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <img :src="showFeaturedProduct[3].coverImage" />
                    </router-link>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-4">
               <div v-if="articles.length >= 5">
                    <div class="articleImage">
                        <router-link  :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[4].myid, name: showFeaturedProduct[4].title.replace(/[^a-z0-9]/gi, '')}}">  <img :src="showFeaturedProduct[4].coverImage"></router-link>
                    </div>
                    <div class="articleShowSide">
                        <router-link  :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[4].myid, name: showFeaturedProduct[4].title.replace(/[^a-z0-9]/gi, '')}}"><div class="articleAtitle">{{showFeaturedProduct[4].title}}</div></router-link>
                        <div class="articleDesd" v-html="showFeaturedProduct[4].description"></div>
                        <div class="authorDetail">
                            <div>{{showFeaturedProduct[4].writer}} in {{showFeaturedProduct[4].subjectMatter.toLowerCase()}}</div>
                            <div>{{showFeaturedProduct[4].created_at | moment("MMM D")}}</div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div v-if="articles.length > 4" class="mb-4">
                <div class="articleImage">
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[4].myid, name: showFeaturedProduct[4].title.replace(/[^a-z0-9]/gi, '')}}"
                  >
                    <img :src="showFeaturedProduct[4].coverImage" />
                  </router-link>
                </div>
                <div class="articleShow">
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: showFeaturedProduct[4].myid, name: showFeaturedProduct[4].title.replace(/[^a-z0-9]/gi, '')}}"
                  >
                    <div class="articleAtitle">{{showFeaturedProduct[4].title}}</div>
                    <div class="articleDes" v-html="showFeaturedProduct[4].description"></div>
                  </router-link>
                  <div class="authorDetail">
                    <div
                      class="writer"
                    >{{showFeaturedProduct[4].writer}} in {{showFeaturedProduct[4].subjectMatter.toLowerCase()}}</div>
                    <div class="date">{{showFeaturedProduct[4].created_at | moment("MMM D")}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 right">
              <div class="seeFeatured">
                <router-link
                  :to="{name: 'ArticleFullPage' , params: {type: 'all', name: 'articles'}}"
                >
                  See All Featured
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </router-link>
              </div>
              <hr />
            </div>
          </div>

          <div class="row articleRSs">
            <div class="featuredProd col-md-7 col-sm-7 col-xs-12">
              <div v-if="showFeaturedProduct.length > 0">
                <header class="ftm">
                  <div class="headers">Featured For Members</div>
                </header>
                <div
                  class="col-xs-12 col-sm-12 articlebar articleMem"
                  v-for="(featuredProduct, index) in showFeaturedProduct"
                >
                  <div class="col-xs-10 col-sm-8 articleiveer">
                    <router-link
                      :to="{ name: 'ArticleSinglePage', params: {id: featuredProduct.myid, name: featuredProduct.title.replace(/[^a-z0-9]/gi, '')}}"
                    >
                      <div class="artTil">{{featuredProduct.title}}</div>
                      <div class="articleDesd" v-html="featuredProduct.description"></div>
                    </router-link>
                    <div class="authorDetail">
                      <div>{{featuredProduct.writer}}, {{featuredProduct.subjectMatter.toLowerCase()}}</div>
                      <div>{{featuredProduct.created_at | moment("MMM D")}}</div>
                    </div>
                  </div>
                  <div class="col-xs-2 col-sm-4 articleRowImage">
                    <img :src="featuredProduct.coverImage" />
                  </div>
                </div>
                <div class="seeFeatured">
                  <router-link
                    :to="{name: 'ArticleFullPage' , params: {type: 'all', name: 'articles'}}"
                  >
                    More
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  </router-link>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div v-if="preferenceArticles.length > 0">
                <header class="ftm">
                  <div class="headers">Based on Preference</div>
                </header>
                <div
                  class="articlebar articleMem"
                  v-for="(preferenceArticle, index) in preferenceArticles"
                >
                  <div class="row">
                    <div class="col-sm-2 col-xs-2 indexCount">{{'0' + (index + 1)}}</div>
                    <div class="col-sm-8 col-xs-8">
                      <router-link
                        :to="{ name: 'ArticleSinglePage', params: {id: preferenceArticle.myid, name: preferenceArticle.title.replace(/[^a-z0-9]/gi, '')}}"
                      >
                        <div class="artTil">{{preferenceArticle.title}}</div>

                        <div class="articleDesd pref" v-html="preferenceArticle.description"></div>
                      </router-link>
                      <div class="authorDetail">
                        <div>{{preferenceArticle.writer}}, {{preferenceArticle.subjectMatter.toLowerCase()}}</div>
                        <div>{{preferenceArticle.created_at | moment("MMM D")}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div v-if="popularArticles.length > 0">
                <header class="ftm">
                  <div class="headers">Based on Popularity</div>
                </header>
                <div
                  class="articlebar articleMem"
                  v-for="(popularArticle, index) in popularArticles"
                >
                  <div class="articleiveerr">
                    <div class="numDiver">
                      <div class="indexCount">{{'0' + (index + 1)}}</div>
                      <div>
                        <router-link
                          :to="{ name: 'ArticleSinglePage', params: {id: popularArticle.myid, name: popularArticle.title.replace(/[^a-z0-9]/gi, '')}}"
                        >
                          <div class="artTil">{{popularArticle.title}}</div>
                          <div class="articleDesd" v-html="popularArticle.description"></div>
                        </router-link>
                        <div class="authorDetail">
                          <div>{{popularArticle.writer}}, {{popularArticle.subjectMatter}}</div>
                          <div>{{popularArticle.created_at | moment("MMM D")}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="networkArticles.length > 0">
                <header class="ftm">
                  <div class="headers">From Expert Network</div>
                </header>
                <div
                  class="articlebar articleMem"
                  v-for="(networkArticle, index) in networkArticles"
                >
                  <div class="articleiveer">
                    <div class="numDiver">
                      <div class="indexCount">{{'0' + (index + 1)}}</div>
                      <div>
                        <router-link
                          :to="{ name: 'ArticleSinglePage', params: {id: networkArticle.myid, name: networkArticle.title}}"
                        >
                          <div class="artTil">{{networkArticle.title}}</div>
                          <div class="articleDesd" v-html="networkArticle.description"></div>
                        </router-link>
                        <div class="authorDetail">
                          <div>{{networkArticle.writer}}, {{networkArticle.subjectMatter.toLowerCase()}}</div>
                          <div>{{networkArticle.created_at | moment("MMM D")}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VideoBanner from "./components/categoryVideoBannerComponent";

export default {
  name: "user-articles-component",
  components: {
    "app-videoBanner": VideoBanner
  },
  data: function() {
    return {
      articles: [],
      authenticate: false,
      user: {},
      preferenceArticles: [],
      popularArticles: [],
      networkArticles: [],
      isActive: true,
      breadcrumbList: [],
      loaderShow: true
    };
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  mounted() {
    this.updateList();

    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user != null) {
      this.authenticate = true;
      this.user = user;
    }
    this.getTopicArticle();
    axios
      .get("/api/articles-page")
      .then(response => {
        if (response.status === 200) {
          this.getPopularArticles();
          this.isActive = false;
          this.loaderShow = false;

          response.data.data.forEach(item => {
            this.$set(item.articles, "myid", item.id);
            this.$set(item.articles, "coverImage", item.coverImage);
            this.$set(item.articles, "subjectMatter", item.subjectMatter.name);
            this.articles.push(item.articles);
           
          });
          if (this.authenticate) {
            this.getUserPreferenceArticle();
            this.getArticleFromNetwork();
          }
        }
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    getArticleFromNetwork() {
      axios
        .get("/api/articles/network", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
      
          if (response.status === 200) {
            response.data.data.forEach(item => {
              this.$set(item.articles, "myid", item.id);
              this.$set(item.articles, "coverImage", item.coverImage);
              this.$set(
                item.articles,
                "subjectMatter",
                item.subjectMatter.name
              );
              this.networkArticles.push(item.articles);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getUserPreferenceArticle() {
      axios
        .get("/api/user/preference/articles", {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            response.data.forEach(item => {
              this.$set(item.articlesDisplay, "myid", item.id);
              this.$set(item.articlesDisplay, "coverImage", item.coverImage);
              this.$set(
                item.articlesDisplay,
                "subjectMatter",
                item.subjectMatter.name
              );
              this.preferenceArticles.push(item.articlesDisplay);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getPopularArticles() {
      axios
        .get("/api/get/popular-articles")
        .then(response => {
          if (response.status === 200) {
          
            response.data.data.forEach(item => {
              this.$set(item.product_article, "myid", item.id);
              this.$set(item.product_article, "coverImage", item.coverImage);
              this.popularArticles.push(item.product_article);
           
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getTopicArticle() {
      axios
        .get("/api/articlesTopic")
        .then(response => {
        
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  computed: {
    showFeaturedProduct() {
      return this.articles.filter(item => {
        return item.featured.match("1");
        //  return
      });
    }
  }
};
</script>

<style scoped>
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  background: #ffffff;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.course-Detail {
  background: hsl(0, 0%, 99%);
  padding: 0px 15px;
}
.container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 100px;
  padding-bottom: 80px;
}
.article-banner {
  background-image: url(/images/artic.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  max-height: 300px;
  position: relative;
  margin-top: 50px;
}
.text {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 60px;
  color: #ffffff;
}

.ftm div {
  padding: 5px 0;
  font-size: 16px !important;
  line-height: 1.2;
  font-weight: 500;
}
.ftm {
  /* border-bottom: 1px solid rgba(0,0,0,.15)!important; */
  margin-bottom: 25px !important;
}
.headers {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.artTil {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
  fill: rgba(0, 0, 0, 0.84);
  padding: 0;
}

.seeFeatured {
  font-size: 12px !important;
  line-height: 20px !important;
  font-weight: 500;
  color: #5b84a7;
  margin-right: 30px;
  text-align: right;
}
div.seeFeatured a {
  color: #5b84a7 !important;
}
.articleMem {
  margin: 15px 5px;
}
.articleiveer {
  width: 90%;
}

/* .featuredProd {
        margin-right: 70px;
    } */

.indexCount {
  font-size: 20px;
  color: #ccc;
  margin: 5px 15px;
}

.articleRowImage {
  width: 100px;
  height: 100px;
  margin-left: auto;
}

.articleRowImage img {
  object-fit: cover;
  width: 100%;
  height: 100px;
}
.articleRS {
  padding: 20px;
  margin-bottom: 0;
}

.articleRSs {
  max-width: 1083px;
  width: 100%;
  margin: 0 auto;
}
.articleShift {
  margin-left: 30px;
  width: 60%;
}
.articleImagebar {
  width: 80px;
  height: 80px;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  background-position: center;
  margin-left: auto;
}
.articleImagebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p img {
  width: unset !important;
  height: unset;
}

.articlebar,
.numDiver {
  display: flex;
  margin-bottom: 15px;
}

.articleAtitlebar {
  line-height: 1.2;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84) !important;
}

.authorDetail {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.84) !important;
  fill: rgba(0, 0, 0, 0.84) !important;
}
.authorDetail div {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px !important;
  text-transform: capitalize;
}
.articleDes {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.64) !important;
  fill: rgba(0, 0, 0, 0.64) !important;

  line-height: 20px !important;
  width: 90%;
  display: -webkit-box !important;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 10px;
}

.articleDesd {
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 20px !important;
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.64) !important;
  fill: rgba(0, 0, 0, 0.64) !important;

  line-height: 20px !important;
  width: 100%;
  display: -webkit-box !important;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 10px;
}
.articleImage img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.articleImage {
  height: 150px;
}

.articleShow {
  padding-top: 50px;
}

.articleAtitle {
  font-weight: 700;
  font-size: 16px !important;
  line-height: 24px !important;
  text-transform: capitalize;
  margin-bottom: 4px !important;
  color: rgba(0, 0, 0, 0.84);
  margin-top: 10px;
}
.coverImage {
  width: 150px;
}

.articlesRow {
  padding: 60px;
}
@media (max-width: 768px) {
  .article-banner {
    height: 230px;
  }
  .featuredProd {
    margin: 0;
  }
  .authorDetail {
    font-size: 11px;
  }
  .authorDetail div {
    font-size: 11px;
  }
  div.seeFeatured {
    font-size: 11px !important;
  }
}

@media (max-width: 425px) {
    .course-Detail {padding: 0}
  ul {
    padding: 5px;
  }
  .container {
    padding-top: 5px !important;
  }
  .article-banner {
    /* display: none; */
    height: 150px;
  }
  .articleShift {
    margin-left: 0;
  }
  .articlebar {
    margin-bottom: 15px;
  }
  .articleDesd {
    width: 90%;
  }
  .articleMem {
    margin: 0;
    padding: 0;
  }
  .articleiveer {
    width: 80%;
    padding: 10px 2px;
  }
  .articleiveerr {
    width: 100%;
    padding: 10px 2px;
  }
  .pref {
    width: 100%;
  }
  .authorDetail {
    font-size: 11px;
  }
  .authorDetail div {
    font-size: 11px;
  }
  .featuredProd {
    margin-right: 0;
  }
  .text {
    top: 80px;
    left: 20px;
    font-size: 20px;
  }
  .articleShow {
    margin-left: 0;
    padding: 0;
    letter-spacing: -0.004em;
  }
  .authorDetail.writer {
    font-size: 8px;
  }
  .authorDetail.date {
    font-size: 8px;
  }
  .headers {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
  .articleImage {
    height: 150px;
    max-width: 425px;
    background-size: contain;
    background-position: center;
  }

  .articleImage img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  div.seeFeatured {
    font-size: 11px !important;
  }
  .articleRowImage {
    width: 80px;
    height: 80px;
    background: #fff;
    background-size: contain;
    background-position: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

  .articleRowImage img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .articleRS {
    padding: 0;
    margin-top: 25px;
  }
  .ftm {
    margin-bottom: 15px !important;
  }
  .indexCount {
    font-size: 16px;
    color: #ccc;
    margin: 0px 5px 70px 0;

    border-radius: 50%;
    padding: 1px 2px;
  }
}
</style>
