<template>
    <div class="course-Detail">
        <div class="row">
            <div class="col-md-2 catBg">
        <app-side-category></app-side-category>
            </div>
            <div class="col-md-10">
           <app-paper-content @getCartCount="addToCart()"  @getCartCountT="cartNo =$event"></app-paper-content>
            </div>
        </div>
    </div>
</template>

<script>
    import SideCategory from './components/userCourseCategoriesComponent';
    import PaperContent from './components/userPaperContentComponent';
    export default {
        name: "user-white-paper-component",
        data: function()
        {
          return {
              cartNo: '',
              cartId: '',
          }
        },
        components: {
          'app-side-category': SideCategory,
          'app-paper-content': PaperContent
        },
        mounted(){

        },
        methods: {
        addToCart(){
            this.$emit('update-cart', this.cartNo);
        }
        }
    }
</script>

<style scoped>

    .catBg {
        background: linear-gradient(110deg,#e9eeef,#fff 33%);
    }

</style>
