<template>
  <div class="course-Detail">
    <div class="market">
      <h2 class="text">Books</h2>
    </div>
    <div class="paperDetailContent" v-if="paperDetail">
      <div
        class="paperAttr shadow"
        relative-element-selector="#example-content"
        :offset="{ top: 40, bottom: 40 }"
      >
        <ul>
          <li v-if="paperDetail.aboutAuthor">
            <div class="transparentBtn" v-scroll-to="'#aboutAuthor'">About Author</div>
          </li>
          <li v-if="paperDetail.abstract">
            <div class="transparentBtn" v-scroll-to="'#abstract'">Abstract</div>
          </li>
          <li v-if="paperDetail.aboutThisReport">
            <div class="transparentBtn" v-scroll-to="'#aboutReport'">About Report</div>
          </li>
          <li v-if="(paperDetail.issn) || (paperDetail.issue)">
            <div class="transparentBtn" v-scroll-to="'#journalInfo'">Journal Info</div>
          </li>

          <li v-if="paperDetail.problemStatement">
            <div class="transparentBtn" v-scroll-to="'#problemStatement'">Problem Statement</div>
          </li>
          <li v-if="paperDetail.executiveSummary">
            <div class="transparentBtn" v-scroll-to="'#executiveSummary'">Executive Summary</div>
          </li>
          <li v-if="excerptCheck">
            <div class="transparentBtn" v-scroll-to="'#excerpts'">Excerpt</div>
          </li>
          <li v-if="paperDetail.tableOfContent">
            <div class="transparentBtn" v-scroll-to="'#tableOfContent'">Table of Content</div>
          </li>
          <li v-if="paperDetail.sponsorName !== ''">
            <div class="transparentBtn" v-scroll-to="'#sponsor'">Sponsor</div>
          </li>
          <li>
            <div class="transparentBtn" v-scroll-to="'#review'">Review/Rating</div>
          </li>
          <li>
            <div class="transparentBtn" v-scroll-to="'#expert'">Expert</div>
          </li>
        </ul>
      </div>
      <div class="paperContent" v-if="paperDetail != {}">
        <h2 class="mb-3">{{paperDetail.title ? paperDetail.title : paperDetail.articleTitle}}</h2>
        <p v-if="paperDetail.author">Author: {{paperDetail.author}}</p>
        <p v-if="paperDetail.contributors">Contributors: {{paperDetail.contributors}}</p>
        <p v-if="paperDetail.contributor">Contributors: {{paperDetail.contributor}}</p>
        <small class="created">{{paperDetail.created_at | moment("MMM YYYY")}}</small>

        <div class v-if="product">
          <div
            class
            :class="{hardpriceCont: hardpriceCont, hardCopy: hardCopy}"
            v-if="paperDetail.hardCopyPrice !== ''"
            @click="togglePrice('hardCopy')"
          >
            ₦{{paperDetail.hardCopyPrice}}.00
            <div>Hard Copy</div>
          </div>
          <div
            class
            :class="{softpriceCont: softpriceCont, softCopy: softCopy}"
            v-if="paperDetail.softCopyPrice !== ''"
            @click="togglePrice('softCopy')"
          >
            ₦{{paperDetail.softCopyPrice}}.00
            <div>Digital Copy</div>
          </div>
          <div
            class
            :class="{readOnlinepriceCont: readOnlinepriceCont, readOnline: readOnline}"
            v-if="paperDetail.readOnlinePrice !== ''"
            @click="togglePrice('readOnline')"
          >
            ₦{{paperDetail.readOnlinePrice}}.00
            <div>Read Online</div>
          </div>
        </div>
        <div class v-if="product">
          <button
            v-if="inLibrary"
            class="elevated_btn elevated_btn_sm text-main"
            @click="alreadyAdded"
          >Added To Library</button>
          <button
            v-else
            class="elevated_btn elevated_btn_sm text-white btn-compliment"
            @click="addToCart(paperDetail.uid)"
          >Add to Cart</button>
        </div>
        <div class="tabC" id="aboutAuthor" v-if="paperDetail.aboutAuthor">
          <p>{{paperDetail.author}}</p>
        </div>

        <div class="tabC" id="abstract" v-if="paperDetail.abstract">
          <p class="tabT">Abstract Information</p>

          <p>{{paperDetail.abstract}}</p>
        </div>

        <div class="tabC" id="aboutReport" v-if="paperDetail.aboutThisReport">
          <p class="tabT">About this Report</p>
          <p>{{paperDetail.aboutThisReport}}</p>
        </div>

        <div class="tabC" id="journalInfo" v-if="(paperDetail.issn) || (paperDetail.issue)">
          <p class="tabT">Journal Info</p>
          <div v-if="paperDetail.issn !== ''">Issn: {{paperDetail.issn}}</div>
          <div v-if="paperDetail.volume !== ''">Volume: {{paperDetail.volume}}</div>
          <div v-if="paperDetail.issue !== ''">Issue: {{paperDetail.issue}}</div>
          <div v-if="paperDetail.pages !== ''">Page Number: {{paperDetail.pages}}</div>
          <div v-if="paperDetail.publisher !== ''">Publisher: {{paperDetail.publisher}}</div>
        </div>

        <div class="tabC" id="problemStatement" v-if="paperDetail.problemStatement">
          <p class="tabT">Problem Statement</p>
          {{paperDetail.problemStatement}}
        </div>
        <div class="tabC" id="executiveSummary" v-if="paperDetail.executiveSummary">
          <p class="tabT">Executive Summary</p>
          {{paperDetail.executiveSummary}}
        </div>
        <div class="tabC" id="excerpts" v-if="excerptCheck">
          <p class="tabT">Excerpt</p>
          <div>{{paperDetail.excerpt}}</div>
          <div
            class="mt-4 imagin"
            v-if="paperDetail.excerptFile.split('.').pop() == 'jpg' || paperDetail.excerptFile.split('.').pop() == 'png' || paperDetail.excerptFile.split('.').pop() == 'jpeg'"
          >
            <img :src="paperDetail.excerptFile" alt="excerpt image" />
          </div>
          <div class="mt-4" v-else>
            <video :src="paperDetail.excerptFile" controls width="400"></video>
          </div>
        </div>

        <div class="mt-3">
          <h4 class="">Table of Content</h4>
          <div class="tabC px-3 mt-0" id="tableOfContent" v-if="paperDetail.tableOfContent">
            <p class="px-2" v-html="paperDetail.tableOfContent"></p>
          </div>
        </div>

        <!-- download send to library starts here -->
        <div class="row">
          <div class v-if="subscribe">
            <div class v-if="purchaseCheckReal">
              <div
                class
                :class="{hardpriceCont: hardpriceCont, hardCopy: hardCopy}"
                v-if="paperDetail.hardCopyPrice !== ''"
                @click="togglePrice('hardCopy')"
              >
                ₦{{paperDetail.hardCopyPrice}}.00
                <div>Hard Copy</div>
              </div>
              <div class v-if="paperDetail.softCopyPrice !== ''" @click="togglePrice('softCopy')">
                ₦{{paperDetail.softCopyPrice}}.00
                <div>Digital Copy</div>
              </div>
              <div
                class
                :class="{readOnlinepriceCont: readOnlinepriceCont, readOnline: readOnline}"
                v-if="paperDetail.readOnlinePrice !== ''"
                @click="togglePrice('readOnline')"
              >
                ₦{{paperDetail.readOnlinePrice}}.00
                <div>Read Online</div>
              </div>
            </div>

            <div class="PriceDIV" v-if="purchaseCheckReal">
              <button
                class="elevated_btn elevated_btn_sm btn-compliment text-white"
                @click="addToCart(paperDetail.uid)"
              >Add to Cart</button>
            </div>

            <div class="center" v-else>
              <div class="vieww">
                <div v-if="inLibrary" class="viewDetailCart sndtoli">
                  <button
                    class="elevated_btn elevated_btn_sm text-main"
                    @click="alreadyAdded"
                  >Added To My Library</button>
                </div>
                <div
                  v-else
                  class="viewDetailCart sndtoli"
                  @click="sendItemToLibrary(paperDetail.uid, paperDetail.title)"
                >
                  <button
                    class="elevated_btn elevated_btn_sm btn-compliment text-white"
                  >Send To My Library</button>
                </div>
              </div>

              <!-- <div
                v-if="(!freeTrial && usersub > 0) || (freeTrial && usersub > 0)"
                class="col-lg-4 col-md-4 col-sm-6 col-xs-6 vieww"
              >
                <router-link
                  :to="{name: 'ReadOnline', params: {id: paperDetail.uid, prodtype: prodType, gettype: 'download'}}"
                  target="_blank"
                  class="viewDetailCart sndtoli"
                >
                  <button class="btn btn-block">Download</button>
                </router-link>
              </div>-->
              <!-- <div
                v-if="(freeTrial && usersub === 0) || (!freeTrial && usersub === 0)"
                class="col-lg-4 col-md-4 col-sm-6 col-xs-6 vieww"
              >
                <div class="viewDetailCart sndtoli" @click="showUp">
                  <button class="btn btn-block">Download</button>
                </div>
              </div>-->

              <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 vieww">
                <router-link
                  :to="{name: 'ReadOnline', params: {id: paperDetail.uid, prodtype: prodType, gettype: 'readonline'}}"
                  target="_blank"
                  class="viewDetailCart sndtoli"
                >
                  <button class="btn btn-block">Read Now</button>
                </router-link>
              </div>-->
            </div>
          </div>
        </div>

        <div class="tabC" id="sponsor" v-if="paperDetail.sponsorName !== ''">
          <p class="tabT sponsor">Sponsor</p>
          <div class="sponsor">{{paperDetail.sponsorName}}</div>
          <div>{{paperDetail.aboutSponsor}}</div>
        </div>

        <!--  <div class="tabC">
                    <div class="writtenAuthor" v-if="vendorDetail">

                        <div class="vendorDisp" v-if="vendor.storeName !== ''">{{(vendor.storeName).charAt(0)}}</div>

                      <div>
                        <div v-if="vendor.storeName !== ''">{{vendor.storeName}}</div>

                        <div v-if="vendor.bio !== ''">{{vendor.bio}}</div>
                      </div>

                    </div>
        </div>-->

        <div id="review" class="tabC">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="review-div">
                <!--<div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Title" v-model="review.title">
                </div>-->
                <div class="form-group">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="Enter Reviews"
                    v-model="review.description"
                  ></textarea>
                </div>
                <div>
                  <i
                    :class="{fa : rateFa, 'fa-star-o' : NotratedOne, 'fa-star' : RatedOne}"
                    @click="rateWithStar('1')"
                  ></i>
                  <i
                    :class="{fa : rateFa, 'fa-star-o' : NotratedTwo, 'fa-star' : RatedTwo}"
                    @click="rateWithStar('2')"
                  ></i>
                  <i
                    :class="{fa : rateFa, 'fa-star-o' : NotratedThree, 'fa-star' : RatedThree}"
                    @click="rateWithStar('3')"
                  ></i>
                  <i
                    :class="{fa : rateFa, 'fa-star-o' : NotratedFour, 'fa-star' : RatedFour}"
                    @click="rateWithStar('4')"
                  ></i>
                  <i
                    :class="{fa : rateFa, 'fa-star-o' : NotratedFive, 'fa-star' : RatedFive}"
                    @click="rateWithStar('5')"
                  ></i>
                  <i class="ml-lg-5">{{review.rating}} {{review.rating > 1 ? 'stars' : 'star'}}</i>
                </div>

                <button
                  class="elevated_btn elevated_btn_sm btn-compliment text-white mb-4"
                  @click="submitReview()"
                >Submit</button>
              </div>
            </div>
            <div class="col-md-12" v-if="share">
              <p>Share across social media</p>
            </div>
          </div>
        </div>

        <div class="tabC" v-if="allReviews.length > 0">
          <div class="row" id="reviewed">
            <div class="reviews">Reviews</div>
            <div class="col-md-12 reviewdiv" v-for="(Review, index) in allReviews" :key="index">
              <div class="tabre">
                <div class="mb-5 disRfb">
                  <div class="floatReview avatarD">
                    <span class="reviewAvatar">{{(Review.user.name).charAt(0)}}</span>
                  </div>
                  <div class="floatReview floatUserRating">
                    <div class="dateCreated">{{Review.created_at.date | moment("from")}}</div>
                    <div class="reviewerName">{{Review.user.name }} {{Review.user.lastName }}</div>
                  </div>
                  <div class="floatReview">
                    <div class="floatRT">
                      <div v-for="star in Review.rating" class="rateStyle">
                        <i class="fa fa-star"></i>
                      </div>
                      <div v-for="star in 5 - Review.rating" class="rateStyle">
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <!--
                                                                                   <div><span class="avatartitle">{{Review.title}}</span></div>
                    -->
                    <div class="avatarDescription">{{Review.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tabC" id="expert" v-if="vendor !== null">
          <div class="row">
            <div class="reviews">Expert</div>
            <div class="col-md-12 reviewdiv">
              <div class="tabre">
                <div class="mb-5 expert">
                  <div class="expertImg">
                    <img :src="vendor.valid_id" />
                  </div>
                  <div class="aboutExpert">
                    <div class="vn">{{vendor.storeName}}</div>
                    <p>{{vendor.bio}}</p>
                  </div>
                  <div
                    class="elevated_btn elevated_btn_sm btn-compliment text-white"
                    v-bind:class="{followExpert:!following, followingExpert:following}"
                    @click="followToggle"
                  >{{followText}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upgradeContainer animated fadeIn" v-if="showUpgrade">
      <div class="upgrade">
        <p
          class="upgradeText"
        >Oops, looks like you need to upgrade to access this. It’ll only take a sec though. 😁</p>
        <div class="upgradeButtons">
          <div class="upgradeButton" @click="redirectUpgrade">Yes please!</div>
          <div class="upgradeButton" @click="closeUpgrade">I'll keep exploring</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Banner from "./components/categoryVideoBannerComponent";
import { getCustomerHeader } from "../config";
export default {
  name: "user-paper-detail-component",
  components: {
    "app-video-banner": Banner
  },
  data: function() {
    return {
      id: this.$route.params.id,
      paperDetail: {},
      price: "",
      email: "",
      user_id: "",
      title: "",
      user: {},
      prodType: "",
      getType: "",
      authenticate: false,
      anonymousCart: [],
      hardCopy: false,
      hardpriceCont: true,
      softCopy: false,
      softpriceCont: true,
      readOnline: false,
      loginCart: [],
      readOnlinepriceCont: true,
      product: false,
      subscribe: false,
      NotratedOne: true,
      NotratedTwo: true,
      RatedTwo: false,
      RatedOne: false,
      NotratedThree: true,
      RatedThree: false,
      NotratedFour: true,
      RatedFour: false,
      NotratedFive: true,
      RatedFive: false,
      review: {
        productId: "",
        title: "",
        description: "",
        rating: 0
      },
      star: 0,
      reviews: false,
      rateFa: true,
      share: false,
      allReviews: [],
      purchaseCheckReal: false,
      excerptCheck: false,
      vendor: {},
      vendorDetail: false,
      usersub: null,
      freeTrial: true,
      checkLibrary: [],
      inLibrary: false,
      userFollowing: {},
      following: false,
      followText: "follow",
      update: 0,
      showUpgrade: false,
      suLe: null
    };
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user != null) {
      this.token = user.access_token;
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));

          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
            this.freeTrial = false;
          } else {
          }
        });

      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          response.data.data.forEach(element => {
            element.orderDetail.forEach(item => {
              if (item.type === "MARKET RESEARCH") {
                this.checkLibrary.push(item);
              }
            });
          });
        });
      axios
        .get("/api/user/subscription-plans", {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          this.usersub = Number(response.data[0].level);
        });
    }
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    axios
      .get(`/api/product-detail/${this.id}`)
      .then(response => {
        if (response.status === 200) {
          this.suLe = response.data.data[0].subscriptionLevel;
          if (this.$route.params.type === "product") {
            this.product = true;

            if (response.data.data[0].prodType === "White Paper") {
              this.paperDetail = response.data.data[0].whitePaper;
            } else if (response.data.data[0].prodType === "Market Reports") {
              this.paperDetail = response.data.data[0].marketReport;
            } else if (response.data.data[0].prodType === "Market Research") {
              this.paperDetail = response.data.data[0].marketResearch;
            }
            this.paperDetail.softCopyPrice =
              response.data.data[0].softCopyPrice;
            this.paperDetail.hardCopyPrice =
              response.data.data[0].hardCopyPrice;
            this.paperDetail.uid = response.data.data[0].id;
            this.paperDetail.readOnlinePrice =
              response.data.data[0].readOnlinePrice;

            if (!isNaN(parseInt(this.paperDetail.hardCopyPrice))) {
              this.price = this.paperDetail.softCopyPrice;
              this.hardpriceCont = false;
              this.hardCopy = true;
              this.title = "HardCopy";
            } else if (!isNaN(this.paperDetail.softCopyPrice)) {
              this.price = this.paperDetail.softCopyPrice;
              this.softpriceCont = false;
              this.softCopy = true;
              this.title = "SoftCopy";
            } else if (!isNaN(this.paperDetail.readOnlinePrice)) {
              this.price = this.paperDetail.softCopyPrice;
              this.readOnlinepriceCont = false;
              this.readOnline = true;
              this.title = "ReadOnline";
            }
            this.price = this.paperDetail.softCopyPrice;
          } else if (this.$route.params.type === "subscribe") {
            this.subscribe = true;
            this.prodType = response.data.data[0].prodType;
            this.prodType = this.prodType.replace(/ /g, "-");

            if (response.data.data[0].prodType === "Journals") {
              this.paperDetail = response.data.data[0].journal;
              if (
                response.data.data[0].hardCopyPrice !== "" ||
                response.data.data[0].softCopyPrice !== "" ||
                response.data.data[0].readOnlinePrice !== ""
              ) {
                this.paperDetail.purchaseCheck = true;
                this.purchaseCheckReal = true;
                this.paperDetail.softCopyPrice =
                  response.data.data[0].softCopyPrice;
                this.paperDetail.hardCopyPrice =
                  response.data.data[0].hardCopyPrice;
                this.paperDetail.readOnlinePrice =
                  response.data.data[0].readOnlinePrice;
              } else {
                this.paperDetail.purchaseCheck = false;
                this.purchaseCheckReal = false;
              }
              this.getType = "Insight Subscription Journal";
            } else if (response.data.data[0].prodType === "White Paper") {
              this.paperDetail = response.data.data[0].whitePaper;
              if (
                response.data.data[0].hardCopyPrice !== "" ||
                response.data.data[0].softCopyPrice !== "" ||
                response.data.data[0].readOnlinePrice !== ""
              ) {
                this.paperDetail.purchaseCheck = true;
                this.purchaseCheckReal = true;
                this.paperDetail.softCopyPrice =
                  response.data.data[0].softCopyPrice;
                this.paperDetail.hardCopyPrice =
                  response.data.data[0].hardCopyPrice;
                this.paperDetail.readOnlinePrice =
                  response.data.data[0].readOnlinePrice;
              } else {
                this.paperDetail.purchaseCheck = false;
                this.purchaseCheckReal = false;
              }
              this.getType = "Insight Subscription White Paper";
            } else if (response.data.data[0].prodType === "Market Reports") {
              if (
                response.data.data[0].hardCopyPrice !== "" ||
                response.data.data[0].softCopyPrice !== "" ||
                response.data.data[0].readOnlinePrice !== ""
              ) {
                this.paperDetail.purchaseCheck = true;
                this.purchaseCheckReal = true;
                this.paperDetail.softCopyPrice =
                  response.data.data[0].softCopyPrice;
                this.paperDetail.hardCopyPrice =
                  response.data.data[0].hardCopyPrice;
                this.paperDetail.readOnlinePrice =
                  response.data.data[0].readOnlinePrice;
              } else {
                this.paperDetail.purchaseCheck = false;
                this.purchaseCheckReal = false;
              }
              this.paperDetail = response.data.data[0].marketReport;

              this.getType = "Insight Subscription Market Report";
            } else if (response.data.data[0].prodType === "Market Research") {
              this.paperDetail = response.data.data[0].marketResearch;
              if (
                response.data.data[0].hardCopyPrice !== "" ||
                response.data.data[0].softCopyPrice !== "" ||
                response.data.data[0].readOnlinePrice !== ""
              ) {
                this.paperDetail.purchaseCheck = true;
                this.purchaseCheckReal = true;
                this.paperDetail.softCopyPrice =
                  response.data.data[0].softCopyPrice;
                this.paperDetail.subLevel =
                  response.data.data[0].subscriptionLevel;

                this.paperDetail.hardCopyPrice =
                  response.data.data[0].hardCopyPrice;
                this.paperDetail.readOnlinePrice =
                  response.data.data[0].readOnlinePrice;
              } else {
                this.paperDetail.purchaseCheck = false;
                this.purchaseCheckReal = false;
              }
              this.getType = "Insight Subscription Market Research";
            }

            this.paperDetail.uid = response.data.data[0].id;
          }

          if (this.paperDetail.excerptFile.includes("http")) {
            this.excerptCheck = true;
          } else {
            this.excerptCheck = false;
          }

          this.vendor = response.data.data[0].vendor
            ? response.data.data[0].vendor
            : null;
          this.vendorDetail = true;

          this.getProductReviews(this.paperDetail.uid);
          this.checkInLibrary(this.id, this.paperDetail.title);
        }
      })
      .catch(error => {
        console.log(error);
      });

    if (user !== null) {
      this.email = user.email;
      this.user_id = user.id;
      this.user = user;
      this.authenticate = true;

      axios
        .get(`/api/user-following`, {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            response.data.forEach(item => {
              if (
                item.user_id === this.user.id &&
                item.vendorId === this.vendor.id
              ) {
                this.following = true;
                this.followText = "following";

                this.update++;
              } else {
                this.following = false;
                this.followText = "follow";

                this.update++;
              }
            });
          }
        });
    }
  },
  methods: {
    follow(params, name) {
      let user = JSON.parse(localStorage.getItem("authUser"));

      let data = {
        vendorName: name,
        vendorId: params
      };
      if (user != null) {
        axios
          .post("/api/user-following", JSON.parse(JSON.stringify(data)), {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.following = true;
              this.followText = "following";
              this.update++;
              this.$toasted.success("Successfully followed");
            } else if (response.data === " Already following") {
              this.$toasted.error("Already following");
            } else {
              this.$toasted.error("Error");
            }
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        this.$toasted.error("You have to log in to follow");
      }
    },
    unFollow() {
      let vendor = this.vendor.id;
      let unfollow = confirm(`unfollow ${this.vendor.storeName}?`);
      if (unfollow) {
        axios
          .delete(`/api/user-following/${vendor}`, {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 200) {
              this.following = false;
              this.followText = "follow";
              this.update++;
              this.$toasted.success("Successfully Unfollowed");
            } else {
              this.$toasted.error("Already Unfollowed");
            }
          });
      }
    },
    followToggle() {
      this.following
        ? this.unFollow()
        : this.follow(this.vendor.id, this.vendor.storeName);
    },

    togglePrice(params) {
      if (params === "hardCopy") {
        this.price = this.paperDetail.softCopyPrice;
        this.hardpriceCont = this.softCopy = this.readOnline = false;
        this.hardCopy = this.softpriceCont = this.readOnlinepriceCont = true;
        this.title = "HardCopy";
      } else if (params === "softCopy") {
        this.price = this.paperDetail.softCopyPrice;
        this.softpriceCont = this.hardCopy = this.readOnline = false;
        this.softCopy = this.hardpriceCont = this.readOnlinepriceCont = true;
        this.title = "SoftCopy";
      } else if (params === "readOnline") {
        this.price = this.paperDetail.softCopyPrice;
        this.readOnlinepriceCont = this.hardCopy = this.softCopy = false;
        this.readOnline = this.softpriceCont = this.hardpriceCont = true;
        this.title = "ReadOnline";
      }
    },
    addToCart(id) {
      this.price = this.paperDetail.softCopyPrice;
      let cart = {
        productId: id,
        price: this.price
      };
      if (!cart.price) {
        this.$toasted.error("Please select price");
      }

      if (this.title === "HardCopy") {
        cart.quantity = 1;
        cart.prodType = "HardCopy";
      } else if (this.title === "SoftCopy") {
        cart.quantity = 0;
        cart.prodType = "SoftCopy";
      } else if (this.title === "ReadOnline") {
        cart.quantity = 0;
        cart.prodType = "ReadOnline";
      }

      if (this.authenticate === false) {
        cart.cartNum = 1;
        this.anonymousCart.push(cart);
        if (JSON.parse(localStorage.getItem("userCart")) === null) {
          localStorage.setItem("userCart", JSON.stringify(this.anonymousCart));
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let cartCount = sessionCart.length;
          this.$emit("getCartCount", cartCount);
          this.$notify({
            group: "cart",
            title: this.paperDetail.title,
            text: "Successfully Added to Cart!"
          });
        } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let ss = sessionCart.length;
          sessionCart[ss] = cart;
          localStorage.setItem("userCart", JSON.stringify(sessionCart));
          let a = JSON.parse(localStorage.getItem("userCart"));
          let aCount = a.length;
          this.$emit("getCartCount", aCount);
          this.$notify({
            group: "cart",
            title: this.paperDetail.title,
            text: "Successfully Added to Cart!"
          });
        }
      } else {
        this.addCart(cart);
      }
    },
    addCart(cart) {
      axios
        .post("/api/cart", JSON.parse(JSON.stringify(cart)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 201) {
            this.loginCart.push(response.data);
            let aCount = this.loginCart.length;
            this.$emit("getCartCount", aCount);
            this.$emit("plusCart");
            this.$notify({
              group: "cart",
              title: this.paperDetail.title,
              text: "Successfully Added to Cart!"
            });
          } else if (response.status == 200) {
            this.$toasted.info("Already in cart");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    sendItemToLibrary(id, name) {
      let data = {
        id: id,
        prodType: this.prodType.replace(/\-/g, " "),
        getType: this.getType,
        name: name
      };
      if (this.freeTrial === true || this.usersub > 0) {
        axios
          .post("/api/user/sendtolibrary", JSON.parse(JSON.stringify(data)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Successfully added to BizLibrary");
              this.inLibrary = true;
            } else if (response.data == "Order Already Added") {
              this.inLibrary = true;
              this.$toasted.error("You have already added this product before");
            } else if (response.data.status === 405 || response.data === " ") {
              this.showUpgrade = true;
            } else {
              this.showUpgrade = true;
            }
          })
          .catch(error => {
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: this.$router.fullPath }
              });
            } else {
              this.$toasted.error(error.response.data.message);
              console.log(error.response.data.message);
            }
          });
      } else {
        this.showUpgrade = true;
      }
    },
    rateWithStar(num) {
      switch (num) {
        case "1":
          this.NotratedOne = !this.NotratedOne;
          this.RatedOne = !this.RatedOne;
          this.review.rating = 1;
          break;
        case "2":
          this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
          this.RatedTwo = this.RatedOne = !this.RatedTwo;
          this.review.rating = 2;
          break;
        case "3":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this
            .NotratedThree;
          this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
          this.review.rating = 3;
          break;
        case "4":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this
            .NotratedFour;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this
            .RatedFour;
          this.review.rating = 4;
          break;
        case "5":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this
            .NotratedFive;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this
            .RatedFive;
          this.review.rating = 5;
          break;
        default:
          this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
          this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
      }
    },
    alreadyAdded() {
      this.$toasted.error("Already added to BizLibrary");
    },
    submitReview() {
      if (this.authenticate === false) {
        this.$toasted.error("You must log in to review a product");
      } else {
        this.review.productId = this.paperDetail.uid;
        axios
          .post("/api/user/reviews", JSON.parse(JSON.stringify(this.review)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Reviews successfully saved");
              this.review.productId = this.review.title = this.review.description =
                "";
              this.review.rating = 0;
              this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
              this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
            } else {
              this.$toasted.error(
                "You cannot review this product until you purchase it"
              );
            }
          })
          .catch(error => {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          });
      }
    },
    checkInLibrary(id, title) {
      for (let index = 0; index < this.checkLibrary.length; index++) {
        const element = this.checkLibrary[index];

        if (id === Number(element.productId)) {
          console.log("true");

          this.inLibrary = true;
          break;
        } else {
          console.log("false");

          this.inLibrary = false;
        }
      }
    },
    getProductReviews(id) {
      let data = {
        id: id
      };
      axios
        .post("/api/product/get-reviews", JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            this.allReviews = response.data.data;
            if (this.allReviews.length === 0) {
              this.customerReviewCount = "No Customer Review";
            } else if (this.allReviews.length === 1) {
              this.customerReviewCount =
                this.allReviews.length + " Customer Review";
            } else {
              this.customerReviewCount =
                this.allReviews.length + " Customer Reviews";
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    closeUpgrade() {
      this.showUpgrade = false;
    },
    showUp() {
      this.showUpgrade = true;
    },
    redirectUpgrade() {
      this.showUpgrade = false;
      let routeData = this.$router.resolve({
        name: "SubscriptionProfile",
        params: {
          level: this.suLe
        }
      });
      window.open(routeData.href, "_blank");
    }
  }
};
</script>

<style scoped>
.course-Detail {
  width: 100%;
  margin: 0 auto !important;
}
ul,
ol,
li {
  list-style: none !important;
}
.upgradeContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
.upgrade {
  position: absolute;
  width: 50%;
  height: auto;
  background: #ffffff;
  top: 30%;
  right: 25%;
  padding: 20px 40px;
  border-radius: 3px;
}
.upgradeButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  font-size: 18px;
}
.upgradeButton {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2px;
  padding: 2px 10px;
  margin: 10px;
}
.upgradeButton:hover {
  color: #a4c2db;
  font-weight: bold;
}
p {
  margin-bottom: 10px;
}
.expert {
  display: flex;
  justify-content: flex-start;
}
.expertImg {
  max-width: 80px;
  max-height: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.expertImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.aboutExpert {
  margin-right: 20px;
  width: 30%;
}
.vn {
  text-transform: capitalize;
}
.followExpert {
  border: 1px solid #5b84a7;
  padding: 1px 10px;
  color: #5b84a7;
  margin-right: 10px;
  height: 25px;
  border-radius: 5px;
  font-size: 12px;
}
.followingExpert {
  background: #5b84a7;
  color: #fff;
  padding: 1px 10px;
  margin-right: 10px;
  height: 25px;
  border-radius: 5px;
  font-size: 12px;
}
.center {
  text-align: center;
  justify-content: center;
  align-content: center;
}
.imagin {
  width: 100%;
  height: 100%;
}
.imagin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 40px;
  color: #000;
}
button.btn.btn-block {
  background-color: #5b84a7 !important;
  font-size: 11px;
}
.btn-block {
  background-color: #a4c2db !important;
  padding: 7px 16px;
  text-transform: capitalize;
  border: none;
  box-shadow: 0 4px #eee;
  color: #fff !important;
}
.btn-block:hover {
  background-color: rgba(164, 194, 219, 0.64) !important ;
}
.btn-block:active {
  background-color: #a4c2db;
  box-shadow: 0 2px #eee;
  transform: translateY(4px);
}

@media (max-width: 425px) {
  .upgrade {
    width: 95%;
    right: 2%;
  }
  .market {
    display: none;
  }
}
.vieww {
  margin-bottom: 10px;
}
.follow {
  border: 1px solid #5b84a7;
  color: #5b84a7;
  padding: 1px 9px;
  border-radius: 5px;
  cursor: pointer;
}
.imgD {
  width: 80px;
}

.imgD img {
  height: 100%;
}
.vendorDisp {
  background: #5b84a7;
  color: #ffffff;
  font-size: 30px;
  padding: 12px 18px;
  border-radius: 50%;
  margin-right: 20px;
}
.purchase {
  text-align: center;
}

.writtenAuthor {
  display: flex;
}

.hardCopy,
.softCopy,
.readOnline {
  background: #5b84a7;
  color: #ffffff !important;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.conti {
  text-transform: none;
}

.tabC {
  margin: 20px 0;
  border-bottom: 0.5px solid #ecebeb;
  padding-bottom: 4px;
  padding-top: 4px;
}

.tabT {
  font-size: 20px;
  line-height: 16px;
  color: #333333;
  font-weight: bold;
}
ol,
ul {
  list-style: none;
}
small {
  font-size: 12px;
}
.paperAttr ul li {
  font-size: 24px;
  position: relative;
}

.paperAttr ul li a {
  color: #333333;
}

.btn-cart {
  border: 1px solid #5b84a7;
  color: #5b84a7;
  padding: 10px 120px;
  font-weight: bold;
  margin: 10px;
}

.btn-cart-outline {
  color: #ffffff;
  background: #5b84a7 !important;
  padding: 10px 120px;
  font-weight: bold;
  margin: 10px;
}

.priceShow {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

.btn-reviews {
  background-color: #5b84a7 !important;
  padding: 10px 20px;
}
/* .btn-block{
         background-color: #5b84a7 !important;
         padding: 10px 20px;
         margin: 10px;
         font-size: 8px;
    } */

.hardpriceCont,
.softpriceCont,
.readOnlinepriceCont {
  border: 2px solid #5b84a7;
  padding: 10px;
  color: #5b84a7;
  margin: 10px;
  cursor: pointer;
}

.PriceDIV {
  display: flex;
}

.paperT {
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.84);
}

.paperDetailContent {
  position: relative;
  display: flex;
}

.transparentBtn {
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 15px;
}

.paperAttr {
  margin-top: 0;
  margin-bottom: 0;
  width: 20%;
  padding: 40px 10px;
  background: #f7f8fa;
}

.paperContent {
  background: #ffffff;
  width: 80%;
  padding: 20px 20px;
}

.reviewAvatar {
  text-transform: capitalize;
  background: #5b84a7;
  color: #ffffff;
  padding: 11px 15px;
  font-size: 15px;
  border-radius: 50%;
}

.review-div {
  width: 70%;
  margin-right: auto;
}

.avatarD {
  margin-right: 20px;
  margin-top: 10px;
}

.tabre {
  overflow: hidden;
  margin-top: 10px;
}

.dateCreated {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
}

.reviewerName {
  text-transform: capitalize;
  margin-top: -6px;
}

.floatRT {
  overflow: hidden;
}

.btn-reviews {
  background-color: #5b84a7 !important;
  padding: 10px 20px;
  font-size: 11px;
}

.reviewdiv {
  margin: 20px 0;
  margin-right: auto;
  margin-left: 0;
  padding-bottom: 10px;
  font-size: 14px;
}

.proReview,
.proEdi {
  font-size: 13px;
}

.floatUserRating {
  margin-right: 104px;
  margin-left: 0px;
}

.floatReview {
  float: left;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.reviews {
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  button.btn.btn-block[data-v-2976cded] {
    background-color: #5b84a7 !important;
    font-size: 11px;
  }

  .paperT {
    font-size: 16px;
    line-height: 24px;
  }
  .paperAttr {
    font-size: 16px;
  }
  p.tabT {
    font-size: 16px;
  }

  div.transparentBtn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }
  div.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
  div.col-lg-4.col-md-4.col-sm-4.col-xs-4.vieww {
    padding-left: 0;
    padding-right: 0;
  }
  small.created {
    font-size: 11px;
  }

  .tabC {
    padding-top: 0;
    padding-bottom: 0;
  }
  .sponsor {
    font-size: 11px;
  }
  .tabT.sponsor {
    font-size: 11px;
  }
  .paperAttr {
    display: none;
  }
  .paperContent {
    width: 100%;
    margin-top: 120px;
    padding: 15px;
  }
  .reviewdiv {
    padding: 0;
  }
  .expertImg[data-v-41dd3c56] {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  .market {
    height: 200px;
    display: none;
  }
  .text {
    font-size: 20px;
  }
  .paperT {
    font-size: 16px;
    line-height: 24px;
  }
  .paperAttr {
    font-size: 16px;
  }
  p.tabT {
    font-size: 16px;
  }
  .tabC {
    margin: 10px 0;
  }
  .followExpert {
    margin-right: 0;
  }
  .aboutExpert {
    width: 70%;
    margin-right: 10px;
  }
  div.transparentBtn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 375px) {
  .paperT {
    font-size: 16px;
    line-height: 24px;
  }
  .paperAttr {
    font-size: 16px;
  }
  p.tabT {
    font-size: 16px;
  }
  a.viewDetailCart {
    font-size: 8px;
  }
  div.viewDetailCart.sndtoli {
    font-size: 8px;
  }
  div.transparentBtn {
    font-size: 11px;
  }
}
</style>
