<template>
    <div class="container">
    <div v-if="download">
        <p>Please wait..your download will begin shortly...</p>
    </div>
    <div v-else>
        Read Online
        <div class="readDiv"></div>
        <div class="readOnlineHeight"><app-pdf  v-for="i in numPages"
                                                :key="i"
                                                :src="src"
                                                :page="i"
                                                style="display: inline-block; width: 100%" class="pdf_content"></app-pdf></div>
       <!-- #toolbar=0-->
    </div>
    </div>
</template>

<script>
    import pdf from 'vue-pdf';
    let loadingTask;
    if(sessionStorage.getItem('readOnline') !== null) {
    }
    export default {
        name: "user-view-read-online-component",
        data: function(){
            return {
                id: this.$route.params.id,
                prodtype: this.$route.params.prodtype,
                gettype: this.$route.params.gettype,
                src:'',
                numPages: undefined,
                user: {},
                download: false

            }
        },
        components: {
            'app-pdf': pdf
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.user = user;
                let data ={
                    id: this.id,
                    prodType: this.prodtype,
                    getType: this.gettype
                };

                axios.post('/api/user/subscribe/download', JSON.parse(JSON.stringify(data)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response);
                            if(response.data === ' '){
                                this.$router.replace({name: 'SubscriptionForUser'})
                            }else{
                                if(response.data.status === 99){
                                    this.$router.replace({name: 'SubscriptionForUser'})
                                }else{
                                    if(this.gettype === 'download'){
                                        this.download = true;
                                        window.location.href = response.data;
                                    }else if(this.gettype === 'readonline'){
                                        sessionStorage.setItem('readOnline', response.data);
                                        this.src = pdf.createLoadingTask(sessionStorage.getItem('readOnline'));
                                        let pdfReader = document.querySelector('.readOnlineHeight');
                                        pdfReader.addEventListener('contextmenu', event => event.preventDefault());
                                        this.src.then(pdf => {

                                            this.numPages = pdf.numPages;
                                        });

                                    }
                                }
                            }
                        }
                    }).catch((error) => {
                    console.log(error);
                });
            }else{
                this.$router.replace({name: 'auth'})
            }




/*
          let pdfReader = document.querySelector('.readOnlineHeight');
            pdfReader.addEventListener('contextmenu', event => event.preventDefault());*/


/*
            document.addEventListener('contextmenu', event => event.preventDefault());
*/

        },
        methods: {
            getReadItem(name){
                this.read.push(name);
            }
        }
    }
</script>

<style scoped>

    .container{
        padding:80px 10px;
    }
</style>
