<template>
    <div class="container">
        <div class="row">
        <div v-if="items.length > 0" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 leftR">
            <div  class="articlebar articleMem " v-for="(item, index) in items">
                <div class="articleiveer col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <router-link  :to="{ name: 'ArticleSinglePage', params: {id: item.myid, name: item.title}}"><div class="artTil">{{item.title}}</div></router-link>
                    <div class="articleDesd" v-html="item.description"></div>
                    <div class="authorDetail">
                        <div>{{item.writer}}, {{item.subjectMatter}}</div>
                        <div>{{item.created_at | moment("MMM D")}}</div>
                    </div>
                </div>
                <div class="articleRowImage col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <router-link  :to="{ name: 'ArticleSinglePage', params: {id: item.myid, name: item.title}}">  <img :src="item.coverImage"></router-link>
                </div>
            </div>

        </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  rightR ">
                <div v-if="popularArticles.length > 0">
                    <header class="ftm col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>Based on Popularity</div>
                    </header>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 articlebar articleMem" v-for="(popularArticle, index) in popularArticles">

                        <div class="articleiveer">
                            <div class="numDiver">
                                <div class="indexCount">{{'0' + (index + 1)}}</div>
                                <div>
                                    <router-link  :to="{ name: 'ArticleSinglePage', params: {id: popularArticle.myid, name: popularArticle.title}}"><div class="artTil">{{popularArticle.title}}</div></router-link>
                                    <div class="articleDesd" v-html="popularArticle.description"></div>
                                    <div class="authorDetail">
                                        <div>{{popularArticle.writer}}, {{popularArticle.subjectMatter}}</div>
                                        <div>{{popularArticle.created_at | moment("MMM D")}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "user-article-full-component",
        data: function () {
            return {
                type: this.$route.params.type,
                name: this.$route.params.name,
                items: [],
                popularArticles: []
            }
        },
        mounted(){
            let data = {
                type: this.type,
                name: this.name
            }
            axios.post('/api/getAllArticle', JSON.parse(JSON.stringify(data)))
                .then((response) => {
                   if(response.status === 200){
                       response.data.data.forEach((item) => {
                           this.$set(item.articles, 'myid', item.id);
                           this.$set(item.articles, 'coverImage', item.coverImage);
                           this.$set(item.articles, 'subjectMatter', item.subjectMatter.name);
                           this.items.push(item.articles);
                       })
                       this.getPopularArticles();
                   }
                }).catch((error) => {
                    console.log(error);
            })
        },
        methods: {
            getPopularArticles(){
                axios.get('/api/get/popular-articles').then((response) => {
                    if(response.status === 200){
                     
                        response.data.data.forEach((item) => {
                            this.$set(item.product_article, 'myid', item.id);
                            this.$set(item.product_article, 'coverImage', item.coverImage);
                            /*
                                                       this.$set(item.product_article, 'subjectMatter', item.subjectMatter.name);
                            */
                            this.popularArticles.push(item.product_article);
                        })
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
.row{
    padding: 0;
}

    .rightR {
        /* max-width: 328px;
        WIDTH: 100%; */
    }

    .leftR {
        /* max-width: 680px; */
        font-weight: 400;
        /* width: 100%;
        box-sizing: border-box; */
    }
/*
    .arl {
        max-width: 1080px;
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    } */

    .articlebar {
        display: flex;

    }

    .articleRowImage{
        width: 100px;
        height: 100px;

    }

    .articleRowImage img{
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
    }



    .articleMem {
        margin: 62px 4px;
    }
    .articleiveer {
        width: 100%;
    }

    .authorDetail {
        margin-top:10px;
    }
    .authorDetail div {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px!important;
    }

    .artTil {
        font-size: 19px!important;
        line-height: 28px!important;
        font-weight: 600;
        color:#a3c2dc;
    }

    .articleDesd {
        height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0,0,0,.44)!important;
        font-size: 14px;
        line-height: 20px!important;
    }
    @media(max-width:425px){
        .articleMem {
        margin: 20px 4px;

}
.artTil{
    font-size: 16px;
}
    }
</style>
