<template>
<div>
   <div class="loaderShadow" v-if="isActive">
        <div class="loadContainer">
          <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
          <div class="loader"></div>
        </div>
      </div>

    <div v-if="article && !isActive" class="container">
    <div class="row contain_row" style="padding:0 10px;">
      <div class="bread">
        <ul>
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>
      </div>
     
      <div class="headerArticle">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 artT">{{article.title}}</div>
          <!-- <div>{{article.writer}}, {{article.subjectMatter}}</div> -->
          <div class="authorDetail col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="writ">
              <div class="writterDivs">
                <img :src="writterD.valid_id" />
              </div>
              <div style="display:block; padding:10px">
                <router-link
                  :to="{ name:'PartnerProfile',
                                        params:{
                                            username:writterD.username
                                        }
                                        }"
                >
                  <div class="writtenBy bold" v-if="writterD.storeName !== ' '">
                    {{writterD.storeName}}
                  </div>
                </router-link>

                <div class="when">{{article.created_at | moment("MMM D")}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-cover mt-2">
        <img :src="article.coverImage" />
      </div>

      <div class="articleContent">
        <div class="artCon bbb">
          <div v-html="article.content" class="artConn" v-bind:class="{artCo:nonSubscriber}"></div>

          <div class="mt-3 d-inline-flex">
         <div class="mr-4 bold">   <i class="fas fa-thumbs-up mr-2 liked" aria-hidden="true"  @click="like(user.id,id,writterD.id,'like')"></i> {{myLikes}}</div>
         <div class="bold">   <i class="fas fa-thumbs-down   liked mr-2"  @click="unlike(user.id,id,writterD.id,'unlike')"></i> {{myUnLikes}}</div>
          </div>
        </div>

        <div class="follow_line"></div>

        <div class="row follow_bottom" v-if="writterD !== null && !nonSubscriber && !freeLimit">
          <div class="col-md-2 col-xs-3 p0">
            <div class="writterDiv">
              <img :src="writterD.valid_id" />
            </div>
          </div>
          <div class="col-md-7 col-xs-7 divv">
            <div>
              <router-link
                v-if="!isEmpty(writterD)"
                :to="{ name:'PartnerProfile',
                                                        params:{
                                            username:writterD.username
                                        }
                                        }"
              >
                <div class="writtenBy" v-if="writterD.storeName !== ' '">{{writterD.storeName}}</div>
              </router-link>
            </div>

            <div class="word">{{article.aboutWriter}}</div>
          </div>

          <div class="col-md-3 col-xs-2 p0">
            <button
              :key="update"
             
              type="button"
              @click="followToggle"
              class="elevated_btn elevated_btn_sm btn-compliment text-white"
            >{{followText}}</button>
          </div>
        </div>
      </div>
    </div>
    <div v-if="freeLimit" class="nonSubscriber">
      <h6>You read a lot. We like that.</h6>
      <p>Oops !!! . Become a member now to read this story and get unlimited access to all of the best articles on Bizguruh.</p>
      <p>Please upgrade your package to read it</p>
      <router-link class="mob" :to="{name: 'SubscriptionProfile', params:{level : 0 }}">
        <button class="btn-block dark">
          Click To Upgrade
          <i class="fa fa-hand-o-up ml-2" aria-hidden="true"></i>
        </button>
      </router-link>
    </div>

    <div v-if="nonSubscriber" class="nonSubscriber">
      <h6>You read a lot. We like that.</h6>
      <p>
        Oops !!!
        <i class="fa fa-smile-o" aria-hidden="true"></i>, looks like you are unable to view this article. Upgrade your subscription to get access to more of the best articles on Bizguruh.
      </p>
      <p>Please upgrade your package to read it</p>
      <router-link class="mob" :to="{name: 'SubscriptionProfile', params:{level : 1 }}">
        <button class="btn-block dark">
          Click To Upgrade
          <i class="fa fa-hand-o-up ml-2" aria-hidden="true"></i>
        </button>
      </router-link>
    </div>
  </div>
</div>
</template>

<script>
import AuthUser from "./components/userAuthenticateComponent";
export default {
  name: "user-article-page-component",
  components: {
    "app-auth": AuthUser
  },
  data: function() {
    return {
      id: this.$route.params.id,
      article: {},
      user: {},
      token: "",
      nonSubscriber: false,
      freeLimit: false,
      authenticate: false,
      readCount: 0,
      writer: false,
      writterD: {},
      breadcrumbList: [],
      auth: "",
      userFollowing: {},
      following: false,
      followText: "follow",
      update: 0,
      subLevel: 0,
      isActive: true,
      isLiked:false,
      isUnliked:false,
      allLikes:[],
       allUnlikes:[],
      update:0
    };
  },

  beforeMount() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    let data = {
      id: this.id,
      prodType: "Articles",
      readCount: this.readCount
    };
    if (user != null) {
      this.user = user;
      this.auth = true;
      this.token = user.access_token;
    }
  },
  watch: {
    $route() {
      this.updateList();
    },
    'update':'updateThis'
  },

  computed: {
    myLikes(){
      return this.allLikes.length
    },
     myUnLikes(){
      return this.allUnlikes.length
    }
  },

  mounted() {
    this.updateList();

    let user = JSON.parse(localStorage.getItem("authUser"));
    let data = {
      id: this.id,
      prodType: "Articles",
      readCount: this.readCount
    };
    if (user != null) {
      this.user = user;
      this.auth = true;
      this.token = user.access_token;
      

      axios
        .post("/api/get/articles/user", JSON.parse(JSON.stringify(data)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.isActive = false;
            if (response.data.readability === "none") {
              this.nonSubscriber = true;
              this.article = response.data;
              this.writterD =
                response.data.writerDetail === null
                  ? {}
                  : response.data.writerDetail;
            } else if (response.data.free === "exceeded") {
              this.freeLimit = true;
              this.article = response.data;
              this.writterD =
                response.data.writerDetail === null
                  ? {}
                  : response.data.writerDetail;
            } else if (response.data.essential === "exceeded") {
              this.essentialLimit = true;
              this.article = response.data;
              this.writterD =
                response.data.writerDetail === null
                  ? {}
                  : response.data.writerDetail;
            } else if (response.data.professional === "exceeded") {
              this.professionalLimit = true;
              this.article = response.data;
              this.writterD =
                response.data.writerDetail === null
                  ? {}
                  : response.data.writerDetail;
            } else if (response.data.premium === "exceeded") {
              this.premiumLimit = true;
              this.article = response.data;
              this.writterD =
                response.data.writerDetail === null
                  ? {}
                  : response.data.writerDetail;
            } else {
              this.article = response.data;
              this.writterD =
                response.data.writerDetail === null
                  ? {}
                  : response.data.writerDetail;
            }

            axios
              .get(`/api/user-following/${this.writterD.id}`, {
                headers: { Authorization: `Bearer ${this.token}` }
              })
              .then(response => {
                console.log("TCL: mounted -> response", response);
                if (response.status === 200) {
                  if (response.data === true) {
                    this.following = true;
                    this.followText = "following";
                  } else {
                    this.following = false;
                    this.followText = "follow";
                  }
                }
              });

            if (user !== null) {
              axios
                .get(`/api/product-detail/${this.article.product_id}`)
                .then(response => {
                  this.$emit(
                    "top-industry",
                    this.writterD.id,
                    response.data.data[0].industry.name,
                    1
                  );
                });
                this.$emit('reach',user.id,this.article.product_id,this.writterD.id)
              this.$emit("activity", this.writterD.id, 0, 1);
              this.$emit("top-content", this.writterD.id, this.article.product_id, 1);
              this.checkLike(user.id,this.article.product_id)
              this.getLike(this.article.product_id)
               this.getUnLike(this.article.product_id)

                 this.$emit( "add-location",  this.writterD.id, user.location);
               this.$emit( "add-gender", this.writterD.id, user.gender);
               this.$emit('add-age',this.writterD.id,user.age);
               this.$emit('interaction', this.writterD.id, 'views')

            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    } else {
      if (user === null) {
        this.freeLimit = true;

        axios
          .post(`/api/get/free/article`, JSON.parse(JSON.stringify(data)))
          .then(response => {
            if (response.status === 200) {
              this.isActive = false;
              if (response.data.readability === "none") {
                this.freeLimit = this.authenticate = true;
                this.writterD =
                  response.data.writerDetail === null
                    ? {}
                    : response.data.writerDetail;
                this.article = response.data;
              } else {
                this.article = response.data;
                this.writterD =
                  response.data.writerDetail === null
                    ? {}
                    : response.data.writerDetail;
              }
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    }

    // axios.get(`/api/products/`).then(response => {
    //   response.data.data.forEach(element => {
    //     if (element.id === this.article.product_id) {
    //       this.subLevel = element.subscriptionLevel;
    //     }
    //   });
    // });
  },

  methods: {
    updateThis(){
      this.getLike(this.article.product_id)
       this.getUnLike(this.article.product_id)
    },
    checkLike(user,product){
      axios.get(`/api/get-likes/${user}/${product}`).then(response=>{
          if (response.status === 200) {
            if (response.data.like == 1 && response.data.unlike == 0) {
               this.isLiked = true
               this.isUnliked = false

            }
             if (response.data.unlike == 1 && response.data.like == 0) {
               this.isLiked = false
               this.isUnliked = true

            }
             if (response.data.unlike == 0 && response.data.like == 0) {
               this.isLiked = false
               this.isUnliked = false

            }
          }
      })
    },
    getLike(product){
        axios.get(`/api/get-all-likes/${product}`).then(response=>{
          if (response.status === 200) {
            this.allLikes = response.data
          }
      })
    },
         getUnLike(product){
        axios.get(`/api/get-un-likes/${product}`).then(response=>{
          if (response.status === 200) {
            this.allUnlikes = response.data
          }
      })
    },
    like(user, product, vendor, type){
     if(!this.isLiked){
        this.update++
      this.isLiked = true
      this.isUnliked = false
      this.$emit('likes',user, product, vendor, type)
       this.$emit('interaction', vendor, 'likes')
     }
    },
    unlike(user, product, vendor, type){
       if(!this.isUnliked){
          this.update++
      this.isLiked = false
      this.isUnliked = true
       this.$emit('likes',user, product, vendor, type)
       }
    },
    //  updateActivity(id,profile,content){
    //   let data = {
    //     vendor_id:id,
    //     profile_visits:profile,
    //     content_views:content
    //   }

    //   axios.post(`/api/add-activity`, data).then(response=>{ })

    // },

    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    follow(params, name) {
      let data = {
        vendorName: name,
        vendorId: params
      };
      if (this.auth) {
        axios
          .post("/api/user-following", JSON.parse(JSON.stringify(data)), {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.following = true;
              this.followText = "following";
              this.update++;
              this.$toasted.success("Successfully followed");
            } else if (response.data === " Already following") {
              this.$toasted.error("Already following");
            } else {
              this.$toasted.error("Error");
            }
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        this.$toasted.error("You have to log in to follow");
      }
    },
    unFollow() {
      let vendor = this.writterD.id;
      let unfollow = confirm(`unfollow ${this.writterD.storeName}?`);
      if (unfollow) {
        axios
          .delete(`/api/user-following/${vendor}`, {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 200) {
              this.following = false;
              this.followText = "follow";
              this.update++;
              this.$toasted.success("Successfully Unfollowed");
            } else {
              this.$toasted.error("Already Unfollowed");
            }
          });
      }
    },
    followToggle() {
      this.following
        ? this.unFollow()
        : this.follow(this.writterD.id, this.writterD.storeName);
    }
  }
};
</script>

<style scoped>
.liked{
  color:hsl(207, 43%, 20%);
}
.artConn p img {
  width: 100%;
  height: auto;
}
.artConn img {
  width: 100%;
  height: auto;
}
.bread ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 5px 20px;
  background: #f7f8fa;
  margin-bottom: 15px;
}
.bread ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
.bread ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.container {
  max-width: 800px;
  font-family: "medium-content-sans-serif-font", "Roboto", Verdana, Geneva,
    Tahoma, sans-serif !important;
  padding-top: 80px;
  padding-bottom: 100px;
  background: #ffffff;
}
.p0 {
  padding: 0;
}

.nonSubscriber::before {
  content: "";
  position: relative;
  display: block;
  margin-top: -150px;
  height: 150px;
  max-width: 800px;
  width: 700px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-bottom: 10px;
  margin-left: -80px;
}

.nonSubscriber {
  max-width: 850px;
  padding: 50px 100px;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.artConn ul {
  list-style: initial !important;
}
.headers {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.84);
  text-align: center;
}
.headerArticle {
  display: block;
  text-align: left;
  width: 100%;
}
.article-cover {
  position: relative;
  display: block;
  width: 100%;
  max-height: 350px;
  margin: 20px 0;
}
/* .article-cover.imgArticle{
    width: 100%;
    max-height: 100%;
} */

.article-cover img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.writ {
  display: flex;
}

.artCon ul {
  background: red;
}

.writtenBy {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.84) !important;
  text-transform: capitalize;
  font-size: 16px;
  padding:0 10px;
}
.writtenBy:hover {
  text-decoration: underline;
}
.when{
   padding:0 10px;
}
.writD {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
.artConn {
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.6;
  font-size: 16px !important;
}
.artCo {
  color: rgba(0, 0, 0, 0.64);
  height: 100px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  -o-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 40px;
}

.writterDiv {
  display: block;
  /* width: 80px;
  height: 80px; */
  border-radius: 50%;
  padding: 4px;
  margin-left: auto;
}

.writterDiv img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.col-xs-3,
.col-md-3,
.col-lg-3 {
  width: 25%;
}
.col-xs-6,
.col-md-6,
.col-lg-6 {
  width: 50%;
}
.col-xs-4,
.col-md-4,
.col-lg-4 {
  width: 33.33333333%;
}
.writterDivs {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  padding: 4px;
}

.writterDivs img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.divv {
  display: block;
  padding: 0;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.64);
}
.word {
  word-break: break-word;
  padding:10px;
}

.followVendor {
  color: #5b84a7;
  font-weight: normal;
  border: 1px solid #5b84a7;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 10px;
  padding: 2px 4px;
  text-transform: capitalize;
}
.followingVendor {
  color: #ffffff;
  background-color: #5b84a7 !important;
  font-weight: normal;
  border: 1px solid #5b84a7;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 10px;
  padding: 2px 4px;
  text-transform: capitalize;
}

.followVendor:hover {
  color: #ffffff;
  background-color: #5b84a7 !important;
  margin: 0 10px;
}

.artT {
  text-align: left;
  font-weight: 400 !important;
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.84);
  margin-bottom: 12px;
}

.articleContent {
  width: 100%;
  font-size: 16px;
}

.artCon {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.6;
  letter-spacing: -0.003em;
  text-align: left;
  margin-bottom: 20px;
}
.btn-block {
  width: 100%;
  margin: 10px 0;
  border-radius: 3px;
}
.dark {
  color: #ffffff;
  background: #333333;
}
.dark:hover {
  background: rgba(0, 0, 0, 0.64);
}

.authorDetail {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.84) !important;
  fill: rgba(0, 0, 0, 0.84) !important;
}
.authorDetail div {

  line-height: 20px !important;
  color: rgba(0, 0, 0, 0.64);
}
li,
.p1 {
  font-size: calc(16px + (16 - 17) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.6;
}
p.p1 {
  font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.6;
}
.follow_line {
  border-top: 1px solid #f7f8fa;
}
.follow_bottom {
  padding-top: 20px;
  width: 90%;
}

@media (max-width: 425px) {
  .container {
    padding-top: 60px;
  }
  .nonSubscriber {
    padding: 20px 15px;
  }
  .p0 {
    padding: 0 5px;
  }
  .authorDetail {
    padding: 0;
  }
  .contain_row {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  img {
    width: 100%;
    height: auto;
  }

  p.p1 {
    text-align: left;
  }

  div.writer {
    font-size: 11px;
  }
  .followVendor {
    font-size: 0.5em;
    padding: 2px 4px;
  }
  .followVendor.desktop {
    display: none;
  }
  .follow_bottom {
    padding-top: 20px;
    width: 100%;
    margin: 0;
    justify-content: flex-start;
  }

  .article-cover {
    max-height: 200px;
  }
  .article-cover.imgArticle {
    height: 200px;
  }
  .article-cover img {
    height: 200px;
  }
  li.p1 {
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.6;
  }

  li {
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.6;
  }
  p.p1 {
    font-size: calc(15px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.6;
  }
  .artT {
    padding: 0;
  }
  .divv {
    font-size: 14px !important;
  }
}
</style>
