<template>
  <div class="course-Detail">
    <vue-loading
      :active="isActive"
      spinner="bar-fade-scale"
      color="#FF6700"
    ></vue-loading>

    <div v-if="!loaderShow">
      <app-banner></app-banner>
      <div
        :class="{modal: epiModal, fade: epiFade}"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog product-dialog"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 prodImg">
                  <img :src="productDetails.coverImage">

                </div>
                <div class="col-md-6">
                  <div>
                    <div class="bookTitle">{{productDetails.title}}</div>
                    <div
                      class="bookAuthorName"
                      v-if="productDetails.storeName !== undefined"
                    ><span>{{productDetails.author}} </span><span>/ {{productDetails.storeName}}</span>
                    </div>
                  </div>
                  <hr>
                  <div>
                    <div v-for="(Review, index) in allReviews">
                      <div
                        v-for="star in Review.rating"
                        class="rateStyle"
                      >
                        <i class="fa fa-star"></i>
                      </div>
                      <div
                        v-for="star in 5 - Review.rating"
                        class="rateStyle"
                      >
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>

                    <span class="proReview">{{customerReviewCount}}</span><span class="proEdi">Editorial Review</span>
                  </div>
                  <hr>

                  <!-- <object width="100%" height="100%" type="application/pdf"
                                        data="https://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/pdf_open_parameters.pdf#toolbar=0" id="pdf_content"><p>Document load was not
                                    successful.</p></object>-->
                  <!-- <div class="">
                                    <p>{{title}}</p>
                                    <div class="divC">₦{{price}}.00</div>
                                </div>-->
                  <div class="priceTabs">
                    <div
                      :class="{hardpriceCont: hardpriceCont, hardrCopy: hardrCopy}"
                      v-if="productDetails.hardCopyPrice > 0"
                      class="hardCover"
                      @click="togglePrice('hardCopy')"
                    >
                      ₦{{productDetails.hardCopyPrice}}.00
                      <p>Hard Copy</p>
                    </div>
                    <div
                      :class="{softpriceCont: softpriceCont, softrCopy: softrCopy}"
                      v-if="productDetails.softCopyPrice > 0"
                      class="softCover"
                      @click="togglePrice('softCopy')"
                    >
                      ₦{{productDetails.softCopyPrice}}.00
                      <p>Digital Copy</p>
                    </div>

                    <div
                      :class="{audiopriceCont: audiopriceCont, audiorCopy: audiorCopy}"
                      v-if="productDetails.audioPrice > 0"
                      class="softCover"
                      @click="togglePrice('audioCopy')"
                    >
                      ₦{{productDetails.audioPrice}}.00
                      <p>Audio Copy</p>
                    </div>

                    <div
                      :class="{videopriceCont: videopriceCont, videorCopy: videorCopy}"
                      v-if="productDetails.videoPrice > 0"
                      class="softCover"
                      @click="togglePrice('videoCopy')"
                    >
                      ₦{{productDetails.videoPrice}}.00
                      <p>Video Copy</p>
                    </div>

                    <div
                      :class="{readOnlinepriceCont: readOnlinepriceCont, readOnline: readOnline}"
                      v-if="productDetails.readOnlinePrice > 0"
                      class="softCover"
                      @click="togglePrice('readOnline')"
                    >
                      ₦{{productDetails.readOnlinePrice}}.00
                      <p>Read Online</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <!--<div class="col-md-12 addCart">
                                        <button class="btn btn-guruh-cart" @click="addToCart(productDetails.uid)">Add Cart</button>
                                    </div>-->

                    <div v-if="ownerType === 'Puc'">

                      <div class="col-md-12 addCart">
                        <button
                          class="btn btn-guruh-cart-puc"
                          @click="addToCart(productDetails.uid)"
                        >Add Cart</button>
                      </div>

                    </div>

                    <div v-else>

                      <div class="col-md-12 reviewList">
                        <router-link
                          :to="{name: 'ReadOnline', params: {id: productDetails.uid, prodtype: 'Books', gettype: 'download'}}"
                          target="_blank"
                          class="btn btns btn-download"
                        >Download</router-link>
                      </div>

                      <div class="col-md-12 reviewList">
                        <router-link
                          :to="{name: 'ReadOnline', params: {id: productDetails.uid, prodtype: 'Books', gettype: 'readonline'}}"
                          target="_blank"
                          class="btn btns btn-watch-now"
                        >Read Now</router-link>
                      </div>

                      <div class="col-md-12 reviewList">
                        <button
                          class="btn btns btn-send-to-library"
                          @click="sendItemToLibrary(productDetails.uid)"
                        >Send To My Library</button>
                      </div>

                      <div class="col-md-12 reviewList">
                        <button
                          class="btn btns btn-wishlist"
                          @click="addToWishlist()"
                        ><i class="fa fa-heart-o"></i>Add to Wishlist</button>
                      </div>
                    </div>

                    <!--<div class="col-md-12 reviewList">
                                        <button class="btn btn-wishlist" @click="addToWishlist()"><i class="fa fa-heart-o"></i>Add to Wishlist</button>
                                    </div>-->

                    <!-- <div class="col-md-12" v-if="productDetails.readOnlinePrice > 0">
                                        <button class="btn btn-guruh-online" @click="paystack()">Read Online</button>
                                    </div>-->
                  </div>
                </div>
              </div>

              <div
                class="abProd"
                v-if="productDetails.excerptFile !== ''"
              >
                <h1>Excerpts</h1>
                <div> <video
                    :src="productDetails.excerptFile"
                    width="520"
                    controls
                    class="cld-video-player demo-player"
                  >
                  </video></div>
              </div>

              <div class="detailTabs">
                <ul class="nav nav-tabs">
                  <li><a
                      data-toggle="tab"
                      href="#home"
                    >PRODUCT DETAILS</a></li>
                  <li><a
                      data-toggle="tab"
                      href="#menu1"
                    >ABOUT THE AUTHOR</a></li>
                  <li><a
                      data-toggle="tab"
                      href="#menu2"
                    >TABLE OF CONTENT</a></li>
                  <li><a
                      data-toggle="tab"
                      href="#menu3"
                    >READ AN EXCERPT</a></li>
                  <li><a
                      data-toggle="tab"
                      href="#menu4"
                    >ABOUT THE SPONSOR</a></li>
                  <li><a
                      data-toggle="tab"
                      href="#menu5"
                    >ABOUT WRITER</a></li>
                </ul>

                <div class="tab-content">
                  <div
                    id="home"
                    class="tab-pane active"
                  >
                    <p v-if="productDetails.isbn !== null">ISBN: {{productDetails.isbn}}</p>
                    <p v-if="productDetails.publisher !== null">Publisher: {{productDetails.publisher}}</p>
                    <p v-if="productDetails.publicationDate !== null">Publication Date: {{productDetails.publicationDate}}</p>
                    <p v-if="productDetails.pageNo !== null">Page No: {{productDetails.noOfPages}}</p>
                    <p v-if="productDetails.edition !== null">Edition: {{productDetails.edition}}</p>
                  </div>
                  <div
                    id="menu1"
                    class="tab-pane fade"
                  >
                    <p>{{productDetails.aboutThisAuthor}}</p>
                  </div>
                  <div
                    id="menu2"
                    class="tab-pane fade"
                  >
                    <p v-html="productDetails.tableOfContent"></p>
                  </div>
                  <div
                    id="menu3"
                    class="tab-pane fade"
                  >
                    <p>{{productDetails.excerpt}}</p>
                  </div>
                  <div
                    id="menu4"
                    class="tab-pane fade"
                  >
                    <p class="sponsorName">{{productDetails.sponsorName}}</p>
                    <p class="sponsorDesc">{{productDetails.aboutSponsor}}</p>
                  </div>
                  <div
                    id="menu5"
                    class="tab-pane fade"
                  >
                    <div
                      v-if="vendorInfo !== null"
                      class="writerBlock"
                    >
                      <div class="writerDiv"><img :src="vendorInfo.valid_id"></div>
                      <div class="writerContent">
                        <div>{{vendorInfo.storeName}}</div>
                        <div>{{vendorInfo.bio}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div
                  class="col-md-6 text-center"
                  :class="{ reviewTab: reviewTab, reviewTabSwitch : reviewTabSwitch}"
                  @click="showTabs('reviews')"
                >Write a Reviews</div>
                <div
                  class="col-md-6 text-center"
                  :class="{ shareTab: shareTab, shareTabSwitch : shareTabSwitch}"
                  @click="showTabs('share')"
                >Share this Items</div>
              </div>

              <div class="row">
                <div
                  class="col-md-12 "
                  v-if="reviews"
                >
                  <div class="review-div">
                    <!--<div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Title" v-model="review.title">
                                    </div>-->
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Enter Reviews"
                        v-model="review.description"
                      ></textarea>
                    </div>
                    <div>
                      <i
                        :class="{fa : rateFa, 'fa-star-o' : NotratedOne, 'fa-star' : RatedOne}"
                        @click="rateWithStar('1')"
                      ></i>
                      <i
                        :class="{fa : rateFa, 'fa-star-o' : NotratedTwo, 'fa-star' : RatedTwo}"
                        @click="rateWithStar('2')"
                      ></i>
                      <i
                        :class="{fa : rateFa, 'fa-star-o' : NotratedThree, 'fa-star' : RatedThree}"
                        @click="rateWithStar('3')"
                      ></i>
                      <i
                        :class="{fa : rateFa, 'fa-star-o' : NotratedFour, 'fa-star' : RatedFour}"
                        @click="rateWithStar('4')"
                      ></i>
                      <i
                        :class="{fa : rateFa, 'fa-star-o' : NotratedFive, 'fa-star' : RatedFive}"
                        @click="rateWithStar('5')"
                      ></i>
                      <i class="ml-lg-5">{{review.rating}} {{review.rating > 1 ? 'stars' : 'star'}}</i>
                    </div>

                    <button
                      class="btn btn-reviews mb-4"
                      @click="submitReview()"
                    >Submit</button>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  v-if="share"
                >
                  <p>Share across social media</p>
                </div>
              </div>

              <div
                class="row"
                v-if="allReviews.length > 0"
                id="reviewed"
              >
                <div class="reviews">Reviews</div>
                <div
                  class="col-md-12 reviewdiv"
                  v-for="(Review, index) in allReviews"
                >
                  <div class="tabre">
                    <div class="mb-5 disRfb">
                      <div class="floatReview avatarD">
                        <span class="reviewAvatar">{{(Review.user.name).charAt(0)}}</span>
                      </div>
                      <div class="floatReview floatUserRating">
                        <div class="dateCreated">{{Review.created_at.date | moment("from")}}</div>
                        <div class="reviewerName">{{Review.user.name }} {{Review.user.lastName }}</div>
                      </div>
                      <div class="floatReview">
                        <div class="floatRT">
                          <div
                            v-for="star in Review.rating"
                            class="rateStyle"
                          >
                            <i class="fa fa-star"></i>
                          </div>
                          <div
                            v-for="star in 5 - Review.rating"
                            class="rateStyle"
                          >
                            <i class="fa fa-star-o"></i>
                          </div>
                        </div>
                        <!--
                                           <div><span class="avatartitle">{{Review.title}}</span></div>
-->
                        <div class="avatarDescription">{{Review.description}}</div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="relatedDiv">
                <div class="relatedLeft"></div>RELATED ITEMS<div class="relatedRight"></div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="prodDis"
                    v-for="(product, index) in relatedProducts"
                  >
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      @click="openModal(product.id)"
                    ><img
                        :src="product.coverImage"
                        class="catImage"
                      ></a>
                    <p class="pTitle">{{product.title}}</p>
                    <p class="catName">{{product.vendor.storeName}}</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row rowCat">
        <div class="col-md-3 filterTest">
          <app-filter
            @sendTopicData="sendTopicData = $event"
            @sendData="categories = $event"
            @sendSearchData="searchMydata = $event"
          ></app-filter>
        </div>
        <div class="col-md-9">
          <div
            class="prodDis"
            v-for="(category, index) in searchFilterData"
          >
            <a
              href="#"
              data-toggle="modal"
              data-target="#exampleModal"
              @click="openModal(category.uid)"
            ><img
                :src="category.coverImage"
                class="catImage"
              ></a>
            <a
              href="#"
              data-toggle="modal"
              data-target="#exampleModal"
              @click="openModal(category.uid)"
            >
              <p class="pTitle">{{category.title}}</p>
            </a>
            <a
              href="#"
              data-toggle="modal"
              data-target="#exampleModal"
              @click="openModal(category.uid)"
            >
              <p class="pTitle">
                <p class="catName">{{category.author}}</p>
            </a>
            <div
              v-for="star in category.rating"
              class="rateStyle"
            >
              <i class="fa fa-star"></i>
            </div>
            <div
              v-for="star in 5 - category.rating"
              class="rateStyle"
            >
              <i class="fa fa-star-o"></i>
            </div>

          </div>
        </div>
      </div>

      <!-- <app-register></app-register> -->
    </div>

  </div>
</template>

<script>
import StoreBanner from "./components/categoryBannerComponent";
import Register from "./components/registerTodayComponent";
import ProductFilter from "./components/productfilterComponent";

export default {
  name: "user-admin-book-component",
  components: {
    "app-banner": StoreBanner,
    "app-register": Register,
    "app-filter": ProductFilter
  },
  data: function() {
    return {
      id: this.$route.params.id,
      user: {},
      searchMydata: "",
      ownerType: "",
      sendTopicData: [],
      loaderShow: true,
      isActive: true,
      user_id: "",
      rateFa: true,
      review: {
        productId: "",
        title: "",
        description: "",
        rating: 0
      },
      star: 0,
      customerReviewCount: "",
      NotratedOne: true,
      NotratedTwo: true,
      RatedTwo: false,
      RatedOne: false,
      NotratedThree: true,
      RatedThree: false,
      NotratedFour: true,
      RatedFour: false,
      NotratedFive: true,
      RatedFive: false,
      prodd: {},
      shipTab: false,
      reviewTabSwitch: false,
      shareTabSwitch: false,
      reviewTab: true,
      shareTab: true,
      email: "",
      shipTabSwitch: true,
      shipping: true,
      reviews: false,
      share: false,
      allReviews: [],
      relatedProducts: [],
      categories: [],
      productDetails: {},
      anonymousCart: [],
      epiFade: true,
      epiModal: true,
      readOnlinePrice: "",
      softCopy: false,
      authenticate: false,
      hardCopy: true,
      price: "",
      title: "Hard Copy",
      cat: [],
      hardrCopy: false,
      hardpriceCont: false,
      softrCopy: false,
      videorCopy: false,
      audiorCopy: false,
      loginCart: [],
      videopriceCont: true,
      audiopriceCont: true,
      softpriceCont: true,
      readOnline: false,
      readOnlinepriceCont: true,
      location: "",
      localShippingRates: "",
      localShippingTime: "",
      intlShippingRates: "",
      intlShippingTime: "",
      vendorInfo: {}
    };
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.email = user.email;
      this.user_id = user.id;
      this.user = user;
      this.authenticate = true;
    }

    axios.get(`/api/admin/product/bizguruh/Books`)
      .then(response => {
        console.log(response);
        if (response.status === 200) {
          console.log(response);
          let product = response.data.data;
          product.forEach((item, index) => {
            console.log(item);
            item.books.storeName = item.vendor.storeName;
            item.books.uid = item.id;
            item.books.coverImage = item.coverImage;
            item.books.type = item.type.name;
            item.books.topic = JSON.parse(item.sub_category_brand_id);
            item.books.rating = item.rating;

            this.categories.push(item.books);
          });
          this.isActive = false;
          this.loaderShow = false;
        }
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    showTabs(params) {
      switch (params) {
        case "shipping":
          this.shipping = this.shipTabSwitch = this.reviewTab = this.shareTab = true;
          this.reviews = this.shipTab = this.reviewTabSwitch = this.shareTabSwitch = this.shareTabSwitch = this.share = false;
          break;
        case "reviews":
          this.reviewTabSwitch = this.reviews = this.shipTab = this.shareTab = true;
          this.shipTabSwitch = this.reviewTab = this.shipping = this.shareTabSwitch = this.share = false;
          break;
        case "share":
          this.shipping = this.reviews = this.reviewTabSwitch = this.shipTab = this.shareTab = this.shipTabSwitch = false;
          this.share = this.shareTabSwitch = this.reviewTab = this.shipTab = true;
          break;
        default:
          this.shipping = false;
          this.reviews = false;
      }
    },
    openModal(id) {
      this.epiFade = false;
      axios
        .get(`/api/product-detail/${id}`)
        .then(response => {
          if (response.status === 200) {
            switch (response.data.data[0].prodType) {
              case "Books":
                this.productDetails = response.data.data[0].books;
                this.productDetails.subscriptionLevel = response.data.data.subscriptionLevel;
                this.productDetails.coverImage =
                  response.data.data[0].coverImage;
                this.productDetails.uid = response.data.data[0].id;
                this.productDetails.prodCategoryType =
                  response.data.data[0].prodCategoryType;
                this.productDetails.vendor_user_id =
                  response.data.data[0].vendor_user_id;
                this.productDetails.hardCopyPrice =
                  response.data.data[0].hardCopyPrice;
                this.productDetails.softCopyPrice =
                  response.data.data[0].softCopyPrice;
                this.vendorInfo = response.data.data[0].vendor
                  ? response.data.data[0].vendor
                  : {};
                this.productDetails.audioPrice =
                  response.data.data[0].audioPrice;
                this.productDetails.rating = response.data.data[0].rating;
                this.productDetails.readOnlinePrice =
                  response.data.data[0].readOnlinePrice;
                this.productDetails.storeName =
                  response.data.data[0].vendor.storeName;
                this.location = response.data.data[0].shippingDetail
                  ? response.data.data[0].shippingDetail.location
                  : "";
                this.localShippingRates = response.data.data[0].shippingDetail
                  ? response.data.data[0].shippingDetail.localShippingRates
                  : "";
                this.localShippingTime = response.data.data[0].shippingDetail
                  ? response.data.data[0].shippingDetail.localShippingTime
                  : "";
                this.intlShippingRates = response.data.data[0].shippingDetail
                  ? response.data.data[0].shippingDetail.intlShippingRates
                  : "";
                this.intlShippingTime = response.data.data[0].shippingDetail
                  ? response.data.data[0].shippingDetail.intlShippingTime
                  : "";

                if (
                  this.productDetails.prodCategoryType === "ES" ||
                  this.productDetails.prodCategoryType === "BP"
                ) {
                  this.ownerType = "Sub";
                } else if (this.productDetails.prodCategoryType === "EP") {
                  this.ownerType = "Puc";
                }

                this.productDetails.shippingDetail =
                  response.data.data[0].shippingDetail;
                break;
              default:
                return false;
            }

            this.prodd = response.data.data[0];
            this.productDetails.hardCopyPrice !== null
              ? (this.hardCopy = true)
              : (this.hardCopy = false);
            this.productDetails.softCopyPrice !== null
              ? (this.softCopy = true)
              : (this.softCopy = false);

            if (!isNaN(this.productDetails.hardCopyPrice)) {
              this.title = "Hard Copy";
              this.hardrCopy = true;
              this.hardpriceCont = false;
              this.price = this.productDetails.hardCopyPrice;
            } else if (!isNaN(this.productDetails.softCopyPrice)) {
              this.title = "Soft Copy";
              this.softpriceCont = false;
              this.softrCopy = true;
              this.price = this.productDetails.softCopyPrice;
            } else if (!isNaN(this.productDetails.audioPrice)) {
              this.title = "Audio Copy";
              this.audiorCopy = true;
              this.audiopriceCont = false;
              this.price = this.productDetails.audioPrice;
            } else if (!isNaN(this.productDetails.videoPrice)) {
              this.title = "Video Copy";
              this.videorCopy = true;
              this.videopriceCont = false;
              this.price = this.productDetails.videoPrice;
            } else if (!isNaN(this.productDetails.readOnlinePrice)) {
              this.title = "Read Online";
              this.price = this.productDetails.readOnlinePrice;
              this.readOnline = true;
              this.readOnlinepriceCont = false;
            }

            this.readOnlinePrice = this.productDetails.readOnlinePrice;
            this.getRelatedProduct(this.productDetails.sub_category_id);
            this.getProductReviews(this.productDetails.uid);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    togglePrice(cat) {
      if (cat === "hardCopy") {
        this.price = this.productDetails.hardCopyPrice;
        this.hardpriceCont = this.softrCopy = this.readOnline = this.audiorCopy = this.videorCopy = false;
        this.hardrCopy = this.softpriceCont = this.readOnlinepriceCont = this.audiopriceCont = this.videopriceCont = true;
        this.title = "Hard Copy";
      } else if (cat === "softCopy") {
        this.price = this.productDetails.softCopyPrice;
        this.softpriceCont = this.hardrCopy = this.readOnline = this.audiorCopy = this.videorCopy = false;
        this.hardpriceCont = this.softrCopy = this.readOnlinepriceCont = this.audiopriceCont = this.videopriceCont = true;
        this.title = "Digital Copy";
      } else if (cat === "audioCopy") {
        this.price = this.productDetails.audioPrice;
        this.softrCopy = this.hardrCopy = this.readOnline = this.audiopriceCont = this.videorCopy = false;
        this.softpriceCont = this.hardpriceCont = this.readOnlinepriceCont = this.audiorCopy = this.videopriceCont = true;
        this.title = "Audio Copy";
      } else if (cat === "videoCopy") {
        this.price = this.productDetails.videoPrice;
        this.softrCopy = this.hardrCopy = this.readOnline = this.audiorCopy = this.videopriceCont = false;
        this.softpriceCont = this.hardpriceCont = this.readOnlinepriceCont = this.audiopriceCont = this.videorCopy = true;
        this.title = "Video Copy";
      } else if (cat === "readOnline") {
        this.price = this.productDetails.readOnlinePrice;
        this.softrCopy = this.hardrCopy = this.readOnlinepriceCont = this.audiorCopy = this.videorCopy = false;
        this.softpriceCont = this.hardpriceCont = this.readOnline = this.audiopriceCont = this.videopriceCont = true;
        this.title = "Read Online";
      }
    },
    getProductReviews(id) {
      console.log(id);
      let data = {
        id: id
      };
      axios
        .post("/api/product/get-reviews", JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            console.log(response);
            this.allReviews = response.data.data;
            if (this.allReviews.length === 0) {
              this.customerReviewCount = "No Customer Review";
            } else if (this.allReviews.length === 1) {
              this.customerReviewCount =
                this.allReviews.length + " Customer Review";
            } else {
              this.customerReviewCount =
                this.allReviews.length + " Customer Reviews";
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addToWishlist() {
      if (this.authenticate === false) {
        this.$router.push("/auth");
      } else {
        let wishlist = {
          productId: this.productDetails.uid,
          vendorId: this.productDetails.vendor_user_id,
          userId: this.user_id
        };
        console.log(wishlist);

        axios
          .post("/api/wishlist", JSON.parse(JSON.stringify(wishlist)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Successfully added to wishlist");
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    getRelatedProduct(subCatId) {
      axios
        .get(`/api/get-related-product/${subCatId}`)
        .then(response => {
          if (response.status === 200) {
            this.relatedProducts = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    rateWithStar(num) {
      switch (num) {
        case "1":
          this.NotratedOne = !this.NotratedOne;
          this.RatedOne = !this.RatedOne;
          this.review.rating = 1;
          break;
        case "2":
          this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
          this.RatedTwo = this.RatedOne = !this.RatedTwo;
          this.review.rating = 2;
          break;
        case "3":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this
            .NotratedThree;
          this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
          this.review.rating = 3;
          break;
        case "4":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this
            .NotratedFour;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this
            .RatedFour;
          this.review.rating = 4;
          break;
        case "5":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this
            .NotratedFive;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this
            .RatedFive;
          this.review.rating = 5;
          break;
        default:
          this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
          this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
      }
    },
    submitReview() {
      if (this.authenticate === false) {
        this.$toasted.error("You must log in to review a product");
      } else {
        this.review.productId = this.productDetails.uid;
        axios
          .post("/api/user/reviews", JSON.parse(JSON.stringify(this.review)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            console.log(response);
            if (response.status === 201) {
              this.$toasted.success("Reviews successfully saved");
              this.review.productId = this.review.title = this.review.description =
                "";
              this.review.rating = 0;
              this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
              this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
            } else {
              this.$toasted.error(
                "You cannot review this product until you purchase it"
              );
            }
          })
          .catch(error => {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          });
      }
    },
    sendItemToLibrary(id) {
      let data = {
        id: id,
        prodType: "Books",
        getType: "Insight Subscrption Book"
      };

      axios
        .post("/api/user/sendtolibrary", JSON.parse(JSON.stringify(data)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          console.log(response);
          if (response.status === 201) {
            this.$toasted.success("Successfully added to bookmark");
          } else if (response.data === " ") {

                  let routeData = this.$router.resolve({
                      name: "SubscriptionForUser"
                  });
                  window.open(routeData.href, "_blank");




          } else {
            this.$toasted.error(response.data);
          }
        })
        .catch(error => {
          if (error.response.data.message === "Unauthenticated.") {
              console.log(this.productDetails.subscriptionLevel);
             // this.$router.push({name: 'auth'});
            let routeData = this.$router.resolve({
              name: "auth"
            });
            window.open(routeData.href, "_blank");
          } else {
            this.$toasted.error(error.response.data.message);
            console.log(error.response.data.message);
          }
        });
    },
    addToCart(id) {
      console.log(id);
      let cart = {
        productId: id,
        price: this.price
      };
      if (this.title === "Hard Copy") {
        cart.quantity = 1;
        cart.prodType = "HardCopy";
      } else if (this.title === "Digital Copy") {
        cart.quantity = 0;
        cart.prodType = "SoftCopy";
      } else if (this.title === "Audio Copy") {
        cart.quantity = 0;
        cart.prodType = "AudioCopy";
      } else if (this.title === "Video Copy") {
        cart.quantity = 0;
        cart.prodType = "VideoCopy";
      } else if (this.title === "Read Online") {
        cart.quantity = 0;
        cart.prodType = "ReadOnline";
      }

      if (this.authenticate === false) {
        cart.cartNum = 1;
        this.anonymousCart.push(cart);
        if (JSON.parse(localStorage.getItem("userCart")) === null) {
          localStorage.setItem("userCart", JSON.stringify(this.anonymousCart));
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let cartCount = sessionCart.length;
          this.$emit("getCartCount", cartCount);
          this.$notify({
            group: "cart",
            title: this.productDetails.title,
            text: "Successfully <i>Added</i> to Cart!"
          });
        } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let ss = sessionCart.length;
          sessionCart[ss] = cart;
          localStorage.setItem("userCart", JSON.stringify(sessionCart));
          let a = JSON.parse(localStorage.getItem("userCart"));
          let aCount = a.length;
          this.$emit("getCartCount", aCount);
          this.$notify({
            group: "cart",
            title: this.productDetails.title,
            text: "Successfully Added to Cart!"
          });
        }
      } else {
        // cart.id = this.productDetails.vendor_user_id;
        this.addCart(cart);
      }
    },
    addCart(cart) {
      axios
        .post("/api/cart", JSON.parse(JSON.stringify(cart)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 201) {
            this.loginCart.push(response.data);
            let aCount = this.loginCart.length;
            this.$emit("getCartCount", aCount);
            this.$notify({
              group: "cart",
              title: this.productDetails.title,
              text:
                '<p>Successfully <b>Added</b> to Cart!<p><p><a href="/indec/products/cart">Proceed to Checkout</router-link></p>'
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  computed: {
    searchFilterData() {
      if (this.sendTopicData.length > 0) {
        console.log(this.sendTopicData);

        return this.categories.filter(item => {
          return item.topic.includes(this.sendTopicData[0]);
        });
      }

      if (this.searchMydata !== " ") {
        return this.categories.filter(item => {
          return item.title
            .toLowerCase()
            .includes(this.searchMydata.toLowerCase());
        });
      } else {
        return this.categories;
      }
    }
  }
};
</script>

<style scoped>
ol, ul{
    list-style: none !important;
}
.pTitle {
  width: 150px;
}

.reviewAvatar {
  text-transform: capitalize;
  background: #a3c2dc;
  color: #ffffff;
  padding: 11px 15px;
  font-size: 15px;
  border-radius: 50%;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.avatarD {
  margin-right: 20px;
  margin-top: 10px;
}

.tabre {
  overflow: hidden;
  margin-top: 10px;
}

.dateCreated {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
}

.reviewerName {
  text-transform: capitalize;
  margin-top: -6px;
}

.reviewdiv {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 14px;
}

.shipTabSwitch,
.reviewTabSwitch,
.shareTabSwitch {
  background-color: #a3c2dc;
  border: 1px solid #a3c2dc;
  color: #ffffff !important;
  padding: 15px 0;
  cursor: pointer;
}

.reviews {
  font-weight: 500;
}

.priceTabs {
  display: flex;
  justify-content: space-evenly;
}

.shipTab,
.reviewTab,
.shareTab {
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  padding: 15px 0;
  cursor: pointer;
}

.proReview,
.proEdi {
  font-size: 13px;
}

.bookTitle {
  font-size: 18px;
  font-weight: 500;
}

.relatedDiv {
  text-align: center;
}
.bookAuthorName {
  font-size: 12px;
}

.relatedLeft {
  width: 40%;
  height: 4px;
  float: left;
  background: #c4c4c4;
}

.relatedRight {
  width: 40%;
  height: 4px;
  float: right;
  background: #c4c4c4;
}

.floatUserRating {
  margin-right: 104px;
  margin-left: 0px;
}

.floatReview {
  float: left;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.userStyle .course-thumbnail img {
  object-fit: inherit !important;
  height: 220px !important;
}

.entry-title a {
  font-size: 16px;
}

.catImage {
  width: 200px;
  height: 170px;
  object-fit: cover;
}

.filterTest {
  border-right: 1px solid #bdbfbf;
  padding-left: 60px;
}

.rowCat {
  margin-top: 40px;
}

.prodDis {
  float: left;
  margin: 10px 14px;
  height: auto;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0px 3px 2px #eee;
  overflow: hidden;
}

.catName,
.fa-star,
.fa-star-o,
.fa-star-half-o {
  color: #cdddec;
}

.pTitle {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prodImg {
  text-align: center;
}

.prodImg img {
  width: 500px;
  height: 430px;
  object-fit: contain;
}

.proReview {
  margin-left: 100px;
  margin-right: 50px;
}

.btns {
  border: 1px solid #a3c2dc;
  font-size: 15px;
  font-weight: bold;
  color: #a3c2dc !important;
  padding: 15px 39%;
  width: 100%;
}

.btns:hover {
  color: #a3c2dc !important;
}
.btn-watch-now {
  padding: 15px 36%;
}

.btn-download {
  padding: 15px 37%;
}

.btn-send-to-library {
  padding: 15px 29%;
}

.btn-guruh-online {
  color: #a3c2dc;
  border: 1px solid #a3c2dc;
  padding: 20px 42%;
}

.addCart {
  margin-bottom: 20px !important;
}

#menu4 .sponsorName {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 4px;
}

#menu4 .sponsorDesc {
  padding-top: 0px !important;
}

.btn-wishlist {
  background-color: #a3c2dc !important;
  color: #ffffff !important;
  padding: 15px 33%;
  font-weight: bold;
}

.tab-content p,
.shipDetailRow p {
  padding: 20px;
}

.abProd {
  background-color: #f2f6fa;
  padding: 40px;
  margin: 70px;
  text-align: center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #dbdbdb !important;
  font-weight: bold;
}

.floatRT {
  overflow: hidden;
}

.detailTabs {
  padding: 0 10px;
}
.hardCover,
.softCover {
  border: 2px solid #a3c2dc;
  padding: 7px;
}

.btn-guruh-cart-puc {
  border: 1px solid #a3c2dc;
  font-size: 15px;
  font-weight: bold;
  color: #a3c2dc;
  padding: 15px 39%;
}

.divC {
  font-size: 40px;
  margin: 17px 0 50px 0;
}

.btn-reviews {
  background-color: #a3c2dc !important;
  padding: 10px 20px;
}

.detailTabs ul li a {
  padding: 10px 10px !important;
}

.writerBlock {
  display: flex;
}

.writerDiv {
  height: 100px;
  margin-right: 20px;
}

.writerDiv img {
  height: 100%;
}
</style>
