<template>
  <div class="course-Detail">
    <div class="banner">
      <h1 v-if="name=== 'subscription'" class="banner-text">My Library</h1>
      <h1 v-else class="banner-text">Order History</h1>
    </div>

    <div class="row orderHistory shadow">
      <div class="bgDef">
        <div class="topTab">
          <div class="top1 vidSearch">
            <select class="form-control relativ" v-model="selectItem">
              <option value="select">Select filter</option>
              <option value="date">Default</option>
              <option value="a-z">A-Z</option>
              <option value="subject-matter">Subject Matter</option>
              <option value="product-category">Product Category</option>
            </select>
          </div>
          <div class="top2 orderH">
            <div class="searchBar">
              <div class="searchBarContent mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search title"
                  v-model="searchItem"
                />
                <div class="search-btn mt-0 ml-0">
                  <i class="fa fa-search text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-12 col-sm-12 col-xs-12 mobile tagSearch"
          v-if="selectItem === 'product-category'"
        >
          <select class="form-control relativ" name="productCategory" v-model="filterByCategory">
            <option value="select">Select filter</option>
            <option
              v-for="category in categories"
              :key="category.id"
              :value="category.name.toLowerCase()"
              selected
            >{{category.name.toLowerCase()}}</option>
          </select>
        </div>

        <div class="d desktop">
          <div
            v-if="selectItem !== 'product-category' &&  selectItem !== 'select' "
            class="topic btn-custom-markets"
          >
            <input id="brand" type="radio" v-model="filterByMatter" value="branding" />
            <label for="brand" class>Branding</label>
            <input id="mark" type="radio" v-model="filterByMatter" value="marketing" />
            <label for="mark" class>Marketing</label>
            <input id="finance" type="radio" v-model="filterByMatter" value="finance" />
            <label for="finance" class>Finance</label>
            <input id="sales" type="radio" v-model="filterByMatter" value="sales" />
            <label for="sales" class>Sales</label>
            <input id="it" type="radio" v-model="filterByMatter" value="information-technology" />
            <label for="it" class>Information Technology</label>
            <input id="pd" type="radio" v-model="filterByMatter" value="personal-development" />
            <label for="pd" class>Personal Development</label>
            <input id="bm" type="radio" v-model="filterByMatter" value="business-modelling" />
            <label for="bm" class>Business Modelling</label>
          </div>
        </div>
        <div class="d desktop" v-if="selectItem === 'product-category'">
          <div class="topic btn-custom-markets">
            <carousel :perPage="6">
              <slide v-for="category in categories" :key="category.id">
                <input
                  :id="category.name.toLowerCase()"
                  type="radio"
                  v-model="filterByCategory"
                  :value="category.name.toLowerCase()"
                />
                <label :for="category.name.toLowerCase()">{{category.name.toLowerCase()}}</label>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
      <div class="join_chat pt-2 border-top p-2 text-right w-100" v-if="filterProduct.length">
       <router-link :to="{
         path:`/entrepreneur/group-chat/${filterProduct[0].productId}`
         }" class="ml-auto">   <button type="button" class="elevated_btn elevated_btn_sm btn-compliment text-white ml-auto" >Join group chat</button></router-link>
      </div>
  <div @click="backToRoot" v-if="filterProduct.length" class="m-3 goBack"> <i class="fas fa-long-arrow-alt-left" ></i> go back</div>
      <div v-if="dir" class="col-md-12 info_table table-responsive">
      
        <table class="table table-bordered table-hover" v-if="!filterProduct.length">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Category</th>

              <th>Subject Matter</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(ite, index) in filterItem" :key="index" @click="openFile(ite.title)" class="cpointer">
              <td>{{index + 1}}</td>
              <td class="cap" >{{ite.title}}</td>
              <td class="cap">{{ite.type.toLowerCase()}}</td>
              <td class="cap">{{ite.subjectMatter.toLowerCase()}}</td>
             <td>  <i class="fa fa-eye text-main" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
     
     <h5 v-if="filterProduct.length" class="mb-4">{{filterProduct[0].title}}</h5>
         <table class="table table-bordered" v-if="filterProduct.length">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Content Type</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(ite, index) in filterProduct" :key="index">
              <td>{{index + 1}}</td>
            
              <td class="cap">{{ite.fileType.toLowerCase()}}</td>
            
                <td class="cpointer" @click="recordClick(ite.productId)">
                <div v-if="ite.prodType === 'SoftCopy'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'Books', type: 'download',title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
                
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.prodType === 'ReadOnline'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'Books', type: 'readonline' ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.prodType === 'Courses Insight Subscription Book'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'Course-Books', type: 'download',title: ite.title.replace(/[^a-z0-9]/gi, '')},
                     query:{
                      type:'course',
                      file:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.prodType === 'Courses Insight Subscription Video'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'Course-video', type: 'download' ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'course',
                      file:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.prodType === 'Courses Insight Subscription Audio'">
                  <router-link
                    :to="{name: 'LibraryContent', 
                    params: {id: ite.id, vid: 'Course-audio', type: 'download' ,title: ite.title.replace(/[^a-z0-9]/gi, '') },
                    query:{
                      type:'course',
                      file:ite.fileType
                    }
                    }"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.prodType === 'SoftCopy'">
                  <a :href="ite.itemPurchase" download target="_blank">
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </a>
                </div>
                <div v-else-if="ite.prodType === 'ReadOnline'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'online', type: 'readonline' ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.category === 'PodcastAudio'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: 'podcast-audio' ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'podcast'
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.category === 'Insight Subscription White Paper'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'insight-books', type: 'readonline' ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'research'
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.category === 'Insight Subscrption Book'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'insight-books', type: 'readonline',title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.category === 'Insight Subscription Journal'">
                  <router-link
                    :to="{name: 'LibraryContent', params: {id: ite.id, vid: 'insight-journal', type: 'readonline',title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.prodType === 'ReadOnline'">
                  <a href="#" @click="goToReadLine(ite.itemPurchase)">
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </a>
                  '
                </div>
                <div v-else-if="ite.prodType === 'AudioCopy'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: 'book-audio',title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.category === 'Courses'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'courses', type: ite.prodType.replace(/ /g, '-') ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'course',
                      file:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.category === 'CoursesReadOnline'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'CoursesReadOnline', type: ite.prodType.replace(/ /g, '-'),title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.category !== null">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: ite.prodType.replace(/ /g, '-'),title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.prodType === 'VideoCopy'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: ite.prodType.replace(/ /g, '-') ,title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'video',
                      file:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.prodType === 'Streaming'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: ite.prodType.replace(/ /g, '-'),title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'video',
                      file:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else-if="ite.prodType === 'Subscription'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: ite.prodType.replace(/ /g, '-'),title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>
                <div v-else-if="ite.prodType === 'VideoEpisode'">
                  <router-link
                    tag="a"
                    :to="{ name: 'LibraryContent', params: {id: ite.id, vid: ite.vid ? ite.vid : 'products', type: ite.prodType.replace(/ /g, '-'),title: ite.title.replace(/[^a-z0-9]/gi, '')},
                    query:{
                      type:'video',
                      file:ite.fileType
                    }}"
                    target="_blank"
                  >
               <i class="fa fa-eye text-main" aria-hidden="true"></i>
                  </router-link>
                </div>

                <div v-else></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div v-else class="col-md-12 info_table table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Month</th>
              <th>Subject Matter</th>
              <th>Material</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import pdf from "vue-pdf";
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "user-profile-page-component",

  data: function() {
    return {
      dir: true,
      name: this.$route.params.name,
      token: "",
      epiFade: true,
      epiModal: true,
      readonline: false,
      audioItem: "",
      selectItem: "select",
      filterByMatter: "select",
      filterByCategory: "select",
      realOrder: [],
      newRealOrder: [],
      audio: false,
      searchItem: "",
      readOnlineProduct: "",
      userDetail: {},
      topics: [],
      avatarName: "",
      categories: [],
      items: [],
      orders: false,
      subjMatter: [],
      checkTopic: false,
      breadcrumbList: [],
      value: ""
    };
  },
  beforeRouteEnter(to, from, next) {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user === null) {
      next({
        name: "auth",
        params: { name: "login" },
        query: { redirectFrom: to.fullPath }
      });
    } else {
      next();
    }
  },
  components: {
    "app-pdf": pdf,
    Carousel,
    Slide
  },
  mounted() {
    this.updateList();
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user != null) {
      this.token = user.access_token;
      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            if (this.name === "subscription") {
              this.items = response.data.data.filter(
                item => item.referenceNo !== null
              );
              this.items.forEach((item, index) => {
                item.orderDetail.forEach((items, indexs) => {
                  this.realOrder.push(items);
                });
              });
              this.getProductTopics("AU", "AO");
            } else if (this.name === "order") {
              this.items = response.data.data.filter(
                item => item.deliveryId !== null
              );
              this.orders = true;
              this.items.forEach((item, index) => {
                item.orderDetail.forEach((items, indexs) => {
                  this.realOrder.push(items);
                });
              });

              this.getProductTopics("UO", "AU");
            }
            this.getUserProfileDetail();
            this.getProductCategory();

            this.checkTopic = true;
            if (this.checkTopic) {
              this.subjMatter = this.topics.filter((item, i, arr) => {
                return arr.indexOf(item) === i;
              });
            }
          }
          let newOrder = [];
          this.realOrder.forEach(item => {
            let product = {};
            product.title = item.title;
            product.subjectMatter = item.subjectMatter;
            product.type = item.type;
            newOrder.push(product);
          });

          let jsonObject = newOrder.map(JSON.stringify);
          let uniqueSet = new Set(jsonObject);
          this.newRealOrder = Array.from(uniqueSet).map(JSON.parse);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  methods: {
    recordClick(id){
      let engagement = {}
      engagement.type = 'engagement'
      engagement.product_id =id
     localStorage.setItem('engagement',JSON.stringify(engagement))
    
    },
    openFile(value) {
    
      this.value = value;
    },
    backToRoot(){
      this.value = ''
    },
    switchDir() {
      this.dir = true;
    },
    switchDir1() {
      this.dir = false;
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    getProductTopics(params1, params2) {
      axios
        .get("/api/user/get/subjectmatter", {
          headers: { Authorization: `Bearer ${this.token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.topics = response.data.filter(item => {
              return item.adminCategory === params1 || params2;
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getProductCategory() {
      axios
        .get("/api/user/get/category", {
          headers: { Authorization: `Bearer ${this.token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.categories = response.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    goToReadJournalLine(itemP, id, product, type) {
      sessionStorage.setItem("readOnline", itemP);

      let routeData = this.$router.resolve({
        name: "OrderDetail",
        params: { id: id, vid: "product", type: type }
      });
      window.open(routeData.href, "_blank");
    },
    goToReadLine(id) {
      sessionStorage.setItem("readOnline", id);
      let routeData = this.$router.resolve({ name: "ReadOnline" });
      window.open(routeData.href, "_blank");
    },
    getUserProfileDetail() {
      axios
        .get("/api/user/profile", {
          headers: { Authorization: `Bearer ${this.token}` }
        })
        .then(response => {
          if (response.status === 200) {
            this.userDetail = response.data;
            this.avatarName = this.userDetail.name;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    openModal(params, item) {
      this.epiFade = false;
      switch (params) {
        case "readonline":
          this.readOnlineProduct = item;

          /* function showFile(blob){
                        // It is necessary to create a new blob object with mime-type explicitly set
                        // otherwise only Chrome works like it should
                        var newBlob = new Blob([blob], {type: "application/pdf"})

                        // IE doesn't allow using a blob object directly as link href
                        // instead it is necessary to use msSaveOrOpenBlob
                        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                            window.navigator.msSaveOrOpenBlob(newBlob);
                            return;
                        }

                        // For other browsers:
                        // Create a link pointing to the ObjectURL containing the blob.
                        const data = window.URL.createObjectURL(newBlob);
                        var link = document.createElement('a');
                        link.href = data;
                        link.download="file.pdf";
                        link.click();
                        setTimeout(function(){
                            // For Firefox it is necessary to delay revoking the ObjectURL
                            window.URL.revokeObjectURL(data);
                        }, 100)
                    }

                        fetch([this.readOnlineProduct],)
            .then(r => r.blob())
                    .then(showFile)*/

          this.readonline = true;
          this.audio = false;
          break;
        case "audio":
          this.audioItem = item;
          this.audio = true;
          this.readonline = false;
          break;
        default:
          this.readOnlineProduct = "";
          this.readonline = this.audio = false;
      }
    }
  },
  computed: {
    filterItem() {
      if (this.searchItem !== "") {
        return this.newRealOrder.filter(item => {
          return item.title
            .toLowerCase()
            .includes(this.searchItem.toLowerCase());
        });
      }

      if (this.selectItem === "a-z") {
        return this.newRealOrder.sort((a, b) => {
          if (a.title < b.title) {
            this.selectItem = "";
            return -1;
          }
        });
      } else if (this.selectItem === "date") {
        return this.newRealOrder.sort((a, b) => {
          if (a.id > b.id) {
            return -1;
          }
        });
      } else if (
        this.selectItem === "subject-matter" &&
        this.filterByMatter !== "0"
      ) {
        return this.newRealOrder.filter(value => {
          return (
            value.subjectMatter.toLowerCase() ===
            this.filterByMatter.replace(/-/g, " ")
          );
        });
      } else if (
        this.selectItem === "product-category" &&
        this.filterByCategory !== "0"
      ) {
        return this.realOnewRealOrderrder.filter(value => {
          return value.type.toLowerCase() === this.filterByCategory;
        });
      } else {
        return this.newRealOrder;
      }
    },
    filterProduct() {
      return this.realOrder.filter(item => {
        return item.title == this.value;
      });
    }
  }
};
</script>

<style scoped>

.libraries {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 12px;
}
.goBack{
  font-size:14px;
}
.topTab {
  display: flex;
  justify-content: space-between;
}
.top1 {
  width: 45%;
}
.top2 {
  width: 45%;
}
.bap-lib,
.content-lib {
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
.bap-lib {
  border-left: 1px solid;
}
.content-lib {
  border-right: 1px solid;
}
.bap-lib:hover,
.content-lib:hover {
  text-decoration: underline;
}

.banner {
  width: 100%;
  background-image: url("/images/video-banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.banner-text {
  color: white;
  font-size: 56px;
  font-weight: bold;
}
.form-control {
  border-radius: 20px;
}
.fa-arrow-right {
  padding: 5px 10px;
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  border-radius: 3px;
}
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 15px 5px 0;
  padding: 0;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.mobile {
  display: none;
}
.relativ {
}

.searchBarContent {
  display: flex;
  position: relative;
}
.d {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.searchBar {
  margin-left: auto;
  margin-right: auto;
}

.btn-custom-market input {
  opacity: 0;
}
.vidSearch,
.tagSearch {
  padding: 1px 12px;
}

.btn-custom-markets {
  float: none !important;
  background: none !important;
}

.crumbs {
  margin: 15px 10px;
}
.btn-custom-markets input {
  opacity: 0;
}

.VueCarousel-slide {
  flex-basis: auto !important;
  display: flex;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.64) !important;
}
.form-control {
  color: rgba(0, 0, 0, 0.64) !important;
}

.btn-custom-market label {
  width: 100%;

  color: #ffffff;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
  text-align: center;
  border: 1px solid #5b84a7;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}

.btn-custom-markets label {
  color: #ffffff;
  font-size: 12px;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 20px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  margin: 5px;
  border-radius: 50px;
}

.btn-custom-market {
  /* padding: 40px; */
  overflow: hidden;
}

.btn-custom-market label:hover {
  cursor: pointer;
  color: #5b84a7;
  background: #ffffff;
}

.fa-arrow-right {
  color: #5b84a7;
}

.btn-custom-market label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.btn-custom-market label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.cap {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.74);
}

.btn-custom-markets {
  padding: 4px;
  overflow: hidden;
}

.btn-custom-markets label:hover {
  cursor: pointer;
  color: #5b84a7;
  background: hsl(207, 43%, 20%);
}

.topic {
  width: 100%;
  display: flex;
  justify-content: center;
}
.topic label {
  background: #5b84a7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic label input:checked {
  background: hsl(207, 43%, 20%);
}

input[type="radio"]:checked + label {
  background: hsl(207, 43%, 20%);
}

.search-btn {
  border: 0px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 16px;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.detailAvatar {
  background: #5b84a7;
  width: 82px;
  font-size: 50px;
  font-weight: bold;
  height: 83px;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 31px 12px;
  border-radius: 50%;
}
.orderHistorys {
  padding: 10px;
  font-weight: bolder;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.bgDef {
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
.fullName {
  text-transform: capitalize;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
}

th {
  background-color: #f3f3f3;
  color: #29303b;
  font-weight: bold;
  text-align: center;
  
}

th,
td {
  padding: 30px;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.pdfReader {
  width: 90%;
  max-width: 90%;
  height: 90vh;
}

td {
  color: #aaaaaa;
  text-align: center;

  text-transform: capitalize;
}

.orderH {
  text-align: center;
}

.product-dialog {
  width: 90%;
  max-width: 90%;
  height: 100vh;
}

.course-Detail {
  padding-top: 0px;
  padding-bottom: 100px;
}

.imgPurchase {
  height: 100px;
}

.orderHistory {
  background: #ffffff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  margin-top: -100px;
}
@media (max-width: 1024px) {
  .orderHistory {
    margin-top: -50px;
  }
  .vidSearch,
  .tagSearch {
    padding: 0;
  }

  .banner {
    height: 300px;
  }
  .banner-text {
    font-size: 24px;
  }
  .btn-custom-market label {
    width: 100%;
  }
  .btn-custom-markets label {
    width: 100%;
  }
}
@media (max-width: 425px) {
 
  .banner {
    height: 200px;
  }
  .topTab {
    flex-direction: row;
  }
  .top1,
  .top2 {
    width: 100%;
  }
  .searchBar,
  .vidSearch {
    width: 75%;
  }
  .banner-text {
    font-size: 24px;
  }
  .libraries {
    font-size: 12px;
  }
  .bgDef {
    width: 100%;
    padding: 20px 10px;
  }
  .course-Detail {
    background: #ffffff;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0;
  }

  .relativ {
    margin-bottom: 0;
  }
  .form-control {
    height: auto;
    padding: 3px 12px !important;
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
  .searchBarContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .fa-search {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
  .search-btn {
    top: 0px !important;
    background: none;
    color: #000000;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .relativ {
    width: 100%;
  }
  .orderHistory {
    width: 100%;
  }
  .orderH {
    padding: 0;
  }
  .orderHistorys {
    padding: 10px;
    font-weight: bolder;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
  .fullName {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
    color: #5b84a7;
  }
  .info_table {
    padding: 30px 5px 60px 5px;
  }

  th,
  td {
    padding: 5px !important;
  }
}
@media (max-width: 320px) {
  th {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  th,
  td {
    padding: 5px 1px !important;
  }
}
</style>
