<template>
  <div class="contain">
    <div v-if="display" class="course-Detail">
      <div class="bread">
        <ul>
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>
      </div>
      <!-- <h4 class="center m-4">  {{productTitle}}</h4> -->
      <div oncontextmenu="return false" v-if="pdfDigital" class="orderHistory">
        <div class="orderDis" v-if="pdfBook.length > 0" v-for="(pdfBooks, index) in pdfBook">
          <div>
            <b>Title:</b>
            {{ pdfBooks.title }}
          </div>
          <div>
            <b>Description:</b>
            {{ pdfBooks.description }}
          </div>
          <!-- <a :href="pdfBooks.videoFile" download target="_blank">{{
						pdfBooks.videoName
          }}</a>-->
        </div>
      </div>

      <div v-else-if="podcastAudio">
        <div class="row p-2">
          <div
            class="orderDis"
            v-if="podcastAudioContent.length > 0"
            v-for="(podcastAudioContents,
						index) in podcastAudioContent"
          >
            <div>
              <b>Title:</b>
              {{ podcastAudioContents.title }}
              <p>
                <img :src="podcastAudioContents.coverImage" alt />
              </p>
            </div>
            <div>
              <b>Description:</b>
              {{ podcastAudioContents.description }}
            </div>
            <!-- <a
							:href="podcastAudioContents.videoFile"
							download
							target="_blank"
							>{{ podcastAudioContents.videoName }}</a
            >-->
          </div>
        </div>
      </div>

      <div v-else-if="pdfViewer" class="row orderHistory">
        <div
          oncontextmenu="return false"
          v-if="pdfViewerContent.length > 0"
          v-for="(pdfViewerContents, index) in pdfViewerContent"
        >
          <embed
            class="pdfReader"
            :src="pdfViewerContents.videoFile"
            toolbar="0"
            type="application/pdf"
          />
        </div>
      </div>

      <div v-else-if="podcastSubscription">
        <div
          class="col-md-12 podcastClass"
          v-if="podcastSubArray.length > 0"
          v-for="podcastSubArrays in podcastSubArray"
        >
          <div class="mb-2">{{ podcastSubArrays.title }}</div>
          <!-- <p><img :src="podcastSubArrays.coverImage" alt=""></p> -->
          <div class="mb-2">{{ podcastSubArrays.videoName }}</div>
          <div class="mb-4">{{ podcastSubArrays.description }}</div>
          <div class="col-md-8 col-xs-12">
            <audio controls class="cld-video-player">
              <source
                width="60%"
                :src="
								podcastSubArrays.videoFile
									? podcastSubArrays.videoFile
									: ''"
              />
            </audio>
          </div>
          <br />
          <!-- <div v-if="freeTrial  && usersub === 0 " @click="trialDownload">

					<span  class="download">	Download Audio</span>
					</div>
				<div v-else>
						<a
						:href="podcastSubArrays.videoFile"
						download
						class="download"
						>Download Audio</a
					>
          </div>-->
        </div>
      </div>

      <div v-else-if="podcastEpisodeSubscription">
        <div class="row p-2">
          <div
            class="col-md-12"
            v-if="podcastEpisodeArray.length > 0"
            v-for="(podcastEpisodeArrays,
						index) in podcastEpisodeArray"
          >
            <div class="mb-4">{{ podcastEpisodeArrays.title }}</div>
            <!-- <p><img :src="podcastEpisodeArrays.coverImage" alt=""></p> -->
            <div class="mb-2">{{ podcastEpisodeArrays.videoName }}</div>
            <div class="mb-4">{{ podcastEpisodeArrays.description }}</div>
            <div class="col-md-8 col-xs-12 mb-4">
              <audio controls width="200" class="cld-video-player">
                <source
                  :src="
									podcastEpisodeArrays.videoFile
										? podcastEpisodeArrays.videoFile
										: ''"
                />
              </audio>
            </div>
            <br />
            <!-- <div v-if=" freeTrial  && usersub === 0" class="download" @click="trialDownload">

						Download Audio
            </div>-->
            <!-- <div v-else>
							<a
							:href="podcastEpisodeArrays.videoFile"
							download
							class="download"
							>Download Audio</a
						>
            </div>-->
          </div>
        </div>
      </div>

      <div v-else-if="videoSubscription">
        <div class="row p-2">
          <div class="col-md-8 col-sm-7 col-xs-12 mb-4 p-0">
            <video :src="videoShow" controls class="cld-video-player"></video>
          </div>

          <div class="col-md-4 col-sm-5 col-xs-12 p-0">
            <ul v-if="videoSubArray.length > 0" v-for="(videoSubArrays, index) in videoSubArray">
              <li @click="changeVideos(index)" class="videoSubArray">
                <div class="titleV">
                  <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  {{ videoSubArrays.title }}
                  <i
                    v-if="hideItem !== videoSubArrays.id"
                    class="fa fa-caret-down down-icon"
                    style="float:right"
                    @click="showItem(videoSubArrays.id)"
                  ></i>
                  <i
                    v-else
                    class="fa fa-caret-down down-icon"
                    style="float:right"
                    @click="closeItem(videoSubArrays.id)"
                  ></i>
                </div>
                <div class="videoBody" v-if="hideItem === videoSubArrays.id">
                  <div>{{ videoSubArrays.description }}</div>
                  <p class="videoguest">{{ videoSubArrays.episodeGuest }}</p>
                  <p video="videoAboutguest">{{ videoSubArrays.episodedescription }}</p>
                  <div>{{ videoSubArrays.videoName }}</div>
                  <!-- <div v-if="freeTrial  && usersub === 0 " class="mt-2" >

                                     <a @click="trialDownload"
											download

											class="download"
											>Download Video</a
										>
                                    </div>
									<div  v-else class="mt-2">
										<a
											:href="videoSubArrays.videoFile"
											download
											target="_blank"
											class="download"
											>Download Video</a
										>
                  </div>-->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div v-else-if="videoEpisodeSubscription">
        <div class="row p-2">
          <div class="col-md-7 col-xs-12 p-0 mb-4">
            <video :src="videoShow" controls class="cld-video-player"></video>
          </div>

          <div class="col-md-5 col-xs-12">
            <ul>
              <li
                v-if="videoEpisodeArray.length > 0"
                v-for="(videoEpisodeArrays,
								index) in videoEpisodeArray"
              >
                <h4>{{ videoEpisodeArrays.title }}</h4>
                <div>{{ videoEpisodeArrays.episodedescription }}</div>
                <small>{{ videoEpisodeArrays.episodeGuest }}</small>
                <!-- <div v-if="freeTrial  && usersub === 0 " class="mt-4  ">

                               <a
									 @click="trialDownload"
										download
										class="download"
										>Download Video</a
									>
                            </div>
								<div v-else class="mt-4">
									<a
										:href="videoEpisodeArrays.videoFile"
										download
										class="download"
										>Download Video</a
									>
                </div>-->
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div v-else-if="journalReadSubscription">
        <div class="p-2">
          <div oncontextmenu="return false" class="col-md-8 col-xs-12">
            <embed :src="journalArray" type="application/pdf" width="100%" height="600px" />
          </div>
          <!-- <div v-if="freeTrial  && usersub === 0 " class="col-md-4 col-xs-12 " @click="trialDownload">

                               <span class="download"> Download Video</span>
                            </div>
					<div v-else class="col-md-4 col-xs-12">
						<a :href="journalArray" download="true" class="download"
							>Download</a
						>
          </div>-->
        </div>
      </div>

      <div v-else-if="vendorBook">
        <audio controls class="vendorBook">
          <source :src="vendorBookDisplay" />
        </audio>
      </div>

      <div v-else-if="vendorVideoDisplay">
        <div class="row p-2">
          <div class="col-md-7 p-0">
            <video controls class="vendorVideo" :src="vendorVideoShow">
              <source />
            </video>
            <div class="navigation">
              <div v-if="num > 0" @click="prev()" class="navi prev">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
                Prev
              </div>
              <div @click="next()" class="navi next" v-if="num !== vendorVideo.length">
                Next
                <i class="fa fa-step-forward" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4 venVid">
            <div
              v-if="vendorVideo.length > 0"
              v-for="(vendorVideos, index) in vendorVideo"
              class="venVideo"
            >
              <div>{{ vendorVideos.title }}</div>
              <div>{{ vendorVideos.description }}</div>
              <div class="vvshow">
                <!-- <div v-if="freeTrial  && usersub === 0 " class="mt-2 download ">

                              <a class="download"
									 @click="trialDownload"

									>Download Video</a
								>
                            </div>
                                <div  v-else>
								<a class="download"
									:href="vendorVideos.videoFile"

									>Download Video</a
								>
                </div>-->
                <div class="downloa" @click="playVid(index,vendorVideos.id)">Play Video</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-else-if="courseBookDisplay">
        <div class="row p-4" v-for="courseBooks in courseBook">
          <div class="col-md-4 col-xs-12 coursetiles" v-if="courseBook.length > 0">
            <div class="imag">
              <p>
                <b>{{ courseBooks.productTitle }}</b>
              </p>
              <img :src="courseBooks.coverImage" alt />

              <p>{{ courseBooks.description }}</p>
              <!-- <div v-if="freeTrial  && usersub === 0 " class="mt-2 mb-2 download " >

                                <a
								@click="trialDownload"
								class="download"
								>Download pdf</a
							>
                            </div>
						<div v-else class="mt-2 mb-2">
							<a
								:href="courseBooks.videoFile"
								target="_blank"
								class="download"
								>Download pdf</a
							>
              </div>-->
            </div>
          </div>
          <div
            oncontextmenu="return false"
            class="col-md-7 col-md-offset-1 col-xs-12 coursetiles p-2"
          >
            <app-pdf
              v-for="i in numPages"
              :key="i"
              :src="courseBooks.videoFile"
              :page="i"
              style="display: inline-block; width: 100%"
              class="pdf_content"
            ></app-pdf>
            <embed :src="courseBooks.videoFile" type="application/pdf" width="100%" height="400px" />
          </div>
        </div>
      </div>

      <div v-else-if="courseAudioDisplay">
        <div v-for="courseAudios in courseAudio" class="row">
          <div class="col-md-6 col-xs-12 coursetiles mb-4 p-2" v-if="courseAudio.length > 0">
            <p>
              <b>{{ courseAudios.productTitle }}</b>
            </p>
            <p>
              <img :src="courseAudios.coverImage" alt />
            </p>
            <p>{{ courseAudios.description }}</p>

            <!-- <div v-if="freeTrial  && usersub === 0 " class="mt-4 nb-2 download ">

                             <a
								 @click="trialDownload"
								class="download"
								>Download Audio</a
							>
                            </div>
						<div v-else class="mt-4 mb-2">
							<a
								:href="courseAudios.videoFile"
								target="_blank"
								class="download"
								>Download Audio</a
							>
            </div>-->
          </div>
          <div class="col-md-5 col-md-offset-1 col-xs-12 mb-4 coursetiles">
            <audio controls>
              <source :src="courseAudioFirst" />
            </audio>
            <div class="navigation">
              <div
                v-if="audFile !== courseAudio[0].videoFile"
                @click="prevAudio()"
                class="navi prev"
              >
                <i class="fa fa-step-backward" aria-hidden="true"></i>
                Prev
              </div>
              <div v-if="courseAudio.length > 1" @click="nextAudio()" class="navi next">
                Next
                <i class="fa fa-step-forward" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-xs-12" v-if="courseAudio.length > 0">
            <h4 class="ml mt-2">Content</h4>
            <div class="viddip" v-for="(courseAudios,index) in courseAudio" :key="index">
              <div class="vidtit">
                <b>
                  <i
                    v-if="hideItem !== courseAudios.id"
                    @click="showItem(courseAudios.id)"
                    class="fa fa-plus"
                    aria-hidden="true"
                  ></i>
                  <i
                    v-else
                    @click="closeItem(courseAudios.id)"
                    class="fa fa-minus"
                    aria-hidden="true"
                  ></i>
                </b>
                <b class="tit">{{ courseAudios.title }}</b>

                <p
                  class="ml-2 f14"
                  v-if="hideItem === courseAudios.id"
                >{{ courseAudios.description }}</p>
              </div>
              <div class="vidDow">
                <span @click="nextAudio()" class="butto">
                  <span class="mob">Play</span>
                  <i class="fa fa-play-circle-o desk" aria-hidden="true"></i>
                </span>

                <!-- <span v-if="freeTrial  && usersub === 0 " class="butto" @click="trialDownload">
                                    <span
									class="downloadd"
									>

                                    <span class="mob">Download</span>
									<i
										class="fa fa-download desk"
										aria-hidden="true"
									></i
								></span>
                </span>-->
                <!-- <span v-else class="butto">
                                    <a
									:href="courseAudios.videoFile"
									target="_blank"
									class="downloadd"
									>

                                    <span class="mob">Download</span>
									<i
										class="fa fa-download desk"
										aria-hidden="true"
									></i
								></a>
                </span>-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-else-if="courseVideoDisplay">
        <div class="row border p-2">
          <div class="col-md-7 col-xs-12 p-4">
            <video controls class="vendorVideo" :src="courseVideoFirst">
              <source />
            </video>
            <div class="navigation">
              <div v-if="vidFile !== courseVideo[0].videoFile" @click="prev()" class="navi prev">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
                Prev
              </div>
              <div @click="next()" class="navi next" v-if="courseVideo.length > 1">
                Next
                <i class="fa fa-step-forward" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-xs-12 p-2">
            <div v-if="courseVideo.length > 0">
              <h3 class="mb-4">{{ courseVideo[0].productTitle }}</h3>
              <h4 class="mb-4">
                Now Playing
                <i class="fa fa-play-circle-o" aria-hidden="true"></i>
              </h4>
              <div>
                <p class="mt-4">{{ vidTitle }}</p>
                <p>
                  <img :src="vidImage" alt />
                </p>
                <p>{{ vidDesc }}</p>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-md-12 col-xs-12" v-if="courseVideo.length > 0">
            <h4 class="ml">Module(s)</h4>
            <div class="viddip" v-for="(courseVideos,index) in courseVideo" :key="index">
              <div class="vidtit">
                <span class="text-muted pr-4 text-sm">Module {{index+1}}</span>
                <b>
                  <i
                    v-if="hideItem !== courseVideos.id"
                    @click="showItem(courseVideos.id)"
                    class="fa fa-plus pr-1"
                    aria-hidden="true"
                  ></i>
                  <i
                    v-else
                    @click="closeItem(courseVideos.id)"
                    class="fa fa-minus pr-1"
                    aria-hidden="true"
                  ></i>
                </b>
                <b @click="showItem(courseVideos.id)" class="tit">{{ courseVideos.title }}</b>
                <div class="vidDow">
                  <span @click="next()" class="butto">
                    <span class="mob">Play</span>
                    <i class="fa fa-play-circle-o desk" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div
                class="ml-2 f14"
                v-if="hideItem === courseVideos.id"
              >{{ courseVideos.description }}</div>
            </div>
          </div>
        </div>
      </div>

      <div v-else-if="courseCopyDisplay">
        <div class="row p-2">
          <!-- video starts  -->
          <div class="col-md-6 col-xs-12 p-0">
            <video v-if="showVideo" :poster="poster" controls class="vendorVideo" :src="playing">
              <source />
            </video>

            <audio v-if="showAudio" controls width="80%" :src="playingAudio">
              <source />
            </audio>

            <div oncontextmenu="return false" v-if="showPdf" class="readOnlineHeight">
              <embed :src="read" type="application/pdf" width="100%" height="400px" />
            </div>
          </div>

          <div v-if="courseCopy.length > 0" class="col-md-6 col-xs-12 viddipp">
            <div v-for="(courseCopies,index) in courseCopy" :key="index" class="row viddip1">
              <div class="col-12 vidTit">
                <b>{{courseCopies.title}}</b>
                <i
                  v-if="hideItem !== courseCopies.id"
                  @click="showItem(courseCopies.id)"
                  class="fa fa-plus"
                  aria-hidden="true"
                ></i>
                <i
                  v-else
                  @click="closeItem(courseCopies.id)"
                  class="fa fa-minus"
                  aria-hidden="true"
                ></i>
              </div>
              <div class="col-12 vidDow">
                <div
                  class="col-12 p-2"
                  v-if="hideItem === courseCopies.id"
                >{{ courseCopies.description }}</div>
                <div class="row w-50" v-if="hideItem === courseCopies.id">
                  <div
                    v-if="courseCopies.videoFile !== ''"
                    class="col-6 downloadd"
                    @click="playVideo(index, courseCopies.id)"
                  >
                    <div class="area">
                      <span class="mob">Play Video</span>
                      <i class="fa fa-play-circle-o desk" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div v-if="courseCopies.videoFile !== ''" class="col-6 downloadd">
                    <!-- <div v-if="freeTrial  && usersub === 0 "  @click="trialDownload" class="area"><span class="mob">Download</span>
									<i
										class="fa fa-file-video desk"
										aria-hidden="true"
									></i
								></div>


								   <div v-else class="area"> <a
									:href="courseCopies.videoFile"
									target="_blank"

									><span class="mob">Download</span>
									<i
										class="fa fa-file-video desk"
										aria-hidden="true"
									></i
                    ></a></div>-->
                  </div>
                  <div
                    v-if="courseCopies.audioFile !== ''"
                    class="col-6 downloadd"
                    @click="playAudio(index)"
                  >
                    <div class="area">
                      <span class="mob">Play Audio</span>
                      <i class="fa fa-microphone desk" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div v-if="courseCopies.audioFile !== ''" class="col-6 downloadd">
                    <!-- <div v-if="freeTrial  && usersub === 0 "  @click="trialDownload" class="area"><span class="mob">Download</span>
									<i
										class="fa fa-file-audio desk"
										aria-hidden="true"
									></i
								></div>


								   <div v-else class="area"> <a
									:href="courseCopies.audioFile"
									target="_blank"

									><span class="mob">Download</span>
									<i
										class="fa fa-file-audio desk"
										aria-hidden="true"
									></i
                    ></a></div>-->
                  </div>
                  <div
                    v-if="courseCopies.file !== ''"
                    @click="readNow(index)"
                    class="col-6 downloadd"
                  >
                    <div class="area">
                      <span class="mob">Read Now</span>
                      <i class="fab fa-readme desk"></i>
                    </div>
                  </div>
                  <!-- <div v-if="courseCopies.file !== ''" class="col-6 downloadd">
                                          <div v-if="freeTrial  && usersub === 0 "  @click="trialDownload" class="area"><span class="mob">Download</span>
									<i
										class="fa fa-file-pdf desk"
										aria-hidden="true"
									></i
								></div>


								    <div v-else class="area"><a
									:href="courseCopies.file"
									target="_blank"

									><span class="mob">Download</span>
									<i
										class="fa fa-file-pdf desk"
										aria-hidden="true"
									></i
                  ></a></div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Audio starts  -->
        <!-- <div v-if="courseCopy[0].audioFile !== ''" class="col-md-12 col-xs-12 mt-4">

						<audio

							controls
							:src="courseCopy[0].audioFile"
						>
							<source />
						</audio>
        </div>-->
        <!-- <div class="col-md-12 col-xs-12">
						<div
							v-if="courseCopy.length > 0"
							v-for="courseCopies in courseCopy"
							:key="courseCopies.id"
						>
							<p>
								<b>{{ courseCopies.title }}</b>
        </p>-->
        <!-- <p>{{courseCopies.description}}</p> -->

        <!-- <div class="df">
                                <div
								class="mb-2 mr-2"
								v-if="courseCopies.audioFile !== ''"
							>
								<a
									:href="courseCopies.audioFile"
									target="_blank"
									class="download"
									>Download Audio</a
								>
							</div>
                            <div class="mb-2 ml-2" v-if="courseCopies.file !== ''">
								<a
									:href="courseCopies.file"
									target="_blank"
									class="download"
									>Download Pdf</a
								>
							</div>
                            </div>
						</div>
        </div>-->
      </div>

      <div v-else-if="srcRead">
        <div oncontextmenu="return false" class="readOnlineHeight">
          <app-pdf
            v-for="i in numPages"
            :key="i"
            :src="src"
            :page="i"
            style="display: inline-block; width: 100%"
            class="pdf_content"
          ></app-pdf>
        </div>
      </div>

      <div v-else-if="documentType" class="ordersa">
        <div class="row p-2">
          <div class="col-md-4 divc">
            <p>
              <b>{{ documentContent.productTitle }}</b>
            </p>
            <div class="imag pb-2">
              <img :src="documentContent.coverImage" alt />
            </div>
            <!-- <span
                            v-if="freeTrial  && usersub === 0 "
                            @click="trialDownload"
							class="download"
							>Download Pdf</span
            >-->

            <!-- <a v-else
							:href="documentContent.itemPurchase"
							download="true"
							class="download"
							>Download Pdf</a
            >-->
          </div>
          <div oncontextmenu="return false" class="col-md-8">
            <embed
              :src="documentContent.itemPurchase"
              type="application/pdf"
              width="100%"
              height="400px"
            />
          </div>
        </div>
      </div>

      <div class="row orderHistory" v-else-if="streamingService">
        <div class="col-md-8">
          <audio :src="streaming" controls v-if="typed === 'Podcast-Insight-Subscription'"></audio>

          <video :src="streaming" controls v-else class="cld-video-player"></video>
        </div>
        <div class="col-md-4 stream">
          <div
            v-if="
							this.$route.params.typed ===
								'Video-Insight-Subscription'"
          >Video Subscription</div>

          <div v-if="itemProducts.length === 1">
            <!-- <span
                            v-if="freeTrial  && usersub === 0 "
                            @click="trialDownload"
							class="download"
							>Download Video</span
						>
						<a v-else :href="itemProducts[0].itemPurchase" download
							>Download Video</a
            >-->
          </div>

          <div v-if="typed === 'Podcast-Insight-Subscription'">
            <!-- <span
                            v-if="freeTrial  && usersub === 0 "
                            @click="trialDownload"
							class="download"
							>Download Audio</span
						>
						<a v-else
							:href="itemProducts[0].videoFile"
							download
							class="download"
							>Download Audio</a
            >-->
          </div>

          <ul v-for="(itemProduct, index) in itemProducts" :key="index" class="listVideoItem">
            <!-- <li @click="
								changeVideo(
            itemProduct.videoFile.substr(62, 32))">-->
            <li>
              <div @click="
								streamVideo(
									index)">{{ itemProduct.title }}</div>
              <div>{{ itemProduct.description }}</div>
              <div
                class="itemPName"
                @click="
								streamVideo(
									index)"
              >{{ itemProduct.videoName }}</div>
              <div v-if="itemProduct.type === 'videocopy'">
                <!-- <span
                            v-if="freeTrial  && usersub === 0 "
                            @click="trialDownload"
							class="download"
							>Download Video</span
						>
										<a v-else
											:href="itemProduct.videoFile"
											download
											class="download"
											>Download Video</a
                >-->
              </div>

              <div v-if="typed === 'Video-Insight-Subscription'">
                <!-- <span
                            v-if="freeTrial  && usersub === 0 "
                            @click="trialDownload"
							class="download"
							>Download Video</span
						>
										<a v-else
											:href="itemProduct.videoFile"
											download
											class="download"
											>Download Video</a
                >-->
              </div>

              <!-- <div
										v-if="
											typed ==='Videos-Insight-Subscription'"
									>
                                     <span
                            v-if="freeTrial"
                            @click="trialDownload"
							class="download"
							>Download Video</span
						>
										<a v-else
											:href="itemProduct.videoFile"
											download
											class="download"
											>Download Video</a
										>
              </div>-->
            </li>
          </ul>
        </div>
      </div>

      <div v-else-if="insightBookDisplay">
        <div class="row p-2">
          <div
            oncontextmenu="return false"
            class="col-md-10"
            v-if="insightBook.length > 0"
            v-for="(insightBooks, index) in insightBook"
          >
            <embed
              :src="insightBooks.itemPurchase"
              type="application/pdf"
              width="100%"
              height="600px"
            />
          </div>
          <div class="col-md-2 center">
            <div v-if="insightBook.length > 0" v-for="(insightBooks, index) in insightBook">
              <img :src="insightBooks.coverImage" class="imgDisp" />
              <div>Title: {{ insightBooks.productTitle }}</div>
              <!-- <span
                            v-if="freeTrial  && usersub === 0 "
                            @click="trialDownload"
							class="download"
							>Download </span
						>
							<a v-else
								:href="insightBooks.itemPurchase"
								download
								target="_blank"
								downloadItes
								class="download"
								>Download</a
              >-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import cloudder from "cloudinary-core";
import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";
export default {
  name: "user-order-detail-component",
  data: function() {
    return {
      id: this.$route.params.id,
      vid: this.$route.params.vid,
      typed: this.$route.params.type,
      productTitle: this.$route.params.title,
      token: "",
      hideItem: true,
      videoShow: "",
      podcastShow: "",
      pdfDigital: false,
      itemProducts: [],
      video: [],
      pdfBook: [],
      pdfViewer: false,
      pdfViewerContent: [],
      podcastAudio: false,
      podcastAudioContent: [],
      podcastSubscription: false,
      podcastSubArray: [],
      videoSubscription: false,
      videoSubArray: [],
      firstPodcast: "",
      src: "",
      srcRead: false,
      numPages: undefined,
      display: false,
      videoEpisodeSubscription: false,
      videoEpisodeArray: [],
      podcastEpisodeSubscription: false,
      podcastEpisodeArray: [],
      journalReadSubscription: false,
      journalArray: "",
      vendorBook: false,
      vendorBookDisplay: "",
      cld: "",
      vendorVideo: [],
      vendorVideoDisplay: false,
      vendorVideoShow: "",
      courseBookDisplay: false,
      courseBook: [],
      courseAudioDisplay: false,
      courseAudio: [],
      courseVideoDisplay: false,
      courseVideo: [],
      courseVideoFirst: "",
      courseAudioFirst: "",
      courseCopy: [],
      courseCopyDisplay: false,
      streamingService: false,
      streaming: "",
      play: "",
      num: 0,
      vidTitle: "",
      vidFile: "",
      vidImage: "",
      vidDesc: "",
      audTitle: "",
      audFile: "",
      audImage: "",
      audDesc: "",
      on: false,
      insightBookDisplay: false,
      insightBook: [],
      documentType: false,
      documentContent: "",
      playing: null,
      playingAudio: null,
      read: null,
      playButton: "Play",
      poster: "https://i.ytimg.com/vi/05DqIGS_koU/hqdefault.jpg",
      showVideo: true,
      showAudio: false,
      showPdf: false,
      freeTrial: true,
      usersub: null,
      breadcrumbList: [],
      pdfView: false,
      videoView: false,
      audioView: false
    };
  },
  components: {
    "app-pdf": pdf
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user != null) {
      this.token = user.access_token;
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));

          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
            console.log("Trial Over");
            this.freeTrial = false;
          } else {
            console.log("Still on Trial");
          }
        });
    }
  },
  beforeMount() {
    this.display = true;
  },
  mounted() {
    this.updateList();
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user != null) {
      this.token = user.access_token;
      this.cld = cloudder.Cloudinary.new({ cloud_name: "diuflmhz2" });

      axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
        this.usersub = Number(response.data[0].level);
     
      });

      axios
        .get(`/api/user-order-product/${this.id}/${this.vid}/${this.typed}`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status === 200) {
            if (this.typed === "CourseCopy") {
              this.courseCopyDisplay = true;
              this.courseCopy = response.data;
           
            } else if (this.$route.params.vid === "Course-Books") {
              this.courseBookDisplay = true;
              this.courseBook = response.data;
            } else if (
              this.$route.params.vid === "insight-books" ||
              this.$route.params.vid === "insight-journal"
            ) {
              this.insightBookDisplay = true;
              this.insightBook = response.data;
            } else if (
              this.$route.params.type === "Video-Insight-Subscription"
            ) {
              this.videoSubscription = true;

              this.videoSubArray = response.data;
           
             
            } else if (this.typed === "Insight-Subscription-Market-Research") {
              this.documentType = true;
              this.documentContent = response.data;
            } else if (this.$route.params.vid === "Course-audio") {
              this.courseAudioDisplay = true;
              this.courseAudio = response.data;
              (this.audTitle = this.courseAudio[0].title),
                (this.audFile = this.courseAudio[0].videoFile),
                (this.audDesc = this.courseAudio[0].description),
                (this.audImage = this.courseAudio[this.num].coverImage);
              this.courseAudioFirst = response.data[this.num].videoFile
                ? response.data[this.num].videoFile
                : "";
            } else if (this.$route.params.vid === "Course-video") {
              this.courseVideoDisplay = true;
              this.courseVideo = response.data;
            ((this.vidTitle = this.courseVideo[0].title)),
                (this.vidFile = this.courseVideo[0].videoFile),
                (this.vidDesc = this.courseVideo[0].description),
                (this.vidImage = this.courseVideo[this.num].coverImage);

              this.courseVideoFirst = response.data[this.num].videoFile
                ? response.data[this.num].videoFile
                : "";

            } else if (this.$route.params.type === "Streaming") {
              this.streamingService = true;

              let player = this.cld.videoPlayers(".demo-player");
            } else {
              response.data.forEach((item, index) => {
                if (item.type === "courseDigital") {
                  this.pdfDigital = true;
                  this.pdfBook.push(item);
                } else if (item.type === "courseReadOnline") {
                  this.pdfViewer = true;
                  this.pdfViewerContent.push(item);
                } else if (item.type === "podcastAudio") {
                  this.podcastAudio = true;
                  this.podcastAudioContent.push(item);
                } else if (
                  this.$route.params.type === "Podcast-Insight-Subscription"
                ) {
                  this.podcastSubscription = true;
              
                  this.podcastSubArray.push(item);
                  this.firstPodcast = this.podcastSubArray[0].videoFile;
                } else if (
                  this.$route.params.type === "Video-Insight-Subscription"
                ) {
                  this.videoSubscription = true;
              
                  this.videoSubArray.push(item);
                  this.videoShow = this.videoSubArray[0].videoFile;
                 
                } else if (
                  this.$route.params.type ===
                  "Video-Episode-Insight-Subscription"
                ) {
                  this.videoEpisodeSubscription = true;
                  this.videoEpisodeArray.push(item);
               
                  this.videoShow = this.videoEpisodeArray[0].videoFile;
                } else if (
                  this.$route.params.type ===
                  "Podcast-Episode-Insight-Subscription"
                ) {
                  this.podcastEpisodeSubscription = true;
                
                  this.podcastEpisodeArray.push(item);
                  this.podcastShow = this.podcastEpisodeArray[0].videoFile;
                } else if (this.$route.params.type === "journal-products") {
              
                } else if (
                  item.type &&
                  item.type.toLowerCase() === "books" &&
                  item.prodType.toLowerCase() === "audiocopy"
                ) {
                 
                  this.vendorBook = true;
                  this.vendorBookDisplay = item.itemPurchase;
                } else if (item.prodType === "ReadOnline") {
                  this.srcRead = true;
                  sessionStorage.setItem("readOnline", item.itemPurchase);
                  this.src = pdf.createLoadingTask(
                    sessionStorage.getItem("readOnline")
                  );
                  this.src.then(pdf => {
                    this.numPages = pdf.numPages;
                  });
                } else if (item.type && item.type.toLowerCase() === "books") {
                  this.vendorBook = true;
                  this.vendorBookDisplay = item.itemPurchase;
                } else if (item.prodType === "VideoCopy") {
                  this.vendorVideoDisplay = true;
                  this.vendorVideo.push(item);
                  this.vendorVideoShow = this.vendorVideo[this.num].videoFile
                    ? this.vendorVideo[this.num].videoFile
                    : "";
                } else if (this.$route.params.type === "VideoCopy") {
                  this.vendorVideoDisplay = true;
                  this.vendorVideo.push(item);
                  this.vendorVideoShow = this.vendorVideo[this.num].videoFile
                    ? this.vendorVideo[this.num].videoFile
                    : "";
                } else if (this.$route.params.type === "download") {
                  this.insightBookDisplay = true;
                  this.insightBook = response.data;
                }
             
              });
            }

            if (this.$route.params.type === "journal-products") {
              this.journalReadSubscription = true;
              let pdf = sessionStorage.getItem("readOnline");
              this.journalArray = pdf;
            }
            this.itemProducts = response.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  methods: {
    switchBtw(file) {
      if (file === "pdf") {
        this.pdfView = true;
        this.audioView = false;
        this.videoView = false;
      }
      if (file === "audio") {
        this.pdfView = false;
        this.audioView = true;
        this.videoView = false;
      }
      if (file === "video") {
        this.pdfView = false;
        this.audioView = false;
        this.videoView = true;
      }
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    trialDownload() {
      this.$toasted.error("Upgrade your Subscription to download");
    },
    playVid(params, id) {
      this.vendorVideoShow = this.vendorVideo[params].videoFile;
      if (this.vendorVideoShow !== null && this.vendorVideo[params].id === id) {
      
      }
    },
    playVideo(params, id) {
      this.playing = this.courseCopy[params].videoFile;
      this.showVideo = true;
      this.showAudio = false;
      this.showPdf = false;
      if (this.playing !== null && this.courseCopy[params].id === id) {
        this.playButton = "Now playing";
        this.poster = "";
      }
    },
    playAudio(params) {
      this.showVideo = false;
      this.showAudio = true;
      this.showPdf = false;
      this.playingAudio = this.courseCopy[params].audioFile;
    },
    readNow(params) {
      this.showVideo = false;
      this.showAudio = false;
      this.showPdf = true;
      this.read = this.courseCopy[params].file;
    },
    next() {
      if (this.vendorVideoDisplay) {
        this.num++;
        this.vendorVideoShow = this.vendorVideo[this.num].videoFile;
      } else {
        if (this.num !== this.courseVideo.length - 1) {
          this.num++;
          this.courseVideoFirst = this.courseVideo[this.num].videoFile;
          this.vidTitle = this.courseVideo[this.num].title;
          this.vidFile = this.courseVideo[this.num].videoFile;
          this.vidDesc = this.courseVideo[this.num].description;
          this.vidImage = this.courseVideo[this.num].coverImage;
        }
      }
    },
    prev() {
      if (!this.vendorVideoDisplay) {
        this.num--;
        this.vendorVideoShow = this.vendorVideo[this.num].videoFile;
      } else {
        if (this.num !== 0) {
          this.num--;
          this.courseVideoFirst = this.courseVideo[this.num].videoFile;
          this.vidTitle = this.courseVideo[this.num].title;
          this.vidFile = this.courseVideo[this.num].videoFile;
          this.vidDesc = this.courseVideo[this.num].description;
          this.vidImage = this.courseVideo[this.num].coverImage;
        }
      }
    },
    nextAudio() {
      console.log("click");

      if (this.num !== this.courseAudio.length - 1) {
        this.num++;
        this.courseAudioFirst = this.courseAudio[this.num].videoFile;
        this.audTitle = this.courseAudio[this.num].title;
        this.audFile = this.courseAudio[this.num].videoFile;
        this.audDesc = this.courseAudio[this.num].description;
        this.audImage = this.courseAudio[this.num].coverImage;
      }
    },
    prevAudio() {
      if (this.num !== 0) {
        this.num--;
        this.courseAudioFirst = this.courseAudio[this.num].videoFile;
        this.audTitle = this.courseAudio[this.num].title;
        this.audFile = this.courseAudio[this.num].videoFile;
        this.audDesc = this.courseAudio[this.num].description;
        this.audImage = this.courseAudio[this.num].coverImage;
      }
    },

    toggle() {
      this.on = !this.on;
    },
    changeVideos(index) {
      this.videoShow = this.videoSubArray[index].videoFile;
    },
    streamVideo(index) {
      this.streaming = this.itemProducts[index].videoFile;
    },
    changeVideo(videoItem) {
      this.video.push(videoItem);
    },
    showItem(params) {
      this.hideItem = params;
    },
    closeItem(params) {
      if ((this.hideItem = params)) {
        this.hideItem = true;
      }
    }
  }
};
</script>


<style scoped>
.bread ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 20px 0px;
  padding: 5px;
}
.bread ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
.bread ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.contain {
  overflow-y: scroll;
  padding-top: 50px;
  padding-bottom: 200px;
}
.col-6 {
  background: transparent !important;
  padding: 0;
}
.butto {
  border: 1px solid #5b84a7;
  background: #5b84a7;
  border-radius: 5px;
  padding: 2px 10px;
  color: #ffffff;
}
.butto a .fa {
  color: #ffffff;
}
.butto .fa {
  color: #ffffff;
}
.navigation {
  display: flex;
  margin-bottom: 50px;
}
.next {
  margin-left: auto;
}
.prev {
  margin-right: auto;
}
.down-icon {
  margin-left: 10px;
}
.w-50 {
  width: 50%;
  margin-left: auto;
}
.desk {
  display: none;
}
.fa {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}
i.fa.fa-plus,
i.fa.fa-minus {
  margin-left: auto;
}
.f14 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64);
}
.navi {
  cursor: pointer;
  font-size: 14px;
}
.navi:hover {
  font-weight: bold;
}
.vidTit {
  width: 80%;
  display: flex;
}
.ml {
  margin-left: 80px;
  margin-top: 10px;
}

.vidDow {
  margin-left: auto;
  text-align: left;
  font-size: 16px;
  margin-top: 0;

  color: rgba(0, 0, 0, 0.64);
  /* max-height: 70px; */
}
.course-Detail {
  width: 100%;
  padding: 40px;

  background: #fff;
  margin-left: auto !important;
  margin-right: auto !important;
}
audio {
  width: 100%;
}
.vvshow {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.viddipp {
  background: hsl(0, 0%, 97%);
  padding: 5px;
  max-height: 550px;
  overflow-y: scroll;
}
.vidtit {
  width: 100%;
  display: flex;
}
.imag img {
  width: 120px;
  height: 120px;
}
.viddip {
  margin: 10px auto;
  width: 80%;

  padding: 10px;
  background: hsl(0, 0%, 97%);
  border-bottom: 1px solid rgba(212, 212, 212, 0.3);
}
.viddip1 {
  display: flex;
  padding-top: 10px;
  border: 1px solid rgba(212, 212, 212, 0.3);
}

.download {
  color: #ffffff !important;
  border: 1px solid #5b84a7;
  padding: 4px 10px;
  border-radius: 3px;
  background: #5b84a7;
  cursor: pointer;
}
.downloa {
  color: #ffffff !important;
  border: 1px solid #5b84a7;
  padding: 2px 10px;
  border-radius: 3px;
  background: #5b84a7;
  cursor: pointer;
}
.tit {
  text-decoration: underline;
}
ol,
ul {
  list-style: none;
}
.df {
  display: flex;
}
.stream {
  height: 600px;
  overflow-y: scroll;
}
.download .fa {
  color: #ffffff !important;
}
.download .fa:hover {
  color: #5b84a7 !important;
  cursor: pointer;
}
.download:hover {
  color: #5b84a7 !important;
  border: 1px solid #5b84a7;
  padding: 4px 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
.downloadd {
  padding: 2px;
}
.bgAsh {
  background: #f5f5f5;
}
.area {
  color: #000 !important;
  background: #5b84a7 !important;
  cursor: pointer;
  border: 1px solid #5b84a7;
  text-align: center;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 5px;
}
.area:hover {
  color: #ffffff !important;
  font-weight: bold;
  cursor: pointer;
  background: #5b84a7 !important;
}
.area a .fa {
  color: #ffffff !important;
}

.area .fa {
  color: #ffffff !important;
}

.area .fab {
  color: #ffffff !important;
}

.videoguest {
  font-weight: bold;
  text-transform: uppercase;
}
.titleV {
  padding: 5px;
  text-transform: capitalize;
}
.downloadItes {
  font-weight: bold;
}
.imgDisp {
  width: 130px;
}
.coursetiles {
  border: 1px solid #5b84a7;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #5b84a7;
  margin-left: auto;
  margin-right: auto;
}
.venVideo {
  border-bottom: 1px solid #cccccc;
  padding: 4px;
  border-radius: 5px;
  margin: 10px;
}
.vendorVideo {
  width: 100%;
}
.venVid {
  background: #f5f5f5;
  max-height: 500px;
  overflow: scroll;
}

.vendorBook {
  width: 90%;
  margin: 40px;
}

.videoSubArray {
  cursor: pointer;
  border: 1px solid #5b84a7;
  box-shadow: 0 2px 3px #eee;
  margin: 4px;
}
ul {
  padding-left: 10px;
}

.podcastClass {
  margin: 50px 0;
  padding: 10px 150px;
  background: #ffffff;
}
.mob {
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
}
.mob .fa {
  color: #ffffff;
}

.mob:hover {
  color: #382d5f;
  font-weight: bold;
}

.videoBody {
  padding: 10px;
  font-size: 13px;
}

.orderDis {
  float: left;
  margin: 20px;
  border: 1px solid #e3ecf4;
  border-radius: 4px;
  padding: 10px;
}

.orderHistory {
  background: #ffffff;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
p img {
  width: 100px;
  height: 80px;
}

.cld-video-player {
  width: 100%;
}

.listVideoItem {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.itemPName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divc a,
.divc p {
  color: #000000;
}

.ordersa {
  margin-top: 50px;
}
a {
  color: #000000;
}
@media (max-width: 425px) {
  .course-Detail {
    width: 100%;
  }
  .desk {
    display: inline;
  }
  .p-2 {
    padding: 0 !important;
  }
  .p-0 {
    padding: 0 !important;
  }
  .p-4 {
    padding: 0 !important;
  }
  .viddow {
    font-size: 14px;
  }
  .coursetiles {
    margin-bottom: 20px;
  }
  .ml {
    margin-left: 0;
  }
  ul {
    padding: 0;
  }
  h4 {
    margin-top: -20px;
  }
  .viddip {
    width: 100%;
  }
  .mob {
    display: none;
  }
  .downloadd {
    padding: 2px 5px;
  }
  .area {
  }
}
</style>
