<template>
  <div class="cart course-Detail">
       <ul>
            <li v-for="(breadcrumb, index) in breadcrumbList"  v-bind:key="index" @click="routeTo(index)"  :class="{linked: !!breadcrumb.link}">
               {{breadcrumb.name}}
             </li>
       </ul>
    <div v-if="carts.length > 0" class="">
      <div class="row">
        <div class="col-md-8 pd-0" >
          <div class="col-md-12 cartTitle">
            <h2>Your Cart</h2>
          </div>
          <div class="cartTit" v-for="(cart, index) in carts" :key="index">
            <div class="imageDiver col-md-3 imageCont pd-0">
              <img :src="cart.coverImage" class="itemImg"/>
            </div>
            <div class="imageDiverr  col-md-6 p-2">
              <p class="headerOne">{{cart.title}}</p>
              <p>{{cart.prodType}}</p>

            </div>
            <div class="col-xs-3 p-2">
                     <p v-if="cart.amount">₦{{cart.amount}}.00</p>
                       <p v-else>₦{{cart.hardCopyPrice}}.00</p>

                <p v-if="cart.author || cart.publisher"> {{cart.author}}/{{cart.publisher}}</p>
              <div v-if="cart.myQty">Quantity: {{cart.myQty}}</div>
                <div class="trashRemove" @click="removeItem(cart.count, cart.uid)"><i class="fa fa-trash"></i> <span class="desktop">Remove</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pd-0">
          <div class="cartSummary">
          <div class="totalRow"> <h1 class="summ">Summary</h1></div>
          <div>
            <div class="totalRow">Do you have a Promo Code?</div>
            <div class="totalRow final"><span class="label">Subtotal</span><span class="value">₦{{totalAmount}}.00</span></div>
         <div class="totalRow-one toAnt final"><span class="label">Total</span><span class="value">₦{{totalAmount}}.00</span></div>
              <div class="totalRow-one"><router-link @click.native="scrollToTop" :to="{name: 'userCheckout'}" class="elevated_btn elevated_btn_sm text-main">Checkout</router-link></div>
          </div>
          </div>
        </div>
      </div>


    </div>
    <div v-else class="row">
      <div class="col-md-12 cartItem">
        <div class="cartI"> No Items in Cart</div>
      </div>
    </div>
  </div>

</template>

<script>
    export default {
        name: "user-cart-component",
        data: function(){
            return {
                carts: [],
                totalAmount: '',
                breadcrumbList:[],
                update:0
            }
        },
        watch: {
        '$route'(){
         this.updateList()
        },
        update:'getItems'
    },
        mounted() {
            this.updateList()
            this.getItems()
          
        },
        methods: {
          getItems(){
             let customerUser = JSON.parse(localStorage.getItem('authUser')) ? JSON.parse(localStorage.getItem('authUser')) : 0;
            let  sessionCart = JSON.parse(localStorage.getItem('userCart')) ? JSON.parse(localStorage.getItem('userCart')) : 0;
            let  itemArray = [];
            if(sessionCart instanceof Array){
                sessionCart.forEach((item) => {
                    itemArray.push({
                        id: item.productId,
                        quantity: item.quantity,
                        prodType: item.prodType,
                        mediaId: item.mediaId,
                        quantities: item.quantities
                    })
                });
            }

           let cart = {
               customerId: customerUser.id,
               itemId: itemArray,
               sessionCheck: customerUser.id === undefined ? 'NC': 'C'
           };

            axios.post('/api/post/cart/bk', JSON.parse(JSON.stringify(cart))).then((response) => {
                if(response.status === 200){

                  this.carts = response.data.item;
                
                  this.totalAmount = response.data.totalAmount
                }
            }).catch((error) => {
                console.log(error);
            })
          },
             routeTo(pRouteTo){
            if (this.breadcrumbList[pRouteTo].link) {
                    this.$router.push(this.breadcrumbList[pRouteTo].link)
            }

            },
            updateList(){
                     this.breadcrumbList = this.$route.meta.breadcrumb;


            },
            scrollToTop() {
                window.scrollTo(0,0);
            },
            removeItem(index, uid){
                if(index === undefined){
                    axios.get(`/api/post/cart/delete/${uid}`)
                       .then((response) => {
                    

                           if(response.status === 200){
                              this.update++
                              this.$emit('removeCart')
                           }
                       }).catch((error) => {
                       console.log(error);
                   })
                }else{
                    let appArray = JSON.parse(localStorage.getItem('userCart'));
                     appArray.splice(index, 1);
                    localStorage.setItem('userCart', JSON.stringify(appArray));
                   this.update++

                }

            }
        }
    }
</script>

<style scoped>
ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding: 20px;
    background:transparent;
    width: 100%;
  }
  ul > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    font-weight: bold;
    font-size: .8em;
    cursor: default;
    align-items: center;
  }
  ul > li:not(:last-child)::after {
    content: '/';
    float: right;
    font-size: .8em;
    margin: 0 .5em;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
  }

.cart{
    padding:0px 10px;
    min-height:100vh;
    background:#f7f8fa;
}
  .toAnt {
    font-size: 30px;
  }
  p{
      line-height:1.4;
      margin-bottom: 10px;
  }

  .headerOne {
    font-size: 16px;
    line-height: 1.2;

  }
  .headerOne h5{
      font-size: 16px;
  }

  .btn-checkout {
    background-color: #ffffff !important;
    color: #abc8df !important;
  }

  .summ {
    color: #ffffff;
  }

  .totalRow-one {
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    font-weight: bold;
        display: flex;
    justify-content: center;
    align-items: center;
  }

  .totalRow {
    padding: 10px 0;

    color: #ffffff;
    text-align: center;

  }


  .cartI {
    margin-left: auto;
    width: 20%;
    margin-right: auto;
    /* border: 2px solid #383749; */
  }

    .nav {
        display: block;
    }

  .cartItem {
    text-align: center;
  }

  .itemImg {
    width: 100px;
  }
.cartTitle {
    text-align: center;
    padding:10px;
    margin:10px;
    width:100%;

  }
  .cartTit {
    display: flex;
    padding:15px;
    background:white;
    margin:10px;
    width:100%;
    height:auto
  }
  .imageDiver {
    float:left;
    width:80px;
    height:100px;

  }
  .imageDiverr {
    float:left;
    width:100%;
    height:100px;

  }
  .imageDiver img{
      width:100%;
      height:100%;
      object-fit: cover;
  }

  .trashRemove {
    cursor: pointer;
  }

  .cartSummary {
    background-color: hsl(207, 43%, 20%);
    padding: 20px 0;
    margin: 10px;
  }

  .continue {
    background-color: #29303b !important;
    border: 1px solid black;
  }
  @media(max-width: 425px){
      .desktop{
          display : none;
      }
      h2{
        font-size: 17px;
      }
      .summ{
        font-size: 16px;
      }
      .pd-0{
          padding:0;
      }
      .p-2{
          padding:0.7rem !important;
      }
      .cart{
          padding: 0px;
      }
      .cartI{
          width: 70%;
      }
      .totalRow{
          padding:10px 0;
      }
      .toAnt{
          font-size: 16px;
      }
      .totalRow-one{
          padding-top:10px;
      }
      .trashRemove{
          text-align: center;
      }
      .cartTit{
          margin:0;
          margin-bottom: 10px;
      }
      .cartTitle{
          margin:10px 0;

      }
      .cartSummary{
          margin:0;
      }
      .btn-checkout{
          text-transform: capitalize;
      }
      .imageCont{
          width:120px;
          height:80px;
      }
      .headerOne{
        font-size: 14px;
      }
      .cartTit{
        font-size: 14px;
      }
      ul{
        padding-bottom:0 ;
      }
  }
</style>
