<template>
  <div class="userStyle">
    <div
      class="d-none shadow rounded"
      v-bind:class="{scrollUp:scrollUpButton}"
      @click="scrollToTop"
    >
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
      <p class="up">UP</p>
    </div>

    <div class="chatbox " v-if="showIcon" v-bind:class="{'bg-transparent':!showChat}">
      <span
        v-if="!showChat"
        @click="switchChat"
        class="chat-box chat bg-main px-2 py-1 cpointer shadow-lg"
      >
        <span v-if="showNotify" class="notify fa-1x fa-stack animated bounceIn infinite slower">
          <i class="fas fa-circle fa-stack-2x text-white" aria-hidden="true"></i>
          <span class="fa-stack-1x text-main">{{showNotify}}</span>
        </span>
        <span class>
          <i class="fas fa-comment-alt text-white pr-2"></i>
        </span>
        <span class="text text-white">Chat</span>
      </span>

      <!-- <chat v-if="showChat" @switch="switchChat" :left="left"></chat> -->
      <div v-if="showChat" class="group_list shadow">
        <header class="p-2 px-3 btn-compliment text-white">
          <p>Group chat</p>
          <p>
            <i class="fa fa-minus text-white" aria-hidden="true" @click="closeChat"></i>
          </p>
        </header>
        <div class="form-group p-2">
          <i class="fa fa-search search" aria-hidden="true"></i>
            <input type="text"
              class="form-control rounded-pill" aria-describedby="helpId" placeholder="search">        
        </div>
        <ul v-if="newRealOrder.length">
          <li
            class="p-2 px-3"
            v-for="(group,idx) in newRealOrder"
            :key="idx"
            @click="goTo(group.id)"
          >{{group.title}}</li>
        </ul>
         <ul v-else>
           <li  class="p-2 px-3 text-center">
             <p>No Group yet</p> 
              <img class="sad" src="/images/sad.svg" alt="">
              <p> <router-link to="/courses" class="text-main">Get a course now</router-link></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero-content">
      <app-header :cartNo="cartNo" :authUs="authUs" :badge="badge"></app-header>
    </div>
    <notifications group="cart" classes="my-style" />
    <router-view
     :currentSub='currentSub'
      @update-cart="cartNo = $event"
      @clearCartCount="cartNo = $event"
      @activity="updateActivity"
      @top-content="topContent"
      @top-industry="topIndustry"
      @add-gender="addGender"
      @add-location="addLocation"
      @add-age="addAge"
      @likes="like"
      @reach="addReach"
      @getCartCount="cartNo = $event"
      @getrr="cartId = $event"
      @interaction="addInteraction"
      @sendValue="sendPaymentValue = $event"
      @authenicatedHeader="authUs = $event"
      @notify="notify"
      @getCart="getCart"
      @plusCart="plusCart"
      @removeCart="removeCart"
      :badge="badge"
    ></router-view>

  
    <!-- <app-popup></app-popup> -->
  </div>
</template>

<script>
import chat from "./components/chatComponent.vue";
import Header from "./components/userHeaderComponent";
import PopUp from "./components/userPopupComponent";

export default {
  name: "user-home-page-component",
  data: function() {
    return {
      showChat: false,
      usersub: 0,
      cartNo: "",
      cartId: "",
      sendPaymentValue: [],
      authUs: false,
      searchMydata: "",
      showIcon: true,
      showNotify: 0,
      left: 45,
      scrollPos: 0,
      currentHeight: 0,
      scrollUpButton: false,
      scrollPos: 0,
      currentHeight: 0,
      swing: false,
      badge: 0,
      realOrder: [],
      newRealOrder: [],
      currentSub:null
    };
  },
  watch: {
    $route: "update",
    scrollPos: "scrolling"
  },

  created() {
   
    Echo.join("chat").listen("MessageSent", e => {
      this.showNotify++;
      localStorage.setItem("notify", this.showNotify);
    });
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user === null) {
      this.showIcon = false;
    } else {
      this.getUserSub();
    }
  },

  mounted() {
    this.getCourse();
    window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      window.addEventListener("scroll", e => {
        this.scrollPos = window.scrollY;
        this.currentHeight = window.innerHeight;
      });
    }
    let note = localStorage.getItem("notify");
    if (note !== null) {
      this.showNotify = note;
    }
    this.chatLeft();

    let sessionCart = JSON.parse(localStorage.getItem("userCart"));
    if (sessionCart !== null) {
      this.cartNo = sessionCart.length;
    }
    this.getCart();
    if (user != null) {
      this.authUs = true;

      axios
        .get("/api/clearOrder", {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {});
    }
  },
  methods: {
     
    goTo(id) {
      this.$router.push({
        path:`/group-chat/${id}`
      });
    },
    getCourse() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user != null) {
        this.token = user.access_token;
        let newOrder = [];
        axios
          .get(`/api/user/orders`, {
            headers: { Authorization: `Bearer ${user.access_token}` }
          })
          .then(response => {
            this.items = response.data.data.filter(
              item => item.referenceNo !== null
            );
            this.items.forEach((item, index) => {
              item.orderDetail.forEach((items, indexs) => {
                let product = {};
                product.title = items.title;
                product.id = items.productId;
                this.realOrder.push(product);
              });
            });
            let jsonObject = this.realOrder.map(JSON.stringify);
            let uniqueSet = new Set(jsonObject);
            this.newRealOrder = Array.from(uniqueSet).map(JSON.parse);
          });
      }
    },
    plusCart(){
      this.badge++
    },
    removeCart(){
      this.badge--
    },
    getCart() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get(`/api/no-cart/${user.id}`, {
            headers: { Authorization: `Bearer ${user.access_token}` }
          })
          .then(response => {
            if (response.status === 200) {
              this.badge = response.data;
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    notify(type, product) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        type: type,
        product: product
      };
      axios
        .post(`/api/send-notification`, data, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(res => {})
        .catch(err => {});
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    },
    scrolling() {
      if (this.scrollPos > window.innerHeight * 0.3) {
        this.scrollUpButton = true;
      } else {
        this.scrollUpButton = false;
      }

      if (this.scrollPos > window.innerHeight * 0.6) {
        this.swing = true;
      }
    },
    chatLeft() {
      if (this.$route.path == "/chat") {
        this.left = 45;
      } else {
        this.left = 30;
      }
    },

    switchChat() {
      this.showChat = !this.showChat;
      localStorage.removeItem("notify");
      this.showNotify = 0;
    },
    closeChat() {
      this.showChat = false;
    },
    gotoChat() {
      this.$router.push("/chat");
    },
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      if (user !== null) {
        axios.get(`/api/user-sub/${user.id}`).then(response => {
          if (response.status == 200) {
            this.usersub = Math.round(response.data);
              this.currentSub = Math.round(response.data);
            this.hideChat();
          }
        });
      }
    },
    hideChat() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        // if (this.usersub == 3 || user.vendor_user_id != 0) {
          if (
            this.$route.path === "/chat" ||
            this.$route.name === "PrivateChat" ||
            this.$route.name === "GroupChat"
          ) {
            this.showIcon = false;
          } else {
            this.showIcon = true;
          }
        // } else {
        //   this.showIcon = false;
        // }
      }
    },
    addInteraction(vendor, type) {
      let data = {};
      if (type === "views") {
        data = {
          vendor_id: vendor,
          likes: 0,
          shares: 0,
          views: 1
        };
      }
      if (type === "shares") {
        data = {
          vendor_id: vendor,
          likes: 0,
          shares: 1,
          views: 0
        };
      }
      if (type === "likes") {
        data = {
          vendor_id: vendor,
          likes: 1,
          shares: 0,
          views: 0
        };
      }

      axios.post(`/api/add-interaction`, data).then();
    },
    updateActivity(id, profile, content) {
      let data = {
        vendor_id: id,
        profile_visits: profile,
        content_views: content
      };

      axios.post(`/api/add-activity`, data).then(response => {});
    },

    topContent(id, content_id, count) {
      let data = {
        vendor_id: id,
        content_id: content_id,
        count: count
      };

      axios.post(`/api/add-top-content`, data).then(response => {});
    },
    topIndustry(id, industry, count) {
      let data = {
        vendor_id: id,
        industry: industry,
        count: count
      };

      axios.post(`/api/add-top-industry`, data).then(response => {});
    },
    addGender(id, type) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {};
      if (type === "male") {
        data = {
          user_id: user.id,
          vendor_id: id,
          male: 1,
          female: 0
        };
      }
      if (type === "female") {
        data = {
          user_id: user.id,
          vendor_id: id,
          male: 0,
          female: 1
        };
      }
      if (user.gender !== undefined && user.gender !== null) {
        axios.post(`/api/add-gender`, data).then(response => {});
      }
    },
    addLocation(id, locale, count) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        user_id: user.id,
        vendor_id: id,
        locale: locale,
        count: 1
      };
      if (user.location !== undefined && user.location !== null) {
        axios.post(`/api/add-location`, data).then(response => {});
      }
    },
    addAge(id, age) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        user_id: user.id,
        vendor_id: id,
        age: age,
        count: 1
      };

      if (user.age !== undefined && user.age !== null) {
        axios.post(`/api/add-age`, data).then(response => {});
      }
    },

    addReach(user, product, vendor) {
      let data = {
        user_id: user,
        product_id: product,
        vendor_id: vendor
      };

      axios.post(`/api/add-reach`, data).then(response => {});
    },

    like(user, product, vendor, type) {
      if (type === "like") {
        var data = {
          user_id: user,
          product_id: product,
          vendor_id: vendor,
          like: 1,
          unlike: 0
        };
      }
      if (type === "unlike") {
        var data = {
          user_id: user,
          product_id: product,
          vendor_id: vendor,
          like: 0,
          unlike: 1
        };
      }

      axios.post(`/api/add-like`, data).then(response => {});
    },

    update() {
      this.hideChat();
      this.chatLeft();
      this.closeChat();
         this.getUserSub();
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user != null) {
        this.authUs = true;
      } else {
        this.authUs = false;
      }
    }
  },
  components: {
    "app-header": Header,
    "app-popup": PopUp,
  
    chat
  }
};
</script>
<style scoped>
.group_list {
  border-radius: 5px;
  height: 350px;
  overflow: scroll;
  min-width: 250px;
}
.form-group{
  position:relative;
   border-bottom: 1px solid rgb(204, 204, 204, 0.5);
}
.search{
  position:absolute;
  top: 50%;
  font-size: 14px;
  margin-top: -7px;
  right:15px;
  color: rgba(0, 0, 0, 0.5);
}
ul,
ol {
  list-style: none;
}
li {
  font-size: 14px;
}
.group_list ul li {
  border-bottom: 1px solid rgb(204, 204, 204, 0.5);
}
.group_list ul li:hover {
  background: rgb(204, 204, 204, 0.5);
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
}
header p {
  font-size: 14.5px;
  text-transform: capitalize;
}
.chat-box {
  font-size: 14px;
  border-radius: 3px;
}
.chat-box .icon {
}
.chat-box .text {
}
.chatbox {
  position: fixed;
  bottom: 50px;
  left: 30px;
  z-index: 9;
  background-color: #f7f8fa;
}
.chatIcon {
  font-size: 14px;
  margin-top: -4px;
}
.mobile {
  display: none;
}
.up {
  transform: rotate(-90deg);
  margin: 0;
}
.sad{
  opacity: .4;
  width:80px;
}
.chat {
  position: relative;
}
.notify {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 5;
}
.scrollUp {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.74);
  opacity: 0.5;
  right: 30px;
  z-index: 99;
  bottom: 30px;
  color: white;
  font-size: 14px;
}

.scrollUp:hover {
  opacity: 1;
}
.fa-1x {
  font-size: 0.7em;
}
.foot {
  /* position: absolute;
  bottom: 0;
  height: 70px;
  padding-top: 70px; */
  width: 100%;
}
.fa-2x {
  font-size: 1.45em;
}
@media (max-width: 425px) {
  .chatbox {
    bottom: 40px;
    left: 10px;
  }
  .scrollUp {
    font-size: 12px;
    right: 15px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
</style>
