<template>
  <div>
    <div class="loaderShadow" v-if="isActive">
      <div class="loadContainer">
        <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
        <div class="loader"></div>
      </div>
    </div>

    <div class="course-Detail" v-else>
      <!-- <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading> -->

    

      <div class="banner">
        <img class="icon" src="/images/video-banner.jpg" alt="banner" />
        <h1 class="banner-text">Videos</h1>
      </div>

      <div class="row rowcontainer shadow">
        <ul class="w-100">
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>

        <div class="row rowBanner w-100">
          <div class="col-md-6 col-sm-6 col-xs-6 search">
            <div class="searchBar">
              <div class="searchBarContent mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search title"
                  v-model="searchItem"
                  @keyup="searchDataItem()"
                />
                <div class="search-btn mt-0 ml-0">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 vidSearch">
            <select type="search" class="form-control">
              <option>Video</option>
            </select>
          </div>
          <!-- <div class="col-md-3 col-sm-3 col-xs-3 tagSearch">
            <input type="text" class="form-control" placeholder="Tags" />
          </div> -->
        </div>

        <div v-if="filterItem.length === 0" class="noResult">{{loading}}</div>
        <div
          class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoDisTile shadow-sm"
          v-if="videos.length > 0"
          v-for="(video,idx) in  filterItem"
          :key="idx"
        >
          <div
            v-if="video.prodCategoryType === 'BP' || video.prodCategoryType === 'EP' ||  video.prodCategoryType === 'VP'  "
            class="ribbon ribbon-top-left"
          >
            <span>Paid</span>
          </div>

          <div v-else class="ribbon ribbon-free ribbon-top-left">
            <span v-if=" video.subLevel == 0">Free</span>
            <span v-else style="font-size:10px">Subscription</span>
          </div>
          <div class="col-sm-4 col-xs-6 related_vid">
            <div class="shadowA" @click="loader"></div>
            <router-link
              data-dismiss="modal"
              :to="{
									name: 'Video',
									params: { id: video.uid }
								}"
            >
              <div class="playCont" @click="loader">
                <i class="fa fa-play playIcon" aria-hidden="true"></i>
              </div>
              <img :src="video.poster" alt />
            </router-link>
          </div>

          <div class="col-sm-8 col-xs-6 related_txt">
            <div class="ddVideo">
              <router-link
                :to="{
									name: 'Video',
									params: { id: video.uid }
								}"
              >
                <p @click="loader" class="videoTitle toCaps">{{ video.title.toLowerCase() }}</p>
              </router-link>

              <p class="videoOverview">{{ video.description }}</p>

              <!-- <p class="videoCat">Category: {{video.category}}</p> -->
              <div class="smatter">
                {{ video.subjectMatter }}
               <!-- <span v-if="video.industryName"> {{video.industryName}}</span> -->
               
              </div>
            </div>

            <div class="bottom">
              <!-- <div  v-if="video.subscribePrice == '' ||video.streamPrice == ''||video.videoPrice == ''">

                                      <div
                                        v-if="!inLibrary"
                                     class="newButton " id="send" @click="
													AddVideoToLibrary(
														video.uid,
														video.title)"> <i class="fa fa-paper-plane faBu" aria-hidden="true"></i>
                                       <span class="buttonText"  > Add to BizLibrary</span>


                                     </div>
                                        <div
                                        v-else
                                     class="newButton addedButton" id="send"> <i class="fa fa-paper-plane faBu" aria-hidden="true"></i>

                                       <span  class="buttonText " > Added to BizLibrary</span>

                                     </div>
              </div>-->

              <!-- <div v-else>
                                         <div
                                        v-if="!inLibrary"
                                      class="newButton" id="addCart" @click="
													addToCart(video.uid)"> <i class="fa fa-cart-plus faBu" aria-hidden="true"></i>
                                       <span class="buttonText"  >Add to Cart</span>


                                     </div>
                                      <div
                                     v-else
                                       class="newButton addedButton" id="addCart"> <i class="fa fa-cart-plus faBu" aria-hidden="true"></i>

                                       <span  class="buttonText " >Purchased</span>

                                     </div>
              </div>-->

              <!-- <div  v-if="added" class="newButton addedButton" id="addWishlist"><i class="fa fa-heart faBu" aria-hidden="true"></i>
              <span  class="buttonText ">Added to Wishlist</span>-->

              <!-- </div> -->
              <!-- <div class="newButtonClone" id="addWishlist" @click="addingToWishlist(video.uid)">
            
              <span class="fa-stack fa-2x mr-2">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
              </span>

              <span class="buttonText">Add to Wishlist</span>
              </div>-->
<!-- 
              <button
                type="button"
                class="elevated_btn btn-compliment text-white desktop"
                data-toggle="modal"
                data-target="#exampleModal"
                @click="openModal(video.uid)"
              >View</button> -->

               <router-link
                  :to="{
									name: 'Video',
									params: { id: video.uid }
								}">
              <button
                type="button"
                class="elevated_btn elevated_btn_sm btn-compliment text-white "
                @click="loader"
              >
               
                View
              </button>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import SocialSharing from "vue-social-sharing";
import { getCustomerHeader } from "../config";
import VideoBanner from "./components/categoryVideoBannerComponent";

export default {
  name: "user-admin-video-component",
  data: function() {
    return {
      inCart: false,
      url: `https://bizguruh.com/videos`,
      loading: "",
      videos: [],
      videoTag: [],
      epiFade: true,
      searchItem: "",
      epiModal: true,
      videoDetail: {},
   
      player: "",
      relatedVideos: [],
      anonymousCart: [],
      relatedPlaylist: "",
      authenticate: false,
      price: "",
      title: "",
      shipTab: true,
      reviewTabSwitch: false,
      shareTabSwitch: false,
      episodeTabSwitch: true,
      reviewTab: true,
      shareTab: true,
      episodeadded: null,
      aboutWriterTabSwitch: false,
      aboutWriterTab: true,
      episodeTab: true,
      shipTabSwitch: false,
      episode: true,
      shipping: false,
      reviews: false,
      share: false,
      aboutWriter: false,
      allReviews: [],
      review: {
        productId: "",
        title: "",
        description: "",
        rating: 0
      },
      star: 0,
      NotratedOne: true,
      NotratedTwo: true,
      RatedTwo: false,
      RatedOne: false,
      NotratedThree: true,
      RatedThree: false,
      NotratedFour: true,
      RatedFour: false,
      NotratedFive: true,
      RatedFive: false,
      rateFa: true,
      episodeArray: [],
      isActive: true,
      breadcrumbList: [],

      user: {},
      email: "",
      user_id: "",
      loginCart: [],
      hardCopy: false,
      hardpriceCont: false,
      softCopy: false,
      softpriceCont: true,
      readOnline: false,
      readOnlinepriceCont: true,
      purchaseCheck: false,
      subjectMatter: "",
      industry_name: "",
      startDate: null,
      startDateParsed: null,
      currentDate: null,
      endDate: null,
      freeTrial: true,
      vendorInfo: [],
      checkLibrary: [],
      inLibrary: false,
      usersub: null,
      showUpgrade: false,
      added: false,
      wishes: 0,
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,

        breakpoints: {
          320: {
            slidesPerView: 1,
            spaceBetween: 5
          },

          425: {
            slidesPerView: 2,
            spaceBetween: 5
          },
          640: {
            slidesPerView: 3,
            spaceBetween: 30
          }
        },
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      isLiked: false,
      isUnliked: false,
      allLikes: [],
      allUnlikes: [],
      update: 0
    };
  },
  components: {
    "app-videoBanner": VideoBanner,
    SocialSharing,
   
  },

  mounted() {
      this.getVideo()
    this.updateList();


    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.email = user.email;
      this.user_id = user.id;
      this.user = user;
      this.authenticate = true;
    }

  

    if (this.filterItem.length === 0) {
      this.loading = "loading content ..";
      setTimeout(() => {
        this.loading = "No content ..";
      }, 30000);
    }
  },
  computed: {
    myLikes() {
      return this.allLikes.length;
    },
    myUnLikes() {
      return this.allUnlikes.length;
    },
    filterItem() {
      if (this.searchItem !== "") {
        return this.videos.filter(item => {
          return item.title
            .toLowerCase()
            .includes(this.searchItem.toLowerCase());
        });
      } else {
        return this.videos;
      }
    }
  },
  watch: {
    $route() {
      this.updateList();
    },
    update: "updateThis"
  },
  methods: {
    getVideo(){
       axios.get("/api/admin/product/bizguruh/Videos").then(response => {
      if (response.status === 200) {
        let product = response.data.data.reverse();

        product.forEach((item, index) => {
          item.webinar.category = item.category.name;
          item.webinar.uid = item.id;
          item.webinar.prodCategoryType = item.prodCategoryType;
          item.webinar.poster = item.coverImage;
          item.webinar.subLevel = item.subscriptionLevel;
          item.webinar.videoPrice = item.videoPrice;
          item.webinar.streamPrice = item.streamPrice;
          item.webinar.subscribePrice = item.subscribePrice;
          item.webinar.subjectMatter = item.subjectMatter.name.toLowerCase();
          // item.webinar.industryName = item.industry.name;
          
         

        
            this.isActive = false;
            this.videos.push(item.webinar);
         
        });

      }
    });
    },
    shareNo() {
      this.$emit("interaction", vendorInfo.id, "shares");
    },
    updateThis() {
      this.getLike(this.videoDetail.product_id);
      this.getUnLike(this.videoDetail.product_id);
    },
    checkLike(user, product) {
      axios.get(`/api/get-likes/${user}/${product}`).then(response => {
        if (response.status === 200) {
          if (response.data.like == 1 && response.data.unlike == 0) {
            this.isLiked = true;
            this.isUnliked = false;
          }
          if (response.data.unlike == 1 && response.data.like == 0) {
            this.isLiked = false;
            this.isUnliked = true;
          }
          if (response.data.unlike == 0 && response.data.like == 0) {
            this.isLiked = false;
            this.isUnliked = false;
          }
        }
      });
    },
    getLike(product) {
      axios.get(`/api/get-all-likes/${product}`).then(response => {
        if (response.status === 200) {
          this.allLikes = response.data;
        }
      });
    },
    getUnLike(product) {
      axios.get(`/api/get-un-likes/${product}`).then(response => {
        if (response.status === 200) {
          this.allUnlikes = response.data;
        }
      });
    },
    like(user, product, vendor, type) {
      if (!this.isLiked) {
        this.update++;
        this.isLiked = true;
        this.isUnliked = false;
        this.$emit("likes", user, product, vendor, type);
        this.$emit("interaction", vendor, "likes");
      }
    },
    unlike(user, product, vendor, type) {
      if (!this.isUnliked) {
        this.update++;
        this.isLiked = false;
        this.isUnliked = true;
        this.$emit("likes", user, product, vendor, type);
      }
    },
    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    shareNow() {
      this.share = !this.share;
    },
    loader() {
      this.isActive = true;
    },
    checkEpisodeInLibrary(id) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          response.data.data.forEach(element => {
            element.orderDetail.forEach(item => {
              if (item.type === "VIDEOS") {
                this.checkLibrary.push(item);
              }
            });
          });
          this.checkLibrary.forEach(element => {
            if (Number(element.itemPurchase) === Number(id)) {
              this.episodeadded = Number(id);
            }
          });
        });
    },

    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    searchDataItem() {
      this.$emit("sendSearchData", this.searchItem);
      this.loading = "loading content";
      if (this.filterItem.length === 0) {
        setTimeout(() => {
          this.loading = "No search result ..";
        }, 3000);
      }
    },

    wishlist(product) {
      let user = JSON.parse(localStorage.getItem("authUser"));

      axios
        .get(`/api/wish-list/${product}`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if ((response.status = 200)) {
            if (response.data === true) {
              this.added = true;
            } else {
              this.added = false;
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addingToWishlist(product) {
      if (this.authenticate === false) {
        this.$toasted.error("Login to add to wishlist");
      } else {
        let user = JSON.parse(localStorage.getItem("authUser"));

        let data = {
          userId: this.user.id,
          productId: product,
          vendorId: 1
        };

        axios
          .get(`/api/wish-list/${product}`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            if ((response.status = 200)) {
              if (response.data === true) {
                this.$toasted.error("Already added to wishlist");
              } else {
                axios
                  .post("/api/wishlist", JSON.parse(JSON.stringify(data)), {
                    headers: {
                      Authorization: `Bearer ${this.user.access_token}`
                    }
                  })
                  .then(response => {
                    if (response.status === 201) {
                      this.$toasted.success("Successfully added to wishlist");
                    } else {
                      this.$toasted.error("Already added to wishlist");
                    }
                  });
              }
            }
          });
      }
    },

    addToWishlist() {
      if (this.authenticate === false) {
        this.$toasted.error("Login to add to wishlist");
      } else {
        let data = {
          userId: this.user_id,
          productId: this.videoDetail.uid,
          vendorId: 1
        };
        if (this.added) {
          this.$toasted.error("Already added to wishlist");
        } else {
          axios
            .post("/api/wishlist", JSON.parse(JSON.stringify(data)), {
              headers: {
                Authorization: `Bearer ${this.user.access_token}`
              }
            })
            .then(response => {
              if (response.status === 201) {
                this.added = true;
                this.$toasted.success("Successfully added to wishlist");
              } else {
                this.$toasted.error("Already added to wishlist");
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      }
    },

    AddVideoToLibrary(id, name) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Subscription Video",
        name: name
      };

      if (this.freeTrial === true || this.usersub > 0) {
        if (this.usersub >= this.videoDetail.subLevel) {
          axios
            .post(
              `/api/user/sendvideotolibrary`,
              JSON.parse(JSON.stringify(data)),
              {
                headers: {
                  Authorization: `Bearer ${this.user.access_token}`
                }
              }
            )
            .then(response => {
              if (response.status === 201) {
                this.$toasted.success("Successfully added to BizLibrary");
                this.inLibrary = true;
              } else if (response.data == "Order Already Added") {
                this.$toasted.error(
                  "You have already added this product before"
                );
              } else if (
                response.data.status === 99 ||
                response.data === " " ||
                response.data.data === "error"
              ) {
                this.showUpgrade = true;
              } else {
                this.showUpgrade = true;
              }
            })
            .catch(error => {
              if (error.response.data.message === "Unauthenticated.") {
                this.$router.push({
                  name: "auth",
                  params: { name: "login" },
                  query: { redirect: this.$router.fullPath }
                });
              } else {
                this.$toasted.error(error.response.data.message);
              }
            });
        } else {
          this.showUpgrade = true;
        }
      } else {
        this.showUpgrade = true;
      }
    },
    getProductReviews(id) {
      let data = {
        id: id
      };
      axios
        .post("/api/product/get-reviews", JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            this.allReviews = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    watchEpisodeNow(e, vid, id, price) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Stream Subscription Episode Video",
        type: "EV",
        vid: vid
      };
      if (
        this.freeTrial === true ||
        this.usersub >= this.videoDetail.subLevel
      ) {
        axios
          .post(
            "/api/user/watchnowepisodemedia",
            JSON.parse(JSON.stringify(data)),
            {
              headers: {
                Authorization: `Bearer ${this.user.access_token}`
              }
            }
          )
          .then(response => {
            localStorage.removeItem("mediaStream");

            if (response.status === 200) {
              if (response.data === false) {
                this.showUpgrade = true;
              } else {
                localStorage.setItem("mediaStream", JSON.stringify(data));
                let routeData = this.$router.resolve({
                  name: "WatchMedia",
                  params: {
                    id: this.videoDetail.uid,
                    prodtype: "Videos",
                    gettype: "insight-streaming-video",
                    type: "AV",
                    vid: "videos"
                  }
                });
                window.open(routeData.href);
              }
            }
          })
          .catch(error => {
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: this.$router.fullPath }
              });
            } else {
              this.$toasted.error(error.response.data.message);
            }
          });
      } else {
        this.showUpgrade = true;
      }
    },
    sendEpisodeToCart(vid, id, name) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Subscription Episode Video",
        vid: vid,
        name: name
      };

      if (
        this.freeTrial === true ||
        this.usersub >= this.videoDetail.subLevel
      ) {
        axios
          .post(
            `/api/user/sendvideoepisodetolibrary`,
            JSON.parse(JSON.stringify(data)),
            {
              headers: {
                Authorization: `Bearer ${this.user.access_token}`
              }
            }
          )
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Successfully added to BizLibrary");
              this.checkEpisodeInLibrary(vid);
            } else if (response.data == "you have added this product already") {
              this.$toasted.error("You have already added this product before");
            } else if (
              response.data.status === 99 ||
              response.data === " " ||
              response.data.data === "error"
            ) {
              this.showUpgrade = true;
            } else {
              this.showUpgrade = true;
            }
          })
          .catch(error => {
            console.log(error);
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: this.$router.fullPath }
              });
            } else {
              this.$toasted.error(error.response.data.message);
              console.log(error.response.data.message);
            }
          });
      } else {
        //        this.$toasted.error(
        // 	 	"Library Unavailable for your subscription level"
        //   );

        this.showUpgrade = true;
      }
    },

    showTabs(params) {
      switch (params) {
        case "shipping":
          this.shipping = this.shipTabSwitch = this.reviewTab = this.shareTab = this.aboutWriterTab = true;
          this.reviews = this.aboutWriter = this.episode = this.shipTab = this.reviewTabSwitch = this.shareTabSwitch = this.shareTabSwitch = this.share = this.episodeTabSwitch = this.aboutWriter = this.aboutWriterTabSwitch = false;
          break;
        case "reviews":
          this.reviewTabSwitch = this.reviews = this.shipTab = this.shareTab = this.aboutWriterTab = true;
          this.shipTabSwitch = this.aboutWriter = this.episode = this.reviewTab = this.shipping = this.shareTabSwitch = this.share = this.episodeTabSwitch = this.aboutWriterTabSwitch = false;
          break;
        case "share":
          this.shipping = this.aboutWriter = this.episode = this.reviews = this.reviewTabSwitch = this.shipTab = this.shareTab = this.shipTabSwitch = this.episodeTabSwitch = this.aboutWriterTabSwitch = false;
          this.share = this.shareTabSwitch = this.reviewTab = this.shipTab = this.aboutWriterTab = true;
          break;
        case "episode":
          this.shipping = this.aboutWriter = this.share = this.reviews = this.reviewTabSwitch = this.shipTabSwitch = this.shareTabSwitch = false;
          this.episode = this.episodeTabSwitch = this.reviewTab = this.shipTab = this.shareTab = true;
          break;
        case "aboutWriter":
          this.aboutWriter = this.aboutWriterTabSwitch = this.shareTab = this.reviewTab = true;
          this.aboutWriterTab = this.shareTabSwitch = this.reviewTabSwitch = this.episodeTabSwitch = this.shipping = this.share = this.reviews = this.episode = false;

          break;
        default:
          this.shipping = false;
          this.reviews = false;
      }
    },
    getRelatedVideoProduct(id) {
      axios
        .get(`/api/get/related/Videos/${id}`)
        .then(response => {
          if (response.status === 200) {
            let relatedProduct = response.data.data;
            relatedProduct.forEach((item, index) => {
              item.webinar.category = item.category.name;
              item.webinar.uid = item.id;
              item.webinar.cover = item.coverImage;
              this.relatedVideos.push(item.webinar);
              // this.relatedPlaylist[index].source(item.webinar.excerptsPublicId);
            });

            this.relatedPlaylist.forEach((item, index) => {
              item.source(this.relatedVideos[index].excerptsPublicId);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    openModal(id) {
      this.epiFade = false;
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/product-detail/${id}`)
        .then(response => {
          if (response.status === 200) {
            this.videoDetail = response.data.data[0].webinar;
            this.videoDetail.subscribePrice =
              response.data.data[0].subscribePrice;
            this.videoDetail.streamPrice = response.data.data[0].streamPrice;
            this.videoDetail.uid = response.data.data[0].id;
            this.videoDetail.industry = response.data.data[0].industry.name;

            this.videoDetail.subLevel = response.data.data[0].subscriptionLevel;

            this.videoDetail.videoPrice = response.data.data[0].videoPrice;

            this.getMediaDetail(this.videoDetail.id);
            this.getProductReviews(this.videoDetail.uid);
            this.player.forEach(item => {
              item.source(this.videoDetail.excerptsPublicId);
            });
            this.getRelatedVideoProduct(id);
            axios
              .get(`/api/getaVendorDetail/${this.videoDetail.uid}`)
              .then(response => {
                this.vendorInfo = response.data;
                if (user !== null) {
                  this.$emit("activity", this.vendorInfo.id, 0, 1);
                  this.$emit(
                    "top-content",
                    this.vendorInfo.id,
                    this.videoDetail.uid,
                    1
                  );
                  this.$emit(
                    "top-industry",
                    this.vendorInfo.id,
                    this.videoDetail.industry,
                    1
                  );
                  this.$emit(
                    "reach",
                    user.id,
                    this.videoDetail.product_id,
                    this.vendorInfo.id
                  );
                  this.$emit("interaction", this.vendorInfo.id, "views");
                  this.checkLike(user.id, this.videoDetail.product_id);
                  this.getLike(this.videoDetail.product_id);
                  this.$emit("add-location", this.vendorInfo.id, user.location);
                  this.$emit("add-gender", this.vendorInfo.id, user.gender);
                  this.getUnLike(this.videoDetail.product_id);
                  this.$emit("add-age", this.vendorInfo.id, user.age);
                }
              });

            if (!isNaN(parseInt(this.videoDetail.videoPrice))) {
              this.title = "Video";
              this.hardpriceCont = false;
              this.hardCopy = true;
              // this.price = this.videoDetail.videoPrice;
            } else if (!isNaN(parseInt(this.videoDetail.subscribePrice))) {
              this.title = "Subscription";
              this.softpriceCont = false;
              this.softCopy = true;
              this.price = this.videoDetail.subscribePrice;
            } else if (!isNaN(parseInt(this.videoDetail.streamPrice))) {
              this.title = "Streaming";
              this.readOnlinepriceCont = false;
              this.readOnline = true;
              this.price = this.videoDetail.streamPrice;
            }

            if (
              this.videoDetail.subscribePrice !== "" ||
              this.videoDetail.streamPrice !== "" ||
              this.videoDetail.videoPrice !== ""
            ) {
              this.purchaseCheck = true;
            } else {
              this.purchaseCheck = false;
            }

            this.checkInLibrary(this.videoDetail.uid);
            if (this.user !== null) {
              this.wishlist(this.videoDetail.uid);

              axios
                .post(`/api/cart/check/${this.user.id}/${this.videoDetail.uid}`)
                .then(response => {
                  if (response.data === true) {
                    this.inCart = true;
                  } else {
                    this.inCart = false;
                  }
                });
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    togglePrice(price) {
      // if (price === "videoPrice") {
      // 	this.price = this.videoDetail.videoPrice;
      // 	this.hardpriceCont = this.softCopy = this.readOnline = false;
      // 	this.hardCopy = this.softpriceCont = this.readOnlinepriceCont = true;
      // 	this.title = "Video";
      // } else
      if (price === "streamPrice") {
        this.price = this.videoDetail.streamPrice;
        this.softpriceCont = this.hardCopy = this.readOnline = false;
        this.softCopy = this.hardpriceCont = this.readOnlinepriceCont = true;
        this.title = "Streaming";
      } else if (price === "subscribePrice") {
        this.price = this.videoDetail.subscribePrice;
        this.readOnlinepriceCont = this.hardCopy = this.softCopy = false;
        this.readOnline = this.softpriceCont = this.hardpriceCont = true;
        this.title = "Subscription";
      }
    },
    addEpisodeToCart(e, vid, id, price) {
      e.preventDefault();

      let cart = {
        productId: id,
        mediaId: vid,
        price: price,
        prodType: "VideoEpisode",
        quantity: 0,
        vidEpisode: true
      };

      if (this.authenticate === false) {
        cart.cartNum = 1;
        this.anonymousCart.push(cart);
        if (JSON.parse(localStorage.getItem("userCart")) === null) {
          localStorage.setItem("userCart", JSON.stringify(this.anonymousCart));
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let cartCount = sessionCart.length;
          this.$emit("getCartCount", cartCount);
        } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let ss = sessionCart.length;
          sessionCart[ss] = cart;
          localStorage.setItem("userCart", JSON.stringify(sessionCart));
          let a = JSON.parse(localStorage.getItem("userCart"));
          let aCount = a.length;
          this.$emit("getCartCount", aCount);
        }
      } else {
        this.addCart(cart);
      }
    },
    rateWithStar(num) {
      switch (num) {
        case "1":
          this.NotratedOne = !this.NotratedOne;
          this.RatedOne = !this.RatedOne;
          this.review.rating = 1;
          break;
        case "2":
          this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
          this.RatedTwo = this.RatedOne = !this.RatedTwo;
          this.review.rating = 2;
          break;
        case "3":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this
            .NotratedThree;
          this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
          this.review.rating = 3;
          break;
        case "4":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this
            .NotratedFour;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this
            .RatedFour;
          this.review.rating = 4;
          break;
        case "5":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this
            .NotratedFive;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this
            .RatedFive;
          this.review.rating = 5;
          break;
        default:
          this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
          this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
      }
    },
    submitReview() {
      if (this.authenticate === false) {
        this.$toasted.error("You must log in to review a product");
      } else {
        this.review.productId = this.videoDetail.uid;
        axios
          .post("/api/user/reviews", JSON.parse(JSON.stringify(this.review)), {
            headers: {
              Authorization: `Bearer ${this.user.access_token}`
            }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Reviews successfully saved");
              this.review.productId = this.review.title = this.review.description =
                "";
              this.review.rating = 0;
              this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
              this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
            } else {
              this.$toasted.error(
                "You cannot review this product until you purchase it"
              );
            }
          })
          .catch(error => {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          });
      }
    },
    checkInLibrary(id) {
      this.checkLibrary.forEach(item => {
        if (Number(id) === Number(item.productId)) {
          this.inLibrary = true;
        } else {
          this.inLibrary = false;
        }
      });
    },
    getMediaDetail(id) {
      axios
        .get(`/api/get/getvideodetail/${id}`)
        .then(response => {
          if (response.status === 200) {
            this.episodeArray = response.data;
            this.episodeArray.forEach(item => {
              this.checkLibrary.forEach(element => {
                if (Number(element.itemPurchase) === Number(item.id)) {
                  this.episodeadded = Number(item.id);
                }
              });
            });

            localStorage.setItem(
              "episodeCount",
              JSON.stringify(this.episodeArray.length)
            );
            this.episodeArray.forEach(item => {
              this.$set(item, "showHide", false);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addToCart(id) {
      if (this.price === "") {
        this.$toasted.error("Please Select a price");
      } else {
        let cart = {
          productId: id,
          price: this.price
        };
        if (this.title === "Video") {
          cart.quantity = 0;
          cart.prodType = "Video";
        } else if (this.title === "Streaming") {
          cart.quantity = 0;
          cart.prodType = "Streaming";
        } else if (this.title === "Subscription") {
          cart.quantity = 0;
          cart.prodType = "Subscription";
        }

        if (this.authenticate === false) {
          cart.cartNum = 1;
          this.anonymousCart.push(cart);
          if (JSON.parse(localStorage.getItem("userCart")) === null) {
            localStorage.setItem(
              "userCart",
              JSON.stringify(this.anonymousCart)
            );
            let sessionCart = JSON.parse(localStorage.getItem("userCart"));
            let cartCount = sessionCart.length;
            this.$emit("getCartCount", cartCount);
            this.$notify({
              group: "cart",
              text: "Successfully Added to Cart!"
            });
          } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
            let sessionCart = JSON.parse(localStorage.getItem("userCart"));
            let ss = sessionCart.length;
            sessionCart[ss] = cart;
            localStorage.setItem("userCart", JSON.stringify(sessionCart));
            let a = JSON.parse(localStorage.getItem("userCart"));
            let aCount = a.length;
            this.$emit("getCartCount", aCount);
            this.$notify({
              group: "cart",
              text: "Successfully Added to Cart!"
            });
          }
        } else {
          this.addCart(cart);
        }
      }
    },
    addCart(cart) {
      if (this.inCart === true) {
        this.$toasted.error("Already in cart");
      } else {
        axios
          .post("/api/cart", JSON.parse(JSON.stringify(cart)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.loginCart.push(response.data);
              let aCount = this.loginCart.length;
              this.$emit("getCartCount", aCount);
              this.$notify({
                group: "cart",
                title: this.videoDetail.title,
                text: "Successfully Added to Cart!"
              });
              this.$emit('getCart')
              this.inCart = true;
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },

    closeUpgrade() {
      this.showUpgrade = false;
    },
    redirectUpgrade() {
      this.showUpgrade = false;
      let routeData = this.$router.resolve({
        name: "SubscriptionProfile",
        params: {
          level: this.videoDetail.subLevel
        }
      });

      window.open(routeData.href, "_blank");
    },
    related(related_id) {
      let routeData = this.$router.resolve({
        name: "Video",
        params: { id: related_id }
      });

      window.open(routeData.href, "_self");
    }
  }
};
</script>

<style scoped>
.banner {
  width: 100%;
  background-image: url("/images/video-banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.banner-text {
  color: white;
  font-size: 56px;
  font-weight: bold;
}
.form-control {
  border-radius: 20px;
}
.liked {
  color: hsl(207, 43%, 20%);
}
.fa-stack {
  font-size: 1em;
}
i {
  vertical-align: middle;
}
.fa-circle {
  color: hsl(207, 43%, 20%);
}
.aboutWriter {
  width: 70%;
  margin: 0 auto;
  min-height: 100px;
  background: #fff;
  padding: 15px;
}
span.hostName {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.74);
  font-weight: bold;
}
span.hostName:hover {
  text-decoration: underline;
}

.cartAdded {
  position: absolute;
  color: hsl(207, 43%, 20%);
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  z-index: 3;
  background: #f7f8fa;
  border-radius: 50%;
}
.cartA {
  font-size: 11px;
  position: absolute;
  top: 4px;
  left: 3px;
}
.addedButton {
  color: rgb(255, 255, 255, 0.5) !important;
  background: rgb(91, 132, 167, 0.5) !important;
}
.bottom {
  position: relative;
  display: flex;
  /* background: #f7f8fa; */
  justify-content: flex-end;
}

.newButtons {
  position: relative;
  display: flex;
  /* background: #f7f8fa; */
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  margin: 0 auto;
  width: 40%;
}
.newButton {
  position: relative;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  background: hsl(207, 43%, 20%);
  margin: 0 5px;
}

.newButton:hover {
  box-shadow: 2px 4px 5px 2px rgba(20, 23, 28, 0.15);
  color: #ffffff;
  background: rgb(91, 132, 167, 0.5);
}
.newButton::after {
  box-shadow: 4px 6px 5px 3px rgba(20, 23, 28, 0.15);
  transform: translateY(4px);
}
.newButtonClone {
  position: relative;

  /* margin: 0 10px; */
}

.newButtonClone:hover {
  /* box-shadow: 2px 4px 5px 2px rgba(20, 23, 28, 0.15); */
  color: #ffffff;
  /* background: rgb(164, 194, 219, 0.5); */
}
.newButtonClone::after {
  box-shadow: 4px 6px 5px 3px rgba(20, 23, 28, 0.15);
  transform: translateY(4px);
}
.buttonText {
  visibility: hidden;
  width: 120px;
  background-color: hsl(207, 43%, 20%);
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.newButton::after {
  box-shadow: 4px 6px 5px 3px rgba(20, 23, 28, 0.15);
  transform: translateY(4px);
}
.buttonText {
  visibility: hidden;
  width: 120px;
  background-color: hsl(207, 43%, 20%);
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.buttonText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(207, 43%, 20%) transparent transparent transparent;
}
.newButton:hover .buttonText {
  visibility: visible;
  opacity: 1;
}
.newButtonClone .buttonText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(207, 43%, 20%) transparent transparent transparent;
}
.newButtonClone:hover .buttonText {
  visibility: visible;
  opacity: 1;
}
.relatedVideo {
  position: relative;
}
.relatedVideo img {
  width: 100%;
  height: 200px;
}
.faBu {
  padding: 15px;
  font-size: 20px;
}

.strike1 {
  border-top: 2px solid hsl(207, 43%, 20%);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 45%;
  z-index: 40;
  width: 64px;
  left: -7px;
}
.strike2 {
  border-top: 2px solid hsl(207, 43%, 20%);
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 45%;
  z-index: 40;
  width: 64px;
  left: -7px;
}

p {
  font-weight: normal;
}
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  margin-bottom:10px;
  padding: 5px 0px;
  background: #ffffff;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.shareI {
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px;
  border: 1px solid hsl(207, 43%, 20%);
}
.share {
  text-align: center;
  color: hsl(207, 43%, 20%);
  font-weight: bold;
}
.social {
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  cursor: pointer;
  margin: 10px 10px 0;
  font-size: large;
  color: hsl(207, 43%, 20%) !important;
}
.vidSearch,
.tagSearch {
  padding: 1px 12px;
}

.course-Detail {
  background: #fff;

  margin: 0 auto !important;

  font-weight: bold;
}
.noResult {
  width: 100%;
  font-family: fantasy;
  text-align: center;
  margin: auto;
}
.related_vid {
  position: relative;
  padding: 20px 5px;
}
.related_vid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.playCont {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  opacity: 0.8;
  transform: translate(-50%, -50%);
}
.playIcon {
  position: absolute;
  left: 54%;
  top: 50%;
  font-size: 40px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  color: #000000;
}
.shadowA {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}
@import url(https://fonts.googleapis.com/css?family=Lato:700);
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}
.ribbon-free span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #404346;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 500 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -0px;
  left: -0px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: 9px;
  top: 16px;
  transform: rotate(-45deg);
  z-index: 20;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -7px;
  top: 22px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
.mobile {
  display: none;
}

.rowcontainer {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  padding: 50px;
  padding-top: 50px;
  min-height: 70vh;
  padding-bottom: 100px;
  background-color: white;
}
.searchBarContent {
  display: flex;
  position: relative;
}

.searchBar {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

input::-webkit-input-placeholder {
  color: #c5c5c5 !important;
}
.smatter {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
    height: 18px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.search-btn {
  border: 0px;
  color: rgba(0, 0, 0, 0.54);
  margin: 7px 0;
  position: absolute;
  right: 12px;
  top: 4px;
}
.search {
  padding-left: 0;
}
.modal .row {
  justify-content: flex-end;
}
.videoDisTile {
  justify-content: space-between;
  display: flex;
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}

.ddVideo {
  flex-grow: 2;
  padding: 6px 20px;
}

.overDesc {
  background: #f7f8fa;
  text-align: center;
  padding: 20px;
}

.episodeDescription {
  display: block;
  padding: 12px 30px 12px 35px;
  background-color: #fff;
  border-top: none;
  font-size: 13px;
  color: #686f7a;
  letter-spacing: 0.3px;
  line-height: 1.33;
  font-weight: normal;
}

.reviewAvatar {
  text-transform: capitalize;
  background: hsl(207, 43%, 20%);
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 50%;
}

.reviewList {
  margin-bottom: 20px;
}

.proReview,
.proEdi {
  font-size: 13px;
}

.reviews {
  font-weight: 500;
}

.floatUserRating {
  margin-right: 104px;
  margin-left: 0px;
}

.floatReview {
  float: left;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.videoguest {
  font-weight: bold;
  text-transform: uppercase;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tabre {
  overflow: hidden;
  margin-top: 10px;
}

.dateCreated {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
}

.avatarD {
  margin-right: 20px;
  margin-top: 10px;
}

.reviewerName {
  text-transform: capitalize;
  margin-top: -6px;
}

.reviewdiv {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 14px;
}

.reviewAvatar {
  text-transform: capitalize;
  background: hsl(207, 43%, 20%);
  color: #ffffff;
  padding: 11px 15px;
  font-size: 15px;
  border-radius: 50%;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.floatRT {
  overflow: hidden;
}

.episodeTitles {
  display: flex;
  align-items: center;
  background: #f7f8fa;
  border: solid 1px #f7f8fa;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 10px 30px 10px 22px;
}

.divC {
  font-size: 40px;
  margin: 17px 0 50px 0;
}

.epiPrice {
  float: right;
  margin: 0 5px;
}

.epiPriceDiv {
  width: 100%;
  display:flex;
  justify-content:space-evenly;
}

.cartAdd {
  background: hsl(207, 43%, 20%);
  font-weight: bold;
  color: #ffffff;
  font-size: 11px;
  padding: 3px 9px;
  border-radius: 2px;
}
.cartAdd:hover {
  background: rgba(164, 194, 219, 6);
}

.episodeDescription div:nth-child(1) {
  margin-bottom: 10px;
  font-weight: normal;
}

.cartAdds {
  position: relative;
  border: 1px solid hsl(207, 43%, 20%);
  font-weight: bold;
  color: hsl(207, 43%, 20%) !important;
  font-size: 11px;
  padding: 2px 9px;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.cartAdds:hover {
  box-shadow: 0 4px #eee;
}
.cartAdds:after {
  content: "";
  background: hsl(207, 43%, 20%);
  color: #fff;
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 250%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.cartAdds:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.shipTabSwitch,
.reviewTabSwitch,
.shareTabSwitch,
.episodeTabSwitch,
.aboutWriterTabSwitch {
  background-color: hsl(207, 43%, 20%);
  border: 1px solid hsl(207, 43%, 20%);
  color: #ffffff !important;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
}

.shipTab,
.reviewTab,
.shareTab,
.episodeTab,
.aboutWriterTab {
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
}

.Videorow {
  display: flex;
  justify-content: space-evenly;
}

.videoRelated {
  text-align: left;
  margin: 15px 0;
  line-height: 1.2;
}

.videoRelated select {
  width: 125px;
}

.videoRelated p {
  font-weight: bold;
  font-size: 13px;
}

.btn-guruh-cart {
  background-color: hsl(207, 43%, 20%) !important;
  padding: 7px 16px;
  width: 100%;
  text-transform: capitalize;
  border: none;
  box-shadow: 0 4px #eee;
  color: #fff !important;
}
.btn-guruh-cart:hover {
  background-color: rgba(164, 194, 219, 0.64) !important ;
}
.btn-guruh-cart:active {
  background-color: hsl(207, 43%, 20%);
  box-shadow: 0 2px #eee;
  transform: translateY(4px);
}

.btn-guruh-watch {
  /* padding: 11px 0 !important; */
  padding: 7px 16px;
  width: 100%;
  text-transform: capitalize;
}

.hardCover,
.softCover {
  cursor: pointer;
  border: 1px solid hsl(207, 43%, 20%);
  padding: 11px 0 !important;
}

.productNames {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  line-height: 15px;
}

.product-dialog {
  width: 90%;
  max-width: 90%;
  margin-top: 130px;
}

.PriceDIV {
  display: flex;
  justify-content: space-around;
}

.videoDiver {
  position: relative;
  padding: 5px 35px;
  margin: 0 20px;
  background: hsl(207, 43%, 20%) !important;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff !important;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  float: right;
  font-size: 15px;
}
.videoDiver::after {
  content: "";
  background: rgba(164, 194, 219, 0.7);
  display: block;
  position: absolute;

  opacity: 0;
  transition: all 0.8s;
}

.videoDiver:active::after {
  opacity: 1;
  transition: 0s;
}
.videoDiver a {
  color: #fff !important;
}
.videoDiver a:hover {
  color: #fff !important;
}
.related_vid {
  padding-right: 0;
}

.videoDiver:hover {
  color: #ffffff !important;
  background: rgba(164, 194, 219, 0.6) !important;
}

.videoOverview {
  color: rgba(0, 0, 0, 0.64);
  height: 70px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 10px;
  font-weight: normal;
}

.videoCat {
  color: #b6cfe4;
}

.videoTitle {
  color: hsl(207, 43%, 20%);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 8px;
  max-height: 50px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  font-weight: bold;
}
.videoTitle:hover {
  color: rgba(0, 0, 0, 0.84);
}

.vid {
  text-align: center;
  position: relative;
}
.vid video {
  width: 100%;
}

.rowBanner {
  margin-left: auto;
  width:100%
}

.hardCopy,
.softCopy,
.readOnline {
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  font-weight: bold;
  padding: 0 10px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}
.vidContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60%;
}

.videoInfo {
  background: #f7f8fa;
  padding: 20px 15px;
  text-align: left;
  width: 40%;
  margin-left: auto;
}

.hardpriceCont,
.softpriceCont,
.readOnlinepriceCont {
  border: 2px solid hsl(207, 43%, 20%);
  padding: 0 10px;
  color: hsl(207, 43%, 20%);
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.videoTitles {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.btn-reviews {
  background-color: hsl(207, 43%, 20%) !important;
  padding: 10px 20px;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 350px;
  }
  .banner-text {
    font-size: 34px;
  }
  .vidContainer {
    width: 60%;
  }
  .videoInfo {
    width: 40%;
  }
}

@media only screen and(max-width: 768px) {
  .banner {
    height: 350px;
  }
  .banner-text {
    font-size: 24px;
  }

  .rowcontainer {
    padding-left: 30px;
    padding-right: 30px;
    margin-top:0;
  }

  .videoInfo {
    background: #f7f8fa;
    padding: 20px 20px;
    text-align: left;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 350px;
  }
  .related_txt {
    padding: 20px;
  }
  .banner-text {
    font-size: 24px;
  }
  .vidContainer {
    width: 100%;
  }
  .videoInfo {
    background: #f7f8fa;
    padding: 20px 15px;
    text-align: left;
    width: 100%;
  }

  .videoDiver {
    display: none;
    padding: 3px 10px;

    /* margin: 0 20px 15px 20px; */
    text-align: center;
  }
  .mobile {
    display: block;
  }
.desktop{
  display:none;
}
  .col-sm-9,
  .col-md-9,
  .col-lg-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .videoInfo {
    font-size: 14px;
  }
  .videoTitles {
    font-size: 16px;
    font-weight: 600;
  }
  .overview-buttons {
  }

  .epiPriceDiv {
    margin-left: auto;
  }
  .shipTabSwitch,
  .reviewTabSwitch,
  .shareTabSwitch,
  .episodeTabSwitch,
  .aboutWriterTabSwitch {
    font-size: 11px;
  }

  .shipTab,
  .reviewTab,
  .shareTab,
  .episodeTab,
  .aboutWriterTab {
    font-size: 11px;
  }
  .episodeTitles {
    padding: 0;
  }
  .cartAdds {
    font-size: 8px;
    padding: 1px 9px;
  }
  .epiPrice {
    font-size: 8px;
    margin: 5px 5px;
  }
  .cartAdd {
    padding: 2px 9px;
  }
}

@media only screen and(max-width: 425px) {
  .banner {
    height: 200px;
  }
  .banner-text {
    font-size: 24px;
  }
  .rowcontainer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .courseDetail {
    margin-top: 140px;
  }
  div.vidBanner.video-banner {
    display: none;
  }
  .videoDiver {
    font-size: 12px;
    margin: 0;
    padding: 3px 10px;
  }
  .form-control {
    height: 20px !important;
    padding: 2px 12px !important;
    font-size: 8px !important;
    line-height: 1.42857143;
    border-radius: 20px;
  }
  .charts {
    padding: 70px 10px 10px !important;
  }
  .videoDisTile {
    padding: 1px;
    font-size: 14px;
    height: auto;
    margin: 10px 0;
  }
  video {
    width: 100%;
    height: 100px;
  }

  .videoDiver {
    padding: 3px 10px;
    font-size: 8px;
    /* margin: 0 20px 15px 20px; */
    text-align: center;
    border-radius: 5px;
  }
  .episodeTitles {
    padding: 0;
  }
  .cartAdds {
    font-size: 8px;
  }
  .epiPrice {
    font-size: 8px;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .banner {
    height: 250px;
  }
  .banner-text {
    font-size: 24px;
  }
  .video-js {
    font-size: 5px !important;
  }
  .charts {
    padding: 30px 10px;
  }
  .rowcontainer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .videoDiver {
    display: none;
    padding: 3px 10px;
    font-size: 8px;
    /* margin: 0 20px 15px 20px; */
    text-align: center;
    border-radius: 5px;
  }
  video {
    width: 100%;
    height: 100px;
  }
  .mobile {
    display: block;
  }
}
@media (max-width: 425px) {
  .rowBanner {
    margin: 15px 0;
  }
  .rowcontainer {
    margin-top: 0;
    padding-top: 30px;
  }
  .banner {
    height: 250px;
  }
  .banner-text {
    font-size: 24px;
  }
  .relatedVideo img {
    width: 100%;
    height: 100px;
  }
  .playCont {
    width: 50px;
    height: 50px;
  }
  .playIcon {
    font-size: 25px;
  }
  .bottom {
    padding: 5px;
    margin-top: 0;
  }
  .newButtonClone {
    margin: 0 10px;
  }
  .faBu {
    padding: 0;
    font-size: 11px;
    position: absolute;
    top: 30%;
    right: 24%;
  }

  .upgrade {
    width: 95%;
    right: 2%;
  }
  ul {
    margin: 15px 0;
  }

  .course-Detail {
    padding: 0;
    background: #f7f8fa;
  }
  .related_vid img {
    width: 100%;
    height: 100%;
  }
  .related_txt {
    padding: 15px 8px 10px;
  }
  .rowcontainer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 75px;
    padding: 1px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 12px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }
  .ribbon-free span {
    position: absolute;
    display: block;
    width: 75px;
    padding: 2px 0;
    background-color: #404346;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 500 12px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }

  /* top left*/
  .ribbon-top-left {
    top: 0px;
    left: -78px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: 14px;
    top: 14px;
    transform: rotate(-45deg);
  }

  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -7px;
    top: 22px;
    transform: rotate(45deg);
  }

  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }

  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }

  div.vidBanner.video-banner {
    display: none;
  }
  p {
    margin-bottom: 8px;
  }
  .videoDiver {
    font-size: 12px;
    margin: 0;
    color: #fff !important;
    padding: 5px;
  }
  .form-control {
    height: 30px !important;
    padding: 2px 12px !important;
    font-size: 12px !important;
    line-height: 1.42857143;
    padding: 20px;
  }
  .charts {
    padding: 70px 10px 10px !important;
  }
  button.btn.btn-sm {
    font-size: 12px;
    padding: 2px 15px;
    text-transform: capitalize;
  }

  .fa-search {
    font-size: 11px;
  }
  .search-btn {
    top: 2px !important;
  }

  .video-js {
    font-size: 6px !important;
  }
  video {
    width: 100%;
    height: 100px;
  }
  .charts {
    padding: 15px 10px;
  }
  .ddVideo {
    padding: 2px 0;
  }
  .videoDisTile {
    padding: 0;
    font-size: 14px;

    margin: 10px 0;
  }
  .videoOverview {
    height: 40px;
    line-height: 1.4;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 6px;
  }

  .videoDiver {
    display: none;
    padding: 2px 5px;
    font-size: 8px;
    text-align: center;
  }
  .mobile {
    display: block;
  }
  p.videoOverview {
    font-size: 14px;
    line-height: 1.4;
  }
  p.videoTitle {
    font-size: 14px;
  }
  p.videoCat {
    font-size: 8px;
  }
  .episodeTitles {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .rowcontainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .video-js {
    font-size: 5px !important;
  }
  video {
    width: 100%;
    height: 100px;
  }

  .videoDisTile {
    margin: 12px;

    font-size: 8px;
  }
  video {
    width: 100%;
    height: 100px;
    font-size: 5px;
  }

  .videoDiver {
    display: none;
    padding: 3px 10px;
    font-size: 8px;
    /* margin: 0 20px 15px 20px; */
    text-align: center;
    border-radius: 5px;
  }
  .mobile {
    display: block;
  }
  .related_text{
    padding:8px;
  }
}
</style>


