<template>
    <div class="course-Detail">
        <h4 id="mainH">My Wishlist</h4>
        <div class="row rowCat">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 courseCover"  v-for="wishlist in wishlists" v-bind:key="wishlist.id">
             <div  v-for="wish in wishlist" v-bind:key="wish.id" class="cover2">

               <div class="catImage">
                   <router-link
                    v-if="wish.prodType === 'Courses'"
								:to="{
									name: 'CourseFullPage',
									params: {
										id: wish.id,
										name: wish.courses.title.replace(/ /g, '-')
									}
								}"
								tag="a"

							>
                     <img :src="wish.coverImage">
                   </router-link>
                    <router-link  v-if="wish.prodType === 'Videos'" :to="{
									name: 'SingleVideoPage',
									params: { id: wish.id }
								}">

                     <img :src="wish.coverImage">
                   </router-link>
               </div>



                <div class="type">
                       <div class="pTitle">{{wish.prodType}}</div>
                    </div>
                    <div class="about">

                        <div class="pTitle" v-if="wish.prodType === 'Courses'"> <router-link
								:to="{
									name: 'CourseFullPage',
									params: {
										id: wish.id,
										name: wish.courses.title.replace(/ /g, '-')
									}
								}"
								tag="a"

							>  {{wish.courses.title}}</router-link> </div>
                         <div class="pTitle" v-if="wish.prodType === 'Videos'"> <router-link :to="{
									name: 'SingleVideoPage',
									params: { id: wish.id }
								}">

                              {{wish.webinarVideo.title}}</router-link> </div>
                          <div class="pTitle" v-if="wish.prodType === 'Podcast'">{{wish.webinar.title}}</div>
                           <div class="pTitle" v-if="wish.prodType === 'Market Research'">{{wish.marketReasearch.title}}</div>


                        <div v-if="wish.hardCopyPrice" class="pTitle"> ₦ {{wish.hardCopyPrice}}</div>
                        <div v-else  class="pTitle">Subscription</div>
                    </div>



                    <div class="buttons">

                    <div id="trash" @click="deleteWishlist(wish.id)"> <span class="desktop">Remove</span> <i class="fa fa-trash" aria-hidden="true"></i>
                   </div>

                    </div>

                  </div>




            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "user-wishlist-component",
        data:function(){
            return {
                user_id: '',
                wishlists: []
            }
        },
        created(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.user_id = user.id;

                axios.get('/api/wishlists',
                 { headers: {"Authorization" : `Bearer ${user.access_token}`} })
                    .then((response) => {

                        if(response.status === 200){
                              this.wishlists = response.data;
                               console.log("Data: created ->  this.wishlists",  this.wishlists)

                        }
                    }).catch((error) => {
                        console.log(error);
                })
            }
        },
         methods: {
            deleteWishlist(id){
                let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                        let del = confirm("Are you sure ?");
                        if (del) {
                              axios.delete(`/api/wishlist/${id}`,
                                        { headers: {"Authorization" : `Bearer ${user.access_token}`} }
                                        ).then(response=>{
                                            if (response.status === 200) {
                                                this.$toasted.success("Successfully removed");
                                                window.location.reload();
                                            }


                                        })
                        }


            }

        }

    }
    }
</script>

<style scoped>
    .course-Detail{
        padding:80px 60px;
    }
    .courseCover{
        height: 100px;
        border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    
    }
    .cover2{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .catImage{
        position: relative;
        width:15%;
        padding:10px;
    }
    .catImage img{
        width:60px;
        height:60px;
        cursor: pointer;
    }
    .type{
        width: 15%;
        padding:10px;
    }
    .about{
        width:60%;
        padding:10px;
       
    }
    .buttons{
        width:10%;
        padding:10px;
    }
    .pTitle a{
        color: rgba(0, 0, 0, .84);
         cursor: pointer;
    }
    .pTitle a:hover{
        color: #a4c2db;
       
    }
    #mainH{
        text-align:center;
        margin-bottom:10px;
    }


    @media only screen and (max-width:425px){
        .desktop{
            display: none;
        }
        .type{
            font-size: 12px
        }
        .about{
            font-size: 12px
        }
     .course-Detail{
        padding:70px 10px !important;
    }
    .rowCat{
        text-align: center;
    }
    .catImage{
        padding: 10px 0;
    }
   
    }



    @media(max-width:425px){
        .desktop{
            display: none;
        }
     .course-Detail{
        padding:70px 10px !important;
    }
    .rowCat{
        text-align: center;
    }
    .catImage{
        padding: 10px 0;
    }
   
    }




</style>
