<template>
  <div class="course-Detail">
    <div v-if="success" class="successRedirect">
      <div class="text-center mb-4" v-if="!stop">
        <h2 class="mb-3">Verifying payment</h2>
        <i class="fas fa-spinner spinner fa-spin fa-5x"></i>
      </div>
      <div v-if="stop" class="mb-4 text-center">
        <h2 class=" mb-3">Payment Successful</h2>
        <div>
          <span class="fa-stack fa-5x mb-4 animated fadeIn slow">
            <i class="fas fa-circle fa-inverse fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-check fa-stack-1x"></i>
          </span>
        </div>
      </div>
      <div class="alert alert-success" v-if="stop" >
        <router-link to="/">Visit Home</router-link>
      </div>
    </div>
     <div v-if="!success" class="successRedirect">
    
      <div  class="mb-4 text-center">
        <h2 class=" mb-3">Payment failed</h2>
        <div>
          <span class="fa-stack fa-5x mb-4 animated fadeIn slow">
            <i class="fas fa-circle text-darek fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-minus fa-stack-1x"></i>
          </span>
        </div>
      </div>
    
    </div>
  </div>
</template>

<script>
export default {
  name: "user-success-component",
  data: function() {
    return {
      success: true,
      stop: null
    };
  },

  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.verify();
    });
  },
  mounted() {},
  methods: {
    verify() {
      this.stop = false;
      let type = localStorage.getItem("type");
      var user;
      if (type == "accounting") {
        user = JSON.parse(localStorage.getItem("accountUser"));
      } else if (type == "entrepreneur") {
        user = JSON.parse(localStorage.getItem("authUser"));
      } else if (type == "expert") {
        user = JSON.parse(localStorage.getItem("authVendor"));
      }

      if (user != null) {
        if (this.$route.query.trxref !== null) {
          localStorage.removeItem("userCart");
        }
        axios
          .get(
            `api/user/verify-order/${this.$route.query.trxref}/${type}/${user.id}`
          )
          .then(response => {
            if (response.status === 200) {
              this.stop = true;
              this.$emit("clearCartCount", 0);
              localStorage.getItem("type");
              this.success = true;
              //   if (localStorage.getItem('reloaded')) {
              // The page was just reloaded. Clear the value from local storage
              // so that it will reload the next time this page is visited.
              //     localStorage.removeItem('reloaded');
              // } else {
              // Set a flag so that we know not to reload the page twice.
              //     localStorage.setItem('reloaded', '1');
              //     location.reload();
              // }

              this.$emit("clearCartCount", 0);
              this.$emit("getCart");
            }
          })
          .catch(error => {
            console.log(error);
             this.success = false;
          });
      }
    }
  }
};
</script>

<style scoped>
/* .course-Detail {
        margin: 200px 50px 0 50px !important;
    }*/

.fa-2x {
  font-size: 1em !important;
}
.fa-inverse {
  color: green;
}

.fa-check {
  color: white;
}
.successRedirect {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.alert-secondary {
  background: #a3c2dc;
}
a {
  color: #ffffff !important;
}
</style>
