<template>
  <div class="container-fluid" v-bind:class="{showModal:half}">
    <div class="messageBox" v-if="showMessage">
      <div class="closing" @click="closeBox"></div>
      <div class="message-mini-box">
        <span class="close" @click="closeBox">
          <i class="fa fa-times-circle-o text-main" aria-hidden="true"></i>
        </span>
        <p
          class="message-text"
          v-if="accountMessage"
        >Subscribe to our Accounting package to get full access to our Accounting software.</p>
        <p
          class="message-text"
          v-if="bapMessage"
        >Subscribe to our BAP-6 package to get started today.</p>
        <p>Click outside the box to continue !!</p>
      </div>
    </div>
    <div class="main-content">
      <div
        class="price-overlay d-flex justify-content-center align-items-center"
        v-if="showOverlay"
      >
        <div class="p-3 btn-compliment form">
          <i
            class="fas fa-times-circle closePrice text-white p-2"
            @click="handleOverlay"
            aria-hidden="true"
          ></i>
          <form>
            <div class="form-group">
              <label for class="toCaps oPlan mb-4">{{plan}} plan</label>
              <p class="text-muted  text-center">
                Duration :
                <strong class="toCaps text-white">{{duration}}</strong>
              </p>
            </div>
            <div class="oPrice mb-4">&#8358;{{price}}.00</div>

            <div class="my-3">
              <button
                class="elevated_btn elevated_btn_sm mx-auto text-main"
                type="button"
                @click="subscribe(plan,duration)"
              >Pay</button>
            </div>
          </form>
        </div>
      </div>

      <h3 class="desc_header text-center mb-5">Pricing Plans</h3>

      <div class="duration">
        <span>Monthly</span>
        <Toggle @handleToggle="handleToggle" class="px-2" />
        <span>
          Annual
          <span class="annual" :class="{'annual-faded':!time}">+2 Months Free</span>
        </span>
      </div>
      <div class="pricing">
        <div class="price_box shadow">
          <div class="price_name">COMMUNITY MEMBER</div>
          <ul>
            <li>Access to select business resources</li>
            <li>
              Exclusive BizGuruh Library
              <small class="bold">(Free Trial)</small>
            </li>
          </ul>
          <div class="price my-3">Free</div>
        </div>
        <div class="price_box shadow">
          <div class="price_name">ESSENTIAL</div>
          <ul>
            <li>Access to curated Business Insights and Resources</li>
            <li>Follow and engage with Industry Experts</li>
            <li>Exclusive BizGuruh Library</li>
            <li>Weekly Newsletter</li>
          </ul>

          <div class="price my-3">
            <span v-if="!time" class="myPrice">
              &#8358;3,600
              <small>/month</small>
            </span>
            <span v-if="time" class="myPrice">
              &#8358;3,000
              <small>/month billed annually</small>
            </span>
          </div>
          <div class="text-center my-3">
            <button
              type="button"
              class="button-blue mx-auto"
              @click="selectPackage('essential')"
              v-if="currentSub < 2 || currentSub==4"
            >Select</button>
            <button type="button" class="button-blue mx-auto" v-if="currentSub == 2">Subscribed</button>
            <button type="button" class="button-blue mx-auto" v-if="currentSub == 3">Unavailable</button>
          </div>
        </div>
        <div class="price_box shadow">
          <div class="price_name">BIZGURUH</div>
          <ul>
            <li>Subscribe to BizGuruh’s 6-week Business Acceleration Program (BAP-6)</li>
            <li>Access to Community & Partner Events</li>
            <li>Weekly Newsletter</li>
          </ul>

          <div class="price my-3">
            <span v-if="!time" class="myPrice">
              &#8358;5,000
              <small>/month</small>
            </span>
            <span v-if="time" class="myPrice">
              &#8358;4,167
              <small>/month billed annually</small>
            </span>
          </div>
          <div class="text-center my-3">
            <button
              type="button"
              class="button-blue mx-auto"
              @click="selectPackage('bizguruh')"
              v-if="currentSub < 3 || currentSub==4"
            >Select</button>

            <button type="button" class="button-blue mx-auto" v-if="currentSub == 3">Subscribed</button>
          </div>
        </div>
      </div>

      <div class="bap_box shadow mx-auto mt-5">
        <div class="price_name">BAP-6</div>
        <ul>
          <li>Dedicated subject matter and industry experts who will work with you to develop a business roadmap that is structured to be fulfilling and profitable, even whilst serving others.</li>
          <li>Develop and deploy strategies that best align your resources and capabilities to the requirements of your business operating environment and overall vision.</li>
          <li>Templates/checklists/guides on your custom dashboard for easy reference at any time!</li>
          <li>Become part of a community of like-minded entrepreneurs and experts.</li>
          <li>Access to community and partner events.</li>
        </ul>
        <div class="price my-3 myPrice">
          &#8358;30,000
          <small>One-Time Payment</small>
        </div>

        <div class="text-center py-3">
          <button
            type="button"
            class="button-blue mx-auto"
            @click="selectPackage('bap')"
            v-if="currentSub < 4"
          >Select</button>
          <button
            type="button"
            class="button-blue mx-auto"
            v-if="currentSub == 4"
            disabled
          >Subscribed</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Toggle from "../toggle";
export default {
  props: ["currentSub"],
  name: "user-profile-subscription-component",
  data: function() {
    return {
      time: false,
      selected: false,
      selected_1: false,
      selected_3: false,
      showMessage: false,
      duration: "",
      half: false,
      showOverlay: false,
      plan: "",
      price: "",
      duration: "monthly",
      essential_pack: false,
      bizuruh_pack: false,
      bizguruh_pack: false,
      subLevel: null,
      level: 0,
      subscriptions: [],
      token: "",
      email: "",
      isActive: true,
      authenticate: false,
      essential: false,
      bizuruh: false,
      premium: false,
      isShown1: false,
      isShown2: false,
      isShown3: false,
      isShown4: false,
      essentialLevel: false,
      premiumLevel: false,
      bizuruhLevel: false,
      freeLevel: false,
      breadcrumbList: [],
      subHover: false,
      userSub: null,
      accountMessage: false,
      bapMessage: false
    };
  },
  components: {
    Toggle
  },
  mounted() {
    this.subLevel = Number(this.$route.params.level);

    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user != null) {
      this.authenticate = true;
      this.token = user.access_token;
    }

    axios
      .get("/api/subscription-plans")
      .then(response => {
        if (response.status === 200) {
          this.isActive = false;
          //this.subscriptions = response.data;
          if (user != null) {
            this.getUserSubscriptionPlan(response.data);
          } else {
            this.subscriptions = response.data;
          }
        }
      })
      .catch(error => {
        console.log(error);
      });
    if (this.subLevel === 0) {
      this.freeLevel = true;
    } else if (this.subLevel === 1) {
      this.essentialLevel = true;
    } else if (this.subLevel === 2) {
      this.bizuruhLevel = true;
    } else if (this.subLevel === 3) {
      this.premiumLevel = true;
    } else {
    }
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  methods: {
    handleToggle(value) {
      this.time = value;

      if (!value) {
        this.duration = "monthly";
      } else {
        this.duration = "yearly";
      }
    },
    redirectMessages() {
      if (this.$route.params.level == 2) {
        this.selected = true;
        this.showMessage = true;
        this.accountMessage = true;
        this.half = true;
      }
      if (this.$route.params.level == 1) {
        this.selected_1 = true;
      }
      if (this.$route.params.level == 3) {
        this.selected_3 = true;
      }

      if (this.$route.query.redirect_from == "bap_progress") {
        (this.showMessage = true), (this.bapMessage = true);
      }
    },
    selectPackage(value) {
      switch (value) {
        case "contributor":
          this.plan = "contributor";
          this.selectPlan();
          this.handleOverlay();

          break;
        case "essential":
          this.plan = "essential";
          this.level = 2;
          this.selectPlan();
          this.handleOverlay();
          break;
        case "bizguruh":
          this.plan = "bizguruh";
          this.level = 3;
          this.selectPlan();
          this.handleOverlay();
          break;
        case "bap":
          this.plan = "bap";
          this.level = 4;
          this.duration = "yearly";
          this.selectPlan();
          this.handleOverlay();
          break;

        default:
          break;
      }
    },
    selectPlan() {
      if (this.plan == "contributor" && this.duration == "monthly") {
        this.price = 0;
      } else if (this.plan == "contributor" && this.duration == "yearly") {
        this.price = 0;
      }

      if (this.plan == "essential" && this.duration == "monthly") {
        this.price = 3600;
      } else if (this.plan == "essential" && this.duration == "yearly") {
        this.price = 36000;
      }

      if (this.plan == "bizguruh" && this.duration == "monthly") {
        this.price = 5000;
      } else if (this.plan == "bizguruh" && this.duration == "yearly") {
        this.price = 50000;
      }
      if (this.plan == "bap") {
        this.price = 30000;
      }
    },
    handleOverlay() {
      this.showOverlay = !this.showOverlay;
      if (!this.showOverlay) {
        this.price = 0;
       
      }
    },
    closeBox() {
      this.essential_pack = this.bizuruh_pack = this.bizguruh_pack = false;
      this.plan = "default";
      this.half = false;
      this.showMessage = this.accountMessage = this.bapMessage = false;
    },
    checkStatus() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      this.user = user;
      if (user != null) {
        this.token = user.access_token;

        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          if (response.status === 200) {
            if (response.data.length > 0) {
              this.userSub = Number(response.data[0].level);
            }
          }
        });
      }
    },
    sponsor() {
      if (this.authenticate) {
        this.$router.push({
          name: "Sponsor"
        });
      } else {
        this.$router.replace({
          name: "auth",
          query: { redirect: "sponsor" }
        });
      }
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    getUserSubscriptionPlan(data) {
      let subscription = [];
      let sub = [];
      axios
        .get("/api/user/subscription-plans", {
          headers: { Authorization: `Bearer ${this.token}` }
        })
        .then(response => {
          if (response.status === 200) {
            response.data.forEach(item => {
              if (item.level === "3" && item.verify === 1) {
                this.premium = true;
              } else if (item.level === "2" && item.verify === 1) {
                this.bizuruh = true;
              } else if (item.level === "1" && item.verify === 1) {
                this.essential = true;
              }
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    subscribe(type, duration) {
      if (this.authenticate) {
        localStorage.removeItem("type");

        let data = {
          type: type,
          duration: duration,
          level: this.level,
          subType: "entrepreneur"
        };

        axios
          .post("/api/usersubscription", JSON.parse(JSON.stringify(data)), {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 200) {
              localStorage.setItem("type", "entrepreneur");
              window.location.href = response.data;
            }
          })
          .catch(error => {
            console.log(error.response.data.message);
            localStorage.removeItem("type");
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: "user-subscription" }
              });
            }
          });
      } else {
        localStorage.removeItem("type");
        this.$router.replace({
          name: "auth",
          params: { name: "login" },
          query: { redirect: "user-subscription" }
        });
      }
    }
  }
};
</script>

<style scoped>
.selected-pack {
  transform: scale(1.1);
  z-index: 3;
}
.duration {
  display: flex;
  width: 400px;
  margin: 0 auto;
  align-items: center;
}
.annual {
  padding: 8px 20px;
  background: hsl(207, 46%, 20%);
  color: white;
  margin-left: 15px;
  border-radius: 5px;
}
.annual-faded {
  background: rgb(128, 128, 128, 0.3);
  color: rgb(255, 255, 255, 0.3);
}
.package:hover {
  border-color: black;
}
.messageBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.message-mini-box {
  position: relative;
  padding: 40px;
  width: 50%;
  background: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message-text {
  font-size: 18px;
  text-align: center;
  font-family: "Josefin Sans", "sans-serif";
}

.nextBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.mini-container {
  position: relative;
  padding: 20px;
  height: 30%;
  background: #f7f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.closing {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
label {
  margin-bottom: 12px;
}
.showModal {
  height: 100vh;
  overflow: hidden;
}
.close {
  position: absolute;
  right: -10px;
  top: -10px;
  opacity: 1;
}
.sponsor {
  position: relative;
  text-align: center;
  height: 100px;
  background-image: url("/images/bgSponsor.jpg");
  background-size: cover;

  font-size: 20px;
}
.main-content {
  height: 100%;
  width: 100%;
  padding-top: 40px;
}
.pricing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 70px;
}
.price_box {
  height: auto;
  width: 31%;
  background: #f7f8fa;
  border-radius: 4px;
  position: relative;
  text-align: center;
}
.bap_box {
  height: auto;
  width: 50%;
  background: #f7f8fa;
  border-radius: 4px;
  position: relative;
  text-align: center;
}
ul,
ol,
li {
  list-style: square;
  text-align: left;
}
ul {
  padding: 15px 35px;
}
.price_name {
  padding: 15px;
  text-align: center;
  background: #22cade;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
.price_name::after {
  content: "";
  height: 100%;
  width: 100%;
  background: hsl(207, 46%, 20%);
  position: absolute;
  transform: rotate(-45deg);
  bottom: 0;
  left: 53%;
}
.price_name::before {
  content: "";
  height: 100%;
  width: 100%;
  background: hsl(207, 46%, 20%);
  position: absolute;
  transform: rotate(45deg);
  bottom: 0;
  left: -53%;
}
.price {
  font-weight: bold;
  font-size: 24px;
}
.price small {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64);
}
.oPlan {
  font-size: 36px;
  color: white;
  text-align: center;
}
li{
  padding:7px;
}
.oPrice {
  font-size: 36px;
  text-align: center;
  color: white;
}
.price-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
    top:0;
  bottom: 0;
}
.form {
  width: 30%;
  height: auto;
  padding: 15px;
  position: relative;
}
.closePrice {
  position: absolute;
  top: 0;
  right: 0;
}
a.linkup {
  color: #5b84a7 !important;
  padding: 5px;
}
.moreDetail {
  text-align: center;
  padding: 40px 30px;
  background: white;
}

.packages {
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.package {
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 3px;
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  position: relative;
  overflow: hidden;
  margin: 5px;
  border: 1px solid transparent;
}
.package_text {
  padding: 0 10px;
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.package p {
  font-size: 14px;
}
.package_btn {
  display: grid;
  margin-top: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.sponsor .spons {
  padding: 5px 20px;
  color: #ffffff;
  border-radius: 50px;
  background: #5b84a7;
  cursor: pointer;
}
.sponsor .spons:hover {
  background: #a4c2db;
}
.sponsText {
  color: #ffffff;
}

.container-fluid {
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
  font-size: 16px;
  background: #ffffff;
  background-image: url("/images/bgSubs.jpg");
  background-size: cover;
  min-height: 100vh;
}
td {
  font-size: 14px;
}
.fs12 {
  position: relative;
  font-size: 16px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgGreen {
  background: linear-gradient(90deg, #44a08d 0%, #093637 100%);
  color: #fff;
}
.bgBlack {
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
  color: #fff;
}

.bgBlue {
  background: linear-gradient(90deg, #0575e6 0%, #021b79 100%);
  color: #fff;
}

.bgPurple {
  background: linear-gradient(90deg, #673ab7 0%, #512da8 100%);
  color: #fff;
}

.slower {
  transition-delay: 5s !important;
  transition-duration: 5s !important;
}
.seeMore {
  display: none;
  color: #a3c2dc;
  text-transform: capitalize;
}
.mobile {
  display: none;
}

.clhere {
  color: #a3c2dc;
  font-size: xx-large;
}
.txtCenter {
  text-align: center;
  margin: 0 auto;
}
.bgWhite {
  background: #fff;
}
.shadowSponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.Bar {
  height: 50px;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.firstBar {
  height: 100px;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px 0;
}
.secondBar {
  height: 50px;
  text-align: center;
}
.thirdBar {
  height: 50px;
  text-align: center;
}
.fourthBar {
  height: 50px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 10px;
}
.fifthBar {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.sixthBar {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.faint {
  opacity: 0.5;
}
.seventhBar {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.eightBar {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.2;
}
.ninthBar {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.tenthBar {
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}
.txtLeft {
  text-align: left;
}

.fa,
.fas {
  color: #a3c2dc;
}
.headerCon {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  color: black;
}

.subscribeHeader {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  color: black;
}

.subscribed {
  background: #a3c2dc !important;
  color: #ffffff !important;
}
.firstBar {
  text-align: left !important;
}
/* .stbtn {
        margin-top: -15px !important;

    } */

.delay {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.subContent {
  font-size: 14px;
  color: #717070;
  height: auto;
  padding: 0 10px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.subscriptionHeaderTitle {
  font-weight: 900;
  padding: 20px 0;
  font-size: 18px;
  margin-bottom: 16px;
}

.fa-check {
  color: #a3c2dc;
}

.gStart {
  color: #fff;
  background: #a3c2dc;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 30px auto 0;
  cursor: pointer;
  width: 80%;
  box-shadow: 0 6px #eee;
}
.gStart:active {
  background: rgba(0, 0, 0, 0.64) !important;
  box-shadow: 0 2px #eee;
  transform: translateY(4px);
}
.gStart a {
  color: #ffffff !important;
}
.gStartt {
  padding: 2px 5px;
  border-radius: 5px;
  margin: 30px auto 0;
  cursor: pointer;
  width: 80%;
  box-shadow: 0 6px #eee;
}
.gStartt:active {
  box-shadow: 0 2px #eee;
  transform: translateY(4px);
}

.rowBtn {
  padding: 50px;
}

.rowBtn .paddbtn div {
  font-size: 13px;
  color: #6d6c6c;
  text-align: center;
}

.paddbtn {
  border-bottom: 1.4px solid #e8e8e8;
  padding-bottom: 50px;
}
.subCol {
  padding: 60px;
}

.row-sub {
  text-align: center;
  margin: 0;
}
.subDiv {
  margin: 20px;
}

.subRow div {
  margin: 20px;
}

.btn-subscribe {
  background: #a3c2dc !important;
  color: #ffffff;
}
@media (max-width: 768px) {
  .pricing {
    flex-direction: column;
    align-items: center;
  }
  .price_box {
    width: 70%;
    margin-bottom: 40px;
  }
  .message-mini-box {
    width: 70%;
  }
  .mini-container {
    height: auto;
  }
  .container-fluid {
    padding: 10px 3px;
  }
  .subscribeHeader {
    font-size: 20px;
  }

  .row-sub {
    padding: 0;
  }
  .bgWhite {
    padding-right: 10px;
    padding-left: 10px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+1,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: rgb(242, 246, 248); /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      rgba(242, 246, 248, 0.4) 1%,
      rgba(216, 225, 231, 0.4) 50%,
      rgba(181, 198, 208, 0.4) 51%,
      rgba(224, 239, 249, 0.4) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(242, 246, 248, 0.4) 1%,
      rgba(216, 225, 231, 0.4) 50%,
      rgba(181, 198, 208, 0.4) 51%,
      rgba(224, 239, 249, 0.4) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      rgba(242, 246, 248, 0.4) 1%,
      rgba(216, 225, 231, 0.4) 50%,
      rgba(181, 198, 208, 0.4) 51%,
      rgba(224, 239, 249, 0.4) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .lessPad {
    padding: 0;
    font-size: 12px;
  }
  .packages {
    flex-direction: column;
    width: 90%;
    padding: 0 0 30px;
  }
  .package {
    margin: 10px 5px;
  }
  .package_btn {
    margin-top: 10px;
  }
  .package_text {
    height: auto;
    display: block;
    padding: 10px;
  }
  .shadowSponsor {
    flex-direction: column;
  }
  .sponsText {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
   .duration{
    width:auto;
    font-size:14px;
    margin:20px auto;
    justify-content: center;
  }
  .annual{
    font-size:12px;
  }
  .message-mini-box {
    width: 80%;
  }
  .shadowSponsor {
    margin-top: 0;
  }
  .bgWhite {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
    background: rgb(242, 246, 248); /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      rgba(242, 246, 248, 0.4) 0%,
      rgba(216, 225, 231, 0.4) 50%,
      rgba(181, 198, 208, 0.4) 51%,
      rgba(224, 239, 249, 0.4) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(242, 246, 248, 0.4) 0%,
      rgba(216, 225, 231, 0.4) 50%,
      rgba(181, 198, 208, 0.4) 51%,
      rgba(224, 239, 249, 0.4) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      rgba(242, 246, 248, 0.4) 0%,
      rgba(216, 225, 231, 0.4) 50%,
      rgba(181, 198, 208, 0.4) 51%,
      rgba(224, 239, 249, 0.4) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .fs12 {
    height: 100%;
  }
  .shadowWhite {
    position: unset;
  }

  .sponsor {
    font-size: 16px;
  }
  .row-sub {
    margin: 0;
  }

  .mobile {
    display: flex;
    justify-content: center;
  }

  .toggleOn {
    display: block;
  }

  .seeMore {
    display: block;
    font-size: 11px;
  }
  .headerCon {
    font-size: 16px;
  }
  .subContent {
    font-size: 16px;
    margin: 0;
    padding: 1px 3px;
    line-height: 1.2;
  }
  .row-sub {
    padding: 0;
  }
  .subscriptionHeaderTitle {
    font-size: 18px;
    font-weight: bold;
  }
  .pry_header {
    height: auto;
    margin-bottom: 20px;
  }

  .pricing {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 10px;
    justify-content: center;
  }
  ol ul {
    margin-bottom: 10px;
  }
  li {
    font-size: 16px;
    font-weight: normal;
  }
  .bap_box {
    width: 70%;
  }
}
@media (max-width: 425px) {
  .bap_box {
    width: 80%;
  }
  .price_box {
    width: 100%;
  }
}
</style>






