<template>
<div>
   <div class="loaderShadow" v-if="isActive">
      <div class="loadContainer">
        <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
        <div class="loader"></div>
      </div>
    </div>
    <div v-if="courseDetail && !isActive" class="container-fluid">
  
    <!-- <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading> -->
   
    <div
      :class="{ modal: epiModal, fade: epiFade }"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog product-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row price">
              <div class="col-md-3">
                <div class="coursePric" v-if="courseDetail.hardCopyPrice">
                  ₦{{ courseDetail.hardCopyPrice }}.00
                  <!-- <div class="cover">Hard Cover</div> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="coursePric" v-if="courseDetail.softCopyPrice">
                  ₦{{ courseDetail.softCopyPrice }}.00
                  <!-- <div  class="cover">Digital Cover</div> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="coursePric" v-if="courseDetail.readOnlinePrice">
                  ₦{{ courseDetail.readOnlinePrice }}.00
                  <!-- <div  class="cover">Read Online</div> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="coursePric" v-if="courseDetail.videoPrice">
                  ₦{{ courseDetail.videoPrice }}.00
                  <!-- <div  class="cover">Video Copy</div> -->
                </div>
              </div>
            </div>
            <div class="enrolDiv">
              <button class="btn btn-enroll">Enroll</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="courseTab">
      <div class="bread mobile">
        <ul>
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>
      </div>
      <div class="courseTitle">
        <span class="cartAdded" v-if="inCart">
          <i class="fas fa-cart-plus cartA"></i>
        </span>

        <video controls  class="mobile" :src="courseDetail.excerpt">
          <source />
        </video>
        <div class="row price">
          <div class="mobile coursePrice" v-if="courseDetail.hardCopyPrice">
            ₦{{ courseDetail.hardCopyPrice }}.00
            <!-- <div  class="cover">Hard Cover</div> -->
          </div>
          <div class="mobile coursePrice" v-if="courseDetail.videoPrice">
            ₦{{ courseDetail.videoPrice }}.00
            <!-- <div  class="cover">Video Copy</div> -->
          </div>
          <div class="mobile coursePrice" v-if="courseDetail.softCopyPrice">
            ₦{{ courseDetail.softCopyPrice }}.00
            <!-- <div  class="cover">Digital Cover</div> -->
          </div>
          <div class="mobile coursePrice" v-if="courseDetail.readOnlinePrice">
            ₦{{ courseDetail.readOnlinePrice }}.00
            <!-- <div  class="cover">Read Online</div> -->
          </div>
        </div>
        <!-- <div class="sendToLibrary" @click="enroll(courseDetail.uid)">Send To Library</div> -->

        <div class="courseDivs">
          <p class="courseT coursepara">{{ courseDetail.title }}</p>
          <p class="coursepara">{{ courseDetail.overview }}</p>
          <div class="reviewAll">
            <div v-if="allReviews.length > 0">
              <div class="row reviewRate" v-for="allReview in allReviews">
                <div class="ratingSt">
                  <div v-for="star in allReview.rating" class="rateStyle">
                    <i class="fa fa-star"></i>
                  </div>
                  <div v-for="star in 5 - allReview.rating" class="rateStyle">
                    <i class="fa fa-star-o"></i>
                  </div>
                </div>
              </div>
            </div>

            <div v-else>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <span class="reviewSign">No Reviews</span>
            </div>
            <div v-if="courseDetail.rating !== undefined " class="reviewContent">
              {{ courseDetail.rating }} ({{
              courseDetail.ratingCount + " ratings"
              }})
              <span
                class="courseLoc"
              >
                {{ courseDetail.broughtByStu }} student<span v-if="courseDetail.broughtByStu>1">s</span>
                enrolled
              </span>
            </div>
          </div>

          <div class="reviewAll">
            <div class="coursepara reviewRate" v-if="storeName">Created by {{storeName}}</div>

            <div class="coursepara reviewContent">
              Last updated
              {{ courseDetail.updated_at | moment("MM/YYYY") }}
            </div>
          </div>
        </div>
      </div>
      <div class="butt">
        <!-- new buttons starts here -->
        <!-- <div class="newButtons">
                             <div   v-if="courseDetail.prodCategoryType === 'BS' || courseDetail.prodCategoryType === 'ES' || courseDetail.prodCategoryType === 'VS'">

                                     <div
                                       v-if="!bought"
                                     class="newButton" id="send"   @click="enroll(courseDetail.uid)"> <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                       <span class="buttonText" > Add to BizLibrary</span>


                                     </div>
                                      <div

                                     class="newButton addedButton" id="send" > <i class="fa fa-paper-plane" aria-hidden="true"></i>

                                       <span class="buttonText " > Added to BizLibrary</span>

                                     </div>

                             </div>

                                   <div   v-else>
                                         <div
                                     v-if="!bought"
                                      class="newButton" id="addCart"  @click="enroll(courseDetail.uid)"> <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                       <span class="buttonText" >Add to Cart</span>


                                     </div>

                                 <div
                                    v-else
                                      class="newButton addedButton" id="addCart" > <i class="fa fa-cart-plus" aria-hidden="true"></i>

                                       <span  class="buttonText " >Purchased</span>

                                     </div>


                                   </div>



                                    <div  v-if="added || wishes>0" class="newButton addedButton" id="addWishlist"><i class="fa fa-heart" aria-hidden="true"></i>
                                      <span  class="buttonText ">Added to Wishlist</span>


                                     </div>
                                     <div v-else class="newButton" id="addWishlist" @click="addToWishlist"><i class="fa fa-heart" aria-hidden="true"></i>

                                        <span class="buttonText">Add to Wishlist</span>

                                     </div>



                                     <div  class="newButton" id="share"  v-on:click="click"  v-bind:class="{view:isClicked}"><i class="fa fa-share" aria-hidden="true"></i>
                                     <span class="buttonText"> Share</span>
                                    </div>
                                    <div  class="newButton" id="share"  v-on:click="click"  v-bind:class="{view:!isClicked}"><i class="fa fa-times" aria-hidden="true"></i>

                                    </div>

        </div>-->

        <!-- and ends here -->
        <div>
          <div
            v-if="courseDetail.prodCategoryType === 'BS' || courseDetail.prodCategoryType === 'ES' || courseDetail.prodCategoryType === 'VS'"
            v-bind:class="{sendToLibrary: !bought, sentToLibrary:bought }"
          >
            <span v-if="bought">
              <i class="fa fa-list-alt pr-2" aria-hidden="true"></i> Added To Library
            </span>
            <span v-else @click="enroll(courseDetail.uid)" class="buttons">
              <i class="fa fa-paper-plane pr-2" aria-hidden="true"></i> Send To BizLibrary
            </span>
          </div>
          <div v-else v-bind:class="{sendToLibrary: !bought, sentToLibrary:bought }">
            <span v-if="bought">
              <i class="fa fa-list-alt pr-2" aria-hidden="true"></i> Purchased
            </span>
            <span v-else @click="enroll(courseDetail.uid)" class="buttons">
              <i class="fa fa-cart-plus pr-2" aria-hidden="true"></i>
              Purchase
            </span>
          </div>
        </div>
        <small class="money_back">30-Day Money-Back Guarantee</small>
        <div>
          <div v-if="added" class="addedToWishlist">
            <i class="fas fa-heart add pr-2"></i> Added to Wishlist
          </div>
          <div v-else class="sendToWishlist" @click="addToWishlist">
            <i class="fas fa-plus text-main pr-2"></i> Add to Wishlist
          </div>
        </div>
        <div class="share">
          <span v-on:click="click" v-bind:class="{view:isClicked}">
            <i class="fas fa-share-square"></i> Share
          </span>
          <span v-on:click="click" v-bind:class="{view:!isClicked}">
            <i class="fas fa-window-close"></i> close
          </span>
        </div>
        <div >
          <div class>
            <social-sharing
              :url="url"
              :title="courseDetail.title"
              :description="courseDetail.overview"
              :quote="courseDetail.overview"
              hashtags="bizguruh,business"
              inline-template
            >
              <div class="social" v-bind:class="{view:!isClicked}">
                <network network="facebook">
                  <i class="fa fa-facebook fb"></i>
                </network>
                <network network="twitter">
                  <i class="fa fa-twitter tweet"></i>
                </network>
                <network network="googleplus">
                  <i class="fa fa-google-plus google"></i>
                </network>
                <network network="linkedin">
                  <i class="fa fa-linkedin linkedin"></i>
                </network>
                <network network="whatsapp">
                  <i class="fa fa-whatsapp whatsapp"></i>
                </network>
              </div>
            </social-sharing>
          </div>
        </div>

        <div class="includes">
          <p class="includes_header">This course includes</p>

          <ul>
            <li v-if="courseDetail.duration !== ''">Duration: {{ time(TotalvideoDuration) }}</li>
            <li>Modules: {{ modulesCount }} module<span v-if="modulesCount>1">s</span></li>
            <li>Level: {{ courseDetail.level }}</li>
            <li v-if="courseDetail.fullOnline">Full Online</li>
            <li v-if="courseDetail.certificate">Certificate of Completion</li>
          </ul>
        </div>

          <div class="mt-3">
            <i class="fas fa-thumbs-up mr-3 liked" aria-hidden="true" @click="like(user.id,id,vendorDetail.id,'like')">{{myLikes}}</i>
            <i class="fas fa-thumbs-down  liked  ml-3" @click="unlike(user.id,id,vendorDetail.id,'unlike')">{{myUnLikes}}</i>
          </div>
      </div>

      <div class="excerptTab">
        <span class="cartAdded" v-if="inCart">
          <i class="fas fa-cart-plus cartA"></i>
        </span>

        <video id="testV" controls width="320px"  :src="courseDetail.excerpt">
          <source />
        </video>

        <div class="row price">
          <div class="coursePrice" v-if="courseDetail.hardCopyPrice">
            ₦{{ courseDetail.hardCopyPrice }}.00
            <!-- <div  class="cover">Hard Cover</div> -->
            {{courseDetail.excerpt.duration}}
          </div>
          <div class="coursePrice" v-if="courseDetail.videoPrice">
            ₦{{ courseDetail.videoPrice }}.00
            <!-- <div  class="cover">Video Copy</div> -->
          </div>
          <div class="coursePrice" v-if="courseDetail.softCopyPrice">
            ₦{{ courseDetail.softCopyPrice }}.00
            <!-- <div  class="cover">Digital Cover</div> -->
          </div>
          <div class="coursePrice" v-if="courseDetail.readOnlinePrice">
            ₦{{ courseDetail.readOnlinePrice }}.00
            <!-- <div  class="cover">Read Online</div> -->
          </div>
        </div>

        <!-- new buttons starts here     -->

        <div class="newButtons">
          <div
            v-if="courseDetail.prodCategoryType === 'BS' || courseDetail.prodCategoryType === 'ES' || courseDetail.prodCategoryType === 'VS'"
          >
            <div v-if="!bought" class="newButton" id="send" @click="enroll(courseDetail.uid)">
              <i class="fa fa-paper-plane faBu" aria-hidden="true"></i>
              <span class="buttonText">Add to BizLibrary</span>
            </div>
            <div v-else class="newButton addedButton" id="send">
              <i class="fa fa-paper-plane faBu" aria-hidden="true"></i>

              <span class="buttonText">Added to BizLibrary</span>
            </div>
          </div>

          <div v-else>
            <div v-if="!bought" class="newButton" id="addCart" @click="enroll(courseDetail.uid)">
              <i class="fa fa-cart-plus faBu" aria-hidden="true"></i>
              <span class="buttonText">Add to Cart</span>
            </div>

            <div v-else class="newButton addedButton" id="addCart">
              <i class="fa fa-cart-plus faBu" aria-hidden="true"></i>

              <span class="buttonText">Purchased</span>
            </div>
          </div>

          <div v-if="added " class="newButton addedButton" id="addWishlist">
            <i class="fa fa-heart faBu" aria-hidden="true"></i>
            <span class="buttonText">Added to Wishlist</span>
          </div>
          <div v-else class="newButton" id="addWishlist" @click="addToWishlist">
            <i class="fa fa-heart faBu" aria-hidden="true"></i>

            <span class="buttonText">Add to Wishlist</span>
          </div>

          <div class="newButton" id="share" v-on:click="click" v-bind:class="{view:isClicked}">
            <i class="fa fa-share faBu" aria-hidden="true"></i>
            <span class="buttonText">Share</span>
          </div>
          <div class="newButton" id="share" v-on:click="click" v-bind:class="{view:!isClicked}">
            <i class="fa fa-times faBu" aria-hidden="true"></i>
          </div>
        </div>

        <!-- and ends here -->

        <!-- <div v-if="courseDetail.prodCategoryType === 'BS' || this.courseDetail.prodCategoryType === 'ES' || this.courseDetail.prodCategoryType === 'VS'"
                 v-bind:class="{sendToLibrary: !bought, sentToLibrary:bought }" >
					<span v-if="bought">Added To Library</span>
                    <span v-else @click="enroll(courseDetail.uid)" class="buttons">Send To BizLibrary</span>
				</div>
                 <div v-else  v-bind:class="{sendToLibrary: !bought, sentToLibrary:bought }" >
                    <span v-if="bought"  >
                        Purchased
                    </span>
                    <span v-else @click="enroll(courseDetail.uid)" class="buttons">
                        Purchase Now

                    </span>
        </div>-->
        <!-- <div class="sendToLibrary" @click="enroll(courseDetail.uid)">Send To Library</div> -->
        <!-- <div v-if="added || wishes>0" class="addedToWishlist" >Added to Wishlist</div>
				<div v-else class="sendToWishlist"  @click="addToWishlist">Add to Wishlist</div>
				<div class="shareI">
					<span v-on:click="click"  v-bind:class="{view:isClicked}"><i class="fas fa-share-square"></i> Share</span>
					<span  v-on:click="click" v-bind:class="{view:!isClicked}"><i class="fas fa-window-close"></i> Close </span>

        </div>-->
        <div >
          <div class>
            <social-sharing
              :url="url"
              :title="courseDetail.title"
              :description="courseDetail.overview"
              :quote="courseDetail.overview"
              hashtags="bizguruh,business"
              inline-template
            >
              <div class="social" v-bind:class="{view:!isClicked}">
                <network network="facebook">
                  <i class="fa fa-facebook fb"></i>
                </network>
                <network network="twitter">
                  <i class="fa fa-twitter tweet"></i>
                </network>
                <network network="googleplus">
                  <i class="fa fa-google-plus google"></i>
                </network>
                <network network="linkedin">
                  <i class="fa fa-linkedin linkedin"></i>
                </network>
                <network network="whatsapp">
                  <i class="fa fa-whatsapp whatsapp"></i>
                </network>
              </div>
            </social-sharing>
          </div>
        </div>
        <small>30-Day Money-Back Guarantee</small>
        <div>
          <p class="includes_header">This course includes</p>
          <ul>
            <li v-if="courseDetail.duration !== ''">Duration: {{ time(TotalvideoDuration) }}</li>
            <li>Modules: {{ modulesCount }} module<span v-if="modulesCount>1">s</span></li>
            <li>Level: {{ courseDetail.level }}</li>
            <li v-if="courseDetail.fullOnline">Full Online</li>
            <li v-if="courseDetail.certificate">Certificate of Completion</li>
          </ul>
        </div>
         <div class="mt-3">
            <i class="fas fa-thumbs-up mr-4 liked" aria-hidden="true"   @click="like(user.id,id,vendorDetail.id,'like')">{{myLikes}}</i>
            <i class="fas fa-thumbs-down  liked  "  @click="unlike(user.id,id,vendorDetail.id,'unlike')">{{myUnLikes}}</i>
          </div>
      </div>
      <div class="excerptRealTab">
          <div class="bread my-2">
      <ul>
        <li
          v-for="(breadcrumb, index) in breadcrumbList"
          v-bind:key="index"
          @click="routeTo(index)"
          :class="{linked: !!breadcrumb.link}"
        >{{breadcrumb.name}}</li>
      </ul>
    </div>
        <div class="whatLearns">
          <div class="what-you-get__title">What you'll learn</div>
          <ul class="ui-course"  >
            <li
             v-if="courseDetail.whatYouWillLearnHere.length > 0"
              v-for="(course,
							index) in courseDetail.whatYouWillLearnHere" :key="index"
            >
              <span class="fa fa-check"></span>
              {{ course.whatYouWillLearn }}
            </li>
          </ul>
        </div>

        <div class="course_content">
          <div class="leftC">
            <h3>Course Content</h3>
          </div>
          <div class="rightC">
            <div v-if="courseDetail.modules" class="cc">{{courseDetail.modules.length}} module<span v-if="courseDetail.modules.length>1">s</span></div>
            <div class="cc">{{time(TotalvideoDuration)}}</div>
          </div>
        </div>
        <div
          class="titleC"
          v-if="courseModule.length > 0"
          v-for="(course, index) in courseModule"
          :key="course.id"
        >
          <a class="whatLearnx section-container">
            <div class="section-header-left">
              <span class="section-title-wrapper">
                <span class="section-title-text">
                  {{
                  course.title
                  }}
                </span>
                <span @click="courseShow(index)" class="section-title-toggle" v-if="index !== courseIndex">
                  <span class="section-title-toggle-plus"><i class="fa fa-plus text-main" aria-hidden="true"></i></span>
                </span>
                 <span @click="courseHide" class="section-title-toggle" v-else>
                  <span class="section-title-toggle-plus"><i class="fa fa-minus text-main" aria-hidden="true"></i></span>
                </span>
              </span>
            </div>
          </a>
          <a v-if="index === courseIndex" class="whatLearnxx section-container">
            <div class="section-header-left">
              <span class="section-title-wrapper">
                <table class="table">
                  <tbody>
                    <tr v-if="course.fileVideoName !== 'Upload Video'">
                      <td scope="row"></td>
                      <td class="section-title-text">{{course.fileVideoName}}</td>
                      <td class="file">Video</td>

                      <td class="file">{{time(course.vidTime)}}</td>
                    </tr>
                    <tr v-if="course.fileAudioName !== 'Upload Audio'">
                      <td scope="row"></td>
                      <td class="section-title-text">{{course.fileAudioName}}</td>
                      <td class="file">Audio</td>

                      <td class="file">{{time(course.audTime)}}</td>
                    </tr>
                    <tr v-if="course.fileName !== 'Upload Course'">
                      <td scope="row"></td>
                      <td class="section-title-text">{{course.fileName}}</td>
                      <td class="file">Pdf</td>
                      <td class="file">
                        <i class="fas fa-marker"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </span>
            </div>
          </a>
        </div>

        <div class="whatL">
          <h3 class="mb-2">Requirement<span v-if="JSON.parse(courseDetail.courseModules).length>1">s</span></h3>
          <ul>
            <li v-for="(item,idx) in JSON.parse(courseDetail.courseModules)" :key="idx" >{{item.name}}</li>
            
          </ul>
        </div>

        <div class="whatL mb-4">
          <h3 class="mb-2">Course Description</h3>
          <div v-html="courseDetail.courseObjectives"></div>
        </div>

        <div class="titleC">
          <div>
            <div class="faqs mb-3">
              <b>FAQS</b>
            </div>
            <div
              class="titleC"
              v-if="courseDetail.faq.length > 0"
              v-for="(course, index) in courseDetail.faq"
            >
              <a class="whatLearnx section-container">
                <div class="section-header-left">
                  <span class="section-title-wrapper">
                    <span class="section-title-text">
                      {{
                      course.question
                      }}
                    </span>

                    <span class="section-title-toggle">
                      <span
                        @click="faqShow(index)"
                        v-if="index !== faqIndex"
                        class="section-title-toggle-plus"
                      ><i class="fa fa-plus text-main" aria-hidden="true"></i></span>
                    

                      <span
                        @click="faqHide"
                        v-else
                        class="section-title-toggle-plus"
                      > <i class="fa fa-minus text-main" aria-hidden="true"></i></span>
                    </span>
                  </span>
                </div>
              </a>

              <a v-if="index === faqIndex" class="whatLearnxx section-container">
                <div class="section-header-left">
                  <span class="section-title-wrapper">
                    <span class="section-title-text fw">
                      <ul>
                        <li>{{ course.answer }}</li>
                      </ul>
                    </span>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- About the Instructor -->

        <div class="row instructor">
          <h3 class="mb-2" style="width:100%">About The Instructor</h3>
          <p
            class="instructor_name mb-2"
            v-if="vendor.storeName"
          >{{vendor.storeName}}</p>
          <!-- <p v-else class="instructor_name mb-2">Bizguruh</p> -->
          <div class="info mb-2">
            <div class="instructor_container mb-3">
              <img :src="vendor.valid_id" alt />
            </div>
            <div class="instructor_stat">
              <p class="mb-3">
                <i class="fas fa-star"></i>
                <strong>{{ courseDetail.rating }}</strong> Instructor Rating
              </p>
              <p class="mb-3">
                <i class="fas fa-comment"></i>
                <strong>{{allReviews.length }}</strong> Review<span v-if=" allReviews.length > 1">s</span>
              </p>
              <p class="mb-3">
                <i class="fas fa-users"></i>
                <strong>{{ courseDetail.broughtByStu }}</strong> Student<span v-if=" courseDetail.broughtByStu > 1">s</span>
              </p>
              <p class="mb-3">
                <i class="fas fa-play-circle"></i>
                <strong>{{vendorCourses.length}}</strong> Course<span v-if="vendorCourses.length > 1">s</span>
              </p>
            </div>
          </div>
          <div class="text">
            <!-- <router-link
                            :to="{ name:'PartnerProfile',
                                        params:{
                                            id:vendor.id
                                        }
            }">-->

            <div class="writtenBy" v-if="vendor.storeName !== ' '">
              <!-- <p>
                <strong>{{vendor.storeName}}</strong>
              </p> -->
            </div>
            <!-- </router-link> -->

            <strong>{{vendor.occupation}}</strong>
            <p class="toggleOff" v-bind:class="{ toggleOn: isShown }">{{vendor.bio}}</p>

            <p v-on:click="seeMore" class="seeMore">
              <span v-if="isShown">
                <i class="fas fa-minus text-main"></i> see less
              </span>
              <span v-else>
                <i class="fas fa-plus text-main"></i> see more
              </span>
            </p>
          </div>
        </div>

        <div class="whatLearns" v-if="allReviews.length > 0">
          <p class="titleWhat mb-3">Featured review</p>
          <div class="courseOutline">
            <div class="row" v-for="allReview in allReviews">
              <div class="col-md-5 col-xs-12">
                <div class="col-md-2 col-xs-2 reviewAvatar">
                  <div class="rev">
                    {{
                    allReview.user.name.charAt(0)
                    }}
                  </div>
                </div>
                <div class="col-md-10 col-xs-10">
                  <div class="reviewSize">
                    {{
                    allReview.created_at.date
                    | moment("from")
                    }}
                  </div>
                  <div class="reviews">
                    {{ allReview.user.name }}
                    {{ allReview.user.lastName }}
                  </div>
                </div>
              </div>
              <div class="col-xs-2 lob"></div>
              <div class="col-md-7 col-xs-10">
                <div class="col-md-12 reviewww">
                  <div class="ratingSt">
                    <div v-for="star in allReview.rating" class="rateStyle">
                      <i class="fa fa-star"></i>
                    </div>
                    <div v-for="star in 5 - allReview.rating" class="rateStyle">
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 reviews">
                  <!-- <div>{{ allReview.title }}</div> -->
                  <div
                    class="reviewSizes"
                    v-bind:style="{textOverflow:read, overflow:over}"
                  >{{ allReview.description }}</div>
                  <small @click="readMore" class="read">Read more</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="whatLearns">
          <div class="review-div">
            <!--<div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Title" v-model="review.title">
            </div>-->
            <div class="form-group">
              <textarea
                class="form-control"
                rows="5"
                placeholder="Enter Reviews"
                v-model="review.description"
              ></textarea>
            </div>
            <div>
              <i
                :class="{
									fa: rateFa,
									'fa-star-o': NotratedOne,
									'fa-star': RatedOne
								}"
                @click="rateWithStar('1')"
              ></i>
              <i
                :class="{
									fa: rateFa,
									'fa-star-o': NotratedTwo,
									'fa-star': RatedTwo
								}"
                @click="rateWithStar('2')"
              ></i>
              <i
                :class="{
									fa: rateFa,
									'fa-star-o': NotratedThree,
									'fa-star': RatedThree
								}"
                @click="rateWithStar('3')"
              ></i>
              <i
                :class="{
									fa: rateFa,
									'fa-star-o': NotratedFour,
									'fa-star': RatedFour
								}"
                @click="rateWithStar('4')"
              ></i>
              <i
                :class="{
									fa: rateFa,
									'fa-star-o': NotratedFive,
									'fa-star': RatedFive
								}"
                @click="rateWithStar('5')"
              ></i>
              <i class="ml-lg-5">
                {{ review.rating }}
                {{ review.rating > 1 ? "stars" : "star" }}
              </i>
            </div>

            <button class="elevated_btn elevated_btn_sm text-white btn-compliment mb-2" @click="submitReview()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import SocialSharing from "vue-social-sharing";
import { getCustomerHeader } from "../config";

export default {
  name: "user-admin-full-course-component",
  data: function() {
    return {
      id: this.$route.params.id,
      title: this.$route.params.name,
      url: `https://bizguruh.com/courses/${this.$route.params.id}/${this.$route.params.name}`,
      courseDetail: {},
      courseModule: [],
      epiFade: true,
      epiModal: true,
      cartDi: true,
      inCart: false,
      price: "",
      breadcrumbList: [],
      email: "",
      showHide: "",
      user_id: "",
      hiddenAudio: "",
      hiddenVideo: "",
      videoDuration: "NaN:NaN:NaN",
      audioDuration: "NaN:NaN:NaN",
      user: {},
      vendor: {},
      vendorDetail: [],
      vendorCourses: [],
      anonymousCart: [],
      loginCart: [],
      storeName: "",
      review: {
        productId: "",
        title: "",
        description: "",
        rating: 0
      },
      star: 0,
      rateFa: true,
      NotratedOne: true,
      NotratedTwo: true,
      RatedTwo: false,
      RatedOne: false,
      NotratedThree: true,
      RatedThree: false,
      NotratedFour: true,
      RatedFour: false,
      NotratedFive: true,
      RatedFive: false,
      modulesCount: "",
      authenticate: false,
      allReviews: [],
      whatYouWillLearn: [],
      indexCheck: "",
      faqCheck: "",
      isShown: false,
      isClicked: false,
      added: false,
      wishes: 0,
      read: "ellipsis",
      over: "hidden",
      plus: "+",
      faq_plus: "+",
      update: 0,
      bought: false,
      vidDur: [],
      audDur: [],
      startDate: null,
      startDateParsed: null,
      currentDate: null,
      endDate: null,
      freeTrial: true,
      isActive: true,
       isLiked:false,
      isUnliked:false,
      allLikes:[],
      allUnlikes:[],
      update:0,
      courseIndex:null,
      faqIndex:null
    };
  },
  components: {
    SocialSharing
  },
  watch: {
    $route() {
      this.updateList();
    },
     'update':'updateThis'
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user != null) {
      this.token = user.access_token;
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));

          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
           
            this.freeTrial = false;
          } else {
           
          }
        });
    }

    this.updateList();
    axios.get(`/api/course-detail/${this.id}`).then(response => {
      if (response.status === 200) {
        this.courseModule = response.data;

        this.courseModule.forEach(item => {
          this.vidDur.push(Number(item.vidTime), Number(item.audTime));
        });
         this.getLike(this.id)
       this.getUnLike(this.id)
      }
    });

    axios
      .get(`/api/product-detail/${this.id}`)
      .then(response => {
        if (response.status === 200) {
        

          this.courseDetail = response.data.data[0].courses;
          this.courseDetail.modules = response.data.data[0].coursesModule;
          this.courseDetail.modules.forEach(item => {
            item.hideNot = 0;
          });
          this.courseDetail.subscriptionLevel =
            response.data.data[0].subscriptionLevel;
          this.courseDetail.uid = response.data.data[0].id;
          this.courseDetail.vendor = response.data.data[0].vendor;
          this.storeName = response.data.data[0].vendor.storeName;
		  this.courseDetail.hardCopyPrice = response.data.data[0].hardCopyPrice;
		  this.courseDetail.industry = response.data.data[0].industry.name;
          this.courseDetail.audioPrice = response.data.data[0].audioPrice;
          this.courseDetail.readOnlinePrice =
            response.data.data[0].readOnlinePrice;
          this.courseDetail.whatYouWillLearnHere =
            response.data.data[0].whatYouWillLearn;
          this.courseDetail.softCopyPrice = response.data.data[0].softCopyPrice;
          this.courseDetail.videoPrice = response.data.data[0].videoPrice;
          this.courseDetail.faq = response.data.data[0].faq;
          this.courseDetail.rating = response.data.data[0].rating;
          this.courseDetail.ratingCount = response.data.data[0].ratingCount;
          this.courseDetail.broughtByStu = response.data.data[0].broughtByStu;
          this.modulesCount = this.courseDetail.modules.length;
          this.courseDetail.prodCategoryType =
            response.data.data[0].prodCategoryType;

          this.getProductReviews(this.courseDetail.uid);
          if (this.user !== null) {
            axios
              .post(`/api/cart/check/${this.user.id}/${this.courseDetail.uid}`)
              .then(response => {
                if (response.data === true) {
                  this.inCart = true;
                } else {
                  this.inCart = false;
                }
              });
            this.wishlist();
          }

          axios
            .get(`/api/vendor/${response.data.data[0].vendor.id}`)
            .then(response => {
              this.vendor = response.data.vendor[0];

              this.vendorDetail = response.data.vendorDetail[0];
              if (this.user !== null) {
                   this.$emit('reach',user.id, this.courseDetail.uid,this.vendorDetail.id)
                this.$emit("activity", this.vendorDetail.id, 0, 1);
				this.$emit( "top-content", this.vendorDetail.id, this.courseDetail.uid, 1);
         this.$emit( "top-industry", this.vendorDetail.id, this.courseDetail.industry, 1);
           this.$emit( "add-location",   this.vendorDetail.id, user.location);
               this.$emit( "add-gender",  this.vendorDetail.id, user.gender);
                this.$emit('add-age', this.vendorDetail.id, user.age);
                  this.$emit('interaction', this.vendorDetail.id, 'views')
                   
				
              }
            });
          axios
            .get(`/api/vendorCourses/${response.data.data[0].vendor.id}`)
            .then(response => {
              this.vendorCourses = response.data.data;
              this.isActive= false
            });
        }
      })
      .catch(error => {
        console.log(error);
      });
  },
  beforeMount() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.authenticate = true;
      this.email = user.email;
      this.user_id = user.id;
      this.user = user;
      this.authenticate = true;
      this.token = user.access_token;

      axios
        .get(`/api/user/order/${this.id}`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          if (response.data === true) {
            this.bought = true;
          } else {
            this.bought = false;
          }
        });
    }
  },

  computed: {
    TotalvideoDuration: function() {
      return this.vidDur.reduce((a, b) => a + b, 0);
    },
     myLikes(){
      return this.allLikes.length
    },
    myUnLikes(){
      return this.allUnlikes.length
    }
  },

  methods: {
     updateThis(){
      this.getLike(this.id)
       this.getUnLike(this.id)
    },
    checkLike(user,product){
      axios.get(`/api/get-likes/${user}/${product}`).then(response=>{
          if (response.status === 200) {
            if (response.data.like == 1 && response.data.unlike == 0) {
               this.isLiked = true
               this.isUnliked = false

            }
             if (response.data.unlike == 1 && response.data.like == 0) {
               this.isLiked = false
               this.isUnliked = true

            }
             if (response.data.unlike == 0 && response.data.like == 0) {
               this.isLiked = false
               this.isUnliked = false

            }
          }
      })
    },
    getLike(product){
        axios.get(`/api/get-all-likes/${product}`).then(response=>{
          if (response.status === 200) {
            this.allLikes = response.data
          }
      })
    },
     getUnLike(product){
        axios.get(`/api/get-un-likes/${product}`).then(response=>{
          if (response.status === 200) {
            this.allUnlikes = response.data
          }
      })
    },
    like(user, product, vendor, type){
      if(!this.isLiked){
        this.update++
      this.isLiked = true
      this.isUnliked = false
      this.$emit('likes',user, product, vendor, type)
        this.$emit('interaction', vendor, 'likes')
      }
    },
    unlike(user, product, vendor, type){
        if(!this.isUnliked){
          this.update++
      this.isLiked = false
      this.isUnliked = true
       this.$emit('likes',user, product, vendor, type)
        }
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    time(num) {
      let secs = String(Math.floor(num % 60)).padStart(2, "0");
      let mins = String(Math.floor(num / 60)).padStart(2, "0");
      let hours = String(Math.floor(num / 3600)).padStart(2, "0");

      if (hours === "00") {
        return mins + ":" + secs;
      } else {
        return hours + ":" + mins + ":" + secs;
      }
    },

    seeMore() {
      this.isShown = !this.isShown;
    },
    click() {
      this.isClicked = !this.isClicked;
    },
    courseShow(index){
      this.courseIndex = index
    },
     courseHide(){
      this.courseIndex = null
    },

     faqShow(index){
      this.faqIndex = index
    },
     faqHide(){
      this.faqIndex = null
    },
    // courseHide(params, type) {
    //   this.currentIndex = params
    //   if (type === "modules") {
    //     if (params === this.indexCheck) {
    //       this.indexCheck = "";
    //       this.plus = "+";
    //     } else {
    //       this.indexCheck = params;
    //       this.plus = "-";
    //     }
    //   } else if (type === "faq") {
    //     if (params === this.faqCheck) {
         
    //       this.faqCheck = "";
    //       this.faq_plus = "+";
    //     } else {
    //       this.faqCheck = params;
    //       this.faq_plus = "-";
    //     }
    //   }
    // },
    getProductReviews(id) {
      let data = {
        id: id
      };

      axios
        .post("/api/product/get-reviews", JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            this.allReviews = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    subscribedForItem(id) {
      let data = {
        id: id,
        prodType: "Courses",
        getType: "download"
      };

      axios
        .post(
          `/api/user/sendcoursetolibrary`,
          JSON.parse(JSON.stringify(data)),
          {
            headers: {
              Authorization: `Bearer ${this.user.access_token}`
            }
          }
        )
        .then(response => {
          if (response.status === 201) {
            this.$toasted.success("Successfully added to library");
            this.bought = true
            this.update++;
          } else if (response.data.status === 99) {
            this.$toasted.error(
              "Product unavailable for your subscription level"
            );

            let routeData = this.$router.resolve({
              name: "SubscriptionProfile",
              params: {
                level: this.courseDetail.subLevel
              }
            });

            setTimeout(() => {
              window.open(routeData.href, "_blank");
            }, 5000);
          } else if (response.data === " ") {
            let routeData = this.$router.resolve({
              name: "SubscriptionProfile"
            });
            window.open(routeData.href, "_blank");
          } else {
            this.$toasted.error(response.data);
          }
        })
        .catch(error => {
          console.log(error);
          if (error.response.data.message === "Unauthenticated.") {
            this.$router.push({
              name: "auth",
              params: { name: "login" },
              query: { redirect: this.$router.fullPath }
            });
          } else {
            this.$toasted.error(error.response.data.message);
          }
        });
    },
    enroll(id) {
      if (
        this.courseDetail.prodCategoryType === "BS" ||
        this.courseDetail.prodCategoryType === "ES" ||
        this.courseDetail.prodCategoryType === "VS"
      ) {
        this.subscribedForItem(id);
      } else {
        this.addToCart(id);
      }
    },
    submitReview() {
      if (this.authenticate === false) {
        this.$toasted.error("You must log in to review a product");
      } else {
        this.review.productId = this.courseDetail.uid;
        axios
          .post("/api/user/reviews", JSON.parse(JSON.stringify(this.review)), {
            headers: {
              Authorization: `Bearer ${this.user.access_token}`
            }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Reviews successfully saved");
              this.review.productId = this.review.title = this.review.description =
                "";
              this.review.rating = 0;
              this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
              this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
            } else {
              this.$toasted.error(
                "You cannot review this product until you purchase it"
              );
            }
          })
          .catch(error => {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          });
      }
    },
    openModal() {
      this.epiFade = false;
    },
    rateWithStar(num) {
      switch (num) {
        case "1":
          this.NotratedOne = !this.NotratedOne;
          this.RatedOne = !this.RatedOne;
          this.review.rating = 1;
          break;
        case "2":
          this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
          this.RatedTwo = this.RatedOne = !this.RatedTwo;
          this.review.rating = 2;
          break;
        case "3":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this
            .NotratedThree;
          this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
          this.review.rating = 3;
          break;
        case "4":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this
            .NotratedFour;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this
            .RatedFour;
          this.review.rating = 4;
          break;
        case "5":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this
            .NotratedFive;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this
            .RatedFive;
          this.review.rating = 5;
          break;
        default:
          this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
          this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
      }
    },
    addToCart(id) {
      let cart = {
        productId: id,
        price: this.courseDetail.hardCopyPrice,
        prodType: "All-Format"
      };
      if (this.price.format === "HardCopy") {
        cart.quantity = 1;
      } else {
        cart.quantity = 0;
      }

      if (this.authenticate === false) {
        cart.cartNum = 1;
        this.anonymousCart.push(cart);
        if (JSON.parse(localStorage.getItem("userCart")) === null) {
          localStorage.setItem("userCart", JSON.stringify(this.anonymousCart));
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let cartCount = sessionCart.length;
          this.$emit("getCartCount", cartCount);
          this.$emit('getCart')
          this.$notify({
            group: "cart",
            title: this.courseDetail.title,
            text: " Added to Cart!"
          });
        } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let ss = sessionCart.length;
          sessionCart[ss] = cart;
          localStorage.setItem("userCart", JSON.stringify(sessionCart));
          let a = JSON.parse(localStorage.getItem("userCart"));
          let aCount = a.length;
          this.$emit("getCartCount", aCount);
             this.$emit('getCart')
          this.$notify({
            group: "cart",
            title: this.courseDetail.title,
            text: "Successfully Added to Cart!"
          });
        }
      } else {
        this.addCart(cart);
      }
    },
    addCart(cart) {
      if (this.inCart === true) {
        this.$toasted.error("Already in cart");
      } else {
        axios
          .post("/api/cart", JSON.parse(JSON.stringify(cart)), {
            headers: {
              Authorization: `Bearer ${this.user.access_token}`
            }
          })
          .then(response => {
            if (response.status === 201) {
              this.update++;
              this.$emit('plusCart')
              this.inCart = true;
              this.loginCart.push(response.data);
              let aCount = this.loginCart.length;
              this.$emit("getCartCount", aCount);
              this.$notify({
                group: "cart",
                title: this.courseDetail.title,
                text:
                  "<p><small>Added to Cart!</small></p><p><small>Proceed to Checkout</small></p>"
              });
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    wishlist() {
      axios
        .get(`/api/wish-list/${this.courseDetail.uid}`, {
          headers: {
            Authorization: `Bearer ${this.user.access_token}`
          }
        })
        .then(response => {
          if (response.data === true) {
            this.added = true;
          } else {
            this.added = false;
          }
        });
    },
    readMore() {
      if (this.read === "ellipsis") {
        this.read = "unset";
        this.over = "unset";
      } else {
        this.read = "ellipsis";
        this.over = "hidden";
      }
    },
    addToWishlist() {
      if (this.authenticate === false) {
        this.$toasted.error("Login to add to wishlist");
      } else {
        let data = {
          userId: this.user_id,
          productId: this.courseDetail.uid,
          vendorId: 1
        };
        if (this.added) {
          this.$toasted.error("Already added to wishlist");
        } else {
          axios
            .post("/api/wishlist", JSON.parse(JSON.stringify(data)), {
              headers: {
                Authorization: `Bearer ${this.user.access_token}`
              }
            })
            .then(response => {
              if (response.status === 201) {
                this.added = true;
                this.$toasted.success("Successfully added to wishlist");
              } else {
                this.$toasted.error("Already added to wishlist");
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      }
    }
  }
};
</script>

<style scoped>
.liked{
  color:hsl(207, 43%, 20%);
}
.cartAdded {
  position: absolute;
  color: hsl(207, 43%, 20%);
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 3;
  background: #f7f8fa;
  border-radius: 50%;
}
th,td{
  text-align:left
}
.cartA {
  font-size: 11px;
  position: absolute;
  top: 4px;
  left: 3px;
}
.newButtons {
  position: relative;
  display: flex;
  /* background: #f7f8fa; */
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}
.newButton {
  position: relative;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  background: hsl(207, 43%, 20%);
}
.addedButton {
  color: rgb(255, 255, 255, 0.5);
  background: rgb(91, 132, 167, 0.5);
}
.newButton:hover {
  box-shadow: 2px 4px 5px 2px rgba(20, 23, 28, 0.15);
  color: #ffffff;
  background: rgb(91, 132, 167, 0.5);
}
.newButton::after {
  box-shadow: 4px 6px 5px 3px rgba(20, 23, 28, 0.15);
  transform: translateY(4px);
}
.buttonText {
  visibility: hidden;
  width: 120px;
  background-color: hsl(207, 43%, 20%);
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.buttonText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(207, 43%, 20%) transparent transparent transparent;
}
.newButton:hover .buttonText {
  visibility: visible;
  opacity: 1;
}
.faBu {
  padding: 15px;
  font-size: 20px;
}
.strike1 {
  border-top: 2px solid hsl(207, 43%, 20%);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 45%;
  z-index: 40;
  width: 64px;
  left: -7px;
}
.strike2 {
  border-top: 2px solid hsl(207, 43%, 20%);
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 45%;
  z-index: 40;
  width: 64px;
  left: -7px;
}
.fa-minus,.fa-plus {
  font-size:13px;
}
.bread ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  padding: 5px 15px;
  background: #fff;
}
.bread ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
.bread ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}

.container-fluid {
  padding-bottom: 80px;
 
}
ol,
ul {
  list-style: none !important;
}
.view {
  display: none;
}
/* .facebook__design__flat[data-v-347cbe4d] {
	background-color: hsl(207, 43%, 20%) !important;
	color: #fefefe;
} */

.table {
  margin-bottom: 0 !important;
}
/* .buttons{
    padding:10px 40px;
} */
.button-social[data-v-347cbe4d] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.read {
  cursor: pointer;
}
.instructor {
  display: flex;
  width: 65%;

  height: 500px;
  margin: 20px 30px;
  padding: 40px 15px;
}
.cover {
  font-size: 9px;
}
.price {
  justify-content: center;
  line-height: 1.4;
}
.seeMore {
  display: none;
  color: hsl(207, 43%, 20%);
  text-transform: capitalize;
}

.info {
  width: 30%;
  line-height: 1;
}
.instructor_container {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}
.instructor_name {
  width: 100%;
  font-size: 18px;

}
.instructor_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.text {
  width: 60%;
  padding: 20px 20px 10px 30px;
  height: 300px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-bottom: 1px thin #888888;
}

.course_content {
  width: 68%;
  padding: 20px 20px 20px 30px;
  display: flex;
}
.rightC {
  display: flex;
  margin-left: auto;
  color: #777777;
}
.cc {
  padding: 0 0px 0 40px;
  font-size:14px;
}
.writtenBy {
  color: rgba(0, 0, 0, 0.84);
}
.writtenBy:hover {
  cursor: pointer;
  text-decoration: underline;
}

.faqs {
  padding: 0 30px;
}
.titleC {
  float: left;
  width: 100%;
  margin-bottom:14px;
}
.titleCC {
  float: left;
  width: 100%;
  padding: 20px;
}

.fw {
  font-weight: 400 !important;
}
.ratingSt {
  overflow: hidden;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}
.fa-star-o {
  color: #000000;
}
.lob {
  display: none;
}

.courseDivs {
  width: 70%;
}
video {
  width: 100%;
}
.reviewAvatar {
  text-transform: capitalize;
  background: hsl(207, 43%, 20%);
  color: #ffffff;
  padding: 10px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}
.rev {
  width: 100%;
  height: 100%;
}

.courseT {
  font-size: 31px !important;
  text-transform: capitalize;
  font-weight: 500;
}

.coursepara {
  color: hsl(207, 45%, 99%);
  line-height: 1.5;
  font-size: 16px;
  clear: left;
  font-family:'Josefin Sans';
}

.courseOutline {
  background: #ece9e9;
  margin: 17px 0 0 0;
  padding: 6px;
  font-size: 20px;
  text-transform: capitalize;
}

.courseOutlines {
  background: #dddddd;
  padding: 6px;
}

.what-you-get__title {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.ui-course {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobile {
  display: none;
}

.ui-course li {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.fa-check {
  align-self: flex-start;
  color: #a1a7b3;
  font-size: 16px;
  margin-right: 15px;
  margin-top: 2px;
}
.fa-check.add {
  color: #ffffff;
  font-size: inherit;
  margin: 0;
}
.file {
  font-size: x-small;
  color: rgba(0, 0, 0, 0.54);
  text-align: right;
}

.whatLearns {
  float: left;
  width: 65%;
  margin: 15px 30px;
  border-radius: 5px;
  background-color: #f7f8fa;
  border: 1px solid #dedfe0;
  padding: 10px 15px;
}

.requirements__list li {
  margin-bottom: 10px;
}

.whatL {
  float: left;
  width: 65%;
  margin: 2px 30px;
  padding: 10px 15px;
}
/* div.whatL ul {
    list-style: disc;
} */

.whatLearnx {
  float: left;
  width: 65%;
  margin: 0px 30px;
  border-radius: 5px;
  background-color: #f7f8fa;
  border: 1px solid #dedfe0;
  padding: 10px 15px;
}
.whatLearnxx {
  float: left;
  width: 65%;
  margin: 0px 30px;
  border: 1px solid #dedfe0;
  padding: 10px 15px;
}
.shareI {
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px;
  border: 1px solid hsl(207, 43%, 20%);
}
.sendToLibrary {
  position: relative;
  background: hsl(207, 43%, 20%);
  border: 1px solid hsl(207, 43%, 20%);
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.sendToLibrary:hover {
  background: rgb(149, 172, 191, 0.64);
  color: #ffffff !important;
  border: none;
}
.sendToLibrary:after {
  content: "";
  background: rgb(149, 172, 191);
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 250%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.sendToLibrary:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.sentToLibrary {
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: default;
  margin: 10px;
}

.addedToWishlist {
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: default;
  margin: 10px;
  border: 1px solid hsl(207, 43%, 20%);
}
.sendToWishlist:hover {
  background: rgb(149, 172, 191, 0.64);
  color: #ffffff !important;
  border: none;
}
.sendToWishlist {
  position: relative;
  background: hsl(207, 43%, 20%);
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.sendToWishlist:after {
  content: "";
  background: hsl(207, 43%, 20%);
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 250%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.sendToWishlist:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.social {
  background: #ffffff;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px 0;
  font-size: x-large !important;
  color: hsl(207, 43%, 20%) !important;
}

.titleWhat {
  font-size: 20px;
}
.whatLearn {
  float: left;
  width: 65%;
  background: #ece9e9;
  margin: 15px 30px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #b7b5b5;
  box-shadow: 0 2px 2px #eee;
}

.courseTab {
  position: relative;
  font-size: 16px;
}

.excerptRealTab {
  overflow: hidden;
  background: white;
}

.excerptTab {
  float: right;
  position: absolute;
  top: 100px;
  right: 50px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 2px 2px #ccc;
  width: 25%;
}
.butt {
  display: none;
}

.faqDiv {
  margin-bottom: 20px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #333;
}

.faqQuestion {
  font-weight: bold;
  padding-bottom: 5px;
}

.iconMoney {
  font-size: 40px;
  padding-right: 20px;
}

.subSectionHeader {
  font-size: 22px;
  line-height: 24px;
  margin: 36px 0 16px;
  font-weight: 400;
  max-width: 100%;
  padding: 0;
}

.relatedCourses {
  background-color: #f7f8fa;
}

.reviewAll {
  overflow: hidden;
  font-size: 13px;
}

.reviewRate,
.reviewContent {
  float: left;
  margin: 3px;
  font-size: 13px !important;
  color: #eee;
}

.courseLoc {
  float: none !important;
  margin-left: 10px;
}

.btn-reviews {
  background-color: hsl(207, 43%, 20%) !important;
  padding: 10px 20px;
}
.reviews {
  font-size: 14px;
}
.reviewSize {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}
.reviewSizes {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.84);
  white-space: nowrap;
}
.coursePrice {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.enrolDiv {
  float: right;
  margin-top: 30px;
}

.roww {
  padding: 80px;
}

.rowws {
  padding: 80px 0;
}

.btn-enroll {
  background-color: hsl(207, 43%, 20%) !important;
  color: #ffffff;
  font-weight: bolder;
}

.learn {
  font-weight: bold;
}

.product-dialog {
  width: 70%;
  max-width: 70%;
  margin-top: 130px;
}
.fa-plus{
  font-size:14px;
}
.fa-minus{
  font-size:14px;
}

.rowBottom {
  display: flex;
  justify-content: space-around;
  float: left;
  width: 70%;
  margin-top: 6px;
}

.enrollContent {
  float: right;
  width: 30%;
}

.headerCourse {
  border-bottom: 1px solid #dadada;
  box-shadow: 0px 1px 2px #888888;
  overflow: hidden;
  padding: 10px 0;
}

.listCourse {
  color: #333;
  line-height: 3;
  font-size: 20px;
  font-weight: 400;
}

.fa-star-o {
  color: #000000;
}

.cseT {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1;
}

.ratingSt {
  overflow: hidden;
  font-size: 14px;
}

.courseContentOverview,
.courseContentTableOfContent,
.courseContentSponsor,
.courseContentFaq,
.whatYouWillLearn {
  padding: 50px;
}

.fa-circle-o {
  margin-right: 20px;
}

.reviewSign {
  color: #ffffff;
}

.section-header-left {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
}

.section-title-wrapper {
  flex-direction: row;
  align-items: center;
  display: flex;
  color: #505763;
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 600;
}

.section-title-toggle {
  color: #007791;
  display: inline-block;
  width: 10px;
  height: auto !important;
  margin-left: auto;
}

.section-title-toggle-plus {
  font-size: 20px;
  cursor: pointer;
}

.section-title-text {
  font-size: 15px;
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
}

.section-header-right {
  display: flex;
  justify-content: flex-end;
  color: #505763;
  flex-basis: 40%;
}

.num-items-in-section {
  display: block;
  margin-right: 20px;
  white-space: nowrap;
}

.section-header-length {
  text-align: right;
  width: 42%;
}
@media (max-width: 1024px) {
  .whatLearns {
    width: 60%;
    margin: 15px 10px;
  }
  .whatL {
    width: 60%;
    margin: 10px 10px;
  }
}
@media (max-width: 768px) {
  .whatLearns {
    width: 50%;
    margin: 15px 10px;
  }
  .whatL {
    width: 50%;
    margin: 10px 10px;
  }
}
@media (max-width: 425px) {
 
  .whatL{
    font-size: 14px;
  }
  .cartAdded {
    position: absolute;
    color: hsl(207, 43%, 20%);
    top: 35px;
    left: 4px;
    width: 20px;
    height: 20px;
    z-index: 3;
    background: #f7f8fa;
    border-radius: 50%;
  }
  .newButtons {
    padding: 10px;
    margin-top: 0;
    background: #ffffff;
  }

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .coursePrice {
    color: hsl(207, 45%, 99%);
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
  }
  .courseTab {
    margin-top: 0;
  }

  .lob {
    display: inline;
  }
  .reviews {
    padding: 0;
  }
  .reviewww {
    padding: 0;
  }
  .courseT {
    font-size: 18px !important;
  }
  .ui-course li{
    width:100%;
  }
  li{
    font-size:14px;
  }
   .table > tbody > tr > td{
   padding:4px;
 }
  .coursepara {
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .course_content {
    width: 100%;
    padding: 20px 0 30px 0;
  }
  .courseDivs {
    width: 100%;
    padding: 0 20px;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .seeMore {
    display: block;
    font-size: 11px;
  }
  .whatL {
    width: 100%;
    margin: 15px 0;
  }
  .toggleOff {
    display: none;
  }
  .toggleOn {
    display: block;
  }
  .info,
  .text {
    width: 100%;
  }
  .info {
    display: flex;
  }
  .instructor {
    width: 100%;
    margin: 20px 0;
    height: auto;
    padding: 40px 10px;
  }
  .instructor_container {
  }
  .instructor_stat {
    margin: 0 auto;
  }
  .text {
    width: 100%;
    padding: 5px;
    height: auto;
    /* scroll-behavior: smooth;
     overflow-y: hidden;
     border-bottom:1px thin #888888; */
  }
  .excerptTab {
    display: none;
  }
  .whatLearns {
    float: left;
    width: 100%;
    margin: 0;
  }
  .faqs {
    padding: 0 10px;
  }
  .whatLearnx {
    width: 100% !important;
    margin: 0;
  }
  .whatLearnxx {
    width: 100% !important;
    margin: 0;
  }
  .instructot{
    padding:40px 0;
  }
  .courseTitle {
    padding: 5px 0px 10px 0px;
  }
  .excerptRealTab {
    padding: 20px;
  }

  .mobile {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
   .bread{
    display:none;
  }
  .butt {
    display: block;
    margin-top: 20px;
    text-align: center;
    padding:10px 20px 0;
  }

  .share {
    text-align: center;
    color: hsl(207, 43%, 20%);
    font-weight: bold;
  }
  .includes_header {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
  }
  .includes {
    margin-top: 10px;
    text-align: left;
  }
  small.money_back {
    text-align: center !important;
    font-size: 75% !important;
  }
  .section-title-text{
    font-size:14px;
    padding:0;
    line-height: 1.3;
  }
  td{
    font-size: 12px !important;
    font-weight: 400;
  }
  p{
    font-size:14px;
  }
}
</style>
