<template>
    <div class="course-Detail">
        <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading>
        <div class="row" v-if="!loaderShow">

          <div class="col-md-12 p-0">
              <app-content></app-content>
          </div>
      </div>
    </div>
</template>

<script>
    import CourseCategories from './components/userCourseCategoriesComponent';
    import CourseContent from './components/userAdminCourseContentComponent';

    export default {
        name: "user-admin-course-component",
        data: function(){
            return {
                loaderShow: true,
                isActive: true,
            }
        },
        components: {
            'app-categories': CourseCategories,
            'app-content': CourseContent
        },
        mounted(){
            this.isActive = false;
            this.loaderShow = false;
        }
    }
</script>

<style scoped>
.course-Detail{
    min-height: 100vh;
}

</style>