<template>
	<div class="container">
		<div class="row">
			<div
				class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 bookCover"
			>
				<h2 class="mb-2">Books</h2>

				<div v-for="book in industries" v-bind:key="book.id">
					<div
						v-if="
							book.prodType === 'Books'

						"
					>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 books">
							<div class="bookContent">
								<div class="bookImage">
									<img :src="book.coverImage" alt="" />
								</div>
								<div class="aboutBook">
									<p class="author">
										{{ book.books.author }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=" seeAll mb-4">
				<router-link
					:to="{
						name: 'SpecificIndustry',
						params: {
                            id:id,
							name: 'books',

						}
					}"
					>See all <i class="fas fa-angle-double-right"></i
				></router-link>
			</div>
			<hr />

			<div
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 articleCover"
			>
				<h2 class="mb-2">Articles</h2>
				<div
					v-for="article in industries"
					v-bind:key="article.id"
					class=""
				>
					<div
						v-if="
							article.prodType === 'Articles'
						"
					>
						<router-link
							:to="{
								name: 'ArticleSinglePage',
								params: {
									id: article.articles.product_id,
									name: article.articles.title
										.replace(/ /g, '-')
										.toLowerCase()
								}
							}"
						>
							<div
								class="col-lg-4 col-md-4 col-sm-4 col-xs-12 article"
							>
								<h5>{{ article.articles.title }}</h5>
								<p
									class="articleDesc"
									v-html="article.articles.description"
								></p>
							</div>
						</router-link>
					</div>
				</div>
			</div>
			<div class=" seeAll mb-4">
				<router-link
					:to="{
						name: 'SpecificIndustry',
						params: {
                            id:id,
							name: 'articles',

						}
					}"
					>See all <i class="fas fa-angle-double-right"></i
				></router-link>
			</div>
			<hr />

			<div
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 mresearchCover"
			>
				<h2 class="mb-2">Market Research</h2>

				<div
					v-for="research in industries"
					v-bind:key="research.id"
					class=""
				>
					<div
						v-if="
							research.prodType === 'Market Research'

						"
					>
						<div
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mresearch mb-4 desktop"
						>

							<div class="mrContent">
								<div class="mrImage">
									<router-link
										:to="{
											name: 'ProductPaperDetail',
											params: {
												id:
													research.marketResearch
														.product_id,
												name: research.marketResearch.title
													.replace(/ /g, '-')
													.toLowerCase(),
												type: 'subscribe'
											}
										}"
									>
										<img :src="research.coverImage" />
									</router-link>
								</div>

								<div class="aboutMr">
									<div >
										<div class="mrHeader">
											{{ research.marketResearch.title }}
										</div>
										<small>{{
											research.marketResearch.created_at
										}}</small>
										<div
											v-if="
												research.marketResearch
													.executiveSummary"
										>
											{{
												research.marketResearch
													.executiveSummary
											}}
										</div>
										<div
											v-if="
												research.marketResearch
													.journalTitle"
										>
											<small>{{
												research.marketResearch
													.journalTitle
											}}</small>
										</div>
										<div class="mrText" v-else>
											{{
												research.marketResearch.excerpt
											}}
											{{
												research.marketResearch
													.articleTitle
											}}
											{{ research.marketResearch.uid }}
										</div>
									</div>
									<div class="mrButton">

									</div>
								</div>
							</div>
						</div>

						<!-- mobile -->
						<div
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mresearch mb-4 mobile"
						>
							<router-link
								:to="{
									name: 'ProductPaperDetail',
									params: {
										id: research.marketResearch.product_id,
										name: research.marketResearch.title
											.replace(/ /g, '-')
											.toLowerCase(),
										type: 'subscribe'
									}
								}"
							>
								<div class="mrContent">
									<div class="mrImage">
										<img :src="research.coverImage" />
									</div>

									<div class="aboutMr">
										<div >
											<div class="mrHeader">
												{{
													research.marketResearch
														.title
												}}
											</div>
											<small>{{
												research.marketResearch
													.created_at
											}}</small>
											<div
												v-if="
													research.marketResearch
														.executiveSummary
												"
											>
												{{
													research.marketResearch
														.executiveSummary
												}}
											</div>
											<div
												v-if="
													research.marketResearch
														.journalTitle
												"
											>
												<small>{{
													research.marketResearch
														.journalTitle
												}}</small>
											</div>
											<div class="mrText" v-else>
												{{
													research.marketResearch
														.excerpt
												}}
												{{
													research.marketResearch
														.articleTitle
												}}
												{{
													research.marketResearch.uid
												}}
											</div>
										</div>
										<div class="mrButton">
											<i class="fas fa-angle-right"></i>
											<!--
                         <router-link :to="{ name: 'ProductPaperDetail', params: {id: research.marketResearch.product_id, name: research.marketResearch.title, type: 'subscribe'}}">
                          <v-btn  depressed small color="primary" >View Detail</v-btn>
                         </router-link> -->
										</div>
									</div>
								</div>
							</router-link>
						</div>
					</div>
				</div>
			</div>
			<div class=" seeAll mb-4">
				<router-link
					:to="{
						name: 'SpecificIndustry',
						params: {
                            id:id,
							name: 'market-research',

						}
					}"
					>See all <i class="fas fa-angle-double-right"></i
				></router-link>
			</div>
			<hr />

			<div
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 videoCover"
			>
				<h2 class="mb-2">Videos</h2>
				<div
					v-for="video in industries"
					v-bind:key="video.id"
					class=""
				>
					<div
						v-if="
							video.prodType === 'Videos'
						"
					>
						<div
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12 video desktop "
						>
							<div class="videoContent">
								<div class="videoView shadowA">
									<router-link
										:to="{
											name: 'Video',
											params: {
												id: video.webinar.product_id
											}
										}"
									>
									<div class="playCont">
                                  <i class="fa fa-play playIcon" aria-hidden="true"></i>
                              </div>
                                   <img :src="video.coverImage" alt="">
									</router-link>
								</div>
								<div class="aboutVideo">
									<div >
										<div class="mrHeader">
											{{ video.webinar.title }}
										</div>
										<div class="vidText">
											{{ video.webinar.description }}
										</div>
									</div>

								</div>
							</div>
						</div>

						<!-- mobile starts -->
						<div
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12 video mobile "
						>
							<router-link
								:to="{
									name: 'SingleVideoPage',
									params: { id: video.webinar.product_id }
								}"
							>
								<div class="videoContent">
									<div class="videoView shadowA">
											<div class="playCont">
                                  <i class="fa fa-play playIcon" aria-hidden="true"></i>
                              </div>
                                   <img :src="video.coverImage" alt="">
									</div>
									<div class="aboutVideo">
										<div >
											<div class="mrHeader">
												{{ video.webinar.title }}
											</div>
											<div class="vidText">
												{{ video.webinar.description }}
											</div>
										</div>
										<!-- <div class="vidButton mobile">

                         <router-link :to="{name:'SingleVideoPage', params:{id:video.webinar.product_id}}">
                               <v-btn  depressed small color="primary" >View Detail</v-btn>
                              </router-link>
                       </div>
                       <div class="vidButton desktop">

                         <router-link :to="{name:'SingleVideoPage', params:{id:video.webinar.product_id}}">
                               <v-btn  depressed small color="primary" >View Detail</v-btn>
                              </router-link>
                       </div> -->
										<div class="mrButton">
											<i class="fas fa-angle-right"></i>
										</div>
									</div>
								</div>
							</router-link>
						</div>
					</div>
				</div>
			</div>
			<div class=" seeAll mb-4">
				<router-link
					:to="{
						name: 'SpecificIndustry',
						params: {
                            id:id,
							name: 'videos',

						}
					}"
					>See all <i class="fas fa-angle-double-right"></i
				></router-link>
			</div>
			<hr />

			<div
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 videoCover"
			>
				<h2 class="mb-2">Podcast</h2>
				<div
					v-for="podcast in industries"
					v-bind:key="podcast.id"
					class=""
				>
					<div
						v-if="
							podcast.prodType === 'Podcast'
						"
					>
						<div
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12 video desktop"
						>
							<div class="videoContent">
								<div class="videoView shadowA">
									<router-link
										:to="{
											name: 'SinglePodcastPage',
											params: {
												id: podcast.webinar.product_id
											}
										}"
									>
										<div class="playCont">
                               	<i class="fa fa-microphone playIcon" aria-hidden="true"></i>
                              </div>
            <img :src="podcast.coverImage" alt="">
									</router-link>
								</div>
								<div class="aboutVideo">
									<div >
										<div class="mrHeader">
											{{ podcast.webinar.title }}
										</div>
										<div class="vidText">
											{{ podcast.webinar.description }}
										</div>
									</div>
									<!-- <div class="vidButton mobile">

                          <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.webinar.product_id}}">
                             <v-btn  depressed small color="primary" >View Detail</v-btn>
                              </router-link>
                       </div>
                       <div class="vidButton desktop">

                          <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.webinar.product_id}}">
                             <v-btn  depressed small color="primary" >View Detail</v-btn>
                              </router-link>
                       </div> -->
								</div>
							</div>
						</div>

						<!-- mobile starts -->

						<div
							class="col-lg-6 col-md-6 col-sm-6 col-xs-12 video mobile"
						>
							<router-link
								:to="{
									name: 'SinglePodcastPage',
									params: { id: podcast.webinar.product_id }
								}"
							>
								<div class="videoContent">
									<div class="videoView shadowA">
											<div class="playCont">
                               	<i class="fa fa-microphone playIcon" aria-hidden="true"></i>
                              </div>
            <img :src="podcast.coverImage" alt="">
									</div>
									<div class="aboutVideo">
										<div>
											<div class="mrHeader">
												{{ podcast.webinar.title }}
											</div>
											<div  class="vidText">
												{{
													podcast.webinar.description
												}}
											</div>
										</div>
										<!-- <div class="vidButton mobile">

                                <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.webinar.product_id}}">
                                    <v-btn  depressed small color="primary" >View Detail</v-btn>
                                    </router-link>
                            </div>
                            <div class="vidButton desktop">

                                <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.webinar.product_id}}">
                                    <v-btn  depressed small color="primary" >View Detail</v-btn>
                                    </router-link>
                            </div> -->

										<div class="mrButton">
											<i class="fas fa-angle-right"></i>
										</div>
									</div>
								</div>
							</router-link>
						</div>
					</div>
				</div>
			</div>
			<div class=" seeAll mb-4">
				<router-link
					:to="{
						name: 'SpecificIndustry',
						params: {
                            id:id,
							name: 'podcast',

						}
					}"
					>See all <i class="fas fa-angle-double-right"></i
				></router-link>
			</div>
			<hr />
		</div>
	</div>
</template>

<script>
export default {
	name: "user-industry-component",
	data() {
		return {
            id:'',
            name:'',
            industry:'',
            industries:[]

		};
	},
	mounted() {

        this.id = this.$route.params.id;

        //  this.name = this.$route.params.name.replace(/-/g, ' ');

           axios.get(`/api/industries/${this.id}`)
                .then(res => {

                      this.industries = res.data.data

                      console.log("Data: mounted ->  this.industries ",  this.industries )

		});

	},

};
</script>


<style scoped>
.noResult{
    font-family: fantasy;
    text-align: center;
    margin: auto;
}
.videoView{
    position:relative;
}
.videoView img{
   width:100%;
   height:100%;
   object-fit: cover;
}
.playCont{
    position:absolute;
    width:90px;
    height:90px;
      background: #ffffff;
       border-radius: 50%;
       overflow:hidden;
     left:50%;
    top:50%;
     opacity:.8;
     transform: translate(-50%, -50%);
}
.playIcon{
    position:absolute;
    left:50%;
    top:50%;
    font-size: 40px;
    opacity:.8;
     transform: translate(-50%, -50%);
     color:#000000;
       
   
    
     
}
.shadowA{
    /* position:absolute; */
    top: 0;
    left: 0;
	background:rgba(255, 255, 255, 0.1);
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	text-align: center;
    border-radius: 5px;
    

}


@import url(https://fonts.googleapis.com/css?family=Lato:700);
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  /* z-index: 70; */
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: capitalize;
  text-align: center;
}
.ribbon-free span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #404346;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: capitalize;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
 top: -15px;
right: -30px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: 7px;
  right: 7px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
    left: -7px;
    top: 22px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
.cover{
    font-size:9px;
}
.coursePrice{
    justify-content: space-evenly;
    margin-top:0;
}

.container{
    padding-top:80px ;
    padding-bottom: 100px;
}
.mobile{
    display: none;
}
a{
    color: #a3c2dc !important;
}
.seeAll{
    margin-left: auto;
}
.courseTit {
    display: -webkit-box!important;
	text-align: left;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.84);
    font-size: 16px;
    max-height:40px;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp:2 ;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break:break-word;
    margin-top:5px;
    margin-bottom: 5px;
}
.courseOver {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.64);
    text-align: left;
	text-transform: capitalize;
    font-size: 16px;
    max-height:20px;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp:1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break:break-word;
}
.courseLevel {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.54);
	text-transform: capitalize;
}
.courseDiv {
	display: block;
	padding: 15px 10px 0 15px;
	font-size: small;
	color: #383838;
	font-weight: 500;

}
.price{
    line-height: 1.2;
    color:rgba(0, 0, 0, 0.70);
    text-align:center;
    font-size: 18px;
}

.vidText{
    color:#000000;
}

.primary{
    background-color:#a3c2dc !important;
}

.books{

    padding:8px;

}
.bookContent{

    height: 350px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    margin-bottom:20px;
    border-radius:5px;
}
.bookImage{
    width: 100%;
    height: 50%;

}
.bookImage img{
    width: 100%;
    height: 100%;
}

.article{
    padding: 8px;
     box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
         margin: 5px 0;
}
.mrBody{
    overflow: hidden;
    height: 150px;
}


.mresearch{
    width: 100%;
    padding:5px;
}
.mrContent{
    display: flex;
    height: 200px;
     box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

}
.mrImage{
    height: 100%;
    width:30%;

}
.mrImage img{
    width: 100%;
    height:100%;
}
.aboutMr{
    width: 70%;
    padding:5px 10px;
    display:flex;
	align-content:center;
}
.mrText{
      height:98px;
     color: rgba(0,0,0,.64)!important;
        fill: rgba(0,0,0,.64)!important;
         display: -webkit-box!important;
        text-align: left;
        font-size: 15px;
        -webkit-line-clamp: 4;
        -moz-line-clamp: 4;
        -ms-line-clamp: 4;
        -o-line-clamp:4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break:break-word;
        margin-bottom: 10px;
}
.mrButton{
    position: absolute;
    top: 22%;
    right: -10px;
    color:rgba(0,0,0,.1)
}
.mrButton .fa-angle-right{
    font-size:80px;
}
.mrHeader{
    font-weight: bold;
    line-height:1.2;
    margin-bottom:10px;
}

.video{

    padding:8px;
    width: 100%;
}
.videoContent{
    display: flex;
    height:200px;
      box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

}
.videoView{
    height:100%;
    width:40%;
    background: #000000;
}
.videoView img{
    width:100%;
    height: 100%;
}
.aboutVideo{
   width: 60%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;

}
.vidText{
   height: 90px;
      color: rgba(0,0,0,.64)!important;
        fill: rgba(0,0,0,.64)!important;
         display: -webkit-box!important;
        text-align: left;
        font-size: 15px;
        -webkit-line-clamp: 5;
        -moz-line-clamp: 5;
        -ms-line-clamp: 5;
        -o-line-clamp:5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break:break-word;
        margin-bottom: 10px;
        line-height: normal;
}
.vidButton{
   text-align: center;
    width: 100%;
}
.podcast{
    padding:8px;
    width: 100%;

}
.podcastContent{

    height:200px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.podcastView{
    height:100%;
    width:60%;

}
.podcastView img{
    width:100%;
    height: 100%;
}
.author{
    color:#a3c2dc;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}
 .articleDesc {
       height: 40px;
	color: rgba(0,0,0,.64)!important;
        fill: rgba(0,0,0,.64)!important;
         display: -webkit-box!important;
        text-align: left;
        font-size: 15px;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -o-line-clamp:2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break:break-word;
        margin-bottom: 10px;
    }



@media only screen and (min-width: 960px)
{
 .container {
    max-width: 1100px;
}
}
@media only screen and (max-width: 768px)
{
 .bookContent{
     height: 350px;
 }
 .mrContent{
     height:150px;
     color: rgba(0,0,0,.84) !important;
 }
 .author{
     padding-top:10px;
 }
}
@media only screen and (max-width: 425px)
{
     .ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  /* z-index: 70; */
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 190px;
  padding: 2px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 600 14px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: capitalize;
  text-align: center;
}
.ribbon-free span {
  position: absolute;
  display: block;
  width: 190px;
  padding: 2px 0;
  background-color: #404346;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 600 14px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: capitalize;
  text-align: center;
}
/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
 top: 2px;
    right: 2px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

    .container{
        padding-left:0;
        padding-right:0;
    }
    .books{
        padding:2px;

    }
    .bookCover{
        padding-left:5px;
        padding-right: 5px;
    }
    .bookContent{
        height:270px;
        border-radius:5px;
        overflow: hidden;
    }
    .courseDiv{
        padding:3px;
    }
    .courseTit{
        font-size:14px;
        max-height:35px;
        margin-bottom: 2px;
        line-height: 1.2;
    }
    .courseOver{
        font-size: 13px;
        margin-bottom: 0px;
    }
    .courseLevel{
        font-size:11px;
        line-height:1.3;
    }
    .price{
        font-size:12px;
        font-weight:bold;
        padding:5px 10px;
    }
.mrContent{
     height:150px;
 }

.mobile{
    display: block;;
}
.desktop{
    display: none;
}
 /* .mrText{
     height:82%;
 } */
 .videoContent{
     height:150px;
 }

 /* .vidText{
     height: 82%;
 } */
 .v-btn--small {
    font-size: 9px;
    height: 20px;
    padding: 0 8px;
}

}
@media(max-width:320px){
    .price{
        font-size:11px;
    }
}

</style>

