<template>
    <div>
    <div class="eventBanner">
    </div>
        <div class="row eventDi">
            <div :class="{modal: epiModal, fade: epiFade}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog product-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                         <div>Sales end on {{event.endDate}}</div>
                            <div class="qty">
                                <div><div>
                                    <p>General Admission</p>
                                    <span>{{event.price ? '₦'+ event.price + '.00' : 'FREE'}} | {{event.quantity}} Remaining</span>
                                </div></div>

                                   <div> <select class="form-control" v-model="eventsCount" @change="changeEventCount(eventsCount)">
                                        <option v-for="(events, index) in quantity">{{events}}</option>
                                    </select>
                                   </div>

                            </div>

                           <div class="checkoutEvent">
                                <div class="eventP" v-if="eventsCount">QTY: {{eventsCount}}</div>
                               <div class="eventP">{{price ? '₦'+ price + '.00' : 'FREE'}}</div>
                            <div>
                                <button class="btn btn-register" @click="addToCart(event.uid)">Checkout</button>
                            </div>
                           </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col8">
                <img :src="event.coverImage">
            </div>
            <div class="col-md-4 col4">
                <div class="eventMonth">{{event.date | moment("MMM")}}</div>
                <div>{{event.date | moment("D")}}</div>
                <div class="eventTitle">{{event.title}}</div>
                <small>{{event.convenerName}}</small>
                <div class="eventPrice">{{event.price ? '₦'+ event.price + '.00' : 'FREE'}}</div>
            </div>
            <div class="col-md-12 col12"><button class="btn btn-register" data-toggle="modal" data-target="#exampleModal" @click="openModal()">Register</button></div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col8description">
                        <div><b>Description</b></div>
                   <div v-html="event.description"></div>
                    </div>
                    <div class="col-md-4 col8description">
                        <div>
                            <div>Date And Time</div>
                            <div><b>FROM:</b></div>
                            <div>{{startDay | moment("MMM Do YYYY")}}</div>
                            <div>{{eventStart}} PM - {{eventEnd}} PM</div>
                            <div><b>TO:</b></div>
                            <div>{{endDay | moment("MMM Do YYYY")}}</div>
                            <div>{{eventStartEnd}} PM - {{eventEndEnd}} PM</div>

                        </div>

                        <div>
                            <select class="form-control">
                                <option>Select Other Date</option>
                                <option v-if="eventSchedule.length > 1" v-for="(eventSchedules, index) in eventSchedule" :class="{selectCheck: index === 0 ? selectCheck: ''}">
                                    {{eventSchedules.startDay | moment("ddd MMM Do")}}({{eventSchedules.eventStart | moment("h:mm:ss a")}}-{{eventSchedules.eventEnd | moment("h:mm:ss a")}})-{{eventSchedules.endDay | moment("ddd MMM Do")}}({{eventSchedules.eventStartEnd | moment("h:mm:ss a")}}-{{eventSchedules.eventEndEnd | moment("h:mm:ss a")}})
                                </option>
                            </select>
                        </div>

                        <div class="location">
                            <div>Location</div>
                            <div>{{event.address}}, {{event.city}}, {{event.state}}, {{event.country}}</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 center">{{event.convenerName}}</div>
                    <div class="col-md-12 center">{{event.aboutConvener}}</div>
                    <div class="col-md-12 center">{{event.address}}, {{event.city}}, {{event.state}}, {{event.country}}</div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "user-event-page-component",
        data: function(){
            return {
                id: this.$route.params.id,
                event: {},
                epiFade: true,
                epiModal: true,
                selectCheck: true,
                quantity: '',
                eventsCount: '',
                startDay: '',
                eventStart: '',
                eventStartEnd: '',
                eventEndEnd: '',
                endDay: '',
                price: '',
                eventEnd: '',
                eventSchedule: [],
                authenticate: false,
                loginCart: [],
                user: {},
                anonymousCart: [],
                realPrice: ''

            }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.user = user;
                this.authenticate = true;
            }
            axios.get(`/api/event/${this.id}`).then((response) => {
                if(response.status === 200){
                    console.log(response);
                    this.event = response.data.data[0].events;
                    this.eventSchedule = response.data.data[0].eventSchedule;
                    this.event.price = response.data.data[0].price;
                    this.event.uid = response.data.data[0].id;
                    this.event.coverImage = response.data.data[0].coverImage;
                    this.quantity = parseInt(response.data.data[0].events.quantity);
                    this.startDay = this.event.event_schedule_time[0].startDay;
                    this.eventStart = this.event.event_schedule_time[0].eventStart;
                    this.eventEnd = this.event.event_schedule_time[0].eventEnd;
                    this.endDay = this.event.event_schedule_time[0].endDay;
                    this.eventStartEnd = this.event.event_schedule_time[0].eventStartEnd;
                    this.eventEndEnd = this.event.event_schedule_time[0].eventEndEnd;
                    this.price = this.event.price;

                }
            }).catch((error)=> {
                console.log(error);
            })
        },
        methods: {
            changeEventCount(count){
                //console.log(count);
                this.price = this.realPrice = this.eventsCount * this.event.price;
            },
            openModal(){
                this.epiFade = false;
            },
            addToCart(id){
                if(this.eventsCount === ''){
                    this.$toasted.error('You must select at least one quantity');
                }else {
                    console.log(id);
                    let cart = {
                        productId: id,
                        price: this.realPrice,
                        free: isNaN(this.event.price) ? 'Y' : 'N',
                        quantity: this.quantity,
                        prodType: 'Events',
                        quantities: this.eventsCount
                    }

                    console.log(cart);
                    if (this.authenticate === false) {
                        this.anonymousCart.push(cart);
                        if (JSON.parse(localStorage.getItem('userCart')) === null) {
                            localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                            let sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let cartCount = sessionCart.length;
                            this.$emit('getCartCount', cartCount);
                            this.$notify({
                                group: 'cart',
                                title: this.event.title,
                                text: 'Successfully <i>Added</i> to Cart!'
                            })
                        } else if (JSON.parse(localStorage.getItem('userCart')) !== null) {
                            let sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let ss = sessionCart.length;
                            sessionCart[ss] = cart;
                            localStorage.setItem('userCart', JSON.stringify(sessionCart));
                            let a = JSON.parse(localStorage.getItem('userCart'));
                            let aCount = a.length;
                            this.$emit('getCartCount', aCount);
                            this.$notify({
                                group: 'cart',
                                title: this.event.title,
                                text: 'Successfully Added to Cart!'
                            })

                        }
                    } else {

                        this.addCart(cart);
                    }
                }
            },
            addCart(cart){
                axios.post('/api/cart', JSON.parse(JSON.stringify(cart)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 201){
                            this.loginCart.push(response.data);
                            let aCount = this.loginCart.length;
                            this.$emit('getCartCount', aCount);
                            this.$notify({
                                group: 'cart',
                                title: this.event.title,
                                text: '<p>Successfully <b>Added</b> to Cart!<p><p><a href="/indec/products/cart">Proceed to Checkout</router-link></p>'
                            })
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            }
        }

    }
</script>

<style scoped>

    .selectCheck {
        display: none;
    }

    .eventP {
        font-weight: bold;
        margin-top: 5px;
    }

    .qty {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid #cecbcb;
        border-radius: 6px;
        box-shadow: 4px 6px 2px -3px #cecbcb;
        border-left: 10px solid #a3c2dc !important;
    }

    .product-dialog {
        max-width: 60%;
    }

    .checkoutEvent {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-top: 200px;
    }

    .location {
        margin-top:30px;
    }
    .col8description {
        padding: 80px;
    }
    .btn-register {
        background-color: #a3c2dc !important;
        padding: 10px 100px;
    }
    .col12 {
        text-align: right;
        border-top: 1px groove #ececec;
        padding-top: 20px;
        border-bottom: 1px groove #ececec;
        padding-bottom: 20px;
    }
    .eventPrice {
        margin-top: 30px;
    }
    .eventTitle {
        font-weight:bold;
        font-size: 25px;
        margin-top: 20px;
    }
    .col4 {
        font-size: 18px;
        padding: 50px 0px;
    }
    .col8 {
        padding: 0px !important;
    }

    .eventDi {
        margin-top: -360px;
        position: relative;
        width: 83%;
        margin-left: auto;
        margin-right: auto;
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid #dedede;
        box-shadow: 2px 0px 4px 1px #dedede;

    }

    .eventBanner {
        background: #a3c2dc;
        padding: 200px;
    }

</style>
