<template>
    <div class="rel" v-if="$route.name=='auth'">
        <router-link to="/entrepreneur" class="lo">Biz<span class="guruh">Guruh</span></router-link>
        <app-auth @authenicatedBar = "authUser = $event" :name='name'></app-auth>
    </div>
    
</template>

<script>

    import LoginContent from './components/userAuthenticateComponent';

    export default {
        props:['name'],
        name: "user-auth-component",
        data: function(){
        return {
            authUser: false
        }
        },
         beforeRouteEnter (to, from, next) {
             if (to.query.redirectFrom) {
                 next(vm=>{
                     vm.error('Unauthorized access')
                 })
             }else if(to.query.redirect){
                     next(vm=>{
                     vm.error('Login to access content')
                 })
             }
             else{
                 next()
             }
  }, 
 
        beforeDestroy(){
            this.$emit('authenicatedHeader', this.authUser);
        },
        components: {
            'app-auth': LoginContent
        },
        methods: {
            error(message){
                this.$toasted.error(message)
            }
        },
    }
</script>

<style scoped>
.rel{
    position: relative;
}
.lo{
    position: absolute;
    top:20px;
    left: 15px;
    font-size: 24px;
}
.guruh{
    color:#a4c2db
}

</style>