<template>
    <div class="course-Detail">
    <app-banner></app-banner>
        <div class="row">
         <div class="col-md-4 eventD" v-if="events.length > 0" v-for="(event, index) in events">
             <router-link :to="{ name: 'EventSinglePage', params: {id: event.uid, name: event.title}}">
             <div class="eventDiv">
                 <img :src="event.coverImage" class="imgEvent">
                 <div class="priceTag">{{event.price ? '₦'+ event.price + '.00' : 'FREE'}}</div>
                 <div class="eventDivs">
                     <div class="monthEvent">
                     <div class="eventMonth" v-if="event.myDate !== null">{{event.myDate | moment("MMM")}}</div>
                     <div v-if="event.myDate !== null">{{event.myDate | moment("D")}}</div>
                     </div>
                     <div class="monthEvent moS">
                     <div class="evenT">{{event.title}}</div>
                     <div class="eventA">{{event.myDate | moment("ddd, MMM Do")}}</div>
                     <div class="eventA">{{event.address}} {{event.city}} {{event.state}} {{event.country}}</div>
                     </div>
                 </div>
             </div>
             </router-link>
         </div>
        </div>
    </div>
</template>

<script>
    import EventBanner from './components/bannerEventComponent';
    export default {
        name: "user-events-component",
        components: {
            'app-banner': EventBanner
        },
        data: function(){
            return {
                events: [],
                date: ''
            }
        },
        mounted(){
           axios.get('/api/events-page').then((response) => {
               if(response.status === 200){
                   (response.data.data).forEach((item) => {
                       this.$set(item.events, 'price', item.price );
                       this.$set(item.events, 'uid', item.id);
                       this.$set(item.events, 'coverImage', item.coverImage);
                       this.$set(item.events, 'myDate', (item.eventSchedule).length > 0 ? item.eventSchedule[0].startDay : null)
                       this.events.push(item.events);
                   })
               }
           }).catch((error) => {
               console.log(error);
           })
        }
    }
</script>

<style scoped>

    .eventA {
        font-size: 12px;
        text-align: left;
    }

    .moS {
        margin-left: 10px;
    }

    .evenT {
        text-align: left;
    }


    .eventDivs {
        overflow: hidden;
        padding: 6px 10px 14px;
    }

    .monthEvent {
        float: left;
        color: #999;
    }

    .eventD {
        cursor: pointer;
    }

    .eventMonth {
        color: #a3c2dc;
        font-weight: 700;
        font-size: 14px;

    }

 .imgEvent {
     object-fit: cover;
 }

 .priceTag {
     position: absolute;
     top: 12px;
     background: #ffffff;
     box-shadow: 0 2px 3px #eee;
     right: -26px;
     font-size: 14px;
     color: #a3c2dc;
     padding: 10px;
     border-radius: 6px;
 }

    .eventDiv {
        position: relative;
        text-align: center;
        border: 1px solid #f3f3f3;
        border-radius: 4px;
        font-size: 18px;
        box-shadow: 2px 3px 0px #f3f3f3;
    }

</style>