<template>
   <div>
   <app-header></app-header>
      <app-content></app-content>
   </div>
</template>

<script>
    import Header from './components/userAllProductHeaderComponent';
    import Content from './components/userAllProductContentComponent';
    export default {
        name: "user-all-product-component",
        components: {
            'app-header': Header,
            'app-content': Content
        }
    }
</script>

<style scoped>


</style>