<template>
  <div class="course-Detail">
    <!-- <app-videoBanner></app-videoBanner> -->
    <div>
      <!-- <h2 class="text"> Podcast</h2> -->
    </div>
    <div
      :class="{modal: epiModal, fade: epiFade}"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog product-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div>
                <video
                  poster="/images/podcast.jpg"
                  width="620"
                  controls
                  class="podcastDetail"
                ></video>
              </div>
              <div class="videoInfo">
                <p class="videoTitles">{{podcastDetail.title}}</p>
                <p>{{podcastDetail.description}}</p>
                <small>By: {{podcastDetail.host}}</small>
                <p>{{podcastDetail.created_at | moment("dddd, MMMM Do YYYY")}}</p>

                <!-- <div class="row">
                                   <div class="col-md-12">
                                       <p>{{title}}</p>
                                       <div class="divC">₦{{price}}.00</div>
                                   </div>
                </div>-->
                <div class="PriceDIV row">
                  <div
                    v-if="podcastDetail.audioPrice > 0"
                    :class="{hardpriceCont: hardpriceCont, hardCopy: hardCopy}"
                    class="col-md-3 col-sm-3 col-xs-3"
                    @click="togglePrice('audioPrice')"
                  >
                    ₦{{podcastDetail.audioPrice}}.00
                    <p class="productNames">Audio Price</p>
                  </div>
                  <div
                    v-if="podcastDetail.streamPrice > 0"
                    :class="{softpriceCont: softpriceCont, softCopy: softCopy}"
                    class="col-md-3 col-sm-3 col-xs-3"
                    @click="togglePrice('streamPrice')"
                  >
                    ₦{{podcastDetail.streamPrice}}.00
                    <p class="productNames">Stream Price</p>
                  </div>
                  <div
                    v-if="podcastDetail.subscribePrice > 0"
                    :class="{readOnlinepriceCont: readOnlinepriceCont, readOnline: readOnline}"
                    class="col-md-3 col-sm-3 col-xs-3"
                    @click="togglePrice('subscribePrice')"
                  >
                    ₦{{podcastDetail.subscribePrice}}.00
                    <p class="productNames">Subscribe Price</p>
                  </div>
                </div>

                <div class="row">
                  <!-- <div class="col-md-12 mb-4">
                    <router-link
                      tag="a"
                      class="btn btn-guruh-listen"
                      :to="{ name: 'WatchMedia', params: {id: podcastDetail.uid, prodtype: 'Podcast', gettype: 'insight-streaming-podcast', type: 'AP', vid: 'podcast'}}"
                      target="_blank"
                    >Listen Now</router-link>
                  </div>-->

                  <div
                    v-if="podcastDetail.subscribePrice !== '' || podcastDetail.streamPrice !== '' ||podcastDetail.audioPrice !== ''"
                  >
                    <button v-if="inLibrary" class="btn btn-guruh-cart">Added to Library</button>
                    <button
                      v-else
                      class="btn btn-guruh-cart"
                      @click="
													addToCart(podcastDetail.uid)"
                    >Add to Cart</button>
                  </div>

                  <div v-else>
                    <button v-if="inLibrary" class="btn btn-guruh-cart">Added to Library</button>

                    <button
                      v-else
                      class="btn btn-guruh-cart"
                      @click="AddVideoToLibrary(podcastDetail.uid, podcastDetail.title)"
                    >Send To Library</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="Videorow">
              <div
                class="text-center"
                :class="{ episodeTab: episodeTab, episodeTabSwitch : episodeTabSwitch}"
                @click="showTabs('episode')"
              >Episode Information</div>

              <div
                class="text-center"
                :class="{ reviewTab: reviewTab, reviewTabSwitch : reviewTabSwitch}"
                @click="showTabs('reviews')"
              >Write a Review</div>
              <div
                class="text-center"
                :class="{ shipTab: shipTab, shipTabSwitch : shipTabSwitch}"
                @click="showTabs('shipping')"
              >Sponsor Information</div>

              <div
                class="text-center"
                :class="{ shareTab: shareTab, shareTabSwitch : shareTabSwitch}"
                @click="showTabs('share')"
              >Share this Item</div>
              <!-- <div
                class="text-center"
                :class="{ aboutWriterTab: aboutWriterTab, aboutWriterTabSwitch : aboutWriterTabSwitch}"
                @click="showTabs('aboutWriter')"
              >About Writer</div>-->
            </div>

            <div class="row">
              <div class="col-md-12" v-if="episode">
                <div>
                  <div
                    v-if="episodeArray.length > 0"
                    v-for="(episodeArrays, index) in episodeArray"
                  >
                    <div>
                      <div class="episodeTitles row">
                        <div
                          class="col-md-9 dii"
                          @click="episodeArrays.showHide ? episodeArrays.showHide = false : episodeArrays.showHide = true"
                        >
                          <div class>
                            <i class="fas fa-plus"></i>
                            {{episodeArrays.title}}
                          </div>
                        </div>
                        <div class="epiPriceDiv col-md-3 p-0">
                          <router-link
                            :to="{name: 'WatchMedia', params: {id: podcastDetail.uid, prodtype: 'Podcast', gettype: 'insight-stream-subscription-episode-podcast', type: 'EP', vid: episodeArrays.id}}"
                            class="epiPrice cartAdds"
                            target="_blank"
                          >Listen Now</router-link>
                          <div>
                            <div v-if="inLibrary" class="epiPrice cartAdd">Added to Library</div>
                            <div
                              v-else
                              class="epiPrice cartAdd"
                              @click="sendEpisodeToCart($event,episodeArrays.id, podcastDetail.uid, episodeArrays.title)"
                            >Add to Library</div>
                          </div>
                        </div>
                      </div>
                      <div class="episodeDescription" v-if="episodeArrays.showHide">
                        <div>{{episodeArrays.overview}}</div>
                        <div class="videoguest">{{episodeArrays.guest}}</div>
                        <!-- <div>{{episodeArrays.aboutGuest}}</div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 shipDetailRow" v-if="shipping">
                <p
                  v-if="podcastDetail.sponsorName !== ''"
                  class="videoguest"
                >{{podcastDetail.sponsorName}}</p>
                <div v-if="podcastDetail.aboutSponsor !== ''">{{podcastDetail.aboutSponsor}}</div>
              </div>
              <div class="col-md-12" v-if="reviews">
                <div class="review-div">
                  <!--<div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Title" v-model="review.title">
                  </div>-->
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="5"
                      placeholder="Enter Reviews"
                      v-model="review.description"
                    ></textarea>
                  </div>
                  <div>
                    <i
                      :class="{fa : rateFa, 'fa-star-o' : NotratedOne, 'fa-star' : RatedOne}"
                      @click="rateWithStar('1')"
                    ></i>
                    <i
                      :class="{fa : rateFa, 'fa-star-o' : NotratedTwo, 'fa-star' : RatedTwo}"
                      @click="rateWithStar('2')"
                    ></i>
                    <i
                      :class="{fa : rateFa, 'fa-star-o' : NotratedThree, 'fa-star' : RatedThree}"
                      @click="rateWithStar('3')"
                    ></i>
                    <i
                      :class="{fa : rateFa, 'fa-star-o' : NotratedFour, 'fa-star' : RatedFour}"
                      @click="rateWithStar('4')"
                    ></i>
                    <i
                      :class="{fa : rateFa, 'fa-star-o' : NotratedFive, 'fa-star' : RatedFive}"
                      @click="rateWithStar('5')"
                    ></i>
                    <i class="ml-lg-5">{{review.rating}} {{review.rating > 1 ? 'stars' : 'star'}}</i>
                  </div>

                  <button class="btn btn-reviews mb-4" @click="submitReview()">Submit</button>
                </div>
              </div>
              <div class="col-md-12" v-if="share">
                <p>Share across social media</p>
                <div class="social">
                  <div class="share">
                    <social-sharing
                      :url="url"
                      :title="podcastDetail.title"
                      :description="podcastDetail.description"
                      :quote="podcastDetail.title"
                      hashtags="bizguruh,videos"
                      inline-template
                    >
                      <div>
                        <network network="facebook">
                          <i class="fa fa-facebook ml-2 fb"></i>
                        </network>
                        <network network="twitter">
                          <i class="fa fa-twitter ml-2 tweet"></i>
                        </network>
                        <network network="googleplus">
                          <i class="fa fa-google-plus ml-2 google"></i>
                        </network>
                        <network network="linkedin">
                          <i class="fa fa-linkedin ml-2 linked"></i>
                        </network>
                        <network network="whatsapp">
                          <i class="fa fa-whatsapp ml-2 whatsapp"></i>
                        </network>
                      </div>
                    </social-sharing>
                  </div>
                </div>
              </div>
              <div class="col-md-12" v-if="aboutWriter">
                <p>writer</p>
              </div>
            </div>

            <div class="row" v-if="allReviews.length > 0" id="reviewed">
              <div class="reviews">Reviews</div>
              <div class="col-md-12 reviewdiv" v-for="(Review, index) in allReviews">
                <div class="tabre">
                  <div class="mb-5 disRfb">
                    <div class="floatReview avatarD">
                      <span class="reviewAvatar">{{(Review.user.name).charAt(0)}}</span>
                    </div>
                    <div class="floatReview floatUserRating">
                      <div class="dateCreated">{{Review.created_at.date | moment("from")}}</div>
                      <div class="reviewerName">{{Review.user.name }} {{Review.user.lastName }}</div>
                    </div>
                    <div class="floatReview">
                      <div class="floatRT">
                        <div v-for="star in Review.rating" class="rateStyle">
                          <i class="fa fa-star"></i>
                        </div>
                        <div v-for="star in 5 - Review.rating" class="rateStyle">
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                      <!--
                                                                                       <div><span class="avatartitle">{{Review.title}}</span></div>
                      -->
                      <div class="avatarDescription">{{Review.description}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 videoRelated">
                <p>Other Product to get based on :</p>
                <select>
                  <option>Related</option>
                  <option>The Latest</option>
                  <option>Most Popular</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div
                class="col-md-4"
                v-if="relatedVideos .length > 0"
                v-for="(relatedVideo, index) in relatedVideos"
              >
                <div class="vid">
                  <video
                    poster="/images/podcast.jpg"
                    class="relatedVideo cld-video-player"
                    width="320"
                  ></video>
                  <div class="videoTitle">{{relatedVideo.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row rowBanner">
      <div class="col-md-12 search">
        <div class="searchBar">
          <div class="searchBarContent mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Search title"
              v-model="searchItem"
              @keyup="searchDataItem()"
            />
            <div class="search-btn mt-0 ml-0">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 podSearch">
        <select type="search" class="form-control">
          <option>Podcast</option>
        </select>
      </div>
      <div class="col-md-12 tagSearch">
        <input type="text" class="form-control" placeholder="Tags" />
      </div>
    </div>

    <!--  <div class="row">
            <div class="col-md-4" v-if="podcasts.length > 0" v-for="(podcast, index) in podcasts">
                <div class="pod">
                    <video :src="podcast.excerpts" width="320" controls class="cld-video-player demo-player"></video>
                    <div class="videoDiver" data-toggle="modal" data-target="#exampleModal" @click="openModal(podcast.uid)">
                        <div class="videoTitle">{{podcast.title}}</div>
                        <div class="videoOverview">{{podcast.description}}</div>
                        <div class="videoCat">Category: {{podcast.category}}</div>
                    </div>
                </div>
            </div>
    </div>-->
    <ul>
      <li
        v-for="(breadcrumb, index) in breadcrumbList"
        v-bind:key="index"
        @click="routeTo(index)"
        :class="{linked: !!breadcrumb.link}"
      >{{breadcrumb.name}}</li>
    </ul>
    <div class="row rowBa">
      <div v-if="podcasts.length === 0" class="noResult">Loading content ....</div>
      <div
        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoDisTile"
        v-if="podcasts.length > 0"
        v-for="(podcast, index) in filterItem"
      >
        <div
          v-if="podcast.prodCategoryType === 'BP' || podcast.prodCategoryType === 'EP' ||  podcast.prodCategoryType === 'VP'  "
          class="ribbon ribbon-top-left"
        >
          <span>Paid</span>
        </div>
        <div v-else class="ribbon ribbon-free ribbon-top-left">
          <span v-if=" podcast.subLevel == 0">Free</span>
          <span v-else style="font-size:10px">Subscription</span>
        </div>
        <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5 related_vid">
          <div class="shadowA"></div>
          <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.uid}}">
            <div class="playCont">
              <i class="fa fa-microphone playIcon" aria-hidden="true"></i>
            </div>
            <img :src="podcast.poster" alt />
          </router-link>
        </div>

        <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 podd">
          <div class="ddVideo">
            <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.uid}}">
              <div class="videoTitle">{{podcast.title}}</div>
            </router-link>

            <div class="videoOverview">{{podcast.description}}</div>
            <!-- <div class="videoCat">Category: {{podcast.category}}</div> -->
            <div class="smatter">{{podcast.subjectMatter}} / {{podcast.industryName}}</div>
          </div>

          <div class="vd">
            <button
              type="button"
              class="btn btn-sm videoDiver"
              data-toggle="modal"
              data-target="#exampleModal"
              @click="openModal(podcast.uid)"
            >View Detail</button>

            <button type="button" class="btn btn-sm videoDiver mobile">
              <router-link :to="{name:'SinglePodcastPage', params:{id:podcast.uid}}">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i> View Detail
              </router-link>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import cloudder from "cloudinary-core";
import clo from "cloudinary-video-player";
import VideoBanner from "./components/categoryVideoBannerComponent";
import SocialSharing from "vue-social-sharing";
import { getCustomerHeader } from "../config";

export default {
  name: "user-admin-podcast-component",
  data: function() {
    return {
      url: `https://bizguruh.com/podcast`,
      podcasts: [],
      email: "",
      user_id: "",
      searchItem: "",
      epiFade: true,
      epiModal: true,
      user: {},
      authenticate: false,
      podcastDetail: {},
      cld: "",
      player: "",
      price: "",
      title: "",
      relatedVideos: [],
      anonymousCart: [],
      relatedPlaylist: "",
      shipTab: true,
      reviewTabSwitch: false,
      shareTabSwitch: false,
      episodeTabSwitch: true,
      aboutWriterTabSwitch: false,
      aboutWriterTab: true,
      aboutWriter: false,
      reviewTab: true,
      shareTab: true,
      episodeTab: true,
      shipTabSwitch: false,
      episode: true,
      shipping: false,
      reviews: false,
      share: false,
      allReviews: [],
      review: {
        productId: "",
        title: "",
        description: "",
        rating: 0
      },
      star: 0,
      NotratedOne: true,
      NotratedTwo: true,
      RatedTwo: false,
      RatedOne: false,
      NotratedThree: true,
      RatedThree: false,
      NotratedFour: true,
      RatedFour: false,
      NotratedFive: true,
      RatedFive: false,
      rateFa: true,
      episodeArray: [],
      loginCart: [],
      hardCopy: false,
      hardpriceCont: false,
      softCopy: false,
      softpriceCont: true,
      readOnline: false,
      readOnlinepriceCont: true,
      industry_name: "",
      breadcrumbList: [],
      startDate: null,
      startDateParsed: null,
      currentDate: null,
      endDate: null,
      freeTrial: true,
      checkLibrary: [],
      inLibrary: true,
      usersub: null
    };
  },
  components: {
    "app-videoBanner": VideoBanner,
    SocialSharing
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user != null) {
      this.token = user.access_token;
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));

          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
            console.log("Trial Over");
            this.freeTrial = false;
          } else {
            console.log("Still on Trial");
          }
        });

      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          response.data.data.forEach(element => {
            element.orderDetail.forEach(item => {
              if (item.type === "PODCAST") {
                this.checkLibrary.push(item);
              }
            });
          });
        });

      axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
        this.usersub = Number(response.data[0].level);
      });
    }
  },

  mounted() {
    this.updateList();
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.email = user.email;
      this.user_id = user.id;
      this.user = user;
      this.authenticate = true;
    }

    this.cld = cloudder.Cloudinary.new({ cloud_name: "diuflmhz2" });
    this.player = this.cld.videoPlayers(".podcastDetail");
    this.relatedPlaylist = this.cld.videoPlayers(".relatedVideo");
    axios.get(`/api/all-industries`).then(response => {
      this.industry_name = response.data;
    });
    axios
      .get("/api/admin/product/bizguruh/Podcast")
      .then(response => {
        if (response.status === 200) {
          let product = response.data.data;
          product.forEach((item, index) => {
            item.webinar.category = item.category.name;
            item.webinar.uid = item.id;
            item.webinar.prodCategoryType = item.prodCategoryType;
            item.webinar.poster = item.coverImage;
            item.webinar.subjectMatter = item.subjectMatter.name.toLowerCase();
            item.webinar.industryName = item.industry.name;
            this.podcasts.push(item.webinar);
          });
        }
      })
      .catch(error => {
        console.log(error);
      });
    if (this.podcastDetail.audioPrice > 0) {
      this.togglePrice("audioPrice");
    }
  },
  computed: {
    filterItem() {
      if (this.searchItem !== "") {
        return this.podcasts.filter(item => {
          return item.title
            .toLowerCase()
            .includes(this.searchItem.toLowerCase());
        });
      } else {
        return this.podcasts;
      }
    }
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    searchDataItem() {
      this.$emit("sendSearchData", this.searchItem);
    },
    AddVideoToLibrary(id, name) {
      var data = {
        id: id,
        prodType: "Podcast",
        getType: "Insight Subscription Podcast",
        name: name
      };
      if (this.freeTrial === true || this.usersub > 0) {
        axios
          .post(
            "/api/user/sendvideotolibrary",
            JSON.parse(JSON.stringify(data)),
            {
              headers: { Authorization: `Bearer ${this.user.access_token}` }
            }
          )
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Successfully added to library");
            } else if (response.data === "Order Already Added") {
              this.$toasted.error("You have already added this product before");
            } else if (response.data.status === 405 || response.data === " ") {
              this.$toasted.error(
                "Library Unavailable for your subscription level"
              );

              setTimeout(() => {
                let upgrade = confirm(
                  "Do you wish to Upgrade your Subscription now?"
                );

                if (upgrade) {
                  let routeData = this.$router.resolve({
                    name: "SubscriptionProfile",
                    params: {
                      level: this.podcasts.subLevel
                    }
                  });

                  window.open(routeData.href, "_blank");
                }
              }, 3000);
            } else {
              this.$toasted.error(response.data);
            }
          })
          .catch(error => {
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: this.$router.fullPath }
              });
            } else {
              this.$toasted.error(error.response.data.message);
            }
          });
      } else {
        this.$toasted.error("Library unavailable for your subscription level");

        setTimeout(() => {
          let upgrade = confirm(
            "Do you wish to Upgrade your Subscription now?"
          );

          if (upgrade) {
            let routeData = this.$router.resolve({
              name: "SubscriptionProfile",
              params: {
                level: this.podcastDetail.subLevel
              }
            });

            window.open(routeData.href, "_blank");
          }
        }, 2000);
      }
    },
    listenEpisodeNow(e, vid, id, price) {
      let data = {
        id: id,
        prodType: "Podcast",
        getType: "Insight Stream Subscription Episode Podcast",
        type: "EP",
        vid: vid
      };
      axios
        .post(
          "/api/user/watchnowepisodemedia",
          JSON.parse(JSON.stringify(data)),
          { headers: { Authorization: `Bearer ${this.user.access_token}` } }
        )
        .then(response => {
          localStorage.removeItem("mediaStream");

          if (response.status === 200) {
            if (response.data === " ") {
              let routeData = this.$router.resolve({
                name: "SubscriptionForUser"
              });
              window.open(routeData.href);
            } else {
              localStorage.setItem("mediaStream", JSON.stringify(data));
              let routeData = this.$router.resolve({ name: "WatchMedia" });
              window.open(routeData.href);
            }
          }
        })
        .catch(error => {
          if (error.response.data.message === "Unauthenticated.") {
            let routeData = this.$router.resolve({
              name: "auth"
            });
            window.open(routeData.href);
          } else {
            this.$toasted.error(error.response.data.message);
          }
        });
    },
    sendEpisodeToCart(e, vid, id, name) {
      let data = {
        id: id,
        prodType: "Podcast",
        getType: "Insight Subscription Episode Podcast",
        vid: vid,
        name: name
      };

      if (this.freeTrial === true || this.usersub > 0) {
        axios
          .post(
            `/api/user/sendvideoepisodetolibrary`,
            JSON.parse(JSON.stringify(data)),
            { headers: { Authorization: `Bearer ${this.user.access_token}` } }
          )
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Successfully added to library");
            } else if (
              response.data === "you have added this product already"
            ) {
              this.$toasted.error("You have already added this product before");
            } else if (response.data.status === 405 || response.data === " ") {
              this.$toasted.error(
                "Library Unavailable for your subscription level"
              );

              setTimeout(() => {
                let upgrade = confirm(
                  "Do you wish to Upgrade your Subscription now?"
                );

                if (upgrade) {
                  let routeData = this.$router.resolve({
                    name: "SubscriptionProfile",
                    params: {
                      level: this.podcastDetail.subLevel
                    }
                  });

                  window.open(routeData.href, "_blank");
                }
              }, 3000);
            } else {
              this.$toasted.error(response.data);
            }
          })
          .catch(error => {
            console.log(error);
            if (error.response.data.message === "Unauthenticated.") {
              let routeData = this.$router.resolve({
                name: "auth"
              });
              window.open(routeData.href);
            } else {
              this.$toasted.error(error.response.data.message);
              console.log(error.response.data.message);
            }
          });
      } else {
        this.$toasted.error("Library Unavailable for your subscription level");

        setTimeout(() => {
          let upgrade = confirm(
            "Do you wish to Upgrade your Subscription now?"
          );

          if (upgrade) {
            let routeData = this.$router.resolve({
              name: "SubscriptionProfile",
              params: {
                level: this.podcastDetail.subLevel
              }
            });

            window.open(routeData.href, "_blank");
          }
        }, 2000);
      }
    },
    togglePrice(price) {
      //   if (price === "audioPrice") {
      //     this.price = this.podcastDetail.audioPrice;
      //     this.title = "Audio";
      //     this.hardpriceCont = this.softCopy = this.readOnline = false;
      //     this.hardCopy = this.softpriceCont = this.readOnlinepriceCont = true;
      //   } else
      if (price === "streamPrice") {
        this.price = this.podcastDetail.streamPrice;
        this.title = "Streaming";
        this.softpriceCont = this.hardCopy = this.readOnline = false;
        this.softCopy = this.hardpriceCont = this.readOnlinepriceCont = true;
      } else if (price === "subscribePrice") {
        this.price = this.podcastDetail.subscribePrice;
        this.readOnlinepriceCont = this.hardCopy = this.softCopy = false;
        this.readOnline = this.softpriceCont = this.hardpriceCont = true;
        this.title = "Subscription";
      }
    },
    addEpisodeToCart(e, vid, id, price) {
      e.preventDefault();

      let cart = {
        productId: id,
        mediaId: vid,
        price: price,
        prodType: "VideoEpisode",
        quantity: 0,
        vidEpisode: true
      };

      if (this.authenticate === false) {
        cart.cartNum = 1;
        this.anonymousCart.push(cart);
        if (JSON.parse(localStorage.getItem("userCart")) === null) {
          localStorage.setItem("userCart", JSON.stringify(this.anonymousCart));
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let cartCount = sessionCart.length;
          this.$emit("getCartCount", cartCount);
        } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let ss = sessionCart.length;
          sessionCart[ss] = cart;
          localStorage.setItem("userCart", JSON.stringify(sessionCart));
          let a = JSON.parse(localStorage.getItem("userCart"));
          let aCount = a.length;
          this.$emit("getCartCount", aCount);
        }
      } else {
        this.addCart(cart);
      }
    },
    openModal(id) {
      this.epiFade = false;
      axios
        .get(`/api/product-detail/${id}`)
        .then(response => {
          if (response.status === 200) {
            this.podcastDetail = response.data.data[0].webinar;
            this.podcastDetail.subscribePrice =
              response.data.data[0].subscribePrice;
            this.podcastDetail.streamPrice = response.data.data[0].streamPrice;
            this.podcastDetail.uid = response.data.data[0].id;
            this.podcastDetail.subLevel =
              response.data.data[0].subscriptionLevel;

            this.podcastDetail.audioPrice = response.data.data[0].audioPrice;
            this.getMediaDetail(this.podcastDetail.id);
            this.getProductReviews(this.podcastDetail.uid);
            this.player.forEach(item => {
              item.source(this.podcastDetail.excerptsPublicId);
            });
            this.getRelatedVideoProduct(id);

            if (!isNaN(parseInt(this.podcastDetail.audioPrice))) {
              this.title = "Audio";
              this.hardpriceCont = false;
              this.hardCopy = true;
              this.price = this.podcastDetail.audioPrice;
            } else if (!isNaN(parseInt(this.podcastDetail.subscribePrice))) {
              this.title = "Subscription";
              this.softpriceCont = false;
              this.softCopy = true;
              this.price = this.podcastDetail.subscribePrice;
            } else if (!isNaN(parseInt(this.podcastDetail.streamPrice))) {
              this.title = "Streaming";
              this.readOnlinepriceCont = false;
              this.readOnline = true;
              this.price = this.podcastDetail.streamPrice;
            }
            if (
              this.podcastDetail.subscribePrice !== "" ||
              this.podcastDetail.streamPrice !== "" ||
              this.podcastDetail.videoPrice !== ""
            ) {
              this.purchaseCheck = true;
            } else {
              this.purchaseCheck = false;
            }

            this.checkInLibrary(
              this.podcastDetail.uid,
              this.podcastDetail.title
            );
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getProductReviews(id) {
      let data = {
        id: id
      };
      axios
        .post("/api/product/get-reviews", JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            this.allReviews = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getRelatedVideoProduct(id) {
      axios
        .get(`/api/get/related/Podcast/${id}`)
        .then(response => {
          if (response.status === 200) {
            let relatedProduct = response.data.data;
            relatedProduct.forEach((item, index) => {
              item.webinar.category = item.category.name;
              item.webinar.uid = item.id;
              this.relatedVideos.push(item.webinar);
              // this.relatedPlaylist[index].source(item.webinar.excerptsPublicId);
            });

            this.relatedPlaylist.forEach((item, index) => {
              item.source(this.relatedVideos[index].excerptsPublicId);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    showTabs(params) {
      switch (params) {
        case "shipping":
          this.shipping = this.shipTabSwitch = this.reviewTab = this.shareTab = this.aboutWriterTab = true;
          this.reviews = this.aboutWriter = this.episode = this.shipTab = this.reviewTabSwitch = this.shareTabSwitch = this.shareTabSwitch = this.share = this.episodeTabSwitch = this.aboutWriter = this.aboutWriterTabSwitch = false;
          break;
        case "reviews":
          this.reviewTabSwitch = this.reviews = this.shipTab = this.shareTab = this.aboutWriterTab = true;
          this.shipTabSwitch = this.aboutWriter = this.episode = this.reviewTab = this.shipping = this.shareTabSwitch = this.share = this.episodeTabSwitch = this.aboutWriterTabSwitch = false;
          break;
        case "share":
          this.shipping = this.aboutWriter = this.episode = this.reviews = this.reviewTabSwitch = this.shipTab = this.shareTab = this.shipTabSwitch = this.episodeTabSwitch = this.aboutWriterTabSwitch = false;
          this.share = this.shareTabSwitch = this.reviewTab = this.shipTab = this.aboutWriterTab = true;
          break;
        case "episode":
          this.shipping = this.aboutWriter = this.share = this.reviews = this.reviewTabSwitch = this.shipTabSwitch = this.shareTabSwitch = false;
          this.episode = this.episodeTabSwitch = this.reviewTab = this.shipTab = this.shareTab = true;
          break;
        case "aboutWriter":
          this.aboutWriter = this.aboutWriterTabSwitch = this.shareTab = this.reviewTab = true;
          this.aboutWriterTab = this.shareTabSwitch = this.reviewTabSwitch = this.episodeTabSwitch = this.shipping = this.share = this.reviews = this.episode = false;

          break;
        default:
          this.shipping = false;
          this.reviews = false;
      }
    },
    checkInLibrary(id, title) {
      console.log("Data: checkInLibrary -> title", title);
      console.log("Data: checkInLibrary -> d", id);
      for (let index = 0; index < this.checkLibrary.length; index++) {
        const element = this.checkLibrary[index];
        console.log("Data: checkInLibrary -> element", element);
        if (id === Number(element.productId) && title == element.subTitle) {
          console.log("true");

          this.inLibrary = true;
          break;
        } else {
          console.log("false");

          this.inLibrary = false;
        }
      }
    },
    rateWithStar(num) {
      switch (num) {
        case "1":
          this.NotratedOne = !this.NotratedOne;
          this.RatedOne = !this.RatedOne;
          this.review.rating = 1;
          break;
        case "2":
          this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
          this.RatedTwo = this.RatedOne = !this.RatedTwo;
          this.review.rating = 2;
          break;
        case "3":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this
            .NotratedThree;
          this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
          this.review.rating = 3;
          break;
        case "4":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this
            .NotratedFour;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this
            .RatedFour;
          this.review.rating = 4;
          break;
        case "5":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this
            .NotratedFive;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this
            .RatedFive;
          this.review.rating = 5;
          break;
        default:
          this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
          this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
      }
    },
    submitReview() {
      if (this.authenticate === false) {
        this.$toasted.error("You must log in to review a product");
      } else {
        this.review.productId = this.podcastDetail.uid;
        axios
          .post("/api/user/reviews", JSON.parse(JSON.stringify(this.review)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Reviews successfully saved");
              this.review.productId = this.review.title = this.review.description =
                "";
              this.review.rating = 0;
              this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
              this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
            } else {
              this.$toasted.error(
                "You cannot review this product until you purchase it"
              );
            }
          })
          .catch(error => {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          });
      }
    },
    getMediaDetail(id) {
      axios
        .get(`/api/get/getvideodetail/${id}`)
        .then(response => {
          console.log("Data: getMediadetail -> response", response);
          if (response.status === 200) {
            this.episodeArray = response.data;
            console.log(
              "Data: getMediaDetail ->  this.episodeArray",
              this.episodeArray
            );

            this.episodeArray.forEach(item => {
              this.$set(item, "showHide", false);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addToCart(id) {
      if (this.price === "") {
        this.$toasted.error("Please Select a price");
      } else {
        let cart = {
          productId: id,
          price: this.price
        };
        if (this.title === "Audio") {
          cart.quantity = 0;
          cart.prodType = "Audio";
        } else if (this.title === "Streaming") {
          cart.quantity = 0;
          cart.prodType = "Streaming";
        } else if (this.title === "Subscription") {
          cart.quantity = 0;
          cart.prodType = "Subscription";
        }

        if (this.authenticate === false) {
          cart.cartNum = 1;
          this.anonymousCart.push(cart);
          if (JSON.parse(localStorage.getItem("userCart")) === null) {
            localStorage.setItem(
              "userCart",
              JSON.stringify(this.anonymousCart)
            );
            let sessionCart = JSON.parse(localStorage.getItem("userCart"));
            let cartCount = sessionCart.length;
            this.$emit("getCartCount", cartCount);
            this.$notify({
              group: "cart",
              title: this.podcastDetail.title,
              text: "Successfully Added to Cart!"
            });
          } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
            let sessionCart = JSON.parse(localStorage.getItem("userCart"));
            let ss = sessionCart.length;
            sessionCart[ss] = cart;
            localStorage.setItem("userCart", JSON.stringify(sessionCart));
            let a = JSON.parse(localStorage.getItem("userCart"));
            let aCount = a.length;
            this.$emit("getCartCount", aCount);
            this.$notify({
              group: "cart",
              title: this.podcastDetail.title,
              text: "Successfully Added to Cart!"
            });
          }
        } else {
          this.addCart(cart);
        }
      }
    },
    addCart(cart) {
      axios
        .post("/api/cart", JSON.parse(JSON.stringify(cart)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 201) {
            this.loginCart.push(response.data);
            let aCount = this.loginCart.length;
            this.$emit("getCartCount", aCount);
            this.$notify({
              group: "cart",
              title: this.podcastDetail.title,
              text: "Successfully Added to Cart!"
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.course-Detail {
  max-width: 900px;
  margin: auto !important;
  padding-bottom: 100px;
  font-weight: bold;
}

.noResult {
  font-family: fantasy;
  text-align: center;
  margin: auto;
}
.related_vid {
  position: relative;
  padding: 0;
}
.related_vid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.playCont {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  opacity: 0.8;
  transform: translate(-50%, -50%);
}
.playIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  color: #000000;
}
.shadowA {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}
@import url(https://fonts.googleapis.com/css?family=Lato:700);
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}
.ribbon-free span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #404346;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 500 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -0px;
  left: -0px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: 15px;
  top: 7px;
  transform: rotate(-45deg);
  z-index: 20;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -7px;
  top: 22px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

input::-webkit-input-placeholder {
  color: #c5c5c5 !important;
}

.podcast-banner {
  background-image: url(/images/podcast.jpg);
  background-color: #a4c2db !important;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
}
.text {
  position: absolute;
  top: 60px;
  left: 16px;
  font-size: 60px;
  color: #000000;
}
.videoDisTile {
  justify-content: space-between;
  display: flex;
  margin: 30px 0;
  padding: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 2px 1px #ccc;
  overflow: hidden;
  background: #fff;
}

.ddVideo {
  flex-grow: 2;
  padding: 6px 20px;
}
.smatter {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.64);
}
.episodeDescription {
  display: block;
  padding: 12px 30px 12px 43px;
  background-color: #fff;
  border: 1px solid #e8e9eb;
  border-top: none;
  font-size: 13px;
  color: #686f7a;
  letter-spacing: 0.3px;
  line-height: 1.33;
}
.related_vid {
  padding-right: 0;
}

.episodeTitles {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: solid 1px #e8e9eb;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 10px 30px 10px 22px;
}

.divC {
  font-size: 40px;
  margin: 17px 0 50px 0;
}

.shipTabSwitch,
.reviewTabSwitch,
.shareTabSwitch,
.episodeTabSwitch,
.aboutWriterTabSwitch {
  background-color: #a4c2db;
  border: 1px solid #a4c2db;
  color: #ffffff !important;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
}

.shipTab,
.reviewTab,
.shareTab,
.episodeTab,
.aboutWriterTab {
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
}

.Videorow {
  display: flex;
  justify-content: space-evenly;
}

.videoRelated {
  text-align: left;
  margin-top: 50px;
}

.videoRelated select {
  width: 125px;
}

.videoRelated p {
  font-weight: bold;
  font-size: 13px;
}

.PriceDIV {
  display: flex;
}

.episodeDescription div:nth-child(1) {
  margin-bottom: 10px;
}

.videoguest {
  font-weight: bold;
  text-transform: uppercase;
}

.hardCopy,
.softCopy,
.readOnline {
  background: #a4c2db;
  color: #ffffff !important;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.vd {
  text-align: right;
}
.hardpriceCont,
.softpriceCont,
.readOnlinepriceCont {
  border: 2px solid #a4c2db;
  padding: 10px;
  color: #a4c2db;
  margin: 10px;
  cursor: pointer;
}
.shareI {
  background: #a4c2db;
  color: #ffffff !important;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px;
  border: 1px solid #a4c2db;
}
.share {
  text-align: center;
  color: #a4c2db;
  font-weight: bold;
}
.social {
  background: #ffffff;
  text-align: center;
  border-radius: 3px;
  padding: 9px 0;
  cursor: pointer;
  margin: 10px;
  font-size: -webkit-xxx-large;
  font-size: xx-large;
  color: #a4c2db !important;
}

.reviewAvatar {
  text-transform: capitalize;
  background: #a4c2db;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 50%;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.rowBanner {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 40px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#799bc8+0,99b5db+12,bad0ef+25,afc7e8+38,a6c0e3+49,bed0ea+49,c8d7eb+74,d2dfed+100 */
  background: rgb(121, 155, 200); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(121, 155, 200, 1) 0%,
    rgba(153, 181, 219, 1) 12%,
    rgba(186, 208, 239, 1) 25%,
    rgba(175, 199, 232, 1) 38%,
    rgba(166, 192, 227, 1) 49%,
    rgba(190, 208, 234, 1) 49%,
    rgba(200, 215, 235, 1) 74%,
    rgba(210, 223, 237, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(121, 155, 200, 1) 0%,
    rgba(153, 181, 219, 1) 12%,
    rgba(186, 208, 239, 1) 25%,
    rgba(175, 199, 232, 1) 38%,
    rgba(166, 192, 227, 1) 49%,
    rgba(190, 208, 234, 1) 49%,
    rgba(200, 215, 235, 1) 74%,
    rgba(210, 223, 237, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgba(121, 155, 200, 1) 0%,
    rgba(153, 181, 219, 1) 12%,
    rgba(186, 208, 239, 1) 25%,
    rgba(175, 199, 232, 1) 38%,
    rgba(166, 192, 227, 1) 49%,
    rgba(190, 208, 234, 1) 49%,
    rgba(200, 215, 235, 1) 74%,
    rgba(210, 223, 237, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#799bc8', endColorstr='#d2dfed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.podSearch,
.tagSearch {
  padding: 1px 12px;
}

.epiPrice {
  float: right;
  margin: 0 10px;
}

.epiPriceDiv {
  width: 100%;
}

.cartAdd {
  background: #a4c2db;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 11px;
  padding: 4px 9px;
  border-radius: 2px;
}

.cartAdds {
  border: 1px solid #a4c2db;
  font-weight: bold;
  color: #a4c2db !important;
  font-size: 11px;
  padding: 4px 9px;
  border-radius: 2px;
}

.videoDiver {
  position: relative;
  border: 1px solid #a4c2db;
  padding: 6px 16px;
  margin: 0 20px;
  background: #a4c2db !important;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  color: #fff !important;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}
.videoDiver::after {
  content: "";
  background: rgba(164, 194, 219, 0.6);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.videoDiver:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.videoDiver a:hover {
  color: #fff !important;
}
.related_vid {
  padding-right: 0;
}

.videoDiver:hover {
  color: #ffffff !important;
  background: rgba(164, 194, 219, 0.4) !important;
}

.videoOverview {
  display: -webkit-box !important;
  color: rgba(0, 0, 0, 0.64);
  height: 110px;
  line-height: 1.6;
  margin-bottom: 20px;
  -webkit-line-clamp: 5;
  -moz-line-clamp: 5;
  -ms-line-clamp: 5;
  -o-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.videoCat {
  color: #b6cfe4;
}

.videoTitle {
  color: #a4c2db !important;
}
.videoTitle:hover {
  color: rgba(0, 0, 0, 0.84);
}

.hardCover,
.softCover {
  cursor: pointer;
  border: 1px solid #a4c2db;
  padding: 10px 0;
}

.productNames {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  line-height: 15px;
}

.pod {
  text-align: center;
}

.product-dialog {
  width: 90%;
  max-width: 90%;
  margin-top: 130px;
}

.videoInfo {
  background: #eff0f0;
  padding: 20px 20px;
  text-align: left;
  width: 46%;
  margin-left: auto;
}

.videoTitles {
  font-size: 1.6rem;
}

.btn-reviews {
  background-color: #a4c2db !important;
  padding: 10px 20px;
}

.btn-guruh-cart {
  background-color: #a4c2db !important;
  padding: 7px 16px !important;
  width: 100%;
}

.btn-guruh-listen {
  border: 1px solid #a4c2db !important;
  color: #a4c2db !important;
  padding: 7px 16px !important;
  width: 100%;
}
.reviewAvatar {
  text-transform: capitalize;
  background: #a4c2db;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 50%;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.btn-reviews {
  background-color: #a4c2db !important;
  padding: 10px 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tabre {
  overflow: hidden;
  margin-top: 10px;
}

.dateCreated {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
}

.avatarD {
  margin-right: 20px;
  margin-top: 10px;
}

.reviewerName {
  text-transform: capitalize;
  margin-top: -6px;
}

.reviewdiv {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 14px;
}

.reviewAvatar {
  text-transform: capitalize;
  background: #a4c2db;
  color: #ffffff;
  padding: 11px 15px;
  font-size: 15px;
  border-radius: 50%;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.floatRT {
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .videoInfo {
    width: 30%;
  }
  .rowBanner {
    padding: 80px 20px 30px;
  }
}

@media only screen and(max-width: 768px) {
  .vjs_video_3-dimensions {
    max-width: 768px;
    width: 100%;
    height: 375px;
  }

  .rowBanner {
    padding: 80px 20px 30px;
  }
}
@media (max-width: 768px) {
  .course-Detail {
    padding: 90px 80px;
  }
  .vjs_video_3-dimensions {
    max-width: 768px;
    width: 100%;
    height: 375px;
  }

  .rowBanner {
    padding: 30px 40px;
  }
  .videoDisTile {
    display: flex;
  }
  .videoOverview {
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    -o-line-clamp: 5;
    line-clamp: 5;
  }
  .videoCat {
    color: #b6cfe4;
    font-size: 11px;
  }
  .col-sm-9,
  .col-md-9,
  .col-lg-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .videoDisTile {
    display: flex;
  }

  .videoInfo {
    font-size: 14px;
  }
  .videoTitles {
    font-size: 16px;
    font-weight: 600;
  }
  .overview-buttons {
  }

  .epiPriceDiv {
    margin-left: auto;
  }
  .shipTabSwitch,
  .reviewTabSwitch,
  .shareTabSwitch,
  .episodeTabSwitch,
  .aboutWriterTabSwitch {
    font-size: 11px;
  }

  .shipTab,
  .reviewTab,
  .shareTab,
  .episodeTab,
  .aboutWriterTab {
    font-size: 11px;
  }
  .videoDiver {
    display: none;
  }
  .videoDiver a {
    color: #a4c2db;
  }
  .mobile {
    display: block;
  }
}

@media (max-width: 425px) {
  .podd {
    padding: 0 10px;
  }
  .related_vid img {
    width: 100%;
    height: 100%;
  }
  .playIcon {
    font-size: 7opx;
  }
  .rowBa {
    padding: 0 15px;
  }

  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 75px;
    padding: 1px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 12px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }
  .ribbon-free span {
    position: absolute;
    display: block;
    width: 75px;
    padding: 2px 0;
    background-color: #404346;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 500 12px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }

  /* top left*/
  .ribbon-top-left {
    top: 0px;
    left: -78px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: 15px;
    top: 7px;
    transform: rotate(-45deg);
  }

  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -7px;
    top: 22px;
    transform: rotate(45deg);
  }

  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }

  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }

  video {
    width: 100%;
    height: 100%;
  }

  .vjs_video_3-dimensions {
    width: 100%;
  }
  .videoDiver {
    font-size: 12px;
    margin: 0;
  }
  .podcast-banner {
    display: none;
  }
  button.btn.btn-sm.videoDiver {
    font-size: 8px;
    padding: 0;
    float: left;
    border-radius: unset;
    border: none;
    text-transform: capitalize;
  }
  button.btn.btn-sm.videoDiver.mobile {
    font-size: 11px;
    float: right;
    border-radius: unset;
    text-transform: capitalize;
  }
  .text {
    font-size: 30px;
  }
}

.videoDisTile {
  justify-content: space-between;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin: 20px 5px;
  height: 180px;
}
.video-js {
  font-size: 12px !important;
}

.ddVideo {
  flex-grow: 2;
  padding: 0;
}

.episodeDescription {
  display: block;
  padding: 12px 30px 12px 43px;
  background-color: #fff;
  border: 1px solid #e8e9eb;
  border-top: none;
  font-size: 13px;
  color: #686f7a;
  letter-spacing: 0.3px;
  line-height: 1.33;
}

.episodeTitles {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: solid 1px #e8e9eb;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 10px 30px 10px 22px;
}

.divC {
  font-size: 40px;
  margin: 17px 0 50px 0;
}

.shipTabSwitch,
.reviewTabSwitch,
.shareTabSwitch,
.episodeTabSwitch,
.aboutWriterTabSwitch {
  background-color: #a4c2db;
  border: 1px solid #a4c2db;
  color: #ffffff !important;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  line-height: 1.2;
}

.shipTab,
.reviewTab,
.shareTab,
.episodeTab,
.aboutWriterTab {
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  width: 30%;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  line-height: 1.2;
}

.Videorow {
  display: flex;
  justify-content: space-evenly;
}

.videoRelated {
  text-align: left;
}

.videoRelated select {
  width: 125px;
}
/* a {
  color: #a4c2db;
}
a:visited {
  color: #000000;
}
.videoDiver:visited {
  color: #000000;
} */
.mobile {
  display: none;
}

.videoRelated p {
  font-weight: bold;
  font-size: 13px;
}

.PriceDIV {
  display: flex;
}

.episodeDescription div:nth-child(1) {
  margin-bottom: 10px;
}

.videoguest {
  font-weight: bold;
  text-transform: uppercase;
}

.hardCopy,
.softCopy,
.readOnline {
  background: #a4c2db;
  color: #ffffff !important;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.hardpriceCont,
.softpriceCont,
.readOnlinepriceCont {
  border: 2px solid #a4c2db;
  padding: 10px;
  color: #a4c2db;
  margin: 10px;
  cursor: pointer;
}

.reviewAvatar {
  text-transform: capitalize;
  background: #a4c2db;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 50%;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.epiPrice {
  float: right;
  margin: 0 10px;
}

.epiPriceDiv {
  width: 100%;
}

.cartAdd {
  background: #a4c2db;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 11px;
  padding: 4px 9px;
  border-radius: 2px;
}

.cartAdds {
  border: 1px solid #a4c2db;
  font-weight: bold;
  color: #a4c2db !important;
  font-size: 11px;
  padding: 4px 9px;
  border-radius: 2px;
}

.videoDiver {
  border: 1px solid #a4c2db;
  padding: 4px 16px;
  font-size: 14px;
  margin: 0;
  color: #a4c2db;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.videoDiver:hover {
  color: #ffffff;
  background: #a4c2db;
}

.videoCat {
  color: #b6cfe4;
}

.videoTitle {
  color: rgba(0, 0, 0, 0.84);
  font-size: 16px;
}
.videoOverview {
  color: rgba(0, 0, 0, 0.64);
}

.hardCover,
.softCover {
  cursor: pointer;
  border: 1px solid #a4c2db;
  padding: 10px 0;
}

.productNames {
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  line-height: 15px;
}
.search-btn {
  border: 0px;
  color: #000000;
  margin: 7px 0;
  position: absolute;
  right: 25px;
  top: 4px;
}

.pod {
  text-align: center;
}

.product-dialog {
  width: 90%;
  max-width: 90%;
  margin-top: 130px;
}

.videoInfo {
  background: #eff0f0;
  padding: 20px 20px;
  text-align: left;
  width: 46%;
}

.videoTitles {
  font-size: 1rem;
}

.btn-reviews {
  background-color: #a4c2db !important;
  padding: 10px 20px;
}

.btn-guruh-cart {
  background-color: #a4c2db !important;
  padding: 8px 5px !important;
  width: 100%;
}

.btn-guruh-listen {
  border: 1px solid #a4c2db !important;
  color: #a4c2db !important;
  padding: 11px 5px !important;
  width: 100%;
  margin: 10px;
}
.reviewAvatar {
  text-transform: capitalize;
  background: #a4c2db;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 50%;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.btn-reviews {
  background-color: #a4c2db !important;
  padding: 10px 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tabre {
  overflow: hidden;
  margin-top: 10px;
}

.dateCreated {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
}

.avatarD {
  margin-right: 20px;
  margin-top: 10px;
}

.reviewerName {
  text-transform: capitalize;
  margin-top: -6px;
}

.reviewdiv {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 14px;
}

.reviewAvatar {
  text-transform: capitalize;
  background: #a4c2db;
  color: #ffffff;
  padding: 11px 15px;
  font-size: 15px;
  border-radius: 50%;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.floatRT {
  overflow: hidden;
}
@media only screen and(max-width: 768px) {
  video {
    width: 100%;
    height: 100%;
  }

  .vjs_video_3-dimensions {
    width: 100%;
  }
}
@media (max-width: 768px) {
  video {
    width: 100%;
    height: 100%;
  }

  .vjs_video_3-dimensions {
    width: 100%;
  }
  .rowBanner {
    padding: 30px 50px;
  }
  .rowBanner {
    padding: 30px 50px;
  }

  .videoDisTile {
    display: flex;
  }
  .videoOverview {
    color: rgba(0, 0, 0, 0.64);
  }
  .videoCat {
    color: #b6cfe4;
    font-size: 11px;
  }
  .col-sm-9,
  .col-md-9,
  .col-lg-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .rowBanner {
    padding: 30px 50px;
  }
  .videoDisTile {
    display: flex;
  }

  .videoInfo {
    font-size: 14px;
    line-height: normal;
  }
  .videoTitles {
    font-size: 16px;
    font-weight: 600;
  }
  .overview-buttons {
  }
  a.btn {
    font-size: 11px;
  }
  .btn-guruh-cart {
    font-size: 11px;
  }
  .btn-guruh-watch {
    font-size: 11px;
    border: none;
  }
  .epiPriceDiv {
    margin-left: auto;
  }
  .shipTabSwitch,
  .reviewTabSwitch,
  .shareTabSwitch,
  .episodeTabSwitch,
  .aboutWriterTabSwitch {
    font-size: 11px;
  }

  .shipTab,
  .reviewTab,
  .shareTab,
  .episodeTab,
  .aboutWriterTab {
    font-size: 11px;
  }
  .videoDiver {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media (max-width: 425px) {
  .form-control {
    height: 20px !important;
    padding: 3px 12px !important;
    font-size: 8px !important;
    line-height: 1.42857143;
  }
  .fa-search {
    font-size: 8px;
  }
  .search-btn {
    top: -4px !important;
  }
  .charts,
  .rowBanner {
    padding: 40px 10px 10px;
  }
  .podcast-banner {
    height: 130px;
  }
  .ddVideo {
    padding: 0px;
  }
  .videoDisTile {
    display: flex;
    margin: 10px 15px;
    font-size: 8px;
  }
  video {
    min-width: 100%;
    height: 100%;
  }

  .videoDiver {
    padding: 1px 5px;
    font-size: 9px;
    margin: 0;
    text-align: center;
  }

  .videoDiver {
    display: none;
  }
  .mobile {
    display: block;
  }
  p.videoOverview {
    font-size: 12px;
    line-height: normal;
  }
  .videoTitle {
    font-size: 14px;
  }
  p.videoCat {
    font-size: 8px;
  }
}
@media (max-width: 425px) {
  .course-Detail {
    padding: 0 !important;
    background: #f7f7f7;
  }
  .form-control {
    height: 20px !important;
    padding: 3px 12px !important;
    font-size: 8px !important;
    line-height: 1.42857143;
  }
  .videoOverview {
    display: -webkit-box !important;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    height: 58px;
    text-align: left;
    margin-bottom: 8px;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -o-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .charts,
  .rowBanner {
    padding: 40px 10px 10px;
  }
  .videoDisTile {
    display: flex;
    padding: 15px;
    font-size: 8px;
  }
  video {
    width: 50%;
    height: 100%;
  }

  .videoDiver {
    padding: 0;
    font-size: 8px;
    margin: 0;
    text-align: center;
  }
}
@media only screen and(max-width: 375px) {
  .video-js {
    font-size: 5px !important;
  }
  .charts,
  .rowBanner {
    padding: 50px 50px 10px;
  }
  .videoDisTile {
    display: flex;
    padding: 15px;
    font-size: 8px;
  }
  video {
    width: 100%;
    height: 100%;
  }

  .videoDiver {
    padding: 0;
    font-size: 8px;
    margin: 0;
    text-align: center;
  }
  .videoDiver {
    display: none;
  }
  .mobile {
    display: block;
  }
}
</style>

