<template>
  <div>
    <div class="loaderShadow" v-if="isActive">
      <div class="loadContainer">
        <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
        <div class="loader"></div>
      </div>
      <p class="overdue" v-if="overdue">something is wrong.. please refresh page</p>
    </div>
    <div class="main" v-else>
      <div class="upgradeContainer animated fadeIn" v-if="showUpgrade">
        <div class="upgrade">
          <p
            class="upgradeText"
          >Oops, looks like you need to upgrade to access this. It’ll only take a sec though. 😁</p>
          <div class="upgradeButtons">
            <div class="btn-info rounded shadow-sm" @click="redirectUpgrade">Yes please!</div>
            <div class="btn-secondary rounded shadow-sm" @click="closeUpgrade">I'll keep exploring</div>
          </div>
        </div>
      </div>
      <div class="mobile slide">
        <div>
          <i class="fas fa-sliders-h" @click="openSide"></i>
        </div>
        <div class="pageMenu mobile" v-if="sideNav">
          <div class="pageNav">
            <ul class="pageNavi">
              <li class="mainNav">
                Knowledge Area
                <i class="fa fa-caret-right" aria-hidden="true"></i>

                <ul class="subNav">
                  <li class="navy">
                    <input
                      class="form-check-input checkers"
                      type="radio"
                      name
                      id="all"
                      value
                      v-model="subject"
                    />
                    <label for="all" class="toCaps mainFontColor">All</label>
                  </li>
                  <li class="navy" v-for="(matter, index) in allSubjectMatters" v-bind:key="index">
                    <input
                      class="form-check-input checkers"
                      type="radio"
                      name
                      :id="matter.name"
                      :value="matter.id"
                      v-model="subject"
                    />
                    <label
                      :for="matter.name"
                      class="toCaps mainFontColor"
                    >{{matter.name.toLowerCase()}}</label>
                  </li>
                </ul>
              </li>
              <li class="mainNav">
                Watch
                <i class="fa fa-caret-right" aria-hidden="true"></i>

                <ul class="subNav">
                  <li v-if="!page">
                    <router-link class="mainFontColor" to="/entrepreneur/videos">Video</router-link>
                  </li>
                  <li v-else>
                    <router-link
                      class="mainFontColor"
                      :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'video'}}"
                    >Video</router-link>
                  </li>
                </ul>
              </li>
              <li class="mainNav">
                Read
                <i class="fa fa-caret-right" aria-hidden="true"></i>

                <ul class="subNav">
                  <li v-if="!page">
                    <router-link class="mainFontColor" to="/entrepreneur/articles">Article</router-link>
                  </li>
                  <li v-else>
                    <router-link
                      class="mainFontColor"
                      :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'article'}}"
                    >Article</router-link>
                  </li>
                  <hr />
                  <li v-if="!page">
                    <router-link class="mainFontColor" to="/entrepreneur/paper/market-research">Books</router-link>
                  </li>
                  <li v-else>
                    <router-link
                      class="mainFontColor"
                      :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'market-research'}}"
                    >Books</router-link>
                  </li>
                </ul>
              </li>
              <li class="mainNav">
                Study
                <i class="fa fa-caret-right" aria-hidden="true"></i>

                <ul class="subNav">
                  <li v-if="!page">
                    <router-link class="mainFontColor" to="/entrepreneur/courses">Course</router-link>
                  </li>
                  <li v-else>
                    <router-link
                      class="mainFontColor"
                      :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'course'}}"
                    >Course</router-link>
                  </li>
                </ul>
              </li>
              <li class="mainNav">
                <span class="search">
                  <input
                    type="text"
                    class="form-control rounded-pill"
                    v-model="search"
                    id="input"
                    placeholder="search"
                  />
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <div class="results" v-if="search !== ''">
                  <div v-if="videoSearch.length > 0">
                    <p
                      class="searchResult toCaps"
                      v-for="(video,index) in videoSearch"
                      v-bind:key="index"
                    >
                      <router-link
                        class="searchResult toCaps"
                        :to="{
									name: 'Video',
									params: { id: video.product_id }
								}"
                      >{{video.title.toLowerCase()}}</router-link>
                    </p>
                  </div>
                  <div v-if="articleSearch.length > 0">
                    <p
                      class="searchResult toCaps"
                      v-for="(article,index) in articleSearch"
                      v-bind:key="index"
                    >
                      <router-link
                        class="searchResult toCaps"
                        :to="{ name: 'ArticleSinglePage', params: {id: article.product_id, name:article.title.replace(/[^a-z0-9]/gi, '')}}"
                      >{{article.title.toLowerCase()}}</router-link>
                    </p>
                  </div>
                  <div v-if="courseSearch.length > 0">
                    <p v-for="(course,index) in courseSearch" v-bind:key="index">
                      <router-link
                        class="searchResult toCaps"
                        :to="{
								name: 'CourseFullPage',
								params: {
									id: course.product_id,
									name: course.title.replace(/ /g, '-')
								}
							}"
                      >{{course.title.toLowerCase()}}</router-link>
                    </p>
                  </div>
                  <div v-if="researchSearch.length > 0">
                    <p
                      class="searchResult toCaps"
                      v-for="(research,index) in researchSearch"
                      v-bind:key="index"
                    >
                      <router-link
                        class="searchResult toCaps"
                        :to="{ name: 'ProductPaperDetail', params: {id: research.product_id, name:  (research.title ? research.title.replace(/[^a-z0-9]/gi, '').toLowerCase() : research.articleTitle).replace(/[^a-z0-9]/gi, '').toLowerCase(), type: 'subscribe'}}"
                      >{{research.title.toLowerCase()}}</router-link>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <section class="pageMenu desktop">
        <div class="pageNav">
          <ul class="pageNavi">
            <li class="mainNav">
              Knowledge Area
              <i class="fa fa-caret-down" aria-hidden="true"></i>

              <ul class="subNav">
                <li class="navy">
                  <input
                    class="form-check-input checkers"
                    type="radio"
                    name
                    id="all"
                    value
                    v-model="subject"
                  />
                  <label for="all" class="toCaps mainFontColor">All</label>
                </li>
                <li class="navy" v-for="(matter, index) in allSubjectMatters" v-bind:key="index">
                  <input
                    class="form-check-input checkers"
                    type="radio"
                    name
                    :id="matter.name"
                    :value="matter.id"
                    v-model="subject"
                  />
                  <label
                    :for="matter.name"
                    class="toCaps mainFontColor"
                  >{{matter.name.toLowerCase()}}</label>
                </li>
              </ul>
            </li>
            <li class="mainNav">
              Watch
              <i class="fa fa-caret-down" aria-hidden="true"></i>

              <ul class="subNav">
                <li v-if="!page">
                  <router-link class="mainFontColor" to="/entrepreneur/videos">Video</router-link>
                </li>
                <li v-else>
                  <router-link
                    class="mainFontColor"
                    :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'video'}}"
                  >Video</router-link>
                </li>
              </ul>
            </li>
            <li class="mainNav">
              Read
              <i class="fa fa-caret-down" aria-hidden="true"></i>

              <ul class="subNav">
                <li v-if="!page">
                  <router-link class="mainFontColor" to="/articles">Article</router-link>
                </li>
                <li v-else>
                  <router-link
                    class="mainFontColor"
                    :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'article'}}"
                  >Article</router-link>
                </li>
                <hr />
                <li v-if="!page">
                  <router-link class="mainFontColor" to="/paper/market-research">Books</router-link>
                </li>
                <li v-else>
                  <router-link
                    class="mainFontColor"
                    :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'market-research'}}"
                  >Books</router-link>
                </li>
              </ul>
            </li>
            <li class="mainNav">
              Study
              <i class="fa fa-caret-down" aria-hidden="true"></i>

              <ul class="subNav">
                <li v-if="!page">
                  <router-link class="mainFontColor" to="/entrepreneur/courses">Course</router-link>
                </li>
                <li v-else>
                  <router-link
                    class="mainFontColor"
                    :to="{ name:'SubjectMatters',
                                                                        params:{id:subject,
                                                                                  name:'course'}}"
                  >Course</router-link>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="mainNav">
              <span class="search">
                <input
                  type="text"
                  class="form-control rounded-pill"
                  v-model="search"
                  id="input"
                  placeholder="search"
                />
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <div class="results" v-if="search !== ''">
                <div v-if="videoSearch.length > 0">
                  <p
                    class="searchResult toCaps"
                    v-for="(video,index) in videoSearch"
                    v-bind:key="index"
                  >
                    <router-link
                      class="searchResult toCaps"
                      :to="{
									name: 'Video',
									params: { id: video.product_id }
								}"
                    >{{video.title.toLowerCase()}}</router-link>
                  </p>
                </div>
                <div v-if="articleSearch.length > 0">
                  <p
                    class="searchResult toCaps"
                    v-for="(article,index) in articleSearch"
                    v-bind:key="index"
                  >
                    <router-link
                      class="searchResult toCaps"
                      :to="{ name: 'ArticleSinglePage', params: {id: article.product_id, name:article.title.replace(/[^a-z0-9]/gi, '')}}"
                    >{{article.title.toLowerCase()}}</router-link>
                  </p>
                </div>
                <div v-if="courseSearch.length > 0">
                  <p v-for="(course,index) in courseSearch" v-bind:key="index">
                    <router-link
                      class="searchResult toCaps"
                      :to="{
								name: 'CourseFullPage',
								params: {
									id: course.product_id,
									name: course.title.replace(/ /g, '-')
								}
							}"
                    >{{course.title.toLowerCase()}}</router-link>
                  </p>
                </div>
                <div v-if="researchSearch.length > 0">
                  <p
                    class="searchResult toCaps"
                    v-for="(research,index) in researchSearch"
                    v-bind:key="index"
                  >
                    <router-link
                      class="searchResult toCaps"
                      :to="{ name: 'ProductPaperDetail', params: {id: research.product_id, name:  (research.title ? research.title.replace(/[^a-z0-9]/gi, '').toLowerCase() : research.articleTitle).replace(/[^a-z0-9]/gi, '').toLowerCase(), type: 'subscribe'}}"
                    >{{research.title.toLowerCase()}}</router-link>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="top pb-5">
        <swiper :options="swiperOptionTop" class="gallery-top first" ref="swiperTop">
          <swiper-slide class="slide-1 d-flex" v-if="videoProduct.length > 0">
            <div class="leftContainer">
              <div class="controlContainer">
                <h3 class="leftTitle">{{videoProduct[0].title.toLowerCase()}}</h3>
                <p class="overviewMain">{{videoProduct[0].description}}</p>
                <div class="controller">
                  <button
                    type="button"
                    class="btn bttn-primary1"
                    @click="watch(videoProduct[0].product_id)"
                  >
                    <i class="fa fa-play" aria-hidden="true"></i> Watch
                  </button>
                  <button
                    type="button"
                    class="btn bttn-primary"
                    @click="addVideoToLibrary(videoProduct[0].product_id,videoProduct[0].title, videoProduct[0].subLevel)"
                  >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="hov">Add to BizLibrary</span>
                  </button>

                  <router-link to="/entrepreneur/videos">
                    <button type="button" class="btn bttn-primary">
                      <i class="fa fa-list" aria-hidden="true"></i>
                      <span class="hov">View all Videos</span>
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
            <div class="videoContainer">
              <h2 class="videos">Videos</h2>

              <img :src="videoProduct[0].coverImage" alt=" test image" />
              <div class="leftShadow"></div>
              <div class="bottomShadow"></div>
            </div>
          </swiper-slide>

          <swiper-slide class="slide-3 d-flex" v-if="articleProduct.length > 0">
            <div class="leftContainer">
              <div class="controlContainer">
                <h3 class="leftTitle">{{articleProduct[0].title.toLowerCase()}}</h3>
                <div class="overviewMain" v-html="articleProduct[0].description">{</div>
                <div class="controller">
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: articleProduct[0].product_id, name:articleProduct[0].title.replace(/[^a-z0-9]/gi, '')}}"
                  >
                    <button type="button" class="btn bttn-primary1">
                      <i class="fa fa-play" aria-hidden="true"></i> Read
                    </button>
                  </router-link>

                  <router-link to="/entrepreneur/articles">
                    <button type="button" class="btn bttn-primary">
                      <span class="hov">View all Articles</span>
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
            <div class="articleContainer" v-if="articleProduct.length > 0">
              <h2 class="videos">Articles</h2>
              <img :src="articleProduct[0].coverImage" alt=" test image" />
              <div class="leftShadow"></div>
              <div class="bottomShadow"></div>
            </div>
          </swiper-slide>
          <swiper-slide class="slide-4 d-flex" v-if="courseProduct.length > 0">
            <div class="leftContainer">
              <div class="controlContainer">
                <h3 class="leftTitle">{{courseProduct[0].title.toLowerCase()}}</h3>
                <p class="overviewMain">{{courseProduct[0].overview}}</p>

                <div class="controller">
                  <button type="button" class="btn bttn-primary1">
                    <i class="fa fa-play" aria-hidden="true"></i> View
                  </button>
                  <button
                    type="button"
                    class="btn bttn-primary"
                    @click="addVideoToLibrary(courseProduct[0].product_id,courseProduct[0].title, courseProduct[0].subLevel)"
                  >
                    <span class="hov">Add BizLibrary</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <router-link to="/entrepreneur/courses">
                    <button type="button" class="btn bttn-primary">
                      <span class="hov">View all Courses</span>
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </button>
                  </router-link>
                </div>
              </div>
            </div>
            <div class="courseContainer">
              <h2 class="videos">Courses</h2>
              <img :src="courseProduct[0].coverImage" alt=" test image" />
              <div class="leftShadow"></div>
              <div class="bottomShadow"></div>
            </div>
          </swiper-slide>

          <div class="swiper-button-next swiper-button-white carousel-nav-next" slot="button-next"></div>
          <div class="swiper-button-prev swiper-button-white carousel-nav-prev" slot="button-prev"></div>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </section>
      <section class="mini-content">
        <div class="video-content">
          <p class="mini-content-title">Featured Videos</p>

          <swiper :options="swiperOption" class="p-3" v-if="videoProduct.length">
            <swiper-slide class v-for="(item,idx) in videoProduct" :key="idx">
              <router-link
                :to="{
									name: 'Video',
									params: { id: item.product_id }
								}"
              >
                <div class="card shadow">
                  <div class="card-img-top">
                    <img :src="item.coverImage" alt />
                    <div class="img-overlay"></div>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{item.title.toLowerCase()}}</h4>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-bottom">Video</p>
                  </div>
                </div>
              </router-link>
            </swiper-slide>
            <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
            <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
          </swiper>
        </div>
        <div class="article-content">
          <p class="mini-content-title">Featured Articles</p>
          <swiper :options="swiperOption" class="p-3" v-if="articleProduct.length">
            <swiper-slide class v-for="(item,idx) in articleProduct" :key="idx">
              <router-link
                :to="{ name: 'ArticleSinglePage', params: {id: item.product_id, name: item.title.replace(/[^a-z0-9]/gi, '')}}"
              >
                <div class="card shadow">
                  <div class="card-img-top">
                    <img :src="item.coverImage" alt />
                    <div class="img-overlay"></div>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{item.title.toLowerCase()}}</h4>
                    <p class="card-text" v-html="item.description"></p>
                    <p class="card-bottom">Article</p>
                  </div>
                </div>
              </router-link>
            </swiper-slide>
            <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
            <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
          </swiper>
        </div>
      </section>
      <expert></expert>

      <section class>
        <div class="bms-heading">
          <strong>Business Management Solutions</strong>
        </div>
        <div class="bms">
          <div class="accounting_slider">
            <div class="rightSlide">
              <img class="bms_img" src="/images/word.png" alt />
            </div>
            <div class="leftSlide">
              <p class="w-100 mb-4">
                <span class="text-main bold">BE EMPOWERED</span> - To make decisions that
                <span class="text-main bold">GROW</span> your business
              </p>
              <div class="slide_button">
                <button
                  type="button"
                  @click="goToDemo"
                  class="elevated_btn btn-compliment text-white"
                >Free Demo Now</button>

                <router-link
                  :to="{
                     name: 'SubscriptionProfile',
                   params: {
                     level: 0
                         },
                         query:{
                           name:'subscribe-accounting'
                         }
                }"
                >
                  <button
                    type="button"
                    class="elevated_btn btn-outline-compliment bg-white"
                  >Subscribe</button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Banner from "./components/userBannerComponent";
import Category from "./components/categoriesBarComponent";
import MainContent from "./components/maincontentComponent";
import Subscribe from "./components/subscribeComponent";
import Testimonial from "./components/testimonialComponent";
import Expert from "./components/expertComponent";

import { getCustomerHeader } from "../config";

export default {
  name: "user-explore-page",
  data() {
    return {
      videoProduct: [],
      researchProduct: [],
      podcastProduct: [],
      articleProduct: [],
      courseProduct: [],
      allProduct: [],
      allVendors: [],
      isActive: true,
      search: "",
      overdue: false,
      swiperOptionTop: {
        slidesPerView: 1,
        slidesPerColumn: 1,
        loop: true,
        effect: "fade",
        centeredSlides: true,
        autoplay: {
          delay: 4500,
          disableOnInteraction: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },

        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      },
      swiperOption: {
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
          425: {
            slidesPerView: 2,
            spaceBetween: 10
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 15
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 30
          }
        },

        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      swiperOptionBusiness: {
        direction: "vertical",
        zoom: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        effect: "fade",
        loop: true,
        autoplay: {
          delay: 6000,
          disableOnInteraction: true
        }
      },
      userSub: null,
      freeTrial: null,
      userSub: null,
      user: {},
      inLibrary: null,
      checkLibrary: [],
      showUpgrade: false,
      allSubjectMatters: [],
      subject: "",
      page: false,
      sideNav: false,
      prevTop: 0,
      prevVid: 0,
      prevArt: 0
    };
  },
  components: {
    Expert
  },

  mounted() {
    this.isActive = true;
    this.updateList();
    this.getAllProducts();
    this.checkStatus();
    this.getVendors();
    this.getSubjectMatters();

    setTimeout(() => {
      if (this.isActive) {
        this.overdue = true;
      }
    }, 15000);
  },

  watch: {
    $route() {
      this.updateList();
    },
    subject: "subjectPage"
  },
  methods: {
    goToDemo() {
      let user = localStorage.getItem("authUser");
      if (user !== null) {
        var demo = localStorage.getItem("demo");

        this.$router.push({
          name: "AccountingDemo",
          query: {
            redirect_to: "demo"
          }
        });
      } else {
        this.$router.push({
          name: "auth",
          params: { name: "register" },
          query: {
            redirect_from: "explore"
          }
        });
      }
    },
    openSide() {
      this.sideNav = !this.sideNav;
    },
    subjectPage() {
      if (this.subject === "") {
        this.page = false;
      } else {
        this.page = true;
      }
    },
    clickedSubject() {
      this.subject;
    },
    getSubjectMatters() {
      axios.get("/api/subjectmatter").then(response => {
        this.allSubjectMatters = response.data.data;
      });
    },
    getVendors() {
      axios.get("/api/get-all-vendor").then(response => {
        response.data.forEach(item => {
          if (item.id !== 1) {
            this.allVendors.push(item);
          }
        });
      });
    },

    checkStatus() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      this.user = user;
      if (user != null) {
        axios
          .get("/api/user", { headers: getCustomerHeader() })
          .then(response => {
            let userDate = response.data.created_at;
            this.startDate = new Date(userDate);

            this.startDateParsed = Date.parse(new Date(userDate));
            this.currentDate = Date.parse(new Date());

            this.endDate = Date.parse(
              new Date(
                this.startDate.setDate(this.startDate.getDate(userDate) + 30)
              )
            );

            if (this.currentDate >= this.endDate) {
              this.freeTrial = false;
            } else {
            }
          });

        this.token = user.access_token;
        axios
          .get(`/api/user/orders`, {
            headers: { Authorization: `Bearer ${user.access_token}` }
          })
          .then(response => {
            response.data.data.forEach(element => {
              element.orderDetail.forEach(item => {
                if (item.type === "VIDEOS") {
                  this.checkLibrary.push(item);
                }
              });
            });
          });
        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          if (response.status === 200) {
            if (response.data.length !== 0) {
              this.userSub = Number(response.data[0].level);
            }
          }
        });
      }
    },
    loading() {
      this.isActive = true;
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },
    addVideoToLibrary(id, name, level) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Subscription Video",
        name: name
      };

      if (this.freeTrial === true || this.userSub > 0) {
        if (this.userSub >= level) {
          axios
            .post(
              `/api/user/sendvideotolibrary`,
              JSON.parse(JSON.stringify(data)),
              {
                headers: {
                  Authorization: `Bearer ${this.user.access_token}`
                }
              }
            )
            .then(response => {
              if (response.status === 201) {
                this.$toasted.success("Successfully added to BizLibrary");
                this.inLibrary = true;
              } else if (response.data == "Order Already Added") {
                this.$toasted.error(
                  "You have already added this product before"
                );
              } else if (
                response.data.status === 99 ||
                response.data === " " ||
                response.data.data === "error"
              ) {
                this.showUpgrade = true;
              } else {
                this.showUpgrade = true;
              }
            })
            .catch(error => {
              if (error.response.data.message === "Unauthenticated.") {
                this.$router.push({
                  name: "auth",
                  params: { name: "login" },
                  query: { redirect: this.$route.fullPath }
                });
              } else {
                this.$toasted.error(error.response.data.message);
                console.log(error.response.data.message);
              }
            });
        } else {
          this.showUpgrade = true;
        }
      } else {
        this.showUpgrade = true;
      }
    },
    watch(id) {
      this.$router.push({
        name: "Video",
        params: { id: id }
      });
    },
    getAllProducts() {
      axios.get(`/api/products`).then(response => {
        if (response.status === 200) {
          this.isActive = false;
          this.allProduct = response.data.data;
          response.data.data.forEach(item => {
            if (item.prodType == "Market Research") {
              item.marketResearch.coverImage = item.coverImage;
              item.marketResearch.subLevel = item.subscriptionLevel;
              this.researchProduct.push(item.marketResearch);
              this.researchProduct = this.researchProduct.reverse();
            } else if (item.prodType == "Videos") {
              item.webinar.coverImage = item.coverImage;
              item.webinar.subLevel = item.subscriptionLevel;
              this.videoProduct.push(item.webinar);
              this.videoProduct = this.videoProduct.reverse();
            } else if (item.prodType == "Podcast") {
              item.webinar.coverImage = item.coverImage;
              item.webinar.subLevel = item.subscriptionLevel;
              this.podcastProduct.push(item.webinar);
            } else if (item.prodType == "Articles") {
              item.articles.coverImage = item.coverImage;
              item.articles.subLevel = item.subscriptionLevel;
              this.articleProduct.push(item.articles);
              this.articleProduct = this.articleProduct.reverse();
            } else if (item.prodType == "Courses") {
              item.courses.coverImage = item.coverImage;
              item.courses.subLevel = item.subscriptionLevel;

              this.courseProduct.push(item.courses);
              this.courseProduct = this.courseProduct.reverse();
            } else {
              return;
            }
          });
        }
      });
    },
    closeUpgrade() {
      this.showUpgrade = false;
    },
    redirectUpgrade(level) {
      this.showUpgrade = false;
      let routeData = this.$router.resolve({
        name: "SubscriptionProfile",
        params: {
          level: this.videoProduct[0].subLevel
        }
      });
    }
  },

  computed: {
    videoSearch() {
      return this.videoProduct.filter(item => {
        return item.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    articleSearch() {
      return this.articleProduct.filter(item => {
        return item.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    researchSearch() {
      return this.researchProduct.filter(item => {
        return item.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    courseSearch() {
      return this.courseProduct.filter(item => {
        return item.title.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.main {
  position: relative;
  background: #f7f8fa;
  // padding: 57px 0 0;
}
.bg-line {
  background: #f7f8fa; /* Old browsers */
  background: -moz-linear-gradient(
    148deg,
    #fff 0%,
    #fff 50%,
    #f7f8fa 50%,
    #f7f8fa 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    148deg,
    #fff 0%,
    #fff 50%,
    #f7f8fa 50%,
    #f7f8fa 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    148deg,
    #fff 0%,
    #fff 50%,
    #f7f8fa 50%,
    #f7f8fa 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f7f8fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mobile {
  display: none;
}
.overdue {
  font-size: 14px;
}
.pageMenu {
  background: #fafafa;
  background-image: url(/images/vb5.png);
  background-repeat: repeat;
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px 10px;
}
.pageNav {
  width: 60%;
  display: flex;
}
label.toCaps.mainFontColor {
  cursor: pointer;
}
ul {
  list-style: none;
}
.pageNav .pageNavi {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}
.pageNav .pageNavi .mainNav {
  font-size: 16px;
  padding: 10px;
}

.subNav::before {
  content: "";
  border: 1px solid #fafafa;
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  transform: rotate(135deg);
  transform-origin: 0 0;
  width: 25px;
  height: 25px;
  top: 1px;
  background: #fafafa;
  left: 70px;
}
.subNav {
  display: none !important;
  position: absolute;
  border-radius: 4px;
  flex-direction: column;

  padding: 15px 30px;
  z-index: 10;
  background: #fafafa;
  margin-top: 9px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.mainNav:hover .subNav {
  display: flex !important;
}
.search {
  position: relative;
  display: flex;
  width: 320px;
}
.fa-search {
  position: absolute;
  color: rgba(0, 0, 0, 0.34);
  top: 25%;
  right: 5px;
  font-size: 16px;
}

.leftTitle {
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 44px;
  font-family: "Josefin Sans", sans-serif;
}

.middle {
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art {
  background-color: transparent !important;
}

.bttn-primary {
  margin: 0 10px 0 0;
  background: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  border-radius: 50% !important;
  text-transform: capitalize !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: 12px;
}
.bttn-primary1 {
  margin: 0 10px 0 0;
  background: white !important;
  border-color: white;
  color: black !important;
  border-radius: 20px !important;
  padding: 0 15px;
  text-transform: capitalize;
  height: 40px;
}

input {
  background-color: white !important;
}

.checkers {
  position: relative;
  margin: auto 10px;
}
.navy {
  display: flex;
}

.navy:hover {
  color: #88a2b8;
}
.bttn-primary:hover {
  background: rgba(164, 194, 219, 0.6) !important;
}
.bttn-primary1:hover {
  background: rgba(164, 194, 219, 0.6) !important;
}
.videos {
  position: absolute;
  color: white;
  z-index: 2;
  right: 40px;
  top: 40px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
}
.leftContainer {
  position: absolute;
  width: 70%;
  height: 250px;
  top: 25%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 5;
}
.leftContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controlContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.controller {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  text-align: center;
}

.hov {
  display: none;
  position: absolute;
  background: white;
  padding: 5px;
  bottom: -15px;
  border-radius: 5px;
  color: black;
}
.hov::before {
  position: absolute;
  content: "";
  top: -6px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid white;
  background: white;
  left: 60px;
  transform: rotate(45deg);
  display: none;
}
.bttn-primary:hover .hov {
  display: block;
}
.bttn-primary:hover .hov::before {
  display: block;
}
.videoContainer {
  position: relative;
  width: 70%;
  height: 100%;
  margin-left: auto;
  background: black;
}
video {
  width: 100%;
  height: 100%;
}
.courseContainer {
  position: relative;
  width: 70%;
  height: 100%;
  margin-left: auto;
  background: black;
}
.articleContainer {
  position: relative;
  width: 70%;
  height: 100%;
  margin-left: auto;
  background: black;
}
.researchContainer {
  position: relative;
  width: 70%;
  height: 100%;
  margin-left: auto;
  background: black;
}
.about {
  position: absolute;
  justify-content: center;
  //   align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.95);
  padding: 10px;
  display: none;
}

.recentHeader {
  margin: 20px 10px;
  color: rgba(0, 0, 0, 0.64);
}
.cover {
  width: 100%;
  height: 200px;
  position: relative;
  object-fit: cover;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.top .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.7 !important;
}
span.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.7 !important;
}
.swiper-slide {
  &.slide-1 {
    background: black;
    height: 100%;
    position: relative;
  }
  &.slide-2 {
    background: black;
    height: 100%;
    position: relative;
  }
  &.slide-3 {
    background: black;
    height: 100%;
    position: relative;
  }
  &.slide-4 {
    background: black;
    height: 100%;
    position: relative;
  }
}
.gallery-top {
  height: 84vh !important;
  width: 100%;
}
.gallery-thumbs {
  height: 40% !important;
  box-sizing: border-box;
  padding: 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 30vh;
  //   opacity: 0.4;
}
.gallery-thumbs .swiper-slide:hover .about {
  display: flex;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.leftShadow {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, black 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bottomShadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hoverContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(164, 194, 219, 0.95) !important;
  display: none;
  color: #ffffff;
}
a:hover .businessBg:hover .hoverContent {
  display: flex;
}
a:hover .businessBgPod:hover .hoverContent {
  display: flex;
}
a:hover .businessBgVid:hover .hoverContent {
  display: flex;
}
.inText {
  position: absolute;
  top: 12%;
  left: 5%;
  color: #fff;
  font-size: 1.7em;
}
.inText1 {
  position: absolute;
  color: #fff;
  font-size: 16px;
  // padding: 0 10px;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  bottom: 18px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.playBg {
  background: rgba(255, 255, 255, 0.7);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 35%;
}
.playIcon {
  font-size: 40px;
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.businessBg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.diverHeader {
  text-align: center;
  padding: 20px 0 15px;
  color: rgba(0, 0, 0, 0.64);
}

.expp {
  color: whitesmoke;
}
.exp {
  width: 100%;
  margin: 0 auto;
}
.username {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}
.feat {
  color: rgba(0, 0, 0, 0.64);
}
.cat-arrow {
  right: 21px;
  position: absolute;
  bottom: 12px;
  color: #ffffff;
  font-size: 34px;
}
.recent {
  height: auto;
  width: 100%;
  padding: 15px;
  background: #fafafa;
  background-image: url(/images/vb5.png);
  background-repeat: repeat;
}
.recentContent {
  width: 100%;
  padding: 20px 0;
}

.recentVid {
  width: 100%;
}
.recentArt {
  width: 100%;
  // padding:10px;
}
.recentVid .swiper-container {
  background: none;
  height: 250px;
}
.overview {
  text-align: left;
  font-size: 16px;
  height: 100px;
  color: white;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  -o-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  // cursor: pointer;
}
.overview1 {
  text-align: left;
  font-size: 16px;
  height: 100px;
  color: white;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  -o-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  // cursor: pointer;
}
.overviewMain {
  width: 50%;
  font-size: 18px;
  height: 54px;
  color: white;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.overviewMain p {
  font-size: 16px;
}

.subTit {
  color: white;
  height: 25px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
}

.bio {
  font-size: 16px;
  padding: 10px;
  text-align: left;
  height: 230px;
  color: white;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 9;
  -moz-line-clamp: 9;
  -ms-line-clamp: 9;
  -o-line-clamp: 9;
  line-clamp: 9;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.articleSlide {
  display: flex;
  position: relative;
  background: white;
  padding: 10px;
  box-shadow: 0 0 1px 0 #ccc;
  border-radius: 3px;
}

.articleText {
  width: 70%;
}
.articleTitle {
  font-size: 18px;
  text-align: left;
  height: 42px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 1.3;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.articleImage {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articleImage img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.articleDesc {
  font-size: 16px;
  text-align: left;
  max-height: 50px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
// .videoSlide {
//   padding: 10px 0;
// }
.videoBio1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.95);
  padding: 15px;
}

.videoSlide1:hover .videoBio1 {
  display: block;
}

.videoBio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.95);
  padding: 15px;
}

.videoSlide:hover .videoBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.videoSlide:hover .playBg {
  display: none;
}
.results {
  width: 30%;
  max-height: 400px;
  position: absolute;
  background: white;
  z-index: 15;
  border-radius: 2px;
  padding: 10px;
  font-weight: 300;
  overflow: auto;
  font-size: 14px;
  box-shadow: 1px 0 1px 0px #ccc;
}
.searchResult {
  border-bottom: 1px solid #ccc;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-orient: vertical;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -ms-line-clamp: 1;
  -moz-line-clamp: 1;
  -o-line-clamp: 1;
  white-space: normal;
  color: rgba(0, 0, 0, 0.64);
}
.mini-content {
  width: 85%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 45px;
}
.card-img-top {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.card:hover .card-img-top .img-overlay {
  display: inline;
}
.video-content {
  margin-bottom: 50px;
  position: relative;
}
.article-content {
  position: relative;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}
.card:hover .card-img-top img {
  transform: scale(1.1);
}
.card-body {
  height: 200px;
}
.card-title {
  color: hsl(207, 43%, 20%);
  text-transform: capitalize;
  height: 45px;
  display: -webkit-box !important;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card-text {
  height: 65px;
  color: rgba(55, 58, 60, 0.7);
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 16px;
  line-height: 1.4;
}
.card-bottom {
  position: absolute;
  bottom: 0;
  color: rgba(55, 58, 60, 0.64);
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}
.mini-content-title {
  width: 40%;
  padding: 30px 30px 25px;
  background-color: hsl(207, 43%, 20%);
  border-bottom-right-radius: 100px;
  color: #fff;
  margin-left: -10%;
  margin-bottom: 50px;
}
.bms-heading {
  width: 40%;
  padding: 30px 30px 25px;
  background-color: hsl(207, 43%, 20%);
  border-bottom-right-radius: 100px;
  color: #fff;
  margin-left: -10px;
}
.expert-heading strong {
  font-size: 34px;
  color: #fff;
}
.bms {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 5px;
}
.bms_em {
  padding: 40px;
  display: flex;
  background: #f7f8fa;
}
.leftSlide p {
  font-size: 38px;
  line-height: 1.3;
}
.swiper {
  height: 600px;
  width: 100%;
}
.accounting_slider {
  margin-top: 50px;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.leftSlide {
  width: 45%;
  height: 100%;
  text-align: center;
}
.rightSlide {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.rightSlide p {
  font-size: 32px;
}
.slide_button {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.my-slides {
  width: 100%;
  height: 100%;
  background: white;
}
.bms_img {
  object-fit: cover;
  object-position: left;
}
@media (max-width: 1024px) {
  .mini-content,
  .bms {
    width: 90%;
  }
  .bms-heading {
    width: 50%;
  }
  .mini-content-title {
    width: 35%;
    margin-left: -7%;
  }
  .search {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .pageNav .pageNavi {
    width: 100%;
  }
  .card-body {
    height: 140px;
    padding: 10px;
  }
  .card-title {
    font-size: 14px;
    height: 34px;
  }
  .card-text {
    font-size: 14px;
    height: 55px;
  }
  .bms-heading strong {
    font-size: 18px;
  }
  .mini-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
  }
  .slide_button {
    width: 60%;
  }
  .mini-content-title {
    font-size: 18px;
    margin-left: -3%;
    padding: 15px 20px 13px;
  }
  .overviewMain {
    width: 80%;
  }
  .p-3 {
    padding: 0 !important;
  }
  .bms-heading {
    width: 85%;
    padding: 20px 20px 15px;
  }
  .accounting_slider {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .rightSlide,
  .leftSlide {
    width: 80%;
    margin: 0 auto;
  }
  .mini-content,
  .bms {
    width: 100%;
  }

  .bms {
    padding-top: 0;
  }
  .bms-em {
    flex-direction: column;
    padding: 40px 15px;
  }
  .leftSlide {
    padding: 20px;
  }
  .leftSlide p {
    font-size: 24px;
    text-align: center !important;
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .card-title {
    font-size: 13px;
  }
  .card-text {
    font-size: 13px;
  }
  .slide_button {
    width: 100%;
  }
  .leftSlide {
    width: 100%;
    padding: 20px 5px;
  }
  .mini-content {
    padding-top: 10px;
  }
  .mini-content-title,
  .bms-heading strong {
    font-size: 16px;
  }
  .mini-content,
  .bms {
    width: 100%;
  }
  .mini-content-title {
    width: 60%;
    margin-left: -4.5%;
  }
  .overview {
    font-size: 14px;
  }
  .business-words {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(10, 145px);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .single-word {
    padding: 10px 9px;
    font-size: 12px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
  }
  .card-img-top {
    width: 100%;
  }
  .bio {
    font-size: 14px;
    height: 145px;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -ms-line-clamp: 6;
    -moz-line-clamp: 6;
    -o-line-clamp: 6;
  }
  .articleSlide {
    margin: 10px;
  }
  .thumby2 {
    font-size: 9px;
  }
  .slide {
    position: sticky;
    top: 0%;
    padding: 5px 20px;
    text-align: right;
    z-index: 5;
  }

  .fa-sliders-h {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
  }

  .articleTitle {
    font-size: 16px;
  }
  .pageNavi {
    flex-direction: column;
    padding: 0;
  }
  .recent {
    padding: 1px;
  }
  .recentVid {
    padding: 0;
  }
  .desktop {
    display: none;
  }
  .exp {
    width: 100%;
  }
  .card-img-top {
    height: 100px;
  }

  .username {
    font-size: 13px;
  }
  .gallery-thumbs .swiper-slide {
    width: 100%;
    height: 30vh;
  }
  .top {
    height: auto;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .videoContainer,
  .courseContainer,
  .articleContainer,
  .researchContainer {
    width: 80%;
  }
  .leftContainer {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 250px;
    min-height: 100px;
    z-index: 2;
    left: 5%;
  }

  .middle {
    height: 0;
    display: block;
  }
  .mobile .swiper-container {
    background: unset;
    height: 330px;
  }
  .diverHeader {
    font-size: 18px;
    padding: 30px 0 5px;
  }

  .inText {
    position: absolute;
    top: 12%;
    left: 5%;
    color: #fff;
    font-size: 1.7em;
  }
  .cover {
    height: 200px;
  }

  .businessBg {
    padding: 15px 19px 250px 25px;
    margin: 0;
  }

  .businessBgVid {
    padding: 15px 19px 250px 25px;
    margin: 0;
  }

  .businessBgPod {
    padding: 15px 19px 250px 25px;
    margin: 0;
  }

  .leftTitle {
    font-size: 28px;
  }
  .inText {
    font-size: 18px;
  }
  .inText1 {
    font-size: 16px;
    width: 100%;
  }
  .recentHeader {
    font-size: 16px;
  }
  .feat {
    font-size: 20px;
    padding-top: 5px;
  }
  .recentVid {
    padding: 10px;
  }
  .diverHeader {
    font-size: 20px;
  }
  .overviewMain p {
    font-size: 16px !important;
  }
  p {
    font-size: 16px;
  }
  .subNav::before {
    display: none;
  }
  .subNav {
    right: 10px;
    top: 3%;
    background: #fff;
    padding: 15px;
  }
  .results {
    width: 95%;
  }
  .pageNav .pageNavi .mainNav {
    font-size: 16px;
    padding: 10px 20px;
  }
  .pageMenu {
    background: #fafafa;
    width: 100%;
    min-height: 40px;
    position: absolute;
    left: 0;
    top: 35px;
    text-align: left;
  }
  .overviewMain {
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  .leftTitle {
    font-size: 20px;
  }
}
</style>