<template>
  <div class="container-fluid">
    <div class="upgradeContainer animated fadeIn" v-if="showUpgrade">
      <div class="upgrade">
         <img class="sad" src="/images/sad.svg" alt="">
        <p
          class="upgradeText"
        >Oops, looks like you need to upgrade to access this. It’ll only take a sec though. 😁</p>
        <div class="upgradeButtons">
          <div
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="redirectUpgrade"
          >Yes please!</div>
          <div
            class="elevated_btn elevated_btn_sm text-dark"
            @click="closeUpgrade"
          >I'll keep exploring</div>
        </div>
      </div>
    </div>
    <div class="main-page">
      <div class="videoContainer">
        <video :src="videoDetail.excerpts" controls autoplay></video>
      </div>
      <div class="about">
        <p
          class="videoTitle"
          v-if="videoDetail !== null && videoDetail !== undefined"
        >{{videoDetail.title}}</p>
        <p  class="vidP" v-if="videoDetail.videoPrice">₦{{videoDetail.videoPrice}}.00</p>
        <div class="mvc">
          <p class="creation">{{videoDetail.created_at | moment("dddd, MMMM Do YYYY")}}</p>
          <div class="mvc_2">
            <div class="shareBtn" v-if="share">
              <social-sharing
                :url="url"
                :title="videoDetail.title"
                :description="videoDetail.description"
                :quote="videoDetail.title"
                hashtags="bizguruh,videos"
                inline-template
              >
                <div class="d-flex">
                  <network network="facebook">
                    <i class="fa fa-facebook ml-2 fb cpointer"></i>
                  </network>
                  <network network="twitter">
                    <i class="fa fa-twitter ml-2 tweet cpointer"></i>
                  </network>
                  <network network="googleplus">
                    <i class="fa fa-google-plus ml-2 google cpointer"></i>
                  </network>
                  <network network="linkedin">
                    <i class="fa fa-linkedin ml-2 linkedin cpointer"></i>
                  </network>
                  <network network="whatsapp">
                    <i class="fa fa-whatsapp ml-2 whatsapp cpointer"></i>
                  </network>
                </div>
              </social-sharing>
            </div>

            <span
              class="like mr-3"
              @click="like(user.id,videoDetail.product_id,vendorInfo.id,'like')"
            >
              <p class="hoverLike">I like this</p>
              <i class="fas fa-thumbs-up text-main mr-1" aria-hidden="true"></i>
              {{myLikes}}
            </span>

            <span
              class="dislike"
              @click="unlike(user.id,videoDetail.product_id,vendorInfo.id,'unlike')"
            >
              <i class="fas fa-thumbs-down text-main mr-1"></i>
              {{myUnLikes}}
              <p class="hoverDislike">I dislike this</p>
            </span>

            <div class="share" @click="shareNow">
              <i class="fa fa-share text-main mr-1" aria-hidden="true"></i> SHARE
            </div>
          </div>
        </div>
        <div class="desc-container">
          <div class="description">
            <p class="desc">{{videoDetail.description}}</p>
            <div class="mbc">
              <small class="hostBy">
                By:
                <router-link
                  :to="{name:'PartnerProfile', params:{username:vendorInfo.username}}"
                  v-if="!isEmpty(vendorInfo)"
                >
                  <span class="hostName">{{ vendorInfo.storeName }}</span>
                </router-link>
              </small>
            </div>
          </div>

          <div class="buttons">
            <div v-if="!purchaseCheck">
              <div
                v-if="!inLibrary"
                class="elevated_btn text-white btn-compliment w-100"
                id="send"
                @click="AddVideoToLibrary(videoDetail.uid,videoDetail.title)"
              >Add to BizLibrary</div>
              <div
                v-else
                class="elevated_btn text-white btn-compliment w-100"
                id="send"
              >Added to BizLibrary</div>
            </div>

            <div v-else>
              <div
                v-if="!inLibrary"
                class="elevated_btn text-white btn-compliment w-100"
                id="addCart"
                @click="addToCart(videoDetail.uid)"
              >Add to Cart</div>
              <div
                v-else
                class="elevated_btn text-white btn-compliment w-100"
                id="addCart"
              >Purchased</div>
            </div>
          </div>
        </div>
        <div class="review-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Videorow">
            <div
              class="text-center"
              :class="{ episodeTab: episodeTab, episodeTabSwitch : episodeTabSwitch}"
              @click="showTabs('episode')"
            >Episode Info</div>

            <div
              class="text-center"
              :class="{ reviewTab: reviewTab, reviewTabSwitch : reviewTabSwitch}"
              @click="showTabs('reviews')"
            >Write Review</div>
            <div
              class="text-center"
              :class="{ aboutWriterTab: aboutWriterTab, aboutWriterTabSwitch : aboutWriterTabSwitch}"
              @click="showTabs('aboutWriter')"
            >About Expert</div>

            <div
              class="text-center"
              :class="{ shipTab: shipTab, shipTabSwitch : shipTabSwitch}"
              @click="showTabs('shipping')"
            >Sponsor Info</div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 epiPad" v-if="episode">
            <div>
              <div v-if="episodeArray.length > 0" v-for="(episodeArrays, index) in episodeArray">
                <div class="border">
                  <div class="episodeTitles">
                    <div
                      class="dii"
                      @click="episodeArrays.showHide ? episodeArrays.showHide = false : episodeArrays.showHide = true"
                    >
                      <div class="episode-text">
                        <i
                          v-if="!episodeArrays.showHide"
                          class="fa fa-caret-down mr-2"
                          aria-hidden="true"
                        ></i>
                        <i
                          v-if=" episodeArrays.showHide"
                          class="fa fa-caret-up mr-2"
                          aria-hidden="true"
                        ></i>
                        {{episodeArrays.title}}
                      </div>
                    </div>
                    <div v-if="episodeArrays.price === ''" class="epiPriceDiv">
                      <div
                        @click="
                watchEpisodeNow(
                    $event,
                    episodeArrays.id,
                    videoDetail.uid,

                )"
                        class="epiPrice cartAdd elevated_btn elevated_btn_sm text-main"
                      >
                        <i class="fas fa-tv text-main icon_social"></i>
                        <span class="desktop">Watch</span>
                        <span class="cartAddText">watch</span>
                      </div>

                      <div
                        v-if="inLibrary || episodeadded === Number(episodeArrays.id)"
                        class="epiPrice cartAdd elevated_btn elevated_btn_sm btn-compliment text-white"
                      >
                        <span class="desktop">Added to library</span>
                        <span class="cartAddText">Added to library</span>
                      </div>

                      <div
                        v-else
                        class="epiPrice cartAdds elevated_btn elevated_btn_sm btn-compliment text-white"
                        @click="sendEpisodeToLibrary(episodeArrays.id, videoDetail.uid, episodeArrays.title)"
                      >
                        <span class="desktop">Add to library</span>
                        <span class="cartAddText">Add to library</span>
                      </div>
                    </div>

                    <div v-else class="col-lg-5 col-md-4 col-sm-4 col-xs-4 epiPriceDiv p-0">
                      <div
                        v-if="inLibrary"
                        class="epiPrice cartAdd elevated_btn elevated_btn_sm btn-compliment text-white"
                      >
                        <span class="desktop">Purchased</span>
                        <span class="cartAddText">Purchased</span>
                      </div>
                      <div v-else class="df">
                        <div class="pr">₦{{episodeArrays.price}}</div>
                        <button
                          class="m-0 elevated_btn elevated_btn_sm btn-compliment text-white"
                          @click="
                    addEpisodeToCart(
                        $event,
                        episodeArrays.id,
                        videoDetail.uid,
                        episodeArrays.price
                    )"
                        >
                          Buy
                          <i class="fa fa-cart-plus icon_social" aria-hidden="true"></i>
                        
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="episodeDescription" v-if="episodeArrays.showHide">
                    <div>{{episodeArrays.overview}}</div>
                    <div class="videoguest" v-if="vendorInfo !== null">
                      <router-link
                        :to="{name:'PartnerProfile', params:{username:vendorInfo.username}}"
                        v-if="!isEmpty(vendorInfo)"
                      >
                        <span class="hostName">{{ vendorInfo.storeName }}</span>
                      </router-link>
                    </div>
                    <!-- <div>{{episodeArrays.aboutGuest}}</div> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- Trial Run starts here -->
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shipDetailRow" v-if="shipping">
            <p class="videoguest" v-if="videoDetail.sponsorName !== ''">{{videoDetail.sponsorName}}</p>
            <div class="sponsor" v-if="videoDetail.aboutSponsor !== ''">{{videoDetail.aboutSponsor}}</div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v-if="reviews">
            <div class="review-div">
              <div class="form-group">
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Enter Reviews"
                  v-model="review.description"
                ></textarea>
              </div>
              <div>
                <i
                  :class="{fa : rateFa, 'fa-star-o' : NotratedOne, 'fa-star' : RatedOne}"
                  @click="rateWithStar('1')"
                ></i>
                <i
                  :class="{fa : rateFa, 'fa-star-o' : NotratedTwo, 'fa-star' : RatedTwo}"
                  @click="rateWithStar('2')"
                ></i>
                <i
                  :class="{fa : rateFa, 'fa-star-o' : NotratedThree, 'fa-star' : RatedThree}"
                  @click="rateWithStar('3')"
                ></i>
                <i
                  :class="{fa : rateFa, 'fa-star-o' : NotratedFour, 'fa-star' : RatedFour}"
                  @click="rateWithStar('4')"
                ></i>
                <i
                  :class="{fa : rateFa, 'fa-star-o' : NotratedFive, 'fa-star' : RatedFive}"
                  @click="rateWithStar('5')"
                ></i>
                <i class="ml-lg-5">{{review.rating}} {{review.rating > 1 ? 'stars' : 'star'}}</i>
              </div>

              <button class="btn btn-reviews mb-4" @click="submitReview()">Submit</button>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v-if="aboutWriter">
            <div class="aboutWriter">
              <p>{{vendorInfo.bio}}</p>
            </div>
          </div>

          <div class="row" v-if="allReviews.length > 0" id="reviewed">
            <div class="reviews">Reviews</div>
            <div
              class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewdiv"
              v-for="(Review, index) in allReviews"
            >
              <div class="tabre">
                <div class="mb-5 disRfb">
                  <div class="floatReview avatarD">
                    <span class="reviewAvatar">{{(Review.user.name).charAt(0)}}</span>
                  </div>
                  <div class="floatReview floatUserRating">
                    <div class="dateCreated">{{Review.created_at.date | moment("from")}}</div>
                    <div class="reviewerName">{{Review.user.name }} {{Review.user.lastName }}</div>
                  </div>
                  <div class="floatReview">
                    <div class="floatRT">
                      <div v-for="star in Review.rating" class="rateStyle">
                        <i class="fa fa-star"></i>
                      </div>
                      <div v-for="star in 5 - Review.rating" class="rateStyle">
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>

                    <div class="avatarDescription">{{Review.description}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-page">
      <div class="form-group">
        <label for>Related videos</label>
        <select class="form-control" v-model="related">
          <option value="default">Related</option>
          <option value="latest">Latest</option>
          <option value="popular">Popular</option>
        </select>
      </div>
      <div v-if="relatedVids.length">
        <div class="related-container" v-for="(relatedVideo) in relatedVids" :key="relatedVideo.id">
          <div class="vid-container">
            <img :src="relatedVideo.cover" alt="related" @click="gotoRelated(relatedVideo.uid)" />
            <div class="playCont rounded-circle" @click="gotoRelated(relatedVideo.uid)">
              <i class="fa fa-play playIcon" aria-hidden="true"></i>
            </div>
          </div>
          <div class="about-related">
            <div class="related_title" @click="gotoRelated(relatedVideo.uid)">{{relatedVideo.title}}</div>
            <div class="related_host">{{relatedVideo.host}}</div>
            <p class="related_creation">{{ relatedVideo.created_at | moment("from", "now")}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import SocialSharing from "vue-social-sharing";
import { getCustomerHeader } from "../config";

import VideoBanner from "./components/categoryVideoBannerComponent";

export default {
  name: "user-video-component",
  data: function() {
    return {
      id: 0,
      related: "default",
      url: `https://bizguruh.com/videos`,
      videos: [],
      videoTag: [],
      epiFade: true,
      searchItem: "",
      epiModal: true,
      videoDetail: {},
      breadcrumbList: [],
      cld: "",
      player: "",
      relatedVideos: [],
      anonymousCart: [],
      relatedPlaylist: "",
      authenticate: false,
      price: "",
      title: "",
      isActive: false,
      shipTab: true,
      reviewTabSwitch: false,
      shareTabSwitch: false,
      episodeTabSwitch: true,
      reviewTab: true,
      shareTab: true,
      aboutWriterTabSwitch: false,
      aboutWriterTab: true,
      episodeTab: true,
      shipTabSwitch: false,
      episode: true,
      shipping: false,
      reviews: false,
      share: false,
      aboutWriter: false,
      allReviews: [],
      inCart: false,
      review: {
        productId: "",
        title: "",
        description: "",
        rating: 0
      },
      star: 0,
      NotratedOne: true,
      NotratedTwo: true,
      RatedTwo: false,
      RatedOne: false,
      NotratedThree: true,
      RatedThree: false,
      NotratedFour: true,
      RatedFour: false,
      NotratedFive: true,
      RatedFive: false,
      rateFa: true,
      episodeArray: [],
      user: {},
      share: false,
      email: "",
      user_id: "",
      loginCart: [],
      open: false,
      hardCopy: false,
      vendorInfo: [],
      hardpriceCont: false,
      softCopy: false,
      softpriceCont: true,
      readOnline: false,
      readOnlinepriceCont: true,
      purchaseCheck: false,
      startDate: null,
      episodeadded: null,
      startDateParsed: null,
      currentDate: null,
      endDate: null,
      freeTrial: true,
      checkLibrary: [],
      inLibrary: false,
      usersub: null,
      showUpgrade: false,
      added: false,
      wishes: 0,
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,

        breakpoints: {
          320: {
            slidesPerView: 3,
            spaceBetween: 15
          },

          425: {
            slidesPerView: 3,
            spaceBetween: 15
          },
          640: {
            slidesPerView: 4,
            spaceBetween: 30
          }
        },
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      isLiked: false,
      isUnliked: false,
      allLikes: [],
      allUnlikes: [],
      update: 0
    };
  },
  components: {
    "app-videoBanner": VideoBanner,
    SocialSharing
  },

  created() {
    this.vendorInfo;

    this.updateList();
    this.isActive = true;
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user != null) {
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));
          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
            this.freeTrial = false;
          } else {
          }
        });

      this.token = user.access_token;
      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          response.data.data.forEach(element => {
            element.orderDetail.forEach(item => {
              if (item.type === "VIDEOS") {
                this.checkLibrary.push(item);
              }
            });
          });
        });
      axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
        this.usersub = Number(response.data[0].level);
      });
    }

    this.id = this.$route.params.id;
  },

  watch: {
    $route() {
      this.updateList();
    },
    update: "updateThis"
  },
  computed: {
    relatedVids() {
      if (this.related === "default") {
        return this.relatedVideos;
      }
      if (this.related === "latest") {
        return this.relatedVideos.reverse();
      }
      if (this.related === "popular") {
        return this.relatedVideos.reverse();
      }
    },
    myLikes() {
      return this.allLikes.length;
    },
    myUnLikes() {
      return this.allUnlikes.length;
    }
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.email = user.email;
      this.user_id = user.id;
      this.user = user;
      this.authenticate = true;
    }


    axios
      .get("/api/admin/product/bizguruh/Videos")
      .then(response => {
        if (response.status === 200) {
          this.isActive = false;
          let product = response.data.data;
          product.forEach((item, index) => {
            item.webinar.category = item.category.name;
            item.webinar.subLevel = item.subscriptionLevel;

            item.webinar.uid = item.id;
            this.videos.push(item.webinar);
          });
        }
      })
      .catch(error => {
     
      });

    let id = this.id;

    axios
      .get(`/api/product-detail/${id}`)
      .then(response => {
        if (response.status === 200) {
          this.videoDetail = response.data.data[0].webinar;
          this.videoDetail.subscribePrice =
            response.data.data[0].subscribePrice;
          this.videoDetail.streamPrice = response.data.data[0].streamPrice;
          this.videoDetail.subLevel = response.data.data[0].subscriptionLevel;
          this.videoDetail.uid = response.data.data[0].id;
          this.videoDetail.videoPrice = response.data.data[0].videoPrice;
         if(response.data.data[0].industry != null){
             this.videoDetail.industry = response.data.data[0].industry.name;
         }
          this.getMediaDetail(this.videoDetail.id);
          this.getProductReviews(this.videoDetail.uid);
          this.player.forEach(item => {
            item.source(this.videoDetail.excerptsPublicId);
          });
          this.getRelatedVideoProduct(id);
          axios
            .get(`/api/getaVendorDetail/${this.videoDetail.uid}`)
            .then(response => {
              this.vendorInfo = response.data;
              if (user !== null) {
                this.$emit("activity", this.vendorInfo.id, 0, 1);
                this.$emit(
                  "top-content",
                  this.vendorInfo.id,
                  this.videoDetail.uid,
                  1
                );
                if ( this.videoDetail.industry != null) {
                   this.$emit(
                  "top-industry",
                  this.vendorInfo.id,
                  this.videoDetail.industry,
                  1
                );
                }
               
                this.$emit(
                  "reach",
                  user.id,
                  this.videoDetail.product_id,
                  this.vendorInfo.id
                );
                this.$emit("interaction", this.vendorInfo.id, "views");
                this.$emit("add-location", this.vendorInfo.id, user.location);
                this.$emit("add-gender", this.vendorInfo.id, user.gender);
                this.getLike(this.videoDetail.product_id);
                this.getUnLike(this.videoDetail.product_id);
                this.$emit("add-age", this.vendorInfo.id, user.age);
              }
            });
          if (!isNaN(parseInt(this.videoDetail.videoPrice))) {
            this.title = "Video";
            this.hardpriceCont = false;
            this.hardCopy = true;
            this.price = this.videoDetail.videoPrice;
          } else if (!isNaN(parseInt(this.videoDetail.subscribePrice))) {
            this.title = "Subscription";
            this.softpriceCont = false;
            this.softCopy = true;
            this.price = this.videoDetail.subscribePrice;
          } else if (!isNaN(parseInt(this.videoDetail.streamPrice))) {
            this.title = "Streaming";
            this.readOnlinepriceCont = false;
            this.readOnline = true;
            this.price = this.videoDetail.streamPrice;
          }

          if (
            this.videoDetail.subscribePrice !== "" ||
            this.videoDetail.streamPrice !== "" ||
            this.videoDetail.videoPrice !== ""
          ) {
            this.purchaseCheck = true;
          } else {
            this.purchaseCheck = false;
          }
          this.checkInLibrary(this.videoDetail.uid);
          if (this.user !== null) {
            this.wishlist(this.videoDetail.uid);
            axios
              .post(`/api/cart/check/${this.user.id}/${this.videoDetail.uid}`)
              .then(response => {
                if (response.data === true) {
                  this.inCart = true;
                } else {
                  this.inCart = false;
                }
              });
          }
        }
      })
      .catch(error => {
        console.log(error);
      });
    if (this.videoDetail.streamPrice > 0) {
      this.togglePrice("streamPrice");
    }
  },

  methods: {
    updateThis() {
      this.getLike(this.videoDetail.product_id);
      this.getUnLike(this.videoDetail.product_id);
    },
    checkLike(user, product) {
      axios.get(`/api/get-likes/${user}/${product}`).then(response => {
        if (response.status === 200) {
          if (response.data.like == 1 && response.data.unlike == 0) {
            this.isLiked = true;
            this.isUnliked = false;
          }
          if (response.data.unlike == 1 && response.data.like == 0) {
            this.isLiked = false;
            this.isUnliked = true;
          }
          if (response.data.unlike == 0 && response.data.like == 0) {
            this.isLiked = false;
            this.isUnliked = false;
          }
        }
      });
    },
    getLike(product) {
      axios.get(`/api/get-all-likes/${product}`).then(response => {
        if (response.status === 200) {
          this.allLikes = response.data;
        }
      });
    },
    getUnLike(product) {
      axios.get(`/api/get-un-likes/${product}`).then(response => {
        if (response.status === 200) {
          this.allUnlikes = response.data;
        }
      });
    },
    like(user, product, vendor, type) {
      if (!this.isLiked) {
        this.update++;
        this.isLiked = true;
        this.isUnliked = false;
        this.$emit("likes", user, product, vendor, type);
        this.$emit("interaction", vendor, "likes");
      }
    },
    unlike(user, product, vendor, type) {
      if (!this.isUnliked) {
        this.update++;
        this.isLiked = false;
        this.isUnliked = true;
        this.$emit("likes", user, product, vendor, type);
      }
    },
    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    shareNow() {
      this.share = !this.share;
    },
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    searchDataItem() {
      this.$emit("sendSearchData", this.searchItem);
    },
    wishlist(product) {
      let user = JSON.parse(localStorage.getItem("authUser"));

      axios
        .get(`/api/wish-list/${product}`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if ((response.status = 200)) {
            if (response.data === true) {
              this.added = true;
            } else {
              this.added = false;
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addToWishlist() {
      if (this.authenticate === false) {
        this.$toasted.error("Login to add to wishlist");
      } else {
        let data = {
          userId: this.user_id,
          productId: this.videoDetail.uid,
          vendorId: 1
        };
        if (this.added) {
          this.$toasted.error("Already added to wishlist");
        } else {
          axios
            .post("/api/wishlist", JSON.parse(JSON.stringify(data)), {
              headers: {
                Authorization: `Bearer ${this.user.access_token}`
              }
            })
            .then(response => {
              if (response.status === 201) {
                this.added = true;
                this.$toasted.success("Successfully added to wishlist");
              } else {
                this.$toasted.error("Already added to wishlist");
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      }
    },

    AddVideoToLibrary(id, name) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Subscription Video",
        name: name
      };

      if (this.freeTrial === true || this.usersub > 0) {
        if (this.usersub >= this.videoDetail.subLevel) {
          axios
            .post(
              `/api/user/sendvideotolibrary`,
              JSON.parse(JSON.stringify(data)),
              {
                headers: {
                  Authorization: `Bearer ${this.user.access_token}`
                }
              }
            )
            .then(response => {
              if (response.status === 201) {
                this.$toasted.success("Successfully added to BizLibrary");
                this.inLibrary = true;
              } else if (response.data == "Order Already Added") {
                this.$toasted.error(
                  "You have already added this product before"
                );
              } else if (
                response.data.status === 99 ||
                response.data === " " ||
                response.data.data === "error"
              ) {
                this.showUpgrade = true;
              } else {
                this.showUpgrade = true;
              }
            })
            .catch(error => {
              if (error.response.data.message === "Unauthenticated.") {
                this.$router.push({
                  name: "auth",
                  params: { name: "login" },
                  query: { redirect: this.$route.fullPath }
                });
              } else {
                this.$toasted.error(error.response.data.message);
               
              }
            });
        } else {
          this.showUpgrade = true;
        }
      } else {
        this.showUpgrade = true;
      }
    },

    getProductReviews(id) {
      let data = {
        id: id
      };
      axios
        .post("/api/product/get-reviews", JSON.parse(JSON.stringify(data)))
        .then(response => {
          if (response.status === 200) {
            this.allReviews = response.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    watchEpisodeNow(e, vid, id, price) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Stream Subscription Episode Video",
        type: "EV",
        vid: vid
      };
      if (
        this.freeTrial === true ||
        this.usersub >= this.videoDetail.subLevel
      ) {
        axios
          .post(
            "/api/user/watchnowepisodemedia",
            JSON.parse(JSON.stringify(data)),
            { headers: { Authorization: `Bearer ${this.user.access_token}` } }
          )
          .then(response => {
            localStorage.removeItem("mediaStream");

            if (response.status === 200) {
              if (response.data.status == 'failed') {
                this.showUpgrade = true;
              } else {
                localStorage.setItem("mediaStream", JSON.stringify(data));
                let routeData = this.$router.resolve({
                  name: "WatchMedia",
                  params: {
                    id: this.videoDetail.uid,
                    prodtype: "Videos",
                    gettype: "insight-streaming-video",
                    type: "AV",
                    vid: "videos"
                  }
                });

                window.open(routeData.href);
              }
            }
          })
          .catch(error => {
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: this.$router.fullPath }
              });
            } else {
              this.$toasted.error(error.response.data.message);
              console.log(error.response.data.message);
            }
          });
      } else {
        this.showUpgrade = true;
      }
    },
    sendEpisodeToLibrary(vid, id, name) {
      let data = {
        id: id,
        prodType: "Videos",
        getType: "Insight Subscription Episode Video",
        name: name,
        vid: vid
      };

      if (
        this.freeTrial === true ||
        this.usersub >= this.videoDetail.subLevel
      ) {
        axios
          .post(
            `/api/user/sendvideoepisodetolibrary`,
            JSON.parse(JSON.stringify(data)),
            {
              headers: {
                Authorization: `Bearer ${this.user.access_token}`
              }
            }
          )
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Successfully added to BizLibrary");
              this.checkEpisodeInLibrary(vid);
              // this.episodeadded = true
            } else if (
              response.data === "you have added this product already"
            ) {
              this.$toasted.error("You have already added this product before");
            } else if (
              response.data.status === 99 ||
              response.data === " " ||
              response.data.data === "error"
            ) {
              this.showUpgrade = true;
            } else {
              this.showUpgrade = true;
            }
          })
          .catch(error => {
            console.log(error);
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: this.$router.fullPath }
              });
            } else {
              this.$toasted.error(error.response.data.message);
              console.log(error.response.data.message);
            }
          });
      } else {
        this.showUpgrade = true;
      }
    },
    showTabs(params) {
      switch (params) {
        case "shipping":
          this.shipping = this.shipTabSwitch = this.reviewTab = this.shareTab = this.aboutWriterTab = true;
          this.reviews = this.aboutWriter = this.episode = this.shipTab = this.reviewTabSwitch = this.shareTabSwitch = this.shareTabSwitch = this.share = this.episodeTabSwitch = this.aboutWriter = this.aboutWriterTabSwitch = false;
          break;
        case "reviews":
          this.reviewTabSwitch = this.reviews = this.shipTab = this.shareTab = this.aboutWriterTab = true;
          this.shipTabSwitch = this.aboutWriter = this.episode = this.reviewTab = this.shipping = this.shareTabSwitch = this.share = this.episodeTabSwitch = this.aboutWriterTabSwitch = false;
          break;
        case "share":
          this.shipping = this.aboutWriter = this.episode = this.reviews = this.reviewTabSwitch = this.shipTab = this.shareTab = this.shipTabSwitch = this.episodeTabSwitch = this.aboutWriterTabSwitch = false;
          this.share = this.shareTabSwitch = this.reviewTab = this.shipTab = this.aboutWriterTab = true;
          break;
        case "episode":
          this.shipping = this.aboutWriter = this.share = this.reviews = this.reviewTabSwitch = this.shipTabSwitch = this.shareTabSwitch = false;
          this.episode = this.episodeTabSwitch = this.reviewTab = this.shipTab = this.shareTab = true;
          break;
        case "aboutWriter":
          this.aboutWriter = this.aboutWriterTabSwitch = this.shareTab = this.shipTab = this.reviewTab = true;
          this.aboutWriterTab = this.shareTabSwitch = this.shipTabSwitch = this.reviewTabSwitch = this.episodeTabSwitch = this.shipping = this.share = this.reviews = this.episode = false;

          break;
        default:
          this.shipping = false;
          this.reviews = false;
      }
    },
    getRelatedVideoProduct(id) {
      axios
        .get(`/api/get/related/Videos/${id}`)
        .then(response => {
          if (response.status === 200) {
            let relatedProduct = response.data.data;
            relatedProduct.forEach((item, index) => {
              item.webinar.category = item.category.name;
              item.webinar.uid = item.id;
              item.webinar.cover = item.coverImage;
              this.relatedVideos.push(item.webinar);
              // this.relatedPlaylist[index].source(item.webinar.excerptsPublicId);
            });

            this.relatedPlaylist.forEach((item, index) => {
              item.source(this.relatedVideos[index].excerptsPublicId);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    togglePrice(price) {
      if (price === "streamPrice") {
        this.price = this.videoDetail.streamPrice;
        this.softpriceCont = this.hardCopy = this.readOnline = false;
        this.softCopy = this.hardpriceCont = this.readOnlinepriceCont = true;
        this.title = "Streaming";
      } else if (price === "subscribePrice") {
        this.price = this.videoDetail.subscribePrice;
        this.readOnlinepriceCont = this.hardCopy = this.softCopy = false;
        this.readOnline = this.softpriceCont = this.hardpriceCont = true;
        this.title = "Subscription";
      }
    },
    addEpisodeToCart(e, vid, id, price) {
      e.preventDefault();

      let cart = {
        productId: id,
        mediaId: vid,
        price: price,
        prodType: "VideoEpisode",
        quantity: 0,
        vidEpisode: true
      };

      if (this.authenticate === false) {
        cart.cartNum = 1;
        this.anonymousCart.push(cart);
        if (JSON.parse(localStorage.getItem("userCart")) === null) {
          localStorage.setItem("userCart", JSON.stringify(this.anonymousCart));
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let cartCount = sessionCart.length;
          this.$emit("getCartCount", cartCount);
        } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
          let sessionCart = JSON.parse(localStorage.getItem("userCart"));
          let ss = sessionCart.length;
          sessionCart[ss] = cart;
          localStorage.setItem("userCart", JSON.stringify(sessionCart));
          let a = JSON.parse(localStorage.getItem("userCart"));
          let aCount = a.length;
          this.$emit("getCartCount", aCount);
        }
      } else {
        this.addCart(cart);
      }
    },
    rateWithStar(num) {
      switch (num) {
        case "1":
          this.NotratedOne = !this.NotratedOne;
          this.RatedOne = !this.RatedOne;
          this.review.rating = 1;
          break;
        case "2":
          this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
          this.RatedTwo = this.RatedOne = !this.RatedTwo;
          this.review.rating = 2;
          break;
        case "3":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this
            .NotratedThree;
          this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
          this.review.rating = 3;
          break;
        case "4":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this
            .NotratedFour;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this
            .RatedFour;
          this.review.rating = 4;
          break;
        case "5":
          this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this
            .NotratedFive;
          this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this
            .RatedFive;
          this.review.rating = 5;
          break;
        default:
          this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
          this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
      }
    },
    submitReview() {
      if (this.authenticate === false) {
        this.$toasted.error("You must log in to review a product");
      } else {
        this.review.productId = this.videoDetail.uid;
        axios
          .post("/api/user/reviews", JSON.parse(JSON.stringify(this.review)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.$toasted.success("Reviews successfully saved");
              this.review.productId = this.review.title = this.review.description =
                "";
              this.review.rating = 0;
              this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
              this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
            } else {
              this.$toasted.error(
                "You cannot review this product until you purchase it"
              );
            }
          })
          .catch(error => {
            let errors = Object.values(error.response.data.errors);
            errors.forEach(item => {
              this.$toasted.error(item[0]);
            });
          });
      }
    },
    checkInLibrary(id) {
      this.checkLibrary.forEach(item => {
        if (Number(id) === Number(item.productId)) {
          this.inLibrary = true;
        } else {
          this.inLibrary = false;
        }
      });
    },
    checkEpisodeInLibrary(id) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          response.data.data.forEach(element => {
            element.orderDetail.forEach(item => {
              if (item.type === "VIDEOS") {
                this.checkLibrary.push(item);
              }
            });
          });
          this.checkLibrary.forEach(element => {
            if (Number(element.itemPurchase) === Number(id)) {
              this.episodeadded = Number(id);
            }
          });
        });
    },
    getMediaDetail(id) {
      axios
        .get(`/api/get/getvideodetail/${id}`)
        .then(response => {
          if (response.status === 200) {
            this.episodeArray = response.data;
            this.episodeArray.forEach(item => {
              this.checkLibrary.forEach(element => {
                if (Number(element.itemPurchase) === Number(item.id)) {
                  this.episodeadded = Number(item.id);
                }
              });
            });
            //  this.checkInLibrary(this.episodeArray.id, this.episodeArray.name)
            localStorage.setItem(
              "episodeCount",
              JSON.stringify(this.episodeArray.length)
            );
            this.episodeArray.forEach(item => {
              this.$set(item, "showHide", false);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    addToCart(id) {
      if (this.price === "") {
        this.$toasted.error("Please Select a price");
      } else {
        let cart = {
          productId: id,
          price: this.price
        };
        if (this.title === "Video") {
          cart.quantity = 0;
          cart.prodType = "Video";
        } else if (this.title === "Streaming") {
          cart.quantity = 0;
          cart.prodType = "Streaming";
        } else if (this.title === "Subscription") {
          cart.quantity = 0;
          cart.prodType = "Subscription";
        }

        if (this.authenticate === false) {
          cart.cartNum = 1;
          this.anonymousCart.push(cart);
          if (JSON.parse(localStorage.getItem("userCart")) === null) {
            localStorage.setItem(
              "userCart",
              JSON.stringify(this.anonymousCart)
            );
            let sessionCart = JSON.parse(localStorage.getItem("userCart"));
            let cartCount = sessionCart.length;
            this.$emit("getCartCount", cartCount);
            this.$notify({
              group: "cart",
              title: this.videoDetail.title,
              text: "Successfully Added to Cart!"
            });
          } else if (JSON.parse(localStorage.getItem("userCart")) !== null) {
            let sessionCart = JSON.parse(localStorage.getItem("userCart"));
            let ss = sessionCart.length;
            sessionCart[ss] = cart;
            localStorage.setItem("userCart", JSON.stringify(sessionCart));
            let a = JSON.parse(localStorage.getItem("userCart"));
            let aCount = a.length;
            this.$emit("getCartCount", aCount);
            this.$notify({
              group: "cart",
              title: this.videoDetail.title,
              text: "Successfully Added to Cart!"
            });
          }
        } else {
          this.addCart(cart);
        }
      }
    },
    addCart(cart) {
      if (this.inCart === true) {
        this.$toasted.error("Already in cart");
      } else {
        axios
          .post("/api/cart", JSON.parse(JSON.stringify(cart)), {
            headers: { Authorization: `Bearer ${this.user.access_token}` }
          })
          .then(response => {
            if (response.status === 201) {
                this.$emit('plusCart')
              this.inCart = true;
              this.loginCart.push(response.data);
              let aCount = this.loginCart.length;
              this.$emit("getCartCount", aCount);
              this.$notify({
                group: "cart",
                title: this.videoDetail.title,
                text: "Successfully Added to Cart!"
              });
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    closeUpgrade() {
      this.showUpgrade = false;
    },
    redirectUpgrade() {
      this.showUpgrade = false;
      let routeData = this.$router.resolve({
        name: "SubscriptionProfile",
        params: {
          level: this.videoDetail.subLevel
        }
      });

      window.open(routeData.href, "_blank");
    },
    gotoRelated(related_id) {
      let routeData = this.$router.resolve({
        name: "Video",
        params: { id: related_id }
      });

      window.open(routeData.href, "_self");
    }
  }
};
</script>
<style scoped>
.container-fluid {
  margin-top: 0;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  background-color: #f7f8fa;
}
.vidP{
  padding:10px;
}
.df{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}
.sad{
  width:50px;
  margin: 0 auto;
}
.main-page {
  width: 70%;
  background-color: white;
  padding-bottom: 100px;
}
.side-page {
  width: 35%;
  background-color: #f7f8fa;
  padding: 20px;
  overflow-y: scroll;

  height: 100vh;
}
.videoContainer {
  width: 100%;
}
video {
  width: 100%;
  background-color: black;
}
.about {
  margin-top: 10px;
}
.videoTitle {
  font-size: 28px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  padding: 10px;
}
.mvc {
  position: relative;
  padding: 15px 50px 15px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f7f8fa;
}
.mvc_2 {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.icon_social {
  margin-right: 10px;
  font-size: 12px !important;
}
.share {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.shareBtn {
  position: absolute;
  top: -50px;
  background: #f7f8fa;
  padding: 10px;
  width: auto;
  right: 5px;
}

.desc-container {
  display: flex;
  padding: 10px;
}
.description {
  padding: 0;
  width: 65%;
  margin-top: 20px;
}
.buttons {
  width: 35%;
  padding: 15px;
}
.fa,
.fas {
  font-size: 18px;
}
.review-container {
  min-height: 250px;
}
.episodeDescription {
  display: block;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e8e9eb;
  border-top: none;
  font-size: 14px;
  color: #686f7a;
  letter-spacing: 0.3px;
  line-height: 1.33;
  font-weight: normal;
}

.reviewAvatar {
  text-transform: capitalize;
  background: hsl(207, 43%, 20%);
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewList {
  margin-bottom: 20px;
}
.proReview,
.proEdi {
  font-size: 13px;
}

.reviews {
  font-weight: 500;
}

.floatUserRating {
  margin-right: 104px;
  margin-left: 0px;
}

.floatReview {
  float: left;
}

.reviewList {
  margin-bottom: 20px;
}

.rateStyle {
  float: left;
  margin: 2px;
}

.videoguest {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.sponsor {
  font-size: 11px;
}
.like,
.dislike {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.hoverLike,
.hoverDislike {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px 10px;
  bottom: -35px;
  left: -50%;
  width: 100px;
  font-size: 12px;
  margin-left: 50px;
  visibility: hidden;
}
.like:hover .hoverLike {
  visibility: visible;
}
.dislike:hover .hoverDislike {
  visibility: visible;
}
.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tabre {
  overflow: hidden;
  margin-top: 10px;
}

.dateCreated {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
}
.hostName {
  color: hsl(207, 43%, 20%);
  font-weight: bold;
}
.hostName:hover {
  text-decoration: underline;
}
.creation {
  font-size: 14px;
}
.avatarD {
  margin-right: 20px;
  margin-top: 10px;
}

.reviewerName {
  text-transform: capitalize;
  margin-top: -6px;
}

.reviewdiv {
  border-top: 1px solid #f7f8fa;
  border-bottom: 1px solid #f7f8fa;
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 14px;
}
.epiPad {
  min-height: 200px;
}
.reviewAvatar {
  text-transform: capitalize;
  background: hsl(207, 43%, 20%);
  color: #ffffff;
  padding: 11px 15px;
  font-size: 15px;
  border-radius: 50%;
}

.review-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.floatRT {
  overflow: hidden;
}

.episodeTitles {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f7f8fa;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 15px;
}

.divC {
  font-size: 40px;
  margin: 17px 0 50px 0;
}

.epiPrice {
  float: right;
  margin: 0 5px;
}

.epiPriceDiv {
  width: 40%;
  margin-left: auto;
}
.buy {
  display: flex;
}
.pr {
  font-size: 14px;
}

.episodeDescription div:nth-child(1) {
  margin-bottom: 10px;
}
.shipTabSwitch,
.reviewTabSwitch,
.shareTabSwitch,
.episodeTabSwitch,
.aboutWriterTabSwitch {
  background-color: hsl(207, 43%, 20%);
  border: 1px solid hsl(207, 43%, 20%);
  color: #ffffff !important;
  width: 30%;
  height: 30px;
  margin: 20px 0;
  padding: 5px;
  cursor: pointer;
  line-height: 1.2;
}

.shipTab,
.reviewTab,
.shareTab,
.episodeTab,
.aboutWriterTab {
  color: #a4a4a4;
  border: 1px solid #a4a4a4;
  width: 30%;
  margin: 20px 0;
  padding: 5px;
  cursor: pointer;
  line-height: 1.2;
  height: 30px;
}

.Videorow {
  display: flex;
  justify-content: space-evenly;
}
.mobile {
  display: none;
}
.cartAddText {
  visibility: hidden;
  width: 150px;
  background-color: hsl(207, 43%, 20%);
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.cartAddText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(207, 43%, 20%) transparent transparent transparent;
}
.elevated_btn:hover .cartAddText {
  visibility: visible;
  opacity: 1;
}
.related-container {
  width: 100%;
  display: flex;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedfe1;
  transition: all 0.9s;
}
.related-container:hover .vid-container img {
  transform: scale(1.03);
}
.vid-container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.about-related {
  width: 50%;
  height: 100%;
  padding-left: 10px;
}
.related_title {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4;
  cursor: pointer;
}
.related_host {
  font-size: 14px;
  cursor: pointer;
}
.related_creation {
  font-size: 14px;
}
.playCont {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playIcon {
  font-size: 24px;
  margin-left: 3px;
}
.related-container:hover .vid-container .playCont .playIcon {
  transform: rotate(360deg);
}
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    padding: 0;
  }
  .main-page {
    width: 100%;
    padding-bottom: 0;
  }
  .side-page {
    width: 100%;
  }
  .videoTitle {
    font-size: 20.5px;
  }
  .mvc {
    flex-direction: column;
    padding: 0 10px;
  }
  .mvc_2 {
    width: 100%;
    padding: 10px 0;
    justify-content: space-around;
  }
  .dislike,
  .like,
  .share {
    display: grid;
    text-align: center;
  }
  .desc-container {
    flex-direction: column;
  }
  .description {
    width: 100%;
    margin-top: 0;
  }
  .buttons {
    width: 100%;
    padding: 15px 0;
  }
  .episodeTitles {
    flex-direction: column;
    padding: 15px 10px;
  }
  .episode-text {
    font-size: 15px;
  }
  .epiPad {
    padding: 0 7.5px;
    min-height: auto;
  }
  .dii {
    margin-bottom: 20px;
    width:100%;
  }
  .epiPriceDiv {
    width: 100%;
    display: flex;
  }
  .episodeDescription {
    font-size: 16px;
  }

  .shipTabSwitch,
  .reviewTabSwitch,
  .shareTabSwitch,
  .episodeTabSwitch,
  .aboutWriterTabSwitch {
    font-size: 12px;
  }

  .shipTab,
  .reviewTab,
  .shareTab,
  .episodeTab,
  .aboutWriterTab {
    font-size: 12px;
  }
  .Videorow {
    padding: 0;
  }
  .elevated_btn {
    width: 100%;
    margin-top: 16px;
  }
  .elevated_btn_sm {
    width: 50%;
    padding: 14px 10px 11px;
    font-size: 11px;
  }
  .icon_social {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -6px;
  }
  .related_title {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .elevated_btn_sm {
    font-size: 9px;
  }
  .shipTabSwitch,
  .reviewTabSwitch,
  .shareTabSwitch,
  .episodeTabSwitch,
  .aboutWriterTabSwitch {
    font-size: 10px;
  }

  .shipTab,
  .reviewTab,
  .shareTab,
  .episodeTab,
  .aboutWriterTab {
    font-size: 10px;
  }
  .episode-text {
    font-size: 14px;
  }
}
</style>