<template>
  <div class="main_view bg-white" v-if="content.length">
    <div class="screen">
       <div class="overLay" v-if="openAssessment">
        <div class="overly">
       
            <table class="table">
            <thead>
              <tr>
                <th>Assessments</th>
              
              </tr>
            </thead>
            <tbody>
              <tr >
                <td scope="row" class="bg-white cpointer" v-for="(item,idx) in assessment" :key="idx" @click="goToForm(item.id)">
                  {{item.form_title}}
                 </td>
              
              </tr>
           
            </tbody>
          </table>
         
        </div>
      </div>

      <div class="video_container mb-4">
        <video :src="playing" controls autoplay></video>
        <div class="controls my-2">
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="prev"
            v-if="showPrev"
          >prev</button>
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white ml-auto"
            @click="next"
            v-if="showNext"
          >next</button>
        </div>
          <div class="join_chat pt-4 border-top p-3 mobile">
       <router-link :to="{
         path:`/entrepreneur/group-chat/${content[0].productId}`
         }">   <button type="button" class="elevated_btn elevated_btn_sm text-main" >Join group chat</button></router-link>
      </div>
      </div>

      <div class="video_about">
        <div class="course_info">
          <h3 class="video_title">{{content[num].title.toLowerCase()}}</h3>
          <p class="info">{{content[num].description}}</p>
        </div>
        <div class="cover_image">
          <img :src="content[num].coverImage" alt />
        </div>
      </div>

      
    </div>
    <div class="content_view">
     
      <div class="view">
        <h4 class="module_title mb-4">Modules</h4>
        <div class="modules" v-for="(item,idx) in content" :key="idx">
          <div class="module_info mb-3 p-3">
            <h5 class="module_title">{{item.title.toLowerCase()}}</h5>
            <p class="module_about">{{item.description}}</p>
          </div>
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white mb-auto"
            @click="play(idx)"
          >Play</button>
        </div>
      </div>

     <div v-if="assessment.length" class="mt-3 mb-3">
        <h5 class="assess" @click="openOverlay">Take Assessment</h5>
      </div>
    </div>
  </div>
</template>
<script>
import cloudder from "cloudinary-core";
import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";
export default {
  props: ["user", "content","assessment"],
  data() {
    return {
      num: 0,
      playing: "",
      contentLength: 0,
      showPrev: false,
      showNext: true,
      openAssessment:false
    };
  },
  components: {
    "app-pdf": pdf
  },
  watch: {
    num: "changeVideo"
  },
  mounted() {
    setTimeout(() => {
      this.changeVideo();
      this.contentLength = this.$props.content.length;
       if (this.contentLength == 1) {
        this.showPrev = false;
        this.showNext = false;
      }
    }, 2000);
      // this.$emit('save',this.$props.content[this.num].id,this.$props.content.length)
  },
  methods: {
     openOverlay() {
      this.openAssessment = !this.openAssessment;
    },
     goToForm(id) {
       this.$router.push(`/assessment/${id}`)
    },
     scrollUp(){
   window.scrollTo(0,0)
    },
    changeVideo() {
      this.playing = this.$props.content[this.num].videoFile;
       this.scrollUp()
    },
    next() {
      if (this.num < this.contentLength) {
        this.num++;
        this.showNext = true;
      } 
        if (this.num == this.contentLength-1) {
        this.showNext = false;
      }

       if (this.num > 0) {
       
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
         this.$emit('save',this.$props.content[this.num].id,this.$props.content.length)
    },
    prev() {
      if (this.num > 0) {
        this.num--;
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
        if (this.num !== this.contentLength) {
      
        this.showNext = true;
      } else {
        this.showNext = false;
      }
    this.$emit('save',this.$props.content[this.num].id,this.$props.content.length)
    },
    play(num) {
      this.num = num;
         this.$emit('save',this.$props.content[this.num].id,this.$props.content.length)
    }
  }
};
</script>

<style scoped>
.main_view{
    display:flex;
}
.overLay {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display:flex;
  justify-content: center;
  align-items: center;
}
.overly{
  width:65%;
  height:85%;
  background: white;
    display:flex;
  justify-content: center;
  align-items: center;
  padding:15px;
}
.assess {
  padding: 10px 0;
  cursor: pointer;
  color: hsl(207, 46%, 28%);
}
.assess:hover {
  text-decoration: underline;
  color: hsl(207, 46%, 21%);
}
.screen {
  width: 60%;
  min-height: 100vh;
  padding: 15px;
  
}
.content_view {
  width: 40%;
  min-height: 100vh;
  padding: 15px;
  background: #f7f8fa;
}
.video_container {
  width: 100%;
}
video {
  width: 100%;
  background: black;
}
.video_about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.video_title {
  text-transform: capitalize;
}
.cover_image {
  width: 200px;
  height: auto;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view {
  overflow-y: scroll;
  max-height: 60vh;
}
.modules {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #f7f8fa;
  padding: 10px;
}
.module_title {
  text-transform: capitalize;
}
.module_about {
  font-size: 14px;
  max-height:250px;
  overflow: scroll;
}
h3{
    font-family:'Josefin Sans';
}
@media (max-width:768px){
.main_view{
    flex-direction: column;
}
.cover_image {
  width: 100px;
  height: auto;
}
  .main_view {
    flex-direction: column;
  }
  .screen{
    width:100%;
    min-height:auto;
  }
    .content_view{
      width:95%;
      min-height: auto;
      margin: auto;
      padding: 5px;
  }
  h3{
    font-size:20px;
}
.overly{
    width:90%;
  }
  .view{
      height:auto
  }
}
</style>