<template>
  <div class="main_view bg-white" v-if="content.length">
    <div class="screen">
      <div class="video_container mb-4">
        <video :src="playing" controls autoplay></video>
        <div class="controls my-2">
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="prev"
            v-if="showPrev"
          >prev</button>
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white ml-auto"
            @click="next"
            v-if="showNext"
          >next</button>
        </div>
      </div>

      <div class="video_about">
        <div class="course_info">
          <h3 class="video_title">{{content[num].title.toLowerCase()}}</h3>
          <p class="info">{{content[num].description}}</p>
        </div>
        <div class="cover_image">
          <img :src="content[num].coverImage" alt />
        </div>
      </div>
    </div>
    <div class="content_view">
      <div class="view">
        <h4 class="module_title mb-4">
          <i class="fa fa-play-circle-o" aria-hidden="true"></i> Episodes
        </h4>
        <div class="modules" v-for="(item,idx) in content" :key="idx">
          <div class="module_info mb-3">
            <h5 class="module_title">{{item.title.toLowerCase()}}</h5>
            <p class="module_about">{{item.description}}</p>
          </div>
          <button
            class="elevated_btn elevated_btn_sm btn-compliment text-white"
            @click="play(idx)"
          >Play</button>
        </div>
      </div>

      <div class="side-page">
        <div class="form-group">
          <label for>Related videos</label>
          <select class="form-control" v-model="related">
            <option value="default">Related</option>
            <option value="latest">Latest</option>
            <option value="popular">Popular</option>
          </select>
        </div>
        <div v-if="relatedVids.length">
          <div
            class="related-container"
            v-for="(relatedVideo) in relatedVids"
            :key="relatedVideo.id"
          >
            <div class="vid-container">
              <img :src="relatedVideo.cover" alt="related" @click="gotoRelated(relatedVideo.uid)" />
              <div class="playCont rounded-circle" @click="gotoRelated(relatedVideo.uid)">
                <i class="fa fa-play playIcon" aria-hidden="true"></i>
              </div>
            </div>
            <div class="about-related">
              <div
                class="related_title"
                @click="gotoRelated(relatedVideo.uid)"
              >{{relatedVideo.title}}</div>
              <div class="related_host">{{relatedVideo.host}}</div>
              <p class="related_creation">{{ relatedVideo.created_at | moment("from", "now")}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import cloudder from "cloudinary-core";
import pdf from "vue-pdf";
import { getCustomerHeader } from "../config";
export default {
  props: ["user", "content"],
  data() {
    return {
      num: 0,
      playing: "",
      contentLength: 0,
      showPrev: false,
      showNext: true,
      relatedVideos: [],
      related: "default",
      relatedPlaylist: []
    };
  },
  components: {
    "app-pdf": pdf
  },
  watch: {
    num: "changeVideo"
  },
  mounted() {
    setTimeout(() => {
      this.changeVideo();
      this.contentLength = this.$props.content.length;
      if (this.contentLength == 1) {
        this.showPrev = false;
        this.showNext = false;
      }
      this.getRelatedVideoProduct(this.$props.content[0].id);
    }, 2000);
  },
  computed: {
    relatedVids() {
      if (this.related === "default") {
        return this.relatedVideos;
      }
      if (this.related === "latest") {
        return this.relatedVideos.reverse();
      }
      if (this.related === "popular") {
        return this.relatedVideos.reverse();
      }
    }
  },
  methods: {
    gotoRelated(related_id) {
      let routeData = this.$router.resolve({
        name: "Video",
        params: { id: related_id }
      });

      window.open(routeData.href, "_self");
    },
    getRelatedVideoProduct(id) {
      axios
        .get(`/api/get/related/Videos/${id}`)
        .then(response => {
          if (response.status === 200) {
            let relatedProduct = response.data.data;
            relatedProduct.forEach((item, index) => {
              item.webinar.category = item.category.name;
              item.webinar.uid = item.id;
              item.webinar.cover = item.coverImage;
              this.relatedVideos.push(item.webinar);
            });

            this.relatedPlaylist.forEach((item, index) => {
              item.source(this.relatedVideos[index].excerptsPublicId);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },

    changeVideo() {
      this.playing = this.$props.content[this.num].videoFile;
    },
    next() {
      if (this.num < this.contentLength) {
        this.num++;
        this.showNext = true;
      }
      if (this.num == this.contentLength - 1) {
        this.showNext = false;
      }

      if (this.num > 0) {
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
      this.$emit('save',this.$props.content.id,this.$props.content[this.num].id,this.$props.content.length)
    },
    prev() {
      if (this.num > 0) {
        this.num--;
        this.showPrev = true;
      }
      if (this.num == 0) {
        this.showPrev = false;
      }
      if (this.num !== this.contentLength) {
        this.showNext = true;
      } else {
        this.showNext = false;
      }
      this.$emit('save',this.$props.content.id,this.$props.content[this.num].id,this.$props.content.length)
    },
    play(num) {
      this.num = num;
      this.$emit('save',this.$props.content.id,this.$props.content[this.num].id,this.$props.content.length)
    }
  }
};
</script>

<style scoped>
.main_view {
  display: flex;
}
.screen {
  width: 65%;
  min-height: 100vh;
  padding: 15px;
}
.content_view {
  width: 35%;
  min-height: 100vh;
  padding: 15px;
  background: #f7f8fa;
}
.video_container {
  width: 100%;
}
video {
  width: 100%;
  background: black;
}
.video_about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.video_title {
  text-transform: capitalize;
}
.cover_image {
  width: 200px;
  height: auto;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view {
  overflow-y: scroll;
  max-height: 50vh;
  height:50vh;
}
.side-page {
  overflow-y: scroll;
  max-height: 50vh;
  height:45vh;
}
.modules {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #f7f8fa;
  padding: 10px;
}
.module_title {
  text-transform: capitalize;
}
.module_about {
  font-size: 14px;
}
.related-container {
  width: 100%;
  display: flex;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedfe1;
  transition: all 0.9s;
}
.related-container:hover .vid-container img {
  transform: scale(1.03);
}
.vid-container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.about-related {
  width: 50%;
  height: 100%;
  padding-left: 10px;
}
.related_title {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4;
  cursor: pointer;
}
.related_host {
  font-size: 14px;
  cursor: pointer;
}
.related_creation {
  font-size: 14px;
}
.playCont {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playIcon {
  font-size: 24px;
  margin-left: 3px;
}
.related-container:hover .vid-container .playCont .playIcon {
  transform: rotate(360deg);
}
h3{
    font-family:'Josefin Sans';
}
@media (max-width: 768px) {
  .main_view {
    flex-direction: column;
  }
  .screen{
    width:100%;
     min-height:auto;
  }
   .content_view{
      width:95%;
      min-height: auto;
      margin: auto;
      padding: 5px;
  }
  .cover_image {
  width: 100px;
  height: auto;
}
h3{
    font-size:20px;
}
  .view{
      height:auto
  }
  .side-page{
      height:auto;
      padding-top:30px;
  }
}
</style>