<template>
  <div>
    <div v-if="file === 'video'">
      <videoCourse :assessment='assessment' :user="user" :content="content" @save="save" />
    </div>
    <div v-if="file === 'audio'">
      <audioCourse :assessment='assessment' :user="user" :content="content" @save="save" />
    </div>
    <div v-if="file === 'pdf'">
      <pdfCourse :assessment='assessment' :user="user" :content="content" @save="save" />
    </div>
  </div>
</template>
<script>
import videoCourse from "./videoCourse";
import audioCourse from "./audioCourse";
import pdfCourse from "./pdfCourse";
export default {
  props: ["user", "content","course_id","assessment"],
  data() {
    return {
      file: "video"
    };
  },
  components: {
    videoCourse,
    audioCourse,
    pdfCourse
  },
  created() {
    this.file = this.$route.query.file;
  },
  methods: {
    save( video_id, total_content) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        course: this.$props.course_id,
        video: video_id,
        total: total_content,
        type:'video'
      };
      axios
        .post(`/api/save`, data, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(res => {})
        .catch(err => {});
    }
  }
};
</script>

<style scoped>
</style>