<template>
  <div class="row cont">
    <div class="col-md-8">
      <video
        width="620"
        height="480"
        controls
        class="cld-video-player videoDetailSingle"
        :class="{'hide': checkVideo}"
      ></video>
    </div>
    <div class="col-md-4" v-if="multiVideo || multiPodcast">
      <ul>
        <li
          v-if="media.length > 0"
          v-for="(medias, index) in media"
          @click="showVideo(index)"
          class="listStream"
        >
          <div>
            <h4 class="mb-2">{{medias.title}}</h4>
          </div>
          <div>{{medias.overview}}</div>
        </li>
      </ul>
      <div class="side-page">
        <div class="form-group">
          <label for>Related videos</label>
          <select class="form-control" v-model="related">
            <option value="default">Related</option>
            <option value="latest">Latest</option>
            <option value="popular">Popular</option>
          </select>
        </div>
        <div v-if="relatedVids.length">
          <div
            class="related-container"
            v-for="(relatedVideo) in relatedVids"
            :key="relatedVideo.id"
          >
            <div class="vid-container">
              <img :src="relatedVideo.cover" alt="related" @click="gotoRelated(relatedVideo.uid)" />
              <div class="playCont rounded-circle"   @click="gotoRelated(relatedVideo.uid)">
                <i
                
                  class="fa fa-play playIcon"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
            <div class="about-related">
              <div class="related_title" @click="gotoRelated(relatedVideo.uid)">{{relatedVideo.title}}</div>
              <div class="related_host">{{relatedVideo.host}}</div>
              <p class="related_creation">{{ relatedVideo.created_at | moment("from", "now")}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" v-else>
      <ul>
        <li @click="showVideo(index)" class="listStream">
          <div>
            <h4 class="mb-2">{{media.title}}</h4>
          </div>
          <div>{{media.overview}}</div>
        </li>
      </ul>
      <div class="side-page">
        <div class="form-group">
          <label for>Related videos</label>
          <select class="form-control" v-model="related">
            <option value="default">Related</option>
            <option value="latest">Latest</option>
            <option value="popular">Popular</option>
          </select>
        </div>
        <div v-if="relatedVids.length">
          <div
            class="related-container"
            v-for="(relatedVideo) in relatedVids"
            :key="relatedVideo.id"
          >
            <div class="vid-container">
              <img :src="relatedVideo.cover" alt="related" @click="related(relatedVideo.uid)" />
              <div class="playCont rounded-circle">
                <i
                  @click="related(relatedVideo.uid)"
                  class="fa fa-play playIcon"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
            <div class="about-related">
              <div class="related_title" @click="related(relatedVideo.uid)">{{relatedVideo.title}}</div>
              <div class="related_host">{{relatedVideo.host}}</div>
              <p class="related_creation">{{ relatedVideo.created_at | moment("from", "now")}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import cloudder from "cloudinary-core";
import clo from "cloudinary-video-player";

export default {
  name: "watch-media-component",
  data: function() {
    return {
      id: this.$route.params.id,
      prodtype: this.$route.params.prodtype,
      gettype: this.$route.params.gettype,
      type: this.$route.params.type,
      vid: this.$route.params.vid,
      user: {},
      cld: "",
      player: "",
      related: "default",
      relatedVideos: [],
      media: [],
      singleMedia: {},
      videoShow: "",
      audioShow: "",
      multiPodcast: false,
      multiVideo: false,
      singleVideo: false,
      singlePodcast: false,
      checkVideo: false,
      mediaP: [],
      countp: ""
    };
  },
  mounted() {
    this.getRelatedVideoProduct();
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.user = user;
      let data = {
        id: this.id,
        prodType: this.prodtype,
        getType: this.gettype,
        type: this.type,
        vid: this.vid
      };
      this.cld = cloudder.Cloudinary.new({ cloud_name: "bizguruh-com" });
      this.player = this.cld.videoPlayers(".videoDetailSingle", {
        playlistWidget: {
          direction: "vertical",
          total: localStorage.getItem("episodeCount")
        }
      });
      JSON.parse(localStorage.getItem("mediaStream"));
      axios
        .post(`/api/user/streammedianow`, JSON.parse(JSON.stringify(data)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 200) {
            if (response.data === " ") {
              this.$router.replace({ name: "SubscriptionForUser" });
            } else {
              if (Array.isArray(response.data)) {
               
                response.data.forEach(item => {
                  this.videoShow = response.data[0].videoFile;
                  this.mediaP.push(item.videoFile);
                  this.multiPodcast = true;
                  this.media = response.data;
                });

                this.player.forEach(item => {
                  item.playlist(this.mediaP, {
                    autoAdvance: true,
                    repeat: true,
                    presentUpcoming: 8
                  });
                });
              } else if (!Array.isArray(response.data)) {
                this.player.forEach(item => {
                  item.source(response.data.videoPublicId);
                });
                this.media = response.data;
              }
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    } else {
      this.$router.push({
        name: "auth",
        params: { name: "login" },
        query: { watch: "media" }
      });
    }
  },
  computed: {
    relatedVids() {
      if (this.related === "default") {
        return this.relatedVideos;
      }
      if (this.related === "latest") {
        return this.relatedVideos.reverse();
      }
      if (this.related === "popular") {
        return this.relatedVideos.reverse();
      }
    }
  },
  methods: {
    showVideo(index) {
      this.videoShow = this.media[index].videoFile;
    },
     gotoRelated(related_id) {
      let routeData = this.$router.resolve({
        name: "Video",
        params: { id: related_id }
      });

      window.open(routeData.href, "_self");
    },
    getRelatedVideoProduct() {
      axios
        .get(`/api/get/related/Videos/${this.id}`)
        .then(response => {
          if (response.status === 200) {
            let relatedProduct = response.data.data;
            relatedProduct.forEach((item, index) => {
              item.webinar.category = item.category.name;
              item.webinar.uid = item.id;
              item.webinar.cover = item.coverImage;
              this.relatedVideos.push(item.webinar);
              // this.relatedPlaylist[index].source(item.webinar.excerptsPublicId);
            });

            this.relatedPlaylist.forEach((item, index) => {
              item.source(this.relatedVideos[index].excerptsPublicId);
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.cont {
  padding: 80px 20px;
}
ol,
ul {
  list-style: none;
}
.listStream {
  margin: 5px;
  border-bottom: 1px solid #f7f8fa;
  padding: 10px;
  cursor: pointer;
}
.side-page {
  background-color: #f7f8fa;
  padding: 20px;
  overflow-y: scroll;
  height: 80vh;
}
.related-container {
  width: 100%;
  display: flex;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedfe1;
  transition: all 0.9s;
}
.related-container:hover .vid-container img {
  transform: scale(1.03);
}
.vid-container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.about-related {
  width: 50%;
  height: 100%;
  padding-left: 10px;
}
.related_title {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4;
  cursor: pointer;
}
.related_host {
  font-size: 14px;
  cursor: pointer;
}
.related_creation {
  font-size: 14px;
}
.cld-video-player {
  width: 100%;
}
.playCont {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playIcon {
  font-size: 24px;
  margin-left: 3px;
}
.related-container:hover .vid-container .playCont .playIcon {
  transform: rotate(360deg);
}
@media (max-width: 425px) {
  .cont {
    padding: 40px 0;
  }
  .col-md-8 {
    padding: 0;
  }
  .cld-video-player {
    max-height: 320px !important;
  }
  ul {
    padding:15px 0;
  }
  .listStream {
    padding: 0;
    margin: 0;
  }
}
</style>
