<template>
  <div class="main-content">
    <div class="navi">
        <div class="site-title">
      <router-link to="/" tag="a">
        <div class="logoText">
          <span class="biz">Biz</span><span class="guruh">Guruh</span>
        </div>
      </router-link>
    </div>
      <label class="custom-control custom-radio">
        <input type="radio" value="entrepreneur" v-model="type" class="custom-control-input" />

        <span class="custom-control-description">For Entrepreneurs</span>
      </label>

      <label class="custom-control custom-radio">
        <input type="radio" value="business" v-model="type" class="custom-control-input" />

        <span class="custom-control-description">For Business owners</span>
      </label>

      <label class="custom-control custom-radio">
        <input type="radio" value="expert" v-model="type" class="custom-control-input" />

        <span class="custom-control-description">For Teachers </span>
      </label>
    </div>
    <UserAuth v-if="type == 'entrepreneur'" :name='name'/>
    <VendorAuth v-if="type == 'expert'" :name='name'/>
    <AccountAuth v-if="type == 'business'" :name='name'/>
  </div>
</template>
<script>
import UserAuth from "../user/userAuthComponent";
import VendorAuth from "../vendor/components/auth/mainAuthComponent";
import AccountAuth from "../user/account/auth";

export default {
  data() {
    return {
      type: "entrepreneur",
      name:this.$route.params.type
    };
  },
  mounted() {},
  components: {
    UserAuth,
    VendorAuth,
    AccountAuth
  }
};
</script>

<style scoped>
.main-content {
  height: 100vh;
  background: #a4c2db;
  position: relative;
}
.logoText {
  font-size: 30px;
  text-align: center;
}

.biz {
  color: #333 !important;
  font-weight: normal;
}
.guruh {
  color: #a4c2db !important;
  font-weight: normal;
}

.navi {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 15px;
  padding-right:30px;
}
.custom-control-description {
  color: hsl(207, 46%, 20%);
}
.custom-control-input{
  opacity: 1;
  z-index: 1;
}
input[type="radio"]{
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}
</style>