<template>
  <div class="main-banner">
    <div class="overlay-banner"></div>
    <div class="img-phone animated rollIn slow"></div>
    <div class="banner-text p-3">
      <p class="josefin text_1 mb-3">A new kind of interaction that grows with you and your business</p>
      <p class="text_2 mb-3">It is powerful, and it is only possible here.</p>
      <div class="banner-buttons my-3">
          <button
          v-if="user || vendor || account"
          class="elevated_btn text-white btn-compliment desktop"
        
        >Go to home</button>
        <button
        v-else
          class="elevated_btn text-white btn-compliment desktop"
          @click="scrollDown"
        >Begin your journey</button>
      </div>
    </div>
    <div class="arrow-down">
      <img src="/images/down.svg" class="arrow animated bounce infinite slower" @click="scrollDown" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      vendor: false,
      account: false,
      user: false
    };
  },
  mounted() {
    this.gohome()
  },
  methods: {
    scrollDown() {
      window.scrollTo(0, window.innerHeight * 0.8);
    },
    gohome() {
      let accountUser = JSON.parse(localStorage.getItem("accountUser"));
      let vendorUser = JSON.parse(localStorage.getItem("authVendor"));
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        this.user = true;
      } else {
        this.user = false;
      }
      if (vendorUser !== null) {
        this.vendor = true;
      } else {
        this.vendor = false;
      }

      if (accountUser !== null) {
        this.account = true;
      } else {
        this.account = false;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.main-banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-phone {
  position: absolute;
  top: 20%;
  left: -20px;
  background-image: url(/images/mob_tr.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 80%;
  z-index: 3;
}
.arrow-down {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 5px 15px;
  z-index: 4;
  width: 50px;
  height: 50px;
}
.arrow-down img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-banner {
  position: absolute;
  background-color: rgba(164, 194, 219, 0.65);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-text {
  width: 60%;
  height: auto;
  z-index: 5;
  position: relative;
  padding-right: 100px !important;
}
.text_1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2;
}
.text_2 {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .text_1 {
    font-size: 44px;
  }
  .text_2 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .img-phone {
    top: 20%;
    left: -100px;
    width: 65%;
    height: 80%;
  }
  .text_1 {
    font-size: 36px;
  }
  .text_2 {
    font-size: 24px;
  }
  .banner-text {
    padding-right: 50px !important;
  }
  .desktop {
    display: none;
  }
}
@media (max-width: 425px) {
  .main-banner {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 100px;
  }
  .img-phone {
    width: 100%;
    position: unset;
    height: 70%;
    background-position: center;
  }
  .banner-text {
    width: 80%;
    text-align: center;
    padding: 0 !important;
  }
  .text_1 {
    font-size: 24px;
  }
  .text_2 {
    font-size: 18px;
  }
}
</style>