<template>
  <div class="main-body" id="decription">
    <div class="overlay-desc"></div>
    <div class="content">
      <h3 class="mb-5 desc_header josefin">What best describes you?</h3>
      <div class="d-flex justify-content-center align-items-center m-cont">
        <!-- <table class="table table-bordered item_box shadow bor2">
          <tbody>
            <tr>
              <td>I want honest and practical Africa-focused business insights and resourcess</td>
            </tr>
            <tr>
              <td>I want to work with experts to develop a business that is both fulfilling and profitable.</td>
            </tr>
            <tr>
              <td>I want to grow my business with a tribe of like-minded entrepreneurs</td>
            </tr>
            <tr>
              <td>
                <div class="bold mb-3">I am an</div>
                <router-link to="/entrepreneur">
                  <button class="button-2 mx-auto">Entrepreneur</button>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table> -->

        <!-- <table class="table table-bordered item_box shadow bor1">
          <tbody>
            <tr>
              <td>I love to share honest and practical insights with entrepreneurs</td>
            </tr>
            <tr>
              <td>I want to take my online teaching to the next level</td>
            </tr>
            <tr>
              <td>I want to bring my community and content together in one place</td>
            </tr>

            <tr >
              <td>
                <div class="bold mb-3">I am an</div>
                <router-link to="/vendor/home">
                  <button class="button-1 mx-auto">Expert</button>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table> -->

        <table class="table table-bordered item_box shadow bor3">
          <tbody>
            <tr>
              <td>I’m ready to ditch the paper work and take my business to the next level</td>
            </tr>
            <tr>
              <td>I want to track my business profitability and growth in real time.</td>
            </tr>
            <tr>
              <td>I want to know what my numbers really say about my business.</td>
            </tr>

            <tr >
              <td>
                <div class="bold mb-3">I am a</div>
                <router-link to="/account">
                  <button class="button-3 mx-auto">Business Owner</button>
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<style scoped>
.main-body {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 80px;
  position: relative;
}
.overlay-desc {
  background-color: rgba(164, 194, 219, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}
.content {
  z-index: 4;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  padding: 15px;
}
ul li {
  margin-bottom: 14px;
}
.item_box {
  width: 32%;
  height: auto;
  background: #f7f8fa;
  border-radius: 8
  px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.content {
  width: 80%;
  margin: 0 auto;
}
.button-box {
  position: absolute;
  bottom: 20px;
}
.bg1 {
  background-color: #6fd4e1;
}
.bg2 {
  background-color: #b9e7e6;
}
.bg3 {
  background-color: #e2f4f3;
}
.bor1 {
  border: 1px solid #0a4065;
}
td{
  background:white;
  padding:15px;
}
.bor2 {
  border: 1px solid #22cade;
}
.bor3 {
  border: 1px solid #0f1666;
}
@media (max-width: 1024px) {
  .item_box {
    height: 400px;
    font-size: 15px;
  }
  .content {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .content {
    width: 80%;
  }
  .m-cont {
    flex-direction: column;
  }
  .item_box {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }
  .button-box {
    position: relative;
  }
}
@media (max-width: 425px) {
  .content {
    width: 90%;
  }
  .m-cont {
    flex-direction: column;
  }
  .item_box {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }
  .button-box {
    position: relative;
  }
}
</style>
