<template>
    <div class="main">
        <Nav class="navi"/>
        <Banner class="bg banner"/>
        <div class="bg">
         <Description />
        <Generator  />
        <WhyBizguruh />
        <Testimonial />     
        </div>
        <!-- <Subscribe /> -->
        <RegisterToday />
        <Footer />
      
    </div>
</template>
<script>
import Nav from './navigation'
import Banner from './banner'
import Description from './description';
import Generator from '../user/components/categoriesBarComponent';
import WhyBizguruh from "../user/components/whyBizguruhComponent";
import Footer from "../user/components/userFooterComponent";
import Testimonial from "../user/components/testimonialComponent";
import Subscribe from "../user/components/subscribeComponent";
import RegisterToday from "../user/components/registerTodayComponent";
export default {
    
    components:{
        Nav,
        Banner,
        Description,
        Generator,
        Testimonial,
        WhyBizguruh,
        RegisterToday,
        Subscribe,

        Footer
    }
}
</script>
<style scoped>
.main{
    background: #f7f8fa;   
    position:relative;
}
.navi{
    background:transparent;
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
}
/* .banner{
    margin-top:68px;
} */
.bg {
  background-image: url("/images/curve1.jpg");
  background-size: cover;
}
.bg2 {
  background-image: url("/images/curve2.jpg");
  background-size: cover;
}

</style>