<template>
  <div class="main" :class="{scroll_bg:shadow}">
    <nav>
      <ul class="top_nav">
      <div class="d-flex justify-content-between align-items-end">
          <div class="logo">
          <li @click="gohome">
            Biz<span :class="{guruh:shadow}">Guruh</span>
          </li>
        </div>
        <div class="dashboard desktop">
           <router-link v-if=" $route.meta.vendor" to="/vendor/home" >
            <li class="nav_item m-0">
              <i class="fa fa-home" aria-hidden="true"></i> My Home
            </li>
          </router-link>
              <router-link v-if="$route.meta.accounting" to="/account">
            <li class="nav_item m-0">
           <i class="fa fa-home" aria-hidden="true"></i> My Home
            </li>
          </router-link>
        </div>
      </div>
        

        <div class="nav_items" v-if="desktop">
            <router-link v-if=" $route.name=='VendorHome'" to="/vendor/pricing">
            <li class="nav_item">
              <button class="button-blue">Pricing</button>
            </li>
          </router-link>
            <router-link v-if=" $route.meta.accounting" to="/account/pricing">
            <li class="nav_item">
              <button class="button-blue">Pricing</button>
            </li>
          </router-link>
          <!-- <router-link target="_blank" to="/entrepreneur" v-if=" $route.name == 'Landing'">
            <li class="nav_item">
              <img
                src="/images/right-arrow.svg"
                v-if="user &&  $route.name == 'Landing'"
                class="animated slideInRight mr-4 infinite"
                width="20"
                alt
              /> For Entrepreneurs
            </li>
          </router-link> -->
          <router-link target="_blank" to="/account" v-if=" $route.name == 'Landing'">
            <li class="nav_item">
              <img
                src="/images/right-arrow.svg"
                v-if="account &&  $route.name == 'Landing'"
                class="animated slideInRight mr-4 infinite"
                width="20"
                alt
              /> For Business Owners
            </li>
          </router-link>
          <!-- <router-link target="_blank" to="/vendor/home" v-if=" $route.name == 'Landing'">
            <li class="nav_item">
              <img
                src="/images/right-arrow.svg"
                v-if="vendor &&  $route.name == 'Landing'"
                class="animated slideInRight mr-4 infinite"
                width="20"
                alt
              /> For Experts
            </li>
          </router-link> -->
            <div class="dashboard">
           <router-link v-if="auth && $route.name=='VendorHome'" to="/vendor/dashboard">
            <li class="nav_item">
              Dashboard
            </li>
          </router-link>
              <router-link v-if="auth && $route.meta.accounting" to="/account/dashboard">
            <li class="nav_item">
               Dashboard
            </li>
          </router-link>
        </div>
           <router-link :to="{ name: 'vendorProfile',params:{profile:name} }" v-if=" $route.name=='VendorHome'">
            <li class="nav_item">How it works</li>
          </router-link>
        

          <router-link to="/account/about" v-if=" $route.meta.accounting">
            <li class="nav_item">How it works</li>
          </router-link>
        
        
          <li class="nav_item">
            <div v-show="auth" id="notification"></div>
          </li>

          <div class="prof">
            <div class="prof_hover p-3">
              <ul>
                <li class="nav_item cpointer" @click="logOut">
                  Logout
                </li>
              </ul>
            </div>
            <router-link to="/account/dashboard?goto=profile" v-if="auth && $route.meta.accounting">
             <li class="nav_item cpointer" >
                   <img v-if="logo !== null" class="image mr-3" :src="logo" alt="">
            <i class="fas fa-user-circle image" v-else aria-hidden="true"></i>
        
            {{name}}
          </li>
           </router-link>
           <router-link v-if="auth && $route.meta.vendor" :to="{
                  name:'vendorProfile',
                  params:{
                    profile:name
                  }
           }">
             <li class="nav_item cpointer" >
            <img v-if="logo !== null" :src="logo" class="image mr-3" alt="">
            <i class="fas fa-user-circle image" v-else aria-hidden="true"></i>
            {{name}}
          </li>
           </router-link>
          </div>
          <div class="auth_buttons" v-if="$route.name=='VendorHome'">
            <router-link to="/vendor/auth?type=login" v-if="!auth">
              <li class="nav_item sign_in">Sign in</li>
            </router-link>
            <router-link to="/vendor/auth?type=register" v-if="!auth">
              <li class="nav_item join">Join today</li>
            </router-link>
          </div>
          <div v-else-if="$route.meta.accounting" class="auth_buttons">
            <router-link to="/account/auth?type=login" v-if="!auth">
              <li class="nav_item sign_in">Sign in</li>
            </router-link>
            <router-link to="/account/auth?type=register" v-if="!auth">
              <li class="nav_item join">Join today</li>
            </router-link>
          </div>

        
        </div>

        <span
          class="d-flex justify-content-start align-items-center mobile-nav"
          @click="showNav"
          v-if="!desktop"
        >
          <button
            class="hamburger hamburger--collapse"
            tabindex="0"
            aria-label="Menu"
            role="button"
            aria-controls="navigation"
            :class="{'is-active':show_nav_bar}"
            type="button"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>
      </ul>
    </nav>
    <nav class="nav_items bg-white mob animated slideInRight" v-if="show_nav_bar && !desktop">
      <ul>
        <span class="top_n">
           <router-link v-if="$route.name=='VendorHome'" to="/vendor/pricing">
            <li class="nav_item">
              <button class="button-blue">Upgrade</button>
            </li>
          </router-link>
           <router-link to="/account/dashboard?goto=profile" v-if="auth && $route.meta.accounting">
             <li class="nav_item cpointer" v-if="auth && $route.meta.accounting">
            <i class="fas fa-user-circle mr-2" aria-hidden="true"></i> {{name}}
          </li>
           </router-link>
           <router-link v-if="auth && $route.meta.vendor" :to="{
                  name:'vendorProfile',
                  params:{
                    profile:name
                  }
           }">
             <li class="nav_item cpointer" >
            <i class="fas fa-user-circle fa-2x" aria-hidden="true"></i>
            {{name}}
          </li>
           
           </router-link>
             <router-link v-if=" $route.meta.accounting" to="/account/pricing">
            <li class="nav_item">
              <button class="button-blue">Upgrade</button>
            </li>
          </router-link>
          <router-link target="_blank" to="/">
            <li class="nav_item">Home</li>
          </router-link>
          <router-link target="_blank" to="/entrepreneur" v-if=" $route.name == 'Landing'">
            <li class="nav_item">For Entrepreneurs</li>
          </router-link>
          <router-link target="_blank" to="/account" v-if=" $route.name == 'Landing'">
            <li class="nav_item">For Business Owners</li>
          </router-link>
          <router-link target="_blank" to="/vendor/home" class="mb-5" v-if=" $route.name == 'Landing'">
            <li class="nav_item">For Experts</li>
          </router-link>
          <router-link v-if="auth && $route.name=='VendorHome'" to="/vendor/dashboard">
            <li class="nav_item">
               Dashboard
            </li>
          </router-link>
         
          <router-link to="/vendor/about" v-if=" $route.name=='VendorHome'">
            <li class="nav_item">How it works</li>
          </router-link>

          <router-link v-if="auth && $route.meta.accounting" to="/account/dashboard">
            <li class="nav_item">
             Dashboard
            </li>
          </router-link>
        
          <router-link to="/account/about" v-if=" $route.meta.accounting">
            <li class="nav_item">How it works</li>
          </router-link>
          <li class="nav_item">
            <div v-show="auth" id="notification"></div>
          </li>
        
           <li class="nav_item cpointer" @click="logOut" v-if="auth">
                  Logout
                </li>
          <div class="auth_buttons" v-if="$route.name=='VendorHome'">
            <router-link to="/vendor/auth?type=login" v-if="!auth">
              <li class="nav_item sign_in">Sign in</li>
            </router-link>
            <router-link to="/vendor/auth?type=register" v-if="!auth">
              <li class="nav_item join">Join today</li>
            </router-link>
          </div>
          <div v-else-if="$route.meta.accounting" class="auth_buttons">
            <router-link to="/account/auth?type=login" v-if="!auth">
              <li class="nav_item sign_in">Sign in</li>
            </router-link>
            <router-link to="/account/auth?type=register" v-if="!auth">
              <li class="nav_item join">Join today</li>
            </router-link>
          </div>

        </span>
      </ul>
    </nav>
  </div>
</template>
<script>
import userHomePageComponentVue from "../user/userHomePageComponent.vue";
export default {
  data() {
    return {
      shadow: false,
      show_nav_bar: false,
      desktop: true,
      auth: false,
      name: "",
      vendor: false,
      account: false,
      user: false,
      logo:''
    };
  },
  created() {
    this.checkRoute();
    this.setName();
  },
  watch: {
    $route: "checkRoute"
  },
  methods: {
    setName() {
      let accountUser = JSON.parse(localStorage.getItem("accountUser"));
      let vendorUser = JSON.parse(localStorage.getItem("authVendor"));
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        this.user = true;
      } else {
        this.user = false;
      }
      if (vendorUser !== null) {
        this.vendor = true;
      } else {
        this.vendor = false;
      }

      if (accountUser !== null) {
        this.account = true;
      } else {
        this.account = false;
      }
      if (accountUser !== null || vendorUser !== null || user !== null) {
        this.auth = true;
        if (this.$route.meta.accounting) {
          if (accountUser !== null) {
            this.auth = true;
            this.name = accountUser.name;
            this.logo = accountUser.logo
          } else {
            this.auth = false;
            this.name = "";
          }
        } else if (this.$route.meta.vendor) {
          if (vendorUser !== null) {
          
            this.auth = true;
            this.name = vendorUser.storeName;
            this.logo = vendorUser.image
          } else {
            this.auth = false;
            this.name = "";
          }
        } else if (this.$route.name == "IndexPage") {
          if (user !== null) {
            this.auth = true;
            this.name = user.name;
          } else {
            this.auth = false;
            this.name = "";
          }
        }
      } else {
        this.auth = false;
      }
    },
    gohome() {
  
        this.$router.push("/");
      
    },
    showNav() {
      this.show_nav_bar = !this.show_nav_bar;
    },
    checkRoute() {
      this.setName();
       if (this.$route.name == "Landing") {
      window.addEventListener("scroll", e => {
      
          if (window.scrollY > window.innerHeight * 0.08) {
            this.shadow = true;
          } else {
            this.shadow = false;
          }
        
        
      });
       } else{
             this.shadow = true;
         }
      if (window.innerWidth <= 1024) {
        this.show_nav_bar = false;
        this.desktop = false;
      } else {
        this.show_nav_bar = true;
        this.desktop = true;
      }
    },
    logOut(){
       if (this.$route.meta.accounting) {
         localStorage.removeItem('accountUser')
        } else if (this.$route.meta.vendor) {
          localStorage.removeItem('authVendor')
          }
          this.$router.push('/')
    }
  }
};
</script>
<style scoped>
.main {
  z-index: 999;
  font-family: "Open Sans", "Helvetica", serif;
  transition: all 0.4s;
}
.prof{
  position:relative;
}
.prof_hover{
  position: absolute;
  display: none;
  top:40px;
  background: #f7f8fa;
  right:0;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #ccc;
}
.prof:hover .prof_hover{
  display: block;
}
.profile {
  background: #f7f8fa;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_item.cpointer{
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}
.image{
  font-size:30px;
  width:30px;
  height: 30px;
  border-radius: 50%;
}
.button-blue{
  font-size:14px;
}
.user_icon {
  font-size: 22px;
  margin-right: 10px;
}
.logo {
  color: #333;
  font-size: 24px;
  cursor: pointer;
  margin-right: 32px;
}
.guruh {
  color: #a4c2db;
}
.auth_buttons {
  display: flex;
  justify-content: space-between;
}
.scroll_bg {
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}
.main nav .top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
.nav_items {
  display: flex;
}
.nav_item {
  padding: 1px 15px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.64);
  margin-left: 15px;
  font-weight: bold;
}
.nav_item:hover {
  color: rgba(0, 0, 0, 0.84);
}
.sign_in {
  color: hsl(207, 43%, 20%);
  border: 1px solid hsl(207, 43%, 20%);
  padding: 1px 30px;
  border-radius: 5px;
  margin-left: 15px;
}
.sign_in:hover {
  color: hsl(207, 43%, 10%);
  border: 1px solid hsl(207, 43%, 10%);
}
.join {
  background-color: hsl(207, 43%, 20%);
  color: white;
  padding: 1px 30px;
  border-radius: 5px;
}
.join:hover {
  background-color: hsl(207, 43%, 10%);
  color: white;
}
@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .auth_buttons {
    flex-direction: column;
  }
  /* .scroll_bg{
   background-color: rgba(164, 194, 219,.5);
 } */
  .nav_items {
    padding: 100px 50px;
    position: fixed;
    height:100vh;
    right: 0;
    top: 0;
    z-index: 9;
   
  }
  .nav_items ul {
    display: flex;
    flex-direction: column;
  }
  .nav_item {
    margin-left: 0;
    margin-bottom: 16px;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
     display: block !important;
  }
  .join,
  .sign_in {
    padding: 10px 30px;
    text-align: center;
  }

  .main nav .top_nav {
    align-items: unset;
    justify-content: unset;
  }
  .main .mob ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top_n {
    margin-bottom: 40px;
  }

  .mobile-nav {
    position: absolute;
    right: 20px;
    top: 10px;
    display: block;
    z-index: 999;
  }
}
@media (max-width: 768px) {
  .main-banner {
    flex-direction: column-reverse;
  }
  .img-phone {
    width: 80%;
  }
  .banner-text {
    width: 80%;
  }
  .text_1 {
    font-size: 24px;
  }
  .text_2 {
    font-size: 18px;
  }
  .hamburger {
    padding: 0;
  }
  .main nav .top_nav {
    padding: 15px;
  }
}
</style>