<template>
  <div>
    <div class="account_login">
   
      <div class="login_overlay"></div>
      <div class="account_login2 p-4">
        <form @submit.prevent="accountLogin" class="form p-3">
          <legend class="text-center mb-3"> Login</legend>
          <div class="form-group">
            <!-- <label for="login">Email</label> -->

            <div class="form-group">
              <input
                v-if="!isNumber"
                autocorrect="off"
                autocapitalize="off"
                type="email"
                class="form-control"
                v-model="account.email"
                placeholder=" Email address"
              />
              <div class="input-group" v-if="isNumber">
                <div class="input-group-prepend" style="width:25%">
                  <select
                    class="input-group-text form-control"
                    v-model="account.phone_code"
                    required
                  >
                    <option
                      v-for="(dial,idx) in myDials"
                      :key="idx"
                      :value="dial.dial_code"
                    >{{ dial.dial_code+ ' - ' +dial.name }}</option>
                  </select>
                </div>

                <div class="input-group-append" style="width:75%">
                  <input
                    required
                    v-model="account.email"
                    type="number"
                    class="input-group-text form-control text-left"
                    aria-describedby="helpId"
                    placeholder="8102588399"
                    minlength="6"
                    maxlength="10"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <!-- <label for="Password">Password</label> -->
              <input
                id="password"
                type="password"
                class="form-control"
                v-model="account.password"
                placeholder="Enter password"
              />
            </div>
          </div>

          <div>
            <!-- <p>Forgot Password</p>-->

            <button
              type="submit"
              class="elevated_btn btn-success text-white elevated_btn_sm mb-3 mx-auto"
            >
              Log In
              <!-- <span class="spinner-grow spinner-grow-sm text-light" v-if="isLoading"></span> -->
            </button>
           
          </div>
          <div class="text-center mb-2">
            <small v-if="isNumber" @click="toggleEmail" class="mx-auto switch">Log in with email address</small>
            <small v-if="!isNumber" @click="toggleEmail" class="mx-auto switch">Log in with phone number</small>
          </div>

        
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { getCustomerHeader } from "../../config";
import VueTimepicker from "vue2-timepicker/src/vue-timepicker.vue";
import { dialCodes } from "../components/phoneCodes";
export default {
  data() {
    return {
      myDials: [],
      isNumber: false,
      loginAccount: true,
      account: {
        email: "",
        password: "",
        phone_code: "+234"
      },
      role: "admin",
      account_users: [],
      account_user: {},
      user: {
        name: "",
        email: "",
        role: "default",
        password: "",
        confirm_password: "",
        account_name: ""
      },

      isActive: false,
      account_name: "",
      userSub: 0
    };
  },
  beforeRouteEnter(to, from, next) {
    let user = JSON.parse(localStorage.getItem("accountUser"));
    if (user !== null) {
      next(vm => {
        vm.$router.push("/account");
      });
    } else {
      next();
    }
  },

  created() {
    
    this.myDials = dialCodes();
    this.initialLoad();
    if (this.$route.query.id) {
      this.verify(this.$route.query.id);
    }
  },

  components: {
    VueTimepicker
  },

  computed: {
    currency() {
      return { [this.position]: this.currencySymbol };
    },
    transactionHistory() {
      return this.allTransactions.filter(ele => {
        if (
          Math.round(this.getMonth(ele.date)) === Math.round(this.selectedMonth)
        ) {
          return ele;
        } else if (this.selectedMonth === "all") {
          return ele;
        } else {
          return;
        }
      });
    }
  },
  methods: {
  
    closeSideNav() {
      this.showNow = false;
    },
    toggleEmail() {
      this.isNumber = !this.isNumber;
      if (this.isNumber === true) {
        this.account.email = null;
      }
      if (this.isNumber === false) {
        this.account.email = "";
      }
    },
    initialLoad() {
      let user = JSON.parse(localStorage.getItem("accountUser"));
      if (user !== null) {
        this.account_name = user.name;
        this.authenticate = true;
        if (user.business_name) {
          this.business_name = user.business_name;
          this.user.account_name = user.business_name;
        }
        if (user.business_type) {
          this.supplier = user.business_type;
        }

        this.showBoard = false;
        if (this.userSub < 2) {
          this.isActive = false;
        }
      } else {
        setInterval(() => {
          this.showBoard = true;
        }, 20000);
      }
    },

    checkLogin() {
      if (this.userSub >= 2) {
        let user = JSON.parse(localStorage.getItem("accountUser"));

        axios
          .get(`/api/accountDetails`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            if (response.status === 200) {
              if (response.data.verify == 1) {
                this.isActive = true;

                this.$toasted.success("Login successful");
                this.role = response.data.role;
                this.loginAccount = false;
                this.initialLoad();
              } else {
                this.$toasted.error("Invalid User");
              }
            }
          });
      } else {
        this.$toasted.error("Invalid user credentials");
      }
    },
    accountLogin() {
   
        let data = {
          client_id: 2,
          client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
          grant_type: "password",
          username: this.account.email,
          password: this.account.password,
          theNewProvider: "account_api"
        };

        let accountUser = {
          email: this.account.email,
          password: this.account.password
        };
        axios
          .post("/oauth/token", data)
          .then(response => {
            accountUser.access_token = response.data.access_token;
            accountUser.refresh_token = response.data.refresh_token;

            axios
              .get(`/api/accountDetails`, {
                headers: {
                  Authorization: `Bearer ${response.data.access_token}`
                }
              })
              .then(response => {
                if (response.status === 200) {
                  if (response.data.verify == 0) {
                     this.$toasted.info("Email Unverified ");
                  }
                    this.isActive = true;
                    accountUser.id = response.data.user_id;
                    accountUser.role = response.data.role;
                   
                    accountUser.email = response.data.email;
                    accountUser.business_name = response.data.business_name;
                     accountUser.business_type = response.data.business_type;
                    
                    accountUser.name = response.data.name;
                    localStorage.setItem(
                      "accountUser",
                      JSON.stringify(accountUser)
                    );
                    this.$toasted.success("Login successful");
                    this.$router.push('/account/dashboard')
                  
                }
              });
          })
          .catch(error => {
            this.$toasted.error("Invalid user credentials");
          });
   
    }
  }
};
</script>

<style scoped>
.logoText {
  padding: 15px;
  text-align: left;
}
.fa-long-arrow-left{
  z-index: 99;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
}
.logoBan {
  font-size: 30px;
  position: absolute;
  z-index: 2;
  background: white;
  padding: 10px 15px;
}
/* removed log out button here */
.fa-sign-out-alt {
  cursor: pointer;
}
.imgHome {
  object-fit: cover;
}
.fa-sign-out-alt:hover .logText {
  display: block;
}
.account_login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/accountBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.outstanding-invoice,
.last-payment,
.sales-order {
}
.login_overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.84);
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.account_login2 {
  position: absolute;
  width: 40%;
  background-color: #e1e1e1;
  z-index: 3;
}
.passwordOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.passwordBox {
  position: relative;
  width: 35%;
  height: 40%;
  background-color: #e1e1e1;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.mygrid {
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;
  padding-left: 0;
}
.bookTrans {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}
.passwordX {
  position: absolute;
  top: -15px;
  right: -15px;
}
.myFont {
  font-size: 16px !important;
}
.sel_button {
  display: flex;
  justify-content: space-around;
}
.small-text {
  font-size: 11px;
  font-weight: 300;
}
.form-control {
  height: calc(1.6em + 0.75rem + 2px);
}
table {
  font-size: 14px;
}
.container-fluid {
  position: relative;
  padding: 0;
  transition: all 0.1s;
  z-index: 9;
}
.passer {
  width: 100%;
}
.loginBoard {
  position: absolute;
  width: 250px;
  bottom: 30%;
  right: 0;
  z-index: 2;
  font-style: oblique;
}
.col-md-4 {
  padding-right: 0;
}
.loginCancel {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 2;
}
.text-faded {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}
ul,
ol {
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.main-board {
  height: 100vh;
}
.border {
  border: none !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: 100%;
  margin-bottom: auto;
}
.table-responsive {
  padding: 10px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
}
.add-user-form {
  background-color: #e1e1e1;
  width: 50%;
}
.form {
  background-color: #f5f5f5;
}
.revenue,
.cogs th,
.pbt th,
.tax th {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.74);
}
.exp th {
  background-color: rgba(0, 0, 0, 0.74) !important;
}

#statement {
  background-color: #f2f5fe;
}
li.nav-item:hover {
  background: rgba(255, 255, 255, 0.9);
}
.sideNav {
  width: 15%;
  min-height: 100vh;
  padding: 0;
  background-color: #f2f5fe;
  color: hsl(225, 86%, 8%);
}
.fa-inverse {
  color: hsl(225, 86%, 8%);
}
.fa-circle {
  color: white;
}
.main-body {
  position: relative;
  width: 85%;
  min-height: 100vh;
  overflow-y: scroll;
  background: #f7f8fa;
}
label,
input {
  display: inline;
}

.info.fa-1x {
  font-size: 0.7em;
}
.business_name {
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: hsl(207, 43%, 20%);
}
.d-fle {
  display: flex;
}
.btn-secondary,
.btn-info,
.btn-success,
.btn-danger,
.btn-default,
.btn-primary {
  border: none !important;
}
.btn-primary[disabled],
.btn-primary[disabled] {
  color: #fff;
  background-color: rgb(51, 122, 183, 0.3);
  border-color: rgb(51, 122, 183, 0.3);
  cursor: not-allowed;
}
.thead-light {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
hr {
  margin-bottom: 5px;
  margin-top: 5px;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
th {
  background-color: hsl(207, 43%, 20%);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  padding: 5px;
}
.homeText {
  position: absolute;
  width: 80%;
  bottom: 0%;
  right: 0%;
  left: 0;
  font-weight: 400;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin: 0 auto;
}
.homeShadow {
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  top: 0;
}
.top-butt {
  display: flex;
  justify-content: center;
}
.bottom-butt {
  margin-top: 50px;
}
img {
  height: 100%;
  width: 100%;
}
.homeImage {
  position: relative;
  width: 100%;
  height: 100vh;
}
.upgradeContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
.upgrade {
  position: absolute;
  width: 50%;
  height: auto;
  background: #ffffff;
  top: 30%;
  right: 25%;
  padding: 20px 40px;
  border-radius: 3px;
}
.upgradeButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  font-size: 18px;
}
.upgradeButton {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2px;
  padding: 2px 10px;
  margin: 10px;
}
.opened {
  max-width: 100%;
  overflow: hidden;
}
.upgradeButton:hover {
  background: hsl(207, 43%, 20%);
  color: #fff;
  font-weight: bold;
}
.upgradeText {
  font-style: oblique;
}
.boldText {
  font-size: 18px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.64);
}
.fa-xx {
  font-size: 0.6rem;
}
.nav-item {
  padding: 8px 15px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}
.remind {
  position: none;
}
th,
td {
  text-align: center;
  text-transform: capitalize;
}
td {
  background: white;
}
.textRed {
  color: red !important;
}
.textGreen {
  color: green !important;
}
.tablee {
  cursor: pointer;
}
.tablee:hover {
  background: rgba(0, 0, 0, 0.5);
}
.tabs {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.expense td {
  padding: 0.25rem !important;
}
.under {
  width: 30px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 0;
  border: 0;
  border-top: 2px solid #eee;
}
.display-5 {
  font-size: 2rem !important;
  font-weight: 300;
  line-height: 1.2;
}
.header {
  width: 100%;
  font-size: 14px;
  color: hsl(207, 43%, 20%);
  padding: 20px 30px 10px;
  display: flex;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}
.border {
  background: #fff;
}
.body-content {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  background-color: white;
  padding: 20px 30px;
  text-transform: capitalize;
  position: relative;
  background: #f7f8fa;
  /* display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column; */
}
.body-footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px;
}
.fa-stackk {
  display: inline-block;
  height: 5em;
  line-height: 5em;
  position: relative;
  vertical-align: middle;
  width: 5em;
}
.fa-stack-5x {
  font-size: 5em;
}
.fa-stack-2xx {
  font-size: 2em;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
}

.checkCircle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkCircle:hover .fa-stackk,
.checkCircle:hover .fa-stackk.fa-stack-2xx {
  transform: scale(1.2);
}
.order-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333;
  z-index: 1;
}
.btn-pdf {
  height: 25px;
  padding: 1px 8px 9px;
}
.invoice-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  z-index: 4;
}
.home-overlay-content {
  top: 40%;
  position: fixed;
  z-index: 5;
  right: 25%;
}
.overlay-content {
  top: 50%;
  position: fixed;
  z-index: 5;
  right: 19%;
  margin-top: -40vh;
}
.inv-text {
  font-weight: bold;
  cursor: pointer;
}
.bg-grey {
  background: #fafafa;
  padding: 10px 15px;
}
.inv-text:hover {
  text-decoration: underline;
}
.payment-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.expense-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-times {
  position: absolute;
  right: -12px;
  top: -17px;
  cursor: pointer;
  color: black;
  border: 2px solid;
  padding: 3px 5px !important;
  border-radius: 50%;
  z-index: 6;
  background: white;
}
.fa,
.fas {
  cursor: pointer;
}
.mobile {
  display: none !important;
}
legend {
  display: block;
}

@media (max-width: 768px) {
  .logoText {
    display: none;
  }
  .col-md-4 {
    padding: 0;
  }
  table {
    font-size: 13px;
  }
  .mygrid {
    padding-left: 0;
  }
  .sideNav {
    padding-top: 20px;
  }
  .myText {
    text-align: center !important;
    line-height: 1.6;
    padding-top: 0 !important;
  }
  .overlay-content {
    right: 0;
  }
  .t2 {
    font-weight: normal !important;
  }
  .bookTrans {
    grid-template-columns: auto;
  }
  .fa-stackk {
    display: inline-block;
    height: 3em;
    line-height: 3em;
    position: relative;
    vertical-align: middle;
    width: 3em;
  }
  .fa-stack-5x {
    font-size: 3em;
  }
  .fa-stack-2xx {
    font-size: 1.5em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 25%;
  }

  .smallButton {
    padding: 3px 10px 4px !important;
    height: 40px;
  }
  .account_login2 {
    width: 85%;
  }
  .add-user-form {
    background-color: #e1e1e1;
    width: 90%;
  }
  .homeText {
    font-size: 14px;
    width: 100%;
    align-items: center;
  }
  th {
    font-size: 12px;
  }
  .boldText {
    font-size: 14px;
  }
  .fa-xx {
    font-size: 0.5rem;
  }

  td input.form-control {
    height: 27px;
    padding: 4px 5px;
    font-size: 11px;
  }

  .mobTab {
    width: 180px;
  }
  .business_name {
    font-size: 14px;
    margin-bottom: 2px;
    padding: 2px;
  }
  .upgrade {
    width: 95%;
    right: 2%;
  }
  .p-5 {
    padding: 1rem !important;
  }
  .p-4 {
    padding: 1rem !important;
  }
  .fa-times {
    position: absolute;
    right: -12px;
    top: -17px;
    cursor: pointer;
    color: black;
    border: 2px solid;
    padding: 3px 5px !important;
    border-radius: 50%;
    z-index: 6;
    background: white;
  }
  .btn-secondary,
  .btn-info,
  .btn-success,
  .btn-danger,
  .btn-default,
  .btn-primary {
    padding: 2px 7px 3px;
    font-size: 12px;
  }

  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 3px;
  }
  h2,
  h3,
  h4,
  h5 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 8px;
  }

  .main-body {
    width: 100%;
    background: #f7f8fa;
    margin-top: 73px;
  }
  .sideNav {
    display: none;
    padding: 0;
    position: absolute;
    z-index: 5;
    height: 100%;
  }
  .openNav {
    width: 200px;
    display: block;
  }
  .body-content {
    width: 100%;
    padding: 15px;
  }
  .w-full-sm {
    width: 100%;
  }
  .w-25 {
    width: 100% !important;
  }
  .w-95 {
    width: 95% !important;
  }
  .display-5 {
    font-size: 1.2rem !important;
  }
  .flex-xs-column {
    flex-direction: column;
  }

  .header {
    width: 100%;
    font-size: 14px;
    padding: 10px 15px;
  }
  .header {
    display: flex;
  }

  /* .fa-ellipsis-v {
    color: white;
  } */
  .fa-1x {
    font-size: 0.8em;
  }

  .w-x-100 {
    width: 100% !important;
  }
  .flex-x-col {
    flex-direction: column !important;
  }
  .passwordBox {
    position: relative;
    width: 80%;
    height: 40%;
  }
}
@media (max-width: 425px) {
  .mygrid {
    display: flex !important;
    flex-direction: column;
    padding: 0 !important;
  }
  .outstanding-invoice,
  .last-payment,
  .sales-order {
    margin-bottom: 20px;
  }
  .main-body {
    margin-top: 53px;
  }
  .sel_button {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .table,
  th,
  td {
    font-size: 8px !important;
    padding: 3px;
  }
  button {
    font-size: 12px !important;
  }
}
</style>