<template>
    <div class="m">
          <router-link to="/account" class="back" v-if="$route.name !=='LandingAuth'"><i class="fas fa-long-arrow-alt-left    ">Back to Home</i> </router-link>
        <Login  v-if="login" />
        <Register v-else/>
        <div class="s">
                <p  v-if="login">Dont't have an account? <span class="text-main" @click="switchLogin">Sign Up</span></p>
                 <p  v-else>Already have an account? <span class="text-main"  @click="switchLogin">Sign in</span></p>
        </div>
    </div>
</template>

<script>
import Login from './accountLoginComponent'
import Register from './register'

export default {
    props:['name'],
    data() {
        return {
            login:null
        }
    },
 components:{
     Login,
     Register,
     
 },
 mounted() {
     if(this.$route.query.type == 'login' || this.$props.name == 'login'){
         this.login = true
     }else{
         this.login = false
     }
 }, 
 methods: {
     switchLogin(){
         this.login = !this.login
     }
 },
}
</script>
<style scoped>
.m{
    position: relative;
}
.back{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 6;
    color: white;
}
.s{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: white;
    z-index: 8;
    text-align: center;
}
</style>