<template>
  <div class="banner">
    <div class="slant_1"></div>
    <div class="slant_2"></div>
    <div class="slant_2"></div>
    <div class="text_box">
     <div class="text-container">
          <p class="bannerA mb-3"> Ditch the paper work for a powerful, yet approachable business management system that gets you organized, so that you can track your business profitability and growth in real-time.</p>
          <p class="bannerB mb-2">Want to know what your numbers say about your business???</p>
        </div>
        <div class="text-container">
      
          <router-link to="account/auth?type=register" v-if="!auth">
            <button class="elevated_btn btn-white text-main animated fadeIn slow">Get Started Now</button>
          </router-link>
          <div class="d-flex butt" v-else>
              <router-link to="/account/dashboard" class="mr-5 but1">
            <button class="elevated_btn btn-white text-main animated fadeIn slow">Go to dashboard</button>
          </router-link>
            <router-link to="/account/dashboard?start=bookkeeping">
            <button class="elevated_btn btn-compliment text-white animated fadeIn slow">Start Bookkeping</button>
          </router-link>
          </div>
          
        </div>
    </div>
    <div class="image-box"></div>
  </div>
</template>

<script>
export default {
   data() {
    return {
      auth: false,
    }
  },
  mounted() {
     let user = localStorage.getItem('accountUser')
    if (user!== null) {
      this.auth= true
    }
  },
};
</script>
<style scoped>
.banner {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  background:#a4c2db;
}
.image-box{
   position: absolute;
  width: 60%;
  right: -5%;
  height: 100%;
   background-image: url("/images/account.jpg");
  background-position: left;
  background-size: cover;

}
.slant_1 {
  background: #a4c2db;
  position: absolute;
  width: 50%;
  left: 10%;
  height: 85vh;
transform:skewX(-25deg);
  top: -50%;
    z-index: 2;
    border-right:10px solid white;
}
.slant_2 {
  background: #a4c2db;
  position: absolute;
  width: 50%;
  left: 10%;
  height: 85vh;
  transform:skewX(25deg);
  bottom: -49.7%;
  z-index: 2;
  border-right:10px solid white;
}
.text_box {
  position: absolute;
  width: 45%;
  left: 0;
  height: 100%;
 background: #a4c2db;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
  padding-left:80px;
  
}
.text-container {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
}
.bannerA {
  font-size: 38px;
  line-height: 1.4;
}
.bannerB {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
}
.bannerC {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) {
  .butt{
    flex-direction: column;
  }
  .but1{
    margin-bottom: 16px;
  }
  .banner{
    height: 90vh;
  }
  .image-box {
    width: 30%;
  }
  .text_box {
    width: 70%;
    padding-left: 20px;
     border-right: 6px solid white;
  }
  .bannerA {
    font-size: 24px;
  }
  .bannerB {
    font-size: 20px;
  }
  .bannerC {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  
  .image-box {
    width: 20%;
  }
  .text_box {
    width: 80%;
    padding-left: 20px;
     border-right: 6px solid white;
  }
  .bannerA {
    font-size: 20px;
  }
  .bannerB {
    font-size: 18px;
  }
  .bannerC {
    font-size: 16px;
  }
}
</style>