<template>
    <div>
        <Nav />
        <router-view :message="message" :accountSub="accountSub"></router-view>
        
    </div>
</template>
<script>
import Nav from "../../landing/navigation";
export default {
    data() {
        return {
              auth: false,
      message: false,
      accountSub:0
        }
    },
    components:{
        Nav
    },
      mounted() {
    this.checkMessage();
    this.getAccountSub()
  },
  watch: {
    $route: "checkMessage"
  },
  
  methods: {
    getAccountSub() {
      let user = JSON.parse(localStorage.getItem("accountUser"));
     if(user!== null){
        axios.get(`/api/account-sub/${user.id}`).then(res => {
       if (res.data.status !== 'failed') {
             this.accountSub = res.data;
          }
      });
     }
    },
    checkMessage() {
      if (this.$route.query.session == "pricing") {
        console.log("hello");

        this.message = true;
        window.scrollTo(0,window.innerHeight * 0.9);
      }
    }
  }
}
</script>