<template>
  <div>
    <!-- <Nav /> -->
    <Banner class="bg"  :accountSub="accountSub"/>
    <Pricing :accountSub="accountSub" v-if="accountSub < 3"/>
    <Cat />
    <Test />
    <Footer />
  </div>
</template>
<script>
import Pricing from "./pricing";
import Banner from "./banner";
import Cat from "../components/categoriesBarComponent";
import Test from '../components/testimonialComponent'
import Footer from "../components/userFooterComponent";
export default {
  data() {
    return {
      auth: false,
      accountSub:0
    };
  },
  components: {
    Pricing,
    Banner,
    Cat,
    Footer,
    Test
  },

  mounted() {
    
    this.getAccountSub()
  },
 
  methods: {
    getAccountSub() {
      let user = JSON.parse(localStorage.getItem("accountUser"));
     if(user!== null){
        axios.get(`/api/account-sub/${user.id}`).then(res => {
        if (res.status == 200) {
          if (res.data.status !== 'failed') {
             this.accountSub = res.data;
          }
         
        }
      });
     }
    },
    
  }
};
</script>
<style scoped>
.bg {
  background-image: url("/images/curve1.jpg");
  background-size: cover;
}
</style>