<template>
  <div class="main-content">
    <div class="desc_header mb-5">Pricing Plans</div>
   <div class="duration"><span>Monthly</span> <Toggle @handleToggle="handleToggle" class="px-2"/> <span > Annual  <span class="annual" :class="{'annual-faded':!time}"> +2 Months Free</span></span></div>
    <div
      class="price-overlay d-flex justify-content-center align-items-center"
      v-if="showOverlay || message"
    >
      <div class="p-3 btn-compliment form">
        <i
          class="fas fa-times-circle closePrice text-white p-2"
          @click="handleOverlay"
          aria-hidden="true"
        ></i>
        <form @submit.prevent v-if="!message">
          <legend>Select Duration</legend>
          <div class="form-group">
            <label for class="toCaps oPlan mb-4">{{plan}} plan</label>
           <p class="text-muted  text-center">
                Duration :
                <strong class="toCaps text-white">{{duration}}</strong>
              </p>
          </div>
          <div class="oPrice mb-4">&#8358;{{price}}.00</div>

          <div class="my-3">
            <button
              class="elevated_btn elevated_btn_sm mx-auto text-main"
              type="button"
              @click="subscribe(plan,duration)"
            >Pay</button>
          </div>
        </form>

        <p @click="handleOverlay" class="form-control text-center" v-if="message">Choose a plan to begin</p>
      </div>
    </div>
    <div class="pricing">
      <div class="price_box shadow">
        <div class="price_name">STARTER KIT</div>
        <ul>
          <li>Custom Dashboard</li>
          <li>Single User</li>
          <li>Bookkeeping Tool</li>
          <li>Cash flow Report (Expense/Inflow)</li>
        </ul>
        <div class="price my-3">
             <span v-if="!time" class="myPrice"> &#8358;3,000 <small>/month</small></span>
           <span v-if="time" class="myPrice">&#8358;2,500<small>/month billed annually</small></span>
        </div>

        <div class="text-center my-3">
          <button
            type="button"
            class="button-blue mx-auto"
          
            v-if="accountSub == 1"
          >Subscribed</button>
          <button
            type="button"
            class="button-blue mx-auto"
            @click="selectPackage('starter')"
            v-if="accountSub < 1"
          >Select</button>
          <button
            type="button"
            class="button-blue mx-auto"
           
            v-if="accountSub > 1"
          >Unavailable</button>
        </div>
      </div>
      <div class="price_box shadow">
        <div class="price_name">ESSENTIAL</div>
        <ul>
          <li>Custom Dashboard</li>
          <li>Single User</li>
          <li>Cash flow Management</li>
          <li>Comprehensive Accounting Statement</li>
        </ul>

        <div class="price my-3">
           <span v-if="!time" class="myPrice"> &#8358;5,000 <small>/month</small></span>
           <span v-if="time" class="myPrice">&#8358;4,167 <small>/month billed annually</small></span>
        </div>
        <div class="text-center my-3">
          <button
            type="button"
            class="button-blue mx-auto"
            @click="selectPackage('essential')"
            v-if="accountSub < 2"
          >Select</button>
          <button type="button" class="button-blue mx-auto" v-if="accountSub == 2">Subscribed</button>
          <button type="button" class="button-blue mx-auto" v-if="accountSub > 2">Unavailable</button>
        </div>
      </div>
      <div class="price_box shadow">
        <div class="price_name">PROFESSIONAL</div>
        <ul>
          <li>Custom Dashboard</li>
          <li>Multi-user</li>
          <li>Inventory Management Module</li>
          <li>Billing & Invoicing Module (Sales Order, Invoices, Receipt and more)</li>
          <li>Customer Relationship Management Module</li>
        </ul>

        <div class="price my-3">
           <span v-if="!time" class="myPrice"> &#8358;7,000 <small>/month</small></span>
           <span v-if="time" class="myPrice">&#8358;5,834 <small>/month billed annually</small></span>
        </div>
        <div class="text-center my-3">
          <button
            type="button"
            class="button-blue mx-auto"
            @click="selectPackage('professional')"
            v-if="accountSub < 3"
          >Select</button>
          <button type="button" class="button-blue mx-auto" v-if="accountSub == 3">Subscribed</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Toggle from '../../toggle'
export default {
  props: [ "accountSub"],
  data() {
    return {
       authenticate:false,
      showOverlay: false,
      plan: "",
      price: "",
      duration: "",
      level: 0,
      authenticate: false,
      time:false,
      message:false
    };
  },
   components:{
    Toggle
  },
  mounted() {
    this.checkMessage();
  },
  watch: {
    duration: "selectPlan",
    $route:'checkMessage'
  },

  methods: {
      
    handleToggle(value) {
      this.time = value;

      if (!value) {
        this.duration = "monthly";
      } else {
        this.duration = "yearly";
      }
    },
    subscribe(type, duration) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      localStorage.removeItem("type");

      if (user !== null) {
        this.authenticate = true;
      }
      if (this.authenticate) {
        let data = {
          type: type,
          duration: duration,
          level: this.level,
          subType: "accounting"
        };

        axios
          .post("/api/usersubscription", JSON.parse(JSON.stringify(data)), {
            headers: { Authorization: `Bearer ${user.access_token}` }
          })
          .then(response => {
            if (response.status === 200) {
              localStorage.setItem("type", "accounting");
              window.location.href = response.data;
            }
          })
          .catch(error => {
            localStorage.removeItem("type");
            if (error.response.data.message === "Unauthenticated.") {
              this.$router.push({
                name: "auth",
                params: { name: "login" },
                query: { redirect: "user-subscription" }
              });
            }
          });
      } else {
        localStorage.removeItem("type");
        this.$router.replace({
          name: "auth",
          params: { name: "login" },
          query: { redirect: "user-subscription" }
        });
      }
    },
    selectPackage(value) {
      switch (value) {
        case "starter":
          this.plan = "starter";
          this.level = 1;
            this.selectPlan();
          this.handleOverlay();

          break;
        case "essential":
          this.plan = "essential";
          this.level = 2;
            this.selectPlan();
          this.handleOverlay();
          break;
        case "professional":
          this.plan = "professional";
          this.level = 3;
            this.selectPlan();
          this.handleOverlay();
          break;

        default:
          break;
      }
    },
    selectPlan() {
      if (this.plan == "starter" && this.duration == "monthly") {
        this.price = 3000;
      } else if (this.plan == "starter" && this.duration == "yearly") {
        this.price = 30000;
      }

      if (this.plan == "essential" && this.duration == "monthly") {
        this.price = 5000;
      } else if (this.plan == "essential" && this.duration == "yearly") {
        this.price = 50000;
      }

      if (this.plan == "professional" && this.duration == "monthly") {
        this.price = 7000;
      } else if (this.plan == "professional" && this.duration == "yearly") {
        this.price = 70000;
      }
    },
    handleOverlay() {
      this.showOverlay = !this.showOverlay;
      if (!this.showOverlay) {
        this.price = 0;
       
      }
      if (this.message) {
        this.message = false
      }
    },
    checkMessage() {
      if (this.$route.query.session == "pricing") {
        this.showOverlay = true
        this.message = true;
       
      }
    }
  }
};
</script>

<style scoped>
.main-content {
  height: 100vh;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 100px;
  background:#f7f8fa;
}
h3.form-control {
  font-size: 24px;
}
li{
  padding:7px;
}
.duration{
  display:flex;
  width:400px;
  margin:24px auto;
  align-items:center;
}
.annual{
  padding:8px 20px;
  background:hsl(207,46%,20%);
  color:white;
  margin-left:15px;
  border-radius:5px;
}
.annual-faded{
      background: rgb(128, 128, 128,.3);
    color: rgb(255, 255, 255,.3);
}
.pricing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}
.price_box {
  height: auto;
  width: 31%;
  background: #f7f8fa;
  border-radius: 4px;
  position: relative;
  text-align: center;
}
ul,
ol,
li {
  list-style: square;
  text-align: left;
}
ul {
  padding: 15px 35px;
}
.price_name {
  padding: 15px;
  text-align: center;
  background: #0f1666;
  color: white;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}
.price_name::after {
  content: "";
  height: 100%;
  width: 100%;
  background: hsl(207, 46%, 20%);
  position: absolute;
  transform: rotate(-45deg);
  bottom: 0;
  left: 53%;
}
.price_name::before {
  content: "";
  height: 100%;
  width: 100%;
  background: hsl(207, 46%, 20%);
  position: absolute;
  transform: rotate(45deg);
  bottom: 0;
  left: -53%;
}
.price {
  font-weight: bold;
  font-size:24px;
}
.price small{
  font-size:14px;
  color:rgba(0, 0, 0, 0.64);
}
.oPlan {
  font-size: 36px;
  color: white;
  text-align: center;
}
.oPrice {
  font-size: 36px;
  text-align: center;
  color: white;
}
.price-overlay {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
}
.form {
  width: 30%;
  height: auto;
  padding: 15px;
  position: relative;
}
.closePrice {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
   .main-content{
    height:auto;
  }
  .pricing {
    flex-direction: column;
    align-items: center;
  }
  .price_box {
    width: 70%;
    margin-bottom: 40px;
  }
  .form{
    width: 70%;
  }
}

@media (max-width: 425px) {
  .price_box {
    width: 100%;
  }
   .annual{
    font-size:12px;
  }
  .form{
    width: 80%;
  }
  .duration{
    width:auto;
    font-size:14px;
    justify-content: center;
  }
}
</style>