<template>
  <div>
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my lead generation overview"
      />
    </div>
    <h5>MY LEAD GENERATION OVERVIEW</h5>

    <div class="form-group">
      <label for>Where do most of my leads come from?</label>
      <label class="custom-control custom-checkbox">
        <input
          type="checkbox"
          value="Instagram promotions"
          v-model="questions.one"
          class="custom-control-input"
        />
        <span class="custom-control-indicator">Instagram promotions</span>
      </label>
      <label class="custom-control custom-checkbox">
        <input
          type="checkbox"
          value="Referrals"
          v-model="questions.one"
          class="custom-control-input"
        />
        <span class="custom-control-indicator">Referrals</span>
      </label>

      <label class="custom-control custom-checkbox">
        <input
          type="checkbox"
          value="Other Social Media Platforms"
          class="custom-control-input"
          v-model="questions.one"
        />
        <span class="custom-control-indicator">Other Social Media Platforms</span>
      </label>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" value="Walk-in" class="custom-control-input" v-model="questions.one" />
        <span class="custom-control-indicator">Walk-in</span>
      </label>

      <input
        type="text"
        class="form-control"
        aria-describedby="helpId"
        v-model="questions.one[0].others"
        placeholder="Others"
      />
    </div>

    <div class="form-group">
      <label for>How much of my revenue comes from my existing customers?</label>
      <label class="custom-control custom-radio">
        <input type="radio" value="10%-30%" v-model="questions.two" class="custom-control-input" />
        <span class="custom-control-indicator">10%-30%</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" value="30%-60%" v-model="questions.two" class="custom-control-input" />
        <span class="custom-control-indicator">30%-60%</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" value="60%-80%" v-model="questions.two" class="custom-control-input" />
        <span class="custom-control-indicator">60%-80%</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" value="80% - 100%" v-model="questions.two" class="custom-control-input" />
        <span class="custom-control-indicator">80% - 100%</span>
      </label>
    </div>

    <div class="form-group">
      <label for>How many people are involved in the process of each sale?</label>
      <label class="custom-control custom-radio">
        <input type="radio" value="Just me" v-model="questions.three" class="custom-control-input" />
        <span class="custom-control-indicator">Just me</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" value="1-3" v-model="questions.three" class="custom-control-input" />
        <span class="custom-control-indicator">1-3</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" value="5-10" v-model="questions.three" class="custom-control-input" />
        <span class="custom-control-indicator">5-10</span>
      </label>
    </div>

    <div class="form-group">
      <label for>Do you pitch one person from a target account, or multiple people?</label>
      <label class="custom-control custom-radio">
        <input
          type="radio"
          value="Target Account"
          v-model="questions.four"
          class="custom-control-input"
        />
        <span class="custom-control-indicator">Target Account</span>
      </label>
      <label class="custom-control custom-radio">
        <input
          type="radio"
          value="Multiple People"
          v-model="questions.four"
          class="custom-control-input"
        />
        <span class="custom-control-indicator">Multiple People</span>
      </label>
    </div>
    <div class="w-100 butt">
      <button
        @click="previewAnswer"
        type="button"
        class="elevated_btn elevated_btn_sm text-white btn-compliment"
      >Preview</button>

      <button
        type="button"
        class="elevated_btn elevated_btn_sm text-main"
        @click="saveDraft"
      >Save to draft</button>
    </div>
  </div>
</template>
<script>
import previewTemp from "../previewTemplate";
export default {
  data() {
    return {
      bap: true,
      preview: false,
      record: {},
      questions: {
        one: [
          {
            others: ""
          }
        ],
        two: "",
        three: "",
        four: ""
      }
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my lead generation overview"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my lead generation overview"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my lead generation overview"
      };

      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.preview = true;
          }
        });
    }
  }
};
</script>
<style scoped>
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
h3,
h5 {
  margin-bottom: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
.form-group {
  margin: 15px 0;
}
.sub_title {
  font-size: 9px;
}
p {
  margin-bottom: 10px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
</style>