<template>
  <div>
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my Customer retention strategy"
      />
    </div>
    <h5>MY CUSTOMER RETENTION STRATEGY</h5>
    <blockquote>
      <em>Imagine you’re in a relationship where you don’t feel valued, soon enough you will want out.</em> —BizGuruh
    </blockquote>
    <p>The goal here is simple; to attract, monetize and convert customers to brand evangelists.</p>
    <div class="form-group mb-5">
      <label for>Two ways that I will attract my ideal customer:</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.one.q1"
        aria-describedby="helpId"
        placeholder="1."
      />
      <input
        type="text"
        class="form-control"
        v-model="questions.one.q2"
        aria-describedby="helpId"
        placeholder="2."
      />
    </div>
    <div class="form-group mb-5">
      <label for>Two ways that I will continue to meet the expectations of my customer:</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.two.q1"
        aria-describedby="helpId"
        placeholder="1."
      />
      <input
        type="text"
        class="form-control"
        v-model="questions.two.q2"
        aria-describedby="helpId"
        placeholder="2."
      />
    </div>
    <div class="form-group mb-5">
      <label for>Two ways that I will make my customer continue to buy from me:</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.three.q1"
        aria-describedby="helpId"
        placeholder="1."
      />
      <input
        type="text"
        class="form-control"
        v-model="questions.three.q2"
        aria-describedby="helpId"
        placeholder="2."
      />
    </div>
    <div class="form-group mb-5">
      <label for>Two ways that I will make my customers recommend me to others:</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.four.q1"
        aria-describedby="helpId"
        placeholder="1."
      />
      <input
        type="text"
        class="form-control"
        v-model="questions.four.q2"
        aria-describedby="helpId"
        placeholder="2."
      />
    </div>
    <div class="w-100 butt">
      <button
        @click="previewAnswer"
        type="button"
        class="elevated_btn elevated_btn_sm text-white btn-compliment"
      >Preview</button>

      <button
        type="button"
        class="elevated_btn elevated_btn_sm text-main"
        @click="saveDraft"
      >Save to draft</button>
    </div>
  </div>
</template>
<script>
import previewTemp from "../previewTemplate";
export default {
  data() {
    return {
      bap: true,
      preview: false,
      record: {},
      questions: {
        one: {
          q1: "",
          q2: ""
        },
        two: {
          q1: "",
          q2: ""
        },
        three: {
          q1: "",
          q2: ""
        },
        four: {
          q1: "",
          q2: ""
        }
      }
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my Customer retention strategy"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my Customer retention strategy"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my Customer retention strategy"
      };

      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.preview = true;
          }
        });
    }
  }
};
</script>
<style scoped>
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
h3,
h5 {
  margin-bottom: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
.form-group {
  margin: 15px 0;
}
.sub_title {
  font-size: 9px;
}
p {
  margin-bottom: 10px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
</style>