<template>
  <div>
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my business acquisition strategy"
      />
    </div>
    <h5>MY BUSINESS ACQUISITION STRATEGY</h5>
    <div class="form-group mb-5">
      <label for>How many sales would I like to close within a week?</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.one"
        aria-describedby="helpId"
        placeholder
      />
    </div>
    <div class="form-group mb-5">
      <label for>How many active opportunities do I need in order to meet my goal? — Conversion rate</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.two"
        aria-describedby="helpId"
        placeholder
      />
    </div>
    <div class="form-group mb-5">
      <label
        for
      >How many sales pitches will I have to perform each week in order to reach my target amount of active opportunities?</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.three"
        aria-describedby="helpId"
        placeholder
      />
    </div>
    <div class="form-group mb-5">
      <label
        for
      >How many cumulative (In total) Emails, Calls, Insta-dm’s, Insta-posts, Ads, Door-to-door sales do I need to make every week to reach my target sales pitches?</label>
      <input
        type="text"
        class="form-control"
        v-model="questions.four"
        aria-describedby="helpId"
        placeholder
      />
    </div>
      <div class="w-100 butt">
            <button
            @click="previewAnswer"
              type="button"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
            >Preview</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
  </div>
  
</template>
<script>
import previewTemp from "../previewTemplate";
export default {
  data() {
    return {
      bap: true,
      preview: false,
      record: {},
      questions: {
        one: "",
        two: "",
        three: "",
        four: ""
      }
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getDraft();
  },
  methods: {
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my business acquisition strategy"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my business acquisition strategy"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "my business acquisition strategy"
      };

      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.preview = true;
          }
        });
    }
  }
};
</script>
<style scoped>
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
h3,
h5 {
  margin-bottom: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}
label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
.form-group {
  margin: 15px 0;
}
.sub_title {
  font-size: 9px;
}
p {
  margin-bottom: 10px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
</style>