<template>
    <div class="main-page">
       <router-link to="/entrepreneur/explore" class="mx-auto text-center text-main skip"> <h4 class="pt-5 ">Skip for later</h4></router-link>
        <div class="boxes">
           <router-link to="/entrepreneur/preferences">
                <div class="box_1">
                <i class="fas fa-cogs mb-4 fa-5x text-main" aria-hidden="true"></i>
                  <h3 class="josefin text-main"> Update Preference</h3>
            </div>
           </router-link>
           <router-link to="/entrepreneur/update-profile">
                <div class="box_2">
                 <i class="fas fa-user-edit fa-5x text-main mb-4 "></i>
                 <h3 class="josefin text-main"> Update Profile</h3>
            </div>
           </router-link>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.main-page{
    height:100vh;
      background: #f7f8fa;
      position:relative;
}
.skip{
    position: absolute;
    width:200px;
    left:50%;
    margin-left: -100px !important;
    top:60px;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.box_1,.box_2{
    width: 400px;
    height: 400px;
    background: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  box-shadow: 0 0.175rem 0.24rem rgba(0, 0, 0, 0.30) !important;
  cursor: pointer;
}
.box_1:hover,
.box_2:hover {
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.30) !important;
}
.box_1:hover .fas,
.box_2:hover .fas,
.box_1:hover h3,
.box_2:hover h3 {
  transform: scale(1.05);
}
@media(max-width:768px){
.box_1,.box_2{
    width: 250px;
    height: 250px;
}
}
@media(max-width:425px){
    .box_1,.box_2{
    width: 150px;
    height: 150px;
}
h3{
    font-size: 16px;
}

}

@media(max-width:375px){
    .box_1,.box_2{
    width: 100px;
    height: 100px;
}

}
</style>