<template>
    <div class="bizguruhEvent">
        <div class="row displaySearch">
            <div class="col-md-3">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control">

            </div>
            <div class="col-md-3">
                <button class="btn"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "banner-event-component"
    }
</script>

<style scoped>
    .displaySearch {
        background: #a3c2dc;
        padding: 40px;
    }

</style>