<template>
    <div>
      <h1 class="hea1">The Business Book Store</h1>
        <carousel :perPage="4" v-if="products.length > 0">
            <slide v-for="(product, index) in products" :key="product.id">
                <div class="slidediv center">
                    <div class="imgtitlediv"><img :src="product.coverImage"></div>
                    <div>{{product.title}}</div>
                    <div>{{product.category.name}}</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>


                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>


                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>


                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>


                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>


                <div class="slidediv center">
                    <div class="imgtitlediv"><img src="https://res.cloudinary.com/diuflmhz2/image/upload/v1539121209/coverImage1550993661.jpg"></div>
                    <div>Product Name</div>
                    <div>Author/Vendor</div>
                    <div>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
</template>

<script>
    import { Carousel, Slide} from 'vue-carousel';

    export default {
        name: "business-store-component",
        components: {
            Carousel,
            Slide
        },
        data: function () {
            return {
               products: []
            }
        },
        mounted(){
            axios.get('/api/admin/product/bizguruh/Books').then((response) => {
                if(response.status === 200){
                    console.log('djdjdj');
                    console.log(response.data.data);
                    let course = response.data.data;
                    course.forEach((item) => {
                        item.books.category = item.category.name;
                        item.books.uid = item.id;
                        item.books.coverImage = item.coverImage;
                        this.products.push(item.books);
                    })

                }
            }).catch((error) => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>


    .imgtitlediv {
        width:150px;
        margin-left: auto;
        margin-right: auto;
    }

    .slidediv {
        margin:10px 10px;
    }
</style>
