<template>
 <div class="it">
   
  <div class="overlay-bus"></div>
   <div class="howIt">
  
     <h3 class="mb-5 desc_header josefin ">Business Management Solutions</h3>

          <!-- accounting generator starts here -->

    <div class="boxes">
      <div class="leftBox">
        <form @submit.prevent="calc" class="form shadow p-lg-5 p-md-4 p-sm-3 p-4 rounded">
          <h3 class="text-center mb-3">Account Statement Generator</h3>

          <div class="input-group my-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id>Revenue</span>
            </div>
            <CurrencyInput
              :currency="currency"
              v-model="revenue"
              placeholder="NGN 0.00"
              required
              class="form-control"
            />
            <div class="input-group-append">
              <span
                class="input-group-text"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Your revenue refers to fees earned from providing goods or services. Under the accrual basis of accounting, revenues are recorded at the time of delivering the service or the merchandise, even if cash is not received at the time of delivery. Often the term income is used instead of revenue."
              >
                <i class="fas fa-info"></i>
              </span>
            </div>
          </div>

          <div class="input-group my-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id>COGS</span>
            </div>
            <CurrencyInput
              :currency="currency"
              placeholder="NGN 0.00"
              v-model="cost"
              required
              class="form-control"
            />
            <div class="input-group-append">
              <span
                class="input-group-text"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Cost of goods sold (COGS) refers to the direct costs of producing the goods sold by your company. This amount includes the cost of the materials and labor directly used to create the good but excludes indirect expenses, such as distribution costs and sales force costs."
              >
                <i class="fas fa-info"></i>
              </span>
            </div>
          </div>
          <div class="profit">
            <p class="gp">
              <span class="gProfit">{{currencyFormat(this.gp)}}</span> Gross profit
            </p>
          </div>
          <button type="submit" class="elevated_btn bg-white text-main mx-auto">
            {{calculate}}
            <span class="spinner-grow spinner-grow-sm spin text-grey" v-if="loader"></span>
          </button>
        </form>
      </div>
      <div class="rightBox">
        <p class="generate-text animated slideInUp" v-bind:class="{'d-none':!swing}">
          Ditch the paperwork, get organized and track your business
          <strong>PROFITABILITY</strong> and
          <strong>GROWTH</strong> in
          <strong>REAL-TIME</strong>!
        </p>
      </div>
    </div>

    <!-- accounting generator ends here -->
      <section class="" v-if="$route.name !=='IndexPage'">
      
       
        <div class="bms">
        
          <div class="accounting_slider">
             <div class="rightSlide">
                <img class="bms_img animated slideInUp"  src="/images/word_threed.png" alt="" v-if="swing">
            </div>
            <div class="leftSlide">
            
              
           <p
                class="w-100  mb-4"
              ><span class="text-main bold">BE EMPOWERED</span> - To make decisions that <span class="text-main bold">GROW</span> your business</p>
              <div class="slide_button">
               
                  <button type="button" @click="goToDemo" class="elevated_btn btn-compliment text-white">Free Demo Now</button>
             
                <router-link
                  :to="{
                     name: 'SubscriptionProfile',
                   params: {
                     level: 0
                         },
                         query:{
                           name:'subscribe-accounting'
                         }
                }"
                >
                  <button
                    type="button"
                    class="elevated_btn btn-outline-compliment bg-white"
                  >Subscribe</button>
                </router-link>
              </div>
      
            </div>
           
          </div>
        </div>

     
      </section>


  </div>
 </div>
</template>

<script>
export default {
  name: "categories-bar-component",
  data: function() {
    return {
      gp: 0,
      revenue: null,
      cost: null,
      loader: false,
      calculate: "Continue to opex",
      scrollPos: 0,
      currentHeight: 0,
      swing: false,
      askOpen: false,
      show: false,
      first_name: "",
      last_name: "",
      email: "",
      one: true,
      two: false,
      three: false,
      four: false,
      five: false,
      howBor: false,
      howBoro: false,
      howBorod: false,
      howBorod4: false,
      howBorod5: false,
      textGreyOne: false,
      textGreyTwo: true,
      textGreyThree: true,
      textGreyFour: true,
      textGreyFive: true,
      scrollPos: 0,
      currentHeight: 0,
      scrollUpButton: false,
      currencySymbol: "NGN ",
      position: "prefix"
    };
  },
 
  mounted() {
   window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      window.addEventListener("scroll", e => {
        this.scrollPos = window.scrollY;
        this.currentHeight = window.innerHeight;
      });
    }
    
  },
  computed: {
    currency() {
      return { [this.position]: this.currencySymbol };
    }
  },
  watch: {
    scrollPos: "scrolling",
    cost: "calcGp"
  },
  methods: {
     goToDemo(){
    let user = localStorage.getItem('authUser')
    if(user !== null){
      var demo =  localStorage.getItem('demo')
   
         this.$router.push({
                  name:'AccountingDemo',
                  query:{
                    redirect_to:'demo'
                  }
                  })
    
    
    }else{
       this.$router.push({
                  name:'auth',
                  params:{name:'register'},
                  query:{
                    redirect_from:'explore'
                  }
                  })
    }
    },
     scrolling() {
      if (this.scrollPos > window.innerHeight * 0.3) {
        this.scrollUpButton = true;
      } else {
        this.scrollUpButton = false;
      }

      if (this.scrollPos > window.innerHeight * 1.2) {
        this.swing = true;
      }
    },
    calcGp() {
      this.gp = this.revenue - this.cost;
    },
    calc() {
      if (this.gp != 0) {
        this.loader = true;
        this.calculate = "processing ...";
        setTimeout(() => {
          this.calculate = "calculating ...";
        }, 2000);

        setTimeout(() => {
          this.calculate = "calculate";
          this.loader = false;
            this.$router.push('/account/pricing?session=pricing')
        }, 4000);
      }
    },
    currencyFormat(num) {
      if (num !== null) {
        return (
          "NGN " + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
        );
      } else {
        return "NGN 0.00";
      }
    },
    openAsk() {
      this.$router.push("/ask-bizguruh");
    },
    askClose() {
      this.askOpen = !this.askOpen;
    },
    showNews() {
      this.show = false;
    },
    subscribe() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        email: user.email,
        first_name: user.name,
        last_name: user.name
      };
      axios.post(`/api/subscribe`, data).then(response => {
        if (response.status === 200) {
          this.$toasted.success("Subscription successful");
          localStorage.removeItem("news");
          this.email = this.first_name = this.last_name = "";
          this.show = false;
        }
        {
        }
      });
    },

  
    switchTab(params) {
      switch (params) {
        case "one":
          this.one = this.howBor = this.textGreyTwo = this.textGreyThree = this.textGreyFour = this.textGreyFive = true;
          this.two = this.three = this.four = this.five = this.howBoro = this.howBorod = this.howBorod4 = this.howBorod5 = this.textGreyOne = false;
          break;
        case "two":
          this.two = this.howBoro = this.textGreyOne = this.textGreyThree = this.textGreyFour = this.textGreyFive = true;
          this.one = this.three = this.four = this.five = this.howBor = this.howBorod = this.howBorod4 = this.howBorod5 = this.textGreyTwo = false;
          break;
        case "three":
          this.three = this.howBorod = this.textGreyOne = this.textGreyTwo = this.textGreyFour = this.textGreyFive = true;
          this.one = this.two = this.four = this.five = this.howBor = this.howBoro = this.howBorod4 = this.howBorod5 = this.textGreyThree = false;
          break;
        case "four":
          this.four = this.textGreyOne = this.textGreyTwo = this.textGreyThree = this.textGreyFive = this.howBorod4 = true;
          this.one = this.two = this.three = this.five = this.howBor = this.howBoro = this.howBorod5 = this.howBorod = this.textGreyFour = false;
          break;
        case "five":
          this.five = this.textGreyOne = this.textGreyTwo = this.textGreyThree = this.howBorod5 = this.textGreyFour = true;
          this.one = this.two = this.three = this.four = this.howBor = this.howBoro = this.howBorod4 = this.howBorod = this.textGreyFive = false;
          break;
        default:
          this.one = this.two = this.three = this.four = this.five = false;
      }
    }
  }
};
</script>

<style scoped >
.overlay-bus{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  background:rgba(255, 255, 255,.5);
  z-index:0;
}
.it{
   position:relative;
}
.howIt{
  padding:65px 0 100px;
  z-index:3;
  position:relative;
}
.form {
  width: 65%;
  margin-right: auto;
  background: hsl(207, 43%, 20%);
}
h3.text-center {
  font-size: 16px;
  color: #fff;
}
.bms-heading {
  width: 40%;
  padding: 30px 30px 25px;
  background-color: hsl(207, 43%, 20%);
  border-bottom-right-radius: 100px;
  color: #fff;
  margin-left: -10px;
}
.expert-heading strong {
  font-size: 34px;
  color: #fff;
}
.bms {
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 5px;
}
.bms_em{
  padding:40px;
  display:flex;
  background:#f7f8fa;
  
}
.leftSlide p{
  font-size: 38px;
  line-height:1.3;

}
.swiper {
  height: 600px;
  width: 100%;
}
.accounting_slider {
  margin-top: 50px;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin:0 auto;
}
.leftSlide {
  width: 50%;
  height: 100%;
  text-align:center;
}
.rightSlide {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.rightSlide p{
  font-size: 32px;
}
.rightSlide img{
  width:70%;
  height:auto;
}
.slide_button {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:0 auto
}
.my-slides {
  width: 100%;
  height: 100%;
  background: white;
}
.bms_img{
  object-fit: cover;
  object-position: left;
}
.profit {
  height: 50px;
  margin: 30px auto 10px;
}
.gp {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.gProfit {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.w-40 {
  width: 40% !important;
}
.w-60 {
  width: 70% !important;
}
.spin {
  right: 10px;
  top: 43%;
}
.boxes {
  display: flex;
  width: 80%;
  min-height: 50vh;
  margin: 0 auto;
 
  padding-bottom: 45px;
  padding-top: 60px;
}
.leftBox {
  width: 50%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}
.generate-text {
  padding: 10px 0;
  font-size: 32px;
  line-height: 1.6;
  color: rgba(55, 58, 60);
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group-text {
  font-size: 16px;
}
.fa-times,
.fa-plus {
  position: absolute;
  right: -12px;
  top: -17px;
  cursor: pointer;
  color: black;
  padding: 3px 4px !important;
  border-radius: 50%;
  z-index: 6;
  background: white;
}
.askBiz {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 100;
  text-align: center;
  width: 25%;
  height: auto;
}
.fa-2x {
  font-size: 1.5em;
}
.bizzy {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.goAsk {
  font-size: 18px;
  font-weight: bold;
  color: #a4c2db;
}
.askTimes {
  position: absolute;
  top: -18px;
  right: -18px;
  cursor: pointer;
}
.askClose {
  margin-left: -7%;
  text-align: right;
  opacity: 0.4;
  width: 9% !important;
  padding: 0 !important;
}
.askClose:hover {
  opacity: 1;
}
.askIcons {
  flex-direction: column !important;
  margin: 0 !important;
  margin-left: auto !important;
  align-items: flex-end;
}

.fa-times,
.fa-plus {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.news-box {
  position: relative;
  display: flex;
}
.news-button {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.newsletter {
  width: 400px;
  height: auto;
  display: flex;
  position: fixed;
  top: 40%;
  right: 15px;
  z-index: 99;
  overflow: hidden;
  background: #d1e8fd;
}
.newsletter_image {
  position: absolute;
  right: -26px;
  object-fit: cover;
  object-position: right;
  height: 100%;
}
.btn-red {
  background-color: red !important;
  border: none;
  text-transform: capitalize !important;
}
.btn-success {
  background-color: green !important;
  border: none;
  text-transform: capitalize !important;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 16px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 16px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 16px;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  height: 38px;
}

* {
  box-sizing: border-box;
}

/* .howw {
  height: 100vh;
} */

.separator {
  color: rgba(0, 0, 0, 0.64);
}
.separator-danger {
  color: #5b84a7;
}
.separator {
  color: rgba(0, 0, 0, 0.64);
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.separator-danger:before,
.separator-danger:after {
  border-color: #5b84a7;
}
.separator:before {
  float: left;
}
.separator:before,
.separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #5b84a7;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.separator:after {
  border-color: #5b84a7;
}
.separator-danger:before,
.separator-danger:after {
  border-color: #5b84a7;
}
.separator:after {
  float: right;
}
.separator:before,
.separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #5b84a7;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.center {
  justify-content: center;
}
.column {
  float: left;
  width: 33.3%;
  padding: 5px;
  background: #ffffff;
}
.card-header {
  background: hsl(207, 45%, 95%);
}

.taskImg {
  color: #5b84a7 !important;
  text-align: center;
  font-weight: normal;
  text-align: center;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  width: 100%;
}
.howw {
  padding-bottom: 60px;
}

/* .taskImg[data-v-632021da] {
    color: #ffffff !important;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    background: #143048;
    #6a88a2
    border-left: 2px solid white;
    border-right: 2px solid white;
} */
.taskImg:hover {
  background: #5b84a7 !important;
  color: #ffffff !important;
}

.taskImg .f-35 {
  font-size: 25px;
}
/* .taskImg .f-35:hover{

 	color: #ffffff !important;
} */

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.courseBody {
  font-size: calc(13px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.imgTask {
  display: flex;
}

.text-grey {
  color: #ccc !important;
}
.bg-grey {
  background: #ccc !important;
  border: 1px solid #ccc !important;
}
.works {
  text-align: center;
  padding: 60px 0 0px 0;
  font-weight: bolder;
  color: rgba(3, 12, 38, 0.6);
}
.oneContainer,
.twoContainer,
.threeContainer,
.fourContainer,
.fiveContainer {
  position: relative;
  height: 100%;
  border-radius: 10px;
  width: 130%;
  /* overflow: hidden; */
}
.leftContainer {
  width: 50%;
  max-height: 675px;
  margin-right: 20px;
  /* overflow-y: scroll; */
}
.leftContainer::-webkit-scrollbar {
  color: #5b84a7;
}
.d {
  display: flex;
}
.oneContainer img {
  width: 100%;
  height: 100%;
}
.twoContainer img {
  width: 100%;
  height: 100%;
}
.threeContainer img {
  width: 100%;
  height: 100%;
}
.fourContainer img {
  width: 100%;
  height: 100%;
}
.fiveContainer img {
  width: 100%;
  height: 100%;
}
.howContent {
  background: #ffffff;
  /* margin-left: 20px; */
  max-width: 55%;
  border-radius: 5px;

  overflow: hidden;
}
.courseTitles {
  color: rgba(3, 12, 38, 0.74);
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}
.hws {
  padding: 10px 0;
  cursor: pointer;
}

.howBorderFive {
  border-top: 1px solid #5b84a7;
}

.howBorder,
.howBorderThird,
.howBorderFour {
  border-bottom: 1px solid #5b84a7;
  border-top: 1px solid #5b84a7;
}

.howCount {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(3, 12, 38, 0.7);
  border-radius: 60%;
  background: hsl(225, 86%, 8%);
  margin-right: 10px;
  font-size: 12px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howCon {
  width: 80%;
}
.num {
  padding: 6px;
  color: white;
}

.cat-arrow {
  right: 21px;
  position: absolute;
  bottom: 12px;
  color: white;
  font-size: 34px;
}

.brand {
  background: #c3f1d4;
  margin: 13px;
  padding: 13px 40px 400px;
  position: relative;
}
.innovation {
  margin: 13px;
  background: #d7f0fb;
  padding: 13px 40px 200px;
  position: relative;
}

.procurement {
  margin: 13px;
  background: #ffd3e6;
  padding: 13px 40px 160px;
  position: relative;
}
.timemgt {
  margin: 13px;
  background: #d7e6f4;
  padding: 13px 40px 200px;
  position: relative;
}
.sales {
  margin: 13px;
  background: #dbf1fa;
  padding: 13px 40px 160px;
  position: relative;
}

.diver {
  margin: 40px;
}
@media (max-width: 1024px) {
  .form{
    width:90%;
  }
}

@media (max-width: 768px) {
 
}
@media only screen and (max-width: 768px) {
    .mini-content, .bms{
    width:90%;
  }
.bms-heading{
    width:50%;
  }
   .bms{
    padding-top:0;
  }
  .bms-em{
    flex-direction:column;
    padding:40px 15px;
  }
  .boxes {
    width: 100%;
    padding: 40px;
  }
 
  .input-group-text {
    font-size: 14px;
  }
  .leftBox {
    width: 100%;
    padding: 40px 0;
  }
  .rightBox {
    width: 100%;
    padding: 0;
    min-height: 100px;
  }
  .generate-text {
    font-size: 28px;
    text-align: center;
  }
  .form {
    width: 90%;
  }
   .accounting_slider{
    width:100%;
  }
  .leftSlide p{
    font-size:28px;
  }
}
@media only screen and (max-width: 575px) {
  .boxes {
    flex-direction: column-reverse;
    padding: 30px 20px;
  }
  .gp {
    font-size: 12px;
  }
  .gProfit {
    font-size: 16px;
  }
  .form {
    margin: 0 auto;
    width: 90%;
  }

  .input-group-text {
    font-size: 13px;
  }
  .leftBox {
    width: 100%;
    padding: 40px 0 0;
  }
  .rightBox {
    width: 100%;
  }
  .generate-text {
    font-size: 18.5px;
    text-align: center;
  }
  .newsletter {
    width: 300px;
  }
  .taskImg .f-35 {
    font-size: 16px;
  }
  .oneContainer,
  .twoContainer,
  .threeContainer,
  .fourContainer,
  .fiveContainer {
    border-radius: 0;
  }
  .howItWork {
    display: block !important;
    margin-right: 0;
    margin-left: 0;
  }
  .leftContainer {
    padding: 0 35px;
    width: 100%;
  }
  .howContent {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .hws {
    margin: 0;

    padding: 20px 0 5px;
  }
  .howCount {
    width: 15px;
    height: 15px;
  }
  .howCon {
    width: 100%;
  }
  .taskImg {
    color: #5b84a7 !important;
    font-size: calc(8px + (26 - 8) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
  .works {
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
    margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
  }
  .num {
    top: -5px;
    right: 3px;
    font-size: 12px;
  }
  .fa-2x {
    font-size: 1em;
  }
  .scrollUp {
    padding: 5px 7px;
  }
  @media (max-width: 425px) {
    .goAsk {
      font-size: 16px !important;
    }
    .askBiz {
      width: 75%;
    }
    .bizzy {
      width: 40px;
    }
    .askClose {
      width: 11% !important;
    }
    .fa-times,
    .fa-plus {
      font-size: 0.7em;
      top: 0;
      right: -16px;
    }
    .askTimes {
      top: -8px;
      right: 8px;
    }
      .card-title{
      font-size:13px;
  
    }
    .card-text{
       font-size:13px;
   
    }
  .slide_button{
    width:100%
  }
  .leftSlide{
    width:100%;
    padding:20px 5px
  }
  .mini-content{
    padding-top:10px;
  }
   .mini-content-title,  .bms-heading strong{
    font-size:16px;
  }
  .mini-content, .bms{
    width:100%;
  }
  .mini-content-title{
    width:60%;
    margin-left:-4.5%;
  }
   .business-words{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(10,145px);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .single-word{
    padding: 10px 9px;
    font-size: 12px;
    text-align: center;
  }
   .bms-heading strong{
    font-size:18px;
  }
  .mini-content{
    padding-left:15px;
    padding-right:15px;
    padding-top:30px;
  }

  .mini-content-title{
    font-size:18px;
    margin-left:-3%;
      padding: 15px 20px 13px;
  }
  .overviewMain{
    width:80%;
  }

 .bms-heading{
    width:85%;
    padding: 20px 20px 15px;
  }
   .accounting_slider{
    flex-direction: column;
    height:auto;
    width:100%;
    padding: 40px 0;
  }
  .rightSlide,.leftSlide{
    width:80%;
    margin:0 auto
  }
  .mini-content, .bms{
    width:100%;
  }
 
  .bms{
    padding-top:0;
  }
  .bms-em{
    flex-direction:column;
    padding:40px 15px;
  }
  .leftSlide{
    padding:20px;
    width:100%;
  }
  .leftSlide p{
    font-size:24px;
    text-align:center !important;
    padding:10px;
  }
  }
}
</style>

