<template>
    <div class="storBanner">
          <img src="/images/store.jpg">
          <h2 class="text"> Books</h2>
    </div>
</template>

<script>
    export default {
        name: "category-banner-component"
    }
</script>

<style scoped>
.storBanner{
    position: relative;
}
img{
    margin-top: 40px;
    width: 100%;
    max-height: 300px;
}
.text{
    position: absolute;
    top: 100px;
    left: 16px;
    font-size:60px;
    color: #000000;
}
 @media(max-width: 480px){
        .text{
            font-size:30px;
        }
}

</style>
