<template>
    <div class="vidBanner">
        <img src="/images/vid.png">
        <h2 class="text"> Videos</h2>

    </div>
</template>

<script>
    export default {
        name: "category-video-banner-component"
    }
</script>

<style scoped>
.vidBanner{
     position: relative;
}
img{
    margin-top: 40px;
    width: 100%;
    /* max-height: 300px; */

}
.text{
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 60px;
    color: #ffffff;
}
@media(max-width: 475px){
    .vidBanner{
     display: none;
}

        .text{
            font-size:30px;
            top: 110px;
        }
}
</style>
