<template>
  <div class="w-100">
    <div class="card">
      <!-- <div class="card-header bg-main text-white">Active users</div> -->
      <div class="card-body">
        <h5 class="mb-3">Online</h5>
        <div class="users" v-for="user in users" :key="user.id">
          <div class="image">
            <i
              class="fas fa-user-circle text-muted img img-rounded-circle"
              v-if="user.logo === undefined || user.logo === null"
            ></i>
                <img v-else :src="user.logo" class="img img-rounded-circle" alt="">
            <a href="#">{{ user.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["users"]
};
</script>

<style scoped>
.card {
  border: none;
}
.fa-user-circle{
    font-size: 28px;
}
.users {
  background-color: #fff;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #f7f8fa;
}
.card-header {
  background-color: #f7f7f8;
}
.users a {
  color: #333;
}
.image{
    display:flex;
    align-items: center;
}
.img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
@media (max-width: 1024px) {
.card-body {
    padding: 5px 15px;
  }
}
</style>