<template>
  <div class="main">
    <div class="container-fluid">
      <div class="mini rounded" v-if="show">
        <h3 class="mr-auto w-100 py-3 px-2 bchat">BAP-6 Chat</h3>
        <div class="mini_box">
          <div
            class="chat-users animated fadeIn"
            v-bind:class="{fadeOut:!onlineUsers}"
            v-if="onlineUsers"
          >
            <div class="ang" @click="closeUser">
              <i class="fa fa-times fa-1x p-2 text-muted" aria-hidden="true"></i>
            </div>
            <chat-users :users="users"></chat-users>
          </div>
          <div class="chat-messages">
            <chat-messages
              :messages="messages"
              :activeUser="activeUser"
              :height="height"
              @switch="switchChat"
              @showUsers="showUsers"
            ></chat-messages>
            <chat-form :user="user" @messagesent="addMessage" @sendTypingEvent="sendTypingEvent"></chat-form>
            <!-- <span class="text-white isTyping" v-show="activeUser">{{ activeUser.name }} is typing...</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      messages: [],
      user: JSON.parse(localStorage.getItem("authUser")),
      users: [],
      activeUser: false,
      typingTimer: false,
      large: false,
      height: 500,
      onlineUsers: true,
      show: false
    };
  },
  beforeRouteLeave(to, from, next) {
    localStorage.removeItem("notify");
    next();
  },
  beforeRouteEnter(to, from, next) {
    let user = JSON.parse(localStorage.getItem("authUser"));
    next(vm => {
      if (user !== null) {
        vm.getUserSub();
      } else {
        vm.$router.go(-1);
      }
    });
  },
  created() {
    if (window.innerWidth < 575) {
      this.onlineUsers = false;
    }
    if (window.innerWidth > 575) {
      this.onlineUsers = true;
    }
    if (this.$route.query.name == "large") {
      this.large = true;
      this.height = 500;
    }
    this.fetchMessages();

    Echo.join("chat")
      .here(user => {
        this.users = user;
      })
      .joining(user => {
        this.users.push(user);

        if (user.vendor_user_id != 0) {
          if (this.$route.path === "/chat") {
            this.$toasted.info(`${user.name} is now available for chat`);
          }
        } else {
          if (this.$route.path === "/chat") {
            this.$toasted.info(`${user.name} joined`);
          }
        }
      })
      .leaving(user => {
        this.users = this.users.filter(u => u.id != user.id);
        if (this.$route.path === "/chat") {
       
        }
      })
      .listen("MessageSent", e => {
        this.messages.push({
          message: e.message.message,
          created_at: e.message.created_at,
          user: e.user
        });
      })
      .listenForWhisper("typing", user => {
        this.activeUser = user;
        if (this.typingTimer) {
          clearTimeout(this.typingTimer);
        }
        this.typingTimer = setTimeout(() => {
          this.activeUser = false;
        }, 1000);
      });
  },
  mounted() {
    localStorage.removeItem("notify");
  },

  methods: {
    showUsers() {
      this.onlineUsers = !this.onlineUsers;
    },
    closeUser() {
      this.onlineUsers = false;
    },
    notifyUser(e) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/new-message`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(res => {});
    },
    switchChat() {
      this.$emit("switch");
    },
    sendTypingEvent() {
      Echo.join("chat").whisper("typing", this.user);
    },
    fetchMessages() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get("/api/messages", {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.messages = response.data;
          });
      }
    },

    addMessage(message) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        this.messages.push(message);

        axios
          .post("/api/message", message, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {}).catch(err=>{
              this.$toasted.error('Message not sent!!')
          });
      }
    },
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      if (user !== null) {
        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          if (response.data.length) {
            this.usersub = Math.round(response.data[0].level);

            if (
              Math.round(response.data[0].level) == 3 ||
              user.vendor_user_id !== 0
            ) {
               this.show = true;
             
            } else {
              this.$router.go(-1);
            }
          }
        });
      }
    }
  }
};
</script>

<style scoped>
/* .main{
   background-color: #f7f8fa;
} */
.container-fluid {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.mini {
  height: 100vh;
  background-color: #f7f8fa;
  width: 100%;
  margin: auto;

  padding: 15px;
}
.mini_box {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
}
h3 {
  font-family: "Josefin Sans";
}
.chat-messages {
  width: 75%;
}
.chat-users {
  width: 20%;
  min-height: 630px;
  border-radius: 10px;
  background: white;
}
.isTyping {
  font-size: 12px;
}
.ang {
  display: none;
}
@media (max-width: 1024px) {
}
@media (max-width: 425px) {
  .bchat {
    display: none;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .mini {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .chat-users {
    width: 50%;
    margin-bottom: 20px;
    min-height: auto;
    position: absolute;
    top: 15px;
    z-index: 3;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 15px;
    border-radius: 5px;
    padding: 5px;
  }
  .chat-messages {
    width: 100%;
  }

  .mini_box {
    flex-direction: row-reverse;
  }
  .ang {
    display: block;
    position: absolute;
    background: white;
    left: -9px;
    top: 0;
    border-radius: 50%;
  }
  .fa-1x {
    font-size: 0.6em;
  }
}
</style>