
<template>
<div class="bg">
    <div class="input-group" style="overflow:hidden; border-radius:10px;">
    <input
      id="btn-input"
      type="text"
      name="message"
      class="form-control input-sm border-0"
      placeholder="Type your message here..."
      @keydown="typing"
      v-model="newMessage"
      @keyup.enter="sendMessage"
    />

    <span class="input-group-btn">
      <button
        class="elevated_btn elevated_btn_sm mt-0 shadow-none border-0"
        style="height:44px"
        id="btn-chat"
        @click="sendMessage"
      > <i class="fas fa-paper-plane text-main" aria-hidden="true"></i></button>
    </span>
  </div>
</div>
</template>

<script>
export default {
  props: ["user"],

  data() {
    return {
      newMessage: ""
    };
  },

  methods: {
    sendMessage() {
     if (this.newMessage !== "") {
        this.$emit("messagesent", {
        user: this.user,
        message: this.newMessage,
       created_at: new Date()
      });

      this.newMessage = "";
     }else{
       this.$toasted.error("Can't send empty message")
     }
    },
    typing() {
      this.$emit("sendTypingEvent", {
        user: this.user,
        message: this.newMessage
      });
    }
  }
};
</script>
<style scoped>

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 13px;
}
.elevated_btn_sm {
  padding: 5px 20px 4px;
}
.form-control{
    height:44px;
}
@media(max-width:425px){
  .bg{
   position: fixed;
    bottom: 0;
    padding: 5px;
    background:#f7f8fa;
  }
  .input-group {
  
    display: table;
    border-collapse: separate;
   
}
.form-control{
  height:50px;
}
.elevated_btn_sm{
   height:50px !important;
}
}
</style>