<template>
  <div class>
    <div class="mini shadow rounded" v-bind:class="{'w-100':large}">
       <chat-users :users="users" class="d-none"></chat-users>
      <div class="chat-messages">
        <chat-messages
          :messages="messages"
          :activeUser="activeUser"
          :height="height"
          @switch="switchChat"
          :left="left"
        ></chat-messages>
        <chat-form :user="user" @messagesent="addMessage" @sendTypingEvent="sendTypingEvent"></chat-form>
        <!-- <span class="text-white isTyping" v-show="activeUser">{{ activeUser.name }} is typing...</span> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["left"],
  data() {
    return {
      messages: [],
      user: JSON.parse(localStorage.getItem("authUser")),
      users: [],
      activeUser: false,
      typingTimer: false,
      large: false,
      height: 350
    };
  },

  created() {
    if (this.$route.query.name == "large") {
      this.large = true;
      this.height = 800;
    }
    this.fetchMessages();

    Echo.join("chat")
      .here(user => {
        this.users = user;
      })
      .joining(user => {
        this.users.push(user);

        if (user.vendor_user_id != 0) {
          if (this.$route.path === "/chat") {
            this.$toasted.info(`${user.name} is now available for chat`);
          }
        } else {
          if (this.$route.path === "/chat") {
            this.$toasted.info(`${user.name} joined`);
          }
        }
      })
      .leaving(user => {
        this.users = this.users.filter(u => u.id != user.id);
        if (this.$route.path === "/chat") {
       
        }
      })
      .listen("MessageSent", e => {
        this.messages.push({
          message: e.message.message,
          created_at: e.message.created_at,
          user: e.user
        });
      })
      .listenForWhisper("typing", user => {
        this.activeUser = user;
        if (this.typingTimer) {
          clearTimeout(this.typingTimer);
        }
        this.typingTimer = setTimeout(() => {
          this.activeUser = false;
        }, 1000);
      });
  },

  methods: {
    switchChat() {
      this.$emit("switch");
    },
    sendTypingEvent() {
      Echo.join("chat").whisper("typing", this.user);
    },
    fetchMessages() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get("/api/messages", {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.messages = response.data;
          });
      }
    },

    addMessage(message) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        this.messages.push(message);

        axios
          .post("/api/message", message, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {});
      }
    }
  }
};
</script>

<style scoped>
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fa;
}
.mini {
  height: auto;
  background-color: #f7f8fa;
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 15px;
  border-radius: 5px;
  /* padding: 15px; */
}
.chat-messages {
  width: 100%;
}
.chat-users {
  width: 30%;
}
.isTyping {
  font-size: 12px;
}
</style>