<template>
  <div class="card border-0">
    <div class="card-header bg-main text-white w-100">
      <span>
        Messages
        <i
          class="fa fa-minus ml-auto p-2 text-white"
          @click="switchChat"
          v-if="showIcon"
          aria-hidden="true"
        ></i>
        <i
          class="fa fa-expand ml-auto p-2 text-white"
          @click="expand"
          v-if="showIcon"
          aria-hidden="true"
        ></i>
      </span>

      <i class="fa fa-users ml-auto mobile fa-1x" aria-hidden="true" @click="showUsers"></i>
    </div>
    <hr class="my-2" />
    <ul class="card-st" v-bind:style="{height:height+'px'}" v-chat-scroll>
      <img class="chatimg" v-bind:style="{left:left+'%'}" src="/images/feedback.svg" alt />
      <li v-for="(message,idx) in messages" :key="idx">
        <div
          class="d-fle align-items-end p-1 mb-2"
          v-bind:class="{'flex-row-reverse': (message.user.name == name)? true:false}"
        >
          <div class="img">
            <i
              class="fas fa-user-circle text-muted"
              v-if="message.user.logo === undefined || message.user.logo === null"
            ></i>

            <img v-else :src="message.user.logo" alt />
          </div>
          <div
            class="chat-body shadow-sm"
            v-bind:class="[{ 'me': (message.user.name == name)? true:false},{'you': (message.user.name != name)? true:false}]"
          >
            <div class="header">
              <strong class="primary-font">{{ message.user.name }}</strong>
            </div>
            <p class>{{ message.message }}</p>
            <small class="text-muted">{{ message.created_at | moment("D MMM, HH:mm") }}</small>
          </div>
        </div>
      </li>
      <li v-show="activeUser">
        <span class="text-muted isTyping">{{ activeUser.name }} is typing...</span>
      </li>
    </ul>
    <hr class="my-1" />
  </div>
</template>

<script>
export default {
  props: ["messages", "activeUser", "height", "left"],

  data() {
    return {
      name: "",
      showIcon: true
    };
  },
  beforeRouteEnter(to, from, next) {
    let user = JSON.parse(localStorage.getItem("authUser"));
    next(vm => {
      vm.name = user.name;
    });
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    this.name = user.name;
    this.hidechat();
  },
  methods: {
    showUsers() {
      this.$emit("showUsers");
    },
    switchChat() {
      this.$emit("switch");
    },
    hidechat() {
      if (this.$route.path === "/chat") {
        this.showIcon = false;
      } else {
        this.showIcon = true;
      }
    },
    expand() {
      this.$router.push("/chat");
    }
  }
};
</script>

<style scoped>
.card {
  background-color: transparent;
  width: 100%;
}
.card-st {
  width: 100%;
  overflow-y: scroll;
  padding: 10px 0 0;
}
.card-header {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.main-header {
  background-color: #f7f7f8;
}
.d-fle {
  display: flex;
}
.card {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  position: relative;
}
.chatimg {
  position: -webkit-sticky;
  position: sticky;
  top: 40%;
  left: 43%;
  width: 150px;
  height: 150px;
  margin-left: -50px;
  margin-top: -150px;
  opacity: 0.18;
}
/* .card li {
  border-bottom: 1px solid #f7f7f8;
} */
.you {
  background-color: #fff;
  margin-right: 25px;
}
.me {
  background-color: #d1e0ed;
  margin-left: 25px;
}
.fa-user-circle {
  font-size: 28px;
}
.card li .chat-body p {
  margin: 0;
  color: hsl(208, 44%, 20%);
}
.chat-body {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin: 0 5px;
}
.img img {
  width: 30px;

  height: 30px;
}
.isTyping {
  font-size: 12px;
}
.mobile {
  display: none;
}
@media (max-width: 425px) {
  .mobile {
    display: block;
  }
  .card-st {
    height: 83vh !important;
  }
  .chatimg {
    left: 30%;
  }
  .card-header {
    font-size: 12px;
  }
   .mobile.fa-1x{
    font-size:16px;
  }
  
}
</style> 