<template>
    <div>
        
    </div>
</template>
<script>
export default {
    name:'clear-expenses',
    mounted(){
        axios.delete('/api/test-cron').then(response=>{
        console.log("TCL: mounted -> response", response)
            
        })
    }
}
</script>