<template>
	<div class="main_content">
         <ul>
            <li v-for="(breadcrumb, index) in breadcrumbList"  v-bind:key="index" @click="routeTo(index)"  :class="{linked: !!breadcrumb.link}">
               {{breadcrumb.name}}
             </li>
       </ul>
		<div class="row first_content">
			<div class=" blank_content">
				<div class="publish_content">
					<h2 class="headers" style="width:100%;">
						BPF: A Place To Share Your African Business Insight
					</h2>
					<p class="first_text">
						We’ve created a home for all stakeholders of Africa’s
						informal sector to converge. Industry leaders, experts
						and emerging entrepreneurs can now put out their
						business insight and enrich each other’s perspective.
						For us, it’s really about connecting, learning and
						collaborating on changing Africa’s socioeconomic
						narrative through her enterprises.
					</p>
				</div>
			</div>

			<div class=" first_image">
				<img
					src="/images/first.jpg"
					alt="first"
				/>
			</div>

			<div class="line_content"></div>
		</div>
		<div class="row second_content">
			<div class=" believe_content">
				<h2 style="width:100%;" class="subHeaders">
					We believe we all offer valuable insight
				</h2>
				<p class="second_text">
					We believe we all have valuable insight to offer- old and
					new, established and emerging. So anyone who publishes here
					can also join the BizGister Forum and earn money for sharing
					their business insights and expertise with the world.
					Insights are rewarded by readers who believe in the quality
					of the idea, not just the attention they attract for
					advertisers. So you can focus on what matters— putting only
					your best insight out there.
                    </p>
                    <button type="button" class="btn btn-primary btn-sm ">Join the BizGister
					Forum </button>

			</div>
			<div class=" believe_image">
				<img
					src="/images/insights.jpg"
					alt="believe"
				/>
			</div>
		</div>
		<div class="row extra_content">
			<div class="instructor_content">
				<h2 style="width:100%;" class="subHeaders">
					BIZGURUH PARTNER FORUM (BPF)
				</h2>
				<p class="extra_text">
					BPF is an open forum of stakeholders of the informal sector
					that includes; regulatory institutions, academic
					institutions, business proprietors and consumers. We
					facilitate connection, education, shared insight and
					collaboration amongst stakeholders, with the aim of
					enhancing the ecosystem. Stakeholders are broadly
					categorized: Sponsor, Expert, Instructor, Contributor and
					Community Member. BPF membership is open to all with a
					genuine desire to see the African informal sector thrive. By
					becoming a BPF Member, you are guaranteed: ⁃ A platform for
					broader impact leading to a positive change in Africa’s
					socioeconomic narrative, through her enterprises ⁃ Technical
					support empowering you to maximize your knowledge ⁃ Get
					paid- just for sharing ⁃ Brand exposure to a wider network ⁃
					Cost savings on market research and enhanced marketing ⁃
					Front row pass at the forum of the new elite business
					educators.
                    </p>
                   <router-link to="/vendor/auth">
                     <button type="button" class="btn btn-primary btn-sm ">Partner With Us</button>
                   </router-link>

			</div>
		</div>
		<div class="row third_content">
			<h2 style="width:100%;" class="subHeaders">How it works</h2>
			<div style="width:100%;" class="desktop">
				<div
					class=" works_content col-lg-4 col-md-4 col-sm-4 col-xs-2 "
				>
                    <div class="work_container">
                        <img
					src="/images/share.jpg"
					alt="believe"
				/>
                    </div>
					<h5 class="miniHeaders">Share something good</h5>
                    <p class="third_text">Share your experiences as an African
					entrepreneur and thoughts about something that matters to
					you as a business owner or expert, in video, audio or text
					format. It can be short or long, serious or funny, reported
					or opinionated - it’s the quality of your perspective that
					counts.</p>
				</div>
				<div class="works_content col-lg-4 col-md-4 col-sm-4  col-xs-2">
                     <div class="work_container">
                         <img
					src="/images/work.jpg"
					alt="believe"
				/>
                     </div>
					<h5 class="miniHeaders">Put your story to work</h5>
                   <p  class="third_text"> If you’d like to earn money through
					the BizGister Program, make sure that you indicate this in
					the available fields on your upload form when you publish.</p>
				</div>
				<div class="works_content col-lg-4 col-md-4 col-sm-4  col-xs-2">
                     <div class="work_container">
                         <img
					src="/images/referral.png"
					alt="believe"
				/>
                     </div>
					<h5 class="miniHeaders">Get recommended to readers</h5>
                    <p  class="third_text"> Our editorial team reviews a ton
					of iBizGists every day. When a story meets our editorial
					standards and endorsed by our subject matter experts, it
					will be recommended to readers interested in relevant topics
					across BizGuruh.com, our app, and email digests.</p>
				</div>
				<div class="works_content col-lg-4 col-md-4 col-sm-4  col-xs-2">
                     <div class="work_container">
                         <img
					src="/images/makemoney.jpg"
					alt="believe"
				/>
                     </div>
				<h5 class="miniHeaders">	Earn for your work</h5>
                     <p class="third_text">If you’re in the BizGister Program,
					you’ll earn money when subscribing members read, bookmark or
					archive your work on their BizLibrary</p>
				</div>
				<div class="works_content col-lg-4 col-md-4 col-sm-4  col-xs-2">
                     <div class="work_container">
                         <img
					src="/images/earn.jpg"
					alt="believe"
				/>
                     </div>
					<h5 class="miniHeaders">Get paid monthly </h5>
                    <p  class="third_text">At the end of every calendar month, we’ll
					deposit what you’ve earned into your bank account.</p>
				</div>
				<div
					class=" works_content col-lg-4 col-md-4 col-sm-4  col-xs-2"
				>
                 <div class="work_container">
                     <img
					src="/images/expand.png"
					alt="believe"
				/>
                 </div>
					<h5 class="miniHeaders">Expand your BizTribe</h5>
                   <p  class="third_text"> Your story doesn’t end here. Keep
					sharing your business experiences and perspective to build
					and broaden your BizTribe. We’ll help spread the word too.</p>
				</div>
			</div>
			<div class="mobile">
				<carousel
					:perPageCustom="[[320, 1], [375, 1], [425, 1], [768, 2]]"
					:navigationEnabled="false"
					:paginationEnabled="true"
                    :loop="true"
				>
					<slide class="">
							<div
					class=" works_content "
				>
                 <div class="work_container">
                            <img
					src="/images/share.jpg"
					alt="believe"
				/>
                 </div>
					<h5 class="miniHeaders">Share something good</h5>
                    <p class="third_text">Share your experiences as an African
					entrepreneur and thoughts about something that matters to
					you as a business owner or expert, in video, audio or text
					format. It can be short or long, serious or funny, reported
					or opinionated - it’s the quality of your perspective that
					counts.</p>
				</div>
					</slide>
					<slide class="">
						<div class="works_content ">
                             <div class="work_container">
                                   <img
					src="/images/work.jpg"
					alt="believe"
				/>
                             </div>
					<h5 class="miniHeaders"> Put your story to work</h5>
                   <p  class="third_text"> If you’d like to earn money through
					the BizGister Program, make sure that you indicate this in
					the available fields on your upload form when you publish.</p>
				</div>
					</slide>
					<slide class="">
						<div class="works_content ">
                             <div class="work_container">
                                       <img
					src="/images/referral.png"
					alt="believe"
				/>
                             </div>
					<h5 class="miniHeaders">Get recommended to readers</h5>
                    <p  class="third_text"> Our editorial team reviews a ton
					of iBizGists every day. When a story meets our editorial
					standards and endorsed by our subject matter experts, it
					will be recommended to readers interested in relevant topics
					across BizGuruh.com, our app, and email digests.</p>
				</div>
					</slide>
					<slide class="">
						<div class="works_content ">
                             <div class="work_container">
                                       <img
					src="/images/makemoney.jpg"
					alt="believe"
				/>
                             </div>
				<h5 class="miniHeaders">	Earn for your work</h5>
                     <p>If you’re in the BizGister Program,
					you’ll earn money when subscribing members read, bookmark or
					archive your work on their BizLibrary</p>
				</div>
					</slide>
					<slide class="">
						<div class="works_content ">
                             <div class="work_container">
                                       <img
					src="/images/earn.jpg"
					alt="believe"
				/>
                             </div>
					<h5 class="miniHeaders">Get paid monthly </h5>
                    <p  class="third_text">At the end of every calendar month, we’ll
					deposit what you’ve earned into your bank account.</p>
				</div>
					</slide>
					<slide class="">
						<div
					class=" works_content "
				>

                     <div class="work_container">
                           <img
					src="/images/expand.png"
					alt="believe"
				/>
                     </div>
                     <h5 class="miniHeaders">Expand your BizTribe</h5>
                   <p  class="third_text"> Your story doesn’t end here. Keep
					sharing your business experiences and perspective to build
					and broaden your BizTribe. We’ll help spread the word too.</p>
				</div>
					</slide>
				</carousel>
			</div>

			<div class="line_content"></div>
		</div>

		<div class="row fourth_content">
			<div class="rewarded_content">
				<h2 style="width:100%;" class="subHeaders">
					You’re rewarded by our BizTribe, not advertisers
				</h2>
                <p class="fourth_text">In	the	BizGist	Program,	contributors	are	paid	based	on	how	deeply	others	engage	with	their	perspective,	not	based	on	clicks	or	attention.	Every	month,	we	distribute	each	member’s	subscription	fee	in	proportion	to	the	contributors	and	stories	she	engaged	with	that	month</p>
			</div>
			<div class="rewarded_image">
				<img
					src="/images/tribe.jpg"
					alt="readers"
				/>
			</div>
		</div>

		<div class="row extra_content bgLightBlue">
			<div class="instructor_content">
				<h2 style="width:100%;" class="subHeaders">
					BECOME A BIZGURUH INSTRUCTOR
				</h2>
				<p class="extra_text">
					<div class="instruct"><h5 class="miniHeaders">Make a global impact</h5>
                    <p>Turn what you know into an opportunity.
					Create online courses and earn money by teaching people
					around the world how to do business in Africa.</p></div>
                    <div  class="instruct"> <h5 class="miniHeaders"> HOW IT WORKS</h5>
					<p>Plan your course ==> Record and collate your resources ==>
					Build your student-community</p></div>
                     <h4 class="instruct_main">Planning your course</h4>
                  <div  class="instruct">  <h5 class="miniHeaders"> Get organized</h5>
                  <p>  Start with your passion and knowledge. Then choose
					a topic and plan your lectures in Google Docs, Microsoft
					Excel, or your favorite notebook. You get to teach the way
					you want — even create courses in multiple languages and
					inspire more students.</p></div>
                  <div  class="instruct">  <h5 class="miniHeaders">How we help you</h5>
                    <p> BizGuruh offers free courses on how to build your own course, complete with
					worksheets and real-world examples. Plus, our instructor
					dashboard and curriculum pages help keep you on track.</p></div>
                     <div  class="instruct"><h5 class="miniHeaders">WE ARE HERE TO HELP</h5>
                   <p> Our BizInstructor Support Team is here for
                       you 24/7 to help you through your course creation needs.
					Contact us directly or join BizInstructor Facebook Forum and
					get peer-to-peer support from our engaged instructor
					community. This Facebook group is always on, always there,
					and always helpful.</p></div>
                   <div  class="instruct"> <h5 class="miniHeaders">Become an instructor today</h5>
                   <p> Let’s build
					Africa’s largest online business learning marketplace.
                    </p>

                    </div>
                    </p>
					<div>
                      <router-link to="/vendor/auth">
                          <button type="button" class="btn btn-primary btn-lg ">Partner With Us</button>
                      </router-link>
                        </div>

			</div>
		</div>



		<div class="row fifth_content">
			<h2 style="width:100%" class="subHeaders">
				Why people love our BizTribe
			</h2>
			<!-- <div class="desktop  love_content">
                <div class="love_writing">
                <div class="d-flex mb-2">

                       <div  class="love_img">
                            <img src="/images/profile.png" alt="" srcset="">
                       </div>

                    <div class="love_name">Oladunni Omotola</div>
                </div>
                <div class="love_text" > I am here because @freesiafoodies asked us to, but seriously I must say it is worth it.</div>
            </div>
			<div class="love_writing">
                <div class="d-flex mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">Tinuke Adegboye</div>
                </div>
                <div class="love_text" > I heard about your page from Nwanyiakamu and I followed you. Your content is very educative and qualitative always. Keep it up and thank you.</div>



            </div>
			<div class="love_writing">
                 <div class="d-flex  mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">@theefosa</div>
                </div>
                <div class="love_text" >   I find your insights very inspiring, I stopped dreaming and started doing.</div>
            </div>
			<div class="love_writing">
                 <div class="d-flex mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">@oilbyo</div>
                </div>
                <div class="love_text" > The post on registering ones business was particularly beneficial. I’m currently saving towards it and the post on affirmations daily no matter how business is going.</div>
            </div>
			<div class="love_writing">
                 <div class="d-flex mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">@thattokelady</div>
                </div>
                <div class="love_text" > I am applying your insights in the growth of my business. Keep sharing them.
</div>
            </div>

            </div> -->
               	<div class="cont">
				<carousel
					:perPageCustom="[[320, 1], [375, 1], [425, 1], [768, 3]]"
					:navigationEnabled="false"
					:paginationEnabled="true"
                    :loop="true"


				>
					<slide class="">
				<div class="love_writing">
                 <div class="d-flex  mb-2">
                    <div class="love_img">
                      <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">Oladunni Omotola</div>
                </div>
                <div class="" > I am here because @freesiafoodies asked us to, but seriously I must say it is worth it.</div>
               </div>
					</slide>

					<slide class="">
						<div class="love_writing">
                 <div class="d-flex  mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                      <div class="love_name">Tinuke Adegboye</div>
                </div>
                <div class="love_text" > I heard about your page from Nwanyiakamu and I followed you. Your content is very educative and qualitative always. Keep it up and thank you.</div>
            </div>
					</slide>
					<slide class="">
					<div class="love_writing">
                 <div class="d-flex  mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">@theefosa</div>
                </div>
                <div class="love_text" >   I find your insights very inspiring, I stopped dreaming and started doing.</div>
            </div>
					</slide>
					<slide class="">
						<div class="love_writing">
                 <div class="d-flex  mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                    <div class="love_name">@oilbyo</div>
                </div>
                <div class="love_text" > The post on registering ones business was particularly beneficial. I’m currently saving towards it and the post on affirmations daily no matter how business is going.</div>
            </div>
					</slide>
					<slide class="">
					<div class="love_writing">
                 <div class="d-flex  mb-2">
                    <div class="love_img">
                         <img src="/images/profile.png" alt="" srcset="">
                    </div>
                     <div class="love_name">@thattokelady</div>
                </div>
                <div class="love_text" > I am applying your insights in the growth of my business. Keep sharing them.
</div>
            </div>
					</slide>
				</carousel>
			</div>
		</div>

		<div class="row sixth_content">
			<div class="ideas_content">
				<h2 style="width:100%" class="subHeaders">
					We love quality BizGist
				</h2>
				<p class="sixth_text">
					Insights published on BizGuruh should foster thinking that
					educates, inspires, and moves understanding forward. We’ve
					created some best practices to ensure everyone’s on the same
					page.
                    <p><strong> Full editorial guidelines</strong></p>
				</p>
			</div>
			<div class="ideas_content_icons">
				<h2 style="width:100%" class="beg mb-2">BIZGURUH EDITORIAL GUIDELINES</h2>
                <div class="d-flex  ideas_single">
                     <div class="col-lg-3 col-md-3 col-xs-3 ideas_container one">1</div>
				<div class="col-lg-9 col-md-9 col-xs-9">
					<h5 class="miniHeaders">MAKE IT YOURS</h5>
                    <p>All writing and images must be your own, or
					must be used with permission or citation.</p>
				</div>
                </div>
				<div class="d-flex  ideas_single">
                     <div class="col-lg-3 col-md- col-xs-3 ideas_container two">2</div>
				<div class="col-lg-9 col-md-9 col-xs-9">
					<h5 class="miniHeaders">KEEP IT AD-FREE</h5>
                    BizGuruh doesn’t accept advertising. Please
					don’t market yourself or other products, feature
					advertisements, or include requests for bookmarks,
					donations, or email signups.
				</div>
                </div>
				<div class="d-flex  ideas_single">
                     <div class="ideas_container  col-lg-3 col-md-3 col-xs-3 three">3</div>
				<div class=" col-lg-9 col-md-9 col-xs-9">
					<h5 class="miniHeaders">RAISE THE BAR</h5>
                    <p>Our BizTribe seek valuable and practical
					insight. So we recommend publishing only your best business
					experiences, analysis and ideas.</p>
				</div>
                </div>
			</div>
			<div class="line_contentt"></div>
		</div>

		<div class="row seventh_content">
			<div class="crave_smart">
				<h2 style="width:100%" class="subHeaders">
					Our BizTribe crave smart, insightful thinking from diverse
					voices, across subject matters and industries
				</h2>
				<p class="seventh_text mb-2">
					Industry experts and emerging entrepreneurs add color and
					flair by contributing based on what they know and what they
					love. No two insights are exactly alike. So go on and make
					your mark!
				</p>
			</div>
			<div class="crave_image">
				<img
					src="/images/thinking.jpg"
					alt="thinking"
				/>
			</div>
		</div>
		<hr>

		<div class="row eight_content">
			<h4 style="width:100%; text-align:left;" class="rbgist mb-4">
			Did you know? We provide answers to your most pressing business-related questions. Here are some of the questions from our tribe members:
			</h4>
			<div class="desktop col-lg-12 col-md-12 col-sm-12 ">
				<div class=" recent_content col-lg-3 col-md-3 col-sm-3">
				I would like to know how I would leverage social media to generate more customers for my online business <br> — <strong>Osas</strong>

				</div>

				<div class="recent_content col-lg-3 col-md- col-sm-3">
					I would like to know how to leverage my social media to work with brands and get more partnerships <br> — <strong>Toke</strong>

				</div>
				<div class="recent_content col-lg-3 col-md-3 col-sm-3">
					How can I improve brand visibility and product sales? <br> — <strong>Adedunni</strong>

				</div>
				<div class="recent_content col-lg-3 col-md-3 col-sm-3">
					What do you do when you need money for personal runs and its only your business account that can save you. Do you borrow from the business account and return or let it slide? <br> — <strong>@mzpotable</strong>

				</div>
				<div class=" recent_content col-lg-3 col-md-3 col-sm-3">
					How do I determine how much to pay myself monthly as a business owner? <br> — <strong>Adaobi</strong>

				</div>
				<div class=" recent_content col-lg-3 col-md-3 col-sm-3">
					I’m interested in building a career in business strategy and marketing. How do I go about this? <br> — <strong>Benedict</strong>

				</div>
				<div class=" recent_content col-lg-3 col-md-3 col-sm-3">
					How do I manage my emotions about my business competitor. My stomach knots when I see another company entering the market and doing what I’m about to do. <br> — <strong>Ugochi</strong>
				</div>
                 <p class=" col-lg-12 col-md-12 col-sm-12 mt-4"><span  style="padding-right: 5px;">Go On— Ask! </span>   <router-link to="/ask-bizguruh"> <button type="button" class="btn btn-primary btn-lg ">Ask Bizguruh</button></router-link></p>
			</div>
			<div class="mobile">
				<carousel
					:perPageCustom="[[320, 1], [375, 1], [425, 2], [768, 2]]"
					:navigationEnabled="false"
					:paginationEnabled="true"
                    :loop="true"

				>
					<slide class="" style="line-height:1.6">
						I would like to know how I would leverage social media to generate more customers for my online business— <strong>Osas</strong>

					</slide>
					<slide class=""  style="line-height:1.6">
						How can I improve brand visibility and product sales? — <strong>Adedunni</strong>

					</slide>
					<slide class=""  style="line-height:1.6">
						I would like to know how to leverage my social media to work with brands and get more partnerships— <strong>Toke</strong>

					</slide>
					<slide class=""  style="line-height:1.6">
							What do you do when you need money for personal runs and its only your business account that can save you. Do you borrow from the business account and return or let it slide?— <strong>@mzpotable</strong>

					</slide>
					<slide  style="line-height:1.6">
						How do I determine how much to pay myself monthly as a business owner?— <strong>Adaobi</strong>

					</slide>
					<slide class=""  style="line-height:1.6">
						I’m interested in building a career in business strategy and marketing. How do I go about this?— <strong>Benedict</strong>

					</slide>
					<slide class=""  style="line-height:1.6">
							How do I manage my emotions about my business competitor. My stomach knots when I see another company entering the market and doing what I’m about to do.— <strong>Ugochi</strong>
					</slide>

				</carousel>

             <p class="mt-4"><span  style="padding-right: 5px;">Go On— Ask! </span>   <router-link to="/ask-bizguruh"> <button type="button" class="btn btn-primary btn-lg ">Ask Bizguruh</button></router-link></p>

			</div>
		</div>
		<div class="row ninth_content">
			<h2 style="width:100%;" class="yinsights subHeaders">
				YOUR INSIGHT IS DEFINITELY WORTHY
			</h2>
			<div class="worthy_content">
				<!-- <p>Frequently Asked Questions</p> -->
				<div class="final_button">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-2 ">
                    <button type="button" class="btn btn-primary btn-lg btn-block  "> Become a BizGister</button>
                </div>
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-2 ">
                        <router-link to="/vendor/auth">
                        <button type="button" class="btn btn-primary btn-lg   btn-block">Become a BizInstructor</button>
                        </router-link>

                    </div>
                    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-2">
                    	<router-link to="/auth">
                            <button type="button" class="btn btn-primary btn-lg  btn-block">  Join
					Our BizTribe</button>
                        </router-link>
                         </div>
                        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-2 p-2">
                    <router-link to="/explore">
                        <button type="button" class="btn btn-primary btn-lg  btn-block">Explore BizGuruh</button>
                    </router-link>
                     </div>
				</div>
                </div>
			</div>
		</div>
	</div>
</template>


<script>
import { Carousel, Slide } from "vue-carousel";
export default {
	name: "community-component",
	data() {
		return {breadcrumbList:[],};
	},
	components: {
        Carousel,
        Slide
    },
    mounted() {
         this.updateList()
    },
     watch: {
        '$route'(){
         this.updateList()
        }
    },
    methods: {
         routeTo(pRouteTo){
            if (this.breadcrumbList[pRouteTo].link) {
                    this.$router.push(this.breadcrumbList[pRouteTo].link)
            }

            },
            updateList(){
                     this.breadcrumbList = this.$route.meta.breadcrumb;


            },

    },
};
</script>

<style scoped>
ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 10px 10px 22px;
    padding:5px 15px;
    background:#f7f7f7;
  }
  ul > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    font-weight: bold;
    font-size: .8em;
    cursor: default;
    align-items: center;
  }
  ul > li:not(:last-child)::after {
    content: '/';
    float: right;
    font-size: .8em;
    margin: 0 .5em;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
  }
.main_content {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
	) !important;
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
    background: hsl(0, 0%, 100%);
}
.btn-primary {
	background: #5c7991 !important;
	border: #5c7991 !important;
	text-transform: capitalize;
}
.headers {
	font-weight: bold;
	font-size: calc(
		18px + (34 - 18) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: calc(1.3em + (1.6 - 1.2) * ((100vw - 300px) / (1600 - 300)));
	margin-bottom: 20px;
}
.subHeaders {
	font-size: calc(
		16px + (28 - 16) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: calc(1.3em + (1.6 - 1.2) * ((100vw - 300px) / (1600 - 300)));
	margin-bottom: 20px;
	font-weight: bold;
}
.miniHeaders {
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: calc(1.3em + (1.6 - 1.2) * ((100vw - 300px) / (1600 - 300)));
	margin-bottom: 10px;
	font-weight: bold;
}
.beg {
	padding: 5px;
	background: #fff;
}
.rbgist {
	padding: 5px;
	background: #fff;
    font-size: 16px;
    text-align:left;
    line-height: 1.6;
}
.yinsights {
	padding: 5px;
	background: #fff;
}
.one,
.two,
.three {
	font-size: 40px;
}
.first_text {
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: 1.6;
}
.second_text {
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: 1.6;
	margin-bottom: 10px;
}
.third_text {
    text-align: left;
    line-height: 1.6;
}
.fourth_text {
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
    ) !important;
    line-height: 1.6;

}
.sixth_text {
	font-size: calc(
		15px + (17 - 15) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: 1.6;
}
.instruct {
	margin: 20px 0;
	font-size: 16px !important;
}
.instruct_main {
	margin: 20px 0;
	font-size: 18px !important;
}
.bgLightBlue {
	background-color: #e8edf1;
}
.final_button {
	margin-left: auto;
	margin-right: auto;
}
.work_container {
	position: relative;
	display: flex;
	width: 165px;
	height: 165px;
	border-radius: 50%;
	border-left: 1px solid #a4c2db;
	border-right: 1px solid #a4c2db;
	overflow: hidden;
	margin-bottom: 20px;
	margin-right: auto;
	/* margin-left:auto; */
}
.work_container img {
	width: 100%;
	height: 100%;
	background: #a4c2db;
}
.love_img {
	border-top: 2px  rgb(113, 148, 177) dotted;
	border-bottom: 2px rgb(113, 148, 177) dotted;
	max-width: 50px;
    max-height: 50px;
    	width: 100%;
	height: 100%;
    padding:3px;
	border-radius: 50%;
	overflow: hidden;
}
.love_img img {
	width: 100%;
	height: 100%;
    background: #a4c2db;
    border-radius: 50%;
}
.love_name {
	padding: 25px 0 0 10px;
    font-weight: bold;
    font-size:12px;
    text-align: left;
}
.love_text {
    text-align: left;
    line-height: 1.5;
}
.love_content {
	width: 100%;
	display: flex;
}

.mobile {
	display: none;
	width: 100%;
}
.desktop {
	width: 100%;
}
.extra_content {
	width: 70%;
	padding: 30px;
	margin: 0 auto;
    text-align: left;
    line-height: 1.6;
}
.extra_text {
	text-align: left;
	margin-bottom: 10px;
}
.first_content {
	text-align: left;
	position: relative;
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.first_image {
	width: 50%;
	position: absolute;
	/* border: 1px solid blue; */
	right: 0;
	height: 550px;
	background-position: center !important;
	background-origin: border-box !important;
	background-size: cover !important;
	z-index: 70 !important;
}
.first_image img {
	width: 100%;
	height: 100%;
}
.blank_content {
	width: 70%;
	position: relative !important;
	padding-top: 60px !important;
	padding-bottom: 60px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.publish_content {
	width: 60%;
	position: relative;
	/* border: 1px solid red; */
	height: 400px;
	background: #e8f3ec;
	/* margin: 0 60px; */
	margin-top: 8px !important;
	padding-bottom: 100px !important;
	padding: 50px !important;
	box-sizing: border-box !important;
	z-index: 100 !important;
}
.line_content {
	border-left: 1px solid black;
	right: 438px !important;
	bottom: -203px !important;
	height: 204px;
	position: absolute;
}
.second_content {
	position: relative;
	text-align: left;
	width: 75%;

	margin-top: 140px;
	padding-top: 60px !important;
	padding-bottom: 30px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 5px !important;
	box-sizing: border-box;
	display: inline-block;
	align-items: flex-end;
	font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
	vertical-align: top;
}

.believe_image {
}
.believe_content {
	width: 50%;
	float: right;
	padding: 0 40px;
}
.believe_image {
	float: left;
	text-align: right;
	width: 50%;
	height: 400px;
	/* border-radius: 50%; */
	background-position: center !important;
	background-origin: border-box !important;
	background-size: cover !important;
	overflow: hidden;
}
.believe_image img {
	width: 100%;
	height: 300px;
	border-radius: 50%;
}
.cont{
    width:100%;
}
.third_content,
.fourth_content,
.fifth_content,
.sixth_content,
.seventh_content,
.eight_content,
.ninth_content {
	position: relative;
	font-size: calc(
		14px + (16 - 14) * ((100vw - 300px) / (1600 - 300))
	) !important;
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}
.third_content {
	padding: 60px;
	/* border: 1px solid blue; */
	background: #bcc8d2;
}
.third_content .line_content {
	left: 271px !important;
}
.works_content {
	/* border: 1px solid blue; */

	height:auto;
	margin-bottom: 30px;
	text-align: left;
}
.fourth_content {
	display: flex;
	text-align: left;
	padding: 60px;
	/* border: 1px solid yellow; */
	margin-top: 140px;
}
.rewarded_content,
.rewarded_image {
	width: 50%;
	height: 450px;
}
.rewarded_content {
	padding:150px 60px;
}
.rewarded_image {
	/* border-radius: 50%; */

	background-position: center !important;
	background-origin: border-box !important;
	background-size: cover !important;
	overflow: hidden;
}
.rewarded_image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.fifth_content {
	display: flex;
	/* border: 1px solid brown; */
	margin-top: 100px;
}
.love_writing {
	width: 100%;
	height: 200PX;
    padding:20px 30px;
   box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	/* border: 1px solid brown; */
}

.sixth_content {
	display: flex;
	/* border: 1px solid firebrick; */
	padding: 60px 50px;
	height: 450px;
	position: relative;
}
.ideas_content {
	position: absolute;
	width: 50%;
	/* border: 1px solid firebrick; */
	height: auto;
	right: 0;
	padding: 60px;
	text-align: left;
}
.ideas_content_icons {
	position: absolute;
	padding: 20px;
	background: #a4c2db;
	width: 50%;
	/* border: 1px solid firebrick; */
	height: auto;
	left: 0;
}
.ideas_single {
	margin-bottom: 20px;
	text-align: left;
}
.ideas_container {
	padding: 10px;
	text-align: right;
	font-weight: bolder;
}
.sixth_content .line_contentt {
	border-left: 1px solid black;
	right: 471px !important;
	bottom: -155px !important;
	height: 310px;
	position: absolute;
}
.seventh_content {
	text-align: left;
	/* border: 1px solid rebeccapurple; */
	width: 70%;
	margin-top: 140px;
	padding-top: 50px;
	padding-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
}
.seventh_text{
    line-height: 1.6;
}
.crave_smart,
.crave_image {
	width: 50%;
}
.crave_image {
	/* border-radius: 50%; */
	padding: 0 20px;
	background-position: center !important;
	background-origin: border-box !important;
	background-size: cover !important;
	overflow: hidden;
}
.crave_image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.eight_content {
	position: relative;
	width: 70%;
	background: hsl(0, 8%, 98%);
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}
.recent_content {

	height: auto;
    margin-bottom: 20px;
    text-align:left;
}
.ninth_content {
	background: #a4c2db;
	padding: 80px;
	padding-top: 20px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}
.worthy_content {
	width: 100%;
}
@media (max-width: 767px) {
	.main_content {
		padding-top: 47px;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.line_content {
		display: none;
	}
	.blank_content {
		width: 100%;
		position: relative !important;
		padding-top: 0 !important;
		padding-bottom: 60px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.publish_content {
		width: 100%;
		position: relative;
		/* border: 1px solid red; */
		height: 400px;
		background: #e8f3ec;
		/* margin: 0 60px; */
		margin-top: 0 !important;

		padding: 30px !important;
		padding-bottom: 100px !important;
		box-sizing: border-box !important;
		z-index: 100 !important;
	}
	.first_image {
		width: 40%;
		z-index: 100 !important;
		height: 230px;
		bottom: 0 !important;
	}
	.second_content {
		width: 100%;
		/* border: 1px solid green; */
		margin-top: 40px;
		padding-top: 0 !important;
		padding-bottom: 10px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 5px !important;
		box-sizing: border-box !important;
		display: flex;
		align-items: flex-end;
		vertical-align: top;
	}
	.believe_image,
	.believe_content {
		width: 100%;
	}
	.believe_image {
		text-align: center !important;
		height: auto;
	}
	.believe_image img {
		width: 200px;
		height: 100%;
		padding: 20px;
	}
	.extra_content {
		width: 100%;
	}
	.third_content {
		padding: 10px;
		/* border: 1px solid blue; */
	}

	.works_content {
		/* border: 1px solid blue; */
		height: auto;
		padding: 10px;
	}

	.fourth_content {
		display: block;
		padding: 10px;
		/* border: 1px solid yellow; */
		margin-top: 40px;
	}
	.rewarded_content,
	.rewarded_image {
		width: 100%;
		height: auto;
		padding: 20px;
	}
	.fifth_content {
		display: flex;
		/* border: 1px solid brown; */
		margin-top: 50px;
	}
	.love_writing {
		width: 100%;
		height: auto;
		/* border: 1px solid brown; */
	}

	.sixth_content {
		display: flex;
		/* border: 1px solid firebrick; */
		padding: 0;
		height: auto;
	}
	.ideas_content {
		width: 100%;
		/* border: 1px solid firebrick; */
		height: auto;
		position: relative;
	}
	.ideas_content_icons {
		width: 100%;
		/* border: 1px solid firebrick; */
		height: auto;
		position: relative;
	}
	.seventh_content {
		/* border: 1px solid rebeccapurple; */
		width: 100%;
		margin-top: 10px;
		padding: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	.crave_smart {
		width: 100%;
	}
	.crave_image {
		width: 100%;
	}
	.eight_content {
		/* border: 1px solid darkblue; */
		width: 100%;
		margin-top: 50px;
		padding: 20px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: auto;
        margin-right: auto;

	}
	.recent_content {
		/* border: 1px solid saddlebrown; */
		height: 150px;
	}
	.ninth_content {
		/* border: 1px solid gold; */
		padding: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
    }
    @media(max-width:768px){
        .work_container{
            width:100px;
            height:100px;
        }
        .works_content{
            padding:10px 0;
        }
        .sixth_content .line_contentt{
            display:none;
        }
        .eight_content{
            width:90%;
        }
    }
	@media (max-width: 425px) {
		.main_content {
			padding-top: 26px;
		}
        .VueCarousel-pagination{
            background: #ced8e0 !important;
        }
        .love_writing{
            box-shadow: none;
        }
		.first_image {
			width: 70%;
			z-index: 100 !important;
			height: 200px;
			bottom: 0 !important;
		}
		.publish_content {
			width: 100%;
			position: relative;
			/* border: 1px solid red; */
			height: 400px;
			background: #e8f3ec;
			/* margin: 0 60px; */
			margin-top: 0 !important;

			padding: 10px !important;
			padding-bottom: 100px !important;
			box-sizing: border-box !important;
			z-index: 100 !important;
		}
		.work_container {
			width: 120px;
			height: 120px;
		}
        .third_content{
            padding: 10px 50px;
        }

		/* .believe_image img {
	width: 200px;
	height: 200px;
	padding:20px;
} */
	}
	@media (max-width: 375px) {
		.first_image {
			width: 80%;
			z-index: 100 !important;
			height: 180px;
			bottom: 0 !important;
		}
		.work_container {
			width: 165px;
			height: 165px;
		}
		.love_writing {
			padding: 20px 60px;
		}
	}
	@media (max-width: 320px) {
		.main_content {
			padding-top: 31px;
		}
		.work_container {
			width: 150px;
			height: 150px;
		}
		.first_image {
			height: 150px;
		}
	}
}
</style>
