<template>
    <div class="container">
 <ul>
            <li v-for="(breadcrumb, index) in breadcrumbList"  v-bind:key="index" @click="routeTo(index)"  :class="{linked: !!breadcrumb.link}">
               {{breadcrumb.name}}
             </li>
       </ul>
  <form @submit.prevent="submit">

    <h3 class="  mb-4">Leave us a Message</h3>
   <p> Hey there! if you have any questions or concerns, simply place a call to us or just use the contact form below and we will get back to you shortly.</p>

    <!-- Default input name -->
    <label for="defaultFormContactNameEx" class="grey-text">Your name</label>
    <input v-model="fields.contactName" type="text" id="defaultFormContactNameEx" class="form-control" required>
    <div v-if=" errors.name" class="danger"> {{errors.name[0]}}</div>
    <br>

    <!-- Default input email -->
    <label for="defaultFormContactEmailEx" class="grey-text">Your email</label>
    <input v-model="fields.contactEmail" type="email" id="defaultFormContactEmailEx" class="form-control" required>
     <div v-if=" errors.email" class="danger"> {{errors.email[0]}}</div>
    <br>

    <!-- Default input subject -->
    <label for="defaultFormContactSubjectEx" class="grey-text">Subject</label>
    <input v-model="fields.contactSubject" type="text" id="defaultFormContactSubjectEx" class="form-control">
     <div v-if=" errors.subject" class="danger"> {{errors.subject[0]}}</div>
    <br>

    <!-- Default textarea message -->
    <label for="defaultFormContactMessageEx" class="grey-text">Your message</label>
    <textarea v-model="fields.contactMessage" type="text" id="defaultFormContactMessageEx" class="form-control" rows="3"></textarea>
     <div v-if=" errors.message" class="danger"> {{errors.message[0]}}</div>
    <div class="text-center m-4">
        <button class="btn btn-outline-primary" type="submit">Send<i class="far fa-paper-plane ml-2"></i></button>
    </div>
  </form>



 </div>
</template>

<script>

export default {
    name:'contact-component',
    data() {
        return {
            fields:{
                contactName:null,
                contactEmail:null,
                contactSubject:null,
                contactMessage:null,
            },
            error: true ,
            breadcrumbList:[],

            errors:{
                name:[],
                email:[],
                subject:[],
                message:[]
            },
        }
    },
    components:{

    },

    mounted() {
         this.updateList()
    },
     watch: {
        '$route'(){
         this.updateList()
        }
    },
    methods: {
         routeTo(pRouteTo){
            if (this.breadcrumbList[pRouteTo].link) {
                    this.$router.push(this.breadcrumbList[pRouteTo].link)
            }

            },
            updateList(){
                     this.breadcrumbList = this.$route.meta.breadcrumb;


            },

        checkErrors(e){
             this.errors.name = [];
              this.errors.email = [];
               this.errors.subject = [];
                this.errors.message = [];



            if (!this.fields.contactName ) {

                this.errors.name.push('Your name is required');

            }
             if (!this.fields.contactEmail) {

                this.errors.email.push('Your email is required');

            }
             if (!this.fields.contactSubject ) {

                this.errors.subject.push('A subject is required');

            }
             if (!this.fields.contactMessage) {

                this.errors.message.push('Your message is required');

            }

        },
        submit(){
            this.checkErrors();



            if (this.errors.name.length === 0 && this.errors.email.length === 0 && this.errors.subject.length === 0 && this.errors.message.length === 0) {
              this.error = false;
                this.fields.contactName = null
                this.fields.contactEmail = null
                this.fields.contactSubject = null
                this.fields.contactMessage = null
              axios.post('/api/contact', this.fields).then((response) => {
                  console.log(response);
                  if(response.status === 200){
                      this.$notify({
                          group: "cart",
                          title: "Message sent",
                          text:
                              "Thank you for the feedback"
                      });
                  }
              }).catch((error) => {
                  console.log(error);
              })

            }




        }
    },

}
</script>

<style scoped>
ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 30px 0;

  }
  ul > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    font-weight: bold;
    font-size: .8em;
    cursor: default;
    align-items: center;
  }
  ul > li:not(:last-child)::after {
    content: '/';
    float: right;
    font-size: .8em;
    margin: 0 .5em;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
  }
.container{
    font-size: 1em;
    padding:100px 200px;
    background: #f7f7f7;
    height:auto;
}
.form-control{
    border-radius: 15px;
}
.btn{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
    border-radius: 20px;
    padding: .84rem 2.14rem !important;
    font-size: .81rem !important;
}
.btn-outline-primary {
    border: 2px solid #a4c2db!important;
    background-color:#fff!important;
    color: #000 !important;
}
.danger{
    color:red;
}
.success{
    color: green;
    font-style: italic;
}
@media(max-width:768px){
    .container{
    padding:80px 60px 100px;
    }
}
@media(max-width:425px){
    .container{
    padding: 60px 20px 100px;

}
}





</style>
