<template>
  <div class="containers">
    <div class="main" v-bind:class="{mainTemplate:showTemplate}">
      <div class="return">
        <span @click="returnNow">
          Return
          <i class="fa fa-undo" aria-hidden="true"></i>
        </span>
      </div>

      <!-- CONTENT DISPLAY   -->
      <div
        v-if="showQuestions   && !categoryBegin "
        class="mt-4 contents animated fadeInRight faster border shadow-sm p-3"
      >
        <h3 v-if="result.title !==''">{{result.title}}</h3>
        <div v-html="result.premise"></div>
        <p v-if="models[number].category !==''">{{models[number].category}}</p>
        <div class="p-3">
          <div class="border p-2 bgG my-3" v-if="answers.length > 0">
            <p class="animated fadeIn slow" v-for="(answer,idx) in answers" :key="idx">
              (Q{{idx+1}}.)
              <span v-for="(ans,id) in answer" :key="id">{{ans}},</span>
            </p>
          </div>

          <!-- here  -->

          <div
            class="form-check question"
            v-if="models[number].questions[questNumber].type === 'tf'"
          >
            <div class="d-flex mb-2">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>
            <label for="true" class="form-check-label question">
              <input
                class="form-check-input"
                type="radio"
                name="true"
                id="true"
                value="true"
                v-model="answer"
              /> True
            </label>
            <label for="false" class="form-check-label question">
              <input
                class="form-check-input"
                type="radio"
                name="false"
                id="false"
                value="false"
                v-model="answer"
              /> False
            </label>
          </div>

          <div class="question" v-if="models[number].questions[questNumber].type === 'mc'">
            <div class="d-flex mb-2">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>

            <div
              class="form-check question"
              v-for="(check,index) in models[number].questions[questNumber].options"
              v-bind:key="index"
            >
              <input
                class="form-check-input"
                type="checkbox"
                v-model="checkAnswer"
                :value="check"
                name="checkBox"
                :id="check"
              />
              <label class="form-check-label" :for="check">{{check}}</label>
            </div>
          </div>

          <div class="question" v-if="models[number].questions[questNumber].type === 'radio'">
            <div class="d-flex mb-2">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>
            <div
              class="form-check question"
              v-for="(check,index) in models[number].questions[questNumber].options"
              v-bind:key="index"
            >
              <input
                class="form-check-input"
                :type="models[number].questions[questNumber].type"
                v-model="answer"
                name="radioAnswer"
                :id="check"
                :value="check"
              />
              <label class="form-check-label" :for="check">{{check}}</label>
            </div>
          </div>

          <div class="question" v-if="models[number].questions[questNumber].type === 'text'">
            <div class="d-flex mb-2">
              <span class="bold pr-2">Q{{questNumber+1}}.</span>
              <p class>{{models[number].questions[questNumber].title}}</p>
            </div>
            <div class="form-group question">
              <input
                type="text"
                class="form-control"
                name="text"
                id="textT"
                v-model="answer"
                placeholder="Enter your answer"
              />
            </div>
          </div>
          <!-- here    -->
        </div>
      </div>

      <!-- SUBMIT SCORES  -->
      <div>
        <div class="mt-4 contents scores" v-if="showScores || showSubmit">
          <div v-if="showScores" class="animated slideInUp faster">
            <div v-if="result.name === 'template'">
              <!-- TEMPLATE DISPLAY    -->

              <div class="card-columns">
                <div class="card" v-for="(model,index) in models" v-bind:key="index">
                  <div class="card-header bg-primary text-white text-center">
                    <h4>{{model.category}}</h4>
                  </div>
                  <div
                    class="card-body"
                    v-for="(result,idx) in modelAnswer[index]"
                    v-bind:key="idx"
                  >
                    <h5 class="card-title">Q{{idx+1}}. {{model.questions[idx].title}}</h5>
                    <p v-if="typeof result == 'object'" class="card-text text-capitalize">
                     <ul
                        class="text-capitalize"
                      
                      ><li   v-for="(results,idx) in result"
                        v-bind:key="idx">{{results.toLowerCase()}}</li></ul>
                    </p>
                    <p
                      v-else
                      class="card-text text-capitalize"
                    >{{result.toLowerCase().replace(/''/g, ' ')}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- guides list  -->
            <div v-else-if="result.name === 'bg'">
              <div class="card-columns">
                <div class="card" v-for="(model,index) in models" v-bind:key="index">
                  <div class="card-header bg-primary text-white text-center">
                    <h4>{{model.category}}</h4>
                  </div>
                  <div
                    class="card-body"
                    v-for="(result,idx) in modelAnswer[index]"
                    v-bind:key="idx"
                  >
                    <p v-if="typeof result == 'object '" class="card-text text-capitalize">
                      Response :
                      <span
                        class="text-capitalize"
                        v-for="(results,idx) in result"
                        v-bind:key="idx"
                      >{{results.toLowerCase().replace(/''/g, '-') }}</span>
                    </p>
                    <p v-else class="card-text text-capitalize">Response : {{result.toLowerCase()}}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- question and answer           -->
            <div v-else class="border p-5">
              <h3 class="mb-4">Congratulations you just completed this Case Study Gym Exercise</h3>
              <div class="d-flex justify-content-around">
                <div class="border p-3 bgG" v-if="answers.length > 0">
                  <h6>What you chose</h6>
                  <p
                    class="animated fadeIn slow text-white"
                    v-for="(answer,idx) in answers"
                    :key="idx"
                  >
                    (Q{{idx+1}}.)
                    <span v-for="(ans,id) in answer" :key="id">{{ans}},</span>
                  </p>
                </div>
                <div class="border p-3 bgG" v-if="answers.length > 0">
                  <h6>What we expected</h6>
                  <p
                    class="animated fadeIn slow text-white"
                    v-for="(answer,idx) in models[0].questions"
                    :key="idx"
                  >(Ans{{idx+1}}). {{answer.answer}}</p>
                </div>
              </div>
              <!-- <h1 class="text-center">{{totalScore}}</h1> -->

              <div class="border p-3 mt-4 min-768">
                <p>How would you apply this new insight to your Business?</p>
                <div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id>Response 1</span>
                    </div>
                    <input type="text" class="form-control" v-model="response.first" />
                    <input type="text" placeholder="duration" v-model="response.durationFirst" />
                  </div>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id>Response 2</span>
                    </div>
                    <input type="text" class="form-control" v-model="response.second" />
                    <input type="text" placeholder="duration" v-model="response.durationSecond" />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id>Response 3</span>
                    </div>
                    <input type="text" class="form-control" v-model="response.third" />
                    <input type="text" placeholder="duration" v-model="response.durationThird" />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id>Response 4</span>
                    </div>
                    <input type="text" class="form-control" v-model="response.fourth" />
                    <input type="text" placeholder="duration" v-model="response.durationFourth" />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id>Response 5</span>
                    </div>
                    <input type="text" class="form-control" v-model="response.fifth" />
                    <input type="text" placeholder="duration" v-model="response.durationFifth" />
                  </div>
                </div>

                <button type="button" class=" elevated_btn elevated_btn_sm text-white btn-compliment my-2 px-5" @click="storeAnswer">Send</button>
              </div>
            </div>
          </div>

          <div class="border p-3 bgG" v-if="showSubmit">
            <h6>What you chose</h6>
            <p
              class="animated fadeIn slow text-white"
              v-for="(answer,idx) in answers"
              :key="idx"
            >(Q{{idx+1}}). {{answer}}</p>
          </div>
          <button
            v-if="showSubmit"
            type="button"
            class="elevated_btn elevated_btn_sm text-white btn-compliment submit m-2"
            @click="submit()"
          >Submit</button>
        </div>
      </div>

      <!-- NAVIGATION BUTTONS  -->
      <div class="navigation questionNav" v-if="showQuestions">
        <button
          v-if="questNumber !== 0 "
          type="button"
          class="elevated_btn elevated_btn_sm text-white btn-compliment btn-primary  my-4"
          @click="prevQuestion"
        >Prev question</button>

        <button
          type="button"
          class="elevated_btn elevated_btn_sm text-white btn-compliment my-4"
          @click="nextQuestion(models[number].questions[questNumber].type)"
          v-bind:disabled="disable"
        >Next question</button>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "checklist",
  data() {
    return {
      id: null,
      questId: this.$route.params.id,
      result: [],
      quest: [],
      models: [],
      answers: [],
      modelAnswer: [],
      answer: "",
      checkAnswer: [],
      number: 0,
      questNumber: 0,
      totalQuest: 0,
      disable: true,
      questionAnswers: [],
      score: 0,
      totalScore: 0,
      showScores: false,
      showQuestions: true,
      showSubmit: false,
      showTemplate: false,
      start: false,
      count: 3,
      startCount: false,
      categoryBegin: false,
      response: {
        first: "",
        second: "",
        third: "",
        fourth: "",
        fifth: "",
        durationFirst: "",
        durationSecond: "",
        durationThird: "",
        durationFourth: "",
        durationFifth: ""
      }
    };
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));

    if (user !== null) {
      this.id = user.id;
    }
    axios.get("/api/questionsVerified").then(response => {
      response.data.forEach(item => {
        if (
          item.catalog === "diagnostics" &&
          Number(item.id) === Number(this.questId)
        ) {
          this.result = item;
          this.models = JSON.parse(item.questions);
        }
      });
    });
  },
  watch: {
    answer: "ableNext",
    checkAnswer: "ableNext",
    answers: "disableNext"
  },
  methods: {
    storeAnswer() {
      if (this.result.name === "qa") {
        let data = {
          user_id: this.id,
          title: "Brain gym",
          name: this.result.name,
          question_id: this.result.id,
          answers: this.answers,
          response: this.response
        };
        axios
          .post("/api/guides/history", JSON.parse(JSON.stringify(data)))
          .then(response => {
            if (response.status === 200) {
              this.$toasted.success("success");

              // this.$router.push('/')
            }
          })
          .catch(e => {
            console.log(e);
          });
      }
    },
    startNow() {
      this.startCount = true;
      var time = setInterval(() => {
        this.count--;
        if (this.count === 0) {
          clearInterval(time);
          this.start = true;
        }
      }, 1000);
    },
    submit() {
      if (this.result.name === "template") {
        this.showTemplate = true;
      } else {
        let totalMark = this.totalQuest * 5;

        this.totalScore = parseInt((this.score / totalMark) * 100) + "%";
        this.showQuestions = false;
      }
      this.showSubmit = false;
      this.showScores = true;
    },
    processAnswer() {
      if (
        this.models[this.number].questions[this.questNumber].answer ==
        this.answer
      ) {
        this.score += 5;
      } else {
        this.score = this.score;
      }
    },
    processMc() {
      let mark = 0;
      this.models[this.number].questions[this.questNumber].answers.forEach(
        answer => {
          this.checkAnswer.forEach(checked => {
            if (answer == checked) {
              mark += 1;
              this.score +=
                (mark /
                  this.models[this.number].questions[this.questNumber].answers
                    .length) *
                5;
            }
          });
        }
      );
    },
    ableNext() {
      if (this.answer !== "" || this.checkAnswer.length > 0) {
        this.disable = false;
      } else {
        this.disable = true;
      }
    },
    disableNext() {
      this.disable = true;
    },
    next() {
      this.number++;
    },
    prev() {
      this.number--;
    },
    nextQuestion(type) {
      //   if (this.number !== this.models.length - 1) {
      this.totalQuest++;
      if (this.questNumber < this.models[this.number].questions.length - 1) {
        if (type === "mc") {
          this.processMc();
          this.answers.push(this.checkAnswer);
          this.checkAnswer = [];
          this.questNumber++;
        } else {
          this.processAnswer();
          this.answers.push(this.answer);

          this.answer = "";

          this.questNumber++;
        }
      } else {
        if (type === "mc") {
          this.processMc();
          this.answers.push(this.checkAnswer);
          this.checkAnswer = [];
        } else {
          this.processAnswer();
          this.answers.push(this.answer);
          this.answer = "";
        }
        this.showSubmit = true;
        this.showQuestions = false;
      }
      //   } else {
      //     if (type === "mc") {
      //       this.processMc();
      //       this.answers.push(this.checkAnswer);
      //       this.checkAnswer = [];
      //     } else {
      //       this.processAnswer();
      //       this.answers.push(this.answer);
      //       this.answer = "";
      //     }
      //     this.modelAnswer.push(this.answers);
      //     this.categoryBegin = false;
      //     this.showSubmit = true;
      //     this.start = true;
      //     this.showQuestions = false;
      //   }
    },
    prevQuestion() {
      this.answers.pop();
      this.questNumber--;
    },
    beginCategory() {
      this.number++;
      this.questNumber = 0;
      this.categoryBegin = false;
      this.modelAnswer.push(this.answers);
      this.answer = "";
      this.answers = [];
    },
    returnNow() {
      this.$router.push({
        name: "Guides"
      });
    }
  }
};
</script>

<style scoped>
.containers {
  padding: 0px;
  min-height: 100vh;
  width: 100%;
  background-color: #f7f8fa;
  background-size: cover;
  display: flex;
    justify-content: center;
    align-items: center;
}
.bgG {
  background-color: #f7f8fa;
}
.main {
  position: relative;
  background-color: white;
  padding: 40px 80px;
  border-radius: 4px;
  font-size: 16px;
  width: 70%;
  margin: 0 auto;
  z-index: 1;
}
ul,
ol {
  text-decoration: none !important;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.mainTemplate {
  background: white;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px #ccc;
  width: 90%;
  min-height: 500px;
  z-index: 1;
}
.min-768 {
  min-width: 768px;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}
.count {
  font-size: 9em;
}
.return {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.contents {
  height: 100%;
}
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.64);
}
input[type="text"] {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.44);
}
.btn {
  text-transform: capitalize;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 148, 250, 0.1);
}
.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul,
ol {
  list-style: none;
}

.form-check-input {
  position: absolute;
  margin-top: 0.1rem;
  margin-left: -1.25rem;
}
.prev {
  background-color: rgb(171, 171, 190) !important;
  border: none !important;
}
.next {
  background-color: #a4c2db !important;
  border: none !important;
  height: 40px;
}
.submit {
  background-color: #5b84a7 !important;
  border: none !important;
}
.question {
  padding: 3px 15px;
}
.options {
  padding: 10px 20px;
}
.navigation {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
label {
  text-transform: capitalize;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
@media (max-width: 425px) {
  .containers{
    padding: 0 ;
    background-color:white;
  }
  .main {
    width: 100%;
    padding: 0;
  }
  .mainTemplate {
    width: 100%;
  }
  .question{
    font-size:14px;
  }
  .contents {
    height: 100%;
    width: 100%;
    margin: 0 auto !important;
    box-shadow: unset;
  }
  h3{
    font-size: 18px;
  }
}
</style>

