<template>
    <div class="">
        <h1 class="hea1">Explore Business Concepts</h1>
        <div class="catOuterDiv">
            <div :class="{modal: epiModal, fade: epiFade}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog product-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 prodImg">
                                <img :src="productDetails.coverImage">

                                <div><button class="btn btn-wishlist" @click="addToWishlist()"><i class="fa fa-heart-o"></i>Add to Wishlist</button></div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h1>{{productDetails.title}}</h1>
                                    <div v-if="productDetails.vendor !== undefined"><span>{{productDetails.author}} </span><span>/ {{productDetails.vendor.storeName}}</span>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                    <span class="proReview">4 Customer Reviews</span><span class="proEdi">Editorial Review</span>
                                </div>
                                <hr>
                                <div class="">
                                    <p>{{title}}</p>
                                    <div class="divC">₦{{price}}.00</div>
                                </div>
                                <div class="row">
                                    <div v-if="productDetails.hardCopyPrice !== null" class="hardCover col-md-6" @click="togglePrice('hardCopy')">
                                        ₦{{productDetails.hardCopyPrice}}.00
                                        <p>Hard Copy</p>
                                    </div>
                                    <div v-if="productDetails.softCopyPrice !==null"  class="softCover col-md-6" @click="togglePrice('softCopy')">
                                        ₦{{productDetails.softCopyPrice}}.00
                                        <p>Digital Copy</p>
                                    </div>

                                    <div v-if="productDetails.audioPrice !==null"  class="softCover col-md-6" @click="togglePrice('audioCopy')">
                                        ₦{{productDetails.audioPrice}}.00
                                        <p>Audio Copy</p>
                                    </div>

                                    <div v-if="productDetails.videoPrice !==null"  class="softCover col-md-6" @click="togglePrice('videoCopy')">
                                        ₦{{productDetails.videoPrice}}.00
                                        <p>Video Copy</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12 addCart">
                                        <button class="btn btn-guruh-cart" @click="addToCart(productDetails.id)">Add Cart</button>
                                    </div>

                                    <div class="col-md-12">
                                        <button class="btn btn-guruh-online" @click="paystack()">Read Online</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="abProd">
                            <h1>Overview</h1>
                            <div>{{productDetails.description}}</div>
                        </div>

                        <div class="detailTabs">
                            <ul class="nav nav-tabs">
                                <li><a data-toggle="tab" href="#home">PRODUCT DETAILS</a></li>
                                <li><a data-toggle="tab" href="#menu1">ABOUT THE AUTHOR</a></li>
                                <li><a data-toggle="tab" href="#menu2">TABLE OF CONTENT</a></li>
                                <li><a data-toggle="tab" href="#menu3">READ AN EXCERPT</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane active">
                                    <p v-if="productDetails.fileType !== null">ISBN: {{productDetails.fileType}}</p>
                                    <p v-if="productDetails.publisher !== null">Publisher: {{productDetails.publisher}}</p>
                                    <p v-if="productDetails.publicationDate !== null">Publication Date: {{productDetails.publicationDate}}</p>
                                    <p v-if="productDetails.pageNo !== null">Page No: {{productDetails.pageNo}}</p>
                                    <p v-if="productDetails.series !== null">Series: {{productDetails.series}}</p>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <p>{{productDetails.aboutAuthor}}</p>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <p>{{productDetails.tableOfContent}}</p>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <p>{{productDetails.excerpts}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-center"  :class="{ shipTab: shipTab, shipTabSwitch : shipTabSwitch}"   @click="showTabs('shipping')">Shipping and Delivery</div>
                            <div class="col-md-4 text-center" :class="{ reviewTab: reviewTab, reviewTabSwitch : reviewTabSwitch}"  @click="showTabs('reviews')">Write a Reviews</div>
                            <div class="col-md-4 text-center" :class="{ shareTab: shareTab, shareTabSwitch : shareTabSwitch}" @click="showTabs('share')">Share this Items</div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 shipDetailRow">
                                <p v-if="productDetails.location !== null">Location: {{productDetails.location}}</p>
                                <p v-if="productDetails.localShippingRates !== null">Local Shipping Rate: {{productDetails.localShippingRates}}</p>
                                <p v-if="productDetails.localShippingTime !== null">Local Shipping Time: {{productDetails.localShippingTime}}</p>
                                <p v-if="productDetails.intShippingRates !== null">Int Shipping Rate: {{productDetails.intShippingRates}}</p>
                                <p v-if="productDetails.intShippingTime !== null">Int Shipping Time: {{productDetails.intShippingTime}}</p>
                            </div>
                            <div class="col-md-12 " v-if="reviews">
                                <div class="review-div">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Title" v-model="review.title">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5"  placeholder="Enter Reviews" v-model="review.description"></textarea>
                                    </div>
                                    <div>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedOne, 'fa-star' : RatedOne}" @click="rateWithStar('1')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedTwo, 'fa-star' : RatedTwo}" @click="rateWithStar('2')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedThree, 'fa-star' : RatedThree}" @click="rateWithStar('3')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedFour, 'fa-star' : RatedFour}" @click="rateWithStar('4')"></i>
                                        <i :class="{fa : rateFa, 'fa-star-o' : NotratedFive, 'fa-star' : RatedFive}" @click="rateWithStar('5')"></i>
                                        <i class="ml-lg-5">{{review.rating}} {{review.rating > 1 ? 'stars' : 'star'}}</i>
                                    </div>

                                    <button class="btn btn-reviews mb-4" @click="submitReview()">Submit</button>
                                </div>
                            </div>
                            <div class="col-md-12" v-if="share">
                                <p>Share across social media</p>
                            </div>
                        </div>

                        <div class="row" v-if="allReviews.length > 0">
                            <h1>Reviews</h1>
                            <div class="col-md-12">
                                <div>
                                    <div class="mb-5" v-for="(Review, index) in allReviews">
                                        <div class="avatarD"><span class="reviewAvatar">{{(Review.user.name).charAt(0)}}</span><span class="avatartitle">{{Review.title}}</span></div>
                                        <div class="avatarDescription">{{Review.description}}</div>
                                        <div v-for="star in Review.rating" class="rateStyle">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div v-for="star in 5 - Review.rating" class="rateStyle">
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>


                        <div class="relatedDiv"><div class="relatedLeft"></div>RELATED ITEMS<div class="relatedRight"></div></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodDis" v-for="(product, index) in relatedProducts">
                                    <a href="#" data-toggle="modal" data-target="#exampleModal" @click="openModal(product.id)"><img :src="product.coverImage" class="catImage"></a>
                                    <p class="pTitle">{{product.title}}</p>
                                    <p class="catName">{{product.vendor.storeName}}</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

            <span class="catDiv">All Categories</span><span class="catDiv">Branding</span><span class="catDiv">Marketing</span><span class="catDiv">Sales</span><span class="catDiv">Finance</span><span class="catDiv">Tech & Innovation</span>
            <span class="catDiv">Personal Development</span>
        </div>
        <carousel :perPage="4">
            <slide v-if="products.length > 0" v-for="(product, index) in products" :key="product.id">
                <div class="excDiv">
                    <div class="arrP">
                    </div>
                    <a href="#" data-toggle="modal" data-target="#exampleModal"></a>
                    <a href="#" data-toggle="modal" data-target="#exampleModal" >
                    <div class="execBtn"><p>{{product.name}}</p>
<!--
                        <div class="cat-product">{{product.category.name}}</div>
-->
<!--
                    <div>{{product.fileType}}</div>
-->
                    </div>
                    </a>
                </div>

            </slide>

        </carousel>

    </div>
</template>

<script>
    import { Carousel, Slide} from 'vue-carousel';

    export default {
        name: "excluse-resource-component",
        data: function(){
            return {
                products: [],
                user: {},
                user_id: '',
                rateFa: true,
                review: {
                    productId: '',
                    title: '',
                    description: '',
                    rating: 0
                },
                star: 0,
                NotratedOne: true,
                NotratedTwo: true,
                prodd: {},
                RatedTwo: false,
                RatedOne: false,
                NotratedThree: true,
                RatedThree: false,
                NotratedFour: true,
                RatedFour: false,
                NotratedFive: true,
                RatedFive: false,
                shipTab: false,
                reviewTabSwitch: false,
                shareTabSwitch: false,
                reviewTab: true,
                shareTab: true,
                email: '',
                shipTabSwitch: true,
                shipping: true,
                reviews: false,
                share: false,
                allReviews: [],
                relatedProducts : [],
                categories: [],
                productDetails: {},
                anonymousCart: [],
                epiFade: true,
                epiModal: true,
                readOnlinePrice: '',
                softCopy: false,
                authenticate: false,
                hardCopy: true,
                price: '',
                title: 'Hard Copy'
            }
        },
        components: {
            Carousel,
            Slide
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.email = user.email;
                this.user_id = user.id;
                this.user = user;
                this.authenticate = true;
            }

            axios.get('/api/topics').then((response) => {
                if(response.status === 200){
                    console.log(response);
                    this.products = response.data;
                }
            }).catch((error) => {
                console.log(error);

            })
        },
        methods: {
            showTabs(params){
                switch(params){
                    case 'shipping':
                        this.shipping = this.shipTabSwitch = this.reviewTab = this.shareTab = true;
                        this.reviews = this.shipTab = this.reviewTabSwitch = this.shareTabSwitch = this.shareTabSwitch = this.share = false;
                        break;
                    case 'reviews':
                        this.reviewTabSwitch = this.reviews = this.shipTab = this.shareTab = true;
                        this.shipTabSwitch = this.reviewTab = this.shipping = this.shareTabSwitch = this.share =false;
                        break;
                    case 'share':
                        this.shipping = this.reviews = this.reviewTabSwitch = this.shipTab = this.shareTab = this.shipTabSwitch = false;
                        this.share = this.shareTabSwitch = this.reviewTab = this.shipTab = true;
                        break;
                    default:
                        this.shipping = false;
                        this.reviews = false;
                }
            },
            openModal(id){
                this.epiFade = false;
                axios.get(`/api/product-detail/${id}`).then((response) => {
                    if(response.status === 200){
                        console.log(response.data.data[0]);
                        let emptyObject = {};

                        switch(response.data.data[0].prodType){
                            case 'Market Reports':
                                emptyObject = response.data.data[0].marketReport;
                                break;
                            case 'Books':
                                emptyObject = response.data.data[0].books;
                                break;
                            case 'White Paper':
                                emptyObject = response.data.data[0].whitePaper;
                                break;
                            case 'Journals':
                                emptyObject = response.data.data[0].journal;
                                break;
                            case 'Market Research':
                                emptyObject = response.data.data[0].marketResearch;
                                break;
                            case 'Webinar':
                                emptyObject = response.data.data[0].webinar;
                                break;
                            case 'Podcast':
                                emptyObject = response.data.data[0].webinar;
                                break;
                            case 'Videos':
                                emptyObject = response.data.data[0].webinar;
                                break;
                            case 'Courses':
                                emptyObject = response.data.data[0].courses;
                                break;
                            default:
                                return false;

                        }

                        console.log(response.data.data[0]);
                        this.prodd = response.data.data[0];
                        this.productDetails = {...emptyObject, ...this.prodd}



                       // this.productDetails = response.data.data[0];
                        this.productDetails.hardCopyPrice !== null ? this.hardCopy = true : this.hardCopy = false;
                        this.productDetails.softCopyPrice !== null ? this.softCopy = true : this.softCopy = false;

                        if(this.productDetails.hardCopyPrice !== null){
                            this.title = 'Hard Copy';
                            this.price = this.productDetails.hardCopyPrice;
                        }else if(this.productDetails.softCopyPrice !== null){
                            this.title = 'Soft Copy';
                            this.price = this.productDetails.softCopyPrice;
                        }else if(this.productDetails.audioPrice !== null){
                            this.title = 'Audio Copy';
                            this.price = this.productDetails.audioPrice;
                        }else if(this.productDetails.videoPrice !== null){
                            this.title = 'Video Copy';
                            this.price = this.productDetails.videoPrice;
                        }


                        this.readOnlinePrice = this.productDetails.readOnlinePrice;
                        this.getRelatedProduct(this.productDetails.sub_category_id);
                        this.getProductReviews(this.productDetails.id);

                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            togglePrice(cat){
                if(cat === 'hardCopy'){
                    this.price = this.productDetails.hardCopyPrice;
                    this.title = 'Hard Copy';
                }else if(cat === 'softCopy'){
                    this.price = this.productDetails.softCopyPrice;
                    this.title = 'Soft Copy';
                }else if(cat === 'audioCopy'){
                    this.price = this.productDetails.audioPrice;
                    this.title = 'Audio Copy';
                }else if(cat === 'videoCopy'){
                    this.price = this.productDetails.videoPrice;
                    this.title = 'Video Copy';
                }
            },
            getProductReviews(id){
                axios.get(`/api/product/get-reviews/${id}`).then((response) => {
                    if(response.status === 200){
                        console.log(response);
                        this.allReviews = response.data.data;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            addToWishlist(){
                if(this.authenticate === false){
                    this.$router.push('/auth');
                }else{
                    let wishlist = {
                        productId : this.productDetails.id,
                        vendorId: this.productDetails.vendor_user_id,
                        userId: this.user_id
                    };

                    axios.post('/api/wishlist', JSON.parse(JSON.stringify(wishlist)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Successfully added to wishlist');
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }
            },
            addToCart(id){
                let cart = {
                    productId: id,
                    price: this.price
                };
                if(this.title === 'Hard Copy'){
                    cart.quantity = 1;
                    cart.prodType = 'HardCopy';
                }else if(this.title === 'Soft Copy'){
                    cart.quantity = 0;
                    cart.prodType = 'SoftCopy';
                }else if(this.title === 'Audio Copy'){
                    cart.quantity = 0;
                    cart.prodType = 'AudioCopy';
                }else if(this.title === 'Video Copy'){
                    cart.quantity = 0;
                    cart.prodType = 'VideoCopy';
                }
                if(this.authenticate === false){
                    cart.cartNum = 1 ;
                    this.anonymousCart.push(cart);
                    if(JSON.parse(localStorage.getItem('userCart')) === null){
                        localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let cartCount = sessionCart.length;
                        this.$emit('getCartCount', cartCount);
                    }else if(JSON.parse(localStorage.getItem('userCart')) !== null){
                        let  sessionCart = JSON.parse(localStorage.getItem('userCart'));
                        let ss = sessionCart.length;
                        sessionCart[ss] = cart;
                        localStorage.setItem('userCart', JSON.stringify(sessionCart));
                        let a = JSON.parse(localStorage.getItem('userCart'));
                        let aCount = a.length;
                        this.$emit('getCartCount', aCount);

                    }
                }else{

                    // cart.id = this.productDetails.vendor_user_id;
                    this.addCart(cart);
                }

            },
            addCart(cart){
                axios.post('/api/cart', JSON.parse(JSON.stringify(cart)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 200){
                            console.log(response.data);
                            window.location.reload();
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            },
            getRelatedProduct(subCatId){
                axios.get(`/api/get-related-product/${subCatId}`).then((response) => {
                    if(response.status === 200){
                        this.relatedProducts = response.data.data;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            rateWithStar(num){
                switch (num) {
                    case '1':
                        this.NotratedOne = !this.NotratedOne;
                        this.RatedOne = !this.RatedOne;
                        this.review.rating = 1;
                        break;
                    case '2':
                        this.NotratedTwo = this.NotratedOne = !this.NotratedTwo;
                        this.RatedTwo = this.RatedOne = !this.RatedTwo;
                        this.review.rating = 2;
                        break;
                    case '3':
                        this.NotratedTwo = this.NotratedOne = this.NotratedThree = !this.NotratedThree;
                        this.RatedTwo = this.RatedOne = this.RatedThree = !this.RatedThree;
                        this.review.rating = 3;
                        break;
                    case '4':
                        this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = !this.NotratedFour;
                        this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = !this.RatedFour;
                        this.review.rating = 4;
                        break;
                    case '5':
                        this.NotratedTwo = this.NotratedOne = this.NotratedThree = this.NotratedFour = this.NotratedFive = !this.NotratedFive;
                        this.RatedTwo = this.RatedOne = this.RatedThree = this.RatedFour = this.RatedFive = !this.RatedFive;
                        this.review.rating = 5;
                        break;
                    default:
                        this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
                        this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
                }
            },
            submitReview(){
                if(this.authenticate=== false){
                    this.$toasted.error('You must log in to review a product');
                }else{
                    this.review.productId = this.productDetails.id;
                    axios.post('/api/user/reviews', JSON.parse(JSON.stringify(this.review)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                        .then((response) => {
                            if(response.status === 201){
                                this.$toasted.success('Reviews successfully saved');
                                this.review.productId = this.review.title = this.review.description =  '';
                                this.review.rating = 0;
                                this.NotratedOne = this.NotratedTwo = this.NotratedThree = this.NotratedFour = this.NotratedFive = true;
                                this.RatedOne = this.RatedTwo = this.RatedThree = this.RatedFour = this.RatedFive = false;
                            }
                            else{
                                this.$toasted.error('You cannot review this product until you purchase it');
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }

            }
        }
    }
</script>

<style scoped>
    .arrP {
        height: 200px;
    }
    .excDiv {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #cecece;
        text-align: center;
        box-shadow: 2px 2px 8px #cecece;
    }

    .excDiv img {
        width: 150px;
    }

    .execBtn {
        background-color: #e3ecf4;
    }

    .cat-product {
        color: #b0cae1;
    }

    .imgItem {
        opacity: 0.3;
    }

    .catDiv {
        margin: 0 40px;

    }

    .catOuterDiv {
        margin: 40px;
        color: #a3c2dc;
    }




    .reviewAvatar {
        text-transform: capitalize;
        background: #a3c2dc;
        color: #ffffff;
        padding: 7px 10px;
        border-radius: 50%;
    }

    .review-div {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .shipTabSwitch, .reviewTabSwitch, .shareTabSwitch {
        background-color: #a3c2dc;
        border: 1px solid #a3c2dc;
        color: #ffffff !important;
        padding: 15px 0;
        cursor: pointer;
    }

    .shipTab, .reviewTab, .shareTab {
        color: #a4a4a4;
        border: 1px solid #a4a4a4;
        padding: 15px 0;
        cursor: pointer;
    }

    .relatedDiv {
        text-align: center;
    }

    .relatedLeft {
        width: 40%;
        height: 4px;
        float: left;
        background: #c4c4c4;
    }

    .relatedRight {
        width: 40%;
        height: 4px;
        float: right;
        background: #c4c4c4;
    }

    .rateStyle {
        float: left;
        margin: 2px;
    }


    .course-Detail {
        margin: 100px 0 0 0 !important;
    }


    .userStyle .course-thumbnail img
    {
        object-fit: inherit !important;
        height: 220px !important;
    }

    .entry-title a {
        font-size: 16px;
    }

    .catImage {
        width: 150px;
    }

    .filterTest {
        border-right: 1px solid #bdbfbf;
        padding-left: 60px;
    }

    .rowCat {
        margin-top: 40px;
    }

    .prodDis {
        float: left;
        margin: 10px 50px;
        height: 315px;
    }

    .catName, .fa-star, .fa-star-o, .fa-star-half-o {
        color: #cdddec;
    }

    .pTitle {
        font-weight: bold;

    }

    .product-dialog {
        width: 90%;
        max-width: 90%;
        margin-top: 130px;
    }

    .prodImg {
        text-align: center;
    }

    .prodImg img {
        width: 200px;
    }

    .proReview {
        margin-left: 100px;
        margin-right: 50px;
    }


    .btn-guruh-cart {
        background-color: #a3c2dc !important;
        padding: 20px 42%;
    }

    .btn-guruh-online {
        color: #a3c2dc;
        border: 1px solid #a3c2dc;
        padding: 20px 42%;
    }

    .addCart {
        margin-bottom: 50px !important;
    }

    .btn-wishlist {
        background-color: #f5f5f5 !important;
        color: #000000;
        padding: 20px 26%;
        margin-top: 30px;
    }

    .tab-content p, .shipDetailRow p {
        padding: 20px;
    }

    .abProd {
        background-color: #f2f6fa;
        padding: 40px;
        margin: 70px;
        text-align: center;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
        color: #dbdbdb !important;
        font-weight: bold;
    }

    .detailTabs{
        padding: 0 80px;
    }
    .hardCover, .softCover {
        border: 2px solid #4c4c4c;
        max-width: 25%;
        padding: 20px;
        margin-right: 50px;
    }

    .divC {
        font-size: 40px;
        margin: 17px 0 50px 0;
    }

    .btn-reviews {
        background-color: #a3c2dc !important;
        padding: 10px 20px;
    }

</style>
