<template>
  <div class="main">
   <!-- <div class="bg-row">
      <div class="bg1"></div>
   </div> -->
    <div class="expert-heading">
      <strong>Our Experts</strong>
    </div>
    <div class="my-content ">
      <swiper :options="swiperOption" class="expertContainer py-3">
        <swiper-slide class="expert-box" v-for="(vendor,index) in allVendors" :key="index">
          <div class="contain rounded-circle">
            <img class="expert-image rounded-circle" :src="vendor.valid_id" alt />
          </div>
          <div class="about text-center text-white shadow">
            <h4 class="toCaps mb-1 text-dark">{{vendor.storeName.toLowerCase()}}</h4>
            <p class="text-muted mb-3">@{{vendor.username}}</p>
            <span class="expert-about">{{vendor.bio}}</span>
            <router-link
              :to="{ name:'PartnerProfile',
                    params:{
                          username:vendor.username}}"
            >
              <span class="elevated_btn elevated_btn_sm btn-compliment text-white">read more</span>
            </router-link>
          </div>
        </swiper-slide>
          <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
        <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
      </swiper>
    
    </div>
  </div>
</template>

<script>

export default {
  name:'experts-component',
  data() {
    return {
      scrollPos: 0,
      currentHeight: 0,
      swing: false,
      allVendors: [],
      swiperOption: {
        slidesPerView: 4,
        spaceBetween: 30,
        breakpoints: {
          425: {
            slidesPerView: 2,
            spaceBetween: 15
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 15
          },
           1024: {
            slidesPerView: 3,
            spaceBetween: 30
          }
        },

        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  },

  mounted() {
    this.getVendors();
  
  },
 
  methods: {
    swinging() {
      if (this.scrollPos > window.innerHeight * 2.3) {
        this.swing = true;
      }
    },
    getVendors() {
      axios.get("/api/get-all-vendor").then(response => {
        if (response.status === 200) {
          response.data.forEach(item => {
            if (item.id !== 1) {
              this.allVendors.push(item);
            }
          });
        }
      });
    }
  }
};
</script>

<style scoped>
.main {
  padding: 10px 0;
  padding-bottom: 45px;
  min-height: 70vh;
  background-color: rgb(247, 248, 250,.7);
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f8fb+0,f5f8fb+50,e3ecf4+51,e3ecf4+100 */

overflow: hidden;
position: relative;

}
h4{
  font-size:17px;
}
.bg-row{
  display: flex;
  width: 100%;
  height: 100%;
   position: absolute;
}
.bg1{
    width: 60%;
    background: rgb(227, 236, 244,.7);
    transform: rotate(20deg);
    height: 156%;
    top: -44%;
    position: absolute;
    left: -14%;
}

.expert-heading {
  width: 30%;
  padding: 30px 30px 25px;
  background-color: hsl(207, 43%, 20%);
  border-bottom-right-radius: 100px;
  color: #fff;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  z-index: 4;
}
.expert-heading strong {
  font-size: 24.5px;
  color: #fff;
}
.expert-box {
  padding-bottom: 20px;
}
.expert-about {
  text-align: center;
  font-size: 15px;
  color: rgba(55, 58, 60, 0.7);
  height: 100.5px;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -moz-line-clamp: 4;
  -ms-line-clamp: 4;
  -o-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 8px;
}
.my-content {
  position: relative;
  padding: 0px;
  padding-top: 100px;
  padding-bottom: 45px;
  margin: 0 auto;
  width: 85%;
}

.contain {
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding: 10px;
  margin: 0 auto;
}
.contain img{
  width: 100%;
  height: 100%;
}
.expert-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:4px solid hsl(207, 43%, 94%);
}
.expert-box:hover .contain .expert-image{
  transform: scale(1.05);
}
.about {
  margin-top: -70px;
  padding: 20px;
  height: 315px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}
.about:hover{
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
@media (max-width: 1024px) {
  .contain,
  .expert-image {
    width: 110px;
    height: 110px;
  }
  .my-content {
  width: 90%;
}
.about{
  padding:10px;
}

}
@media (max-width: 768px) {
    .my-content {
  width: 100%;
  padding-top: 60px;
}
  .main {
    min-height: 50vh;
    padding: 0;
  }

  .my-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .expert-heading {
    width: 50%;
    padding: 15px 20px 10px;
  }
  .expert-heading strong {
    font-size: 18px;
  }
  .contain,
  .expert-image {
    width: 100px;
    height: 100px;
  }
  .about {
    margin-top: -55px;
    padding: 10px;
    height: 230px;
  }
  h4 {
    font-size: 12px;
  }
  p{
    font-size: 12px;
  }
  .p-3{
    padding: 0 !important;
  }
  .mb-3{
    margin-bottom: 9px !important;
  }
  .mb-1 {
    margin-bottom: 0px!important;
}
  .expert-about{
    font-size: 12px;
    line-height: 1.4;
    height: 65.5px;
    margin-bottom: 11px;
  }
}
@media (max-width: 375px) {
  .expert-heading strong {
  font-size: 16px;

}
}

</style>