<template>
    <div class="gainInsight">
        <h1 class="hea1">Browse Practical Resources</h1>
        <carousel :perPage=4 v-if="products.length > 0">
            <slide>
                <div class="artTitle">
                    <router-link :to="{ name: 'ProductJournal' }">  <h3 class="gainTitle">Video</h3>
                    <div class="socialMediaTitle"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-linkedin"></i><i class="fa fa-envelope"></i></div>
                    </router-link>
                </div>
            </slide>
            <slide>
                <div class="artTitle">
                    <router-link :to="{ name: 'ProductJournal' }">  <h3 class="gainTitle">Articles</h3>
                    <div class="socialMediaTitle"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-linkedin"></i><i class="fa fa-envelope"></i></div>
                    </router-link>
                </div>
            </slide>
            <slide>
                <div class="artTitle">
                    <router-link :to="{ name: 'ProductJournal' }">  <h3 class="gainTitle">Podcast</h3>
                    <div class="socialMediaTitle"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-linkedin"></i><i class="fa fa-envelope"></i></div>
                    </router-link>
                </div>
            </slide>
            <slide>
                <div class="artTitle">
                    <router-link :to="{ name: 'ProductJournal' }">  <h3 class="gainTitle">Market Research</h3>
                    <div class="socialMediaTitle"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-linkedin"></i><i class="fa fa-envelope"></i></div>
                    </router-link>
                </div>
            </slide>
            <slide>
                <div class="artTitle">
                    <router-link :to="{ name: 'ProductJournal' }">  <h3 class="gainTitle">White Paper</h3>
                    <div class="socialMediaTitle"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-linkedin"></i><i class="fa fa-envelope"></i></div>
                    </router-link>
                </div>
            </slide>
        </carousel>
    </div>
</template>

<script>
    import { Carousel, Slide} from 'vue-carousel';

    export default {
        name: "gain-insight-component",
        components: {
            Carousel,
            Slide
        },
        data: function(){
            return {
                products: []
            }
        },
        mounted(){
            axios.get('/api/random-products').then((response) => {
                if(response.status === 200){
                    let prod = [];
                    response.data.data.forEach((item) => {
                       if(item.prodType === ('Videos' || 'Podcast')){
                           item.webinar.coverImage = item.coverImage;
                           item.webinar.uid = item.id;
                           prod.push(item.webinar);
                       }

                       if(item.prodType === 'Books'){
                           item.books.coverImage = item.coverImage;
                           item.books.uid = item.id;
                           prod.push(item.books)
                       }

                       if(item.prodType === 'Market Research'){
                           item.marketResearch.coverImage = item.coverImage;
                           item.marketResearch.uid = item.id;
                           prod.push(item.marketResearch);
                       }

                       if(item.prodType === 'Articles'){
                           item.articles.coverImage = item.coverImage;
                           item.articles.uid = item.id;
                           prod.push(item.articles);
                       }

                    });

                    console.log(prod);
                    this.products = prod;
                }
            }).catch((error) => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>
    .gainInsight {
        padding: 1px 0;
        background: #f2f6fa;
    }
    .gainTitle {
        background-color: #a3c2dc !important;
        text-align: center;
        color: #ffffff;
        padding: 12px 0;
    }
    .socialMediaTitle {
        background-color: #e1e1e1 !important;
        bottom: 0;
        position: absolute;
        width: 100%;
        color: #ffffff;
        text-align: center;
    }

   .socialMediaTitle i {
        margin: 10px 12px;
    }

    .artTitle {
        height: 30vw;
        position: relative;
        margin: 20px;
        box-shadow: 5px 0 10px 2px #888888;
    }

</style>
