<template>
  <div class="main-page">
    <div class="message-tab">
      <div class="users animated slideIn" v-if="!hide">
        <div class="form-group">
          <input
            type="text"
            class="form-control rounded-pill border-0"
            aria-describedby="helpId"
            placeholder="Search"
            v-model="search"
          />
          <i class="fa fa-search search_icon" aria-hidden="true"></i>
        </div>
        <router-link
          :to="{
          name:'PrivateChat',
          params:{id:course.vendor.id}
        }"
          v-if="course.vendor"
        >
          <div class="py-3 pm">
            <span class="toCaps bold">{{course.vendor.username.toLowerCase()}}</span> - Start a chat
          </div>
        </router-link>

        <ul class="user_name">
          <li
            v-for="(user,idx) in users"
            :key="idx"
            class="toCaps align_image"
            @click="getVendor(user.id,idx)"
          >
            <div v-if="user.logo !==null && user.logo !== undefined">
              <img class="profile_img" :src=" user.logo" alt />
            </div>
            <div v-else class="profile_img">
              <i class="fa fa-user-circle text-main" aria-hidden="true"></i>
            </div>
            <div>{{user.name.toLowerCase()}}</div>
          </li>
        </ul>
      </div>
      <form @submit.prevent="sendMessage" class="message">
        <div class="toCaps p-3 chat_header align_image text-right" v-if="course.courses">
          <p
            v-if="course.courses.title"
            class="toCaps w-75 text-left"
          >{{course.courses.title.toLowerCase()}} Group Chat</p>
          <i
            class="fa fa-ellipsis-v text-main ml-auto pr-3 mobile"
            @click="showUsers"
            aria-hidden="true"
          ></i>
        </div>
        <ul class="message-body" v-if="messages" v-chat-scroll>
          <div class="p-2 py-3 pb-4">
            <li
              class="py-1"
              v-for="(message,index) in messages"
              :key="index"
              :class="{'text-right':id== message.user_id , 'ml-auto':id== message.user_id}"
            >
              <div
                :class="{'chat-right':id == message.user_id  , 'chat-left':id !== message.user_id  }"
              >
                <p class="toCaps text-muted name_user mb-2">{{message.user.name.toLowerCase()}}</p>
                <p>
                  {{message.message}}
                  <span class="time">{{message.created_at | moment("HH:mm")}}</span>
                </p>
              </div>
            </li>
          </div>
        </ul>
        <div class="bg-ccc p-2">
          <div class="form-group submit">
            <input
              required
              type="text"
              class="form-control rounded-pill mr-3"
              aria-describedby="helpId"
              v-model="message"
              placeholder="Type your message here .."
            />
            <button
              type="submit"
              class="elevated_btn elevated_btn_sm m-0 btn-compliment text-white shadow-none rounded-pill"
            ><i class="fas fa-paper-plane text-white" aria-hidden="true"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      messages: [],
      users: [],
      course_id: null,
      message: "",
      id: null,
      active: 0,
      search: "",
      activeUser: 0,
      course: {},
      hide: false
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.course_id = vm.$route.params.id;
      vm.fetchMessages();
    });
  },

  mounted() {
    this.initialLoad();
  },
  watch: {
    course_id: "initialLoad"
  },
  methods: {
    initialLoad() {
      this.course_id = this.$route.params.id;
      let user = JSON.parse(localStorage.getItem("authUser"));
      this.id = user.id;

      if (window.innerWidth < 768) {
        this.hide = true;
      } else {
        this.hide = false;
      }
      Echo.join("group." + this.$route.params.id)
        .listen("GroupMessageSent", e => {
          this.messages.push({
            message: e.message.message,
            user: e.user,
            created_at: e.message.created_at
          });
        })
        .here(user => {
          this.users = user;
        });
    },
    showUsers() {
      this.hide = !this.hide;
    },
    fetchMessages() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get(`/api/group-messages/${this.course_id}`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.messages = response.data;
          });

        axios
          .get(`/api/get-product/${this.course_id}`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(res => {
            this.course = res.data.data;
          });
      }
    },
    sendMessage() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        let text = {};
        text.message = this.message;
        text.user_id = user.id;
        text.created_at = new Date();
        text.user = user;
        this.messages.push(text);

        let data = {
          message: this.message,
          course_id: this.course_id
        };

        axios
          .post("/api/group-message", data, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.message = "";
            if (response.status == 200) {
            }
          })
          .catch(err => {
            this.$toasted.error("Message not sent!!");
          });
      }
    }
  }
};
</script>

<style scoped>
.main-page {
  background: white;
  height: 92vh;
  padding: 30px;
}
.pm {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-right: 15px;
  font-size: 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}
.hoverText {
  position: absolute;
}
.active {
  background: white;
  border-right: 5px solid #ccc;
  border-bottom: none !important;
  border-top: none !important;
}
.name_user {
  font-size: 13px;
}
.form-group {
  position: relative;
  overflow: hidden;
}
.bg-ccc {
  background: #ccc;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.submit {
  width: 85%;
  margin: 0 auto;
}
.search_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 16px;
  margin-top: -8px;
  color: rgba(0, 0, 0, 0.5);
}
.profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.align_image {
  display: flex;
  align-items: center;
}
.chat_header {
  box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
}
.message-tab {
  display: flex;
  height: 100%;
  border: 1px solid #f7f8fa;
}
.time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
}
.message-body {
   height: 82%;
  max-height: 82%;
  overflow-y: scroll;
  background: #333;
}
.message-body div li {
  width: 50%;
  padding: 10px 30px;
  font-size: 15px;
}

.chat-left {
  background-color: #d1e0ed;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  clear: both;
  float: unset;
  width: fit-content;
  width: max-content;
  position: relative;
  line-height: 1.2;
}
.chat-left::before {
  content: "";
   background-color: #d1e0ed;
  height: 14px;
  width: 20px;
  transform: skew(50deg);
  position: absolute;
  left: -2px;
  top: 0px;
}
.chat-right {
  position: relative;
  background: #f7f8fa;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  clear: both;
  float: unset;
  width: fit-content;
  width: max-content;
  margin-left: auto;
  text-align: left;
  line-height: 1.2;
}
.chat-right::before {
  content: "";
  background: #f7f8fa;
  height: 14px;
  width: 20px;
  transform: skew(-50deg);
  position: absolute;
  right: -2px;
  top: 0px;
}
.form-group {
  display: flex;
  align-items: center;
}
ul,
ol,
li {
  list-style: none;
}

.users {
  width: 30%;
  padding: 15px 20px;
  background: #f7f8fa;
  height: 100%;
  overflow: hidden;
}
.message {
  height: 100%;
  max-height: 100%;
  width: 100%;
  position: relative;
}
.user_name {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  font-size: 15px;
}
.user_name li {
  padding: 10px 15px 10px;
  border-bottom: 1px solid hsl(220, 23%, 90%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .main-page {
    padding: 0;
  }
  .mobile {
    display: block;
  }
  .chat_header {
    font-size: 14px;
    padding: 20px 10px !important;
  }
  .message-tab {
    position: relative;
  }
  .message-body div li {
    width: 70%;
    padding: 10px;
    font-size: 14px;
  }
  .submit{
    width: 97%;
  }
  .pm{
    font-size: 12px;
  }
  .user_name li {
    padding: 15px 10px;
    font-size: 12px;
  }
  .users {
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 15px 10px;
    box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  }
  .profile_img {
    width: 20px;
    height: 20px;
  }
}
</style>