<template>
    <div class="container">
         <div class="bread">
               <ul>
            <li v-for="(breadcrumb, index) in breadcrumbList"  v-bind:key="index" @click="routeTo(index)"  :class="{linked: !!breadcrumb.link}">
               {{breadcrumb.name}}
             </li>
       </ul>
           </div>
        <div class="">

           <h2 class="tCenter uline mb-4" >  BIZGURUH COMMUNITY GUIDELINES</h2>
<p>
    As a platform for proffering honest and practical Africa-focuses business education and strategic market insight, BizGuruh is deeply committed to expounding and increasing the knowledge base of the African’s informal sector.  At the same time, we draw lines around a few narrowly defined but deeply important categories of content and behavior that jeopardize our users, threaten our infrastructure, and damage our community.
</p>

<h3 class="uline">What BizGuruh is for:</h3>
<p>
    BizGuruh creates and curates Africa-focused business education resources and strategic market insight. We want you to express yourself freely and use BizGuruh to learn how to grow a sustainable business for yourself.
</p>
<h3 class="uline">What BizGuruh is not for:</h3>
 <ul class="mb-2">
     <li class="mb-2">
    <span class="boldText">	Terrorism.</span> We don't tolerate content that promotes, encourages, or incites acts of terrorism. That includes content which supports or celebrates terrorist organizations, their leaders, or associated violent activities. <span class="boldText uline">Report terrorism</span>.
</li>

<li class="mb-2">
   <span class="boldText"> 	Hate Speech.</span> Don't encourage violence or hatred. Don't post content for the purpose of promoting or inciting the hatred of, or dehumanizing, individuals or groups based on race, ethnic or national origin, religion, gender, gender identity, age, disability or disease. If you encounter content that violates our hate speech policies, please report it. <span class="boldText uline">Report hate speech</span>. Keep in mind that a post might be mean, tasteless, or offensive without necessarily encouraging violence or hatred. In cases like that, you can express your concerns to them directly, or use your BizGist to speak up, challenge ideas, raise awareness or generate discussion and debate.
</li>


<li class="mb-2"><span class="boldText">	Adult Content.</span> Don't upload images, videos, or GIFs that show real-life human genitals or female-presenting nipples — this includes content that is so photorealistic that it could be mistaken for featuring real-life humans (nice try, though). Don’t upload any content; including images, videos, GIFs, or illustrations, that depicts sex acts.</li>

<li class="mb-2">
  <span class="boldText">  	Violent Content and Threats, Gore and Mutilation. </span> Don't post content which includes violent threats toward individuals or groups - this includes threats of theft, property damage, or financial harm. Don't post violent content or gore just to be shocking. Don't showcase the mutilation or torture of human beings, animals (including bestiality), or their remains. Don't post content that encourages or incites violence, or glorifies acts of violence or the perpetrators. <span class="boldText uline"> Report violent threats.</span>

</li>
<li class="mb-2">
  <span class="boldText">  	Deceptive or Fraudulent Links. </span> Don't post deceptive or fraudulent links in your posts. This includes giving links misleading descriptions, putting the wrong “source” field in a post, setting misleading click-through links on images, or embedding links to interstitial or pop-up ads.

</li>
<li class="mb-2">
   <span class="boldText"> 	Misattribution or Non-Attribution.</span> Make sure you always give proper attribution and include full links back to original sources. When you find something awesome on BizGuruh, reblog it instead of reposting it. It's less work and more fun, anyway. When reblogging something, DO NOT inject a link back to your blog just to steal attention from the original post.

</li>

<li class="mb-2">
  <span class="boldText">  	Account Dormancy.</span> Use BizGuruh! Use BizGuruh all the time! Or at the very least, use BizGuruh once a year. If you don’t, we may mark your account as dormant. Your content won't go anywhere—it'll be archived exactly as you left it—but your URL(s) will be released for someone else to use.

</li>

<li class="mb-2">
   <span class="boldText"> 	Spam.</span> Don't spam people. Don't make spammy posts, don't post spammy replies, and don’t send people spammy messages. Be a regular human. Don't put tags on your posts that will mislead or deceive searchers. Don't put dubious code in your posts, like using JavaScript to cause redirects or inject unwanted ads in blogs. Don't use deceptive means to generate revenue or traffic, or create blogs with the primary purpose of affiliate marketing. Spam doesn't belong on BizGuruh.

</li>

<li class="mb-2">
   <span class="boldText"> 	Copyright or Trademark Infringement.</span> Respect the copyrights and trademarks of others. If you aren't allowed to use someone else's copyrighted or trademarked work (either by license or by legal exceptions and limitations such as fair use), don't post it.

</li>
<p>
    With regard to repeat copyright infringement, we use a three-strike system to evaluate the standing of a user's account, where, generally, each valid copyright infringement notice constitutes a strike, and three strikes results in the termination of a user's account. <span class="boldText uline">Report copyright infringement. Report trademark infringement</span>.

</p>

<li class="mb-2">
<span class="boldText"> 	Harassment.</span> Don't engage in targeted abuse or harassment. Don't engage in the unwanted sexualization or sexual harassment of others. If anyone is sending you unwanted messages or reblogging your posts in an abusive way, we encourage you to be proactive and <span class="boldText uline">Report harassment.</span>

</li>

<li class="mb-2">
    <span class="boldText">	Privacy Violations.</span> Don't use BizGuruh to deceptively obtain personal information. Don't post content that violates anyone's privacy, especially personally identifying or confidential information like credit card numbers, or unlisted contact information. <span class="boldText uline">Report privacy violations.</span>


</li>
<li class="mb-2"><span class="boldText">	Unlawful Uses or Content.</span> Don't use BizGuruh to conduct illegal behavior, like fraud or phishing.
</li>
<li class="mb-2">
<span class="boldText">	Human Trafficking and Prostitution.</span> Don't use BizGuruh to facilitate sex trafficking, other forms of human trafficking, or illegal prostitution. If you see this activity on BizGuruh, report it, and encourage victims to contact law enforcement.



</li>

     </ul>
<p>
    If we conclude that you are violating these guidelines, you may receive a notice via email. If you don't explain or correct your behavior, we may take action against your account. We do our best to ensure fair outcomes, but in all cases we reserve the right to suspend accounts, or remove content, without notice, for any reason, but particularly to protect our services, infrastructure, users, and community. We reserve the right to enforce, or not enforce, these guidelines in our sole discretion, and these guidelines don't create a duty or contractual obligation for us to act in any particular manner. We’re committed to these guidelines and we hope you are too.

</p>



<p>
You can report violations of these guidelines to us directly
</p>
<p>We also reserve the right to amend these guidelines using the procedures set forth in our <router-link to="/terms">Terms and Conditions</router-link>.
</p>
<p>For more information, check out our Help Center and Terms of Use.</p>

<p>Thanks for reading all of this, by the way. Welcome to BizGuruh Community.
</p>




        </div>

    </div>
</template>

<script>
export default {
    name:"guideline-component",
    data() {
        return {
            breadcrumbList:[],
        }
    },
    mounted() {
         this.updateList()
    },
     watch: {
        '$route'(){
         this.updateList()
        }
    },
    methods: {
         routeTo(pRouteTo){
            if (this.breadcrumbList[pRouteTo].link) {
                    this.$router.push(this.breadcrumbList[pRouteTo].link)
            }

            },
            updateList(){
                     this.breadcrumbList = this.$route.meta.breadcrumb;


            },

    },
}
</script>

<style scoped>
.bread ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
   margin: 10px 0px 30px;
    padding:5px 15px;
    background:#fff;
  }
  .bread ul > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    font-weight: bold;
    font-size: .8em;
    cursor: default;
    align-items: center;
  }
  .bread ul > li:not(:last-child)::after {
    content: '/';
    float: right;
    font-size: .8em;
    margin: 0 .5em;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
  }
.container{
    padding-top:80px;
    padding-bottom: 100px;
    line-height:1.8;
    font-size:16px;
}
h3{
    margin:10px 0;
}
ul{
    list-style: disc;
}
.boldText{
    font-weight:bold;
    font-size:16px;
    color:rgba(0, 0, 0, 0.64);
    margin-bottom: 2px;


}
.uline{
    text-decoration:underline;
}
.tCenter{
  margin: 10px auto;
  text-align: center;
}
@media(max-width:425px){
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    .boldText{
        font-size:16px;
    }
    ol ul{
        margin-bottom: 10px;
    }
}


</style>
