<template>
  <div class="container">
    <div class="bread">
      <ul>
        <li
          v-for="(breadcrumb, index) in breadcrumbList"
          v-bind:key="index"
          @click="routeTo(index)"
          :class="{linked: !!breadcrumb.link}"
        >{{breadcrumb.search}}</li>
      </ul>
    </div>

    <div class="container">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          aria-describedby="helpId"
          placeholder="Search"
          disabled
          v-model="search"
        />
      </div>

      <h4 class="mainHeader">"Search Result(s)"</h4>
      <hr />

      <h4
        v-if="articles.length === 0 && videos.length === 0 && podcasts.length === 0 && courses.length === 0 && researches.length === 0"
      >No result(s) found</h4>
      <div v-if="articles.length > 0" class="">
        <div
          v-for="(article,index) in articles"
          v-bind:key="index"
          class="col-lg-12 col-md-12 col-xs-12 main"
        >
          <h4 class="pryHeader">Article result(s)</h4>
          <div class="col-md-3 col-xs-3 cover ">
            <img :src="article.image" alt="article image" srcset />
          </div>
          <div class="col-md-8">
            <router-link
              class="title"
              :to="{ name: 'ArticleSinglePage', params: {id: article.product_id, name: article.title.replace(/ /g, '-' )}}"
            >{{article.title.toLowerCase()}}</router-link>
              <div class="overview" v-html="article.description"></div>
          </div>
        </div>
      </div>

      <div v-if="researches.length > 0">
        <h4 class="pryHeader">Market Research result(s)</h4>
        <div
          v-for="(research,index) in researches"
          v-bind:key="index"
          class="col-lg-12 col-md-12 col-xs-12 main"
        >
          <div class="col-md-3 col-xs-3 cover">
            <img :src="research.image" :alt="research.title" srcset />
          </div>
          <div class="col-md-8">
            <router-link
              :to="{ name: 'ProductPaperDetail', params: {id: research.product_id, name:  research.title.replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
            >
              <div class="title">{{research.title.toLowerCase()}}</div>
              <div class="overview">{{research.overview}}</div>
            </router-link>
          </div>
        </div>
      </div>
      <div v-if="videos.length > 0">
        <h4 class="pryHeader">Video result(s)</h4>
        <div
          v-for="(video,index) in videos"
          v-bind:key="index"
          class="col-lg-12 col-md-12 col-xs-12 main"
        >
          <div class="col-md-3 col-xs-3 cover">
            <img :src="video.image" :alt="video.title" srcset />
          </div>
          <div class="col-md-8">
            <router-link
              :to="{
                                                            name: 'Video',
                                                            params: { id:video.product_id }
                                                        }"
            >
              <div class="title">{{video.title.toLowerCase()}}</div>
              <div class="overview">{{video.description}}</div>
            </router-link>
          </div>
        </div>
      </div>
      <div v-if="podcasts.length > 0">
        <h4 class="pryHeader">Podcast result(s)</h4>
        <div
          v-for="(podcast,index) in podcasts"
          v-bind:key="index"
          class="col-lg-12 col-md-12 col-xs-12 main"
        >
          <div class="col-md-3 col-xs-3 cover">
            <img :src="podcast.image" :alt="podcast.title" srcset />
          </div>
          <div class="col-md-8">
            <router-link
              :to="{
									name: 'SingleVideoPage',
									params: { id: podcast.product_id }
								}"
            >
              <div class="title">{{podcast.title.toLowerCase()}}</div>
              <div class="overview">{{podcast.description}}</div>
            </router-link>
          </div>
        </div>
      </div>
      <div v-if="courses.length > 0">
        <h4 class="pryHeader">Course result(s)</h4>
        <div
          v-for="(course,index) in courses"
          v-bind:key="index"
          class="col-lg-12 col-md-12 col-xs-12 main"
        >
          <div class="col-md-3 col-xs-3 cover">
            <img :src="course.image" :alt="course.title" srcset />
          </div>
          <div class="col-md-8">
            <router-link
              class="title"
              :to="{
								name: 'CourseFullPage',
								params: {
									id: course.product_id,
									name: course.title.replace(/ /g, '-')
								}
							}"
            >
              <div class="title">{{course.title.toLowerCase()}}</div>
              <div class="overview">{{course.overview}}</div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getCustomerHeader } from "../../config";
export default {
  search: "home-search-component",
  data() {
    return {
      id: 0,
      search: this.$route.params.name,
      breadcrumbList: [],
      videoProduct: [],
      researchProduct: [],
      podcastProduct: [],
      articleProduct: [],
      courseProduct: []
    };
  },
  mounted() {
    this.updateList();

    axios.get(`/api/products`).then(response => {
      response.data.data.forEach(item => {
        if (item.prodType == "Market Research") {
          this.researchProduct.push(item.marketResearch);
        } else if (item.prodType == "Videos") {
          //  item.webinar.push(item.coverImage)
          item.webinar.image = item.coverImage;
          this.videoProduct.push(item.webinar);
          console.log(
            "Data: mounted ->   this.videoProduct",
            this.videoProduct
          );
        } else if (item.prodType == "Podcast") {
          this.podcastProduct.push(item.webinar);
        } else if (item.prodType == "Articles") {
          this.articleProduct.push(item.articles);
        } else if (item.prodType == "Courses") {
          this.courseProduct.push(item.courses);
        } else {
          return;
        }
      });
    });
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  computed: {
    researches() {
      return this.researchProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    videos() {
      return this.videoProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    podcasts() {
      return this.podcastProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    articles() {
      return this.articleProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    courses() {
      return this.courseProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    }
  }
};
</script>

<style scoped>
.container {
  padding: 10px;
  background: #fff;
}
.pryHeader {
  text-transform: inherit;
}

.bread ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 10px 0px 30px;
  padding: 5px 15px;
  background: #fff;
}
.bread ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
.bread ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.title {
  font-size: 16px;
  color: #a4c2db;
  text-transform: capitalize;
}
.title:hover {
  background: #f7f7f7;
  padding: 3px;
}
.overview {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.64);
  line-height: 1.2;
  max-height: 50px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.cover {
  padding: 15px 80px;
}
.cover img {
  width: 100%;
  height: 100%;
}
@media (max-width: 425px) {
  .cover {
    padding: 15px 50px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 3px;
  }
  .main {
    padding: 5px;
    border-bottom: 1px solid #eee;
  }
  .title {
    padding: 0;
    font-size: 14px;
  }
  .overview{
      font-size: 14px;
      max-height: 34px;
  }
  .cover {
    padding: 20px;
  }
}
</style>
