<template>
  <footer class="site-footer" v-if="show">
    <div class="row footer_policy">
      <div class="copyright">
        <p class="reserve">&copy; {{getYear}} Bizguruh . All rights reserved</p>
      </div>

      <div class="d-flex justify-around align-center">
        <a href="https://www.facebook.com/BizGuruh-314446332731552/">
          <i class="fab fa-facebook fa-1x px-2" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/BizGuruh">
          <i class="fab fa-twitter fa-1x px-2" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/bizguruh/">
          <i class="fab fa-instagram fa-1x px-2" aria-hidden="true"></i>
        </a>
        <a href="EMAIL: ask@bizguruh.com">
          <i class="fas fa-envelope-open-text fa-1x px-2"></i>
        </a>
      </div>

      <div class="rules">
        <div class="guidelines">
          <router-link to="/guidelines">Bizguruh Guidelines</router-link>
        </div>
        <div class="terms">
          <router-link to="/terms">Terms and Conditions</router-link>
        </div>
        <div class="privacy">
          <router-link to="/policies">Privacy Policy</router-link>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "index-footer-component",

  data() {
    return {
      year: 0,
      show: true
    };
  },
  mounted() {
    this.showFoot();
  },
  computed: {
    getYear: function() {
      let date = new Date();
      return (this.year = date.getFullYear());
    }
  },
  watch: {
    $route: "showFoot"
  },
  methods: {
    showFoot() {
      if (
        this.$route.path === "/auth/register" ||
        this.$route.path === "/vendor/auth" ||
        this.$route.path === "/auth/login" ||
          this.$route.path === "/account-demo" ||
            this.$route.path === "/account"||
             this.$route.path === "/chat" ||
             this.$route.name === "PrivateChat" ||
            this.$route.name === "GroupChat"
    
      ) {
        this.show = false;
      }
    }
  }
};
</script>

<style scoped>
.container {
  padding: 0px !important;
}
.col-xs-6 {
  width: 50%;
}
h2 {
  font-size: 17px !important;
}
.site-footer {
  background: #fff;
  font-size: 16px;
}
.footer-widgets h2 {
  color: #f7f8fa !important;
}
.footer_body {
  justify-content: space-around;
}
.foot {
  padding: 5px;
  font-size: 12px;
  line-height: 1.2;
}
.reserve {
  text-align: center;
  font-size: 12px;
  padding: 12px 15px;
  margin: 0;
}

.col-6 {
  background-color: #fff;
}

.socialM {
  padding: 10px;
}
.social_icons {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  margin: 0 auto;
  list-style: none;
}
ul,
ol {
  list-style: none;
}
ul li {
  color: rgba(0, 142, 142, 0.84);
}
a {
  color: rgba(0, 0, 0, 0.74) !important;
}
.rules {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  padding: 12px 15px;
}
.copyright {
  color: rgba(0, 0, 0, 0.74);
  font-size: 12px;
}
.footer_policy {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 0 20px;
  font-size: 12px;
  margin: 0 auto;
  width: 82%;
}
.guidelines::after {
  content: " |";
    color: rgba(0, 0, 0, 0.74);
  height: 10px;
}
.privacy,
.guidelines,
.copyright {
  padding: 0 5px;
}
.terms::after {
  content: " |";
   color: rgba(0, 0, 0, 0.74);
  height: 10px;
}
@media (max-width: 1024px) {
  .footer_policy {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer_policy {
    padding: 10px;
  }

  h2 {
    font-size: 16px !important;
  }
  .rules {
    font-size: 14px;
  }
  .footer_policy {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .footer_body {
    justify-content: flex-start;
  }
  .foot {
    padding-left: 80px;
  }
  .rules {
    justify-content: center;
  }
  .footer_policy {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .footer_policy {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
  .reserve {
    padding: 0;
  }
  h2 {
    font-size: 14px !important;
  }
  .site-footer {
    font-size: 12px;
  }
  li {
    margin-bottom: 6px !important;
  }
  .foot {
    font-size: 12px;
    line-height: 1;
    padding-left: 40px;
  }
  .mt-5 {
    margin-top: 0px !important;
  }
  .footer_body {
    padding: 5px 20px;
    justify-content: flex-start;
  }
  .footer_policy {
    padding: 5px 0px;
  }
  .reserve {
    text-align: center;
    font-size: 12px;
  }
  .copyright {
    padding: 0;
  }
  .rules {
    padding: 0;
    font-size: 12px;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .footer_policy {
    padding: 0;
    width: 100%;
  }
  .reserve {
    padding: 0;
  }
  h2 {
    font-size: 14px !important;
  }
  .site-footer {
    font-size: 9px;
  }
  li {
    margin-bottom: 6px !important;
  }
  .foot {
    font-size: 9px;
    line-height: 1;
    padding-left: 40px;
  }
  .mt-5 {
    margin-top: 0px !important;
  }
  .footer_body {
    padding: 5px 10px;
    justify-content: flex-start;
  }
  .footer_policy {
    padding: 5px 0px;
    flex-direction: column;
  }
  .reserve {
    text-align: center;
    font-size: 9px;
  }
  .copyright {
    padding: 0;
  }
  .rules {
    padding: 0;
    font-size: 9px;
    justify-content: center;
  }
}
</style>
