<template>
  <div class="container-fluid p-0">
    <div class="login_inner">
      <div class="d-flex h-100">
        <!-- register -->
        <div
          class="col-lg-8 col-md-8 col-sm-12 col-xs-12 signUp d-flex align-items-center justify-content-center"
          v-if="!newUser"
        >
          <div class="overlay"></div>
          <div class="text-c">
             <h2>Welcome to our BizTribe!</h2>
              <p
                class="pp"
              >Enjoy your 30-day free BizLibrary access, where resources can be archived and accessed at your convenience.</p>
            

            <div class="signUp-button">
              <!-- <button class="btn btn-back" @click="toggleSignin">Back</button> -->

              <!-- <router-link class="home_button" tag="a" to="/">Back</router-link> -->

              <button
                v-if="!registerToggle"
                class="btn btn-signup shadow-sm rounded"
                @click="toggleSignup"
              >Join Our BizTribe</button>

              <button v-if="registerToggle" class="btn btn-signup" @click="toggleSignin">Sign In</button>
            </div>
          </div>
        </div>
        <div
          v-else
          class="col-lg-8 col-md-8 col-sm-12 col-xs-12 signUp d-flex justify-content-center align-items-center"
        >
          <div>
            <h3 class="text-center mb-2">Welcome to our BizTribe!</h3>
            <p
              class="pp"
            >Build your BizLibrary and enjoy having all your favourite resources in one place.</p>
            <p class="pp">30-day Free Access</p>
          </div>
        </div>

        <!-- login  form is here-->

        <div
          v-if="!registerToggle"
          class="col-lg-4 col-md-4 col-sm-12 col-xs-12 loginPagge d-flex justify-content-center align-items-center"
        >
          <form @submit.prevent="login(userLogin)" class="text_content">
               <div class="mobile-register-text  mb-3 p-3">
              <h4 class="text-center">Welcome to our BizTribe!</h4>
              <p
                class="pp"
              >Enjoy your 30-day free BizLibrary access, where resources can be archived and accessed at your convenience.</p>
            </div>
            <h2 class="head">Log in</h2>
            <div class="form-group">
              <!-- <label for="login">Email</label> -->
           
                <div class="form-group">
                  <input
                    v-if="!isNumber"
                    autocorrect="off"
                    autocapitalize="off"
                    type="email"
                    class="form-control"
                    v-on:change="getCount"
                    v-model="userLogin.email"
                    @focus="errorCheck = false"
                    placeholder=" Email address"
                  />
                  <div class="input-group" v-if="isNumber">
                    <div class="input-group-prepend" style="width:25%">
                      <select class="input-group-text" v-model="user.phone_code" required>
                        <option
                          v-for="(dial,idx) in myDials"
                          :key="idx"
                          :value="dial.dial_code"
                        >{{ dial.dial_code+ ' - ' +dial.name }}</option>
                      </select>
                    </div>

                    <div class="input-group-append" style="width:75%">
                      <input
                        required
                        v-model="userLogin.email"
                        type="number"
                        class="form-control input-group-text text-left"
                        aria-describedby="helpId"
                        placeholder="Enter phone no"
                        minlength="6"
                        maxlength="10"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- <label for="Password">Password</label> -->
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    v-model="userLogin.password"
                    @focus="errorCheck = false"
                        placeholder="Enter password"
                  />
                </div>

            
      
            </div>

            <div>
              <!-- <p>Forgot Password</p>-->
              <div v-if="errorCheck" class="errorCheck">Please enter a valid credential...</div>
              <button type="submit" class="btn btn-logIn" >
                Log In
                <span class="spinner-grow spinner-grow-sm text-light" v-if="isLoading"></span>
              </button>
            </div>
                <div class="text-center">
                  <small
                    v-if="isNumber"
                    type="button"
                    @click="toggleEmail"
                    class="mx-auto switch"
                  >Log in with email address</small>
                  <small
                    v-if="!isNumber"
                    type="button"
                    @click="toggleEmail"
                    class="mx-auto switch"
                  >Log in with phone number</small>
                </div>
            <div class="text-center">
              <router-link to="/reset-password" class="reset text-muted"><small>Forgot password ?</small></router-link>
            </div>
          
          
          </form>
        </div>

        <!-- login form ends here -->

        <!-- register form starts here -->

        <div
          v-if="registerToggle"
          class="col-lg-4 col-md-4 col-sm-12 col-xs-12 registerPagge d-flex justify-content-center align-items-center"
        >
          <form @submit.prevent="register" class="text_content">
            <h2 class="head">Sign Up</h2>
            <span v-if="first">
              <div class="form-group">
                <input type="text" class="form-control" v-model="user.name" placeholder="Full name" />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  min="4"
                  v-model="user.business_name"
                  placeholder="Business name"
                />
              </div>

              <div class="mb-3">
                <button
                  type="button"
                  @click="changeTab('second')"
                  class="mx-auto px-4 text-white rounded-sm next "
                >Next</button>
              </div>
               <div class="text-center">
                  <small class="mobile">
                  Already have an account ?
                  <span class="btologin" @click="toggleSignin">Sign in</span>
                </small>
               </div>
            </span>

            <span v-if="second">
              <div class="form-group">
                <input
                  v-if="!isNumber"
                  autocorrect="off"
                  autocapitalize="off"
                  type="email"
                  class="form-control"
                  v-model="user.email"
                  placeholder=" Email address"
                />
                <div class="input-group" v-if="isNumber">
                  <div class="input-group-prepend" style="width:25%">
                    <select class="input-group-text" v-model="user.phone_code" required>
                      <option
                        v-for="(dial,idx) in myDials"
                        :key="idx"
                        :value="dial.dial_code"
                      >{{ dial.dial_code+ ' - ' +dial.name }}</option>
                    </select>
                  </div>

                  <div class="input-group-append" style="width:75%">
                    <input
                      required
                      v-model="user.phone_no"
                      type="number"
                      class="form-control input-group-text text-left"
                      aria-describedby="helpId"
                      placeholder="Enter phone no"
                      minlength="6"
                      maxlength="10"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  min="6"
                  v-model="user.password"
                  placeholder="Password"
                />
              </div>

              <div class="d-flex">
                <button
                  type="button"
                  @click="changeTab('first')"
                  class="btn-block m-2 text-white rounded-sm prev"
                >Previous</button>
                <button
                  type="button"
                  @click="changeTab('third')"
                  class="btn-block m-2 text-white rounded-sm next"
                >Next</button>
              </div>
              <div class="text-center mt-3">
                <small
                  v-if="isNumber"
                  type="button"
                  @click="toggleEmail"
                  class="mx-auto switch"
                >Sign up with email address</small>
                <small
                  v-if="!isNumber"
                  type="button"
                  @click="toggleEmail"
                  class="mx-auto switch"
                >Sign up with phone number</small>
              </div>
                <div class="text-center mt-3">
                   <small class="mobile">
                  Already have an account ?
                  <span class="btologin" @click="toggleSignin">Sign in</span>
                </small>
                </div>
            </span>
            <!-- <div class="form-group">
              <input
                type="password"
                class="form-control"
                min="6"
                v-model="user.password_confirmation"
                placeholder="Confirm password"
              />
            </div>-->
            <span v-if="third">
              <div class="form-group">
                <label class="mr-3">I am a ?</label>
                <div class="form-check form-check-inline">
                  <label class="form-check-label mr-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="user.business_type"
                      value="retailer"
                    /> Retailer
                  </label>
                  <label class="form-check-label mr-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="user.business_type"
                      value="manufacturer"
                    /> Manufacturer
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="user.business_type"
                      value="none"
                    /> None
                  </label>
                </div>
              </div>

              <div class="form-group">
               <label for="">   Do you wish to subscribe to our newsletters?</label>
                <div class="form-check form-check-inline">
                  <label class="form-check-label mr-3">
                    <input
                      type="radio"
                      class="form-check-input"
                      v-model="subscribeNews"
                      :value="true"
                      checked
                    />
                    Yes
                  </label>
                  <label class="form-check-label">
                    <input
                      type="radio"
                      class="form-check-input"
                      v-model="subscribeNews"
                      :value="false"
                    />
                    No
                  </label>
                </div>
              </div>
              <div class="form-group">
               
                <div class="input-container">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Do you have a token? (optional)"
                    @keyup="checkToken"
                    maxlength="9"
                    aria-describedby="helpId"
                    v-model="user.specialToken"
                  />
                </div>
              </div>

              <div class="terms text-muted">
                <small class="text-muted">
                  By joining now, you agree to our
                  <router-link to="/terms" class="text-biz">Terms & Services</router-link>
                  <span>and</span>
                  <router-link to="/policies" class="text-biz">Privacy Policy</router-link>
                </small>
              </div>
              <div class="d-flex do-column justify-content-center">
                <button
                  type="button"
                  @click="changeTab('second')"
                  class="text-white rounded-sm mr-3 previous"
                >Previous</button>
                <button type="submit" class="btn btn-logIn mr-2" >
                  Join Our BizTribe
                  <span
                    class="spinner-grow spinner-grow-sm text-light"
                    v-if="show"
                  ></span>
                </button>

                <small class="mobile mt-3">
                  Already have an account ?
                  <span class="btologin" @click="toggleSignin">Sign in</span>
                </small>
              </div>
            </span>
          </form>
        </div>

        <!-- register form ends  -->
      </div>
    </div>
  </div>
</template>

<script>
import { getCustomerHeader } from "../../config";
import { dialCodes } from "./phoneCodes";
export default {
  name: "user-authenticate-component",
  data: function() {
    return {
      myDials: [],
      errorCheck: false,
      isLoading: false,
      status: "",
      registerToggle: false,
      count: 0,
      vendor_username: null,
      show: false,
      ip: "",
      newUser: false,
      subscribeNews: true,
      user: {
        name: "",
        email: "",
        password: "",
        // password_confirmation:,
        phone_code: "+234",
        phone_no: null,
        specialToken: "",
        business_name: "",
        business_type: "retailer"
      },
      userLogin: {
        email: null,
        password: null
      },
      validToken: null,
      first: true,
      second: false,
      third: false,
      isNumber: false
    };
  },

  created() {
    this.check();
    this.myDials = dialCodes();
  },
  watch: {
    $route: "check"
  },

  mounted() {
    let customerUser = JSON.parse(localStorage.getItem("authUser"));
    if (customerUser != null) {
      this.profile = true;
    } else {
      this.profile = false;
      if (this.$route.params.name === "register") {
        this.registerToggle = true;
      } else if (this.$route.params.name === "login") {
        this.registerToggle = false;
      }
    }
    this.getCount();
    if (this.count === 1) {
      this.newUser = true;
    } else {
      this.newUser = false;
    }
  },
  methods: {
    toggleEmail() {
      this.isNumber = !this.isNumber;
      if (this.isNumber === true) {
        this.user.email = "abc@email.com";
        this.user.phone_no = null;
        this.userLogin.email = null;

      }
      if (this.isNumber === false) {
        this.user.email = "";
        this.user.phone_no = 8799;
         this.userLogin.email = "";
       
      }
    },
    changeTab(stage) {
      switch (stage) {
        case "first":
          this.first = true;
          this.second = this.third = false;

          break;

        case "second":
          if(this.user.name !=='' && this.user.business_name !== ''){
          this.second = true;
          this.first = this.third = false;
          }else{
            this.$toasted.error('Fill all fields')
          }
       

          break;

        case "third":
          if((this.user.email !=='' || this.user.phone_no !==null) && this.user.password !== ''){
             this.third = true;
             this.second = this.first = false;

          }else{
                this.$toasted.error('Fill all fields')
          }
         
          break;

        default:
          break;
      }
    },
    subscribe(email, name) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        email: user.email,
        first_name: name,
        last_name: name
      };
      axios.post(`/api/subscribe`, data).then(response => {
        if (response.status === 200) {
        }
        {
        }
      });
    },
    generateToken(l) {
      let text = "";
      let char_list =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < l; i++) {
        text += char_list.charAt(Math.floor(Math.random() * char_list.length));
      }

      this.userToken = "USR-" + text;
      return "USR-" + text;
    },
    check() {
      if (this.$route.params.name === "login") {
        this.loginToggle = true;
        this.registerToggle = false;
      } else if (this.$route.params.name === "register") {
        this.registerToggle = true;
        this.loginToggle = false;
      } else {
      }
    },
    checkToken() {
      if (this.user.specialToken !== "") {
        this.validToken = "checking";

        axios
          .post(`/api/checkToken/${this.user.specialToken}`)
          .then(response => {
            if (response.status === 200) {
              if (response.data.message === "invalid") {
                this.validToken = "invalid";
                return this.validToken;
              } else if (response.data.message === "valid") {
                this.validToken = "valid";
                return this.validToken;
              } else {
                this.validToken = "limit";
                this.$toasted.error("Token maximum limit ");

                return this.validToken;
              }
            }
          });
      } else {
        this.validToken = null;
      }
    },
    toggleSignin() {
      this.$router.push({ name: "auth", params: { name: "login" } });
    },
    toggleSignup() {
      this.$router.push({ name: "auth", params: { name: "register" } });
    },
    getCount() {
      axios.get(`/api/count/${this.userLogin.email}`).then(response => {
        this.count = response.data.count;
      });
    },
    register() {
      if(this.subscribeNews === false){
         localStorage.setItem("news", "show");
      }
      this.show = true;

      if (this.user.specialToken === "") {
        axios
          .post("/api/customer/register", this.user)

          .then(response => {
            if (response.status === 200) {
              this.show = false;
              this.$toasted.success(
                "Registration successful, Please Login to continue"
              );
              axios
                .post(`/api/addcount/${this.user.email}`)
                .then(response => {});
              this.$router.push({ name: "LoginForm" });
            }
          })
          .catch(error => {
            for (var key in error.response.data.errors) {
              this.$toasted.error(error.response.data.errors[key][0]);
              this.show = false;
            }
          });
      } else {
        axios
          .post(`/api/checkToken/${this.user.specialToken}`)
          .then(response => {
            if (response.status === 200) {
              if (response.data.message === "invalid") {
                this.$toasted.error("Invalid token provided");
                this.validToken = "invalid";
              } else if (response.data.message === "limit") {
                this.$toasted.error("Token maximum limit");
                this.validToken = "invalid";
              } else if (response.data.message === "valid") {
                axios
                  .post("/api/customer/register", this.user)

                  .then(response => {
                    if (response.status === 200) {
                      if (subscribeNews) {
                        this.subscribe(user.email, user.name);
                      }
                      this.show = false;
                      this.$toasted.success(
                        "Registration successful, Please Login to continue"
                      );
                      axios
                        .post(`/api/addcount/${this.user.email}`)
                        .then(response => {
                          if (response.status === 200) {
                          }
                        });
                      this.$router.push({ name: "LoginForm" });
                    }
                  })
                  .catch(error => {
                    this.show = false;
                    for (var key in error.response.data.errors) {
                      this.$toasted.error(error.response.data.errors[key][0]);
                    }
                  });
              } else {
                this.$toasted.error("Invalid token provided");
                this.show = false;
              }
            }
          });
      }
    },
    login(userLogin) {
      this.isLoading = true;
      let ipDetails = {
        email: this.userLogin.email,
        login_token: this.generateToken(10)
      };
      localStorage.setItem("login_token", ipDetails.login_token);
      axios
        .post(`/api/ip`, JSON.parse(JSON.stringify(ipDetails)))
        .then(response => {
          if (response.status === 200) {
            if (response.data.status === "login") {
            }
          }
        });

      let data = {
        client_id: 2,
        client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
        grant_type: "password",
        username: userLogin.email,
        password: userLogin.password,
        theNewProvider: "api"
      };
      const authUser = {};
      axios
        .post("/oauth/token", data)
        .then(response => {
          authUser.access_token = response.data.access_token;
          authUser.refresh_token = response.data.refresh_token;
          localStorage.setItem("authUser", JSON.stringify(authUser));
          axios
            .get("/api/user", { headers: getCustomerHeader() })
            .then(response => {
             

              if (response.status === 200) {
                authUser.id = response.data.id;
                authUser.email = response.data.email;
                authUser.name = response.data.name;
                authUser.vendor_user_id = response.data.vendor_user_id;
                if (response.data.business_name !== null) {
                  authUser.business_name = response.data.business_name;
                }
                if (response.data.business_name !== null) {
                  authUser.business_type = response.data.business_type;
                }
                if (response.data.age !== null) {
                  authUser.age = response.data.age;
                }
                if (response.data.gender !== null) {
                  authUser.gender = response.data.gender;
                }
                if (response.data.location !== null) {
                  authUser.location = response.data.location;
                }
                if (response.data.logo !== null) {
                  authUser.logo = response.data.logo;
                }
                axios.get("/api/get-all-vendor").then(response => {
                  if (response.status === 200) {
                    response.data.forEach(vendor => {
                      if (
                        Number(vendor.id) === Number(authUser.vendor_user_id)
                      ) {
                        this.vendor_username = vendor.username;
                      }
                    });
                    authUser.vendor_username = this.vendor_username;
                    localStorage.setItem("authUser", JSON.stringify(authUser));
                    this.isLoading = false;
                    this.status = true;
                    this.$emit("authenicatedBar", true);

                    if (this.$route.query.watch === "media") {
                      this.$router.go(-1);
                    } else if (this.$route.query.check === "guides") {
                      this.$router.go(-1);
                    } else {
                      if (authUser.vendor_user_id === 0) {
                        Engagespot.identifyUser(authUser.id);
                        if (this.$route.query.redirect) {
                          this.$router.go(-1);
                        } else if (this.$route.query.redirectFrom) {
                          this.$router.go(-1);
                        } else {
                          this.$router.push({ name: "InsightPage" });
                        }
                      } else {
                        Engagespot.identifyUser(authUser.vendor_user_id);
                        this.$router.push({
                          name: "PartnersProfile",
                          params: { username: this.vendor_username }
                        });
                        this.$toasted.success("Successfully login");
                      }
                    }
                  }
                });
              } else {
                this.$toasted.error("Invalid user name and password");
                this.errorCheck = true;
              }
            })
            .catch(error => {
              let errors = Object.values(error.response.data.error);
              errors.forEach(item => {
                console.log("vvv");
                this.$toasted.error(item[0]);
                console.log("fjfjf");
              });
              // this.isLoading = false;
              // this.status = false;
            });
        })
        .catch(error => {
          this.errorCheck = true;
          this.isLoading = false;
          //this.status = true;
        });
    }
  }
};
</script>

<style scoped>
body {
  background: #a4c2db;
}
.next {
  background: #a4c2db;
  padding:5px 30px;
    height:44px;
}
.prev {
  background: #333;
    padding:5px 30px;
      height:44px;
}
.previous {
  background: #333;
  padding: 5px 30px;
    height:44px;
   
}
/* .reset {
  color: #fff !important;
} */
.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  padding: 90px 0 30px !important;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  min-height: 100vh;
}
.form-control {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  height:44px;
  /* background-color:lightsteelblue; */
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
}

label {
  font-weight: normal;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.text_content {
  width: 100%;
  padding: 15px;
}
/* .form-control {
  background: rgba(255, 255, 255, 0.7);
} */
.form-check-label {
  display: flex !important;
  align-items: center;
}
/* .form-check-input{
  margin-right:0;
} */
.input-container {
  display: flex;
  position: relative;
}
.switch:hover {
  text-decoration: underline;
}
.valid {
  position: absolute;
  right: 4px;
  top: 35%;
}
.btologin {
  margin: 10px 0 0 10px;
  font-weight: bold;
}
.v-progress-circular {
  margin: 0 1rem;
}
.fa-red {
  color: red;
}
.fa-green {
  color: green;
}
.primary {
  color: #a4c2db;
}
.center {
  text-align: center;
  justify-content: center;
}

.signUp {
  position: relative;
  background-image: url(/images/login.jpg);
  padding: 0;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.signup-head {
  font-size: 24px;
}
.head {
  font-size: 24px;
  font-weight: bolder;
}

a.login-home.router-link-active {
  display: none;
  margin-left: -20px;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 16px;
}
a.signup-home.router-link-active {
  display: none;
  margin-left: -20px;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 16px;
}
.mobile,
.mobile-register-text {
  display: none;
}

.loginPagge {
  background-color: white;
  padding: 20px;
}
.text-c {
  z-index: 2;
  color: white;
}

.registerPagge {
  background-color: white;
  padding: 0;
  font-size: 14px;
}
.registerPagge {
  padding: 60px 40px 20px;
}
.text_content {
  padding: 0;
}
h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 32px;
}

.pp {
  text-align: center;
  font-size: 18px;
}
.btn-signup {
  background-color: #a4c2db !important;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  height:44px;
}

.btn-logIn {
  color: #fff;
  background-color: #a4c2db !important;

  text-transform: capitalize;
  border: 1px solid #fff;
  position: relative;
  padding: 5px 40px;
  font-weight: bold;
    height:44px;
}
.btn-back {
  display: none;
  color: #000000;
  font-size: 14px;
  text-transform: none;
    height:44px;
}
.terms {
  margin-bottom: 16px;
  font-size: 12px;
}
.btn-join {
  font-size: 16px;
  text-transform: capitalize;
  padding: 0 4px;
  background-color: transparent;
  color: #a4c2db;
  font-weight: bold;
    height:44px;
}
.btn-join:hover {
  color: #0000;
}

.signUp-button {
  margin: 40px 0 0 0;
  text-align: center;
    height:44px;
}
a.home_button {
  color: white;
  margin: 10px;
}

.login_inner {
  margin-top: 10px;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .terms {
    text-align: center;
  }
  .text_content {
  text-align: center;
}
  .input-group-text {
    font-size: 0.85rem;
  }
  .btn-logIn {
    color: #fff;
    background-color: #333 !important;
    margin-bottom: 16px;
    margin-right: 0 !important;
    width:100%
  }
  .next {
    background: #333;
    color: #fff !important;
     width:100%
  }
  .prev {
  }
  .previous {
    background: #fff;
    color: #333 !important;
    margin-right: 0 !important;
    margin-bottom: 16px;
  }
  .signup-head {
    font-size: 18px;
  }
  .head {
    font-size: 18px;
  }
  .signUp.signUpActive {
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-register-text {
    display: inline-block;
    margin-top: 40px;
  }
  .mobile {
    display: inline;
    text-align: center;
  }
  .btn-back {
    display: inline-block;
  }
  .pp {
    font-size: 14px;
    text-align: start;
  }
  a.home_button {
    color: #ffffff;
    margin-left: 20px;
    margin-top: 8px;
  }
  .signUpActive {
    display: block;
    /* margin-top: 30px; */
  }
  .loginActive {
    display: none;
  }
  .h-100 {
    min-height: 100% !important;
  }
  .btologin {
    margin: 0;
  }
  .signup-head {
    font-size: 18px;
  }
  .head {
    font-size: 18;
  }
  .terms p {
    font-size: 9px;
    text-align: center;
  }
  .btn-join {
    font-size: 14px;
    /* font-weight: bold; */
    padding: 0;
    color: #0f283c;
    height:auto;
  }
  .container {
    padding: 30px 0 0 !important;
  }
  .login_area {
    width: 100%;
  }
  .text-biz {
    color: #0f283c !important;
    font-weight: bold;
  }
  .loginPagge {
    background: #d1e8fd;
    background-size: cover;
    background-position: center center;
  }
  .registerPagge {
    background: #d1e8fd;
    background-size: cover;
    background-position: center center;
    padding: 60px 20px 20px;
  }

  .signUp {
    display: none !important;
  }
  .signUp.signUpActive {
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
  }
  a.home_button {
    margin-left: 20px;
    margin-top: 8px;
    color: #ffffff;
  }

  a.login-home.router-link-active {
    display: block;
  }
  a.signup-home.router-link-active {
    display: block;
  }
  .mobile-register-text {
    display: inline-block;
    margin-top: 20px;
  }
  .btn-back {
    display: inline-block;
  }
  .pp {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    font-weight: normal;
  }
  .signUpActive {
    display: block;
  }
  .loginActive {
    display: none;
  }
  .btn-logIn {
    color: #fff;
    background-color: #333 !important;
    margin-bottom: 16px;
    margin-right: 0 !important;
  }
  .fa-home {
    color: #a4c2db;
  }
  .do-column {
    flex-direction: column;
  }
}
@media screen and (max-width: 325px) {
  .do-column {
    flex-direction: column;
  }
}
</style>
