<template>
  <div class="main">
    <div class="expert-heading">
      <strong>Some of our featured resources</strong>
    </div>
    <div class="my-content d-flex align-center">
      <div class="rightSide">
        <div class="menu-bar">
          <span @click="changeType('all')" class="barItem" v-bind:class="{active:first}">All</span>
          <span
            @click="changeType('finance')"
            class="barItem"
            v-bind:class="{active:second}"
          >Finance</span>
          <span @click="changeType('sales')" class="barItem" v-bind:class="{active:third}">Sales</span>
          <span
            @click="changeType('marketing')"
            class="barItem"
            v-bind:class="{active:fourth}"
          >Marketing</span>
          <span
            @click="changeType('modeling')"
            class="barItem"
            v-bind:class="{active:fifth}"
          >Modelling</span>
          <span
            @click="changeType('branding')"
            class="barItem"
            v-bind:class="{active:seventh}"
          >Branding</span>
          <span
            @click="changeType('personal_development')"
            class="barItem d-no"
            v-bind:class="{active:sixth}"
          >Personal Development</span>
        </div>
        <swiper :options="swiperOption" ref="articleSlide" class="bg-white p-2">
          <swiper-slide class="card border-0" v-for="(item, idx) in myProducts" :key="idx">
            <div class="hover-text">
              <p
                class="hover-title toCaps text-white"
                v-if="item.prodType == 'Articles'"
              >{{item.articles.title.toLowerCase()}}</p>
              <p
                class="card-title toCaps text-white"
                v-if="item.prodType == 'Videos'"
              >{{item.webinar.title.toLowerCase()}}</p>

              <p
                class="card-title toCaps text-white"
                v-if="item.prodType == 'Courses'"
              >{{item.courses.title.toLowerCase()}}</p>

              <p
                class="card-desc"
                v-if="item.prodType == 'Articles'"
                v-html="item.articles.description"
              ></p>
              <p class="card-desc" v-if="item.prodType == 'Videos'">{{item.webinar.description}}</p>
              <p class="card-desc" v-if="item.prodType == 'Courses'">{{item.courses.overview}}</p>

              <router-link
                v-if="item.prodType == 'Articles'"
                :to="{ name: 'ArticleSinglePage', params: {id: item.articles.product_id, name: item.articles.title.replace(/[^a-z0-9]/gi, '')}}"
              >
                <button
                  type="button"
                  class="elevated_btn btn-sm elevated_btn_sm rounded-pill mt-0 text-main"
                >View</button>
              </router-link>
              <router-link
                v-if="item.prodType == 'Videos'"
                :to="{
									name: 'Video',
									params: { id: item.webinar.product_id }
								}"
              >
                <button
                  type="button"
                  class="elevated_btn btn-compliment elevated_btn_sm rounded-pill mt-0 text-white"
                >View</button>
              </router-link>
            </div>
            <div class="card-img">
              <img class="card-img-top" :src="item.coverImage" alt />
            </div>
            <div class="card-body">
              <p
                class="card-title toCaps"
                v-if="item.prodType == 'Articles'"
              >{{item.articles.title.toLowerCase()}}</p>
              <p
                class="card-title toCaps"
                v-if="item.prodType == 'Videos'"
              >{{item.webinar.title.toLowerCase()}}</p>
              <p
                class="card-title toCaps"
                v-if="item.prodType == 'Courses'"
              >{{item.courses.title.toLowerCase()}}</p>

              <p class="card-text text-left mb-1">{{item.prodType}}</p>
              <p class="card-text industry text-left mb-1" v-if="item.industry">{{item.industry.name}}</p>
              <p
                class="card-text text-left mb-1"
                v-if="item.prodType == 'Videos'"
              >{{item.webinar.host}}</p>
              <p
                class="card-text text-left mb-1"
                v-if="item.prodType == 'Articles'"
              >{{item.articles.writer}}</p>
            </div>
          </swiper-slide>

          <div
            @click="articleNext"
            class="swiper-button-next swiper-button-black"
            slot="button-next"
          ></div>
          <div
            v-if="prevTop !== 0"
            @click="articlePrev"
            class="swiper-button-prev swiper-button-black"
            slot="button-prev"
          ></div>
        </swiper>
      </div>
    </div>
    <div class="explore-all  px-3">
      <router-link to="/explore" class="ml-auto"><button class="elevated_btn elevated_btn_sm  text-main ml-auto">Explore all</button></router-link>
    </div> 
  </div>
</template>

<script>
export default {
  name: "main-content-component",
  data() {
    return {
      scrollPos: 0,
      currentHeight: 0,
      swing: false,
      type: "all",
      first: true,
      second: false,
      third: false,
      fourth: false,
      fifth: false,
      sixth: false,
      seventh: false,
      swiperOption: {
        slidesPerView: 5,
        slidesPerColumn: 1,
        spaceBetween: 15,
        breakpoints: {
          425: {
            slidesPerView: 2,
            spaceBetween: 10
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 10
          }
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      },
      videoProduct: [],
      researchProduct: [],
      podcastProduct: [],
      articleProduct: [],
      courseProduct: [],
      allProduct: [],
      prevTop: 0
    };
  },
  created() {
    this.getProducts();
  },
  mounted() {},
  watch: {
    // scrollPos: "swinging"
  },
  methods: {
    swinging() {
      if (this.scrollPos > window.innerHeight * 1.44) {
        this.swing = true;
      }
    },
    changeType(type) {
      switch (type) {
        case "all":
          this.type = "all";
          this.first = true;
          this.second = this.third = this.fourth = this.fifth = this.sixth = this.seventh = false;
          break;
        case "finance":
          this.type = "finance";
          this.second = true;
          this.first = this.third = this.fourth = this.fifth = this.sixth = this.seventh = false;
          break;
        case "sales":
          this.type = "sales";
          this.third = true;
          this.first = this.second = this.fourth = this.fifth = this.sixth = this.seventh = false;
          break;
        case "marketing":
          this.type = "marketing";
          this.fourth = true;
          this.first = this.second = this.third = this.fifth = this.sixth = this.seventh = false;
          break;
        case "modeling":
          this.type = "business modeling";
          this.fifth = true;
          this.first = this.second = this.third = this.fourth = this.sixth = this.seventh = false;
          break;
        case "personal_development":
          this.type = "personal development";
          this.sixth = true;
          this.first = this.second = this.third = this.fourth = this.fifth = this.seventh = false;
          break;
        case "branding":
          this.type = "branding";
          this.seventh = true;
          this.first = this.second = this.third = this.fourth = this.fifth = this.sixth = false;
          break;

        default:
          this.first = this.second = this.third = this.fourth = this.fifth = this.sixth = this.seventh = false;
          break;
      }
    },
    topSlide() {
      this.prevTop = this.$refs.articleSlide.swiper.activeIndex;
    },
    articleNext() {
      this.$refs.articleSlide.swiper.slideNext();
      this.topSlide();
    },
    articlePrev() {
      this.$refs.articleSlide.swiper.slidePrev();
      this.topSlide();
    },

    getProducts() {
      axios.get(`/api/products`).then(response => {
        if (response.status === 200) {
          this.isActive = false;

          response.data.data.forEach(item => {
            if (item.prodType == "Market Research") {
              item.marketResearch.coverImage = item.coverImage;
              item.marketResearch.subLevel = item.subscriptionLevel;
              this.researchProduct.push(item.marketResearch);
            } else if (item.prodType == "Videos") {
              item.webinar.coverImage = item.coverImage;
              item.webinar.subLevel = item.subscriptionLevel;
              this.videoProduct.push(item.webinar);
            } else if (item.prodType == "Podcast") {
              item.webinar.coverImage = item.coverImage;
              item.webinar.subLevel = item.subscriptionLevel;
              this.podcastProduct.push(item.webinar);
            } else if (item.prodType == "Articles") {
              item.articles.coverImage = item.coverImage;
              item.articles.subLevel = item.subscriptionLevel;
              this.articleProduct.push(item.articles);
            } else if (item.prodType == "Courses") {
              item.courses.coverImage = item.coverImage;
              item.courses.subLevel = item.subscriptionLevel;

              this.courseProduct.push(item.courses);
            } else {
              return;
            }
          });

          this.allProduct = response.data.data;
        }
      });
    },
    watch(id) {
      this.$router.push({
        name: "Video",
        params: { id: id }
      });
    }
  },
  computed: {
    myProducts() {
      return this.allProduct.reverse().filter(item => {
        if (item.subjectMatter.name.toLowerCase() == this.type) {
          return item;
        }
        if (this.type === "all") {
          return item;
        }
      });
    }
  },
  components: {}
};
</script>

<style scoped>
.main {
  min-height: 70vh;
     background:rgba(255, 255, 255, 0.6);
    border-top: 1px solid #eaeaea;
     padding-bottom: 45px;
}
.card {
  border-radius: 2px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.05) !important;
  background: #fff;
  color: #4a4a4a;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}
.active {
  border-color: hsl(207, 43%, 20%) !important;
}
h3 {
  text-transform: initial;
  font-size: 34px;
  color: #333;
}
.menu-bar {
  display: flex;
  border-bottom: 1px solid #d4d6db;
  margin-bottom: 36px;
}
.barItem {
  padding: 15px 20px;
  font-size: 15px;
  cursor: pointer;
  widows: inherit;
  border-bottom: 4px solid transparent;
}
.barItem:hover {
  color: hsl(207, 43%, 20%);
}

.rightSide {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.my-content {
  width: 93%;
  min-height: 50vh;
  padding: 20px 0;
  padding-top: 60px;
 
  margin: 0 0 0 auto ;
}
.hover-text {
  display: none;
  border-radius: 5px;
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: hsl(207, 43%, 20%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 9;
}
.card:hover .hover-text {
  display: flex;
}

.swiper-inner {
  width: 100%;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: auto;
}
.extraBg {
  width: 100%;
  height: 45%;
  bottom: 0;
  position: absolute;
}
.btn-primary {
  background-color: #3c8dbc !important;
  border-color: #367fa9 !important;
  text-transform: capitalize;
}
.bg-offwhite {
  background-color: #ffffff;
}
.card {
  position: relative;
  height: auto;
}
.card-img {
  height: 150px;
  overflow: hidden;
}
.card-img-top {
  height: 150px;
  object-fit: cover;
  transition: all 0.4s;
  overflow: hidden;
}
.card-body {
  cursor: pointer;
}
.card:hover .card-img .card-img-top {
  transform: scale(1.1);
}
.card-title.toCaps {
  color: hsl(207, 43%, 20%);
  text-align: left;
  font-weight: bold;
  font-size: 16.5px;
  height: 44px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
}
.hover-title.toCaps {
  color: hsl(207, 43%, 20%);
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.3;
  height: 60px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
  margin-bottom: 11px;
}
.card-text.industry {
  text-align: left;
  font-size: 15px;
  height: 20px;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}
.expert-heading {
  width: 30%;
  padding: 30px 30px 25px;
  background-color: hsl(207, 43%, 20%);
  border-bottom-right-radius: 100px;
  color: #fff;
}
.expert-heading strong {
  font-size: 24.5px;
  color: #fff;
}

.card-desc {
  text-align: left;
  font-size: 15px;
  max-height: 113px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
}

.text {
  text-align: left;
  font-size: 16px;
  height: 300px;
  color: white;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 12;
  -moz-line-clamp: 12;
  -ms-line-clamp: 12;
  -o-line-clamp: 12;
  line-clamp: 12;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
}
.overlay-text {
  position: absolute;
  display: none !important;
  width: 93%;
  height: 95%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}
.card:hover .overlay-text {
  display: block !important;
}
.card-body {
  background-color: #ffffff;
}
.fa-4x {
  font-size: 2em;
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }

  .my-content {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .rightSide {
    width: 100%;
    padding: 0;
  }

  .barItem {
    padding: 14px;
    font-size: 14px;
  }
  .expert-heading {
    width: 90%;
    padding: 15px 20px 10px;
  }
  .expert-heading strong {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .expert-heading strong {
    font-size: 16px;
  }
  h3 {
    font-size: 22px;
  }

  .barItem {
    padding: 6px;
    font-size: 13px;
  }
  .d-no {
    display: none;
  }
  .mybox {
    width: 10%;
  }

  .fa-3x {
    font-size: 1em;
  }
  .card-title.toCaps {
    font-size: 13px;
    line-height: 1.3;
    height: 34px;
    margin-bottom: 8px;
  }
  .card-body {
    padding: 10px;
    line-height: 1.2;
  }
  .card-img {
    height: 100px;
  }
  .card-img-top {
    height: 120px;
  }
  .card {
    height: auto;
    padding: 0 0 10px 0;
  }
  .card-text.industry {
    font-size: 12px;
    margin-bottom: 8px;
    height: 15px;
  }
  .card-text {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .card-desc {
    font-size: 13px;
    height: 100px;
    line-height: 1.6;
    padding: 10px;
  }
  .short-text {
    height: 75px;
    line-height: 1.2;
  }
  .btn {
    padding: 4px 18px 6px;
  }
  .bg-offwhite {
    background: none !important;
  }
}
</style>
