<template>
  <div class="main-page">
    <div class="message-tab">
      <div class="users animated slideIn" v-if="!hide">
        <div class="form-group">
          <input
            type="text"
            class="form-control rounded-pill border-0"
            aria-describedby="helpId"
            placeholder="Search"
            v-model="search"
          />
          <i class="fa fa-search search_icon" aria-hidden="true"></i>
        </div>
        <ul class="user_name" v-if="sortUser.length">
          <li
            v-for="(vendor,idx) in sortUser "
            :key="idx"
            class="toCaps align_image"
            @click="getVendor(vendor.id,idx)"
            :class="{active:active == idx}"
          >
            <div v-if="vendor.valid_id !==null && vendor.valid_id !== undefined">
              <img class="profile_img" :src=" vendor.valid_id" alt />
            </div>
            <div v-else class="profile_img">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
            <div>
              {{vendor.username.toLowerCase()}}
              <p
                class="new_message"
                v-for="(message,id) in messages"
                :key="id"
                v-if="message.vendor_user_id == vendor.id && messages.length-1 == id"
              >{{message.message}}</p>
            </div>
          </li>
        </ul>
        <ul class="user_name" v-else>
          <li>Not available</li>
        </ul>
      </div>
      <form @submit.prevent="sendMessage" class="message" v-if="vendor.length">
        <div class="toCaps p-2 chat_header align_image text-right">
          <div
            v-if="vendor[0].valid_id !== null && vendor[0].valid_id !== undefined && vendor[0].valid_id !== ''"
          >
            <img class="profile_img" :src=" vendor[0].valid_id" alt />
          </div>
          <div v-else class="profile_img">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </div>
          <div>{{vendor[0].username.toLowerCase()}}</div>

          <i
            class="fa fa-ellipsis-v text-main ml-auto pr-3 mobile"
            @click="showUsers"
            aria-hidden="true"
          ></i>
        </div>
        <ul class="message-body" v-if="vendor.length" v-chat-scroll>
          <div class="p-2 py-3 pb-4">
            <li
              class="py-1"
              v-for="(message,index) in sortMessages"
              :key="index"
              :class="{'text-right':id== message.sender_id , 'ml-auto':id== message.sender_id}"
            >
              <div
                :class="{'chat-right':id == message.sender_id  , 'chat-left':id !== message.sender_id  }"
              >
                {{message.message}}
                <span class="time">{{message.created_at | moment("HH:mm")}}</span>
                <div class="status" v-if="message.status">{{message.status}}</div>
                <div v-else-if="index == sortMessages.length - 1" class="status">{{status}}</div>
              </div>
            </li>
          </div>
        </ul>
        <div class="bg-ccc p-2">
          <div class="form-group submit">
            <input
              required
              type="text"
              class="form-control rounded-pill mr-3"
              aria-describedby="helpId"
              v-model="message"
              placeholder="Type your message here .."
            />
            <button
              type="submit"
              class="elevated_btn elevated_btn_sm m-0 btn-compliment text-white shadow-none rounded-pill"
            ><i class="fas fa-paper-plane text-white" aria-hidden="true"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      messages: [],
      users: [],
      message: "",
      allVendors: [],
      vendor: [],
      id: null,
      active: 0,
      hide: false,
      search: "",
      activeUser: 0,
      new_message: "",
      status: ""
    };
  },
  mounted() {
    this.getVendors();
    let user = JSON.parse(localStorage.getItem("authUser"));
    this.id = user.id;

    if (window.innerWidth < 768) {
      this.hide = true;
    } else {
      this.hide = false;
    }
  },

  computed: {
    sortUser() {
      return this.allVendors.filter(item => {
        return item.id == this.$route.params.id;
      });
    },
    sortMessages() {
      return this.messages.filter(item => {
        return item.vendor_user_id == this.activeUser;
      });
    }
  },
  methods: {
    showUsers() {
      this.hide = !this.hide;
    },
    getVendor(id, index) {
      if (window.innerWidth < 768) {
        this.hide = true;
      }
      let user = JSON.parse(localStorage.getItem("authUser"));

      Echo.private("chat." + id + user.id).listen(
        "PrivateVendorMessages",
        e => {
          this.messages.push({
            message: e.message.message,
            created_at: e.message.created_at,
            status: e.message.status,
            vendor_user_id: e.message.vendor_user_id
          });
          this.new_message = e.message.vendor_user_id;
        }
      );
      this.active = index;
      this.activeUser = id;
      this.new_message = "";
      this.vendor = this.allVendors.filter(item => {
        return item.id == id;
      });
    },
    getVendors() {
      axios.get("/api/get-all-vendor").then(response => {
        if (response.status === 200) {
          response.data.forEach(item => {
            this.allVendors.push(item);
          });
          this.getVendor(this.allVendors[0].id, 0);
          this.fetchMessages();
        }
      });
    },
    fetchMessages() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get(`/api/user-messages/${this.vendor[0].id}`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.messages = response.data;
          });
      }
    },
    sendMessage() {
      this.status = "sending..";
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        let text = {};
        text.message = this.message;
        text.sender_id = this.id;
        text.vendor_user_id = this.$route.params.id;
        text.created_at = new Date();
        this.messages.push(text);

        let data = {
          message: this.message,
          vendor: this.vendor[0].id
        };

        axios
          .post("/api/user-message", data, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
          
            this.message = " ";
            if (response.status == 200) {
              this.status = "Sent";
            }
          })
          .catch(err => {
            this.$toasted.error("Message not sent!!");
            this.status = "failed";
          });
      }
    }
  }
};
</script>

<style scoped>
.main-page {
  background: white;
  height: 92vh;
  padding: 30px;
}
.new_message {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
}
.time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
}
.active {
  background: white;
  border-right: 5px solid #ccc;
  border-bottom: none !important;
  border-top: none !important;
}
.form-group {
  position: relative;
  overflow: hidden;
}
.bg-ccc {
  background: #ccc;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.submit {
  width: 85%;
  margin: 0 auto;
}
.search_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 16px;
  margin-top: -8px;
  color: rgba(0, 0, 0, 0.5);
}
.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.align_image {
  display: flex;
  align-items: center;
}
.chat_header {
  box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  padding-left: 20px;
}
.status {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
  text-align: right;
}
.message-tab {
  display: flex;
  height: 100%;
  border: 1px solid #f7f8fa;
}
.message-body {
  height: 82%;
  max-height: 82%;
  overflow-y: scroll;
  background: #333;
}
.message-body div li {
  width: 50%;
  padding: 10px 30px;
  font-size: 15px;
}

.chat-left {
   background-color: #d1e0ed;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  clear: both;
  float: unset;
  width: fit-content;
  width: max-content;
  position: relative;
   line-height: 1.2;
}
.chat-left::before {
  content: "";
   background-color: #d1e0ed;
  height: 14px;
  width: 20px;
  transform: skew(50deg);
  position: absolute;
  left: -2px;
  top: 0px;
}
.chat-right {
  position: relative;
  background: #f7f8fa;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  clear: both;
  float: unset;
  width: fit-content;
  width: max-content;
  margin-left: auto;
  text-align: left;
   line-height: 1.2;
}
.chat-right::before {
  content: "";
  background: #f7f8fa;
  height: 14px;
  width: 20px;
  transform: skew(-50deg);
  position: absolute;
  right: -2px;
  top: 0px;
}
.form-group {
  display: flex;
  align-items: center;
}
ul,
ol,
li {
  list-style: none;
}

.users {
  width: 30%;
  padding: 15px 20px;
  background: #f7f8fa;
  height: 100%;
  overflow: hidden;
}
.message {
  height: 100%;
  max-height: 100%;
  width: 100%;
  position: relative;
}
.user_name {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  font-size: 15px;
}
.user_name li {
  padding: 10px 15px 10px;
  border-bottom: 1px solid hsl(220, 23%, 90%);
  cursor: pointer;
}
.user_name li:hover {
  background: rgba(255, 255, 255, 0.5);
}
.mobile {
  display: none;
}

@media (max-width: 768px) {
  .main-page {
    padding: 0;
  }
  .mobile {
    display: block;
  }
  .chat_header {
    font-size: 14px;
    padding: 20px 10px !important;
  }
  .message-tab {
    position: relative;
  }
  .message-body div li {
    width: 70%;
    padding: 10px;
    font-size: 14px;
  }
  .submit{
    width: 97%;
  }
  .pm{
    font-size: 12px;
  }
  .user_name li {
    padding: 15px 10px;
    font-size: 12px;
  }
  .users {
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 15px 10px;
    box-shadow: 0 0.065rem 0.12rem rgba(0, 0, 0, 0.075) !important;
  }
  .profile_img {
    width: 20px;
    height: 20px;
  }
}
</style>