<template>
    <div>
        <div class="searchBar">
            <div class="searchBarContent mb-2">
                <input type="text" class="form-control" placeholder="Search title" v-model="searchItem" @keyup="searchDataItem()">
                <div class="search-btn mt-0 ml-0"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <ul class="filterList">
            <li v-if="topicForProduct.length > 0" v-for="(topicForProducts, index) in topicForProduct">
                <div class="filterleft"><input class="checkboxTopic" type="checkbox" :value="topicForProducts.id"  @change="filterBasedOnTopic" v-model="filterTopic"><div class="checkboxName">{{topicForProducts.name}}</div></div>
            </li>
            <!--<li @click="getAllProduct">New Arrival</li>
            <li @click="getFilterProduct('hardCopy')">Hard Copy</li>
            <li @click="getAudioProduct('audio')">Audio</li>
            <li @click="getAudioProduct('text')">Pdf</li>
            <li @click="getAudioProduct('video')">Video</li>
            <li>Certificate</li>
            <li>Courses</li>-->
        </ul>
    </div>
</template>

<script>
    export default {
        name: "productfilter-component",
        data: function(){
            return {
                categoryFilter: [],
                topicForProduct: [],
                searchItem: '',
                filterTopic: []
            }
        },
        mounted(){
          this.getAllBizguruhTopic();
        },
        methods: {
            searchDataItem(){
                this.$emit('sendSearchData', this.searchItem);
            },
            filterBasedOnTopic(){
              this.$emit('sendTopicData', this.filterTopic);
            },
            getAllBizguruhTopic(){
              axios.get('/api/bizguruh-topics').then((response) => {
                  if(response.status === 200){
                      this.topicForProduct = response.data;
                  }
              }).catch((error) => {
                  console.log(error);
              })
            },
            getFilterProduct(type) {
                axios.get('/api/products').then((response) => {
                    if(response.status === 200){
                        let emptyArray = [];
                        response.data.data.forEach(function(item){
                            if(item.hardCopy){
                                emptyArray.push(item);
                            }else{
                                console.log('no')
                            }
                        });
                        this.categoryFilter = emptyArray;
                        this.$emit('sendData', this.categoryFilter);
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            getAllProduct(){
                axios.get('/api/products').then((response) => {
                    if (response.status === 200) {
                        this.categoryFilter = response.data.data;
                        this.$emit('sendData', this.categoryFilter);
                    }
                });
            },
            getAudioProduct(type){
                axios.get('/api/products').then((response) => {
                    if(response.status === 200){
                        let emptyArray = [];
                        response.data.data.forEach(function(item){
                            if(item.fileType === type){
                                emptyArray.push(item);
                            }else{
                                console.log('no')
                            }
                        });
                        this.categoryFilter = emptyArray;
                        this.$emit('sendData', this.categoryFilter);
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }
        },
        computed: {

        }
    }
</script>

<style scoped>
    .filterList {
        color: #a7a7a7 !important;
        height: 400px;
        overflow: scroll;
    }

    .filterList li {
        line-height: 50px;
        cursor: pointer;
    }

    .searchBarContent {
        display: flex;
        position: relative;
    }

    .searchBar {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    input::-webkit-input-placeholder {
        color: #c5c5c5 !important;
    }

    .search-btn {
        border: 0px;
        color: #000000;
        margin: 7px 0;
        position: absolute;
        right: 4px;
        top: 4px;
    }

    .filterList li:hover{
        color:#adc9e0;
    }

   /* .checkboxTopic, .checkboxName {
        float: left;
    }*/

    .checkboxTopic{
        margin-top: 18px;
        margin-right: 10px;
    }

    .filterleft {
        display: flex;
       /* overflow: hidden;*/
    }



</style>
