<template>
  <div class="m">
    <div class="regPolariod">
      <div class="first">
        <h3 class="getStarted animated fadeInLeft mb-4 "  >So what are you waiting for ?</h3>

        <div class="regButt">
          <i class="fas fa-angle-double-down"></i>
         
            <button
             @click="signup" class="elevated_btn btn-compliment text-white animated mx-auto"
            
            >Sign up today</button>
         
        </div>

       
      </div>
       <div class="Img animated zoomIn" v-if="swing">
          <img src="/images/mockups/sign.png" alt />
        </div>
    </div>


    <!-- <div class="row justify-center align-center flex-column p-4 p-lg-5 p-md-5  m-0" style="background-color:#e3ecf4">
    
      <strong class="text-muted connect">  Connect with us</strong>
      <p
        class="platform text-muted text-center"
      >Follow us on our social media platforms for recent updates, industry news and Business informations.</p>
      <div class="d-flex">
        <span class="fa-stack fa-2x full-opacity-hover">
          <i class="fas fa-square fa-stack-2x text-biz"></i>
          <a href="https://www.facebook.com/BizGuruh-314446332731552/">
            <i class="fab fa-facebook fa-inverse fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack fa-2x full-opacity-hover">
          <i class="fas fa-square fa-stack-2x text-biz"></i>
          <a href="https://twitter.com/BizGuruh">
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <span class="fa-stack fa-2x full-opacity-hover">
          <i class="fas fa-square fa-stack-2x text-biz"></i>

          <a href="https://www.instagram.com/bizguruh/">
            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <span class="fa-stack fa-2x full-opacity-hover">
          <i class="fas fa-square fa-stack-2x text-biz"></i>
          <a href="EMAIL: ask@bizguruh.com">
            <i class="fas fa-envelope-open-text fa-stack-1x fa-inverse"></i>
          </a>
        </span>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "register-today-component",
  data() {
    return {
      scrollPos: 0,
      currentHeight: 0,
      swing: false
    };
  },
  mounted() {
    window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });
  },
  watch: {
    scrollPos: "swinging"
  },
  methods: {
    swinging() {
      if (this.scrollPos > window.innerHeight * 4.4) {
        this.swing = true;
      } 
    },
    signup(){
      window.scrollTo(0,window.innerHeight * .7)
    }
  }
};
</script>

<style scoped>
.theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #a4c2db !important;
}
.m{
   background:rgba(255, 255, 255, 0.6)
}
a {
  color: #ffffff !important;
}
.regPolariod {
  /* background-color: white; */
  width: 85%;
  padding-top:60px ;
  padding-bottom: 45px;
  height: auto;
  margin: 0 auto;
  display:flex;
      align-items: center;
    justify-content: space-between;
}

.text-biz {
  color:#373a3c;
}
.text-muted {
  color:#373a3c !important;
}

.reg {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
  justify-content: center;
}
.regButt {
  display: grid;
  text-align: center;
}
.fa-angle-double-down {
  font-size: 6rem;
  color: rgba(163, 194, 220, 0.5);
}
.first{
  width:50%;
  text-align: center;
}
.Img{
  width: 50%;
  transition: all .4s;
  overflow: hidden;
}
.Img img{
  padding: 30px 0;
}
.Img:hover img {
  transform: scale(1.01);
}
.getStarted {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  font-size: calc(
    16px + (36 - 16) * ((100vw - 300px) / (1600 - 300))
  ) !important;
  line-height: calc(
    1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300))
  ) !important;
  text-align: center;
}
.platform {
  font-size: 18px;
}
button.primary {
  font-size: 14px !important;
  text-transform: capitalize;
  min-height: 35px !important;
  padding: 8px 30px !important;
  color: white;
  background-color: #a4c2db;
  border: 1px solid #a4c2db;
  margin: 0 auto;
  font-weight: bold;
}
.button.primary:hover {
  background: rgba(163, 194, 220, 0.5);
}

.underline{
  /* background-color: white;
  border-top:1px solid #ccc;
  padding: 40px; */
  width:90%;
  margin:0 auto
}
button.btn-register {
  background-color: #a4c2db;
  font-size: 14px;
  /* max-height: 30px; */
  color: #373a3c !important;
}
button.btn-register {
  padding: 1px 30px;
}
button.btn-register a {
  color: #373a3c !important;
  font-weight: bold;
}
button.btn-bizguruh:hover {
  background-color: #373a3c;
  font-size: 14px;
  max-height: 30px;
  color: #ffffff !important;
}
button.btn-bizguruh a:hover {
  color: #ffffff !important;
}
 .fa-2x {
    font-size: 1.5em;
  }
  .connect{
        font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
  }

@media (max-width: 768px) {
  .regPolariod{
    flex-direction: column-reverse;
    padding:100px 10px;
    margin-top: 20px;
    width:80%;
  }
  .Img{
    width:80%;
    margin-bottom: 20px;
  }
  .Img img{
  padding:  0;
}
  .first{
    width:100%;
  }
  .underline{
    padding:5px;
    width:100%;
    margin-bottom:20px;
  }
  .connect{
    font-size: 18px;
  }

  .reg {
    width: 100%;
  }
  .getStarted {
    width: 100%;
  }
  .regButt {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .platform {
    font-size: 16px;
  }
  button.primary {
    margin: auto;
    font-size: 12px !important;
    text-transform: capitalize !important;
    height: 30px !important;
    padding: 0 15px !important;
  }
  .getStarted {
    padding: 10px;
    width: 100%;
    font-size: 18px !important;
  }
  .regButt {
    width: 100%;
  }
  .fa-angle-double-down {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  .regPolariod {
    height: auto;

  }

  button.btn-register {
    background-color: #ffffff;
    font-size: 9px;
    max-height: 20px;
    color: #373a3c !important;
  }
  button.btn-register {
    padding: 1px 15px;
  }
  .mr-4 {
    margin-right: 0 !important;
  }
  .reg {
    width: 100%;
    padding: 0;
  }
  .fa-2x {
    font-size: 1em;
  }
   .regPolariod{
    flex-direction: column-reverse;
    padding:100px 0px;
    margin-top: 20px;
    width:90%;
  }
}
@media (max-width: 375px) {
  /* .why-biz, .bgShadow{
        height:1250px;
    } */

  .reg {
    width: 100%;
  }
  button.primary {
    font-size: 12px !important;
    height: 25px !important;
    font-size: 12px !important;
    height: 30px !important;
    padding: 0 10px !important;
  }
}
@media (max-width: 320px) {
  .getStarted {
    padding: 0;
  }

  button.primary {
    font-size: 11px !important;
    height: 25px !important;
    padding: 0 10px !important;
  }

  .reg {
    padding: 0;
  }
}
</style>
