<template>
    <div class="container-fluid">
       <div class="firstStage" v-if="firstStage">
           <h5 style="text-align:center " class="mb-3">Reset Password</h5>
            <div class="form-group">
           
           
              <input v-model="email" type="email" class="form-control" name="" id="email" aria-describedby="helpId" placeholder=" Enter email address">
        

        </div>
        <div class="form-group" style="text-align:center">
             <button type="button" class="btn btn-primary shadow-sm rounded" @click="sendLink">Submit   <span  v-if="show" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
 
        </div>
       </div>

       <div class="secondStage" v-if="secondStage">
          <h5 style="text-align:center " class="mb-3">Reset Password</h5>
            <div class="form-group">
           
              <label for="newPassword">New Password</label>
              <input v-model="newPassword" type="password" class="form-control" name="" id="newPassword" aria-describedby="helpId" placeholder="Enter new password" minlength='6' >
        

        </div>

         <div class="form-group">
           
              <label for="confirmPassword">Confirm Password</label>
              <input v-model="confirmPassword" type="password" class="form-control" name="" id="confirmPassword" aria-describedby="helpId" placeholder="confirm password" minlength='6'>
        

        </div>

         <div class="form-group" style="text-align:center">
             <button type="button" class="btn btn-primary shadow-sm rounded"  @click="changePassword">Reset   <span  v-if="show" class="spinner-border spinner-border-sm" role="status"></span>
             </button>
 
        </div>

       </div>
       
    </div>
</template>
<script>
export default {
    name:'reset-pasword-component',
    data() {
        return {
            firstStage:true,
            secondStage:false,
            email:'',
            newPassword:'',
            confirmPassword:'',
            show:false
            
        }
    },
beforeRouteEnter (to, from, next) {
    if (to.query.id) {
        next(vm=>{
            vm.secondStage = true;
            vm.firstStage = false;
        })
    }else{
        next()
    }
},
    mounted() {
        
    },
    methods: {
        sendLink(){
            this.show = true
            axios.get(`/api/sendResetLink/${this.email}`).then(response=>{
                
                if( this.email !== ''){
                    
                
                if (response.status === 200) {
                     this.show = false
                    this.$toasted.success('Password reset link sent, check your email');
                }
                }else{
                    this.$toasted.error('Incorrect email')
                     this.show = false
                }
            })
        },
        changePassword(){
            this.show = true
           if (this.newPassword.length >= 7) {
                if(this.newPassword === this.confirmPassword){
                 
                let data = {
                    id:this.$route.query.id,
                    newPassword : this.newPassword
                }
                    axios.post(`/api/changePassword`, data).then(response=>{
                        if(response.status === 200){
                            if(response.data.message === 'success'){
                            this.show = false
                            this.$toasted.success('Password reset successful')
                            this.$router.push({name:'auth', params:{name:'login'}})
                            }
                             if(response.data.message === 'vendor password changed'){
                            this.show = false
                            this.$toasted.success('Password reset successful')
                            this.$router.push('/vendor/auth')
                            }
                            
                        
                        }
                     if(response.data === 'error'){
                          this.show = false
                            this.$toasted.error('Try using a new password')
                        
                        }
                    })
            }else{
                this.$toasted.error('Password do not match')
                this.show = false
            }
           }else{
                this.$toasted.error('Password too short')
                this.show = false
           }
        }
    },
    
}
</script>
<style  scoped>
.container-fluid{
    height:100vh;
    display: flex;
    justify-content: center;
     background: #d1e8fd;
    align-items: center;
}
.firstStage,.secondStage{
    width:60%;
}
.btn-primary{
    background-color:#fff !important;
    color:#333;
    border-color:  white;
    text-transform:capitalize;
    padding:5px 30px 6px

}
.form-control {
  /* border-top: unset;
  border-left: unset;
  border-right: unset; */
  /* background-color:lightsteelblue; */
  border-radius: 3px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
}

</style>