<template>
	<div class="container">
		<ul>
			<li
				v-for="(breadcrumb, index) in breadcrumbList"
				v-bind:key="index"
				@click="routeTo(index)"
				:class="{ linked: !!breadcrumb.link }"
			>
				{{ breadcrumb.name }}
			</li>
		</ul>
		<div class="main">
			<div class="benefits">
				<h4>
					Like us, are you passionate about raising a generation of
					enterprise titans?
				</h4>

				<p>
					Do you want to see more sustainable and reliable businesses
					in Africa?
				</p>
				<p>
					You can contribute to this cause by becoming a BizGuruh
					Sponsor, and adopting a small business today.
				</p>
			</div>

			<div class="price">
				<div class="form-group">
					<label for="" class="price" >Pricing</label>
					<select class="form-control" name="" id="" v-model="price">
						<option value="default">Select plan</option>
						<option value="7000"
							>N7000— up to 2 small businesses</option
						>
						<option value="15000"
							>N15,000— up to 4 small businesses</option
						>
						<option value="25000"
							>N25,000— up to 7 small businesses</option
						>
						<option value="50000"
							>N50,000— up to 14 small businesses</option
						>
						<option value="100000"
							>N100,000— up to 28 small businesses</option
						>
						<option value="200000"
							>N200,000—  up to 50 small businesses</option
						>
					</select>
				</div>
			</div>

			<div class="">
				<button
					type="button"
					@click="subscribe"
					class="btn btn-primary"
				>
					Pay
				</button>
			</div>

		</div>
	</div>
</template>
<script>
export default {
	name: "sponsor-component",
	data() {
		return {
			breadcrumbList: [],
			authenticate: false,
			token: null,
            userToken: null,
            price:'default',
		};
	},
	mounted() {
		this.updateList();
		let user = JSON.parse(localStorage.getItem("authUser"));
		if (user != null) {
			this.authenticate = true;
			this.token = user.access_token;
		}
	},
	watch: {
		$route() {
			this.updateList();
		}
	},
	methods: {
		routeTo(pRouteTo) {
			if (this.breadcrumbList[pRouteTo].link) {
				this.$router.push(this.breadcrumbList[pRouteTo].link);
			}
		},
		updateList() {
			this.breadcrumbList = this.$route.meta.breadcrumb;
		},
		generateToken(l) {
			let text = "";
			let char_list =
				"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
			for (var i = 0; i < l; i++) {
				text += char_list.charAt(
					Math.floor(Math.random() * char_list.length)
				);
			}
		
			this.userToken = 'BIZ-'+text;
			return 'BIZ-'+text;
		},

		subscribe() {

            if(this.price !== "default"){
                this.generateToken(5);
			if (this.authenticate) {
				let data = {
					type: 4,
                    token: this.userToken,
                    price: this.price
				};
				console.log("Data: subscribe -> data", data);

				axios
					.post(
						"/api/usersubscription",
						JSON.parse(JSON.stringify(data)),
						{ headers: { Authorization: `Bearer ${this.token}` } }
					)
					.then(response => {
						if (response.status === 200) {
							window.location.href = response.data;
						}
					})
					.catch(error => {
						
						if (
							error.response.data.message === "Unauthenticated."
						) {
							this.$router.push({
								name: "auth",
								query: { redirect: "user-subscription" }
							});
						}
					});
			} else {
				this.$router.replace({
					name: "auth",
					query: { redirect: "user-subscription" }
				});
			}
		}else{
            this.$toasted.error('Select a plan')
        }
         
        }
	}
};
</script>

<style scoped>


.fa {
	padding: 15px;
	font-size: 18px;
}
ul {
	display: flex;
	justify-content: left;
	list-style-type: none;
	margin: 20px 0px;
	padding: 5px;
	background: #ffffff;
}
ul > li {
	display: flex;
	float: left;
	height: 10px;
	width: auto;
	font-weight: bold;
	font-size: 0.8em;
	cursor: default;
	align-items: center;
}
ul > li:not(:last-child)::after {
	content: "/";
	float: right;
	font-size: 0.8em;
	margin: 0 0.5em;
	cursor: default;
}
.linked {
	cursor: pointer;
	font-size: 1em;
	font-weight: normal;
}
.main {
	width: 70%;
	margin: 0 auto;
	box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15);
	padding: 20px;
	padding-top: 50px;
	color: #5b84a7;
    background: #ffffff;
    height: 50vh;
}
.price {
	font-weight: 500;
    font-size: 18px;
    margin : 20px 0 10px; 
}
.benefits {
	color: rgb(0, 0, 0, 0.74);
}
.btn-primary {
	background: #5b84a7 !important;
	color: #ffffff;
	text-transform: capitalize;
	padding: 5px 30px;
}
.btn-primary:hover {
	background: rgb(91, 132, 167, 0.5) !important;
}
@media(max-width:425px){
    .main{
		padding-top: 20px;
    width:100%;
    height:90vh;}
}
</style>