<template>
  <div class="main">
    <div class="my-content">
      <div class="image">
        <img class="email animated slow" v-bind:class="{rubberBand:wiggle}" src="/images/email.png" alt="email icon" />
      </div>
      <div class="sub">
        <p>For latest business informations, new marketing insights, business strategies and daily updates, subscribe to our newsletter today.</p>
      </div>
      <form @submit.prevent="subscribe" class="field">
        <div class="form-group mb-0 mr-2 w-90">
          <label for></label>
          <input
            type="email"
            class="form-control border"
            aria-describedby="helpId"
            placeholder="example@email.com"
            required
            v-model="email"
          />
        </div>
        <button type="submit" class="elevated_btn bg-white mt-0">Subscribe</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "subscribe-component",
  data() {
    return {
        email:'',
        wiggle:false
    };
  },
  mounted() {},
  methods: {
    subscribe() {
      let data = {
        email: this.email,
        first_name: 'Bizguruh',
        last_name: 'bizguruh'
      };
      axios.post(`/api/subscribe`, data).then(response => {
        if (response.status === 200) {
          this.$toasted.success("Subscription successful");
          this.email = "";
          this.wiggle= true
        }
        {
        }
      });
    }
  },
};
</script>

<style scoped>
.main{
background-image: linear-gradient(to right top, #313a41, #45515b, #596a77, #6f8394, #859eb2, #94adc1, #a4bcd1, #b4cce1, #c0d4e6, #cbdcea, #d7e4ef, #e3ecf4);
padding: 30px 0;
}

.my-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin:0 auto;
  
}
.image {
  width: 20%;
}
.email {
  width: 110px;
  height: auto;
}
.sub {
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  line-height: 1.4;
}
.field {
  width: 40%;
  display: flex;
  align-items: center;
}
.w-90 {
  width: 90%;
}
.form-control {
  height: 60px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .my-content {
    padding: 10px 0px;
    width:90%;
  }
  .image {
  }

  .sub {
    font-size: 17px;
  }
  .field {
    flex-direction: column;
  }
  .form-group {
    margin-bottom: 10px !important;
  }
}
@media (max-width: 575px) {
  .my-content {
    flex-direction: column;
    padding: 50px 20px;
    width:90%;
  }
  .email {
    margin-bottom: 16px;
  }
  .sub {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
  }
  .field {
    width: 100%;
    display: flex;
  }
}
</style>