<template>
  <div class="main">
    <!-- <div class="bg-row">
      <div class="bg1"></div>
    </div> -->
   <div class="body ">
      <h3 class="mb-5 w-100 text-center desc_header">What our users think</h3>
    <div class="my-content animated fadeIn">
      <div class="testimonial-box shadow-sm">
        <div class="testimonial-image">
          <img src="/images/BizGuruhs-three.png" alt />
        </div>
        <div class="testimonial-text">
          <p>
            The post on registering ones business was
            particularly beneficial. I’m currently saving
            towards it.
          </p>
          <strong>- @oilbyo</strong>
        </div>
      </div>
      <div class="testimonial-box shadow-sm">
        <div class="testimonial-image">
          <img src="/images/BizGuruhs-two.png" alt />
        </div>
        <div class="testimonial-text">
          <p>
            I am here because
            @freesiafoodies
            asked us to, but seriously I must say it is worth
            it.
          </p>
          <strong>- Oladunni Omotola</strong>
        </div>
      </div>
      <div class="testimonial-box shadow-sm">
        <div class="testimonial-image">
          <img src="/images/BizGuruhs-two.png" alt />
        </div>
        <div class="testimonial-text">
          <p>
            I heard about your page from Nwanyiakamu and I
            followed you. Your content is very educative and
            qualitative always. Keep it up and thank you.
          </p>
          <strong>- Tinuke Adegboye</strong>
        </div>
      </div>
      <div class="testimonial-box shadow-sm">
        <div class="testimonial-image">
          <img src="/images/BizGuruhs-one.png" alt />
        </div>
        <div class="testimonial-text">
          <p>I find your insights very inspiring, I stopped dreaming and started doing.</p>
          <strong>- @theefosa</strong>
        </div>
      </div>
    </div>
   </div>
  </div>
</template>

<script>
export default {
  name: "testimonial-component",
  data() {
    return {
      scrollPos: 0,
      currentHeight: 0,
      swing: false
    };
  },
  mounted() {
    window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });
  },
  watch: {
    scrollPos: "swinging"
  },
  methods: {
    swinging() {
      if (this.scrollPos > window.innerHeight * 3.85) {
        this.swing = true;
      }
    }
  }
};
</script>

<style scoped>
h3 {
  text-transform: initial;
  font-size: 34px;
  color: #333;
}
.main {
 background-color: white;
  padding-top: 65px;
  padding-bottom: 100px;

  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-row {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}
.bg1 {
  width: 60%;
  transform: rotate(-20deg);
  height: 156%;
  top: -44%;
  position: absolute;
  right: -14%;
}
.body{

    width: 100%;
    padding: 15px 15px 45px;
    border-radius: 5px;
    z-index: 2;
 
}
.my-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-top:20px
}
.testimonial-box {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#f7f8fa;
  height:200px;
}
.testimonial-image {
  background:rgba(164, 194, 219,.5);
  width: 40%;
  height:100%;
  text-align: center;
  padding: 15px;
}
.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-text {
  width: 60%;
  padding: 15px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .my-content {
    width: 90%;
  }
  .testimonial-box shadow-sm {
    padding: 15px;
    background: white;
    border-radius: 5px;
  }
  strong {
    font-size: 14px;
  }
p{
  font-size:14px;
}
.body{
  padding:0;
}
}
@media (max-width: 575px) {
  .my-content {
    width: 90%;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .bg1 {
    width: 60%;
    /* background: #e3ecf4; */
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    height: 156%;
    top: -60%;
    position: absolute;
    right: -14%;
}
.body {
    background: transparent;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    z-index: 3;
    box-shadow: none !important;
}
.testimonial-text{
  font-size: 14px;
}
strong{
  font-size: 14.5px;
}
/* .testimonial-image img{
  width: 60px;
  height: auto;
} */
}
</style>