<template>
  <div class="container-fluid p-0">
  

    <div class="login_inner">
      <div class="d-flex h-100">
        <!-- login  form is here-->

        <div v-if="!registerToggle" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 loginPagge">
          <h6 class="head mb-5 mobile">Log in to your BizGuruh Account!</h6>
          <form @submit.prevent="login(userLogin)" class="text_content">
            <div class="form-group">
              <label for="login" class="text-left" v-if="!isNumber">Email</label>
              <label for="login" class="text-left" v-if="isNumber">Phone number</label>

              <div class="form-group">
                <input
                  v-if="!isNumber"
                  autocorrect="off"
                  autocapitalize="off"
                  type="email"
                  id="login"
                  class="form-control"
                  v-on:change="getCount"
                  v-model="userLogin.email"
                  @focus="errorCheck = false"
                  placeholder="example@email.com"
                />
                <div class="input-group rounded-pill" v-if="isNumber">
                  <div class="input-group-prepend" style="width:25%">
                    <select
                      class="input-group-text form-control"
                      v-model="user.phone_code"
                      required
                    >
                      <option
                        v-for="(dial,idx) in myDials"
                        :key="idx"
                        :value="dial.dial_code"
                      >{{ dial.dial_code+ ' - ' +dial.name }}</option>
                    </select>
                  </div>

                  <div class="input-group-append" style="width:75%">
                    <input
                      required
                      v-model="userLogin.email"
                      type="number"
                      id="login"
                      class="input-group-text form-control text-left"
                      aria-describedby="helpId"
                      placeholder="8012345678"
                      minlength="6"
                      maxlength="10"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="text-left">Password</label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  v-model="userLogin.password"
                  @focus="errorCheck = false"
                  placeholder="Enter password"
                />
              </div>
            </div>

            <div>
              <!-- <p>Forgot Password</p>-->
              <div v-if="errorCheck" class="errorCheck">Please enter a valid credential...</div>
              <button type="submit" class="elevated_btn elevated_btn_sm btn-compliment text-white mx-auto w-100">
                Log In
                <span
                  class="spinner-grow spinner-grow-md text-light socailLoaders"
                  v-if="isLoading"
                ></span>
              </button>
            </div>
            <div class="text-center">
              <p
                v-if="isNumber"
                @click="toggleEmail"
                class="mx-auto switch p-3"
              >Log in with email address</p>
              <p
                v-if="!isNumber"
                @click="toggleEmail"
                class="mx-auto switch p-3"
              >Log in with phone number</p>
            </div>
            <div class="text-center">
              <router-link to="/reset-password" class="reset text-muted">
                <small>Forgot password ?</small>
              </router-link>
            </div>
            <div class="w-100 mt-3">
              <div class="social py-2">
                <button
                  type="button"
                  class="elevated_btn mb-2 w-100 mx-auto bg-white text-main rounded"
                  @click="AuthProvider('facebook')"
                >
                  <i class="fa fa-facebook-square pr-2 socialIcon text-fb" aria-hidden="true"></i>
                  log in with Facebook
                  <span
                    class="spinner-grow spinner-grow-md text-dark socailLoaders"
                    v-if="fbLoading"
                  ></span>
                </button>
                <button
                  type="button"
                  class="elevated_btn bg-white mx-auto w-100 text-main rounded"
                  @click="AuthProvider('google')"
                >
                  <i
                    class="fa fa-google-plus-square pr-2 socialIcon text-google"
                    aria-hidden="true"
                  ></i> log in with Google
                  <span
                    class="spinner-grow spinner-grow-md text-dark socailLoaders"
                    v-if="gLoading"
                  ></span>
                </button>
              </div>
            </div>
            <div v-if="!newUser" class="mobile-register-text">
              <p class="pp text-center">
                Don't have an account ?
                <span>
                  <button class="btn btn-join" @click="toggleSignup">Join Our BizTribe</button>
                </span>
              </p>
            </div>
            <div v-else class="mobile-register-text">
              <h2>Welcome to our BizTribe!</h2>
              <p
                class="pp"
              >Enjoy your 30-day free BizLibrary access, where resources can be archived and accessed at your convenience.</p>
            </div>
          </form>
        </div>

        <!-- login form ends here -->

        <!-- register form starts here -->

        <div v-if="registerToggle" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 registerPagge">
          <h6 class="head mb-5">Sign Up to BizGuruh</h6>
          <form @submit.prevent="register" class="text_content">
            <span v-if="first">
              <div class="form-group">
                <label for="name" class="text-left">Full name</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="user.name"
                  id="name"
                  placeholder="John Doe"
                />
              </div>

              <div class="form-group">
                <label for="business" class="text-left">Business name(Optional)</label>
                <input
                  type="text"
                  class="form-control"
                  min="4"
                  id="business"
                  v-model="user.business_name"
                  placeholder="JandK Ltd"
                />
              </div>

              <div class="mb-3">
                <button
                  type="button"
                  @click="changeTab('second')"
                  class="mx-auto px-4 text-white rounded elevated_btn  elevated_btn_sm btn-compliment text-white w-100"
                >Next</button>
              </div>

              <div class="text-center mt-5">
                <p class="mobile">
                  Already have an account ?
                  <span class="btologin" @click="toggleSignin">Log in</span>
                </p>
              </div>
            </span>

            <span v-if="second">
              <div class="form-group">
                <label for="login" class="text-left" v-if="!isNumber">Email</label>
                <label for="login" class="text-left" v-if="isNumber">Phone number</label>
                <input
                  v-if="!isNumber"
                  autocorrect="off"
                  autocapitalize="off"
                  type="email"
                  id="login"
                  class="form-control"
                  v-model="user.email"
                  placeholder=" example@email.com"
                />
                <div class="input-group" v-if="isNumber">
                  <div class="input-group-prepend" style="width:25%">
                    <select
                      class="input-group-text form-control"
                      v-model="user.phone_code"
                      required
                    >
                      <option
                        v-for="(dial,idx) in myDials"
                        :key="idx"
                        :value="dial.dial_code"
                      >{{ dial.dial_code+ ' - ' +dial.name }}</option>
                    </select>
                  </div>

                  <div class="input-group-append" style="width:75%">
                    <input
                      required
                      v-model="user.phone_no"
                      type="number"
                      id="login"
                      class="form-control input-group-text text-left"
                      aria-describedby="helpId"
                      placeholder="8012345678"
                      minlength="6"
                      maxlength="10"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="text-left">Password</label>
                <input
                  type="password"
                  class="form-control"
                  min="6"
                  id="password"
                  v-model="user.password"
                  placeholder="Enter password"
                />
              </div>

              <div class="d-flex">
                <button
                  type="button"
                  @click="changeTab('first')"
                  class="btn-block my-2 mr-2 elevated_btn  elevated_btn_sm text-main bg-white rounded"
                >Previous</button>
                <button
                  type="button"
                  @click="changeTab('third')"
                  class="btn-block my-2 ml-2 elevated_btn  elevated_btn_sm btn-compliment text-white rounded"
                >Next</button>
              </div>
              <div class="text-center mt-3">
                <p
                  v-if="isNumber"
                  type="button"
                  @click="toggleEmail"
                  class="mx-auto switch"
                >Sign up with email address</p>
                <p
                  v-if="!isNumber"
                  type="button"
                  @click="toggleEmail"
                  class="mx-auto switch"
                >Sign up with phone number</p>
              </div>

              <div class="text-center mt-5">
                <p class="mobile">
                  Already have an account ?
                  <span class="btologin" @click="toggleSignin">Log in</span>
                </p>
              </div>
            </span>
            <!-- <div class="form-group">
              <input
                type="password"
                class="form-control"
                min="6"
                v-model="user.password_confirmation"
                placeholder="Confirm password"
              />
            </div>-->
            <span v-if="third">
              <div class="form-group">
                <label class="mr-3 text-left">I am a ?</label>
                <div class="form-check form-check-inline">
                  <label class="form-check-label mr-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="user.business_type"
                      value="retailer"
                    /> Retailer
                  </label>
                  <label class="form-check-label mr-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="user.business_type"
                      value="manufacturer"
                    /> Manufacturer
                  </label>
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      v-model="user.business_type"
                      value="none"
                    /> None
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="input-container">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Do you have a token? (optional)"
                    @keyup="checkToken"
                    maxlength="9"
                    aria-describedby="helpId"
                    v-model="user.specialToken"
                  />
                </div>
              </div>

              <div class="terms text-muted">
                <small class="text-muted">
                  By joining now, you agree to our
                  <router-link to="/terms" class="text-biz">Terms & Services</router-link>
                  <span>and</span>
                  <router-link to="/policies" class="text-biz">Privacy Policy</router-link>
                </small>
              </div>
              <div class="d-flex justify-content-between mb-5">
                <button
                  type="button"
                  @click="changeTab('second')"
                  class="text-white rounded mr-3 elevated_btn  elevated_btn_sm text-main rounded"
                >Previous</button>
                <button type="submit" class="elevated_btn  elevated_btn_sm btn-compliment text-white mr-2 rounded">
                  Join Our BizTribe
                  <span
                    class="spinner-grow spinner-grow-md text-light socailLoaders"
                    v-if="show"
                  ></span>
                </button>
              </div>
              <p class="mobile mt-5">
                Already have an account ?
                <span class="btologin" @click="toggleSignin">Log in</span>
              </p>
            </span>
            <div class="w-100 mt-3">
              <div class="social py-2">
                <button
                  type="button"
                  class="elevated_btn mb-2 w-100 mx-auto bg-white text-main rounded"
                  @click="AuthProvider('facebook')"
                >
                  <i class="fa fa-facebook-square pr-2 socialIcon text-fb" aria-hidden="true"></i>
                  sign up with Facebook
                  <span
                    class="spinner-grow spinner-grow-md text-dark socailLoaders"
                    v-if="fbLoading"
                  ></span>
                </button>
                <button
                  type="button"
                  class="elevated_btn bg-white mx-auto text-main w-100 rounded"
                  @click="AuthProvider('google')"
                >
                  <i
                    class="fa fa-google-plus-square pr-2 socialIcon text-google"
                    aria-hidden="true"
                  ></i>sign up with Google
                  <span
                    class="spinner-grow spinner-grow-md text-dark socailLoaders"
                    v-if="gLoading"
                  ></span>
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- register form ends  -->
        <!-- register -->
        <div
          class="col-lg-8 col-md-8 col-sm-12 col-xs-12 signUp d-flex align-items-start justify-content-center"
          v-if="!newUser"
        >
          <!-- <div class="overlay"></div> -->
          <div class="text-c text-main">
            <h2 v-if="!registerToggle">Don't have an account?</h2>
            <p class="pp" v-if="!registerToggle">
             Join a community of entrepreneurs who can connect with experts and access practical business insights and resources, on the go.
            </p>
              <h2 v-if="registerToggle">   Already have an account ?</h2>
           

            <div class="signUp-button">
            
              <button
                v-if="!registerToggle"
                class="elevated_btn bg-white text-main rounded-pill mx-auto"
                @click="toggleSignup"
              >Start for free</button>

              <button
                v-if="registerToggle"
                class="elevated_btn bg-white text-main rounded-pill mx-auto"
                @click="toggleSignin"
              >Log in</button>
            </div>
          </div>
        </div>
        <div
          v-else
          class="col-lg-8 col-md-8 col-sm-12 col-xs-12 signUp d-flex justify-content-center align-items-start"
        >
          <div>
            <h3>Welcome to our BizTribe!</h3>
            <p
              class="pp"
            >Build your BizLibrary and enjoy having all your favourite resources in one place.</p>
            <p class="pp">30-day Free Access</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getCustomerHeader } from "../../config";
import { dialCodes } from "./phoneCodes";
export default {
  name: "user-authenticate-component",
  props:['name'],
  data: function() {
    return {
      shake: false,
      myDials: [],
      errorCheck: false,
      isLoading: false,
      fbLoading: false,
      gLoading: false,
      status: "",
      registerToggle: false,
      count: 0,
      vendor_username: null,
      show: false,
      ip: "",
      newUser: false,
      subscribeNews: true,
      user: {
        name: "",
        email: "",
        password: "",
        // password_confirmation:,
        phone_code: "+234",
        phone_no: 8799,
        specialToken: "",
        business_name: "",
        business_type: "retailer"
      },
      userLogin: {
        email: null,
        password: null
      },
      validToken: null,
      first: true,
      second: false,
      third: false,
      isNumber: false,
      socialMail: ""
    };
  },

  created() {
    this.check();
    this.myDials = dialCodes();
    this.redirectMessages();
  },
  watch: {
    $route: "check"
  },

  mounted() {
     console.log("mounted -> this.$props.name", this.$props.name)
    let customerUser = JSON.parse(localStorage.getItem("authUser"));
    if (customerUser != null) {
      this.profile = true;
    } else {
      this.profile = false;
      if (this.$route.params.name === "register" || this.$props.name == 'register') {
        this.registerToggle = true;
      } else if (this.$route.params.name === "login" ||  this.$props.name == 'login') {
       
        this.registerToggle = false;
      }
    }
    this.getCount();
    if (this.count === 1) {
      this.newUser = true;
    } else {
      this.newUser = false;
    }
  },
  methods: {
    sendSms() {
      if (this.isNumber) {
        var body = "Welcome to Bizguruh " + this.user.name;
        var to = "0" + this.user.phone_no;
        var from = "Bizguruh";
        axios
          .get(
            `https://www.bulksmsnigeria.com/api/v1/sms/create?api_token=s8aEx4lNTBgofvY0XMBHFVgEwKRZTSC24WHfWPmOFBFTH2vz0hVGW2uNH6Ix&from=${from}&to=${to}&body=${body}`
          )
          .then(response => {
           
          });
      }
    },
    shakeImage() {
      this.shake = true;
      setTimeout(() => {
        this.shake = false;
      }, 3000);
    },
    redirectMessages() {
      if (this.$route.query.redirect_from == "accounting") {
        this.$toasted.error("Login / Sign up to use accounting software");
      }
    },
    AuthProvider(provider) {
      var self = this;

      this.$auth
        .authenticate(provider)
        .then(response => {
          self.SocialLogin(provider, response);
        })
        .catch(err => {
          console.log({ err: err });
        });
    },

    SocialLogin(provider, response) {
      if (provider === "facebook") {
        this.fbLoading = true;
      }
      if (provider === "google") {
        this.gLoading = true;
      }
      this.$http
        .post("/sociallogin/" + provider, response)
        .then(response => {
          this.socialMail = response.data.email;
          let data = {
            client_id: 2,
            client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
            grant_type: "social",
            access_token: response.data.token,
            provider: provider
          };
          var authUser = {};
          this.$http.post(`/oauth/token`, data).then(response => {
            if (response.status === 200) {
              authUser.access_token = response.data.access_token;
              authUser.refresh_token = response.data.refresh_token;

              axios
                .get(`/api/userDetails/${this.socialMail}`)
                .then(response => {
                  if (response.status === 200) {
                    authUser.id = response.data.id;
                    authUser.email = response.data.email;
                    authUser.name = response.data.name;
                    authUser.vendor_user_id = response.data.vendor_user_id;
                    if (response.data.business_name !== null) {
                      authUser.business_name = response.data.business_name;
                    }
                    if (response.data.business_name !== null) {
                      authUser.business_type = response.data.business_type;
                    }
                    if (response.data.age !== null) {
                      authUser.age = response.data.age;
                    }
                    if (response.data.gender !== null) {
                      authUser.gender = response.data.gender;
                    }
                    if (response.data.location !== null) {
                      authUser.location = response.data.location;
                    }
                    if (response.data.logo !== null) {
                      authUser.logo = response.data.logo;
                    }
                    axios.get("/api/get-all-vendor").then(response => {
                      if (response.status === 200) {
                        response.data.forEach(vendor => {
                          if (
                            Number(vendor.id) ===
                            Number(authUser.vendor_user_id)
                          ) {
                            this.vendor_username = vendor.username;
                          }
                        });
                        authUser.vendor_username = this.vendor_username;
                        localStorage.setItem(
                          "authUser",
                          JSON.stringify(authUser)
                        );
                        this.isLoading = false;
                        this.status = true;
                        this.$emit("authenicatedBar", true);

                        if (this.$route.query.watch === "media") {
                          this.$router.go(-1);
                        } else if (this.$route.query.check === "guides") {
                          this.$router.go(-1);
                        } else {
                          if (authUser.vendor_user_id === 0) {
                            Engagespot.identifyUser(authUser.id);
                            if (this.$route.query.redirect) {
                              this.$router.go(-1);
                            } else if (this.$route.query.redirectFrom) {
                              this.$router.go(-1);
                            } else {
                              this.$router.replace({ name: "InsightPage" });
                            }
                            window.location.reload();
                          } else {
                            Engagespot.identifyUser(authUser.vendor_user_id);
                            this.$router.replace({
                              name: "PartnersProfile",
                              params: { username: this.vendor_username }
                            });
                            this.$toasted.success("Successfully login");
                            window.location.reload();
                          }
                        }
                      }
                    });
                  } else {
                    this.$toasted.error(
                      `Error occured, unable to login with ${provider}`
                    );
                    this.errorCheck = true;
                  }
                });
            }
          });
        })
        .catch(err => {
          console.log({ err: err });
        });
    },

    toggleEmail() {
      this.isNumber = !this.isNumber;
      if (this.isNumber === true) {
        this.user.email = `${Math.round(Math.random() * 10000000)}@email.com`;
        this.user.phone_no = null;
        this.userLogin.email = null;
      }
      if (this.isNumber === false) {
        this.user.email = "";
        this.user.phone_no = 8799;
        this.userLogin.email = "";
      }
    },
    changeTab(stage) {
      switch (stage) {
        case "first":
          this.first = true;
          this.second = this.third = false;

          break;

        case "second":
          if (this.user.name !== "" ) {
            this.second = true;
            this.first = this.third = false;
          } else {
            this.$toasted.error("Fill all fields");
          }

          break;

        case "third":
          if (
            (this.user.email !== "" ||
              this.user.phone_no !== null ||
              this.user.phone_no !== 8799) &&
            this.user.password !== ""
          ) {
            this.third = true;
            this.second = this.first = false;
          } else {
            this.$toasted.error("Fill all fields");
          }

          break;

        default:
          break;
      }
    },
    subscribe(email, name) {
      if (!this.isNumber) {
        let user = JSON.parse(localStorage.getItem("authUser"));
        let data = {
          email: email,
          first_name: name,
          last_name: name
        };
        axios.post(`/api/subscribe`, data).then(response => {
          if (response.status === 200) {
          }
        });
      }
    },
    generateToken(l) {
      let text = "";
      let char_list =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < l; i++) {
        text += char_list.charAt(Math.floor(Math.random() * char_list.length));
      }

      this.userToken = "USR-" + text;
      return "USR-" + text;
    },
    check() {
      if (this.$route.params.name === "login") {
        this.loginToggle = true;
        this.registerToggle = false;
      } else if (this.$route.params.name === "register") {
        this.registerToggle = true;
        this.loginToggle = false;
      } else {
      }
    },
    checkToken() {
      if (this.user.specialToken !== "") {
        this.validToken = "checking";

        axios
          .post(`/api/checkToken/${this.user.specialToken}`)
          .then(response => {
            if (response.status === 200) {
              if (response.data.message === "invalid") {
                this.validToken = "invalid";
                return this.validToken;
              } else if (response.data.message === "valid") {
                this.validToken = "valid";
                return this.validToken;
              } else {
                this.validToken = "limit";
                this.$toasted.error("Token maximum limit ");

                return this.validToken;
              }
            }
          });
      } else {
        this.validToken = null;
      }
    },
    toggleSignin() {
       this.registerToggle = !this.registerToggle
    },
    toggleSignup() {
     this.registerToggle = !this.registerToggle
    },
    getCount() {
      // axios.get(`/api/count/${this.userLogin.email}`).then(response => {
      //   this.count = response.data.count;
      // });
    },
    register() {
      if (this.subscribeNews === false) {
        localStorage.setItem("news", "show");
      }
      this.show = true;

      if (this.user.specialToken === "") {
        axios
          .post("/api/customer/register", this.user)

          .then(response => {
            if (response.status === 200) {
              this.sendSms();
              this.subscribe(this.user.email, this.user.name);
              localStorage.setItem("demo", "start");
              this.show = false;
              this.$toasted.success(
                "Registration successful"
              );
              this.userLogin.email = this.user.email;
              this.userLogin.password = this.user.password;
              this.login(this.userLogin);
             
            }
          })
          .catch(error => {
            for (var key in error.response.data.errors) {
              this.$toasted.error(error.response.data.errors[key][0]);
              this.show = false;
            }
          });
      } else {
        axios
          .post(`/api/checkToken/${this.user.specialToken}`)
          .then(response => {
            if (response.status === 200) {
              if (response.data.message === "invalid") {
                this.$toasted.error("Invalid token provided");
                this.validToken = "invalid";
              } else if (response.data.message === "limit") {
                this.$toasted.error("Token maximum limit");
                this.validToken = "invalid";
              } else if (response.data.message === "valid") {
                axios
                  .post("/api/customer/register", this.user)

                  .then(response => {
                    if (response.status === 200) {
                      this.$toasted.success(
                        "Registration successful, Please Login to continue"
                      );
                      this.subscribe(user.email, user.name);
                      localStorage.setItem("demo", "start");
                      this.show = false;
                      
                      this.userLogin.email = this.user.email;
                      this.userLogin.password = this.user.password;
                      this.login(this.userLogin);
                    
                    }
                  })
                  .catch(error => {
                    this.show = false;
                    for (var key in error.response.data.errors) {
                      this.$toasted.error(error.response.data.errors[key][0]);
                    }
                  });
              } else {
                this.$toasted.error("Invalid token provided");
                this.show = false;
              }
            }
          });
      }
    },
    login(userLogin) {
      this.isLoading = true;
      let ipDetails = {
        email: this.userLogin.email,
        login_token: this.generateToken(10)
      };
      localStorage.setItem("login_token", ipDetails.login_token);
      axios
        .post(`/api/ip`, JSON.parse(JSON.stringify(ipDetails)))
        .then(response => {
          if (response.status === 200) {
            if (response.data.status === "login") {
            }
          }
        });

      let data = {
        client_id: 2,
        client_secret: "UhnuaSGeXZw8AGS4F3ksNtndO9asVaR7sO0BSC3C",
        grant_type: "password",
        username: userLogin.email,
        password: userLogin.password,
        theNewProvider: "api"
      };
      const authUser = {};
      axios
        .post("/oauth/token", data)
        .then(response => {
          authUser.access_token = response.data.access_token;
          authUser.refresh_token = response.data.refresh_token;
          localStorage.setItem("authUser", JSON.stringify(authUser));
          axios
            .get("/api/user", { headers: getCustomerHeader() })
            .then(response => {
              if (response.status === 200) {
                authUser.id = response.data.id;
                authUser.email = response.data.email;
                authUser.name = response.data.name;
                authUser.vendor_user_id = response.data.vendor_user_id;
                if (response.data.business_name !== null) {
                  authUser.business_name = response.data.business_name;
                }
                if (response.data.business_name !== null) {
                  authUser.business_type = response.data.business_type;
                }
                if (response.data.age !== null) {
                  authUser.age = response.data.age;
                }
                if (response.data.gender !== null) {
                  authUser.gender = response.data.gender;
                }
                if (response.data.location !== null) {
                  authUser.location = response.data.location;
                }
                if (response.data.logo !== null) {
                  authUser.logo = response.data.logo;
                }
                axios.get("/api/get-all-vendor").then(response => {
                  if (response.status === 200) {
                    response.data.forEach(vendor => {
                      if (
                        Number(vendor.id) === Number(authUser.vendor_user_id)
                      ) {
                        this.vendor_username = vendor.username;
                      }
                    });
                    authUser.vendor_username = this.vendor_username;
                    localStorage.setItem("authUser", JSON.stringify(authUser));
                    this.isLoading = false;
                    this.status = true;
                    this.$emit("authenicatedBar", true);

                  if (this.$route.params.name == 'register') {
                       this.$router.replace("/choose");
                  }else{
                      if (this.$route.query.watch === "media") {
                      this.$router.go(-1);
                    } else if (this.$route.query.check === "guides") {
                      this.$router.go(-1);
                    } else {
                      if (authUser.vendor_user_id === 0) {
                        // Engagespot.identifyUser(authUser.id);
                        if (this.$route.query.redirect) {
                          this.$router.go(-1);
                        } else if (this.$route.query.redirectFrom) {
                          this.$router.go(-1);
                        } else {
                          if (this.$route.query.redirect_from === "register") {
                            this.$router.replace("/preferences");
                          } else {
                            this.$router.replace({ name: "InsightPage" });
                          }
                        }
                      } else {
                        // Engagespot.identifyUser(authUser.vendor_user_id);
                        this.$router.replace({
                          name: "PartnersProfile",
                          params: { username: this.vendor_username }
                        });
                        this.$toasted.success("Successfully login");
                      }
                    }
                  }
                  }
                });
              } else {
                this.$toasted.error("Invalid user name and password");
                this.errorCheck = true;
              }
            })
            .catch(error => {
              let errors = Object.values(error.response.data.error);
              errors.forEach(item => {
                console.log("vvv");
                this.$toasted.error(item[0]);
                console.log("fjfjf");
              });
              // this.isLoading = false;
              // this.status = false;
            });
        })
        .catch(error => {
          this.errorCheck = true;
          this.isLoading = false;
          //this.status = true;
        });
    }
  }
};
</script>

<style scoped>
body {
  background: #a4c2db;
}
.site-title {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
}

.btn {
  border: none !important;
}

.next {
  background: #a4c2db;
  padding: 5px 30px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.prev {
  background: #333;
  padding: 5px 30px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.previous {
  background: #333;
  padding: 5px 30px;
  height: 40px;
  cursor: pointer;
  border: none;
}
/* .reset {
  color: #fff !important;
} */
.reset:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  padding: 90px 0 30px !important;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  min-height: 100vh;
}
.form-control {
  border-top: unset;
  border-left: unset;
  border-right: unset;
  height: 40px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.34) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.34) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.34) !important;
}

label {
  font-weight: normal;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.text_content {
  width: 100%;
  padding: 15px;
}
/* .form-control {
  background: rgba(255, 255, 255, 0.7);
} */
.form-check-label {
  display: flex !important;
  align-items: center;
}
/* .form-check-input{
  margin-right:0;
} */
.input-container {
  display: flex;
  position: relative;
}
.switch:hover {
  text-decoration: underline;
}
.valid {
  position: absolute;
  right: 4px;
  top: 35%;
}
.btologin {
  margin: 10px 0 0 10px;
  font-weight: bold;
}
.v-progress-circular {
  margin: 0 1rem;
}
.fa-red {
  color: red;
}
.fa-green {
  color: green;
}
.primary {
  color: #a4c2db;
}
.center {
  text-align: center;
  justify-content: center;
}

.signUp {
  position: relative;
  background-image: url(/images/mockups/new2.png);
  padding: 0;
  background-position: bottom;
  background-size: 75%;
  background-repeat: no-repeat;
  background-color: #f5f8fb;
  padding-top: 25px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.signup-head {
  font-size: 24px;
}
.head {
  border-bottom: solid 1px #dedfe0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #29303b;
  display: block;
  font-weight: 600;
  font-size: 15px;
  padding: 24px 4px 24px 0;
  width: 100%;
}

a.login-home.router-link-active {
  display: none;
  margin-left: -20px;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 16px;
}
a.signup-home.router-link-active {
  display: none;
  margin-left: -20px;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 16px;
}
.mobile,
.mobile-register-text {
  display: none;
}

.loginPagge {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}
.text-c {
  z-index: 2;
  margin-top:50px;
}

.registerPagge {
  background-color: white;
  padding: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerPagge {
  padding: 60px 25px 20px;
}
.text_content {
  padding: 0;
}
h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
}

.pp {
  text-align: center;
  font-size: 18px;
  padding:20px 40px;
}
.btn-signup {
  background-color: #a4c2db !important;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  height: 40px;
  position: relative;
}

.socailLoaders {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -1rem;
}
.social-header {
  color: rgba(0, 0, 0, 0.64);
  margin: 0 auto 10px;
  text-align: center;
  position: relative;
}
.social-header::before {
  display: block;
  width: 36%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #ccc;
  float: left;
}
.social-header::after {
  display: block;
  width: 36%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #ccc;
  float: right;
}
.social {
  /* display: flex;
  justify-content: space-evenly; */
}
.btn-fb {
  background-color: #3b5998 !important;
  font-size: 14px;
  height: 40px;
  width: 100%;
}
.btn-google {
  background-color: #d8453b !important;
  font-size: 14px;
  height: 40px;
  width: 100%;
}
.text-google {
  color: #d8453b !important;
}
.text-fb {
  color: #3b5998 !important;
}
.btn-logIn {
  color: #fff;
  background-color: #a4c2db !important;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #fff;
  position: relative;
  padding: 5px 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
}
.btn-back {
  display: none;
  color: #000000;
  font-size: 16px;
  text-transform: none;
  height: 40px;
}
.terms {
  margin-bottom: 16px;
  font-size: 12px;
}
.btn-join {
  font-size: 16px;
  text-transform: capitalize;
  padding: 0 4px;
  background-color: transparent;
  color: #a4c2db;
  font-weight: bold;
  height: 40px;
}
.btn-join:hover {
  color: #0000;
}

.signUp-button {
  margin: 30px 0 0 0;
  text-align: center;
  height: 40px;
}
a.home_button {
  color: white;
  margin: 10px;
}

.login_inner {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .head {
    font-size: 14px;
  }
  .btn-fb,
  .btn-google {
    font-size: 15px;
  }

  .terms {
    text-align: center;
  }
  .text_content {
    text-align: center;
  }
  .input-group-text {
    font-size: 0.95rem;
  }
  .btn-logIn {
    color: #fff;
    background-color: #333 !important;
    margin-bottom: 16px;
    margin-right: 0 !important;
    width: 100%;
  }
  .next {
    background: #333;
    color: #fff !important;
    width: 100%;
  }
  .prev {
  }
  .previous {
    background: #fff;
    color: #333 !important;
    margin-right: 0 !important;
    margin-bottom: 16px;
  }
  .signup-head {
    font-size: 18px;
  }

  .signUp.signUpActive {
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .mobile-register-text {
    display: inline-block;
    margin-top: 40px;
  }
  .mobile {
    display: inline;
  }
  .btn-back {
    display: inline-block;
  }
  .pp {
    font-size: 14px;
    text-align: start;
    padding: 15px;
  }
  a.home_button {
    color: #ffffff;
    margin-left: 20px;
    margin-top: 8px;
  }
  .signUpActive {
    display: block;
    /* margin-top: 30px; */
  }
  .loginActive {
    display: none;
  }
  .h-100 {
    min-height: 100% !important;
  }
  .btologin {
    margin: 0;
  }
  .signup-head {
    font-size: 18px;
  }

  .terms p {
    font-size: 9px;
    text-align: center;
  }
  .btn-join {
    font-size: 13px;
    /* font-weight: bold; */
    padding: 0;
    color: #0f283c;
    height: auto;
  }
  .container {
    padding: 30px 0 0 !important;
  }
  .login_area {
    width: 100%;
  }
  .text-biz {
    color: #0f283c !important;
    font-weight: bold;
  }
  .loginPagge {
    /* background: #d1e8fd; */
    background-size: cover;
    background-position: center center;
    padding: 80px 40px 30px;
  }
  .registerPagge {
    /* background: #d1e8fd; */
    background-size: cover;
    background-position: center center;
    padding: 60px 20px 20px;
  }

  .signUp {
    display: none !important;
  }
  .signUp.signUpActive {
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
  }
  a.home_button {
    margin-left: 20px;
    margin-top: 8px;
    color: #ffffff;
  }

  a.login-home.router-link-active {
    display: block;
  }
  a.signup-home.router-link-active {
    display: block;
  }
  .mobile-register-text {
    display: inline-block;
    margin-top: 20px;
  }
  .btn-back {
    display: inline-block;
  }
  .pp {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    font-weight: normal;
  }
  .signUpActive {
    display: block;
  }
  .loginActive {
    display: none;
  }
  .btn-logIn {
    color: #fff;
    background-color: #333 !important;
    margin-bottom: 16px;
    margin-right: 0 !important;
  }
  .fa-home {
    color: #a4c2db;
  }
  .do-column {
    flex-direction: column;
  }
}
@media screen and (max-width: 325px) {
  .do-column {
    flex-direction: column;
  }
}
</style>
