<template>
  <div class="container" v-if="vendorProducts">
    <div class="row a">
      <div v-if="vendor.valid_id !== null" class="ab">
        <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
      </div>

      <div v-if="vendor.valid_id === null" class="ab">
        <img src="/images/profile.png" alt srcset />
      </div>
      <div class="aa">
        <div class="partner_name mb-2">
          <h2 class="partnerName mr-3 " v-if="vendor.storeName">{{vendor.storeName}}</h2>

          <button
            :key="update"
           
            type="button"
            @click="followToggle"
            class="elevated_btn elevated_btn_sm btn-compliment text-white mt-0"
          >{{followText}}</button>
        </div>
        <div class="bio">
          <p v-if="vendor.bio !== null">{{vendor.bio}}</p>
          <p v-else>{{vendor.bio}}</p>
        </div>
        <div>
          <small>Member since {{vendor.created_at| moment(" MMMM YYYY") }}</small>
        </div>
        <div>
          <small>{{followNo}} Follower(s)</small>
        </div>
      </div>
    </div>

    <div class="row ac">
      <button type="button" class="elevated_btn elevated_btn_sm btn-compliment text-white" @click="askVendor">Ask {{vendor.storeName}}</button>
    </div>

    <div class="row b">
      <!-- based on preference starts
      -->
      <div class="tabs">
        <span
          class="tab"
          @click="openOtherTab"
          v-bind:class="{activeTab:openOthers}"
        >Based on Others</span>
        <span
          class="tab"
          @click="openPrefTab"
          v-bind:class="{activeTab:openPref}"
        >Based on Preference</span>
      </div>

      <div class="title" v-show="openOthers">
        <!-- popular starts -->
        <h2 v-if="vendorProducts.length > 0" class="primary_header mt-4">Latest</h2>
        <h2 v-if="vendorProducts.length === 0" class="primary_header mt-4">No available content yet</h2>

        <div>
          <div class="mb-4">
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4">
              <swiper-slide v-for="(latest) in vendorProducts" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Courses'">
                  <div class="subject">
                    <router-link to="/courses">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.courses.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{
								name: 'CourseFullPage',
								params: {
									id: latest.courses.product_id,
									name: latest.courses.title.replace(/ /g, '-')
								}
							}"
                    tag="a"
                    class="routerlink"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.courses.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.courses.title}}</h3>
                    <p class="textContent">{{latest.courses.overview}}</p>
                  </div>
                </div>

                <div class="popular_box" v-if="latest.prodType ==='Articles'">
                  <div class="subject">
                    <router-link to="/articles">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.articles.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: latest.articles.product_id, name: latest.articles.title.replace(/[^a-z0-9]/gi, '').replace(/\$/g, '')}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.articles.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3 class="toCaps">{{latest.articles.title.toLowerCase()}}</h3>
                    <p class="textContent" v-html="latest.articles.description"></p>
                  </div>
                </div>
                <div class="popular_box" v-if="latest.prodType ==='Videos'">
                  <div class="subject">
                    <router-link to="/videos">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinar.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{
									name: 'Video',
									params: { id: latest.webinar.product_id }
								}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.webinar.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinar.title}}</h3>
                    <p class="textContent">{{latest.webinar.description}}</p>
                  </div>
                </div>
                <div class="popular_box" v-if="latest.prodType ==='Podcast'">
                  <div class="subject">
                    <router-link to="/podcast">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinarVideo.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{name:'SinglePodcastPage', params:{id:latest.webinarVideo.product_id}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" alt="latest.webinarVideo.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinarVideo.title}}</h3>
                    <p class="textContent">{{latest.webinarVideo.description}}</p>
                  </div>
                </div>
                <div class="popular_box" v-if="latest.prodType ==='Market Research'">
                  <div class="subject">
                    <router-link
                      :to="{
							name: 'WhitePaperAdmin',
							params: { name: 'market-research' }
						}"
                    >
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.marketResearch.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ProductPaperDetail', params: {id: latest.marketResearch.product_id, name:  (latest.marketResearch.title ? latest.marketResearch.title : latest.marketResearch.articleTitle).replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.marketResearch.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.marketResearch.title}}</h3>
                    <p class="textContent">{{latest.marketResearch.overview}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- popular ends -->

        <hr />

        <!-- featured starts  -->

        <h2 v-if="vendorProducts.length > 0" class="mb-4 mt-4">Featured</h2>

        <!-- Articles starts -->
        <div v-if="articles">
          <div class="mb-4">
            <h4>Articles</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="articlesP.length > 0">
              <swiper-slide v-for="(latest) in articlesP" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Articles'">
                  <div class="subject">
                    <router-link to="/articles">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.articles.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: latest.articles.product_id, name: latest.articles.title.replace(/[^a-z0-9]/gi, '').replace(/\$/g, '')}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.articles.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3 class="toCaps">{{latest.articles.title.toLowerCase()}}</h3>
                    <p class="textContent" v-html="latest.articles.description"></p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- articles end -->

        <!-- courses starts  -->

        <div v-if="courses">
          <div class="mb-4">
            <h4>Courses</h4>
            <!-- swiper -->
            <swiper :options="swiperOptions" class="mb-4" v-if="coursesP.length > 0">
              <swiper-slide v-for="(latest) in coursesP" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Courses'">
                  <div class="subject">
                    <router-link to="/courses">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.courses.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{
								name: 'CourseFullPage',
								params: {
									id: latest.courses.product_id,
									name: latest.courses.title.replace(/ /g, '-')
								}
							}"
                    tag="a"
                    class="routerlink"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.courses.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.courses.title}}</h3>
                    <p class="textContent">{{latest.courses.overview}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- courses ends  -->

        <!-- videos starts  -->

        <div v-if="videos">
          <div class="mb-4">
            <h4>Videos</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="videosP.length > 0">
              <swiper-slide v-for="(latest) in videosP" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Videos'">
                  <div class="subject">
                    <router-link to="/videos">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinar.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{
									name: 'Video',
									params: { id: latest.webinar.product_id }
								}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.webinar.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinar.title}}</h3>
                    <p class="textContent">{{latest.webinar.description}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- videso ends  -->

        <!-- podcast starts  -->

        <div v-if="podcast">
          <div class="mb-4">
            <h4>Podcasts</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="podcastP.length > 0">
              <swiper-slide v-for="(latest) in podcastP" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Podcast'">
                  <div class="subject">
                    <router-link to="/podcast">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinarVideo.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{name:'SinglePodcastPage', params:{id:latest.webinarVideo.product_id}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" alt="latest.webinarVideo.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinarVideo.title}}</h3>
                    <p class="textContent">{{latest.webinarVideo.description}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- podcasr ends  -->

        <!-- research starts  -->

        <div v-if="research">
          <div class="mb-4">
            <h4>Market Research</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="researchP.length > 0">
              <swiper-slide v-for="(latest) in researchP" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Market Research'">
                  <div class="subject">
                    <router-link
                      :to="{
							name: 'WhitePaperAdmin',
							params: { name: 'market-research' }
						}"
                    >
                      <span>{{latest.prodType.toLowerCase()}}</span> /
                      <router-link
                        :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                      >
                        <span>{{latest.industry.name.toLowerCase()}}</span>
                      </router-link>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.marketResearch.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ProductPaperDetail', params: {id: latest.marketResearch.product_id, name:  (latest.marketResearch.title ? latest.marketResearch.title : latest.marketResearch.articleTitle).replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.marketResearch.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.marketResearch.title}}</h3>
                    <p class="textContent">{{latest.marketResearch.overview}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- research ends  -->
      </div>

      <!-- open others ends  -->

      <div class="title" v-show="openPref">
        <!-- popular starts -->

        <h2 v-if="vendorTopics.length>0" class="primary_header mt-4">Recent</h2>
        <h2 v-else class="primary_header mt-4">No available content</h2>
        <div v-if="vendorTopics">
          <div class="mb-4">
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4">
              <swiper-slide v-for="(latest) in vendorTopics" v-bind:key="latest.id">
                <div class="popular_box" v-if="latest.prodType ==='Courses'">
                  <div class="subject">
                    <router-link to="/courses">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.courses.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{
								name: 'CourseFullPage',
								params: {
									id: latest.courses.product_id,
									name: latest.courses.title.replace(/ /g, '-')
								}
							}"
                    tag="a"
                    class="routerlink"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.courses.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.courses.title}}</h3>
                    <p class="textContent">{{latest.courses.overview}}</p>
                  </div>
                </div>

                <div class="popular_box" v-if="latest.prodType ==='Articles'">
                  <div class="subject">
                    <router-link to="/articles">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.articles.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: latest.articles.product_id, name: latest.articles.title.replace(/[^a-z0-9]/gi, '').replace(/\$/g, '')}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.articles.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3 class="toCaps">{{latest.articles.title.toLowerCase()}}</h3>
                    <p class="textContent" v-html="latest.articles.description"></p>
                  </div>
                </div>
                <div class="popular_box" v-if="latest.prodType ==='Videos'">
                  <div class="subject">
                    <router-link to="/videos">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinar.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{
									name: 'Video',
									params: { id: latest.webinar.product_id }
								}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.webinar.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinar.title}}</h3>
                    <p class="textContent">{{latest.webinar.description}}</p>
                  </div>
                </div>
                <div class="popular_box" v-if="latest.prodType ==='Podcast'">
                  <div class="subject">
                    <router-link to="/podcast">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinarVideo.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{name:'SinglePodcastPage', params:{id:latest.webinarVideo.product_id}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" alt="latest.webinarVideo.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinarVideo.title}}</h3>
                    <p class="textContent">{{latest.webinarVideo.description}}</p>
                  </div>
                </div>
                <div class="popular_box" v-if="latest.prodType ==='Market Research'">
                  <div class="subject">
                    <router-link
                      :to="{
							name: 'WhitePaperAdmin',
							params: { name: 'market-research' }
						}"
                    >
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.marketResearch.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                    <div class="spark">
                      <img src="/images/spark.png" alt height="30" width="35" />
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ProductPaperDetail', params: {id: latest.marketResearch.product_id, name:  (latest.marketResearch.title ? latest.marketResearch.title : latest.marketResearch.articleTitle).replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.marketResearch.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.marketResearch.title}}</h3>
                    <p class="textContent">{{latest.marketResearch.overview}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- popular ends -->

        <hr />

        <!-- Articles starts -->
        <h2 v-if="vendorTopics.length>0" class="mb-4 mt-4">Featured</h2>

        <div v-if="articlesF">
          <div class="mb-4">
            <h4>Articles</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="articlesP.length > 0">
              <swiper-slide
                v-for="(latest) in articlesP"
                v-bind:key="latest.id"
                class="popular_box"
              >
                <div>
                  <div class="subject">
                    <router-link to="/articles">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.articles.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ArticleSinglePage', params: {id: latest.articles.product_id, name: latest.articles.title.replace(/[^a-z0-9]/gi, '').replace(/\$/g, '')}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.articles.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3 class="toCaps">{{latest.articles.title.toLowerCase()}}</h3>
                    <p class="textContent" v-html="latest.articles.description"></p>
                  </div>
                </div>
              </swiper-slide>

              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- articles end -->

        <!-- courses starts  -->

        <div v-if="coursesF">
          <div class="mb-4">
            <h4>Courses</h4>
            <!-- swiper -->
            <swiper :options="swiperOptions" class="mb-4" v-if="coursesP.length >0">
              <swiper-slide v-for="(latest) in coursesP" v-bind:key="latest.id" class="popular_box">
                <div>
                  <div class="subject">
                    <router-link to="/courses">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.courses.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{
								name: 'CourseFullPage',
								params: {
									id: latest.courses.product_id,
									name: latest.courses.title.replace(/ /g, '-')
								}
							}"
                    tag="a"
                    class="routerlink"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.courses.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3 class="toCaps">{{latest.courses.title.toLowerCase()}}</h3>
                    <p class="textContent">{{latest.courses.overview}}</p>
                  </div>
                </div>
              </swiper-slide>

              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- courses ends  -->

        <!-- videos starts  -->

        <div v-if="videosF">
          <div class="mb-4">
            <h4>Videos</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="videosP.length > 0">
              <swiper-slide v-for="(latest) in videosP" v-bind:key="latest.id" class="popular_box">
                <div>
                  <div class="subject">
                    <router-link to="/videos">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinar.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{
									name: 'Video',
									params: { id: latest.webinar.product_id }
								}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.webinar.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinar.title}}</h3>
                    <p class="textContent">{{latest.webinar.description}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- videso ends  -->

        <!-- podcast starts  -->

        <div v-if="podcastF">
          <div class="mb-4">
            <h4>Podcasts</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="podcastP.length > 0">
              <swiper-slide v-for="(latest) in podcastP" v-bind:key="latest.id" class="popular_box">
                <div>
                  <div class="subject">
                    <router-link to="/podcast">
                      <span>{{latest.prodType.toLowerCase()}}</span>
                    </router-link>/
                    <router-link
                      :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                    >
                      <span>{{latest.industry.name.toLowerCase()}}</span>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.webinarVideo.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{name:'SinglePodcastPage', params:{id:latest.webinarVideo.product_id}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" alt="latest.webinarVideo.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.webinarVideo.title}}</h3>
                    <p class="textContent">{{latest.webinarVideo.description}}</p>
                  </div>
                </div>
              </swiper-slide>

              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- podcasr ends  -->

        <!-- research starts  -->

        <div v-if="researchF">
          <div class="mb-4">
            <h4>Market Research</h4>
            <!-- swiper -->
            <swiper :options="swiperOption" class="mb-4" v-if="researchP.length > 0">
              <swiper-slide
                v-for="(latest) in researchP"
                v-bind:key="latest.id"
                class="popular_box"
              >
                <div>
                  <div class="subject">
                    <router-link
                      :to="{
							name: 'WhitePaperAdmin',
							params: { name: 'market-research' }
						}"
                    >
                      <span>{{latest.prodType.toLowerCase()}}</span> /
                      <router-link
                        :to="{ name: 'Industry',
                      params:{
                          id: latest.industry.id,
                          name:latest.industry.name.replace(/ /g, '')
                          }}"
                      >
                        <span>{{latest.industry.name.toLowerCase()}}</span>
                      </router-link>
                    </router-link>
                  </div>

                  <div class="miniAbout">
                    <div class="imgCover">
                      <img :src="vendor.valid_id" :alt="vendor.storeName" srcset />
                    </div>
                    <div class="aboutCover">
                      <div class="vendor mr-2">
                        {{vendor.storeName.toLowerCase()}} in
                        <router-link
                          :to="{
												name: 'SubjectMatters',
												params: {
													id: latest.subjectMatter.id,
													name: latest.subjectMatter.name.toLowerCase().replace(/ /g, '-')
												}}"
                        >{{latest.subjectMatter.name.toLowerCase()}}</router-link>
                      </div>
                      <div
                        class="joinDate"
                      >{{latest.marketResearch.created_at| moment("dddd, MMMM Do YYYY") }}</div>
                    </div>
                  </div>
                  <router-link
                    :to="{ name: 'ProductPaperDetail', params: {id: latest.marketResearch.product_id, name:  (latest.marketResearch.title ? latest.marketResearch.title : latest.marketResearch.articleTitle).replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
                  >
                    <div class="img_cover">
                      <img :src="latest.coverImage" :alt="latest.marketResearch.title" srcset />
                    </div>
                  </router-link>

                  <div class="img_text">
                    <h3>{{latest.marketResearch.title}}</h3>
                    <p class="textContent">{{latest.marketResearch.overview}}</p>
                  </div>
                </div>
              </swiper-slide>
              <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
              <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </div>

        <!-- research ends  -->
      </div>
    </div>
  </div>
</template>


<script>

export default {
  name: "user-Partner-Profile-component",
  data() {
    return {
      username: this.$route.params.username,
      join: "",
      article: {},
      user: {},
      token: "",
      nonSubscriber: false,
      authenticate: false,
      readCount: 0,
      writterD: {},
      auth: "",
      followNo: 0,
      update: 0,
      vendor: {},
      vendor: {},
      userFollowing: {},
      following: false,
      followText: "follow",
      vendorProducts: [],
      industries: [],
      concepts: [],
      categories: [],
      articles: false,
      courses: false,
      videos: false,
      podcast: false,
      research: false,
      articlesF: false,
      coursesF: false,
      videosF: false,
      podcastF: false,
      researchF: false,
      userPreference: [],
      vendorTopics: [],

      swiperOption: {
        slidesPerView: 1,
        slidesPerColumn: 2,
        spaceBetween: 20,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },

        observer: true,
        observeParents: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        }
      },
      swiperOptions: {
        slidesPerView: 2,
        slidesPerColumn: 2,
        spaceBetween: 20,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },

        observer: true,
        observeParents: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        breakpoints: {
          425: {
            slidesPerView: 1,
            spaceBetween: 30
          }
        }
      },
      openPref: false,
      openOthers: true,
      coursesP: [],
      articlesP: [],
      videosP: [],
      researchP: [],
      podcastP: [],
      isActive:true,
    };
  },

  watch: {
    openPref: "getProducts"
  },

  created() {
  
    axios.get(`/api/vendor/${this.username.toLowerCase()}`).then(response => {
      if (response.status === 200) {
        this.vendor = response.data.vendorU[0];

        let user = JSON.parse(localStorage.getItem("authUser"));
        let data = {
          id: this.vendor.id,
          prodType: "Articles",
          readCount: this.readCount,
          industries: [],
          concepts: [],
          categories: []
        };

        if (user != null) {
          this.user = user;
          this.auth = true;
          this.token = user.access_token;

          axios
            .get(`/api/user-following/${data.id}`, {
              headers: { Authorization: `Bearer ${this.token}` }
            })
            .then(response => {
              if (response.status === 200) {
                if (response.data === true) {
                  this.following = true;
                  this.followText = "following";
                } else {
                  this.following = false;
                  this.followText = "follow";
                }
              }
            });
          this.$emit("activity", this.vendor.id, 1, 0);
        }

        axios.get(`/api/getfollowers/${data.id}`).then(response => {
          if (response.status === 200) {
            this.followNo = response.data;
          }
        });
         this.getProducts()
      }
    });

    axios.get(`/api/products`).then(res => {
      res.data.data.forEach(element => {
        let vendor_user_id = Number(this.vendor.id);
        if (element.vendor_user_id === vendor_user_id) {
        }
      });
    });
  },

  methods: {
    getProducts() {
      this.coursesP = []
        this.articlesP = []
        this.videosP = []
        this.researchP = []
        this.podcastP = []
      axios.get(`/api/vendor-products/${this.vendor.id}`).then(response => {
        if (response.status === 200) {
          this.vendorProducts = response.data.data.reverse();

          this.vendorProducts.forEach(item => {
            if (this.openPref) {
              this.userPreference.forEach(element => {
                if (
                  element.typeId === JSON.parse(item.sub_category_brand_id)[0]
                ) {
                  this.vendorTopics.push(item);
                  this.vendorTopics.forEach(item => {
                    if (item.prodType === "Articles") {
                      this.articlesP.push(item);
                      this.articlesF = true;
                    }
                    if (item.prodType === "Courses") {
                      this.coursesF = true;

                      this.coursesP.push(item);
                    }
                    if (item.prodType === "Videos") {
                      this.videosP.push(item);
                      this.videosF = true;
                    }
                    if (item.prodType === "Podcast") {
                   
                      this.podcastF = true;
                      this.podcastP.push(item);
                    }
                    if (item.prodType === "Market Research") {
                      this.researchF = true;
                      this.researchP.push(item);
                    }
                  });
                }
              });
            }
            if (!this.openPref) {
              if (item.prodType === "Articles") {
                this.articlesP.push(item);
                this.articles = true;
              }
              if (item.prodType === "Courses") {
                this.coursesP.push(item);
                this.courses = true;
              }
              if (item.prodType === "Videos") {
                this.videosP.push(item);
                this.videos = true;
              }
              if (item.prodType === "Podcast") {
                
                this.podcastP.push(item);
                this.podcast = true;
              }
              if (item.prodType === "Market Research") {
                this.research = true;
                this.researchP.push(item);
              }
            }
          });
          this.isActive = false
        }
      });
    },
    askVendor() {
      this.$router.push({
        name: "BizguruhQuestionBank",
        query: {
          vendor: this.vendor.id
        }
      });
    },
    joinDate(date) {
      let joinDate = new Date(date);
      let mlist = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ];
      let month = joinDate.getMonth();
      return mlist[month] + " " + joinDate.getFullYear();
    },
    openPrefTab() {
      this.openPref = true;
      this.openOthers = false;
    },
    openOtherTab() {
      this.openPref = false;
      this.openOthers = true;
    },

    followToggle() {
      this.following
        ? this.unFollow()
        : this.follow(this.vendor.id, this.vendor.storeName);
    },

    follow(params, name) {
      let data = {
        vendorName: name,
        vendorId: params
      };
      if (this.auth) {
        axios
          .post("/api/user-following", JSON.parse(JSON.stringify(data)), {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 201) {
              this.following = true;
              this.followText = "following";
              this.$toasted.success("Successfully followed");
              this.followNo++;
              this.forceRender();
            } else if (response.data === "Already following") {
              this.$toasted.error("Already following");
            } else {
              this.$toasted.error("Error");
            }
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        this.$toasted.error("You have to log in to follow");
      }
    },
    unFollow() {
      let vendor = this.vendor.id;
      let unfollow = confirm(
        `unfollow ${this.vendor.storeName.toLowerCase()}?`
      );
      if (unfollow) {
        axios
          .delete(`/api/user-following/${vendor}`, {
            headers: { Authorization: `Bearer ${this.token}` }
          })
          .then(response => {
            if (response.status === 200) {
              this.following = false;
              this.followText = "follow";
              this.$toasted.success("Successfully Unfollowed");
              this.followNo--;
              this.forceRender();
            } else {
              this.$toasted.error("Already Unfollowed");
            }
          });
      }
    }
  },

  components: {
   
  }
};
</script>


<style scoped>
.container {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 120px;
  transition: all 0.4s ease;
  background: white;
}
ul,
ol {
  list-style: none;
}
.title {
  width: 100%;
}
a {
  color: hsl(207, 43%, 20%) !important;
}
a:hover {
  color: rgba(0, 0, 0, 0.64) !important;
  text-decoration: underline !important;
}
h2 {
  color: rgba(0, 0, 0, 0.84);
}
h4 {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.subject {
  position: absolute;
  bottom: 10px;
  left: 35px;
  color: hsl(207, 43%, 20%);
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.2;
}
.subject a {
  color: hsl(207, 43%, 20%) !important;
}
.miniAbout {
  display: flex;
  padding: 15px 0;
}
.joinDate {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}
.vendor {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64);
  padding-bottom: 10px;
  text-transform: capitalize;
}

.imgCover {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.imgCover img {
  height: 100%;
  width: 100%;
}
.partnerName {
  text-transform: capitalize;
}
.tabs {
  transition: all 0.4s ease;
  border-bottom: 1px solid #f7f8fa;
}
.tab {
  padding: 2px 30px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}
.tab:hover {
  color: rgba(0, 0, 0, 0.74);
}
.img_text h3 {
  margin-bottom: 2px;
}
.activeTab {
  background: #ffffff;
  border-bottom: 1px solid #000000;
  color: rgba(0, 0, 0, 0.84);
  border-radius: 5px 5px 0 0;
}
.spark {
  float: right;
}
.follow {
  display: flex;
}
.swiper-container {
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
}
/* .swiper-slide {
	height: 200px;
} */
h3 {
  margin-bottom: 20px;
}
.popular_box {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f7f8fa;
  margin-bottom: 40px;
  padding: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.tab-content p {
  line-height: 1.2;
}
.bio {
  height: 130px;
  overflow: hidden;
}
.aboutCover {
  width: 90%;
}

.img_text {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  font-size: 16px;
  line-height: 1.6 !important;
}
.img_cover {
  width: 100%;
  height: 300px;
}
.img_cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vue-tabs.nav-tabs > li > a {
  color: rgba(0, 0, 0, 0.76) !important;
}
.btn {
  padding: 0 8px !important;
  color: hsl(207, 43%, 20%) !important;
  text-transform: capitalize !important;
  font-weight: normal;
  border: 1px solid hsl(207, 43%, 20%);;
  border-radius: 3px;
  cursor: pointer;
  margin: auto 10px;
  padding: 2px 14px;
  text-transform: capitalize;

  /* height: 35px; */
}
.btn:hover {
  background: rgba(164, 194, 219, 0.5) !important;
  color: #fff !important;
}
.btn-primary {
  padding: 10px 20px !important;
  color: #fff !important;
  text-transform: capitalize !important;
  font-weight: normal;
  text-decoration: none;
  border-radius: 3px;
  background: hsl(207, 43%, 20%) !important;
  cursor: pointer;
  /* margin: auto ; */
  padding: 2px 14px;
  text-transform: capitalize;
  border: none;
}
.btn-primary:hover {
  background: rgba(164, 194, 219, 0.5) !important;
  color: #fff !important;
}
.ac {
  display: block;
  max-width: 868px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 0 15px;
}
.followingVendor {
  color: #ffffff !important;
  background-color: hsl(207, 43%, 20%) !important;
  font-weight: normal;
  border: 1px solid hsl(207, 43%, 20%);
  border-radius: 3px;
  cursor: pointer;
  margin: auto 10px;
  padding: 2px 4px;
  text-transform: capitalize;
  height: 25px;
}
p {
  color: rgba(0, 0, 0, 0.76);
}
small {
  color: rgba(0, 0, 0, 0.54);
}
li {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
}
.a {
  display: block;
  max-width: 868px;
  width: 100%;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-family: "medium-content-sans-serif-font", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
}
.b {
  max-width: 868px;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  margin-right: auto;
  margin-left: auto;
}
.aa {
  /* border: 1px red dotted; */
  width: 70%;
  height: 130px;
  line-height: 1.6;
}
.ac {
  display: block;
  max-width: 868px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 0;
}
.ab {
  border-top: 3px #8291c0 dotted;
  border-bottom: 3px #8291c0 dotted;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  float: right;
}
.ab img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
  padding: 5px;
  object-fit: cover;
}
.vue-tabs {
  color: rgba(0, 0, 0, 0.76) !important;
}
a {
  color: rgba(0, 0, 0, 0.76) !important;
}

a.tabs__link {
  color: rgba(0, 0, 0, 0.76) !important;
}

.title.title_center {
  color: rgba(0, 0, 0, 0.76) !important;
}
.primary_header {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}
.bop {
  box-sizing: border-box;
  display: flex;
}
.boxx {
  position: relative;
  width: 24%;
  height: 200px;
  padding: 0 !important;
  margin-right: 1%;
  box-sizing: border-box;
  box-shadow: none !important;
  border-radius: 5px;
}
.boxx img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.shadow {
  position: absolute;
  top: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(79, 79, 79));
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.5),
    rgb(79, 79, 79, 0.5)
  );
  color: #f1f1f1;
  width: 100%;
  padding: 60px 0;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
}
.text {
  font-size: calc(9px + (24 - 9) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.6;
}
.textContent {
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  height: 25px;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
}
.partner_name {
  display: flex;
}

@media (max-width: 425px) {
  .container {
    padding: 20px 15px;
  }
  .btn-primary {
    font-size: 12px !important;
    padding: 5px 10px !important;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  .primary_header {
    font-size: 16px;
  }
  .textContent {
    margin-bottom: 20px;
  }
  .popular_box {
    padding: 10px;
  }
  .tab {
    padding: 5px 10px;
    font-size: 11px;
  }
  .b {
    padding: 0;
  }
  h2 {
    font-size: 1em;
  }
  .tab-content p {
    line-height: 1.2;
    font-size: 0.7em;
  }

  .img_text {
    width: 100%;
    height: 100%;
    padding: 6px 5px;
    font-size: 16px;
    line-height: 1.2 !important;
  }
  .img_text h3 {
    font-size: 16px;
  }

  .ab {
    border-top: 3px hsl(207, 43%, 20%) dotted;
    border-bottom: 3px hsl(207, 43%, 20%) dotted;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
  }
  .nav {
    font-size: 11px;
  }
  .vue-tabs .nav > li span.title {
    display: flex;
    justify-content: center;
    font-size: 11px;
  }
  .vue-tabs .nav li span.title {
    display: flex;
    justify-content: center;
    font-size: 11px !important;
  }
  .vue-tabs .nav li span .title {
    display: flex;
    justify-content: center;
    font-size: 11px !important;
  }
  .a {
    color: rgba(0, 0, 0, 0.76) !important;
    padding: 0;
    min-height: 300px;
  }
  .row .a {
    padding: 0 !important;
  }
  .ab {
    float: none;
    width: 120%px;
    margin-bottom: 10px;
  }
  .aa {
    clear: right;
    width: 100%;
  }
  .boxx {
    width: 24%;
    height: 120px;
  }
  .shadow {
    padding: 30px 0;
    height: 120px;
  }
  .primary_header {
    font-size: 16px !important;
  }
  .img_cover {
    width: 100%;
    height: 120px;
  }
  .textContent {
    font-size: 14px;
    line-height: 1.6;
  }
  h3{
    font-size: 15px;
  }
  .subject {
    left: 15px;
    font-size: 12px;
  }
  p{
    font-size: 15px;
  }
  .btn {
    height: 15px;
    font-size: 9px;
    margin: 1px 5px;
  }
  .followingVendor {
    height: 15px;
    margin: 1px 5px;
  }
}
</style>
