<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul class="flex flex-wrap align-items-center p-0 m-0">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li>Courses</li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="featured-courses courses-wrap">
                    <div class="row mx-m-25">
                        <div class="col-12 col-md-6 px-25" v-for="allProduct in allProducts">
                            <div class="course-content">
                                <figure class="course-thumbnail">
                                    <a href="#"><img :src="allProduct.productImage[0].image" alt=""></a>
                                </figure><!-- .course-thumbnail -->

                                <div class="course-content-wrap">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><a href="#">{{allProduct.title}}</a></h2>

                                        <div class="entry-meta flex flex-wrap align-items-center">
                                            <div class="course-author"><a href="#">{{allProduct.category}} </a></div>

                                            <div class="course-date">July 21, 2018</div>
                                        </div><!-- .course-date -->
                                    </header><!-- .entry-header -->

                                    <footer class="entry-footer flex flex-wrap justify-content-between align-items-center">
                                        <div class="course-cost">
                                            ₦{{allProduct.productDetail[0].salePrice}} <span class="price-drop">₦{{allProduct.productDetail[0].price}}</span>
                                            <p>ffff</p>
                                        </div><!-- .course-cost -->

                                        <div class="course-ratings flex justify-content-end align-items-center">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-o"></span>

                                            <span class="course-ratings-count">(4 votes)</span>
                                        </div><!-- .course-ratings -->
                                    </footer><!-- .entry-footer -->
                                </div><!-- .course-content-wrap -->
                            </div><!-- .course-content -->
                        </div><!-- .col -->

                    </div><!-- .row -->
                </div><!-- .featured-courses -->

                <div class="pagination flex flex-wrap justify-content-between align-items-center">
                    <div class="col-12 col-lg-4 order-2 order-lg-1 mt-3 mt-lg-0">
                        <ul class="flex flex-wrap align-items-center order-2 order-lg-1 p-0 m-0">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-12 flex justify-content-start justify-content-lg-end col-lg-8 order-1 order-lg-2">
                        <div class="pagination-results flex flex-wrap align-items-center">
                            <p class="m-0">Showing 1–3 of 12 results</p>

                            <form>
                                <select>
                                    <option>Show: 06</option>
                                    <option>Show: 12</option>
                                    <option>Show: 18</option>
                                    <option>Show: 24</option>
                                </select>
                            </form>
                        </div><!-- .pagination-results -->
                    </div>
                </div><!-- .pagination -->
            </div><!-- .col -->

            <div class="col-12 col-lg-4">
                <div class="sidebar">
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center">
                            <input type="search" placeholder="Search...">
                            <button type="submit" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                        </form><!-- .flex -->
                    </div><!-- .search-widget -->

                    <div class="cat-links">
                        <h2>Categories</h2>

                        <ul class="p-0 m-0">
                            <li v-for="productCategory in productCategories"><a href="#">{{productCategory.name}}</a></li>
                        </ul>
                    </div><!-- .cat-links -->

                    <div class="latest-courses">
                        <h2>Latest Courses</h2>

                        <ul class="p-0 m-0">
                            <li class="flex flex-wrap justify-content-between align-items-center" v-for="featuredProduct in featuredProducts">
                                <img :src="featuredProduct.productImage[0].image" alt="">

                                <div class="content-wrap">
                                    <h3><a href="#">{{featuredProduct.title}}</a></h3>

                                    <div class="course-cost free-cost">₦{{featuredProduct.productDetail[0].salePrice}}</div>
                                </div><!-- .content-wrap -->
                            </li>

                        </ul>
                    </div><!-- .latest-courses -->

                    <div class="ads">
                        <img src="images/ads.jpg" alt="">
                    </div><!-- .ads -->

                    <div class="popular-tags">
                        <h2>Popular Tags</h2>

                        <ul class="flex flex-wrap align-items-center p-0 m-0">
                            <li v-for="subCategory in subCategories"><a href="#">{{subCategory.name}}</a></li>
                        </ul>
                    </div><!-- .popular-tags -->
                </div><!-- .sidebar -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div>
</template>

<script>
    export default {
        name: "user-all-product-content-component",
        data: function(){
          return {
            allProducts : [],
            productCategories: [],
            allVendors: [],
            featuredProducts: [],
             subCategories: []
          }
        },
        mounted(){
            axios.get('/api/products').then((response) => {
                if(response.status === 200){
                    this.allProducts = response.data.data;
                    this.getAllCategory();
                    this.getAllVendor();
                    this.getSponsorProduct();
                    this.getPopularCategory();
                }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            getAllCategory() {
                axios.get('/api/product-category').then((response) => {
                  if(response.status === 200){
                      this.productCategories = response.data;
                  }
                }).catch((error) => {
                    console.log(error);
                })
            },
            getAllVendor(){
                axios.get('/api/get-all-vendor').then((response) => {
                    if(response.status === 200) {
                        this.allVendors = response.data;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            getSponsorProduct(){
                axios.get('/api/sponsor-products').then((response) => {
                    if(response.status === 200){
                        console.log(response);
                        this.featuredProducts = response.data.data;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            },
            getPopularCategory(){
                axios.get('/api/get-sub-categories').then((response) => {
                    if(response.status === 200){
                        this.subCategories = response.data.data;
                    }
                }).catch((error) => {
                    console.log(error);
                })
            }
        }

    }
</script>

<style scoped>

    .container {
        padding: 0 !important;
    }

</style>