<template>
<div>
   <div class="banner desktop-d">
    <div class="slant_1"></div>
    <div class="slant_2"></div>
    <div class="slant_2"></div>
    <div class="text_box">
     <div class="text-container" v-if="!auth">
          <p class="bannerA mb-3"> Join a community of entrepreneurs who can connect with experts and access practical business insights and resources, on the go.</p>
          <p class="bannerB mb-2">We can take your business from 0 to 100 within six weeks.</p>
        </div>
         <div class="text-container" v-else>
          <p class="bannerA mb-3"> Ready to be heard loud and clear through your business?</p>
          <p class="bannerB mb-2">We can take your business from 0 to 100 within six weeks.</p>
        </div>
        <div class="text-container">
          <p class="bannerC mb-2">Don’t take our word for it.</p>
          <router-link to="/auth/register" v-if="!auth">
            <button class="elevated_btn btn-white text-main animated fadeIn slow"> Start for Free</button>
          </router-link>
            <router-link to="/user-subscription/3" v-else>
            <button class="elevated_btn btn-white text-main animated fadeIn slow">Start BAP-6 program</button>
          </router-link>
          
        </div>
    </div>
    <div class="image-box"></div>
  </div>

   <div class="banner-container mobile-d">
    <div class="banner-img"></div>
    <div class="banner-box">
      <div class="banner-over"></div>
      <div class="banner-text animated fadeIn slow">
        <div class="text-container">
           <p class="bannerA mb-3"> Join a community of entrepreneurs who can connect with experts and access practical business insights and resources, on the go.</p>
          <p class="bannerB mb-2">We can take your business from 0 to 100 within six weeks.</p>
        </div>
        <div class="text-container">
          <p class="bannerC mb-4">Don’t take our word for it.</p>
          <router-link to="/auth/register" v-if="!auth">
             <button class="elevated_btn btn-white text-main animated fadeIn slow"> Start for Free</button>
          </router-link>
            <router-link to="/user-subscription/3" v-else>
            <button class="elevated_btn btn-white text-main animated fadeIn slow">Start BAP-6 program</button>
          </router-link>
          
        </div>
      </div>
      <div class="mobile-banner-img animated slideInRight">
        <img src="/images/optmobile.jpg" alt />
      </div>
      <div class="banner-white-box"></div>
      <div class="mobile-banner">
        <div class="mini-border-1">
          <div class="mini-border-2"></div>
        </div>
      </div>
    </div>

    <div class="banner-arrow animated bounce" @click="scrollDown">
      <i class="fa fa-caret-down fa1" aria-hidden="true"></i>
      <i class="fa fa-caret-down fa1" aria-hidden="true"></i>
      <i class="fa fa-caret-down text-main fa2" aria-hidden="true"></i>
    </div>
    <div class="banner-border"></div>
    <div class="banner-bottom-bg"></div>
  </div>
</div>
</template>

<script>
export default {
  name: "user-banner-component",
  data() {
    return {
      auth: false,
      search: "",
      show: false,
      scrollPos: 0,
      currentHeight: 0
    };
  },

  mounted() {
    window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });
    let user = localStorage.getItem('authUser')
    if (user!== null) {
      this.auth= true
    }
  },

  methods: {
    scrollDown() {
      window.scrollTo(0, window.innerHeight * 0.85);
    },
  mail(){
    axios.get('/api/mail').then(res=>{
   
      
    })
  }
  }
};
</script>

<style scoped>
.mobile-d{
  display: none;
}
.banner {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  background:#a4c2db;
}
.image-box{
   position: absolute;
  width: 60%;
  right: -5%;
  height: 100%;
   background-image: url("/images/bane1.jpg");
  background-position: right;
  background-size: cover;

}
.slant_1 {
  background: #a4c2db;
  position: absolute;
  width: 50%;
  left: 10%;
  height: 85vh;
transform:skewX(-25deg);
  top: -50%;
    z-index: 2;
    border-right:10px solid white;
}
.slant_2 {
  background: #a4c2db;
  position: absolute;
  width: 50%;
  left: 10%;
  height: 85vh;
  transform:skewX(25deg);
  bottom: -49.7%;
  z-index: 2;
  border-right:10px solid white;
}
.text_box {
  position: absolute;
  width: 45%;
  left: 0;
  height: 100%;
 background: #a4c2db;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
  padding-left:80px;
  
}
.text-container {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
}
.bannerA {
  font-size: 38px;
  line-height: 1.4;
}
.bannerB {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
}
.bannerC {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}


@media (max-width: 1024px) {
  .desktop-d{
    display: none;
  }
  .mobile-d{
    display: block;
  }
.banner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 91vh;
  border-right: 6px solid white;
  border-left: 6px solid white;
}
.banner-over{
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
   background-image: linear-gradient(
    to right top,
    rgb(164, 194, 219,.9),
    rgb(164, 194, 219,.9),
    rgb(164, 194, 219,.9),
    rgb(164, 194, 219,.9),
    rgb(164, 194, 219,.9),
    rgb(169, 197, 221,.9),
    rgb(175, 201, 227 ,.9),
    rgb(180, 204, 225,.9),
    rgb(192, 212, 230,.9),
    rgb(203, 220, 234,.9),
    rgb(215, 228, 239,.9),
    rgb(227, 236, 244 ,.9)
  );
  z-index: 2;

}
.banner-img {
    background-image: url("/images/bane1.jpg");
  background-position: right;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.banner-box {
  width: 60%;
  height: 140%;
 
  position: absolute;
  top: -10%;
  transform: rotate(-20deg);
  left: -12%;
  color: hsl(207, 43%, 20%);
  background-image:url('/images/curve1.jpg');
  background-size:contain;
  z-index: 1;
}

.banner-white-box {
  width: 1%;
  height: 140%;
  background-color: #fff;
  position: absolute;
  top: -20%;
  transform: rotate(0deg);
  right: 0;
  z-index: 3;
}
.banner-text {
  position: absolute;
  transform: rotate(20deg);
  right: 73px;
  bottom: 30%;
  width: 500px;
  height: 500px;
  z-index: 3;
}
.text-container {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.4;
}
.bannerA {
  font-size: 38px;
  line-height: 1.4;
}
.bannerB {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
}
.bannerC {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
.mobile-banner {
  display: none;
}
.banner-arrow {
  position: absolute;
  width: 40px;
  height: auto;
  z-index: 7;
  bottom: 15px;
  left: 50%;
  margin-left: -20px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease 0.4s;
}
.fa-caret-down {
  font-size: 36px;
  color: white;
}
.banner-arrow:hover .fa1 {
  color: hsl(207, 43%, 20%);
}
.banner-arrow:hover .fa2 {
  color: white !important;
}

.mobile-banner-img {
  display: none;
}


  .bannerA {
    line-height: 1.4;
  }
  .banner-text {
    right: 43px;
    bottom: 28%;
    width: 380px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .banner-box {
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .bannerA {
    line-height: 1.4;
  }
  .banner-white-box {
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #333;
    z-index: 4;
  }
  .mobile-banner {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 6%;
    height: 400px;
    width: 400px;
    right: -15%;
    border-radius: 50%;
    overflow: hidden;
  }
  .mini-border-1 {
    border: 1px solid #bfd4e5;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .mini-border-2 {
    border: 1px solid #bfd4e5;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  .mobile-banner-img {
    display: block;
    background: transparent;
    width: 356px;
    height: 356px;
    border-radius: 50%;
    position: absolute;
    bottom: 9%;
    right: -12%;
    z-index: 5;
    overflow: hidden;
  }
  .mobile-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  .banner-text {
    transform: rotate(0deg);
    width: 75%;
    bottom: 25%;
    height: auto;
    padding: 40px;
    left: 0;
    right: 0;
    height: auto;
  }
  .bannerA {
    font-size: 32px;
  }
  .bannerB {
    font-size: 17px;
  }
  .bannerC {
    font-size: 17px;
  }

  .banner-arrow {
    left: 45%;
  }
  .banner-border {
    border-bottom: 1px solid white;
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 7;
    bottom: 50px;
    right: 0;
  }
}
@media (max-width: 425px) {
  .banner-container {
    height: 90vh;
    border: none;
  }

  .mobile-banner {
    bottom: 10%;
    height: 300px;
    width: 300px;
    right: -25%;
  }
  .fa-caret-down {
    font-size: 24px;
    color: white;
  }
  .banner-text {
    width: 81%;
    bottom: 35%;
  }
  .bannerA {
    font-size: 24px;
  }
  .bannerB {
    font-size: 17px;
  }
  .bannerC {
    font-size: 17px;
  }
  .fa-caret-down {
    font-size: 24px;
    color: white;
  }
  .banner-text {
    padding: 20px;
  }
  .mobile-banner-img {
    background: white;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    position: absolute;
    bottom: 13%;
    right: -20%;
  }
}
@media (max-width: 375px) {
  .mobile-banner {
    height: 274px;
    width: 274px;
    right: -30%;
  }
  .bannerB {
    font-size: 15px;
  }
  .bannerC {
    font-size: 16px;
  }
  .mobile-banner-img {
    background: white;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    bottom: 13%;
    right: -24%;
  }
}
@media (max-width: 320px) {
  .mobile-banner {
    height: 274px;
    width: 274px;
    right: -30%;
  }
  .banner-text {
    bottom: 30%;
    padding: 15px;
  }
  .bannerA {
    font-size: 20px;
  }
  .bannerB {
    font-size: 14px;
  }
  .bannerC {
    font-size: 14px;
  }
  .mobile-banner-img {
    background: white;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    bottom: 13%;
    right: -24%;
  }
}
</style>
