<template>
    <div class="icon-boxes">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 cont-div">
                    <div class="icon">
                        <span class="ti-user"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <div class="entry-title"><span class="entCount"><i class="fa fa-pencil"></i></span><span class="header-ex">Welcome Message</span></div>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available</p>
                    </div>
                </div>

                <div class="col-md-4 cont-div">
                    <div class="icon">
                        <span class="ti-folder"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <div class="entry-title"><span class="entCount"><i class="fa fa-clock-o"></i></span><span class="header-ex">Course Work</span></div>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available</p>
                    </div><!-- .entry-content -->

                    <!--<footer class="entry-footer read-more">
                        <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </footer>--><!-- .entry-footer -->
                </div><!-- .icon-box -->

                <div class="col-md-4 cont-div">
                    <div class="icon">
                        <span class="ti-book"></span>
                    </div><!-- .icon -->

                    <header class="entry-header">
                        <div class="entry-title"><span class="entCount"><i class="fa fa-laptop"></i></span><span class="header-ex">Help & Support</span></div>
                    </header><!-- .entry-header -->

                    <div class="entry-content">
                        <p>Lorem Ipsum available</p>
                    </div><!-- .entry-content -->

                    <!--<footer class="entry-footer read-more">
                        <a href="#">read more<i class="fa fa-long-arrow-right"></i></a>
                    </footer>--><!-- .entry-footer -->
                </div><!-- .icon-box -->

            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div>
</template>

<script>
    export default {
        name: "user-special-component",
        methods: {
            showCourse(dis){
             this.$emit('showTabs', dis);
            }
        }
    }
</script>

<style scoped>
    .header-ex {
        font-size: 17px;
    }

    .entCount {
        margin-right: 5px;
    }

    .cont-div {
        text-align: center;
    }

    .icon-boxes {
        background: linear-gradient(-45deg,#263a58,#29303b);
        color: #ffffff;
        padding: 20px
    }

</style>