<template>
  <div class="div">
    <div class="site-navbar" v-if="!dontShowNav">
      <!-- navigation for site logo title -->
      <div class="navLink">
        <h1 class="site-title">
          <router-link to="/" tag="a">
            <span class="logo">
              <div class="logoText">
                <span class="biz">Biz</span><span class="guruh">Guruh</span>
              </div>
              <!-- <img src="/images/biz.png" height="40" width="150" alt class="logoImg" /> -->
            </span>
          </router-link>
        </h1>
      </div>
      <div class="navLinkBar">
        <div class="explore-container">
          <router-link to="/entrepreneur" class="explore-button">
            <i class="fa fa-home exploreBar pr-2" aria-hidden="true"></i>
            My Home
          </router-link>
        </div>
      </div>

      <div class="searchContainer">
        <div class="form-group search">
          <input
            type="text"
            class="form-control rounded-pill border-0 bg-search"
            aria-describedby="helpId"
            placeholder="What do you wish to know?"
            autocomplete="off"
            v-model="search"
          />
          <button type="button" class="btn btn-primary sea" @click="searchNow">
            <i class="fa fa-search seaIcon" v-bind:class="{'text-main':whiteBg}" aria-hidden="true"></i>
          </button>
        </div>
        <div class="showSearch" v-if="search !== ''">
          <div @click="clearSearch" class="closeSearch">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div v-if="vendors.length > 0">
            <div v-for="(vendor,index) in vendors" v-bind:key="index">
              <router-link
                :to="{name:'PartnerProfile', params:{username:vendor.username}}"
                class="title"
              >
                <span>{{ vendor.storeName }}</span>
              </router-link>
            </div>
          </div>

          <div v-if="articles.length > 0">
            <router-link class="pryHeader" to="/entrepreneur/articles">
              <i class="fa fa-search" aria-hidden="true"></i> Article
            </router-link>
            <div v-for="(article,index) in articles" v-bind:key="index">
              <router-link
                class="title"
                :to="{ name: 'ArticleSinglePage', params: {id: article.product_id, name: article.title.replace(/ /g, '-' )}}"
              >{{article.title.toLowerCase()}}</router-link>
            </div>
          </div>

          <div v-if="researches.length > 0">
            <router-link class="pryHeader" to="/entrepreneur/paper/market-research">
              <i class="fa fa-search" aria-hidden="true"></i> Market Research
            </router-link>

            <div v-for="(research,index) in researches" v-bind:key="index">
              <router-link
                class="title"
                :to="{ name: 'ProductPaperDetail', params: {id: research.product_id, name:  research.title.replace(/\s+/g, '-').toLowerCase(), type: 'subscribe'}}"
              >{{research.title.toLowerCase()}} - {{research.host}}</router-link>
            </div>
          </div>

          <div v-if="videos.length > 0">
            <router-link class="pryHeader" to="/entrepreneur/videos">
              <i class="fa fa-search" aria-hidden="true"></i> Video
            </router-link>
            <div v-for="(video,index) in videos" v-bind:key="index">
              <router-link
                class="title"
                :to="{
                                                            name: 'Video',
                                                            params: { id:video.product_id }
                                                        }"
              >{{video.title.toLowerCase()}}</router-link>
            </div>
          </div>
          <div v-if="videosVendors.length > 0">
            <router-link class="pryHeader" to="/entrepreneur/videos">
              <i class="fa fa-search" aria-hidden="true"></i> Video
            </router-link>
            <div v-for="(video,index) in videosVendors" v-bind:key="index">
              <router-link
                class="title"
                :to="{
                                                            name: 'Video',
                                                            params: { id:video.product_id }
                                                        }"
              >{{video.title.toLowerCase()}}</router-link>
            </div>
          </div>

          <div v-if="podcasts.length > 0">
            <router-link class="pryHeader" to="/podcast">
              <i class="fa fa-search" aria-hidden="true"></i> Podcast
            </router-link>

            <div v-for="(podcast,index) in podcasts" v-bind:key="index">
              <router-link
                class="title"
                :to="{
									name: 'SingleVideoPage',
									params: { id: podcast.product_id }
								}"
              >{{podcast.title.toLowerCase()}}</router-link>
            </div>
          </div>

          <div v-if="courses.length > 0">
            <router-link class="pryHeader" to="/courses">
              <i class="fa fa-search" aria-hidden="true"></i> Course
            </router-link>

            <div v-for="(course,index) in courses" v-bind:key="index">
              <router-link
                class="title"
                :to="{
								name: 'CourseFullPage',
								params: {
									id: course.product_id,
									name: course.title.replace(/ /g, '-')
								}
							}"
              >{{course.title.toLowerCase()}}</router-link>
            </div>
          </div>
        </div>
      </div>

      <!-- navigation for login and sign up -->
      <div class="navItem--right desktop-menu">
        <div class="navBod">
          <div class="m10" v-if="!authUs">
            <router-link to="/entrepreneur/user-subscription/0" class="upgradeNav">Subscribe</router-link>
          </div>
          <div class="m10" v-if="authUs">
             <router-link
           
              to="/entrepreneur/explore"
              class="upgradeNav"
            >Explore</router-link>
            <router-link
              v-if="this.userSub >=3"
              to="/entrepreneur/user-subscription/0"
              class="upgradeNav"
            >Pricing</router-link>
            <router-link v-else to="/entrepreneur/user-subscription/0" class="upgradeNav">Upgrade</router-link>
          </div>
            <div  class="m10 hov">
            <router-link to="/about" class="upgradeNav">How it works</router-link>
          </div>
          <!-- <div v-if="authUs" class="m10 hov">
            <router-link to="/account" class="upgradeNav">Accounting</router-link>
          </div>
          <div v-else class="m10 hov">
            <router-link to="/account-demo" class="upgradeNav">Accounting</router-link>
          </div> -->
        </div>
        <div v-show="authUs" id="notification"></div>
        <div class="cartIcon" v-bind:class="{cartIconLogged:authenticate}">
          <router-link :to="{ name: 'userCart' }" class="cartLink">
            <i class="fa fa-cart-plus">
              <div v-if="badge > 0">{{ badge }}</div>
            </i>
          </router-link>
        </div>
        <div class="update-profile" v-if="showUpdate">
          <i
            @click="updateProfile"
            class="fa fa-info-circle fa-2x animated bounceIn slower infinite bg-white fa-inverse pointer"
            style="color: #5b84a7"
            aria-hidden="true"
          ></i>

          <p class="update-text shadow-sm" @click="updateProfile">Complete your profile</p>
        </div>
        <ul class="m10" v-if="!authUs && !accountShow">
          <li class="navLink">
            <span class="register-nav hov">
              <router-link
                tag="a"
                :to="{ name: 'auth', params: { name: 'login' } }"
                class="bottom"
              >Log In</router-link>
            </span>

            <span class="navLink login">
              <router-link
                class="rounded-pill"
                tag="a"
                :to="{ name: 'auth', params: { name: 'register' } }"
              >Join Our BizTribe</router-link>
            </span>
          </li>
        </ul>
        <div class="profile-pos" v-else>
          <span class="nameTab" v-if="!accountShow">
            <router-link
              :to="{ name: 'MainProfilePage',params:{username:username}}"
              class="d-flex align-items-center"
            >
              <span class="user_name" v-bind:class="{'text-main':whiteBg}">Hi {{ name }}</span>
              <div class="profImage">
                <i
                  class="fas fa-user-circle mobColor ml-2"
                  v-if="profileImage === undefined || profileImage === null"
                ></i>
                <img v-else :src="profileImage" alt />
              </div>
            </router-link>
          </span>
          <ul class="profile-wrapper">
            <li class="p-2"></li>
            <li class="navDrop">
              <router-link to="/entrepreneur/explore" class="bottom text-main">
                <i class="fas fa-eye pr-1 text-main"></i> Explore
              </router-link>
            </li>

            <li class="navDrop">
              <router-link to="/entrepreneur/profile/products/subscription" class="bottom text-main">
                <i class="fas fa-folder fa-inverse pr-1 text-main" aria-hidden="true"></i> BizLibary
              </router-link>
            </li>
            <!-- <li class="navDrop">
            <router-link to="/wishlist" class="bottom">
              <i class="fas fa-heart fa-inverse pr-1" aria-hidden="true"></i> Wishlist
            </router-link>
            </li>-->
            <li class="navDrop">
              <router-link to="/entrepreneur/choose" class="bottom text-main">
                <i class="fa fa-cog pr-1 text-main" aria-hidden="true"></i> Settings
              </router-link>
            </li>

            <li class="logout navDrop py-2 text-main" @click="logout()">
              <i class="fas fa-sign-out-alt text-main"></i>
              Logout
            </li>
          </ul>
        </div>
      </div>

      <!-- mobile menu -->
      <div class="profile mobile_cart">
        <router-link :to="{ name: 'userCart' }" class="cartLink">
          <i class="fa fa-cart-plus">
            <div class="cartNum" v-if="badge > 0">{{ badge }}</div>
          </i>
        </router-link>
      </div>

      <Slide
        class="mobile-menu bgWhite"
        :burgerIcon="true"
        width="300"
        left
        :closeOnNavigation="true"
      >
        <div>
          <ul>
            <router-link
              :to="{ name: 'MainProfilePage' ,params:{username:username}}"
              class="bottom d-flex justify-content-start"
            >
              <li v-if="authUs" class="profile_name">
                <div class="profImage">
                  <i
                    class="fas fa-user-circle fa-inverse pr-2"
                    v-if="profileImage === undefined || profileImage === null"
                  ></i>
                  <img v-else :src="profileImage" alt />
                </div>

                <span class="user_name pr-2 mb-2">Hi {{ name }}</span>
              </li>
            </router-link>
         
               <li class="mobile_insights nav-tab mb-2 mobColor">
              <router-link to="/entrepreneur" class="bottom">
                <i class="fas fa-home fa-inverse pr-2 text-white-50" aria-hidden="true"></i> My Home
              </router-link>
            </li>
            <li class="mb-2" v-if="!authUs">
              <router-link to="/entrepreneur/user-subscription/0" class="upgradeNav">Subscribe</router-link>
            </li>
            <li class="mb-2" v-if="authUs">
              <router-link
                v-if="this.userSub >=3"
                to="/entrepreneur/user-subscription/0"
                class="upgradeNav"
              >Pricing</router-link>
              <router-link v-else to="/entrepreneur/user-subscription/0" class="upgradeNav">Upgrade</router-link>
            </li>

            <hr />
            <li class="mobile_insights nav-tab mb-2">
              <router-link tag="a" :to="{ name: 'InsightPage' }" class="mobColor bottom">
                <i class="fa fa-th pr-2 text-white-50" aria-hidden="true"></i> Explore
              </router-link>
            </li>
          

            <li v-if="authUs" class="mobile_insights nav-tab mb-2 mobColor">
              <router-link to="/entrepreneur/profile/products/subscription" class="bottom">
                <i class="fas fa-folder fa-inverse pr-2 text-white-50" aria-hidden="true"></i> BizLibary
              </router-link>
            </li>

        
          </ul>
          <hr class="mb-1" />
          <li v-if="authUs && showUpdate" class="mt-2 mobColor" style="list-style:none">
            <router-link to="/entrepreneur/update-profile" class="mobColor bottom">
              <i class="fas fa-user-edit fa-inverse pr-2 text-white-50" aria-hidden="true"></i>Profile
              <i
                class="fa fa-info-circle animated bounceIn slower infinite fa-inverse pointer"
                aria-hidden="true"
              ></i>
            </router-link>
          </li>
          <li v-if="authUs" class="mt-2 mobColor" style="list-style:none">
            <router-link to="/entrepreneur/wishlist" class="mobColor bottom">
              <i class="fas fa-heart fa-inverse pr-2 text-white-50" aria-hidden="true"></i> Wishlist
            </router-link>
          </li>
          <li v-if="authUs" class="mt-2 mobColor" style="list-style:none">
            <router-link to="/preferences" class="mobColor bottom">
              <i class="fas fa-cog pr-2 text-white-50"></i> Preference
            </router-link>
          </li>
          <li class="py-2 mobColor" style="list-style:none">
            <router-link to="/entrepreneur/contact" class="mobColor bottom">
              <i class="fas fa-envelope fa-inverse pr-2 text-white-50" aria-hidden="true"></i> Contact Us
            </router-link>
          </li>
          <ul v-if="!authUs" class="mb-2">
            <hr />

            <li class="mb-2 mt-4 mobColor login">
              <router-link
                tag="a"
                class="mobColor bottom"
                :to="{ name: 'auth', params: { name: 'login' } }"
              >
                <i class="fa fa-sign-in pr-2" aria-hidden="true"></i> Log In
              </router-link>
            </li>
            <li class="mb-2 mobColor">
              <router-link
                class="mobColor bottom"
                tag="a"
                :to="{ name: 'auth', params: { name: 'register' } }"
              >Join Our BizTribe</router-link>
            </li>
            <li>
              <router-link to="/vendor/auth?type=login" class="mobColor bottom">Teach Business</router-link>
            </li>
          </ul>

          <ul v-else>
            <hr />

            <li class="mobColor">
              <div class="listItem logout mobColor" @click="logout()">
                Logout
                <i class="fa fa-sign-out pl-1" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>
      </Slide>
    </div>
    <navigation v-if="user !== null && dontShowNav && user.school" @logout="logout" />
  </div>
</template>

<script>
import BpVuejsDropdown from "bp-vuejs-dropdown";
import { Slide } from "vue-burger-menu";
import navigation from "../../ilcuser/navigation";
Engagespot.init("cywCppTlinzpmjVHxFcYoiuuKlnefc");
let user = JSON.parse(localStorage.getItem("authUser"));
if (user !== null) {
  if (user.vendor_user_id === 0) {
    Engagespot.identifyUser(user.id);
  } else {
    Engagespot.identifyUser(user.vendor_user_id);
  }
}

export default {
  components: { BpVuejsDropdown, Slide },
  props: ["cartNo", "authUs", "badge"],
  name: "user-header-component",
  data: function() {
    return {
      dontShowNav: false,
      showNavItems: true,
      sidebarCategories: [],
      dropDownShow: false,
      profile: false,
      hideMenu: true,
      id: "",
      name: "",
      token: "",
      email: "",
      headerDis: false,
      isOpen: false,
      authenticate: false,
      explore: "none",
      exploreHover: false,
      profileHover: false,
      userSub: null,
      show: false,
      showUpdate: false,
      accountShow: false,
      username: "",
      search: "",
      show: false,
      videoProduct: [],
      researchProduct: [],
      podcastProduct: [],
      articleProduct: [],
      courseProduct: [],
      allProduct: [],
      allVendors: [],
      scrollPos: 0,
      currentHeight: 0,
      whiteBg: true,
      user: {}
    };
  },

  components: {
    navigation,
    Slide
  },
  computed: {
    profileImage() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        if (user.logo !== undefined) {
          return user.logo;
        }
      }
    },
    vendors() {
      return this.allVendors.filter(element => {
        return element.storeName
          .toLowerCase()
          .includes(this.search.toLowerCase());
      });
    },
    researches() {
      return this.researchProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    videos() {
      return this.videoProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    podcasts() {
      return this.podcastProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    articles() {
      return this.articleProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    courses() {
      return this.courseProduct.filter(element => {
        return element.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    //  researchesVendor(){
    //     return this.researchProduct.filter(element=>{
    //          return element.host.toLowerCase().includes(this.search.toLowerCase());
    //                 })
    // },
    videosVendors() {
      return this.videoProduct.filter(element => {
        return element.host.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    podcastsVendors() {
      return this.podcastProduct.filter(element => {
        return element.host.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    articlesVendors() {
      return this.articleProduct.filter(element => {
        return element.writer.toLowerCase().includes(this.search.toLowerCase());
      });
    }
    //  coursesVendors(){
    //     return this.courseProduct.filter(element=>{
    //          return element.host.toLowerCase().includes(this.search.toLowerCase());
    //                 })
    // },
  },
  mounted() {
    window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });

    axios.get(`/api/products`).then(response => {
      response.data.data.forEach(item => {
        if (item.prodType == "Market Research") {
          this.researchProduct.push(item.marketResearch);
        } else if (item.prodType == "Videos") {
          this.videoProduct.push(item.webinar);
        } else if (item.prodType == "Podcast") {
          this.podcastProduct.push(item.webinar);
        } else if (item.prodType == "Articles") {
          this.articleProduct.push(item.articles);
        } else if (item.prodType == "Courses") {
          this.courseProduct.push(item.courses);
        } else {
          return;
        }
      });
    });
    this.updateNav();
    if (this.$route.path == "/account") {
      this.accountShow = true;
    }
    this.checkStatus();
    this.checkUpdate();
    let customerUser = JSON.parse(localStorage.getItem("authUser"));
    if (customerUser != null) {
      this.id = customerUser.id;
      this.token = customerUser.access_token;
      this.name = customerUser.name;
      this.email = customerUser.email;
      if (customerUser.vendor_username) {
        this.username = customerUser.vendor_username;
      }

      this.profile = true;
      this.headerDis = this.authUs;
      this.authenticate = true;
    } else {
      this.profile = false;
    }
  },
  watch: {
    $route: "updateNav",
    scrollPos: "scrolling"
  },
  methods: {
    hideNavBar() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      this.user = user;
      if (user.school) {
        this.dontShowNav = true;
      } else {
        this.dontShowNav = false;
      }
    },
    scrolling() {
      if (this.$route.path === "/") {
        if (this.scrollPos > window.innerHeight * 0.12) {
          this.whiteBg = true;
        } else {
          this.whiteBg = false;
        }
      } else {
        this.whiteBg = true;
      }
    },
    searchNow() {
      if (this.search !== "") {
        this.$router.push({
          name: "HomeSearch",
          params: { name: this.search }
        });
      } else {
        this.$toasted.error("search cannot be empty");
      }
    },
    clearSearch() {
      this.search = "";
    },
    checkUpdate() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      if (user !== null) {
        if (
          user.gender === undefined ||
          user.age === undefined ||
          user.location === undefined
        ) {
          this.showUpdate = true;
        }
        if (user.gender && user.age && user.location) {
          this.showUpdate = false;
        }
      }
    },
    updateProfile() {
      this.$router.push("/update-profile");
    },
    checkStatus() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      this.user = user;
      if (user != null) {
        this.token = user.access_token;

        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          if (response.status === 200) {
            if (response.data.length !== 0) {
              this.userSub = Number(response.data[0].level);
            }
          }
        });
      }
    },
    checkLogin() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let login_token = localStorage.getItem("login_token");
      if (user !== null) {
        axios
          .get(`/api/check-ip/${user.email}/${login_token}`)
          .then(response => {
            if (response.status === 200) {
              if (response.data.status === "logout") {
                this.$toasted.error(
                  "Your account is logged in somewhere else !"
                );
                this.logout();
              }
            }
          });
      }
    },
    delIp() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios.delete(`/api/ip/${user.email}`).then(response => {});
    },
    notify() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get("/api/sendNotify", {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {});
      }
    },
    updateNav() {
      this.scrolling();

      if (
        this.$route.path == "/auth/register" ||
        this.$route.path == "/auth/login" ||
        this.$route.path == "/account" ||
        this.$route.path == "/account-demo"
      ) {
        this.dontShowNav = true;
      }
      if (
        this.$route.path !== "/auth/register" &&
        this.$route.path !== "/auth/login" &&
        this.$route.path !== "/account" &&
        this.$route.path !== "/account-demo"
      ) {
        this.dontShowNav = false;
      }

      if (
        window.innerWidth <= 768 &&
        (this.$route.path == "/account" || this.$route.path == "/account-demo")
      ) {
        this.dontShowNav = false;
      }
      if (this.$route.path !== "/") {
        this.showNavItems = true;
      }
      if (this.$route.path == "/") {
        this.showNavItems = false;
      }
      if (
        this.$route.path == "/account" ||
        this.$route.path == "/account-demo"
      ) {
        this.accountShow = true;
      }
      if (
        this.$route.path !== "/account" ||
        this.$route.path == "/account-demo"
      ) {
        this.accountShow = false;
      }
      let customerUser = JSON.parse(localStorage.getItem("authUser"));

      if (customerUser !== null) {
        this.id = customerUser.id;
        this.token = customerUser.access_token;
        this.name = customerUser.name;
        this.email = customerUser.email;
        this.profile = true;
        this.headerDis = this.authUs;
        this.authenticate = true;

        // this.checkLogin();
        // this.notify();
        this.checkUpdate();
        this.hideNavBar();
      } else {
        this.profile = false;
      }
    },
    openExplore() {
      if (this.explore === "none") {
        this.explore = "block";
      } else {
        this.explore = "none";
      }
    },
    ddd() {
      this.hideMenu = false;
    },
    homePage() {
      window.location.href = "/";
    },

    toggle() {
      this.isOpen = !this.isOpen;
    },
    logout() {
      localStorage.removeItem("authUser");
      localStorage.removeItem("accountUser");
      localStorage.removeItem("login_token");
      this.profile = false;
      this.headerDis = false;
      this.$router.push("/entrepreneur");
      // Engagespot.clearUser();
      window.location.reload();
    }
  }
};
</script>

<style scoped>
 .explore-container {
  font-size: 14px;
  color: #767676;
  border: 1px solid #d1d1d1;
  text-align: center;
  border-radius: 4px;
  padding: 3px 10px;
  width: 130px;
  font-weight: bold;
}
.bg-search {
  background: #f7f8fa;
}
.explore-container:hover {
  border-color: #767676 !important;
}
.closeSearch {
  position: relative;
  padding: 5px 10px;
  text-align: right;
  cursor: pointer;
  font-size: 18px;
  color: rgba(118, 118, 118, 0.4);
}
.searchContainer {
  position: relative;
  height: 34px;
  width: 70%;
}
.search {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.showSearch {
  position: absolute;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  text-align: left;
  z-index: 8;
  padding: 10px;
}
.pryHeader {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 14px;
  padding: 5px;
}
.pryHeader:hover {
  background: #fafafa;
}
.pryHeader .fa.fa-search {
  color: rgba(0, 0, 0, 0.24) !important;
}
.title {
  color: rgba(118, 118, 118, 0.8) !important;
  font-size: 14px !important;
  padding: 10px;
  width: 100%;
  max-height: 30px;
  line-height: 1.6 !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.title:hover {
  color: hsl(207, 43%, 20%) !important;
}
.form-control {
  border-radius: 2px;
  height: 34px;
  font-size: 12px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4) !important;
  opacity: 1; /* Firefox */
  font-size: 13px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.4);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.4);
}

.sea {
  color: rgb(118, 118, 118, 0.6);
  margin-left: -45px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
}
.sea:hover {
  background: #a4c2db;
  border: none;
}
.update-profile {
  position: relative;
  padding: 0 10px;
}
.profImage {
  width: 24px;
  height: 24px;
}
.profImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}
.fa-2x {
  font-size: 1.5em;
}
.update-text {
  position: absolute;
  background: #f7f8fa;
  display: none;
  width: 200px;
  bottom: -30px;
  left: -90%;
  cursor: pointer;
  padding: 5px;
  color: rgba(0, 0, 0, 0.74);
  font-size: 14px;
}
.update-profile:hover .update-text {
  display: inline;
}

.fa-inverse {
  color: #5b84a7;
}
ol,
ul {
  list-style: none;
}
.navLink {
  color: #5b84a7;
}
.mobile_cart {
  display: none;
  background: #a4c2db;
  color: #ffffff;
  border-radius: 50%;
  color: #a4c2db;
  padding-top: 10px;
  height: 30px;
  width: 25px;
  left: auto;
  right: 10px;
  position: absolute;
  top: 10px;
  z-index: 1001;
}

.exploreBar {
  font-size: 12px;
}
.fa-cart-plus {
  font-size: 18px;
  margin-top: -2px;
}
.register-nav {
  font-size: 16px;
  border-bottom: none !important;
}
.cartNum {
  position: absolute;
  top: 5px;
  left: 15px;
  min-width: 10px;
  padding: 3px 5px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  color: hsl(207, 43%, 20%);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f7f8fa;
  border-radius: 10px;
}
.m10 {
  font-size: 16px;
  margin-bottom: 1px;
}

.cartLink {
  color: #333 !important;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
.cartLink:hover {
  color: hsl(207, 43%, 20%) !important;
}
.cartIcon div {
  background-color: #f7f8fa;
  color: hsl(207, 43%, 20%);
  position: absolute;
  min-width: 10px;
  font-size: 11px;
  top: -8px;
  left: 16px;
  padding: 3px 5px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
}

.navDrop {
  padding: 5px 15px;
  font-size: 14px;
}
.navDrop a {
  color: hsl(207, 43%, 20%) !important;
  padding: 5px 15px;
  font-weight: normal;
}
.navDrop:hover {
  background: #fff;
}
.cartIcon {
  color: white;
  float: left;
  padding-top: 0;
  position: relative;
  width: 20px;
}
ul .menu li a {
  font-size: 14px;
}
.navLinkBar {
  display: flex;
  /* color: #5b84a7; */
  /* padding: 12px 20px 10px 20px; */
  font-size: 14px;
  margin: 0 30px;
}

.mainExplore {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 20px 0;
  font-weight: normal;
}

.explore::before {
  content: "";
  position: absolute;
  top: -4.95px;
  right: auto;
  left: 20px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: rgba(82, 95, 127, 0.04) -3px -3px 5px;
  background: #fafafa;
  border-radius: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.explore {
  margin-top: 16px;
  position: absolute;
  background: #fafafa;
  font-weight: normal;
  padding: 20px 1px 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
  border-radius: 2px;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven {
  padding: 5px 15px;
  display: flex;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.64) !important;
}
.one a,
.two a,
.three a,
.four a,
.five a,
.six a,
.seven a {
  color: rgba(0, 0, 0, 0.64) !important;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover {
  background: #ffffff;
  cursor: pointer;
}
.cartIconLogged::before {
  border-left: 1px solid #ccc;
}
.navBod {
  display: flex;
  border-right: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.cartIconLogged {
  color: #a4c2db;
  float: left;
  padding-top: 0px;
  position: relative;
  width: 20px;
}
.primary-nav li.nav-tab a:hover {
  color: #333333 !important;
}
.profile_name {
  padding: 20px 0 20px 0;
  text-transform: capitalize;
}

.primary-nav {
  display: flex;
  color: #a4c2db !important;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 30px;
}
.primary-nav li.nav-tab a {
  color: #a4c2db !important;
  margin: 10px;
  text-transform: capitalize;
}
.nameTab {
  display: flex;
  padding: 4px 20px;
  /* border: 1px solid #ccc; */
  border-radius: 100px;
  background: rgba(164, 194, 219, 0.2);
}
.nameTab:hover {
  background: rgba(164, 194, 219, 0.5);
}
.insights,
.ask_biz {
  display: none;
}
.ask_biz {
  font-weight: bold;
}
.myProfile {
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  cursor: pointer;
  padding: 9px 9px 0 9px;
  color: #a4c2db;
}
.myProfile:hover {
  color: #333333;
}

.profile-header {
  display: flex;
}
.fa-user-circle::before {
  font-size: 24px;
}
.profile-pos {
  position: relative;
  font-size: 16px;
}

.dropMenu-total li {
  padding: 10px 10px 10px;
}

.container {
  padding: 0 !important;
}

.firstText {
  color: #333333 !important;
}

.bp-dropdown__btn {
  background: #19c880;
  padding: 20px;
  color: #fff;
}

.listItem {
  float: left;
  cursor: pointer;
}

.logout {
  color: #5b84a7 !important;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: normal;
}

.logout:hover {
  color: #373a3c !important;
  font-size: 16px;
}

.cartBadge {
  position: absolute;
  margin-right: -15px;
  margin-top: -13px;
  background-color: #a4c2db;
}

.userStyle .header-bar-menu li a::after {
  content: "";
}

.header-bar-menu {
  width: 100%;
  padding-left: 30px;
  padding-top: 5px;
}

.v-menu {
  float: left;
}

.btn-browse {
  background-color: #a4c2db !important;
  color: #ffffff;
  width: 80%;
}

.test {
  float: left;
}

.browser-all {
  text-align: center;
}

a {
  text-decoration: none;
}

.profile-wrapper {
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  background: #f7f8fa;
  padding: 1px;
  right: -15px;
  border-radius: 2px;
  width: 180px;
  top: 35px;
  display: none;
}

.profile-wrapper:hover::after {
  background: #f7f8fa;
}
.profile-wrapper::before {
  content: "";
  position: absolute;
  top: -5px;
  right: auto;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);

  background: #f7f8fa;
  /* border-top:1px solid rgba(0, 0, 0, 0.5);
     border-left:1px solid rgba(0, 0, 0, 0.5); */
}
.profile-pos:hover .profile-wrapper {
  display: block;
}

.myProfile {
  float: left;
}

#dd {
  float: right;
}

.profile {
  border-radius: 3px;
  overflow: initial;
}
.profile:hover {
  cursor: pointer;
  /* background: #fafafa; */
}
.profile .name {
  font-size: 12px;
  color: #fff;
  line-height: 26px;
  margin-left: 10px;
}
.profile .name:hover {
  color: #0088cc;
}
.profile img {
  display: inline;
  border: 1px solid #111;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
}

.profileMenu {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
}
.upgradeNav {
  padding: 20px 0px;
  font-size: 14px;
  color: #767676 !important;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  margin-right: 30px;
}
.upgradeNav:hover {
  color: hsl(207, 43%, 20%) !important;
}
.bottom {
  color: #767676 !important;
  font-size: 15px;
  padding: 15px 3px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
.bottom:hover {
  color: hsl(207, 43%, 20%) !important;
}
.miniNav {
  color: white !important;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}
.miniNav:hover {
  color: #5b84a7 !important;
}
/* hide menu */
.menu.profileMenu::before {
  content: "";
  position: absolute;
  top: -4.95px;
  right: auto;
  left: 20px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: rgba(82, 95, 127, 0.04) -3px -3px 5px;
  background: #ffffff;
  border-radius: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.menu {
  clear: both;
  margin: 44px 0 0 10px;
  padding: 0 5px;
}
.menu li {
  font-size: 12px;
  margin: 0;
  font-size: 13px;
  padding: 4px 3px;
  /* padding: 10px 4px;*/
}
.menu li a {
  color: #a4c2db;
}
.menu li:hover > a {
  color: #333333;
}

.menu li:hover {
  border-radius: 3px;
}

/* hover profile show menu */
/* #dd:checked ~ .menu {
	display: block;
} */

.user_name {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
}
/* .user_name:hover {
  font-weight: bold;
} */

.mb-2 {
  margin-bottom: 14px !important;
}

@media (max-width: 1024px) {
  .searchContainer {
    display: none;
  }
  .upgradeNav {
    background: white !important;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 700;
    color: #333 !important;
    cursor: pointer;
    font-weight: 400;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25) inset;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
  }
  .profImage {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }
  .profImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .user_name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  .bm-item-list > * {
    display: block;
    padding: 0.7em;
    text-decoration: none;
  }

  .fa-user {
    font-size: 80px;
  }
  .mobColor {
    color: #5b84a7 !important;
    font-size: 16px;
  }

  .navLinkBar {
    display: none;
  }
  .fa-cart-plus {
    font-size: 18px;
  }

  .navLink {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mobile_cart {
    display: inline;
  }
  .mobile-menu {
    display: block;
    background-color: #5b84a7 !important;
  }
  .bm-burger-button {
    height: 30px !important;
    left: 14px !important;
  }
  .bm-burger-button {
    display: block !important;
    background-color: #fff !important;
    top: 10px !important;
  }
  span.bm-burger-bars {
    background-color: #333 !important;
  }
  span.bm-burger-bar {
    background-color: #333 !important;
  }
  .navItem--right {
    display: none;
  }
  .primary-nav {
    display: none;
  }
  .insights,
  .ask_biz {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
  }
  li.nav-tab a {
    color: #5b84a7 !important;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
  .myProfile {
    font-size: 16px;
    padding: 0;
    font-weight: normal;
  }
  li.mobile_insights.nav-tab a {
    padding-bottom: 5px;
  }

  .profile {
    background: none;
  }

  .logout {
    padding: 10px;
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 18px;
  }
  .bm-menu {
    height: 100vh !important;
    padding-top: 40px !important;
    border-right: 1px solid #ccc;
  }
  .fa-user-circle::before {
    font-size: 80px !important;
  }
}

@media (max-width: 1024px) {
  .update-profile {
    display: none;
  }
  .logoImg {
    max-width: 120px;
    height: 30px;
  }
  .update-profile {
    position: absolute;
    margin-right: 50px;
    right: 10%;
  }
  .fa-2x {
    font-size: 1.4em;
  }
  .update-text {
    right: 30px;
    left: unset;
  }
  .login {
    margin-bottom: 40px;
  }
  .fa-inverse {
    color: #fff;
  }
  .logout {
    padding: 10px;
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 17px;
  }
  .bm-menu {
    height: 100vh !important;
    padding-top: 40px !important;
  }

  .fa-user-circle::before {
    font-size: 80px !important;
  }
  .mobColor {
    color: #fff !important;
  }
  li {
    color: #fff !important;
  }
  .navLinkBar {
    display: none;
  }
  .fa-cart-plus {
    font-size: 18px;
  }
  .site-navbar {
    padding: 5px !important;
  }
  .navLink {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mobile_cart {
    display: inline;
  }
  .mobile-menu {
    display: block;
    background-color: #5b84a7 !important;
  }
  .bm-burger-button {
    height: 16px !important;
    left: 14px !important;
    width: 16px !important;
  }
  .bm-burger-button {
    display: block;
    background-color: #5b84a7 !important;
    top: 22px !important;
  }
  span.bm-burger-bars {
    background-color: #333 !important;
  }
  span.bm-burger-bar {
    background-color: #333 !important;
  }
  .navItem--right {
    display: none;
  }
  .primary-nav {
    display: none;
  }
  .insights,
  .ask_biz {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
  }
  li.nav-tab a {
    color: #fff !important;
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 5px;
  }
  .myProfile {
    font-size: 16px;
    padding: 0;
    font-weight: normal;
  }
  li.mobile_insights.nav-tab a {
    padding-bottom: 5px;
  }
  li {
    padding-bottom: 10px;
  }
  .profile {
    background: none;
  }

  .cartNum {
    left: 15px !important;
  }
  .bm-menu {
    background-color: #333 !important;
    border-right: 1px solid #ccc;
  }
  .bgWhite {
    background-color: #0088cc;
  }
  .logoText{
    font-size:24px;
  }
}
@media (max-width: 375px) {
  /* .mobile_cart {

    margin-left: 180px;
  } */
}
@media (max-width: 320px) {
  /* .mobile_cart {
    margin-left: 120px;
  } */
}
</style>
