<template>
    <section class="featured-courses horizontal-column courses-wrap">
        <div class="container filter_prod">
            <div class="row">
                <div class="col-12">
                    <header class="heading flex justify-content-between align-items-center">
                        <h2 class="entry-title">Best Selling Products</h2>

                        <a class="btn mt-4 mt-sm-0" href="#">view all</a>
                    </header><!-- .heading -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6" v-for="bestSellingProduct in bestSellingProducts">
                    <div class="course-content flex flex-wrap justify-content-between align-content-lg-stretch">
                        <figure class="course-thumbnail">
                            <a href="#"><img :src="bestSellingProduct.productImage[0].image" alt=""></a>
                        </figure><!-- .course-thumbnail -->

                        <div class="course-content-wrap">
                            <header class="entry-header">
                                <div class="course-ratings flex align-items-center">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>

                                    <span class="course-ratings-count">(4 votes)</span>
                                </div><!-- .course-ratings -->

                                <h2 class="entry-title"><a href="#">{{bestSellingProduct.title}}</a></h2>

                                <div class="entry-meta flex flex-wrap align-items-center">
                                    <div class="course-author"><a href="#">{{bestSellingProduct.vendor.storeName}} </a></div>

                                    <div class="course-date">July 21, 2018</div>
                                </div><!-- .course-date -->
                            </header><!-- .entry-header -->

                            <footer class="entry-footer flex justify-content-between align-items-center">
                                <div class="course-cost">
                                    <span class="free-cost">₦{{bestSellingProduct.productDetail[0].salePrice}}.00</span>
                                </div><!-- .course-cost -->
                            </footer><!-- .entry-footer -->
                        </div><!-- .course-content-wrap -->
                    </div><!-- .course-content -->
                </div><!-- .col -->

                <!--<div class="col-12 col-lg-6">
                    <div class="course-content flex flex-wrap justify-content-between align-content-lg-stretch">
                        <figure class="course-thumbnail">
                            <a href="#"><img src="/images/2.jpg" alt=""></a>
                        </figure>&lt;!&ndash; .course-thumbnail &ndash;&gt;

                        <div class="course-content-wrap">
                            <header class="entry-header">
                                <div class="course-ratings flex align-items-center">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>

                                    <span class="course-ratings-count">(4 votes)</span>
                                </div>&lt;!&ndash; .course-ratings &ndash;&gt;

                                <h2 class="entry-title"><a href="#">Learn Photoshop, Web Design & Profitable</a></h2>

                                <div class="entry-meta flex flex-wrap align-items-center">
                                    <div class="course-author"><a href="#">Mr. John Wick</a></div>

                                    <div class="course-date">Aug 21, 2018</div>
                                </div>&lt;!&ndash; .course-date &ndash;&gt;
                            </header>&lt;!&ndash; .entry-header &ndash;&gt;

                            <footer class="entry-footer flex justify-content-between align-items-center">
                                <div class="course-cost">
                                    $32 <span class="price-drop">$59</span>
                                </div>&lt;!&ndash; .course-cost &ndash;&gt;
                            </footer>&lt;!&ndash; .entry-footer &ndash;&gt;
                        </div>&lt;!&ndash; .course-content-wrap &ndash;&gt;
                    </div>&lt;!&ndash; .course-content &ndash;&gt;
                </div>--><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
</template>

<script>
    export default {
        name: "user-filter-latest-product-component",
        data: function(){
            return {
                bestSellingProducts: []
            }
        },
        mounted(){
            axios.get('/api/best-selling-products').then((response) => {
                if(response.status === 200){
                    this.bestSellingProducts = response.data.data;
                }
            }).catch((error) => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>
    .filter_prod {
        padding: 0px !important;
    }
</style>