<template>
   <div class="container">
    <div class="related-courses">
        <header class="entry-heading flex flex-wrap justify-content-between align-items-center">
            <h2 class="entry-title">Related Courses</h2>

            <a href="#">View all</a>
        </header><!-- .entry-heading -->

        <div class="row mx-m-25">
            <div class="col-12 col-lg-6 px-25" v-for="relatedProduct in relatedProducts">
                <div class="course-content">
                    <figure class="course-thumbnail">
                        <a href="#"><img :src="relatedProduct.productImage[0].image" alt=""></a>
                    </figure><!-- .course-thumbnail -->

                    <div class="course-content-wrap">
                        <header class="entry-header">
                            <h2 class="entry-title"><a href="#">{{relatedProduct.title}}</a></h2>

                            <div class="entry-meta flex flex-wrap align-items-center">
                                <div class="course-author"><a href="#">{{relatedProduct.vendor.storeName}}</a></div>

                                <div class="course-date">Dec 18, 2018</div>
                            </div><!-- .course-date -->
                        </header><!-- .entry-header -->

                        <footer class="entry-footer flex flex-wrap justify-content-between align-items-center">
                            <div class="course-cost">
                                ₦{{relatedProduct.productDetail[0].salePrice}} <span class="price-drop">₦{{relatedProduct.productDetail[0].price}}</span>
                            </div><!-- .course-cost -->

                            <div class="course-ratings flex justify-content-end align-items-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>

                                <span class="course-ratings-count">(4 votes)</span>
                            </div><!-- .course-ratings -->
                        </footer><!-- .entry-footer -->
                    </div><!-- .course-content-wrap -->
                </div><!-- .course-content -->
            </div><!-- .col -->

        </div><!-- .row -->
    </div><!-- .related-course -->
   </div>
</template>

<script>
    export default {
        name: "user-related-product-component",
        data: function(){
          return {
              id: this.$route.params.id,
              relatedProducts: []
          }
        },
        mounted(){
          axios.get(`/api/product-detail/${this.id}`).then((response) => {
              if(response.status === 200){
                  console.log(response);
                  this.relatedProducts = response.data.data;
                  this.relatedProducts.forEach((item) => {
                      let subCat = item.sub_category_id;
                      this.getRelatedProduct(subCat)
                  })
              }
          }).catch((error) => {
              console.log(error);
          })
        },
        methods: {
            getRelatedProduct(subCat){
                axios.get(`/api/get-related-product/${subCat}`).then((response) => {
                    console.log(response);
                }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>

</style>