<template>
  <div class="container">
    <div class="row">
      <div class="card">
        <h2 class="p-4">Create Article</h2>
        <img
          class="card-img-top"
          src="https://www.freeiconspng.com/uploads/black-pencil-png-black-pencil-vector-8.png"
          width="100"
          height="100"
          alt="pencil image"
        />
        <div class="card-body">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              name
              id="title"
              aria-describedby="helpId"
              placeholder="Title"
              v-model="articles.title"
            />
          </div>

          <input name="image" type="file" id="upload" ref="upload" class="hidden"  />
          <div>
            <app-editor
              :init="{
                             plugins: 'advlist autolink lists link image imagetools charmap print preview anchor textcolor insertdatetime media table paste code help wordcount',

                                 toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat |image help',
                                 image_title: true,

                            height: 300,

                            file_picker_types: 'image',
                            automatic_uploads:false,
                            relative_urls:false,
                           convert_urls:false,
                           images_upload_handler: function (blobInfo, success, failure) {
                                 upload_handler( blobInfo, success, failure)
                           },
                            file_picker_callback:function(callback, value, meta) {
                                  loadFile(callback, value)

                        }, }"
              class="form-control"
              v-model="articles.description"
            ></app-editor>
          </div>
      
        <div class="form-group">
          <label for="articleImage">Article Image</label>
          <input type="file" class="form-control" ref="articleImage" id="articleImage" />
        </div>

        <div class="form-group">
          <label for>Tag</label>
          <input
            type="text"
            class="form-control"
            name
            id
            aria-describedby="helpId"
            placeholder="Upload"
            v-model="articles.tags"
          />
        </div>

        <div class="form-group d-flex">
          <input type="checkbox" value="featured" class="mr-2" id="featured" v-model="articles.featured"/>
          <label for="featured">Featured</label>
        </div>

        <div class="form-group">
          <label for="writerName">Writer name</label>
          <input
            type="text"
            class="form-control"
            name
            id="writerName"
            aria-describedby="helpId"
            v-model="articles.writer"
          />
        </div>
        <div class="form-group">
          <label for="aboutWriter">About Writer</label>
          <input
            type="text"
            class="form-control"
            name
            id="aboutWriter"
            aria-describedby="helpId"
            v-model="articles.aboutWriter"
          />
        </div>

        <div class="form-group">
          <label>
                <img :src="articles.imagePlaceholder" width="100" height="100">
                <input type="file" class="hide-input"  @change="getFileName($event, 'image')" id="coverImage">
            </label>
        </div>

       <div class="form-group" id="post">
          <button type="button" class="btn btn-primary" @click="createNewProduct()">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Post
        </button>
       </div>
      </div>
        </div>
    </div>
  </div>
</template>
<script>
import Editor from "@tinymce/tinymce-vue";
export default {
  name: "user-article-form",
  data() {
    return {
      articles: {
                       title: '',
                        description: '',
                        featured: '',
                        tags: '',
                        writer: '',
                        aboutWriter: '',
                        media: '',
                        imageName: 'Upload Image',
                        imagePlaceholder: '/images/addImage.png',
                        prodType: "Articles",
                        coverImage:''
                    },
  
    };
  },
  components: {
    "app-editor": Editor
  },
  mounted() {
      let user = localStorage.getItem('authUser')
      this.$refs
      
  },
  methods: {
        getFileName(e, name){
                switch (name){
                    case 'document':
                        this.fileName = e.target.files[0].name;
                        this.product.document = this.$refs.files.files[0];
                        break;
                    case 'image':
                        let file = e.target.files[0];
                        let reader  = new FileReader();
                        reader.onload = (event) => {
                            this.articles.imagePlaceholder = event.target.result;
                            this.articles.coverImage = event.target.result;
                        }
                        reader.readAsDataURL(file);


                        break;
                    default:
                        return false;
                }

            },
    upload_handler(blobInfo, success, failure) {
      var xhr, formData;
      xhr = new XMLHttpRequest();
      xhr.withCredentials = false;
      xhr.open("POST", "/api/image-upload");
      xhr.onload = function() {
        var json;

        if (xhr.status != 200) {
          failure("HTTP Error: " + xhr.status);
          return;
        }
        json = JSON.parse(xhr.responseText);

        if (!json || typeof json.location != "string") {
          failure("Invalid JSON: " + xhr.responseText);
          return;
        }
        success(json.location);
      };
      formData = new FormData();
      formData.append("file", blobInfo.blob());
      xhr.send(formData);
    },
    loadFile(cb, mt) {
      if (mt.filetype === "image") {
        let up = this.$refs.upload;
   
        up.onchange = function() {
          let file = this.files[0];
        
          let reader = new FileReader();
          reader.onload = e => {
            let id = "blobid" + new Date().getTime();
            let blobCache = tinymce.activeEditor.editorUpload.blobCache;
            let base64 = reader.result.split(",")[1];
            let blobInfo = blobCache.create(id, file, base64);
            blobCache.add(blobInfo);

            /* call the callback and populate the Title field with the file name */
            cb(blobInfo.blobUri(), { title: file.name });
          };
          reader.readAsDataURL(file);
        };

        up.click();
      }
    },
       createNewProduct(){
     let user = localStorage.getItem('authUser')
         
          if (user !== null) {
                 
              axios.post('/api/add/article', this.articles).then((response)=> {
                    if(response.status === 200) {
                        console.log(response);
                       if (this.redirect === 'S') {
                            this.$router.push('/admin/bizguruh-products');
                            this.$toasted.success("Product successfully added");
                        } this.$toasted.success("Draft product successfully added");
                        
                    }else{
                        this.add = false;
                        this.Submit = 'Submit';
                        this.Submit = 'Submit';
                    }
                })
                    .catch((error)=> {
                        for(let key in error.response.data.errors){
                            this.$toasted.error(error.response.data.errors[key][0]);
                        }
                        this.Submit = 'Submit';
                    })
          }
          else{
              this.$toasted.error('Login to create article')
          }
            },
  }
};
</script>
<style scoped>
.container {
  padding-top: 80px;
  text-align: left;
}
.card {
  width: 100%;
  background: #fff;
  text-align: left;
}
.card-body {
  border-top: 1px solid #ccc;
  text-align: left;
}
.card-img-top {
  margin: 10px auto;
  width: 100px;
}
.btn-primary {
  color: #fff;
  background: #a4c2db !important;
  padding: 5px 30px;
  border: none !important;
}
.btn-primary:hover {
  background: rgba(164, 194, 219, 0.5) !important;
  border: none !important;
}
.btn-primary:active {
  border: none !important;
}
#post{
    text-align: center;
    margin: 15px;
}
.form-group{
    margin: 40px 0;
}
</style>