<template>
<div class="footer">
  <footer class="site-footer" v-if="!hide">
     <div class="side">
     <div class="logo">
     <span class="display-4 text-bl">BizGuruh</span>
     </div>
       <div class="socials">
        <i class="fa fa-facebook-square text-bg fa-1x mr-3" aria-hidden="true"></i>
        <i class="fa fa-instagram text-bg fa-1x mr-3"></i>
        <i class="fa fa-twitter-square text-bg fa-1x" aria-hidden="true"></i>
       </div>
        <div class="copyright">
        <p class="reserve">&copy; {{getYear}} Bizguruh . All rights reserved</p>
      </div>
     </div>
   
    <div class="footer-widgets">
    
        <div class="footer_body">
          <div class="foot 
          ">
            <div class="foot-about">
              <h2>BIZGURUH</h2>
              <ul>
                <!-- <li><router-link :to="{name: 'About-us'}">About</router-link></li> -->
                <li>
                  <router-link to="/guidelines">Guidelines</router-link>
                </li>
                <li>
                  <router-link to="/faqs">FAQs</router-link>
                </li>
                <li>
                  <router-link to="/terms">T&C's</router-link>
                </li>
                <li>
                  <router-link to="/policies">Privacy</router-link>
                </li>
              </ul>
            </div>
            <!-- .foot-about -->
          </div>
          <!-- .col -->

          <div class="foot ">
            <div class="foot-contact">
              <h2>BROWSE</h2>

              <ul>
                <li>
                  <router-link to="/explore">Explore</router-link>
                </li>
                <!-- <li>
                  <router-link to="/courses">Courses</router-link>
                </li> -->
                <li>
                  <router-link to="/videos">Videos</router-link>
                </li>
                <li>
                  <router-link to="/articles">Articles</router-link>
                </li>
                <li>
                  <router-link to="/community">Community</router-link>
                </li>
              </ul>
            </div>
            <!-- .foot-contact -->
          </div>
          <!-- .col -->

        
          <div class="foot ">
            <div class="quick-links flex flex-wrap">
              <h2 class="w-100">SOLUTIONS</h2>

              <ul class="w-100">
                <li>
                  <a href="bizguruh.com/market-research">Market Research</a>
                </li>
                <li>
                  <a href="bizguruh.com/explore">Market Reports</a>
                </li>
                <li>
                  <a href="bizguruh.com/explore">Consulting</a>
                </li>
                <li>
                  <a href="bizguruh.com/explore">Business Research</a>
                </li>
                
              </ul>
            </div>
            <!-- .quick-links -->
          </div>

          <div class="foot ">
            <div class="quick-links flex flex-wrap">
              <h2 class="w-100">CONTACT US</h2>

              <ul class="w-100">
                <li>
                  <a href="http://bizguruh.com/contact">
                    <i class="fa fa-envelope" aria-hidden="true"></i> Mail
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/BizGuruh-314446332731552/">
                    <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/BizGuruh">
                    <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/bizguruh/">
                    <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                  </a>
                </li>
                <!-- <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> ask@bizguruh.com</a></li> -->
              </ul>
            </div>
            <!-- .quick-links -->
          </div>

       
        </div>
        <!-- .row -->
      
    </div>
 
  </footer></div>
</template>

<script>
export default {
  name: "user-new-arrival-component",

  data() {
    return {
      year: 0,
      first_name: "",
      last_name: "",
      email: "",
      hide:false
    };
  },
  methods: {
  hideFooter(){
    if(this.$route.path == '/private-chat'){
     this.hide = true
    }else{
      this.hide = false
    }
  }
  },
  mounted() {
    this.hideFooter()
  },
  watch: {
    '$route':'hideFooter'
  },
  computed: {
    getYear: function() {
      let date = new Date();
      return (this.year = date.getFullYear());
    }
  }
};
</script>

<style scoped>
.footer{
  padding:65px 0 100px;
  background: #20262b;
}
.side{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
 .text-bl{
   color:#a4c2db;
 }
.pr-1 {
  padding-right: 1px !important;
}
.pl-1 {
  padding-left: 1px !important;
}
 li {
    margin-bottom: 14px !important;
  }
.btn {
  background-color: #fff !important;
  color: #333;
  text-transform: capitalize !important;
  font-weight: normal;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 12px;
}
.form-control {
  border: none;
}

.container {
  padding: 0px !important;
}
.col-xs-6 {
  width: 50%;
}
h2 {
  font-size: 16px !important;
  margin-bottom:16px;
}

.site-footer {
  font-size: 16px;
  display:flex;
 width:80%;
 margin:0 auto;
}
.side{
  width:30%
}
.footer-widgets{
  width:70%;
}
.footer-widgets h2 {
  color: hsl(207, 15%, 70%);
}
.footer_body {
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom:30px;
}
.foot {
  font-size: 16px;
  line-height: 1.4;
  text-align:left;
}

.col-6 {
  background-color: #ffffff;
}

.socials {
  padding: 10px 0;
   display: flex;
  justify-content: space-between;

}
.social_icons {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  margin: 0 auto;
  list-style: none;
}
ul,
ol {
  list-style: none;
}
ul li a{
color: hsl(207, 15%, 70%) !important;
margin-bottom:14px;
}
.text-bg{
color: hsl(207, 15%, 70%);
}
a {
color: hsl(207, 15%, 70%);
}
.reserve{
color: hsl(207, 15%, 70%);
}
.rules {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}
.copyright {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}
.footer_policy {
  justify-content: center;
  border-top: 1px dashed rgba(255, 255, 255, 0.84);
  padding: 0;
  font-size: 16px;
  margin: 0;
}
.fa-inverse {
 color: rgba(0, 0, 0, 0.54);
}
.guidelines::after {
  content: " |";
  color: rgba(0, 0, 0, 0.54);
  height: 10px;
}

.terms::after {
  content: " |";
 color: rgba(0, 0, 0, 0.54);
  height: 10px;
}
@media (max-width: 768px) {
  
  .footer_policy {
    padding: 10px;
  }

  h2 {
    font-size: 17px !important;
    margin-bottom:10px;
  }
  .rules {
    font-size: 16px;
  }
    .footer_body {
    justify-content: flex-start;
  }
  .foot {
    margin-bottom:50px;
  }
  .rules {
    justify-content: center;
  }
  .footer_policy {
    text-align: center;
  }
}
@media (max-width: 1024px) {
.site-footer{
  width:90%;
     flex-direction:column-reverse;
     align-items:center;
}
 .footer_body {
    justify-content: space-between;
    align-items:flex-start;
  }
.display-4{
  font-size:2.5em;
}
ul li a{
  font-size:15px;
  font-weight:300;
}
.footer-widgets{
  width:100%;
  }
  .side{
    width:100%;
    align-items:center;
  }
}
@media (max-width: 768px) {
  
}
@media (max-width: 575px) {
  
  .footer_body {
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction:column;
  }
  
  .rules {
    justify-content: center;
  }
  .footer_policy {
    text-align: center;
  }

  h2 {
    font-size: 16px !important;
    
  }
  .site-footer {
    font-size: 12px;
    flex-direction:column-reverse;
  }
  .side{
    width:100%;
    align-items:center;
  }
  
 
  .foot {
    font-size: 16px;
    line-height: 1;
  }
  .mt-5 {
    margin-top: 0px !important;
  }
  .footer_body {
    padding: 5px 10px;
    justify-content: flex-start;
  }
  .footer_policy {
    padding: 15px;
  }
  .reserve {
    text-align: center;
  }
  .copyright {
    padding: 0;
  }
  .rules {
    padding: 0;
    font-size: 12px;
    justify-content: center;
  }
}
</style>
