<template>
  <div class="main-cont bg-white">
    <div class="loaderShadow" v-if="isActive">
      <div class="loadContainer">
        <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
        <div class="loader"></div>
      </div>
    </div>

    <div  v-else>
      <!-- <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading> -->

      <div class="banner">
        <h1 class="banner-text">Books</h1>
      </div>

      <div class="rowBa bg-white shadow" v-if="!loaderShow">
        <ul class="w-100">
          <li
            v-for="(breadcrumb, index) in breadcrumbList"
            v-bind:key="index"
            @click="routeTo(index)"
            :class="{linked: !!breadcrumb.link}"
          >{{breadcrumb.name}}</li>
        </ul>

        <div class="rowBanner w-100">
          <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 search">
            <div class="searchBar">
              <div class="searchBarContent mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search title"
                  v-model="searchItem"
                  @keyup="searchDataItem()"
                />
                <div class="search-btn mt-0 ml-0">
                  <i class="fa fa-search fa-1x"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 markSearch">
            <select type="search" class="form-control">
              <option>Market Research</option>
            </select>
          </div>
          <!-- <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3 tagSearch">
          <input type="text" class="form-control" placeholder="Tags" />
          </div>-->
        </div>

        <h6 v-if="filterItem.length < 1" class="noResult">{{loading}}</h6>
        <div v-if="whitePapers.length > 0">
          <div
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 mb-4 shadow-sm"
            v-for="(whitePaper, index) in filterItem"
            :key="index"
          >
            <div class="paperDiv">
              <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4 img_cover">
                <div
                  v-if="whitePaper.productCategoryType === 'v' || whitePaper.productCategoryType === 'EP' ||  whitePaper.productCategoryType === 'VP' || whitePaper.softCopyPrice !== '' || whitePaper.hardCopyPrice !== '' || whitePaper.readOnlinePrice !== '' "
                  class="ribbon ribbon-top-left"
                >
                  <span>Paid</span>
                </div>
                <div v-else>
                  <div v-if="whitePaper.sublevel == '0'" class="ribbon ribbon-free ribbon-top-left">
                    <span>free</span>
                  </div>
                  <div v-else class="ribbon ribbon-free ribbon-top-left">
                    <span>subscribe</span>
                  </div>
                </div>
                <img :src="whitePaper.coverImage" />
              </div>

              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 side-market">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paper">
                  <router-link
                    :to="{ name: 'ProductPaperDetail', params: {id: whitePaper.uid, name:  (whitePaper.title ? whitePaper.title : whitePaper.articleTitle).replace(/[^a-z0-9]/gi, '').toLowerCase(), type: 'subscribe'}}"
                  >
                    <div class="paperTitle text-main">{{whitePaper.title}}</div>
                  </router-link>

                  <div
                    v-if="whitePaper.executiveSummary"
                    class="whitePP"
                  >{{whitePaper.executiveSummary}}</div>
                  <div v-if="whitePaper.journalTitle">
                    <small>{{whitePaper.journalTitle}}</small>
                  </div>
                  <div v-else class="whitePP">{{whitePaper.excerpt}}</div>
                  <div class="smatter">
                    {{whitePaper.subjectMatter}}
                    <b>/</b>
                    {{whitePaper.industryName}}
                  </div>

                  <small class="datePaper">{{whitePaper.created_at | moment("MMM YYYY")}}</small>
                </div>

                <div class="side-buttons col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class>
                    <div v-if="whitePaper.subscribeCheck">
                      <div v-if="journal">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                          <router-link
                            :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'Journals', gettype: 'download'}}"
                            target="_blank"
                            class="viewDetailCart"
                          >Download</router-link>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                          <router-link
                            :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'Journals', gettype: 'readonline'}}"
                            target="_blank"
                            class="viewDetailCart"
                          >Read Now</router-link>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                          <button
                            class="btn btns btn-send-to-library"
                            @click="sendItemToLibrary(whitePaper.uid, 'Journals')"
                          >Send To My Library</button>
                        </div>
                      </div>
                    </div>

                    <div v-if="whitePaper.subscribeCheck">
                      <div v-if="whitepaper">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                          <router-link
                            :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'white-paper', gettype: 'download'}}"
                            target="_blank"
                          >
                            <button class="btn">Download</button>
                          </router-link>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 vieww">
                          <router-link
                            :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'white-paper', gettype: 'readonline'}}"
                            target="_blank"
                          >
                            <button class="btn">Read Now</button>
                          </router-link>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12 vieww">
                          <button
                            class="btn btn-send-to-library"
                            @click="sendItemToLibrary(whitePaper.uid, 'White Paper')"
                          >Send To My Library</button>
                        </div>
                      </div>
                    </div>

                    <div v-if="whitePaper.subscribeCheck">
                      <!-- <div v-if="marketResearch">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">

                    <router-link :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'market-research', gettype: 'download'}}" target="_blank" ><button class="btn btn-block viewDetailCart">Download</button></router-link>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                    <router-link :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'market-research', gettype: 'readonline'}}" target="_blank" ><button class="btn btn-block viewDetailCart">Read Now</button></router-link>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                    <button class="btn btn-block btn-send-to-library" @click="sendItemToLibrary(whitePaper.uid, 'Market Research')">Send To My Library</button>

                      </div>-->
                    </div>
                  </div>

                  <div v-if="whitePaper.subscribeCheck">
                    <div v-if="marketReport">
                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">

                    <router-link :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'market-report', gettype: 'download'}}" target="_blank" class="viewDetailCart">Download</router-link>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                    <router-link :to="{name: 'ReadOnline', params: {id: whitePaper.uid, prodtype: 'market-report', gettype: 'readonline'}}" target="_blank" class="viewDetailCart">Read Now</router-link>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-4 vieww">
                    <button class="btn btns btn-send-to-library" @click="sendItemToLibrary(whitePaper.uid, 'Market Reports')">Send To My Library</button>

                      </div>-->
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vieww">
                    <router-link
                      :to="{ name: 'ProductPaperDetail', params: {id: whitePaper.uid, name:  (whitePaper.title ? whitePaper.title : whitePaper.articleTitle).replace(/[^a-z0-9]/gi, '').toLowerCase(), type: 'subscribe'}}"
                    >
                      <button type="button" class="elevated_btn elevated_btn_sm btn-compliment text-white ml-auto">View</button>
                    </router-link>
                  </div>

                  <!-- <div v-if="!whitePaper.subscribeCheck">
            <div v-if="whitePaper.hardCopyPrice !== ''">
                <input type="radio" name="format" :value="whitePaper.hardCopyPrice" v-model="whitePaper.priceT" class="formatStyle"><span class="formatName">Hard Copy</span>
            </div>
            <div v-if="whitePaper.softCopyPrice !== ''">
                <input type="radio" name="format" :value="whitePaper.softCopyPrice" v-model="whitePaper.priceT" class="formatStyle"><span class="formatName">Digital</span>
            </div>
            <div v-if="whitePaper.readOnlinePrice !== ''">
                <input type="radio" name="format" :value="whitePaper.readOnlinePrice" v-model="whitePaper.priceT" class="formatStyle"><span class="formatName">Read Online</span>
            </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getCustomerHeader } from "../../config";
export default {
  name: "user-admin-paper-content-component",
  data: function() {
    return {
      whitePapers: [],
      name: this.$route.params.name,
      loading: "",
      price: "",
      title: "",
      priceT: "",
      searchItem: "",
      authenticate: false,
      email: "",
      user_id: "",
      user: {},
      showModal: false,
      anonymousCart: [],
      epiModal: true,
      epiFade: true,
      loginCart: [],
      journal: false,
      whitepaper: false,
      marketResearch: false,
      marketReport: false,
      subscribeCheck: false,
      subjectMatter: "",
      breadcrumbList: [],
      isActive: true,
      loaderShow: true,
      industry_name: "",
      usersub: null,
      freeTrial: true,
      checkLibrary: [],
      showUpgrade: false
    };
  },
  created() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    this.updateList();

    if (user != null) {
      this.token = user.access_token;
      axios
        .get("/api/user", { headers: getCustomerHeader() })
        .then(response => {
          let userDate = response.data.created_at;
          this.startDate = new Date(userDate);

          this.startDateParsed = Date.parse(new Date(userDate));

          this.currentDate = Date.parse(new Date());

          this.endDate = Date.parse(
            new Date(
              this.startDate.setDate(this.startDate.getDate(userDate) + 30)
            )
          );

          if (this.currentDate >= this.endDate) {
          
            this.freeTrial = false;
          } else {
           
          }
        });

      axios
        .get(`/api/user/orders`, {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          response.data.data.forEach(element => {
            element.orderDetail.forEach(item => {
              this.checkLibrary.push(item);
            });
          });
        });
      axios
        .get("/api/user/subscription-plans", {
          headers: { Authorization: `Bearer ${user.access_token}` }
        })
        .then(response => {
          this.usersub = Number(response.data[0].level);
          
        });
    }
  },
  beforeMount() {},
  mounted() {
    let name = this.name
      .replace("-", " ")
      .toLowerCase()
      .split(" ")
      .map(s => s.charAt(0).toUpperCase() + s.substring(1))
      .join(" ");

    axios.get(`/api/all-industries`).then(response => {
      if (response.status === 200) {
        this.industry_name = response.data;

        axios
          .get(`/api/admin/product/bizguruh/${name}`)
          .then(response => {
            if (response.status === 200) {
              this.isActive = false;
              this.loaderShow = false;
              let product = response.data.data;
            

              product.forEach(item => {
                if (item.prodType === "White Paper") {
                  this.whitepaper = true;
                  item.whitePaper.category = item.category.name;
                  item.whitePaper.hardCopyPrice = item.hardCopyPrice;
                  item.whitePaper.uid = item.id;
                  item.whitePaper.productCategoryType = item.prodCategoryType;
                  item.whitePaper.price = "";
                  item.whitePaper.ptitle = "";
                  item.whitePaper.priceT = "";
                  item.whitePaper.softCopyPrice = item.softCopyPrice;
                  item.whitePaper.readOnlinePrice = item.readOnlinePrice;
                  item.whitePaper.coverImage = item.coverImage;
                  item.whitePaper.uid = item.id;
                  item.whitePaper.sublevel = item.subscriptionLevel;
                  item.whitePaper.industry_id = item.industry.name;
                  item.whitePaper.subjectMatter = item.subjectMatter.name.toLowerCase();
                  if (
                    item.whitePaper.hardCopyPrice !== "" ||
                    item.whitePaper.softCopyPrice !== "" ||
                    item.whitePaper.readOnlinePrice !== ""
                  ) {
                    item.whitePaper.subscribeCheck = false;
                  } else {
                    item.whitePaper.subscribeCheck = true;
                  }
                  this.whitePapers.push(item.whitePaper);
                } else if (item.prodType === "Market Reports") {
                  this.marketReport = true;
                  item.marketReport.category = item.category.name;
                  item.marketReport.hardCopyPrice = item.hardCopyPrice;
                  item.marketReport.uid = item.id;
                  item.marketReport.productCategoryType = item.prodCategoryType;
                  item.marketReport.softCopyPrice = item.softCopyPrice;
                  item.marketReport.price = "";
                  item.marketReport.priceT = "";
                  item.marketReport.ptitle = "";
                  item.marketReport.readOnlinePrice = item.readOnlinePrice;
                  item.marketReport.coverImage = item.coverImage;
                  item.marketReport.uid = item.id;
                  item.marketReport.industry_id = item.industry_id;
                  if (
                    item.marketReport.hardCopyPrice === "" ||
                    item.marketReport.softCopyPrice === "" ||
                    item.marketReport.readOnlinePrice === ""
                  ) {
                    item.marketReport.subscribeCheck = true;
                  } else {
                    item.marketReport.subscribeCheck = false;
                  }

                  this.whitePapers.push(item.marketReport);
                } else if (item.prodType === "Market Research") {
                  this.marketResearch = true;
                  item.marketResearch.category = item.category.name;
                  item.marketResearch.coverImage = item.coverImage;
                  item.marketResearch.hardCopyPrice = item.hardCopyPrice;
                  item.marketResearch.uid = item.id;
                  item.marketResearch.productCategoryType =
                    item.prodCategoryType;

                  item.marketResearch.priceT = "";
                  item.marketResearch.price = "";
                  item.marketResearch.ptitle = "";
                  item.marketResearch.softCopyPrice = item.softCopyPrice;
                  item.marketResearch.readOnlinePrice = item.readOnlinePrice;
                  item.marketResearch.uid = item.id;
                  item.marketResearch.industryName = item.industry.name;
                  item.marketResearch.industry_id = item.industry.id;
                  item.marketResearch.sublevel = item.subscriptionLevel;

                  item.marketResearch.subjectMatter = item.subjectMatter.name.toLowerCase();
                  if (
                    item.marketResearch.hardCopyPrice !== "" ||
                    item.marketResearch.softCopyPrice !== "" ||
                    item.marketResearch.readOnlinePrice !== ""
                  ) {
                    item.marketResearch.subscribeCheck = false;
                  } else {
                    item.marketResearch.subscribeCheck = true;
                  }

                  this.whitePapers.push(item.marketResearch);
                } else if (item.prodType === "Journals") {
                  this.journal = true;
                  item.journal.title = item.journal.articleTitle;
                  item.journal.category = item.category.name;
                  item.journal.coverImage = item.coverImage;
                  item.journal.hardCopyPrice = item.hardCopyPrice;
                  item.journal.productCategoryType = item.prodCategoryType;
                  item.journal.uid = item.id;
                  item.journal.priceT = "";
                  item.journal.price = "";
                  item.journal.ptitle = "";
                  item.journal.softCopyPrice = item.softCopyPrice;
                  item.journal.readOnlinePrice = item.readOnlinePrice;
                  item.journal.uid = item.id;
                  item.journal.industry_id = item.industry_id;
                  item.journal.subjectMatter = item.subjectMatter.name.toLowerCase();
                  item.journal.executiveSummary = item.journal.abstract;
                  item.journal.journalTitle = item.journal.journalTitle;
                  if (
                    item.journal.hardCopyPrice === "" ||
                    item.journal.softCopyPrice === "" ||
                    item.journal.readOnlinePrice === ""
                  ) {
                    item.journal.subscribeCheck = true;
                  } else {
                    item.journal.subscribeCheck = false;
                  }
                  this.whitePapers.push(item.journal);
                }
              });
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    });
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  computed: {
    filterItem() {
      if (this.searchItem !== "") {
        return this.whitePapers.filter(item => {
          return item.title
            .toLowerCase()
            .includes(this.searchItem.toLowerCase());
        });
      } else {
        return this.whitePapers;
      }
    }
  },
  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    searchDataItem() {
      this.$emit("sendSearchData", this.searchItem);
      this.loading = "loading content";
      if (this.filterItem.length === 0) {
        setTimeout(() => {
          this.loading = "No search result ..";
        }, 3000);
      }
    },

    togglePrice(params, index) {
      if (params === "hardCopy") {
        this.whitePapers[index].price = this.whitePapers[index].hardCopyPrice;
        this.whitePapers[index].ptitle = "HardCopy";
      } else if (params === "softCopy") {
        this.whitePapers[index].price = this.whitePapers[index].softCopyPrice;

        this.whitePapers[index].ptitle = "SoftCopy";
      } else if (params === "readOnline") {
        this.whitePapers[index].price = this.whitePapers[index].readOnlinePrice;

        this.whitePapers[index].ptitle = "ReadOnline";
      }
    },
    sendItemToLibrary(id, params) {
      let data = {
        id: id,
        prodType: params,
        getType: "Insight Subscription Journal"
      };
      axios
        .post("/api/user/sendtolibrary", JSON.parse(JSON.stringify(data)), {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(response => {
          if (response.status === 201) {
            this.$toasted.success("Successfully added to library");
          } else if (response.data === " ") {
            let routeData = this.$router.resolve({
              name: "SubscriptionForUser"
            });
            window.open(routeData.href, "_blank");
          } else {
            this.$toasted.error(response.data);
          }
        })
        .catch(error => {
          if (error.response.data.message === "Unauthenticated.") {
            let routeData = this.$router.resolve({
              name: "auth",
              params: { name: "login" }
            });
            window.open(routeData.href, "_blank");
          } else {
            this.$toasted.error(error.response.data.message);
          }
        });
    }
  }
};
</script>

<style scoped>
.banner {
  width: 100%;
  height: 420px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: url("/images/gears.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  color: white;
  font-size: 56px;
  font-weight: bold;
}
.main-cont {
  min-height: 100vh;
  overflow: auto;
}
.form-control {
  border-radius: 20px;
}

.rowBa {
   max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    padding: 50px;
    padding-top: 50px;
    min-height: 70vh;
    padding-bottom: 100px;
    background-color: white;
     overflow: auto;
}
.rowBanner {
  margin: 40px 0;
}
@media (max-width: 768px) {
  .banner {
    height: 350px;
  }
  .banner-text {
    font-size: 36px;
  }
  .fa-1x {
    font-size: 0.8em;
    color: #b5b5b5;
  }
}
@media (max-width: 575px) {
  .search {
    padding-left: 0;
  }
  .rowBanner {
    margin: 20px 0;
  }
  .rowcontainer {
    padding-top: 0;
  }
  .banner {
    height: 250px;
  }

  .banner-text {
    font-size: 24px;
  }
}
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  background: #ffffff;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.noResult {
  font-family: fantasy;
  text-align: center;
  margin: auto;
}
@import url(https://fonts.googleapis.com/css?family=Lato:700);
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}
.ribbon-free span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 4px 0;
  background-color: #404346;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 500 14px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -0px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: 9px;
  top: 13px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -7px;
  top: 22px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}
.smatter {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  height: 18px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
.rowBanner {
  margin-left: auto;
}
.markSearch,
.tagSearch {
  padding: 1px 12px;
}

.searchBarContent {
  display: flex;
  position: relative;
}

.searchBar {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

input::-webkit-input-placeholder {
  color: #c5c5c5 !important;
}

.search-btn {
  border: 0px;
  color: rgba(0, 0, 0, 0.54);
  margin: 7px 0;
  position: absolute;
  right: 4px;
  top: 4px;
}

a button.btn.btn-sm {
  background: #5b84a7 !important;
  text-transform: capitalize;
  color: #fff !important;
  font-size: 14px;
  padding: 5px 35px;
}

button.btn.btn-sm {
  background: #5b84a7 !important;
  text-transform: capitalize;
  color: #fff !important;
}
a button.btn.btn-sm:hover {
  background: rgba(164, 194, 219, 0.64) !important;
  color: #fff !important;
  border: none !important;
}
.paperTitle {
  color: #5b84a7;
  line-height: 1.2;
  margin-bottom: 6px;
}
.mobile {
  display: none;
}

.btn-send-to-library {
  background: #5b84a7 !important;
}
.side-buttons {
  text-align: right;
}
.formatName {
  font-weight: bold;
  font-size: 12px;
}

.formatStyle {
  float: left;
  margin-right: 10px;
}

.vieww {
  margin-bottom: 10px;
}

.productsPagePrice {
  border: 1px solid #5b84a7;
  padding: 10px;
  cursor: pointer;
}

.productsPrice {
  display: flex;
  justify-content: space-between;
}
.datePaper {
  color: #cccccc;
}
.smatter {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  height: 18px;
  line-height: 1.6;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.paper {
  height: 150px;
}
.paperTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.viewDetail {
  padding: 6px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #5b84a7;
  text-align: center;
  cursor: pointer;
}

.viewDetailCart {
  background-color: #5b84a7 !important;
  color: #ffffff;
  /* padding: 6px 52px; */
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #5b84a7;
}

.img_cover {
  /* min-width: 150px; */
  overflow: hidden;
  background-position: center;
  background-size: cover;
  padding: 0 15px;
}
img {
  width: 100%;
  height: auto;
  /* box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2); */
}

.paperDiv {
  display: flex;
  box-sizing: border-box;
  padding: 15px 0;
  background: #ffffff;
  border-radius: 5px;
}

.whitePP {
  /* width: 600px; */
  font-weight: normal;
  height: 50px;
  white-space: initial;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 6px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .paper {
    font-size: 14px;
    /* padding: 0; */
  }
  .img_cover {
    padding: 10px;
  }
  .viewDetail {
    font-size: 11px;
  }
  .viewDetailCart {
    font-size: 11px;
  }
  .btn-send-to-library {
    font-size: 812x;
  }
}
@media (max-width: 425px) {
  .markSearch,
  .tagSearch {
    padding: 1px 5px;
  }

  .form-control {
    font-size: 12px;
  }

  .p-2 {
    padding: 0 !important;
  }
  ul {
    margin: 15px 0;
  }
  .rowBa {
    padding: 15px;
    margin-top: 0;
  }
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 75px;
    padding: 1px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 12px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }
  .ribbon-free span {
    position: absolute;
    display: block;
    width: 75px;
    padding: 2px 0;
    background-color: #404346;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 500 10px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }

  /* top left*/
  .ribbon-top-left {
    top: 10px;
    left: -84px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: 10px;
    top: 14px;
    transform: rotate(-45deg);
  }

  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -7px;
    top: 22px;
    transform: rotate(45deg);
  }

  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }

  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }
  .container {
    padding: 0;
  }
  .whitePP {
    line-height: 1.42;
    height: 35px;
  }
  .mobile {
    display: inline;
  }
  .vieww {
    margin-left: auto;
    margin-bottom: 0;
  }
  .form-control {
    height: 30px;
  }
  a button.btn.btn-sm {
    font-size: 12px;
    padding: 3px 15px;
    border-radius: 2px;
    border: none;
    clear: both;
    text-transform: capitalize;
  }
  button.btn.btn-sm:hover {
    background: rgba(164, 194, 219, 0.64) !important ;
    color: #fff !important;
    border: none !important;
  }
  .paper {
    font-size: 12px;
    padding: 0;
    height: 75%;
  }
  .paperDiv {
    padding: 10px;
  }

  .side-market {
    padding: 5px 0 0 0;
  }
  .viewDetail {
    font-size: 8px;
    padding: 1px 5px;
  }

  .viewDetailCart {
    font-size: 8px;
    padding: 4px 10px;
  }
  .btn-send-to-library {
    font-size: 8px;
    padding: 4px 10px;
  }
  .side-buttons {
    padding: 0;
    margin-top: 5px;
  }
  .vieww {
    padding: 0 3px 0 3px;
  }
  .img_cover {
    height: auto;

    background-position: 50%;
    background-size: cover;
    padding: 10px 6px 5px 1px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
</style>
