<template>
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 align-content-lg-stretch">
                    <header class="heading">
                        <h2 class="entry-title">Welcome Message</h2>

                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                    </header><!-- .heading -->

                </div><!-- .col -->

                <div class="col-12 col-lg-4 flex align-content-center mt-5 mt-lg-0 videobk">
                    <div class="ezuca-video position-relative">
                        <iframe width="400" height="200" src="https://www.youtube.com/embed/0fp60iHV7Rk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <button class="btn btn-outline-secondary btn-lg btn-offer">View Our Special Offer</button>
                        <div class="offer-div">
                            <h3>Some of our special offer</h3>
                        <ul>
                            <li class="offer-list"><i class="fa fa-list-alt"></i> Affordable book both online and hardcopy</li>
                            <li class="offer-list"><i class="fa fa-list-alt"></i> Audio books</li>
                            <li class="offer-list"><i class="fa fa-list-alt"></i> Video books</li>
                            <li class="offer-list"><i class="fa fa-list-alt"></i> and some much more...</li>
                        </ul>
                        </div>
                    </div><!-- .ezuca-video -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
</template>

<script>
    export default {
        name: "user-product-listing-component",
        data: function(){
            return {
                categories : []
            }
        },
        mounted(){
            axios.get('/api/product-all-category').then((response) => {
                if(response.status === 200){
                    this.categories = response.data.data;
                }
            }).catch((error) => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>
    .about-section {
        position: relative;
    }
    .videobk {
        text-align: center;
        border: 2px solid #29303b;
        background-color: #29303b !important;
        position: absolute;
        right: 2%;
        top: 5%;
        padding: 12px 0px;
    }

    .container {
        padding: 0;
    }

    .btn-offer {
        background-color: #fff !important;
        color: #000;
    }

    .offer-div {
        color: #fff;
        text-align: left;
        width: 21rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .offer-list {
        margin: 9px 0px;
    }

</style>