<template>
 <div>
	  <div class="loaderShadow" v-if="isActive">
      <div class="loadContainer">
        <img class="icon" src="/images/logo.png" alt="bizguruh loader" />
        <div class="loader"></div>
      </div>
    </div>
	  <div class="mcont" v-else>
    <!-- <vue-loading :active="isActive" spinner="bar-fade-scale" color="#FF6700"></vue-loading> -->
   
    <div class="imgDiv">
      <img src="/images/course.jpeg" />
      <div class="courseText">
        <h1 class="course_header">Courses</h1>
        <div class="learn">Learn and Save</div>
        <div class="grow">Grow your expertise</div>
        <div>
          <input type="text" />
        </div>
      </div>
    </div>
    <div class="outline-banner">
      <div>
        <b>100,000 online courses</b>
        <br />Explore a variety of fresh option
      </div>
      <div>
        <b>Expert Instructors</b>
        <br />Find the right instructor for you
      </div>
      <div>
        <b>Lifetime Access</b>
        <br />Learn on your schedule
      </div>
    </div>
    <ul>
      <li
        v-for="(breadcrumb, index) in breadcrumbList"
        v-bind:key="index"
        @click="routeTo(index)"
        :class="{linked: !!breadcrumb.link}"
      >{{breadcrumb.name}}</li>
    </ul>
    <div class="container-fluid">
      <!-- <div class="row desktop mt-4">
				<div
					class=" col-lg-3 col-md-4 col-sm-3 col-xs-4 "
					v-if="courses.length > 0"
					v-for="(course, index) in courses"
				>
					<div class="prodDis">
						<div class="imgHold ">
							<router-link
								:to="{
									name: 'CourseFullPage',
									params: {
										id: course.uid,
										name: course.title.replace(/ /g, '-')
									}
								}"
								tag="a"
								class="routerlink"
							>
								<div class="imgHolder ">
									<img
										:src="course.coverImage"
										class="catImage"
									/>
								</div>
								<div class="courseDiv">
									<p class="courseTit">{{ course.title }}</p>
									<div class="courseOver">{{ course.overview }}</div>
									<div class="courseLevel">
										Level : {{ course.level }}
									</div>
								</div>
							</router-link>
						</div>
					</div>
				</div>
      </div>-->

      <!-- swiper -->
      <swiper :options="swiperOption">
        <swiper-slide
          v-for="(course, index) in courses"
          v-bind:key="course.id"
          class="prodDis mt-4"
        >
          <div class="imgHold">
            <router-link
              :to="{
								name: 'CourseFullPage',
								params: {
									id: course.uid,
									name: course.title.replace(/ /g, '-')
								}
							}"
              tag="a"
              class="routerlink"
            >
              <div class="imgHolder">
                <div
                  v-if="course.prodCategory === 'BP' || course.prodCategory === 'EP' ||  course.prodCategory === 'VP'  "
                  class="ribbon ribbon-top-right"
                >
                  <span>Paid</span>
                </div>
                <div v-else class="ribbon ribbon-free ribbon-top-right">
                  <span>free</span>
                </div>
                <img :src="course.coverImage" class="catImage" />
              </div>
              <div class="courseDiv">
                <p class="courseTit">{{ course.title }}</p>
                <div class="courseOver">{{ course.overview }}</div>
                <div class="courseLevel">
                  {{course.vendor}}
                  <br />
                  {{course.subjectMatter}} / {{course.industryName}}
                  <br />

                  Level : {{ course.level }}
                </div>
                <div class="row coursePrice">
                  <div class="price" v-if="course.price">
                    ₦{{ course.price }}.00
                    <!-- <div  class="cover">Hard Cover</div> -->
                  </div>
                  <div class="price" v-if="course.videoPrice">
                    ₦{{ course.videoPrice }}.00
                    <!-- <div  class="cover">Video Copy</div> -->
                  </div>
                  <div class="price" v-if="course.softPrice">
                    ₦{{ course.softPrice }}.00
                    <!-- <div  class="cover">Digital Cover</div> -->
                  </div>
                  <div class="price" v-if="course.readOnlinePrice">
                    ₦{{ course.readOnlinePrice }}.00
                    <!-- <div  class="cover">Read Online</div> -->
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </swiper-slide>

        <div class="swiper-button-prev swiper-button-black" slot="button-prev"></div>
        <div class="swiper-button-next swiper-button-black" slot="button-next"></div>
      </swiper>

      <!-- subject matters starts here -->
      <div v-if="topics.length > 0" class="row desktop deskMargin">
        <h2 class="subject_title" style="width:100%">Subject Matters</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 subjects">
          <div class="col-lg-2 col-sm-2 col-md-2 subject">
        
              <img src="/images/busmodel2.jpg " alt="Business Modeling" />
              <div class="shadow">
                <p class="text-content">Business Modeling</p>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
          
          </div>

          <div class="col-lg-2 col-sm-2 col-md-2 subject">
          
              <img src="/images/mark.jpg" alt="Marketing" style="width:100%" />
              <div class="shadow">
                <p class="text-content">Marketing</p>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
          
          </div>

          <div class="col-lg-2 col-sm-2 col-md-2 subject">
           
              <img src="/images/submat3.jpg" alt="Sales" />
              <div class="shadow">
                <p class="text-content">Sales</p>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
         
          </div>

          <div class="col-lg-2 col-sm-2 col-md-2 subject">
          
              <img src="/images/finan.jpg" alt="Finance" />
              <div class="shadow">
                <p class="text-content">Finance</p>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
          
          </div>

          <div class="col-lg-2 col-sm-2 col-md-2 subject">
          
              <img src="/images/submat5.jpeg" alt="Personal Development" />
              <div class="shadow">
                <p class="text-content">Personal Development</p>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
          
          </div>
          <div class="col-lg-2 col-sm-2 col-md-2 subject">
         
              <img src="/images/branding.jpg" alt="Personal Development" />
              <div class="shadow">
                <p class="text-content">Branding</p>
                <i class="fas fa-arrow-circle-right"></i>
              </div>
          
          </div>
        </div>
      </div>

      <!-- mobile subject matters -->
      <div v-if="topics.length > 0" class="row mobile">
        <h2 class="subject_title mb-4">Subject Matters</h2>
        <div class>
          <carousel
            :perPageCustom="[[320, 2], [375, 2], [425, 2], [768, 5]]"
            :navigationEnabled="false"
            :paginationEnabled="true"
            :loop="true"
          >
            <slide>
              <div class="subject">
             
                  <img src="/images/busmodel2.jpg " alt="Business Modeling" />

                  <div class="shadow">
                    <p class="text-content">Business Modeling</p>
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
               
              </div>
            </slide>
            <slide>
              <div class="subject">
               
                  <img src="/images/mark.jpg" alt="Marketing" style="width:100%" />

                  <div class="shadow">
                    <p class="text-content">Marketing</p>
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
                
              </div>
            </slide>
            <slide>
              <div class="subject">
              
                  <img src="/images/submat3.jpg" alt="Sales" />
                  <div class="shadow">
                    <p class="text-content">Sales</p>
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
                
              </div>
            </slide>
            <slide>
              <div class="subject">
              
                  <img src="/images/finan.jpg" alt="Finance" />
                  <div class="shadow">
                    <p class="text-content">Finance</p>
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
               
              </div>
            </slide>
            <slide>
              <div class="subject">
              
                  <img src="/images/submat5.jpeg" alt="Personal Development" />
                  <div class="shadow">
                    <p class="text-content">Personal Development</p>
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
               
              </div>
            </slide>

            <slide>
              <div class="subject">
               
                  <img src="/images/branding.jpg" alt="Personal Development" />
                  <div class="shadow">
                    <p class="text-content">Branding</p>
                    <i class="fas fa-arrow-circle-right"></i>
                  </div>
              
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

    <!-- topics stRT -->
    <div class="bpr">
      <h2 class="subject_title">Browse Practical Resources</h2>

      <div>
        <div>
          <!-- swiper -->
          <swiper :options="swiperOption">
            <swiper-slide v-for="topic in topics" :key="topic.id">
              <div class="artTitle">
               
                  <div class="gainShadow">
                    <p class="gainTitle">{{ topic.name }}</p>
                  </div>
                  <div class="artImage">
                    <img src alt />
                  </div>
               
              </div>
            </swiper-slide>

            <!-- <div class="swiper-pagination" slot="pagination"></div> -->
            <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
            <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
          </swiper>
        </div>
      </div>
    </div>

    <div class="secondView">
      <h2 class="subject_title mb-2">What Our Users Think</h2>
      <div class="row studentView desktop mb-4">
        <div class="col-lg-3 col-md-3 col-sm-4 student">
          <blockquote>
            <div class="test_name">Tinuke Adegboye</div>
            <div class="test_story">
              I heard about your page from Nwanyiakamu and I
              followed you. Your content is very educative and
              qualitative always. Keep it up and thank you.
            </div>
          </blockquote>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 student">
          <blockquote>
            <div class="test_name">@oilbyo</div>
            <div class="test_story">
              The post on registering ones business was
              particularly beneficial. I’m currently saving
              towards it and the post on affirmations daily no
              matter how business is going.
            </div>
          </blockquote>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 student">
          <blockquote>
            <div class="test_name">Oladunni Omotola</div>
            <div class="test_story">
              I am here because
              <span class="pry-color">@freesiafoodies</span>
              asked us to, but seriously I must say it is worth
              it.
            </div>
          </blockquote>
        </div>
      </div>

      <div class="studentViews mobile">
        <carousel :perPage="1" :loop="true" :navigationEnabled="false" :paginationEnabled="true">
          <slide>
            <div class="student">
              <div class="stud">
                <div class="test_name">Tinuke Adegboye</div>
                <div class="test_story">
                  I heard about your page from Nwanyiakamu and
                  I followed you. Your content is very
                  educative and qualitative always. Keep it up
                  and thank you.
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="student">
              <div class="stud">
                <div class="test_name">@oilbyo</div>
                <div class="test_story">
                  The post on registering ones business was
                  particularly beneficial. I’m currently
                  saving towards it and the post on
                  affirmations daily no matter how business is
                  going.
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="student">
              <div class="stud">
                <div class="test_name">Oladunni Omotola</div>
                <div class="test_story">
                  I am here because
                  <span class="pry-color">@freesiafoodies</span>
                  asked us to, but seriously I must say it is
                  worth it.
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>

      <!-- <div v-if="topics.length > 0" class="m-4">
        <h1 class="industry_header">Industries</h1>
        <carousel
          :perPageCustom="[[320, 2], [375, 2], [425, 2], [768, 5]]"
          :navigationEnabled="true"
          :paginationEnabled="false"
          :loop="true"
        >
          <slide
            v-if="topCategories.length > 0"
            v-for="(topCategory, index) in topCategories"
            v-bind:key="topCategory.id"
          >
            <router-link
              :to="{
								name: 'SpecificIndustry',
								params: {
									id: topCategory.id,
									name: 'courses'
								}
							}"
            >
              <div class="industry">
                <img src="/images/foodndrinks.jpg" alt="image" />
                <div class="industry_content">
                  <p class="industry_title">{{ topCategory.name }}</p>
                </div>
              </div>
            </router-link>
          </slide>

          <slide>
            <div class="industry">
              <img src="/images/agric.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Agriculture</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="industry">
              <img src="/images/beauty.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Beauty</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="industry">
              <img src="/images/manufacturing.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Manufacturing</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="industry">
              <img src="/images/automotives.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Automotives</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="industry">
              <img src="/images/consult.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Consult</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="industry">
              <img src="/images/pharm.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Pharmacy</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="industry">
              <img src="//images/education.jpg" alt="image" />
              <div class="industry_content">
                <p class="industry_title">Education</p>
              </div>
            </div>
          </slide>
        </carousel>
      </div> -->
    </div>
  </div>
 </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";


export default {
  name: "user-admin-course-content-component",
  data: function() {
    return {
      courses: [],
      topics: [],
      isActive: true,
      industry_name: "",
      topCategories: [],
      breadcrumbList: [],
      swiperOption: {
        slidesPerView: 5,
        slidesPerColumn: 2,
        spaceBetween: 20,
        breakpoints: {
          320: {
            slidesPerView: 2,
            slidesPerColumn: 3,
            spaceBetween: 15
          },

          425: {
            slidesPerView: 2,
            slidesPerColumn: 3,
            spaceBetween: 15
          },
          640: {
            slidesPerView: 3,
            slidesPerColumn: 3,
            spaceBetween: 15
          },
          768: {
            slidesPerView: 4,
            slidesPerColumn: 3,
            spaceBetween: 15
          }
        },
        // loop: true,
        // loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      }
    };
  },
  created() {
    this.updateList();
  },
  watch: {
    $route() {
      this.updateList();
    }
  },
  mounted() {
    axios.get(`/api/all-industries`).then(response => {
      if (response.status === 200) {
        this.industry_name = response.data;

        axios
          .get("/api/all/product/Courses")
          .then(response => {
            if (response.status === 200) {
              this.isActive = false;
              let course = response.data.data;
           
              course.forEach(item => {
                item.courses.category = item.category.name;
                item.courses.uid = item.id;
                item.courses.price = item.hardCopyPrice;
                item.courses.softPrice = item.softCopyPrice;
                item.courses.readOnlinePrice = item.readOnlinePrice;
                item.courses.audioPrice = item.audioPrice;
                item.courses.videoPrice = item.videoPrice;
                item.courses.prodCategory = item.prodCategoryType;
                item.courses.vendor = item.vendor.storeName;
                item.courses.coverImage = item.coverImage;
                item.courses.subjectMatter = item.subjectMatter.name.toLowerCase();
                item.courses.industryName = item.industry.name;
                this.courses.push(item.courses);
              });

         
              this.subjectMatter();
            }
          })
          .catch(error => {
            console.log(error);
          }),
          axios.get("/api/topics").then(response => {
            if (response.status === 200) {
              this.topics = response.data;
            }
          });
      }
    });
  },
  components: {
    Carousel,
    Slide,
  
  },
  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link) {
        this.$router.push(this.breadcrumbList[pRouteTo].link);
      }
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
    },

    subjectMatter() {
      axios
        .get("/api/all-industries")
        .then(response => {
          if (response.status === 200) {
            this.topCategories = response.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.loaderShadow{
  height:100vh;
}
ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px 20px;
  background: #ffffff;
}

ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: default;
  align-items: center;
}
ul > li:not(:last-child)::after {
  content: "/";
  float: right;
  font-size: 0.8em;
  margin: 0 0.5em;
  cursor: default;
}
.linked {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
}
.mcont {
  font-weight: bold;
  background: white;
}
@import url(https://fonts.googleapis.com/css?family=Lato:700);
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 70;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}
.ribbon-free span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #404346;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -15px;
  right: -30px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -7px;
  top: 22px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}


.courseTit {
  display: -webkit-box !important;
  text-align: left;
  text-transform: capitalize;
  color: #5b84a7;
  font-size: 16px;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.courseOver {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  display: -webkit-box !important;
  text-align: left;
  text-transform: capitalize;
  font-size: 14px;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  -o-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
}
.courseLevel {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  text-transform: capitalize;
  line-height: 1.7;
}
.deskMargin {
  margin: 0 20px;
}
.pry-color {
  color: #5b84a7;
}
.swiper-container {
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 15px;
}
.swiper-slide {
  margin-top: 0 !important;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0.4 !important;
}

.container {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.container-fluid {
  margin-top: 20px;
}

.col-lg-offset-1,
.col-md-offset-1,
.col-sm-offset-1 {
  margin-left: 2.33333333%;
}

.industry {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 10px;
}
.industry_content {
  position: absolute; /* Position the background text */
  top: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(79, 79, 79));
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.5),
    rgb(79, 79, 79, 0.5)
  );
  color: hsl(0, 0%, 90%);
  width: 100%;
  padding: 60px 0;
  height: 150px;
  text-align: center;
  /* padding:130px 0; */
}
.industry_title {
  font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1600-300)));
  font-weight: normal;
}

.industry img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.industry_header {
  padding: 0 0 15px 0;
  text-align: center;
}

h1.industries.title {
  margin: 20px !important;
}
.shadow {
  position: absolute; /* Position the background text */
  top: 0;
  background: radial-gradient(rgb(79, 79, 79, 0.5), rgb(0, 0, 0, 0.5));
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
}
.container {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}
.mobile {
  display: none;
}
.student {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15);
  height: auto;
  padding: 10px 5px;
  text-align: center;
  border-radius: 30px;
}
.course_header {
  text-align: left;
  font-size: calc(16px + (50 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.6 - 1.3) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 800 !important;
  font-family: 'Josefin Sans';
}

.classHis,
.topCat {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start;
  padding: 0;
}
.VueCarousel-inner {
  padding: 0 15px;
}
.secondView {
  /* background: rgb(163, 194, 220, 0.2); */
  padding: 30px 0 80px 0;
  margin-bottom: -18px;
}
.studentView {
  display: flex;
  justify-content: space-around;
}
.studentViews.mobile {
  display: none;
}
.subject_title {
  margin-top: 20px;
  text-align: center;
  padding: 10px 200px;
  /* background: #5b84a7; */
  color: #000;
}
.subjects {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}
.subject {
  position: relative;
  padding: 0px;
  margin: 0 5px;
  height: 150px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
}
.subject a img {
  border-radius: 5px;
}
.cover {
  font-size: 9px;
}
.coursePrice {
  justify-content: space-evenly;
  margin-top: 0;
}
.text-content {
  font-size: calc(17px + (24 - 17) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  color: hsl(0, 0%, 90%);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family:'Josefin Sans';
}
.test_name {
  font-weight: bold;
  margin-bottom: 5px;
}
.test_story {
  text-align: left;
  color: #777;
}
.fa-arrow-circle-right {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  float: right;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.topCatDiv {
  /* float: left; */
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  /* width: 250px;
  padding: 23px 0; */
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
}
.outline-banner {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 20px 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
  background: rgb(59, 103, 158); /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 103, 158, 1) 0%,
    rgba(43, 136, 217, 1) 50%,
    rgba(32, 124, 202, 1) 51%,
    rgba(125, 185, 232, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 103, 158, 1) 0%,
    rgba(43, 136, 217, 1) 50%,
    rgba(32, 124, 202, 1) 51%,
    rgba(125, 185, 232, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgba(59, 103, 158, 1) 0%,
    rgba(43, 136, 217, 1) 50%,
    rgba(32, 124, 202, 1) 51%,
    rgba(125, 185, 232, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.learn {
  font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.6 - 1.3) * ((100vw - 300px) / (1600 - 300)));
  font-family:'Josefin Sans';
}

input {
  width: 400px;
}
.price {
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

.grow {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.6 - 1.3) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
}
.courseText {
  position: absolute;
  top: 130px;
  color: hsl(0, 0%, 90%);
  margin: 100px;
}

.imgDiv {
  position: relative;
  width: 100%;
  height: 450px;
}
img {
  width: 100%;
  height: 100%;
}
.imgHold {
  position: relative;
  height: auto;
  /* box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
		0 3px 1px 0 rgba(20, 23, 28, 0.1); */
}
.routerlink {
  background: #fff;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
}

.couseComp {
  margin-top: 50px;
}

.imgHolder {
  width: 100%;
  height: 160px;
}
.catImage {
  width: 100%;
  display: block;
  height: 100%;
}

.prodDis {
  padding: 0 0 5px 0;
  height: auto;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #ffffff;
}

.courseDiv {
  display: block;
  padding: 15px 10px 0 15px;
  font-size: small;
  color: #383838;
  font-weight: 500;
}

.courseDiv div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
@media (max-width: 425px) {
  ul {
    margin: 15px 0;
  }
  .courseLevel {
    font-size: 9px;
    line-height: 1.4;
  }
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.4 !important;
    height: 20px;
  }
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 70;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 2px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 600 14px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }
  .ribbon-free span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 2px 0;
    background-color: #404346;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 600 14px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
  }
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }

  /* top right*/
  .ribbon-top-right {
    top: -15px;
    right: -40px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }

  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }

  .container {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .courseTit {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: normal;
    max-height: 40px;
  }
  .price {
    font-size: 12px;
    padding: 0;
  }
  .courseOver {
    font-size: 12.2px;
  }
  p.courseTit {
    margin-bottom: 0;
  }
  /* .swiper-slide {
    height: 130px;
  } */
  /* .prodDis {
    height: 270px !important;
  } */
  .imgHold {
    position: relative;
    height: auto;
  }
  .industry {
    height: 150px;
    margin: 0;
  }
  .industry_content {
    height: 150px;
    padding: 60px 0;
  }
  .imgDiv {
    position: relative;
    width: 100%;
    height: 250px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .courseText {
    position: absolute;
    top: -20px;
    color: #ffffff;
    margin: 100px 20px;
  }
  input {
    width: 200px;
  }
  .outline-banner {
    padding: 10px 1px 10px 20px;
    font-size: calc(11px + (15 - 11) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  /* .subjects,
	.subject {
		height: auto;
	} */
  .student {
    min-height: 150px;
  }
  .studentViews.mobile {
    display: block;
    margin: 10px 30px;
    background: white;
  }

  .studentView.desktop {
    display: none;
  }
  .stud {
  }
  .classHis {
    margin-top: 0;
  }
  .courseDiv {
    padding: 5px;
    margin-top: 0;
  }
  .imgHolder {
    height: 110px;
  }
  .subject_title {
    padding: 0;
    font-size: 18px;
  }
  .test_story {
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .imgDiv {
    position: relative;
    width: 100%;
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .courseText {
    position: absolute;
    top: -20px;
    color: #ffffff;
    margin: 100px 20px;
  }
  input {
    width: 150px;
  }
}

.industry {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 10px;
}
.industry_content {
  position: absolute; /* Position the background text */
  top: 0;
  background: radial-gradient(rgb(0, 0, 0), rgb(79, 79, 79));
  background: radial-gradient(rgb(0, 0, 0, 0.5), rgb(79, 79, 79, 0.5));
  color: #f1f1f1;
  width: 100%;
  padding: 60px 0;
  height: 150px;
  text-align: center;
  /* padding:130px 0; */
}
.industry_title {
  font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600-300)));
}
.ind {
  /* background: #f1f1f1; */
  padding-top: 40px;
}

.industry img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.shadowA {
  position: absolute;
  top: 0;
  left: 0;
  background: #1620284d;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  text-align: center;
}
.inText {
  position: absolute;
  top: 12%;
  left: 5%;
  color: #fff;
  font-size: 1.7em;
}

.businessBgVid {
  background-color: #f5f5f5 !important;
  padding: 15px 19px 300px 25px;
  /* height: 278px; */
  margin: 10px;
  position: relative;
  color: #5b84a7;
  font-weight: bold;
  font-size: 25px;
}

.courseDet {
  /* background: #5b84a7; */
  color: #ffffff;
  padding: 0px 20px;
  border-radius: 5px;
}

.courseDet a {
  color: #ffffff !important;
}

.courseDet a:hover {
  color: #000000 !important;
  font-weight: bold;
}

.diverHeader {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.courseDet {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.businessDiv {
  background-color: #fff !important;
  padding-top: 30px;
}

.cat-arrow {
  right: 21px;
  position: absolute;
  bottom: 12px;
  color: #000000;
  font-size: 34px;
}

.skills {
  margin: 5px;
  position: relative;
  font-weight: bold;
  text-transform: capitalize;
  font-size: calc(9px + (16 - 9) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  height: 250px;
}
.skills img {
  width: 100%;
  height: 100%;
}
.gainShadow {
  position: absolute; /* Position the background text */
  top: 0;
  background: radial-gradient(rgb(118, 117, 150), rgb(27, 25, 25));
  /* background: radial-gradient(
		to right,
		rgb(46, 44, 117),
		rgb(79, 79, 79, 0.5)); */
  color: #f1f1f1;
  width: 100%;
  /* padding: 60px 0; */
  height: 100%;
  text-align: center;
  /* padding:130px 0; */
}
.brandShadow {
  position: absolute; /* Position the background text */
  top: 0;
  background: radial-gradient(rgb(79, 79, 79, 0.5), rgb(0, 0, 0, 0.5));
  /* background: radial-gradient(
		to right,
		rgb(0, 0, 0,0.5),
		rgb(79, 79, 79, 0.5)); */
  color: #f1f1f1;
  width: 100%;
  /* padding: 60px 0; */
  height: 100%;
  text-align: center;
  /* padding:130px 0; */
}
.brandingContent {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  text-transform: capitalize;
  color: #ffffff;
  font-size: calc(16px + (56-16) * ((100vw - 300px) / (1600-300)));
  line-height: 1.5;
  margin-top: auto;
  margin-bottom: auto;
  padding: 110px 0px;
  font-weight: initial;
}

/*  */

.businessSkill {
  background-color: #f5f5f5 !important;
  padding: 10px 0;
  margin: 0 15px;
  border-radius: 10px;
}
.cat-arrow {
  right: 21px;
  position: absolute;
  bottom: 12px;
  color: #ffffff;
  font-size: 34px;
}

.branding {
  background-color: #5b84a7 !important;
}

.innovation {
  background-color: #d4eaf3 !important;
}

.timemgt {
  background-color: #d2e0eb !important;
}

.procurement {
  background-color: #f8cadf !important;
}
.gainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: hsl(0, 0%, 90%);
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-size: calc(12px + (16-11) * ((100vw - 300px) / (1600-300)));
  line-height: 1.5;
  font-family:'Josefin Sans';
}
@media (max-width: 768px) {
  .gainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    line-height: 1.5;
  }
  .test_name {
    font-size: 14px;
  }
  .test_story {
    font-size: 14px;
  }
}

.socialMediaTitle {
  display: flex;
  background-color: #e1e1e1 !important;

  width: 100%;
  color: #ffffff;
  justify-content: space-evenly;
}

.socialMediaTitle i {
  margin: 10px 12px;
}

.artTitle {
  height: 100px;
  position: relative;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 10px;
}
.artImage {
  left: 0;
  right: 0;
  height: 100%;
}
.artImage img {
  /* height: 100%; */
}
.mobile-slide {
  display: none;
  margin-bottom: 20px;
}
.ipad-slide {
  display: none;
  margin-bottom: 20px;
}
.desktop-slide {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 30px 20px;
}
.bpr {
  /* background: #f1f1f1; */
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .mobile-slide {
    display: none;
  }
  .ipad-slide {
    display: inline;
  }
  .ipad-business {
    display: inline;
  }
  .desktop-slide {
    display: none;
  }
  .mobile-business {
    display: none;
  }
  .businessDiv {
    display: none;
  }

  .businessBg {
    width: 100%;
  }
  .inText {
    font-size: 1.2em;
  }
  .artTitle {
    height: 100px;
    margin: 10px 0;
  }
}
@media (max-width: 575px) {
  /* .prodDis{
		width:150px !important;
	} */
  .industry_header {
    font-size: 16px !important;
  }
  .businessDiv {
    display: none;
  }
  .mobile-slide {
    display: inline;
  }
  /* .mobile-slide.ind {
		margin-top: -;
	} */
  .ipad-slide {
    display: none;
  }
  .ipad-business {
    display: none;
  }
  .desktop-slide {
    display: none;
  }
  .mobile-business {
    display: inline;
  }
  /* .VueCarousel-slide {
		height: 300px;
	} */

  /* .artImage {
		left: unset;
		right: 40px;
		height: 4100%;
	} */
  .artTitle {
    height: 100px;
  }

  .skills {
    height: 150px;
  }

  .brandingContent {
    padding: 70px 0px;
  }

  .industry {
    height: 150px;
    margin: 0;
  }
  .industry_content {
    height: 150px;
    padding: 60px 0;
  }
  .businessBg {
    font-size: 16px;
  }
  .VueCarousel-navigation-button {
    top: 26% !important;
  }
}
@media (max-width: 375px) {
  .socialMediaTitle {
    font-size: 8px;
  }
}
@media only screen and (max-width: 320px) {
  .businessDiv {
    display: none;
  }
  .mobile-slide {
    display: inline;
  }
  .ipad-slide {
    display: none;
  }
  .ipad-business {
    display: none;
  }
  .desktop-slide {
    display: none;
  }
  .mobile-business {
    display: inline;
  }
  .brandingContent {
    padding: 70px 0px;
  }
  /* .VueCarousel-slide {
    height: 310px;
  } */
  .artTitle {
    height: 80px;
  }
}
</style>
