<template>
    <div class="couseComp">
        <h2>Courses</h2>
        <p>Our full range of courses</p>
        <div class="">
            <h2>All Courses</h2>
            <div class="prodDis" v-if="courses.length > 0" v-for="(course, index) in courses">
                <router-link :to="{name: 'ProductCourseDetail', params: {id: course.uid}}" tag="a">
                <img :src="course.coverImage" class="catImage">
                <div class="courseDiv">
                    <div>{{course.title}}</div>
                    <div>{{course.overview}}</div>
                </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "user-course-content-component",
        data: function(){
            return {
               courses: []
            }
        },
        mounted(){
            axios.get('/api/get/prodtype/Courses').then((response) => {
               if(response.status === 200){
                 
                   let course = response.data.data;
                   course.forEach((item) => {
                       item.courses.category = item.category.name;
                       item.courses.uid = item.id;
                       item.courses.coverImage = item.coverImage;
                       this.courses.push(item.courses);
                   })
               }
            }).catch((error) => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>

    .couseComp {
        margin-top: 30px;
    }

    .catImage {
        width: 150px;
    }

    .prodDis {
        float: left;
        margin: 10px 50px;
        height: 315px;
    }

    .courseDiv {
        background: #e3ecf4;
        position: relative;
        top: -10px;
        width: 150px;
        padding: 6px;
    }

    .courseDiv div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }



</style>