<template>
    <section class="featured-courses vertical-column courses-wrap">
        <div class="container filter_prod">
            <div class="row mx-m-25">
                <div class="col-12 px-25">
                    <header class="heading flex flex-wrap justify-content-between align-items-center">
                        <h2 class="entry-title">Featured Courses</h2>

                        <nav class="courses-menu mt-3 mt-lg-0">
                            <ul class="flex flex-wrap justify-content-md-end align-items-center">
                                <li class="active"><a href="#">All</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Photography</a></li>
                            </ul>
                        </nav><!-- .courses-menu -->
                    </header><!-- .heading -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 px-25" v-for="featuredProduct in featuredProducts">
                    <div class="course-content">
                        <figure class="course-thumbnail">
                            <router-link tag="a" :to="{ name: 'productDetail', params: {id: featuredProduct.id, productname: (featuredProduct.title).replace(/\s+/g, '-').toLowerCase()}}">
                                <img :src="featuredProduct.productImage[0].image" alt="">
                            </router-link>
                        </figure><!-- .course-thumbnail -->
                        <div class="course-content-wrap">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="#">{{featuredProduct.title}}</a></h2>

                                <div class="entry-meta flex align-items-center">
                                    <div class="course-author"><a href="#">{{featuredProduct.category}} </a></div>

                                    <div class="course-date">July 21, 2019</div>
                                </div><!-- .course-date -->
                            </header><!-- .entry-header -->

                            <footer class="entry-footer flex justify-content-between align-items-center">
                                <div class="course-cost">
                                    ₦{{featuredProduct.productDetail[0].salePrice}} <span class="price-drop">₦{{featuredProduct.productDetail[0].price}}</span>
                                </div><!-- .course-cost -->

                                <div class="course-ratings flex justify-content-end align-items-center">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o"></span>

                                    <span class="course-ratings-count">(4 votes)</span>
                                </div><!-- .course-ratings -->
                            </footer><!-- .entry-footer -->
                        </div><!-- .course-content-wrap -->
                    </div><!-- .course-content -->
                </div><!-- .col -->

                <div class="col-12 px-25 flex justify-content-center">
                    <router-link tag="a" to="/all-products" class="btn">
                   view all courses
                    </router-link>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
</template>

<script>
    export default {
        name: "user-feature-product-component",
        data: function(){
          return {
              featuredProducts: []
          }
        },
        mounted(){
            axios.get('/api/sponsor-products').then((response) => {
                if(response.status === 200){
                    this.featuredProducts = response.data.data;
                }
            }).catch((error) => {
                console.log(error);
            })
        },
        computed: {
            url_slug(url){
                url.replace(/\s+/g, '-').toLowerCase();
            }
        }
    }
</script>

<style scoped>
    .fillter_slider img {
        height: 270px;
        width: 270px;
    }

    .f_product_inner img {
        height: 100px;
        width: 70px;
    }

    .filter_prod {
        padding: 0px !important;
    }

</style>