<template>
   <div>
        <div class ="popup-display" v-bind:style="{display:showPop}">
        <div class="row popup-inner">
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="img-1">
                <div class="imageHolder">
                <img src="/images/BizGuruhs-one-bg.png">
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="img-2">
                <div class="imageHolder">
                    <img src="/images/BizGuruhs-two-bg.png">
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="img-2">
                <div class="imageHolder">
                    <img src="/images/BizGuruhs-three-bg.png">
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
           <div class="mpop">
                <div class="img-test">
            <div>
                <select class="form-control categoriesdropDown" v-model="categorySend">
                    <option><i class="fa fa-caret-down"></i></option>
                    <option v-if="subjectMatters.length > 0" v-for="(subjectMatter, index) in subjectMatters" :value="subjectMatter.name">{{subjectMatter.name}}</option>
                </select>
            </div>
            <div class="input-forms">
                <input type="text" class="form-control" v-model="emailContent" placeholder="Got a Business Related Question? Go on - ask!">
            </div>
            <div class="btn-cont-pop"><button class="btn btn-popup" @click="sendEmail()">
                <i class="fa fa-arrow-right"></i></button>
            </div>
            </div>
            <div class="questionCheck" v-if="emailCheck">We are sending your question...</div>
           </div>

        </div>
        </div>


    </div>
          <div @click="togglePop"  class="popButton" v-if="showPop === 'block'"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
           <div @click="togglePop"  class="popButton" v-else> <i class="fas fa-question-circle"></i></div>
   </div>
</template>

<script>
    export default {
        name: "user-popup-component",
        data: function(){
          return {
              subjectMatters: [],
              token: '',
              authenticate: false,
              emailContent: '',
              categorySend: '',
              emailCheck: false,
              showPop:'block',

          }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.token = user.access_token;
                this.authenticate = true;
            }
            axios.get('/api/subjectmatter').then((response) => {
                if(response.status === 200){
                    this.subjectMatters = response.data;
                }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {

            togglePop(){

                if (this.showPop === 'block') {
                    this.showPop = 'none'
                }else{
                    this.showPop = 'block';
                }
                console.log("Data: showPop -> this.showPop", this.showPop)


            },
            sendEmail() {
                this.emailCheck = true;
                if (this.authenticate) {
                    let data = {
                        subjectMatter: this.categorySend,
                        content: this.emailContent
                    }

                    axios.post('/api/user/question-send', data, { headers: {"Authorization" : `Bearer ${this.token}`} })
                        .then((response) => {
                            if(response.status === 200){
                                this.emailCheck = false;
                                this.$notify({
                                    group: 'cart',
                                    title: 'Success',
                                    text: 'Your question has been successfully sent'
                                })
                                window.location.reload();
                            }
                        }).catch((error) => {
                        console.log(error);
                    })
                }else{
                    this.$notify({
                        group: 'cart',
                        title: 'Unauthenicated',
                        text: 'You must log in to ask question'
                    })
                }
            }
        }
    }
</script>

<style scoped>
.popButton{
    position: absolute;
    right: 11px;
    bottom: 0;
    z-index: 999;

}

.mpop{
    margin-left: auto;
    width: 90%;

}
    .questionCheck {
        color: tomato;
        font-weight: bold;
        font-size: 14px;
    }

    .imageHolder {
        height: 60px;
        width: 60px
    }

    .imageHolder img{
        width:100%;
        height: 100%;
    }

    .popup-display {
       
        position: absolute;
        bottom: -55px;
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 0;
        z-index: 998;
    }


    .fa-user-circle-o {
        font-size: 60px;
        color: #a3c2dc;
    }

    .btn-popup {
        background-color: #a3c2dc !important;
    }

    .col-img {
        float: left;
        margin: 13px;
    }

    .popup-inner {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .input-forms {
        float: left;
        width: 400px;
    }

    input::-webkit-input-placeholder {
        color: #c5c5c5 !important;
    }


    .img-test {
        display: flex;
        margin-top: 23px;
        justify-content: flex-end;
    }


    .categoriesdropDown {
        width: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 50% !important;
        border-radius: 0px !important;
    }


    .btn-cont-pop {
        position: relative;
        top: -2px;
        float:left;
    }
    @media only screen and (max-width:768px){
        .popup-display{

    height: 80px;

}
    }
    @media only screen and (max-height:768px){
        .popup-display {

    position:absolute;

}
    }
       @media  (max-width:425px){
           .popButton{
               display:none;
           }
           .col-xs-1{
               padding:15px 5px;
           }
        .popup-display {
        display:none;
        height: 30px;
        margin-top: 30px;

}
   .popup-inner {
        display:flex !important;
        width: 100%;

}
  .fa-user-circle-o {
        font-size: 40px;
        color: #a3c2dc;
    }
    .imageHolder {
        height: 40px;
        width: 40px
    }

    }


</style>
