<template>
    <div class="courses-page">
    <div class="page-header">
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>Courses Onlinjjjje</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div>
    </div>
</template>

<script>
    export default {
        name: "user-all-product-header-component"
    }
</script>

<style scoped>
    .container {
        padding: 0 !important;
    }

</style>