<template>
    <div class="sidebarcat">
        <ul>
         <li class="envCat">All Courses</li>
            <li class="envCat" v-if="categories.length > 0" v-for="(category, index) in categories">
                <div class="catName">{{category.name}}</div>
                <small></small>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "user-course-categories",
        data: function(){
            return {
                categories: []
            }
        },
        mounted(){
            axios.get('/api/product-all-category').then((response) => {
                if(response.status === 200){
                    this.categories = response.data.data;
                }
            }).catch((error) => {
                console.log(error);
            })
        }
    }
</script>

<style scoped>
    .catName {
        text-transform: capitalize;
    }

    .sidebarcat {
        margin-top: 30px;
    }

    .envCat {
        margin: 30px;
    }

</style>