
<template>
  <div class="main-page">
    <div class="form">
      <form action @submit.prevent="update" class="main-form">
        <legend class="text-center">Update Profile</legend>
        <div class="d-flex w-100 mob-form">
          <div class="leftTab">
            <h6 class="mb-1 text-muted">Personal Information</h6>
            <div class="rule"></div>
            <div class="form-group">
              <label for>First Name</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                v-model="user.first_name"
                placeholder="Full name"
                required
              />
            </div>

            <div class="form-group">
              <label for>Location</label>
              <select class="form-control" v-model="user.location" required>
                <option value="" disabled>Select State</option>
                <option v-for="(state,idx) in myStates" :key="idx">{{state}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for>Age</label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <input
                    required
                    v-model="user.age"
                    type="number"
                    class="form-control input-group-text"
                    aria-describedby="helpId"
                    placeholder="Enter age"
                  />
                </div>

                <div class="input-group-append">
                  <span class="form-control input-group-text bg-gray-light">years</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for>Phone number</label>

              <div class="input-group">
                <div class="input-group-prepend" style="width:30%">
                  <select class="input-group-text form-control" v-model="user.phone_code" required>
                    <option
                      v-for="(dial,idx) in myDials"
                      :key="idx"
                      :value="dial.dial_code"
                    >{{ dial.dial_code + ' - ' + dial.name }}</option>
                  </select>
                </div>

                <div class="input-group-append" style="width:70%">
                  <input
                    required
                    v-model="user.phone_no"
                    type="number"
                    class="form-control input-group-text text-left"
                    aria-describedby="helpId"
                    placeholder="Enter phone no"
                    minlength="6"
                    maxlength="10"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for>Gender</label>
              <select class="form-control" v-model="user.gender" required>
                <option value="">Select gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                v-model="user.address"
                aria-describedby="helpId"
                placeholder="Enter your address"
              />
            </div>
          </div>
          <div class="rightTab">
            <h6 class="mb-1 text-muted">Business Information</h6>
            <div class="rule"></div>
            <div class="form-group">
              <label for>Business name</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="helpId"
                v-model="user.business_name"
                placeholder="Business name"
                required
              />
            </div>
            <div class="form-group">
              <label for>Industry</label>

              <!-- column type is used for industry on the database table  -->

              <select class="form-control" v-model="user.industry" required>
                <option value="" disabled>Select Industry</option>
                <option :value="item.id" v-for="(item,idx) in industry" :key="idx">{{item.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for>Business Activity</label>
              <select class="form-control" v-model="user.business_type" required>
                <option value="" disabled>Select Activity</option>
                <option value="retailer">Retailer</option>
                <option value="manufacturer">Manufacturer</option>
              </select>
            </div>

            <div class="form-group">
              <label for>What do you do?</label>
              <textarea
                class="form-control"
                name
                id
                rows="3"
                v-model="user.bio"
                placeholder="Tell us what your business is about"
              ></textarea>
            </div>

            <div class="form-group">
              <label for>Business logo</label>
              <cl-upload  @getUpload ='getUpload' :oldimage='oldimage'></cl-upload>
            </div>
          </div>
        </div>
        <div class="butt">
          <button
            type="submit"
            @click="cancel"
            class="btn-secondary elevated_btn elevated_btn_sm text-main mx-5"
          >Cancel</button>
          <button type="submit" class="btn-primary elevated_btn elevated_btn_sm text-white btn-compliment mx-5">Update</button>
        </div>
      </form>
    </div>

   
  </div>
</template>
<style scoped>
.rule {
  border-bottom: 2px solid #ccc;
  width: 10%;
  margin-bottom: 16px;
}
.mobile {
  display: none;
}
.butt {
  display: flex;
  justify-content: space-between;
}
legend {
  display: block !important;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.display-6 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.main-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  margin-top: 0px;
}
.form-control-file {
  font-size: 14px;
}
.btn-block {
  font-size: 14px;
}
label {
  font-size: 14px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #fff;
  height: 100%;

  padding: 40px;
}
.rightTab,
.leftTab {
  width: 50%;
  padding:0 40px;
  background: #f7f8fa;
  border-radius: 5px;
}
.form-control {
  /* border-top: unset;
  border-left: unset;
  border-right: unset; */
  /* background-color:lightsteelblue; */
  border-radius: 5px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.44) !important;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.44) !important;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.44) !important;
}
.logo {
  width: 100px;
  height: auto;
}

.main-form {
  font-size: 16px;
  width: 80%;
  padding: 20px;
  background-color: #f7f8fa;
  max-height: 700px;
  overflow-y: scroll;
}
.image {
  position: relative;
  width: 60%;
  height: 100%;
  top: 0;
  bottom: 0;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background:linear-gradient(90deg, #36d1dc 0%,#5b86e5 100% ); */
  opacity: 0.5;
  top: 0;
  bottom: 0;
}
.overlay-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 100%;
  width: 100%;
}
.input-group-text {
  font-size: 13px;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .image {
    display: none !important;
  }
  .form {
    width: 100%;
    display: block;
    padding: 0;
  }
  .mobile {
    display: flex;
  }
  .main-form {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: #f7f8fa;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .butt {
    margin-bottom: 40px;
  }
  .mob-form {
    flex-direction: column;
  }
  .leftTab,
  .rightTab {
    width: 100%;
    padding: 10px;
  }
  legend {
    margin-top: 70px;
  }
}
</style>
<script>
import { states } from "./states";
import { dialCodes } from "./phoneCodes";
import { getCustomerHeader } from "../../../js/config";
import Cloudinary from "./cloudinaryComponent";

export default {
  name: "update-user-profile",
  data() {
    return {
      oldimage:'',
      industry: [],
      myStates: [],
      myDials: [],
      user: {
        bio: "",
        age: null,
        location: "",
        gender: "",
        first_name: "",
        last_name: "",
        phone_code: "+234",
        phone_no: null,
        business_type: "",
        logo: "",
        address: "",
        industry: ""
      },
      logoImage: "",
      userData: [],
      show: false,
     cloudinary: {
        uploadPreset: "knkccgjv",
        apiKey: "634813511968181",
        cloudName: "bizguruh-com"
      },
    };
  },
  components: {
    "cl-upload": Cloudinary
  },
  mounted() {
    this.myStates = states();
    this.myDials = dialCodes();
    this.getUser();
    this.getIndustry();
  },
  methods: {
    getIndustry() {
      axios.get(`/api/all-industries`).then(response => {
        this.industry = response.data;
      });
    },

    cancel() {
      let cancel = confirm("Are you sure you want to leave this page?");
      if (cancel) {
        this.$router.push("/explore");
      }
    },
    getUpload(value) {
      this.user.logo = value;
    },
    update() {
      this.show = true;
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        this.user.id = user.id;

        axios.post(`/api/update-profile`, this.user).then(response => {
          if (response.status === 200) {
            this.$toasted.success("Update successful, login to continue");

            this.logout();
          }
        });
      } else {
        this.show = false;
        this.$toasted.error("Login to update profile");
      }
    },
    logout() {
      (window.Engagespot = {}),
        (q = function(e) {
          return function() {
            (window.engageq = window.engageq || []).push({
              f: e,
              a: arguments
            });
          };
        }),
        (f = [
          "captureEvent",
          "subscribe",
          "init",
          "showPrompt",
          "identifyUser",
          "clearUser"
        ]);
      for (k in f) Engagespot[f[k]] = q(f[k]);
      var s = document.createElement("script");
      (s.type = "text/javascript"),
        (s.async = !0),
        (s.src = "https://cdn.engagespot.co/EngagespotSDK.2.0.js");
      var x = document.getElementsByTagName("script")[0];
      x.parentNode.insertBefore(s, x);

      Engagespot.init("cywCppTlinzpmjVHxFcYoiuuKlnefc");
      Engagespot.clearUser();

      localStorage.removeItem("authUser");
      localStorage.removeItem("login_token");

      this.$router.push("auth/login");
    },
    getUser() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user !== null) {
        axios
          .get("/api/user", { headers: getCustomerHeader() })
          .then(response => {
            if (response.status === 200) {
              this.userData = response.data;
              this.user.age = response.data.age;
              this.user.first_name = response.data.name;
              this.user.last_name = response.data.lastName;

              if (response.data.location) {
                this.user.location = response.data.location;
              }

              if (response.data.gender) {
                this.user.gender = response.data.gender;
              }

              this.user.bio = response.data.bio;
              this.user.business_type = response.data.business_type;
              this.user.business_name = response.data.business_name;
              this.user.phone_no = response.data.phoneNo;
              this.oldimage = response.data.logo;
              // this.logoImage = response.data.logo;
              this.user.address = response.data.address;
              this.user.industry = response.data.type;
            }
          });
      }
    }
  }
};
</script>

