<template>
    <div class="">

    <div class="paperDiv" v-if="whitePapers.length > 0" v-for="(whitePaper, index) in whitePapers">
        <div class=""><img :src="whitePaper.coverImage" class="imgPaper" width="150"></div>
        <div class="">
            <div class="paperTitle">{{whitePaper.title}}</div>
            <small class="datePaper">{{whitePaper.created_at | moment("MMM YYYY")}}</small>
            <div v-if="whitePaper.executiveSummary" class="whitePP">{{whitePaper.executiveSummary}}</div>
            <div v-else class="whitePP">{{whitePaper.excerpt}}</div>
        </div>
        <div>
        <div class="vieww"><div class="viewDetailCart" @click="addToCart(whitePaper.uid, index, whitePaper.title)">Add to Cart</div></div>
        <div class=""><div class="viewDetail"><router-link :to="{ name: 'ProductPaperDetail', params: {id: whitePaper.uid, name:  (whitePaper.title).replace(/\s+/g, '-').toLowerCase(), type: 'product'}}">View Detail</router-link></div></div>
            <div v-if="whitePaper.hardCopyPrice !== ''">
                <input type="radio" name="format" :value="whitePaper.hardCopyPrice" v-model="whitePaper.priceT" class="formatStyle"><span class="formatName">Hard Copy</span>
            </div>
            <div v-if="whitePaper.softCopyPrice !== ''">
                <input type="radio" name="format" :value="whitePaper.softCopyPrice" v-model="whitePaper.priceT" class="formatStyle"><span class="formatName">Digital</span>
            </div>
            <div v-if="whitePaper.readOnlinePrice !== ''">
                <input type="radio" name="format" :value="whitePaper.readOnlinePrice" v-model="whitePaper.priceT" class="formatStyle"><span class="formatName">Read Online</span>
<!--
                :value="whitePaper.softCopyPrice" v-model="whitePaper.priceT"
                 :value="whitePaper.hardCopyPrice" v-model="whitePaper.priceT"
                 :value="whitePaper.readOnlinePrice" v-model="whitePaper.priceT"
-->
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "user-paper-content-component",
        data: function(){
          return {
           whitePapers: [],
              name: this.$route.params.name,
              price: '',
              title: '',
              priceT: '',
              authenticate: false,
              email: '',
              user_id: '',
              user: {},
              showModal: false,
              anonymousCart: [],
              epiModal: true,
              epiFade: true,
              loginCart: []
          }
        },
        mounted(){
            let user = JSON.parse(localStorage.getItem('authUser'));
            if(user !== null){
                this.email = user.email;
                this.user_id = user.id;
                this.user = user;
                this.authenticate = true;
            }

            let name = (this.name).replace('-', ' ').toLowerCase().split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
          
            axios.get(`/api/get/prodtype/${name}`).then((response) => {
          
               if(response.status === 200){
                   let product = response.data.data;
                      product.forEach((item) => {
                          if(item.prodType === 'White Paper') {
                              item.whitePaper.category = item.category.name;
                              item.whitePaper.hardCopyPrice = item.hardCopyPrice;
                              item.whitePaper.uid = item.id;
                              item.whitePaper.price = '';
                              item.whitePaper.ptitle = '';
                              item.whitePaper.priceT = '';
                              item.whitePaper.softCopyPrice = item.softCopyPrice;
                              item.whitePaper.readOnlinePrice = item.readOnlinePrice;
                              item.whitePaper.coverImage = item.coverImage;
                              item.whitePaper.uid = item.id;
                              this.whitePapers.push(item.whitePaper);
                          }else if(item.prodType === 'Market Reports'){
                              item.marketReport.category = item.category.name;
                              item.marketReport.hardCopyPrice = item.hardCopyPrice;
                              item.marketReport.uid = item.id;
                              item.marketReport.softCopyPrice = item.softCopyPrice;
                              item.marketReport.price = '';
                              item.marketReport.priceT = '';
                              item.marketReport.ptitle = '';
                              item.marketReport.readOnlinePrice = item.readOnlinePrice;
                              item.marketReport.coverImage = item.coverImage;
                              item.marketReport.uid = item.id;
                              this.whitePapers.push(item.marketReport);
                          }else if(item.prodType === 'Market Research'){
                              item.marketResearch.category = item.category.name;
                              item.marketResearch.coverImage = item.coverImage;
                              item.marketResearch.hardCopyPrice = item.hardCopyPrice;
                              item.marketResearch.uid = item.id;
                              item.marketResearch.priceT = '';
                              item.marketResearch.price = '';
                              item.marketResearch.ptitle = '';
                              item.marketResearch.softCopyPrice = item.softCopyPrice;
                              item.marketResearch.readOnlinePrice = item.readOnlinePrice;
                              item.marketResearch.uid = item.id;
                              this.whitePapers.push(item.marketResearch);

                          }
                       })

               }
            }).catch((error) => {
                console.log(error);
            })
        },
        methods: {
            togglePrice(params, index) {
                if (params === 'hardCopy') {
                    
                    this.whitePapers[index].price = this.whitePapers[index].hardCopyPrice;
                    this.whitePapers[index].ptitle = 'HardCopy';
                } else if (params === 'softCopy') {
                   
                    this.whitePapers[index].price = this.whitePapers[index].softCopyPrice;
                   
                    this.whitePapers[index].ptitle = 'SoftCopy';

                } else if (params === 'readOnline') {
                   
                    this.whitePapers[index].price = this.whitePapers[index].readOnlinePrice;
                  
                    this.whitePapers[index].ptitle = 'ReadOnline';

                }

            },
            addToCart(id, index, title){
                if(this.whitePapers[index].priceT === ''){
                    this.$toasted.error('Please Select Product Format');
                }else {
                    let cart = {
                        productId: id,
                        price: this.whitePapers[index].priceT
                    };
             

                    if(this.whitePapers[index].priceT === this.whitePapers[index].hardCopyPrice){
                        cart.quantity = 1;
                        cart.prodType = 'HardCopy';
                    }else if(this.whitePapers[index].priceT === this.whitePapers[index].softCopyPrice){
                        cart.quantity = 0;
                        cart.prodType = 'SoftCopy';
                    }else if(this.whitePapers[index].priceT === this.whitePapers[index].readOnlinePrice){
                        cart.quantity = 0;
                        cart.prodType = 'ReadOnline';
                    }


                   
                    if (this.authenticate === false) {
                        cart.cartNum = 1;
                        this.anonymousCart.push(cart);
                        if (JSON.parse(localStorage.getItem('userCart')) === null) {
                            localStorage.setItem('userCart', JSON.stringify(this.anonymousCart));
                            let sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let cartCount = sessionCart.length;
                            this.$emit('getCartCountT', cartCount);
                            this.$emit('getCartCount', cartCount);
                            this.$notify({
                                group: 'cart',
                                title: title,
                                text: 'Successfully Added to Cart!'
                            })
                            this.epiFade = false;
                        } else if (JSON.parse(localStorage.getItem('userCart')) !== null) {
                            let sessionCart = JSON.parse(localStorage.getItem('userCart'));
                            let ss = sessionCart.length;
                            sessionCart[ss] = cart;
                            localStorage.setItem('userCart', JSON.stringify(sessionCart));
                            let a = JSON.parse(localStorage.getItem('userCart'));
                            let aCount = a.length;
                            this.$emit('getCartCountT', aCount);
                            this.$emit('getCartCount', aCount);
                            this.$notify({
                                group: 'cart',
                                title: title,
                                text: 'Successfully Added to Cart!'
                            })

                        }
                        this.epiFade = false;
                    } else {
                        this.addCart(cart, title);
                    }

                }


            },
            addCart(cart, title){
                axios.post('/api/cart', JSON.parse(JSON.stringify(cart)), { headers: {"Authorization" : `Bearer ${this.user.access_token}`} })
                    .then((response) => {
                        if(response.status === 201){
                            this.loginCart.push(response.data);
                            let aCount = this.loginCart.length;
                            this.$emit('getCartCountT', aCount);
                            this.$emit('getCartCount', aCount);
                            this.$notify({
                                group: 'cart',
                                title: title,
                                text: 'Successfully Added to Cart!'
                            })
                        }
                    }).catch((error) => {
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
    .formatName {
        font-weight: bold;
        font-size: 12px;
    }

    .formatStyle {
        float: left;
        margin-right: 10px;
    }

    .vieww {
        margin-bottom: 10px;
    }

    .productsPagePrice {
        border: 1px solid #a3c2dc;
        padding: 10px;
        cursor: pointer;
    }

    .productsPrice {
        display: flex;
        justify-content: space-between;
    }
    .datePaper {
        color: #cccccc;
    }
    .paperTitle {
        text-transform: capitalize;
        font-weight: bold;
    }

    .viewDetail {
        padding: 3px;
        border: 2px solid #a3c2dc;
        text-align: center;
        cursor: pointer;
    }

    .viewDetailCart {
        background-color: #a3c2dc !important;
        color: #ffffff;
        padding: 3px;
        text-align: center;
        cursor: pointer;
        border: 2px solid #a3c2dc;

    }

    .imgPaper {
        width: 150px;
    }

    .paperDiv {
        justify-content: space-between;
        display: flex;
        margin: 30px
    }

    .whitePP {
        height: 100px;
        width: 600px;
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
    }



    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

</style>
