<template>
  <div class="pt-3 main">
    <div class="why-biz">
      <div class="whyImg animated fadeIn">
        <img  src="/images/mockups/why.png" class="animated zoomIn" v-if="swing" alt />
        
      </div>
      <div class="text-left whyFirst" >
        <h3 class=" animated fadeIn mb-5 why" >Why Bizguruh ?</h3>
       
        <p class="card-text main-text animated fadeIn ">
          We really want to see you win, so we collaborate with industry experts to empower you with
          honest and practical business insight across various sectors; and highlight business opportunities for you to engage.
        </p>
        <br />
        <p class="card-text believe text-compliment animated slideInUp " >We believe that you can begin right where you are!.</p>
      </div>
    </div>
   
  </div>
</template>

<script>

export default {
  name: "why-bizguruh-component",
  data() {
    return {
      scrollPos: 0,
      currentHeight: 0,
      swing: false,
    };
  },

  mounted() {
     window.addEventListener("scroll", e => {
      this.scrollPos = window.scrollY;
      this.currentHeight = window.innerHeight;
    });
  },
   watch: {
    scrollPos: "swinging"
  },
  methods: {
     swinging() {
      if (this.scrollPos > window.innerHeight * 2.75) {
        this.swing = true;
      } 
    }
  },
};
</script>

<style scoped>
.main{
  background-color: rgba(164, 194, 219,.5);
}
.card-img-top {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.fa-star {
  color: gold;
}
.swiper-inner {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 350px;
}
.extraBg {
  width: 100%;
  height: 45%;
  bottom: 0;
  position: absolute;
  background-color: #f2f5fe;
}
.col-md-12 {
  padding: 0;
}
.pry-color {
  color: #24557d;
}
.secondView {
  /* background: #fff; */
  min-height: 100vh;
  margin-bottom: -20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underline{
  border-bottom: 3px solid #333;
    width: 40%;
    margin-top: -5px;
    margin-bottom: 16px;
}
.studentView {
  display: flex;
  justify-content: space-around;
}
.studentViews.mobile {
  display: none;
}
.subject_title {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.learn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px !important;
  color: #a4c2db !important;
}

.separator {
  color: #ffffff;
}
.separator2 {
  color: #373a3c;
}
.separator-danger {
  color: #a4c2db;
}
.separator {
  color: #ffffff;
  margin: 0 auto 20px;
  max-width: 240px;
  min-width: 200px;
  text-align: left;
  position: relative;
}
.separator2 {
  color: #373a3c;
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.separator-danger:before,
.separator-danger:after {
  border-color: white;
}
.separator:before {
  float: left;
}
.separator:before,
.separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid white;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.separator:after {
  border-color: #a4c2db;
}
.separator-danger:before,
.separator-danger:after {
  border-color: #a4c2db;
}
.separator:after {
  float: right;
}
.separator:before,
.separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #a4c2db;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.separator2:before {
  float: left;
}
.separator2:before,
.separator2:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #a4c2db;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.separator2:after {
  border-color: #a4c2db;
}
.separator-danger:before,
.separator-danger:after {
  border-color: #a4c2db;
}
.separator2:after {
  float: right;
}
.separator2:before,
.separator2:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #a4c2db;
}

.why-biz {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px 0;
    flex-direction: row-reverse;
    width:80%;
    margin: 0 auto;
      padding-top: 50px;
    padding-bottom: 45px;
 
}
.whyB {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom:50px; */

}
.whyImg {
  width: 50%;
  transition: all .4s;
  overflow: hidden;
  padding:30px 0;
}
.whyImg:hover img {
  transform: scale(1.01);
}
.whyImg img {
  width: 100%;
  height: 100%;
}
.whyFirst {
  width: 40%;
  margin-left: 0px;
  padding: 25px 0;
  color:#373a3c;
}
/* .bgShadow {
  position: absolute;
  height: 500px;
  width: 100%;
  background: rgb(0, 0, 0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.askBody {
  padding: 10px 40px;
}

.card {
  border: none !important;
  padding: 10px 15px;
}
.card-body {
  padding: 0 !important;
}
.card {
  box-shadow: none;
}
.student {
  background: rgba(163, 194, 220, 0.2);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15);
  height: auto;
  padding: 10px 5px;
  text-align: center;
  border-radius: 30px;
}
.test_name {
  font-weight: bold;
  margin-bottom: 5px;
}
.test_story {
  text-align: left;
}

h3.card-title {
  font-weight: bolder;
  font-size: 34px;
  color:#333;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
}
.card-body {
  color: #373a3c !important;
}
/* .card-text:last-child {
  margin-bottom: 0;
  font-size: 18px;
} */
.believe {
  font-size: 16px;
  font-weight:bold;
  text-transform: uppercase;

}
b {
  color: #373a3c !important;
}
/* img {
  max-height: 83px;
} */
.bizguruh {
  margin-left: auto;
  margin-right: auto;
}

.btn-bizguruh {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: hsl(207, 45%, 75%) !important;
  color: #f3f3f3;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px !important;
  text-transform: inherit;
}
.btn-bizguruh:hover {
  background: #f3f3f3 !important;
  color: #a4c2db;
}

.know {
  color: #a4c2db !important;
}
.mobile-slide {
  display: none;
}
.main-text {
  font-size: 20px;
  line-height: 1.6;
}
.ptext {
  color: #373a3c;
  overflow: hidden;
}

.theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #ffffff;
}

.v-btn:not(.v-btn--outline).accent,
.v-btn:not(.v-btn--outline).error,
.v-btn:not(.v-btn--outline).info,
.v-btn:not(.v-btn--outline).primary,
.v-btn:not(.v-btn--outline).secondary,
.v-btn:not(.v-btn--outline).success,
.v-btn:not(.v-btn--outline).warning {
  color: #a4c2db;
}
.v-btn__content {
  color: #a4c2db;
}
.v-btn {
  height: 40px;
  border-radius: 5px;
}

.why-biz p.ptext {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.64);
  font-family: "Poppins";
}

.why-icons {
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
}
.why-icon {
  height: auto;
  padding: 10px;
  background: rgba(163, 194, 220, 0.2);
  margin-bottom: 12px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  text-align: center;
}
.why-icon img {
  width: 80px;
  height: auto;
}
.why-icon.ptext {
  font-size: 14px;
}

.why-icon {
  border-radius: 5px;
}
@media (max-width: 768px) {
  .whyImg{
    padding:30px 0;
  }
  .main {
    width: 100%;
  }
  .why-biz{
    flex-direction: column-reverse;

  }
  .whyFirst{
    width: 100%;
    margin-left: 0;
    padding: 15px;
    color: #373a3c;
    text-align: center !important;
    min-height: 250px;
  }
  .whyImg{
    width:90%;
  }
  h3.card-title{
    font-size:28px;
  }
   h4.card-title{
    font-size:16px;
  }
  .card-text{
    font-size: 18px;
  }
  .underline{
    margin-left:auto;
    margin-right:auto;
    width:20%;

  }
}
@media (max-width: 575px) {
  .why-icon {
    margin-bottom: 40px;
  }
  .askBody {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .why-biz{
    width:90%;
  }
  .w-25 {
    width: 50% !important;
  }
  .card-img-top {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  /* .why-biz {
    height: auto;
  } */
  .swiper-inner {
    width: 100%;
    height: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
  }

  .subject_title {
    padding: 10px 10px;
    font-size: 24px;
  }
  .askBody {
    padding: 0 15px;
  }

  .learn {
    margin-top: 30px !important;
  }
  .whyB,
  .bgShadow {
    height: 400px;
  }
  .bgShadow {
    margin: 0;
  }

  .main-text {
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
  }

  .why-icons {
    display: none !important;
  }
  .why-icon {
    margin-bottom: 0;
    margin-top: 10px;
    height: auto;
  }
  /* .card-body{
      padding: 0;
  } */

  .btn-bizguruh {
    border-radius: 5px !important;
  }
}
</style>
