<template>
  <div class="bapPage" v-if="show">
    <div class="side"  :class="{mobileNav:!showMenu}">
      <Sidebar :showMenu="showMenu" @handleMobileMenu="handleMobileMenu"/>
    </div>
    <div class="page">
      <router-view :currentSub="currentSub"></router-view>
    </div>
  </div>
</template>

<script>
import Sidebar from "./sidebar";
export default {
  data() {
    return {
      show: false,
      currentSub: 0,
      showMenu: true
    };
  },
  components: {
    Sidebar
  },
  watch: {
    $route:'handleMobileMenu'
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.getUserSub();
    });
  },
  mounted() {
    if(window.innerWidth < 768){
      this.showMenu = false
    }
  },
  methods: {
    handleMobileMenu() {
      if(window.innerWidth < 768){
      this.showMenu = !this.showMenu;
    }
    
    },
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      if (user !== null) {
        axios.get(`/api/user-sub/${user.id}`).then(response => {
          if (response.status == 200) {
            this.currentSub = Math.round(response.data);
            if (this.currentSub < 3) {
              this.$router.go(-1);
            }
            if (this.currentSub > 2) {
              this.show = true;
            }
          }
        });
      }
    }
  }
};
</script>

<style scoped>
.bapPage {
  width: 100%;
  height: 100vh;
  background-color: #f7f8fa;
  display: flex;
}
.mobileNav{
  height: 6% !important;
}
.side {
  width: 20%;
  height: 100%;
}
.page {
  width: 80%;
  height: 100%;
  overflow: scroll;
  padding: 15px;
  padding-bottom: 60px;
  position: relative;
}
@media (max-width: 768px) {
  .side {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom:0;
  }
  .page {
    width: 100%;
    padding: 0
  }
}
</style>