<template>
  <div class="">
    <div class="container-fluid flex-column">
      
      <div class="progress-box">
        <div class="myProgress rounded">
          <h4 class="p-2 text-left">Your Progress</h4>
       
          <div class="myProgress-box shadow-sm">
            <ul>
              <li>
                <i class="fa fa-check text-white startLine fa-2x finished" v-if="finished_1"></i>
                <i class="fa fa-refresh text-white startLine fa-2x active" v-if="active_1"></i>
                <i class="fa fa-times text-white startLine fa-2x" v-if="pending_1"></i>
                <br />
                <p class="progress-title">Financial Accounting</p>
                <div class="faText shadow-sm" v-if="finished_1">Completed</div>
                <div class="faText shadow-sm" v-if="active_1">Active</div>
                <div class="faText shadow-sm" v-if="pending_1">Pending</div>
              </li>
              <li>
                <i class="fa fa-check text-white startLine fa-2x finished" v-if="finished_2"></i>
                <i class="fa fa-refresh text-white startLine fa-2x active" v-if="active_2"></i>
                <i class="fa fa-times text-white startLine fa-2x" v-if="pending_2"></i>
                <br />
                <p class="progress-title">Business Education</p>
                <div class="faText shadow-sm" v-if="finished_2">Completed</div>
                <div class="faText shadow-sm" v-if="active_2">Active</div>
                <div class="faText shadow-sm" v-if="pending_2">Pending</div>
              </li>
              <li>
                <i class="fa fa-check text-white startLine fa-2x finished" v-if="finished_3"></i>
                <i class="fa fa-refresh text-white startLine fa-2x active" v-if="active_3"></i>
                <i class="fa fa-times text-white startLine fa-2x" v-if="pending_3"></i>
                <br />
                <p class="progress-title">Management System</p>
                <div class="faText shadow-sm" v-if="finished_3">Completed</div>
                <div class="faText shadow-sm" v-if="active_3">Active</div>
                <div class="faText shadow-sm" v-if="pending_3">Pending</div>
              </li>
              <li>
                <i class="fa fa-check text-white startLine fa-2x finished" v-if="finished_4"></i>
                <i class="fa fa-refresh text-white startLine fa-2x active" v-if="active_4"></i>
                <i class="fa fa-times text-white startLine fa-2x" v-if="pending_4"></i>
                <br />
                <p class="progress-title">Evaluation</p>
                <div class="faText shadow-sm" v-if="finished_4">Completed</div>
                <div class="faText shadow-sm" v-if="active_4">Active</div>
                <div class="faText shadow-sm" v-if="pending_4">Pending</div>
              </li>
              <li>
                <i class="fa fa-check text-white startLine fa-2x finished" v-if="finished_5"></i>
                <i class="fa fa-refresh text-white startLine fa-2x active" v-if="active_5"></i>
                <i class="fa fa-times text-white startLine fa-2x" v-if="pending_5"></i>
                <br />
                <p class="progress-title">Re-evaluation</p>
                <div class="faText shadow-sm" v-if="finished_5">Completed</div>
                <div class="faText shadow-sm" v-if="active_5">Active</div>
                <div class="faText shadow-sm" v-if="pending_5">Pending</div>
              </li>
              <li>
                <i class="fa fa-check text-white startLine fa-2x finished" v-if="finished_6"></i>
                <i class="fa fa-refresh text-white startLine fa-2x active" v-if="active_6"></i>
                <i class="fa fa-times text-white startLine fa-2x" v-if="pending_6"></i>
                <br />
                <p class="progress-title">Insurance & Loans</p>
                <div class="faText shadow-sm" v-if="finished_6">Completed</div>
                <div class="faText shadow-sm" v-if="active_6">Active</div>
                <div class="faText shadow-sm" v-if="pending_6">Pending</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "guides-progress-component",

  data() {
    return {
      mainShow: false,
      bap: false,
      preview: false,
      history: [],
      singleHistory: {},
      answer: [],
      question: [],
      questions: {},
      showChat: false,
      usersub: 0,
      all_record: [],
      active_record: {},
      active_1: false,
      pending_1: true,
      finished_1: false,
      active_2: false,
      pending_2: true,
      finished_2: false,
      active_3: false,
      pending_3: true,
      finished_3: false,
      active_4: false,
      pending_4: true,
      finished_4: false,
      active_5: false,
      pending_5: true,
      finished_5: false,
      active_6: false,
      pending_6: true,
      finished_6: false,
      template: {},
      templates: []
    };
  },

  mounted() {
    this.getUserSub()
  },
  methods: {
    
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));
             this.getRecords();
           
    },

    getRecords() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get("/api/get-active-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.active_record = response.data;
            this.switchProgress(this.active_record.current_month);
          }
        });
      axios
        .get("/api/get-all-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.all_record = response.data;
          }
        });
    },
    switchProgress(id) {
      switch (id) {
        case "1":
          this.active_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = true;
          this.pending_1 = this.finished_1 = false;
          this.active_2 = this.active_3 = this.active_4 = this.active_5 = this.active_6 = false;
          this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;

          break;
        case "2":
          this.active_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = this.finished_1 = true;
          this.pending_1 = this.pending_2 = false;
          this.active_1 = this.active_3 = this.active_4 = this.active_5 = this.active_6 = false;
          this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;
          break;
        case "3":
          this.active_3 = this.pending_4 = this.pending_5 = this.pending_6 = this.finished_1 = this.finished_2 = true;
          this.pending_2 = this.pending_1 = this.pending_3 = false;
          this.active_1 = this.active_2 = this.active_4 = this.active_5 = this.active_6 = false;
          this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;
          break;
        case "4":
          this.active_4 = this.pending_5 = this.pending_6 = this.finished_1 = this.finished_2 = this.finished_3 = true;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = false;
          this.active_1 = this.active_2 = this.active_3 = this.active_5 = this.active_6 = false;
          this.finished_4 = this.finished_5 = this.finished_6 = false;
          break;
        case "5":
          this.active_5 = this.pending_6 = this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = true;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = false;
          this.active_1 = this.active_2 = this.active_3 = this.active_4 = this.active_6 = false;
          this.finished_5 = this.finished_6 = false;
          break;
        case "6":
          this.active_6 = this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = true;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = false;
          this.active_1 = this.active_2 = this.active_3 = this.active_4 = this.active_5 = false;
          this.finished_6 = false;
          break;
        default:
          this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = true;
          this.active_1 = this.active_2 = this.active_3 = this.active_4 = this.active_5 = this.active_6 = false;
          break;
      }
    }
  }
};
</script>

<style scoped>
.main {
  padding: 25px;
  position: relative;
  padding-top: 65px;
  background: #f7f8fa;
}
.sad {
  opacity: 0.3;
}
p {
  margin-bottom: 0.8em;
}
h4 {
  text-align: center;
}
.topic {
  font-size: 20px;
  font-family: "Josefin Sans";
}
.templates {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.template {
  height: 50px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  background-image: linear-gradient(
    to right top,
    #414d57,
    #52616e,
    #647786,
    #778c9f,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #778c9f,
    #647786,
    #52616e,
    #414d57
  );
  transition: all 2s;
}
.template_text {
  text-align: center;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 50%;
  margin-left: -50%;
  top: 50%;
  margin-top: -10px;
  color: white;
  font-family: "Josefin Sans";
  width: 100%;
}
.template:hover {
  background-image: linear-gradient(
    to left top,
    #a4c2db,
    #90abc1,
    #7d94a7,
    #6a7e8e,
    #586876,
    #586876,
    #586876,
    #586876,
    #6a7e8e,
    #7d94a7,
    #90abc1,
    #a4c2db
  );
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  z-index: 2;
  justify-content: center;
}
.preview {
  background: white;
  padding: 30px;
  border-radius: 4px;
  width: 70%;
  margin: 70px auto;
  margin-bottom: 0;
  font-size: 13.5px;
  overflow: scroll;
  height: 80%;
}
.preview table {
  font-size: 14px;
}
.resp {
  display: flex;
}
.res1,
.res2 {
  width: 50%;
}
.work-folder {
  border: 1px solid #f7f8fa;
  padding: 10px;
  text-align: center;
}
.main-profile {
  display: flex;
  flex-direction: column;
}
.chatbox {
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 3;
  background-color: #f7f8fa;
}
.chatIcon {
  font-size: 11px;
  margin-top: -4px;
}

.profile-box {
  width: 25%;
  padding: 25px;
  background: #fff;
}
.progress-box {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
 
}
.myProgress {
  width: 100%;
  background: #fff;
}
.myProgress-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: #fff;
}
.quest {
  font-size: 14px;
}
ul {
  text-align: center;
}
ul li {
  display: inline-block;
  width: 150px;
  position: relative;
}
ul li .fa {
  padding: 15px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.faText {
  position: absolute;
  background: #f7f8fa;
  display: none;
  top: 39px;
  right: 17px;
  padding: 2px 10px;
  font-size: 11px;
  z-index: 1;
  width: 70px;
  height: 26px;
  border-radius: 3px;
}
ul li:hover .faText {
  display: block;
}
.faText::before {
  content: "";
  position: absolute;
  top: -5px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  background: #f7f8fa;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  z-index: 1;
}

ul li .fa::after {
  content: "";
  position: absolute;
  width: 155px;
  background: #ccc;
  height: 5px;
  display: block;
  top: 50%;
  margin-top: -2.5px;
  z-index: -1;
}
.fa-user-circle {
  font-size: 100px;
}

.progress-title {
  font-size: 12px;
  font-weight: bold;
}
th {
  background-color: hsl(207, 43%, 20%) !important;
  font-size: 14.5px;
}
td {
  text-transform: capitalize;
  font-size: 14.5px;
}
.fa-1x {
  font-size: 1.3em;
}
ul li .fa.active {
  background: #8e8e8e;
}
ul li .fa.active::after {
  background: #8e8e8e;
}
ul li .fa.finished {
  background: hsl(207, 43%, 20%);
}
ul li .fa.finished::after {
  background: hsl(207, 43%, 20%);
}
.myProgress-box .progress-1 .my_circle {
}

.mySurveys {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 60% 38%;
  grid-column-gap: 20px;
}
.mySurveyHistory,
.mySurveyScores {
  text-align: center;
  padding: 20px;
  background: #fff;
}
th,
td {
  text-align: center;
}
.profile-image {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  line-height: 30px;
}
.info p {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    padding: 15px;
  }
  .profile-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .info {
    width: 50%;
  }
  .progress-box {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
  }
  .myProgress-box {
    padding: 20px 0;
  }
  .mySurveys {
    grid-template-columns: auto;
  }

  .info {
    line-height: 30px;
    font-size: 14px;
  }
  ul li {
    width: 95px;
  }
  ul li .fa {
    padding: 8px;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    font-size: 9px;
  }
  ul li .fa::after {
    width: 100px;
    background: #ccc;
    height: 3px;
    display: block;
    top: 50%;
    margin-top: -1.5px;
    z-index: -1;
  }
  .progress-title {
    font-size: 9px;
  }
  .main-profile {
    flex-direction: row;
  }
}
@media (max-width: 425px) {
  .preview {
    background: white;
    padding: 15px;
    border-radius: 4px;
    width: 96%;
    margin: 90px auto;
    margin-bottom: 0;
    height: 80%;
    font-size: 13px;
    overflow: scroll;
  }

  .chatbox {
    bottom: 30px;
    right: 1px;
  }
  .container-fluid {
    flex-direction: column;
    margin-top: 0;
    padding: 10px;
  }
  .profile-box {
    width: 100%;
    padding: 10px;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }
  .info {
    line-height: 28px;
    font-size: 14px;
    width: 70%;
  }
  ul li {
    width: 100px;
  }
  ul li .fa {
    padding: 8px;
    align-items: center;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    font-size: 8px;
  }
  ul li .fa::after {
    width: 105px;
    background: #ccc;
    height: 3px;
    display: block;
    top: 50%;
    margin-top: -1.5px;
    z-index: -1;
  }
  li {
    margin-bottom: 25px;
    line-height: 1.2;
  }
  .progress-title {
    font-size: 9px;
    line-height: 1.2;
  }
  .main {
    padding: 0;
    padding-top: 10px;
  }
  .work-folder {
    width: 100%;
  }
  .main-profile {
    flex-direction: column;
  }
  .mySurveyHistory,
  .mySurveyScores {
    padding: 10px;
  }
}
</style>