<template>
  <div class="mi"> 
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        v-if="!showResult"
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my business vision"
      />
    </div>
    <div class="question">
      <router-link to="/entrepreneur/bap" class="back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
      </router-link>

      <form @submit.prevent="previewAnswer">
        <legend>My Business Vision</legend>

        <div class="mb-5">
          <div class="form-group mb-5">
            <h4 class="mb-3">My Business Vision</h4>
            <p
              class="mb-2"
            >Consider your business a house. If you were building a house you would first have a vision of what you’d want the house to be: big or small, one story or one, in the heart of town or somewhere quiet etc.</p>
            <p
              class="mb-2"
            >The same is true for building a business: you need a vision of what you hope to achieve. You don’t have to understand how to achieve it today, but it should help inform direction and help set priorities.</p>

            <p
              class="mb-3"
            >Your Vision should not be one of those things you just write and leave to gather dust, it should be considered every time you need to make an important decision in your business.</p>
            <h4 class="mb-2">When I imagine my business I hope:</h4>
            <label class="custom-control custom-checkbox">
              <input
                
                type="checkbox"
                v-model="questions.one.q1"
                value="To make a lot of money"
                class="custom-control-input"
              />
              <span class="custom-control-indicator">To make a lot of money</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                
                type="checkbox"
                v-model="questions.one.q1"
                value="To use my creativity"
                class="custom-control-input"
              />
              <span class="custom-control-indicator">To use my creativity</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                
                type="checkbox"
                v-model="questions.one.q1"
                value="To have more flexibility in my life"
                class="custom-control-input"
              />
              <span class="custom-control-indicator">To have more flexibility in my life</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                
                type="checkbox"
                v-model="questions.one.q1"
                value="To work mostly alone but profitably"
                class="custom-control-input"
              />
              <span class="custom-control-indicator">To work mostly alone but profitably</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                
                type="checkbox"
                v-model="questions.one.q1"
                value="To build my company with partners and employees"
                class="custom-control-input"
              />
              <span class="custom-control-indicator">To build my company with partners and employees</span>
            </label>
          </div>

          <div class="form-group mb-5">
            <label for>
              My BHAV --
              <em>“big, hairy, audacious vision”</em>
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Even if it seems unattainable at first glance that’s perfectly all right. It is what you envision, after all."
              ></i>
            </label>

            <textarea class="form-control" v-model="questions.one.q2" rows="5"></textarea>
          </div>

          <div class="form-group mb-5">
            <label for>
              My Achievement Timeframe
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="How long is the time period within which you expect to achieve the goal that you have envisioned ? "
              ></i>
            </label>
            <input
              
              type="text"
              class="form-control form-borderless"
              v-model="questions.one.q3"
              aria-describedby="helpId"
              placeholder="type here.."
            />
          </div>

          <div class="form-group mb-5">
            <h4 class="mb-3">Test Your Vision :</h4>
            <div class="mb-3">
              <p>
                Is it huge, incredible and bold?
                <i
                  class="fas fa-question-circle"
                  aria-hidden="true"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Even if it seems unattainable at first glance that’s perfectly all right. It is what you envision, after all."
                ></i>
              </p>

              <label class="custom-control custom-radio">
                <input
                  
                  type="radio"
                  v-model="questions.one.q4"
                  value="Yes"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Yes</span>
              </label>
              <label class="custom-control custom-radio">
                <input
                  
                  type="radio"
                  v-model="questions.one.q4"
                  value="Not quite"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Not quite</span>
              </label>
            </div>

            <div class="mb-3">
              <p>
                Is it specific, clear and concise?
                <i
                  class="fas fa-question-circle"
                  aria-hidden="true"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Will anyone who reads your BHAV be able to grasp it at first look without any need for questions or clarifications?"
                ></i>
              </p>

              <label class="custom-control custom-radio">
                <input
                  
                  type="radio"
                  v-model="questions.one.q5"
                  value="Yes"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Yes</span>
              </label>
              <label class="custom-control custom-radio">
                <input
                  
                  type="radio"
                  v-model="questions.one.q5"
                  value="Not quite"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Not quite</span>
              </label>
            </div>

            <div class="mb-3">
              <p>Is it future-oriented?</p>

              <label class="custom-control custom-radio">
                <input
                  
                  type="radio"
                  v-model="questions.one.q6"
                  value="Yes"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Yes</span>
              </label>
              <label class="custom-control custom-radio">
                <input
                  
                  type="radio"
                  v-model="questions.one.q6"
                  value="Not quite"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Not quite</span>
              </label>
            </div>
          </div>

          <div class="w-100 butt">
            <button
              type="submit"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
            >Preview</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import previewTemp from "./previewTemplate";
export default {
  data() {
    return {
      bap: true,
      month: 0,
      week: 0,
      preview: false,
      industry: [],
      record: {},
      questions: {
        one: {
          q1: [],
          q2: "",
          q3: "",
          q4: "",
          q5: "",
          q6: ""
        }
      },
      showResult: false,
      gotoFifth: true
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getIndustry();
    this.getDraft();
  },
  methods: {
    getIndustry() {
      axios.get(`/api/all-industries`).then(response => {
        this.industry = response.data;
      });
    },

    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
      this.showResult = false;

      this.$router.push("/bap");
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business vision"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business vision"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business Concept"
      };

        axios
                  .post(`/api/save-responses`, data, {
                    headers: {
                      Authorization: `Bearer ${user.access_token}`
                    }
                  })
                  .then(response => {
                    if (response.data.status == "saved") {
                      this.$toasted.success("Completed");

                      this.showResult = true;
                      this.preview = true;
                    }
                  });
   
    }
  }
};
</script>
<style scoped>
.containder-fluid {
  padding-right: 1px;
  padding-left: 1px;
  font-size: 15px;
}
.mi{
  position: relative;
}
.back {
  font-size: 14px;
  position: absolute;
  top: 0;
}
label {
  font-weight: normal;
}
.question {
  position: relative;
  margin: 0px auto;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 65px;
  border-radius: 4px;
 
}
.sub_title {
  font-size: 9px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
form {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}
.result {
  padding: 10px;
}
ol,
ul,
td,
th {
  text-transform: capitalize;
}
ol {
  font-weight: bold;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
}
.options {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}
label.custom-radio {
}
.form-group {
  margin: 15px 0;
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.progress_box {
  padding: 25px 0;
  position: relative;
}
.progress_bar {
  text-align: center;
  position: relative;
}
.progress_bar li {
  display: inline-table;
  position: relative;
  width: 55px;
}
.progress_bar li .fa {
  padding: 10px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.progress_bar li .fa::after {
  content: "";
  position: absolute;
  width: 60px;
  background: #ccc;
  height: 3px;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  z-index: -1;
}
.progress_bar li .fa.active {
  background: hsl(207, 43%, 20%);
}
.progress_bar li .fa.active::after {
  background: hsl(207, 43%, 20%);
}
.progress_bar li p {
  font-size: 9px;
  line-height: 1.4;
}
.preview,
.result {
  background: white;
  padding: 15px;
  border-radius: 4px;
  width: 96%;
  margin: 90px auto;
  margin-bottom: 0;
  height: 85%;
  font-size: 13px;
  overflow: scroll;
}
.preview table {
  font-size: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}
label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .progress_bar li {
    width: 50px;
  }
  .progress_bar li .fa {
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .progress_bar li .fa::after {
    width: 60px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .question {
    width: 95%;
    padding-top: 80px;
  }
  .back {
    top: 10px;
  }
  .progress_bar li p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 130px;
  }
  .progress_bar li .fa {
    padding: 10px;

    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .progress_bar li .fa::after {
    width: 135px;
  }
  .tab-prev {
    font-size: 14px;
  }
  .options {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .sub_title {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) {
  .sub_title {
    font-size: 14px;
  }
  .back {
    top: 10px;
  }
  .question {
    margin: 0px auto;
    width: 90%;
    padding: 25px;
    padding-top: 60px;
    padding-bottom: 100px;

    border: 1px solid #f7f8fa;
  }
  .options {
    grid-template-columns: auto auto auto auto auto;
  }
  legend {
    font-size: 28px;
  }
  .preview,
  .result {
    background: white;
    padding: 30px;
    border-radius: 4px;
    width: 70%;
    margin: 80px auto;
    margin-bottom: 0;
  }
  .result {
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
  }
  table {
    font-size: 16px;
  }
  select.form-control {
    font-size: 16px;
  }
  .form-control.border-0 {
    font-size: 16px;
  }
  blockquote {
    width: 80%;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 150px;
  }
  .progress_bar li .fa {
    padding: 15px;

    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .progress_bar li .fa::after {
    width: 155px;
  }
}

@media only screen and (min-width: 1024px) {
  .question {
    width: 80%;
  }
  .progress_bar li p {
    font-size: 13px;
  }
}
</style>