<template>
  <div class="mi">
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        v-if="!showResult"
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my business concept"
      />

      <div class="result" v-if="showResult">
        <h3 class="w-100 text-center mb-3">Summary</h3>
        <p>
          Your business can be either
          <strong>cost-driven or value-driven.</strong> A cost-driven company looks to minimize all costs while a value-driven company is more focused on delivering great customer value in terms of quality or prestige.
        </p>
        <p>The simple solution for sustainable business profitability is to keep your fixed costs as low as possible. Always think thoroughly before incurring a fixed cost, and have a solid strategy on how to recoup the cost and make reasonable returns on every investment.</p>

        <button
          type="button"
          class="elevated_btn elevated_btn_sm btn-compliment text-white mx-auto"
          @click="closePreview"
        >Dismiss</button>
      </div>
    </div>
    <div class="question">
      <router-link to="/entrepreneur/bap" class="back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
      </router-link>

      <div class="progress_box">
        <ul class="progress_bar">
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_1"
              @click="switchBatch('first')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_1"
              @click="switchBatch('first')"
            ></i>
            <p>Business concept</p>
          </li>
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_2"
              @click="switchBatch('second')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_2"
              @click="switchBatch('second')"
            ></i>
            <p>Customer segment</p>
          </li>
          <li>
            <i
              class="fa fa-refresh"
              aria-hidden="true"
              v-if="!batch_3"
              @click="switchBatch('third')"
            ></i>
            <i
              class="fa fa-check active"
              aria-hidden="true"
              v-if="batch_3"
              @click="switchBatch('third')"
            ></i>
            <p>UVP</p>
          </li>
        </ul>
      </div>
      <form @submit.prevent="submit">
        <legend>My Business Concept</legend>
        <blockquote>
          <em>“Anything that won’t sell, I don’t want to invent.”</em>
          – Thomas Edison
        </blockquote>
        <p>It is easier to get a piece an existing market than to create a new one. The iPod wasn’t the first digital music player; Google wasn’t the first search engine; Facebook wasn’t the first social media platform. There are lots of advantages to being a follower.</p>

        <p>Please read our guide on Developing your Business Concept for a detailed insight on how to identify your strategic position.</p>

        <div class="mb-5 w-100" v-if="batch_1">
          <h5>MY BUSINESS OVERVIEW</h5>
          <div class="form-group">
            <label for>I am a</label>
            <select required class="custom-select" v-model="questions.one.q1">
              <option value="selected">Select one</option>
              <option value="retailer">Retailer</option>
              <option value="manufacturer">Manufacturer</option>
              <option value="distributor">Distributor</option>
              <option value="service provider">Service Provider</option>
            </select>
          </div>

          <div class="form-group">
            <label for>I belong in the industry</label>
            <select required class="custom-select" v-model="questions.one.q2">
              <option value="selected">Select one</option>
              <option :value="name.name" v-for="(name,idx) in industry" :key="idx">{{name.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for>I run my business</label>
            <select required class="custom-select" v-model="questions.one.q3">
              <option value="selected">Select one</option>
              <option value="online">Online</option>
              <option value="offline">Offline</option>
              <option value="both">Both</option>
            </select>
          </div>

          <div class="form-group">
            <label for>My products/services are</label>
            <div v-for="(item,idx) in questions.one.q4" :key="idx" class="mb-1">
              <input
                type="text"
                class="form-control form-borderless"
                aria-describedby="helpId"
                :placeholder="idx + 1 +'.'"
                v-model="item.name"
              />
            </div>
            <div class="butt w-md-35 w-100">
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main"
                @click="delService('one')"
                v-if="questions.one.q4.length > 1"
              >
                Remove
                <i class="fa fa-trash ml-1" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main ml-auto"
                @click="newService('one')"
              >
                Add
                <i class="fa fa-plus-circle ml-1" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="w-100 butt">
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
              @click="switchBatch('second')"
            >Continue</button>
          </div>
        </div>
        <div class="mb-5" v-if="batch_2">
          <h5>MY CUSTOMER SEGMENTS</h5>

          <blockquote>
            <em>"Want to know one sure way to fail in small business? Try to sell to everyone!"</em>
            -- BizGuruh
          </blockquote>

          <p
            class="my-2"
          >A key to small business success is carving out a niche, rather than competing for every customer; small businesses just don’t have the resources of time or money to be generalist.</p>

          <div class="form-group mb-5">
            <label for>
              My ideal customers are?
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Here is some suggestion below"
              ></i>
            </label>

            <div class="d-flex justify-content-between">
              <div>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Men"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Men</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Women"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Women</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Maternity"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Maternity</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Girls"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Girls</span>
                </label>
              </div>
              <div>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Boys"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Boys</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Toddlers"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Toddlers</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Babies"
                    class="custom-control-input"
                    v-model="questions.two.q1"
                  />
                  <span class="custom-control-indicator">Babies</span>
                </label>
              </div>
            </div>
            <input
              type="text"
              class="form-control form-borderless"
              aria-describedby="helpId"
              placeholder="For others specify here"
              v-model="questions.two.q1[0]"
            />
          </div>

          <div class="form-group mb-5">
            <label for>
              My ideal customer is mostly in one or more of the following places:
              <i
                class="fas fa-question-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="CHere is some suggestion below"
              ></i>
            </label>
            <div class="d-flex justify-content-between">
              <div class="P-1">
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Lagos"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Lagos</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Abuja"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Abuja</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="PHC"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">PHC</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Africa"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Africa</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Nigeria"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Nigeria</span>
                </label>
              </div>
              <div class="P-1">
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Southwest"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Southwest</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Southeast"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Southeast</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="South-South"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">South-South</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="North-Central"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">North-Central</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Northeast"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Northeast</span>
                </label>
              </div>
              <div class="P-1">
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Northwest"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Northwest</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Instagram"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Instagram</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Twitter"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Twitter</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    value="Whatsapp"
                    class="custom-control-input"
                    v-model="questions.two.q2"
                  />
                  <span class="custom-control-indicator">Whatsapp</span>
                </label>
              </div>
            </div>
            <input
              type="text"
              class="form-control form-borderless"
              aria-describedby="helpId"
              placeholder="For Others specify here"
              v-model="questions.two.q2[0]"
            />
          </div>

          <div class="form-group mb-5">
            <label for>My ideal customer works as any of the following:</label>
            <div v-for="(item,idx) in questions.two.q3" :key="idx" class="mb-1">
              <input
                type="text"
                class="form-control form-borderless"
                aria-describedby="helpId"
                :placeholder="idx + 1 +'.'"
                v-model="item.name"
              />
            </div>
            <div class="butt w-md-35 w-100">
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main"
                @click="delService('two')"
                v-if="questions.two.q3.length > 1"
              >
                Remove
                <i class="fa fa-trash ml-1" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main ml-auto"
                @click="newService('two')"
              >
                Add
                <i class="fa fa-plus-circle ml-1" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="form-group mb-5">
            <label for>My ideal customer wants the following from my product/service (List top 3)</label>
            <div v-for="(item,idx) in questions.two.q4" :key="idx" class="mb-1">
              <input
                type="text"
                class="form-control form-borderless"
                aria-describedby="helpId"
                :placeholder="idx + 1 +'.'"
                v-model="item.name"
              />
            </div>
            <div class="butt w-md-35 w-100">
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main"
                @click="delService('three')"
                v-if="questions.two.q4.length > 1"
              >
                Remove
                <i class="fa fa-trash ml-1" aria-hidden="true"></i>
              </button>
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main ml-auto"
                @click="newService('three')"
              >
                Add
                <i class="fa fa-plus-circle ml-1" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="form-group mb-5">
            <label for class="d-flex">
              My ideal customer earns
              <CurrencyInput
                :currency="currency"
                placeholder="NGN 0.00"
                required
                class="form-control w-25 form-borderless"
                v-model="questions.two.q5"
              />per month
            </label>
          </div>

          <div class="form-group mb-5">
            <label
              for
              class="mb-3"
            >My ideal customer will purchase my product/service at this frequency:</label>
            <select class="custom-select" v-model="questions.two.q6">
              <option value="selected">Select one</option>
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
              <option value="Quarterly">Quarterly</option>
              <option value="Annually">Annually</option>
            </select>
          </div>

          <div class="form-group">
            <label for>My ideal customer’s marital status is:</label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="married"
                class="custom-control-input"
                v-model="questions.two.q7"
              />
              <span class="custom-control-indicator">Married</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="single"
                class="custom-control-input"
                v-model="questions.two.q7"
              />
              <span class="custom-control-indicator">Single</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="divorced"
                class="custom-control-input"
                v-model="questions.two.q7"
              />
              <span class="custom-control-indicator">Divorced</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="widowed"
                class="custom-control-input"
                v-model="questions.two.q7"
              />
              <span class="custom-control-indicator">Widowed</span>
            </label>
          </div>

          <div class="form-group">
            <label for>My ideal customer is in one or more of the following age brackets:</label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="ess than 5 Years"
                class="custom-control-input"
                v-model="questions.two.q8"
              />
              <span class="custom-control-indicator">less than 5 Years</span>
            </label>

            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="less than 11 Years"
                class="custom-control-input"
                v-model="questions.two.q8"
              />
              <span class="custom-control-indicator">less than 11 Years</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="12-17 Years"
                class="custom-control-input"
                v-model="questions.two.q8"
              />
              <span class="custom-control-indicator">12-17 Years</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="18-34 Years"
                class="custom-control-input"
                v-model="questions.two.q8"
              />
              <span class="custom-control-indicator">18-34 Years</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="35-50 Years"
                class="custom-control-input"
                v-model="questions.two.q8"
              />
              <span class="custom-control-indicator">35-50 Years</span>
            </label>
            <label class="custom-control custom-checkbox">
              <input
                type="checkbox"
                value="50-70 Years "
                class="custom-control-input"
                v-model="questions.two.q8"
              />
              <span class="custom-control-indicator">50-70 Years</span>
            </label>
          </div>

          <div class="w-100 butt">
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="switchBatch('first')"
            >Previous</button>
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
              @click="switchBatch('third')"
            >Continue</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
        </div>
        <div class="mb-5" v-if="batch_3">
          <h5>UNIQUE VALUE PROPOSITION (UVP)</h5>
          <blockquote>
            <em>"The more you understand about your own company and how you differ from others— the better you are able to compete"</em>
            “-- BizGuruh
          </blockquote>
          <p>Understanding the needs, interests, habits, and preferences of your customers is the key to providing exceptional customer experiences.</p>
          <p>Your UVP helps you connect with your target market by describing your value to your customer and what makes you different</p>

          <div class="form-group mb-5">
            <div class="addbutt d-flex ml-auto mb-3">
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-main mr-3"
                @click="addUmv"
              >Add row</button>
              <button
                type="button"
                class="elevated_btn elevated_btn_sm text-white btn-compliment"
                @click="removeUmv"
              >Remove row</button>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>My Customer</th>
                  <th>Thier Pain Point/Problem</th>
                  <th>How my Product/Service Solves it</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,idx) in questions.three.q1" :key="idx">
                  <td scope="row">
                    <input
                      v-model="item.one"
                      type="text"
                      placeholder="type here ..."
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      v-model="item.two"
                      placeholder="type here ..."
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      v-model="item.three"
                      placeholder="type here ..."
                      class="form-control"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-group mb-5">
            <div class="form-group">
              <label
                for
              >Briefly summarise your customer’s pain point and how your product solves it:</label>
              <textarea class="form-control" rows="3" v-model="questions.four.q1"></textarea>
            </div>
          </div>

          <div class="w-100 butt">
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="switchBatch('second')"
            >Previous</button>
            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
              @click="previewAnswer"
            >Preview</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import previewTemp from "./previewTemplate";
export default {
  data() {
    return {
      bap: true,
      currencySymbol: "NGN",
      position: "prefix",
      month: 0,
      week: 0,
      preview: false,
      industry: [],
      record: {},
      batch_1: true,
      batch_2: false,
      batch_3: false,

      questions: {
        one: {
          q1: "selected",
          q2: "selected",
          q3: "selected",
          q4: [{ name: "" }]
        },
        two: {
          q1: [""],
          q2: [''],
          q3: [{ name: "" }],
          q4: [{ name: "" }],
          q5: null,
          q6: "selected",
          q7: [],
          q8: []
        },
        three: {
          q1: [
            {
              one: "",
              two: "",
              three: ""
            }
          ]
        },
        four: {
          q1: ""
        }
      },
      one: true,
      two: false,
      three: false,

      showResult: false
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getIndustry();
    this.getDraft();
  },
  computed: {
    currency() {
      return { [this.position]: this.currencySymbol };
    }
  },
  methods: {
    addUmv() {
      this.questions.three.q1.push({
        one: "",
        two: "",
        three: ""
      });
    },
    removeUmv() {
      this.questions.three.q1.pop();
    },
    currencyFormat(num) {
      if (num !== null) {
        return (
          "NGN " + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
        );
      } else {
        return "NGN 0.00";
      }
    },
    newService(quest) {
      if (quest == "one") {
        this.questions.one.q4.push({
          name: ""
        });
      }
      if (quest == "two") {
        this.questions.two.q3.push({
          name: ""
        });
      }
      if (quest == "three") {
        this.questions.two.q4.push({
          name: ""
        });
      }
      if (quest == "four") {
        this.questions.five.q3.push({
          name: ""
        });
      }
    },
    delService(quest) {
      if (quest == "one") {
        this.questions.one.q4.pop();
      }
      if (quest == "two") {
        this.questions.two.q3.pop();
      }
      if (quest == "three") {
        this.questions.two.q4.pop();
      }
      if (quest == "four") {
        this.questions.five.q3.pop();
      }
    },

    switchBatch(batch) {
      switch (batch) {
        case "first":
          this.batch_1 = true;
          this.batch_2 = this.batch_3 = this.batch_4 = this.batch_5 = this.batch_6 = this.batch_7 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);
          break;
        case "second":
          this.batch_2 = true;
          this.batch_1 = this.batch_3 = this.batch_4 = this.batch_5 = this.batch_6 = this.batch_7 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "third":
          this.batch_3 = true;
          this.batch_1 = this.batch_2 = this.batch_4 = this.batch_5 = this.batch_6 = this.batch_7 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "fourth":
          this.batch_4 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_5 = this.batch_6 = this.batch_7 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "fifth":
          this.batch_5 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_4 = this.batch_6 = this.batch_7 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "sixth":
          this.batch_6 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_5 = this.batch_4 = this.batch_7 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "seven":
          this.batch_7 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_5 = this.batch_4 = this.batch_6 = this.batch_8 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "eight":
          this.batch_8 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_5 = this.batch_4 = this.batch_6 = this.batch_7 = this.batch_9 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "ninth":
          this.batch_9 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_5 = this.batch_4 = this.batch_6 = this.batch_8 = this.batch_7 = this.batch_10 = false;
          window.scrollTo(0, 0);

          break;
        case "tenth":
          this.batch_10 = true;
          this.batch_2 = this.batch_3 = this.batch_1 = this.batch_5 = this.batch_4 = this.batch_6 = this.batch_8 = this.batch_9 = this.batch_7 = false;
          window.scrollTo(0, 0);

          break;
        default:
          this.batch_1 = true;
          this.batch_2 = this.batch_3 = this.batch_4 = this.batch_5 = this.batch_6 = this.batch_7 = this.batch = this.batch_9 = this.batch_10 = false;

          break;
      }
    },
    getIndustry() {
      axios.get(`/api/all-industries`).then(response => {
        this.industry = response.data;
      });
    },

    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
      this.showResult = false;

      this.$router.push("/entrepreneur/bap");
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business concept"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business concept"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              this.questions = JSON.parse(response.data.responses);
            }
          }
        });
    },
    submit() {
      this.preview = false;
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business concept"
      };
      axios
        .post(`/api/save-responses`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Completed");

            this.showResult = true;
            this.preview = true;
          }
        });
    }
  }
};
</script>
<style scoped>
.container-fluid {
  padding: 5px;
}
.mi {
  position: relative;
}
.question {
  position: relative;
  margin: 0px auto;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 65px;
  border-radius: 4px;

  font-size: 15px;
}
.back {
  font-size: 14px;
  position: absolute;
  top: 0;
}
h5 {
  margin-bottom: 14px;
}
p {
  margin-bottom: 10px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
form {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}
.result {
  padding: 10px;
}
ol,
ul,
td,
th {
  text-transform: capitalize;
}
ol {
  font-weight: bold;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
  flex-direction: column;
}
.elevated_btn_sm{
  margin-bottom: 16px;
}
.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
}
.options {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}
label.custom-radio {
}
.form-group {
  margin: 15px 0;
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.progress_box {
  padding: 25px 0;
  position: relative;
}
.progress_bar {
  text-align: center;
  position: relative;
}
.progress_bar li {
  display: inline-table;
  position: relative;
  width: 70px;
}
.progress_bar li .fa {
  padding: 10px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  font-size: 13px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.progress_bar li .fa::after {
  content: "";
  position: absolute;
  width: 75px;
  background: #ccc;
  height: 3px;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  z-index: -1;
}
.progress_bar li .fa.active {
  background: hsl(207, 43%, 20%);
}
.progress_bar li .fa.active::after {
  background: hsl(207, 43%, 20%);
}
.progress_bar li p {
  font-size: 9px;
  line-height: 1.4;
}
.preview,
.result {
  background: white;
  padding: 15px;
  border-radius: 4px;
  width: 96%;
  margin: 90px auto;
  margin-bottom: 0;
  height: 85%;
  font-size: 13px;
  overflow: scroll;
}
.preview table {
  font-size: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .progress_bar li {
    width: 60px;
  }
  .progress_bar li .fa {
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .progress_bar li .fa::after {
    width: 65px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .question {
    width: 95%;
    padding-top: 80px;
  }
  .progress_bar li p {
    font-size: 10px;
  }
  h3 {
    font-size: 20px;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 80px;
  }
  .progress_bar li .fa {
    padding: 10px;

    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .progress_bar li .fa::after {
    width: 85px;
  }
  .tab-prev {
    font-size: 14px;
  }
  .options {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .butt{
    flex-direction: row;
  }
}
@media only screen and (min-width: 769px) {
   .butt{
    flex-direction: row;
  }
  .w-md-35 {
    width: 35% !important;
    margin-left: auto;
  }
  .back {
    top: 10px;
  }
  .question {
    margin: 0px auto;
    width: 90%;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 100px;

    border: 1px solid #f7f8fa;
  }
  h5 {
    font-size: 17px;
  }
  .options {
    grid-template-columns: auto auto auto auto auto;
  }
  legend {
    font-size: 28px;
  }
  .preview,
  .result {
    background: white;
    padding: 30px;
    border-radius: 4px;
    width: 70%;
    margin: 80px auto;
    margin-bottom: 0;
  }
  .result {
    font-size: 16px;
    margin: 150px auto;
    margin-bottom: 0;
    height: auto;
  }
  h3 {
    font-size: 24px;
  }
  table {
    font-size: 16px;
  }
  select.form-control {
    font-size: 16px;
  }
  .form-control.border-0 {
    font-size: 16px;
  }
  blockquote {
    width: 80%;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 100px;
  }
  .progress_bar li .fa {
    padding: 14px;

    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .progress_bar li .fa::after {
    width: 105px;
  }
  .progress_box {
    padding: 50px 0 25px;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    width: 90%;
    margin: 0 auto;
  }
  .question {
    width: 85%;
  }
  .progress_bar li p {
    font-size: 11px;
  }
}
</style>