<template>
  <div class="mi">
    <div class="preview-overlay" v-if="preview">
      <previewTemp
        v-if="!showResult"
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewAnswer"
        @submit="submit"
        title="my business values"
      />

      <div class="result" v-if="showResult">
        <h3 class="w-100 text-center mb-3">Your Result</h3>
        <div class="creativity mb-5">
          <h4>Creativity</h4>
          <p
            class="mb-3"
          >You’re committed to the grit because you want to leave your mark, and open to new experiences because they inspire you. Your business isn’t just a way to make a living, but a way of maintaining your creative stimulation and creating something that bears your stamp. Your creativity is expressed in many ways— from designing a new product, to devising a new business process, or even a new way to make sales.</p>
          <h6>What to do:</h6>
          <p>Be careful that you do not over personalize your company, especially if you aim for growth. If you want others to be proactive— customers or staff, allow room for them to share in the creative process.</p>
        </div>
        <div class="control mb-5">
          <h4>Control</h4>
          <p>Perhaps you started your business because you wanted to live life on your terms or wanted more control over how your good ideas are implemented; or even just so you can be more involved in your family, community or find more time for your hobbies. You are not alone.</p>
          <p>Control can be a major motivator for most entrepreneurs— even more than money. But how much control you need, especially on a day-to-day basis directly influences how large your company can be.</p>
          <h6>What to do:</h6>
          <p class="mb-3">
            As you grow your company, you’ll need to structure communication and reporting systems to ensure you have sufficient information and direction over developments— for your personal satisfaction.
            Understand that if you seek funding in form of investors, your funders will have some control. Ensure you understand the nature of control and be certain you are comfortable with these arrangements before you go down that path.
          </p>
        </div>

        <div class="cash mb-5">
          <h4>Cash</h4>
          <p
            class="mb-3"
          >Every entrepreneur wants to make money— or should— but the degree to which the desire it varies. While some want just enough to provide a decent income, others want enough money to buy an Island somewhere exotic and retire at 30. Usually, how much we want affects how we develop our business.</p>
          <h6>What to do:</h6>
          <p>Perhaps you can start by answering the following questions: How much do I want to earn from my business? When do I want it? Will I need investors to achieve the required growth? Will I sacrifice control to grow my business quickly? Keep in mind that there may be significant trade-offs between personal goals: more cash often means less control and you may need to have a partner to grow fast, or maintain control and grow slow. Ultimately, its your call.</p>
        </div>
        <div class="challenge mb-5">
          <h4>Challenge</h4>
          <p class="mb-3">
            The mere fact that you are starting or expanding a business indicates that you like challenge— at least to some degree. You’re likely to be a problem- solver and risk-taker, Challenge-hungry entrepreneurs can be some of the most
            successful business people, but they can also be their own worst enemies— flitting from one thing to another and never focusing long enough to succeed.
          </p>
          <h6>What to do:</h6>
          <p>If you have a high appetite for challenge in your business life, you might find yourself bored after the initial challenge of starting you company is met. However, stop yourself from continually starting new projects that either divert attention from your company’s main goals or deplete the company’s resources unnecessarily.</p>
          <p>As you plan your company, establish goals that not only provide you with sufficient stimulation, but also advance— rather than distract— from the growth of your business.</p>
        </div>

        <button
          type="button"
          class="elevated_btn elevated_btn_sm btn-compliment text-white mx-auto"
          @click="closePreview"
        >Dismiss</button>
      </div>
    </div>
    <div class="question">
      <router-link to="/entrepreneur/bap" class="back">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back
      </router-link>
   
      <form @submit.prevent="previewAnswer">
        <legend>My Business Values</legend>

   
        <div class="mb-5" >
          <div class="form-group mb-5">
         
            <p>Your business values define how your business will interact with others and how audiences connect with your business. Ideally, your core values should help you make decisions, like hiring or letting people go, while also prioritizing goals and plans for the business.</p>

            <div class="form-group mb-2">
              <label for>What parts of my business am I most proud of?</label>
              <input
                required
                type="text"
                class="form-control form-borderless"
                v-model="questions.one.q1"
                aria-describedby="helpId"
                placeholder="type here..."
              />
            </div>
            <div class="form-group mb-2">
              <label for>What is important to me/us?</label>
              <input
                required
                type="text"
                class="form-control form-borderless"
                v-model="questions.one.q2"
                aria-describedby="helpId"
                placeholder="type here..."
              />
            </div>
            <div class="form-group mb-2">
              <label for>What will help guide me/us when faced with a difficult business decision?</label>
              <input
                required
                type="text"
                class="form-control form-borderless"
                v-model="questions.one.q3"
                aria-describedby="helpId"
                placeholder="type here..."
              />
            </div>
          </div>

          <div class="form-group mb-5">
            <h4 class="mb-3">Test Your Values :</h4>
            <div class="mb-3">
              <p>Is this something I’ll still believe in 5 years? 10 years?</p>

              <label class="custom-control custom-radio">
                <input
                  required
                  type="radio"
                  v-model="questions.one.q4"
                  value="Yes"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Yes</span>
              </label>
              <label class="custom-control custom-radio">
                <input
                  required
                  type="radio"
                  v-model="questions.one.q4"
                  value="Not quite"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Not quite</span>
              </label>
            </div>

            <div class="mb-3">
              <p>Is this something that I’m willing to hire, fire or partner based on?</p>

              <label class="custom-control custom-radio">
                <input
                  required
                  type="radio"
                  v-model="questions.one.q5"
                  value="Yes"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Yes</span>
              </label>
              <label class="custom-control custom-radio">
                <input
                  required
                  type="radio"
                  v-model="questions.one.q5"
                  value="Not quite"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Not quite</span>
              </label>
            </div>

            <div class="mb-3">
              <p>Is this something I can apply to customer relations?</p>

              <label class="custom-control custom-radio">
                <input
                  required
                  type="radio"
                  v-model="questions.one.q6"
                  value="Yes"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Yes</span>
              </label>
              <label class="custom-control custom-radio">
                <input
                  required
                  type="radio"
                  v-model="questions.one.q6"
                  value="Not quite"
                  class="custom-control-input"
                />
                <span class="custom-control-indicator">Not quite</span>
              </label>
            </div>
          </div>
          <div class="w-100 butt">
            <button
              type="submit"
              class="elevated_btn elevated_btn_sm text-white btn-compliment"
            >Preview</button>

            <button
              type="button"
              class="elevated_btn elevated_btn_sm text-main"
              @click="saveDraft"
            >Save to draft</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</template>

<script>
import previewTemp from "./previewTemplate";
export default {
  data() {
    return {
      bap: true,
      month: 0,
      week: 0,
      preview: false,
      industry: [],
      record: {},  
      questions: {
       
        one: {
          q1: "",
          q2: "",
          q3: "",
          q4: "",
          q5: "",
          q6: ""
        },
       
      },
    
      showResult: false,
      gotoFifth: true
    };
  },
  components: {
    previewTemp
  },
  mounted() {
    this.getRecord();
    this.getIndustry();
    this.getDraft();
  },
  methods: {
 
    getIndustry() {
      axios.get(`/api/all-industries`).then(response => {
        this.industry = response.data;
      });
    },

    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-active-record`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.record = response.data;
        });
    },
    previewAnswer() {
      this.preview = !this.preview;
      window.scrollTo(0, 0);
    },

    closePreview() {
      this.preview = false;
      this.showResult = false;

      this.$router.push("/bap");
    },
    saveDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business values"
      };
      axios
        .post(`/api/save-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.data.status == "saved") {
            this.$toasted.success("Saved to draft");
          }
        });
    },
    getDraft() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business values"
      };
      axios
        .post(`/api/get-draft`, data, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            if (response.data) {
              if (response.data) {
                this.questions = JSON.parse(response.data.responses);
              }
            }
          }
        });
    },
    submit() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        responses: this.questions,
        month: this.record.current_month,
        week: this.record.current_week,
        template: "My Business values"
      };

      if (
        this.questions.one.q1 !== "selected" &&
        this.questions.one.q2 !== "selected" &&
        this.questions.one.q3 !== " selected"
      ) {
        if (
          this.questions.two.q1 !== [] &&
          this.questions.two.q2 !== "" &&
          this.questions.two.q3 !== "" &&
          this.questions.two.q4 !== "" &&
          this.questions.two.q5 !== "" &&
          this.questions.two.q6 !== ""
        ) {
          if (
            this.questions.three.q1 !== "" &&
            this.questions.three.q2 !== "" &&
            this.questions.three.q3 !== "" &&
            this.questions.three.q4 !== ""
          ) {
            if (
              this.questions.one.q1 !== "" &&
              this.questions.one.q2 !== "" &&
              this.questions.one.q3 !== "" &&
              this.questions.one.q4 !== "" &&
              this.questions.one.q5 !== "" &&
              this.questions.one.q6 !== ""
            ) {
              this.checkQuest();
              if (!this.gotoFifth) {
                axios
                  .post(`/api/save-responses`, data, {
                    headers: {
                      Authorization: `Bearer ${user.access_token}`
                    }
                  })
                  .then(response => {
                    if (response.data.status == "saved") {
                      this.$toasted.success("Completed");

                      this.showResult = true;
                      this.preview = true;
                    }
                  });
              } else {
                this.preview = false;
                this.$toasted.error("Fill all fields in Entrepreneur");

                this.switchBatch("fifth");
              }
            } else {
              this.preview = false;
              this.$toasted.error("Fill all fields in Business value");

              this.switchBatch("oneth");
            }
          } else {
            this.preview = false;
            this.$toasted.error("Fill all fields in Business mission");

            this.switchBatch("third");
          }
        } else {
          this.preview = false;
          this.$toasted.error("Fill all fields in Business vision");

          this.switchBatch("second");
        }
      } else {
        this.preview = false;
        this.$toasted.error("Fill all fields in Business concept");

        this.switchBatch("first");
      }
    }
  }
};
</script>
<style scoped>
.containder-fluid {
  padding-right: 1px;
  padding-left: 1px;
  font-size: 15px;
}
.mi{
  position: relative;
}
.back {
  font-size: 14px;
  position: absolute;
  top: 0;
}
label {
  font-weight: normal;
}
.question {
  position: relative;
  margin: 0px auto;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 65px;
  border-radius: 4px;

}
.sub_title {
  font-size: 9px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
form {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}
.result {
  padding: 10px;
}
ol,
ul,
td,
th {
  text-transform: capitalize;
}
ol {
  font-weight: bold;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0;
  opacity: 1;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%);
}
.options {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}
label.custom-radio {
}
.form-group {
  margin: 15px 0;
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.progress_box {
  padding: 25px 0;
  position: relative;
}
.progress_bar {
  text-align: center;
  position: relative;
}
.progress_bar li {
  display: inline-table;
  position: relative;
  width: 55px;
}
.progress_bar li .fa {
  padding: 10px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.progress_bar li .fa::after {
  content: "";
  position: absolute;
  width: 60px;
  background: #ccc;
  height: 3px;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  z-index: -1;
}
.progress_bar li .fa.active {
  background: hsl(207, 43%, 20%);
}
.progress_bar li .fa.active::after {
  background: hsl(207, 43%, 20%);
}
.progress_bar li p {
  font-size: 9px;
  line-height:1.4
}
.preview,
.result {
  background: white;
  padding: 15px;
  border-radius: 4px;
  width: 96%;
  margin: 90px auto;
  margin-bottom: 0;
  height: 85%;
  font-size: 13px;
  overflow: scroll;
}
.preview table {
  font-size: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .progress_bar li {
    width: 50px;
  }
  .progress_bar li .fa {
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .progress_bar li .fa::after {
    width: 60px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .question {
    width: 95%;
    padding-top: 80px;
  }
  .back {
    top: 10px;
  }
  .progress_bar li p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 130px;
  }
  .progress_bar li .fa {
    padding: 10px;

    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .progress_bar li .fa::after {
    width: 135px;
  }
  .tab-prev {
    font-size: 14px;
  }
  .options {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .sub_title {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) {
  .sub_title {
    font-size: 14px;
  }
  .back {
    top: 10px;
  }
  .question {
    margin: 0px auto;
    width: 90%;
    padding: 25px;
    padding-top: 60px;
    padding-bottom: 100px;

    border: 1px solid #f7f8fa;
  }
  .options {
    grid-template-columns: auto auto auto auto auto;
  }
  legend {
    font-size: 28px;
  }
  .preview,
  .result {
    background: white;
    padding: 30px;
    border-radius: 4px;
    width: 70%;
    margin: 80px auto;
    margin-bottom: 0;
  }
  .result {
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
  }
  table {
    font-size: 16px;
  }
  select.form-control {
    font-size: 16px;
  }
  .form-control.border-0 {
    font-size: 16px;
  }
  blockquote {
    width: 80%;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 150px;
  }
  .progress_bar li .fa {
    padding: 15px;

    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .progress_bar li .fa::after {
    width: 155px;
  }
}

@media only screen and (min-width: 1024px) {
  .question {
    width: 80%;
  }
  .progress_bar li p {
    font-size: 13px;
  }
}
</style>