<template>
  <div class="">
    <div class="container-fluid">
      <div class="progress-box">
        <div class="mySurveys rounded">
          <div class="mySurveyHistory shadow-sm">
            <h4 class="mb-3">BAP-6 History</h4>
            <div class="templates" v-if="templates.length">
              <div
                class="template"
                v-for="(temp,idx) in templates"
                :key="idx"
                @click="getTemplate(temp.id)"
              >
                <p class="template_text toCaps">{{temp.template}}</p>
              </div>
            </div>

            <div v-else>
              <img class="sad" src="/images/sad.svg" alt />
              <h4 class="text-muted form-control">No records</h4>
            </div>
          </div>
          <div class="mySurveyScores shadow-sm" v-if="template.template">
            <h4 class="mb-3">Statistics</h4>
           
            <p>
              Title :
              <strong class="toCaps">{{template.template}}</strong>
            </p>
            <button
              type="button"
              @click="previewTemplate"
              class="elevated_btn elevated_btn_sm text-white btn-compliment mx-auto"
            >Preview Response</button>
          </div>
          <div class="mySurveyScores shadow" v-else>
            <h4 class="mb-3">Statistics</h4>

            <h4 class="mb-3 text-muted form-control">No records</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="preview-overlay" v-if="preview && template.template">
      <previewTemp
        :bap="bap"
        :questions="questions"
        @previewTemplate="previewTemplate"
        :title="template.template.toLowerCase()"
      />
     
    </div>
  </div>
</template>

<script>
import chat from "../components/chatComponent.vue";
import previewTemp from "./previewTemplate";
import Prev from "../../user/form/previewForm";
export default {
  name: "history-component",

  data() {
    return {
      mainShow: false,
      bap: false,
      preview: false,
      history: [],
      singleHistory: {},
      answer: [],
      question: [],
      questions: {},
      showChat: false,
      usersub: 0,
      all_record: [],
      active_record: {},
      active_1: false,
      pending_1: true,
      finished_1: false,
      active_2: false,
      pending_2: true,
      finished_2: false,
      active_3: false,
      pending_3: true,
      finished_3: false,
      active_4: false,
      pending_4: true,
      finished_4: false,
      active_5: false,
      pending_5: true,
      finished_5: false,
      active_6: false,
      pending_6: true,
      finished_6: false,
      template: {},
      templates: []
    };
  },

  components: {
    chat,
    previewTemp,
    Prev
  },
  mounted() {
    this.getUserSub();
  },
  methods: {
    previewTemplate() {
      this.preview = !this.preview;
    },
    getSingleHistory(id) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        user_id: user.id,
        question_id: id
      };
      axios.post(`/api/single/history`, data).then(response => {
        this.singleHistory = response.data;
        this.answer = JSON.parse(response.data.answers);
      });

      axios.get(`/api/questions/${id}`).then(response => {
        this.question = JSON.parse(response.data.questions);
      });
    },
    getHistory() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios.get(`/api/history/${user.id}`).then(response => {
        this.history = response.data;
        this.getSingleHistory(this.history[0].question_id);
      });
    },
    switchChat() {
      this.showChat = !this.showChat;
    },
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      this.getRecords();
      this.getHistory();
      this.getTemplates();
    },
    getTemplate(id) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-template-history/${id}`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.template = response.data;
          this.questions = JSON.parse(response.data.responses);
        });
    },
    getTemplates() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-templates`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.templates = response.data;
          this.getTemplate(this.templates[0].id);
        });
    },
    getRecords() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get("/api/get-active-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.active_record = response.data;
            this.switchProgress(this.active_record.current_month);
          }
        });
      axios
        .get("/api/get-all-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.all_record = response.data;
          }
        });
    },
    switchProgress(id) {
      switch (id) {
        case "1":
          this.active_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = true;
          this.pending_1 = this.finished_1 = false;
          this.active_2 = this.active_3 = this.active_4 = this.active_5 = this.active_6 = false;
          this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;

          break;
        case "2":
          this.active_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = this.finished_1 = true;
          this.pending_1 = this.pending_2 = false;
          this.active_1 = this.active_3 = this.active_4 = this.active_5 = this.active_6 = false;
          this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;
          break;
        case "3":
          this.active_3 = this.pending_4 = this.pending_5 = this.pending_6 = this.finished_1 = this.finished_2 = true;
          this.pending_2 = this.pending_1 = this.pending_3 = false;
          this.active_1 = this.active_2 = this.active_4 = this.active_5 = this.active_6 = false;
          this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;
          break;
        case "4":
          this.active_4 = this.pending_5 = this.pending_6 = this.finished_1 = this.finished_2 = this.finished_3 = true;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = false;
          this.active_1 = this.active_2 = this.active_3 = this.active_5 = this.active_6 = false;
          this.finished_4 = this.finished_5 = this.finished_6 = false;
          break;
        case "5":
          this.active_5 = this.pending_6 = this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = true;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = false;
          this.active_1 = this.active_2 = this.active_3 = this.active_4 = this.active_6 = false;
          this.finished_5 = this.finished_6 = false;
          break;
        case "6":
          this.active_6 = this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = true;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = false;
          this.active_1 = this.active_2 = this.active_3 = this.active_4 = this.active_5 = false;
          this.finished_6 = false;
          break;
        default:
          this.finished_1 = this.finished_2 = this.finished_3 = this.finished_4 = this.finished_5 = this.finished_6 = false;
          this.pending_1 = this.pending_2 = this.pending_3 = this.pending_4 = this.pending_5 = this.pending_6 = true;
          this.active_1 = this.active_2 = this.active_3 = this.active_4 = this.active_5 = this.active_6 = false;
          break;
      }
    }
  }
};
</script>

<style scoped>
.main {
  padding: 25px;
  position: relative;
  background: #f7f8fa;
}
.sad {
  opacity: 0.3;
}
p {
  margin-bottom: 0.8em;
}
h4 {
  text-align: center;
}
.topic {
  font-size: 20px;
  font-family: "Josefin Sans";
}
.templates {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.template {
  height: 50px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  background-image: linear-gradient(
    to right top,
    #414d57,
    #52616e,
    #647786,
    #778c9f,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #778c9f,
    #647786,
    #52616e,
    #414d57
  );
  transition: all 2s;
}
.template_text {
  text-align: center;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  left: 50%;
  margin-left: -50%;
  top: 50%;
  margin-top: -10px;
  color: white;
  font-family: "Josefin Sans";
  width: 100%;
}
.template:hover {
  background-image: linear-gradient(
    to left top,
    #a4c2db,
    #90abc1,
    #7d94a7,
    #6a7e8e,
    #586876,
    #586876,
    #586876,
    #586876,
    #6a7e8e,
    #7d94a7,
    #90abc1,
    #a4c2db
  );
}
.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  z-index: 2;
  justify-content: center;
}
.preview {
  background: white;
  padding: 30px;
  border-radius: 4px;
  width: 70%;
  margin: 70px auto;
  margin-bottom: 0;
  font-size: 13.5px;
  overflow: scroll;
  height: 80%;
}
.preview table {
  font-size: 14px;
}
.resp {
  display: flex;
}
.res1,
.res2 {
  width: 50%;
}
.work-folder {
  border: 1px solid #f7f8fa;
  padding: 10px;
  text-align: center;
}
.main-profile {
  display: flex;
  flex-direction: column;
}
.chatbox {
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 3;
  background-color: #f7f8fa;
}
.chatIcon {
  font-size: 11px;
  margin-top: -4px;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
}
.profile-box {
  width: 25%;
  padding: 25px;
  background: #fff;
}
.progress-box {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
}
.myProgress {
  width: 100%;
  background: #fff;
}
.myProgress-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-size: 15px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: #fff;
}
.quest {
  font-size: 14px;
}
ul {
  text-align: center;
}
ul li {
  display: inline-block;
  width: 150px;
  position: relative;
}
ul li .fa {
  padding: 15px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.faText {
  position: absolute;
  background: #f7f8fa;
  display: none;
  top: 39px;
  right: 17px;
  padding: 2px 10px;
  font-size: 11px;
  z-index: 1;
  width: 70px;
  height: 26px;
  border-radius: 3px;
}
ul li:hover .faText {
  display: block;
}
.faText::before {
  content: "";
  position: absolute;
  top: -5px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  background: #f7f8fa;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  z-index: 1;
}

ul li .fa::after {
  content: "";
  position: absolute;
  width: 155px;
  background: #ccc;
  height: 5px;
  display: block;
  top: 50%;
  margin-top: -2.5px;
  z-index: -1;
}
.fa-user-circle {
  font-size: 100px;
}

.progress-title {
  font-size: 12px;
  font-weight: bold;
}
th {
  background-color: hsl(207, 43%, 20%) !important;
  font-size: 14.5px;
}
td {
  text-transform: capitalize;
  font-size: 14.5px;
}
.fa-1x {
  font-size: 1.3em;
}
ul li .fa.active {
  background: #8e8e8e;
}
ul li .fa.active::after {
  background: #8e8e8e;
}
ul li .fa.finished {
  background: hsl(207, 43%, 20%);
}
ul li .fa.finished::after {
  background: hsl(207, 43%, 20%);
}
.myProgress-box .progress-1 .my_circle {
}

.mySurveys {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 60% 38%;
  grid-column-gap: 20px;
}
.mySurveyHistory,
.mySurveyScores {
  text-align: center;
  padding: 20px;
  background: #fff;
}
th,
td {
  text-align: center;
}
.profile-image {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  line-height: 30px;
}
.info p {
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    padding: 15px;
  }
  .profile-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .info {
    width: 50%;
  }
  .progress-box {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
  }
  .myProgress-box {
    padding: 20px 0;
  }
  .mySurveys {
    grid-template-columns: auto;
  }

  .info {
    line-height: 30px;
    font-size: 14px;
  }
  ul li {
    width: 95px;
  }
  ul li .fa {
    padding: 8px;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    font-size: 9px;
  }
  ul li .fa::after {
    width: 100px;
    background: #ccc;
    height: 3px;
    display: block;
    top: 50%;
    margin-top: -1.5px;
    z-index: -1;
  }
  .progress-title {
    font-size: 9px;
  }
  .main-profile {
    flex-direction: row;
  }
}
@media (max-width: 425px) {
  .preview {
    background: white;
    padding: 15px;
    border-radius: 4px;
    width: 96%;
    margin: 90px auto;
    margin-bottom: 0;
    height: 80%;
    font-size: 13px;
    overflow: scroll;
  }

  .chatbox {
    bottom: 30px;
    right: 1px;
  }
  .container-fluid {
    flex-direction: column;
    padding: 10px;
    margin-top: 0;
  }
  .profile-box {
    width: 100%;
    padding: 10px;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }
  .info {
    line-height: 28px;
    font-size: 14px;
    width: 70%;
  }
  ul li {
    width: 100px;
  }
  ul li .fa {
    padding: 8px;
    align-items: center;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    font-size: 8px;
  }
  ul li .fa::after {
    width: 105px;
    background: #ccc;
    height: 3px;
    display: block;
    top: 50%;
    margin-top: -1.5px;
    z-index: -1;
  }
  li {
    margin-bottom: 25px;
    line-height: 1.2;
  }
  .progress-title {
    font-size: 9px;
    line-height: 1.2;
  }
  .main {
    padding: 0;
    padding-top: 10px;
  }
  .work-folder {
    width: 100%;
  }
  .main-profile {
    flex-direction: column;
  }
  .mySurveyHistory,
  .mySurveyScores {
    padding: 10px;
  }
}
</style>