<template>
  <div class="main-page">
    <p class="welcome mb-2 p-3">Welcome {{user.name}}</p>
    <div class="first_content">
      <Progress />
    </div>
    <div class="content rounded">
      <div class="grid_box shadow-sm">
        <div class="intro mb-5"></div>
      </div>
      <div class="grid_box shadow-sm p-3">
          <div class="info mb-5 text-center rounded">
              <h4 class="mb-3">Information</h4>
            <ul>
                <li><span class="text-muted">Name</span> : <span class="toCaps">{{user.name}}</span></li>
                <li><span class="text-muted">Current month</span> : <span class="toCaps">{{active_record.current_month}}</span></li>
                <li><span class="text-muted">Current week</span> :  <span class="toCaps">{{active_record.current_week}}</span></li>
                  <li><span class="text-muted">Status</span> :  <span class="toCaps">{{active_record.status}}</span></li>
            </ul>
          </div>
          <hr>
        <div class="history w-100 text-center rounded">
          <h4 class="mb-3">Completed</h4>
          <table class="table table-bordered" v-if="templates.length">
            <tbody>
              <tr    v-for="(temp,idx) in templates"
                :key="idx">
                <td scope="row"><i class="fas fa-check-circle text-green mr-3" aria-hidden="true"></i>{{temp.template}} </td>
              </tr>
            </tbody>
          </table>
           <div v-else>
              <img class="sad" src="/images/sad.svg" alt />
              <h4 class="text-muted form-control">No records</h4>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Progress from "./bapProgressComponent";
export default {
  data() {
    return {
      user: {},
      bap: false,
      preview: false,
      history: [],
      singleHistory: {},
      answer: [],
      question: [],
      questions: {},
      template: {},
      templates: [],
      all_record: [],
      active_record: {}
    };
  },
  components: {
    Progress
  },
  mounted() {
    this.user = JSON.parse(localStorage.getItem("authUser"));
    this.getHistory();
    this.getTemplates();
    this.getRecords();
  },
  methods: {
    getRecords() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get("/api/get-active-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.active_record = response.data;
          }
        });
      axios
        .get("/api/get-all-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.all_record = response.data;
          }
        });
    },
    getSingleHistory(id) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      let data = {
        user_id: user.id,
        question_id: id
      };
      axios.post(`/api/single/history`, data).then(response => {
        this.singleHistory = response.data;
        this.answer = JSON.parse(response.data.answers);
      });

      axios.get(`/api/questions/${id}`).then(response => {
        this.question = JSON.parse(response.data.questions);
      });
    },
    getHistory() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios.get(`/api/history/${user.id}`).then(response => {
        this.history = response.data;
        this.getSingleHistory(this.history[0].question_id);
      });
    },
    getTemplate(id) {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-template-history/${id}`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.template = response.data;
          this.questions = JSON.parse(response.data.responses);
        });
    },
    getTemplates() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get(`/api/get-templates`, {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          this.templates = response.data;
          this.getTemplate(this.templates[0].id);
        });
    },
    getRecords() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      axios
        .get("/api/get-active-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.active_record = response.data;
         
          }
        });
      axios
        .get("/api/get-all-record", {
          headers: {
            Authorization: `Bearer ${user.access_token}`
          }
        })
        .then(response => {
          if (response.status == 200) {
            this.all_record = response.data;
          }
        });
    }
  }
};
</script>

<style scoped>
.main-page {
  min-height: 100vh;
}
.welcome {
  text-transform: capitalize;
}
.first_content {
  padding: 15px 0;
}
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 15px;
  min-height: 80vh;
}
.grid_box {
  width: 100%;
  height: 100%;
  background-color: white;
}
.first_box {
  display: grid;
}
ul, ol{
    list-style: none;
}
li{
    margin-bottom: 14px;
    text-align: left;
}
@media(max-width:768px){
  .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  min-height: 80vh;
}
}
@media(max-width:768px){
  .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  min-height: 80vh;
  padding: 10px;
}
}
</style>