<template>
  <div class="mi">
    <form>
      <legend>MY MARKETING PLAN</legend>
      <p>This aims at sharpening your skills at finding critical business information— whether it is about your industry, target market, competitors, or other business information you’ll need.</p>

      <p>The word ‘research’ probably conjures up school projects, but this kind of research isn’t like that. Instead you’ll get shortcuts to finding reliable information to help you build your business and make decisions.</p>

      <p>The emphasis will be on finding such information fast, easily and hopefully free.</p>
      <p>Please read our guide on Developing your Marketing Plan for detailed insight on how to align your resources and capabilities to the requirements of the environment in which you operate.</p>

      <Target class="mb-5" v-if="target" />
      <Situation class="mb-5" v-if="situation" />
      <Industry class="mb-5" v-if="industry" />
      <Goal class="mb-5" v-if="goal" />
      <Mix class="mb-5" v-if="mix" />
    </form>
  </div>
</template>

<script>
import Target from "./marketing/target";
import Goal from "./marketing/goals";
import Mix from "./marketing/mix";
import Situation from "./marketing/situation";
import Industry from "./marketing/industry";
export default {
  data() {
    return {
      target: false,
      goal: false,
      mix: false,
      situation: false,
      industry: false
    };
  },
  components: {
    Target,
    Goal,
    Mix,
    Situation,
    Industry
  },
  mounted() {
    this.handleForm(this.$route.params.name);
  },
  methods: {
    handleForm(key) {
      switch (key) {
        case "target":
          this.target = true;
          break;
        case "goal":
          this.goal = true;
          break;
        case "mix":
          this.mix = true;
          break;
        case "situation":
          this.situation = true;
          break;
        case "industry":
          this.industry = true;
          break;

        default:
          break;
      }
    }
  }
  
};
</script>

<style scoped>
.mi{
  position: relative;
}
.containder-fluid {
  padding-right: 1px;
  padding-left: 1px;
  font-size: 15px;
 
}
.back {
  font-size: 14px;
  position: absolute;
  top: 0;
}
label {
  font-weight: normal;
}
.question {
  position: relative;
  margin: 0px auto;
  min-height: 100vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 65px;
  border-radius: 4px;
  background: white;
}
.sub_title {
  font-size: 9px;
}
legend {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
}
form {
  min-height: 80vh;
  overflow: scroll;
  width: 80%;
  margin: 0 auto;
   padding-top:50px;
}
.result {
  padding: 10px;
}
ol,
ul,
td,
th {
  text-transform: capitalize;
}
ol {
  font-weight: bold;
}
p {
  margin-bottom: 10px;
}
h3,
h5 {
  margin-bottom: 14px;
}
.butt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid #f7f8fa;
}
.custom-control-input {
  z-index: 0 !important;
  opacity: 1 !important;
}
.custom-control-indicator {
  color: hsl(207, 43%, 20%) !important;
}
.options {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
}
label.custom-radio {
}
.form-group {
  margin: 15px 0;
}

.preview-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.progress_box {
  padding: 25px 0;
  position: relative;
}
.progress_bar {
  text-align: center;
  position: relative;
}
.progress_bar li {
  display: inline-table;
  position: relative;
  width: 55px;
}
.progress_bar li .fa {
  padding: 10px;
  background: #ccc;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.progress_bar li .fa::after {
  content: "";
  position: absolute;
  width: 60px;
  background: #ccc;
  height: 3px;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  z-index: -1;
}
.progress_bar li .fa.active {
  background: hsl(207, 43%, 20%);
}
.progress_bar li .fa.active::after {
  background: hsl(207, 43%, 20%);
}
.progress_bar li p {
  font-size: 9px;
  line-height: 1.4;
}
.preview,
.result {
  background: white;
  padding: 15px;
  border-radius: 4px;
  width: 96%;
  margin: 90px auto;
  margin-bottom: 0;
  height: 85%;
  font-size: 13px;
  overflow: scroll;
}
.preview table {
  font-size: 14px;
}
em {
  font-style: italic;
  font-size: 15px;
}
small em {
  font-size: 12px;
}

label {
  margin-bottom: 5px;
  font-weight: normal;
}
.form-text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.input-group {
  display: flex;
}
th {
  background-color: hsl(207, 43%, 20%);
}
th,
td {
  text-align: center;
}
table {
  font-size: 12px;
}
select.form-control {
  font-size: 12px;
}
.form-control.border-0 {
  font-size: 12px;
}
.quest {
  width: 100%;
  margin: 0 auto;
}
.tab-prev {
  font-size: 12px;
}
h3 {
  font-family: "Josefin Sans";
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .progress_bar li {
    width: 50px;
  }
  .progress_bar li .fa {
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .progress_bar li .fa::after {
    width: 60px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .question {
    width: 95%;
    padding-top: 80px;
  }
  .back {
    top: 10px;
  }
  .progress_bar li p {
    font-size: 14px;
  }
  h3 {
    font-size: 20px;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 130px;
  }
  .progress_bar li .fa {
    padding: 10px;

    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .progress_bar li .fa::after {
    width: 135px;
  }
  .tab-prev {
    font-size: 14px;
  }
  .options {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  .sub_title {
    font-size: 12px;
  }
}
@media only screen and (min-width: 769px) {
  .sub_title {
    font-size: 14px;
  }
  .back {
    top: 10px;
  }
  .question {
    margin: 0px auto;
    width: 90%;
    padding: 25px;
    padding-top: 60px;
    padding-bottom: 100px;

    border: 1px solid #f7f8fa;
  }
  .options {
    grid-template-columns: auto auto auto auto auto;
  }
  legend {
    font-size: 28px;
  }
  .preview,
  .result {
    background: white;
    padding: 30px;
    border-radius: 4px;
    width: 70%;
    margin: 80px auto;
    margin-bottom: 0;
  }
  .result {
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
  }
  table {
    font-size: 16px;
  }
  select.form-control {
    font-size: 16px;
  }
  .form-control.border-0 {
    font-size: 16px;
  }
  blockquote {
    width: 80%;
  }
  .quest {
    width: 95%;
  }
  .progress_bar li {
    width: 150px;
  }
  .progress_bar li .fa {
    padding: 15px;

    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .progress_bar li .fa::after {
    width: 155px;
  }
}

@media only screen and (min-width: 1024px) {
  .question {
    width: 80%;
  }
  .progress_bar li p {
    font-size: 13px;
  }
}
</style>