<template>
  <div class="h-100 w-100 review">
    <Progress />
    <History />
  </div>
</template>
<script>
import Progress from "./bapProgressComponent";
import History from "./history";
export default {
  components: {
    Progress,
    History
  }
};
</script>
<style scoped>
.review{
  padding: 40px 15px;
}
</style>