<template>
    <div class="side_bar">
         <i class="fas fa-times-circle fa-2x text-main" @click="handleMobileMenu"  v-if="showMenu" aria-hidden="true"></i>
        
       <div class="profile_info" v-if="showMenu">
          
           <div class="img">
               <img :src="user.logo" alt="" v-if="user.logo">
               <i class="fas fa-user-circle fa-4x"  v-else aria-hidden="true"></i>
           </div>
           <div class="name">{{user.name}}</div>
           </div> 
       <nav v-if="showMenu">
           <ul>
              <router-link to="/entrepreneur/bap" > <li><img src="/images/graph.svg" class="mr-3" width="20" alt=""> Dashboard</li></router-link>
             <router-link to="/entrepreneur/bap/templates">  <li><img src="/images/text.svg" class="mr-3" width="20" alt="">  Work-sheets</li></router-link>
              <router-link to="/entrepreneur/bap/guides"> <li> <img src="/images/package.svg" class="mr-3" width="20" alt="">  Resources</li></router-link>
              <router-link to="/entrepreneur/bap/review"> <li> <img src="/images/comment.svg" class="mr-3" width="20" alt="">  Review</li></router-link>
           
           </ul>
       </nav>
       <div class="text-center p-2" v-if="!showMenu" @click="handleMobileMenu">
           <h5><i class="fas fa-sort-amount-up"></i>  Menu</h5>
       </div>
    </div>
</template>
<script>
export default {
    props:['showMenu'],
    data(){
        return{
  
            user:{}
        }
    },
    mounted() {
        this.user = JSON.parse(localStorage.getItem('authUser'))

    },
    methods: {
        handleMobileMenu(){
            this.$emit('handleMobileMenu')
        }
    },
}
</script>
<style scoped>
.side_bar{
    background:#a4c2db;
    height: 100%;
    position:relative
}
li{
    padding: 20px 15px;
    border-bottom: 1px solid white;
    font-size: 15px;
    font-weight: bold;
    color: hsl(207,46%,20%);
    cursor: pointer;
    border-right: 4px solid transparent;
    display:flex;
    align-items:center;
}
li:hover{
background-color: hsl(207,46%,90%);
border-color: #333;  
}
.router-link-exact-active ,.router-link-active{
 background-color: hsl(207,46%,90%);
 border-color: #333;   
}
.profile_info{
    padding: 30px 15px 20px;
    border-bottom: 1px solid white;
}
.img{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 16px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.name{
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
}
.fa-times-circle{
    position:absolute;
    top:20px;
    right:20px;
    display:none;
}
@media(max-width:768px){
  .fa-times-circle{
        display: block;
  }
}
</style>