<template>
  <div class="container-fluid">
    <div class="modules">
      <div class="module shadow-sm">
        <div class="title">
          <router-link
            :to="{
          name:'Discovery',
          query:{
            name:'Self Discovery'
          }
        }"
            class
          >
            <p class="title_name">
              <img src="/images/next.svg" width="20" class="mr-1" alt /> Discovering what is within
            </p>
          </router-link>
        </div>
        <div class="topics">
          <h5 @click="show('first')" class="mb-3">
            <i class="fas fa-plus-circle text-main" v-if="!first" aria-hidden="true"></i>
            <i class="fas fa-minus-circle text-main" v-else aria-hidden="true"></i>
            Topics
          </h5>
          <ul v-if="first" class="d-flex justify-content-between">
            <div>
              <router-link to="/entrepreneur/bap/self-discovery">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />Getting to know me
                </li>
              </router-link>

              <router-link to="/entrepreneur/bap/idea">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Bright Idea
                </li>
              </router-link>
              <router-link to="/entrepreneur/bap/vision">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Business Vision
                </li>
              </router-link>
            </div>
            <div>
              <router-link to="/entrepreneur/bap/mission">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Business Mission
                </li>
              </router-link>
              <router-link to="/entrepreneur/bap/values">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Business Values
                </li>
              </router-link>
            </div>
          </ul>
        </div>
      </div>

      <div class="module shadow-sm">
        <div class="title">
          <router-link
            :to="{
          name:'BusinessEducation',
          query:{
            name:'Business Education'
          }
        }"
            class
          >
            <p class="title_name">
              <img src="/images/next.svg" width="20" class="mr-1" alt /> What Kind Of Entrepreneur Am I?
            </p>
          </router-link>
        </div>
        <div class="topics">
          <h5 @click="show('second')" class="mb-3">
            <i class="fas fa-plus-circle text-main" v-if="!second" aria-hidden="true"></i>
            <i class="fas fa-minus-circle text-main" v-else aria-hidden="true"></i>
            Topics
          </h5>
          <ul v-if="second">
            <router-link to="/entrepreneur/bap/entrepreneur">
              <li class="topic">
                <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                Questionnaire
              </li>
            </router-link>
            <router-link to="/entrepreneur/bap/entrepreneur">
              <li class="topic">
                <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />Result & Recommendation
              </li>
            </router-link>
          </ul>
        </div>
      </div>

      <div class="module shadow-sm">
        <div class="title">
          <router-link
            :to="{
          name:'BusinessEducation',
          query:{
            name:'Business Education'
          }
        }"
            class
          >
            <p class="title_name">
              <img src="/images/next.svg" width="20" class="mr-1" alt /> My Business Concept
            </p>
          </router-link>
        </div>
        <div class="topics">
          <h5 @click="show('third')" class="mb-3">
            <i class="fas fa-plus-circle text-main" v-if="!third" aria-hidden="true"></i>
            <i class="fas fa-minus-circle text-main" v-else aria-hidden="true"></i>
            Topics
          </h5>
          <ul v-if="third">
            <router-link to="/entrepreneur/bap/concept">
              <li class="topic">
                <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                My Business Overview
              </li>
            </router-link>
            <router-link to="/entrepreneur/bap/concept">
              <li class="topic">
                <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                My Customer Segments
              </li>
            </router-link>
            <router-link to="/entrepreneur/bap/concept">
              <li class="topic">
                <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Unique Value Proposition
              </li>
            </router-link>
          </ul>
        </div>
      </div>

      <div class="module shadow-sm">
        <div class="title">
          <router-link
            :to="{
          name:'BusinessEducation',
          query:{
            name:'Business Education'
          }
        }"
            class
          >
            <p class="title_name">
              <img src="/images/next.svg" width="20" class="mr-1" alt />
              My Marketing Plan
            </p>
          </router-link>
        </div>
        <div class="topics">
          <h5 @click="show('fourth')" class="mb-3">
            <i class="fas fa-plus-circle text-main" v-if="!fourth" aria-hidden="true"></i>
            <i class="fas fa-minus-circle text-main" v-else aria-hidden="true"></i>
            Topics
          </h5>
          <ul v-if="fourth" class="d-flex justify-content-between">
            <div>
              <router-link to="/entrepreneur/bap/marketing/target">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Target Market Overview
                </li>
              </router-link>

              <router-link to="/entrepreneur/bap/marketing/situation">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Situation Analysis (SWOT)
                </li>
              </router-link>
              <router-link to="/entrepreneur/bap/marketing/industry">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Industry Analysis (Competitors)
                </li>
              </router-link>
            </div>
            <div>
              <router-link to="/entrepreneur/bap/marketing/goal">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Marketing Goals
                </li>
              </router-link>
              <router-link to="/entrepreneur/bap/marketing/mix">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Marketing Mix
                </li>
              </router-link>
            </div>
          </ul>
        </div>
      </div>

      <div class="module shadow-sm">
        <div class="title">
          <router-link
            :to="{
          name:'BusinessEducation',
          query:{
            name:'Business Education'
          }
        }"
            class
          >
            <p class="title_name">
              <img src="/images/next.svg" width="20" class="mr-1" alt />
              My Sales Plan
            </p>
          </router-link>
        </div>
        <div class="topics">
          <h5 @click="show('fifth')" class="mb-3">
            <i class="fas fa-plus-circle text-main" v-if="!fifth" aria-hidden="true"></i>
            <i class="fas fa-minus-circle text-main" v-else aria-hidden="true"></i>
            Topics
          </h5>
          <ul v-if="fifth" class="d-flex justify-content-between">
            <div>
              <router-link to="/entrepreneur/bap/sales/strategy">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Business Acquisition Strategy
                </li>
              </router-link>

              <router-link to="/entrepreneur/bap/sales/leads">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Lead Generation Overview
                </li>
              </router-link>
              <router-link to="/entrepreneur/bap/sales/goals">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Sales Goals
                </li>
              </router-link>
            </div>
            <div>
              <router-link to="/entrepreneur/bap/sales/funnel">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />
                  My Sales Funnel
                </li>
              </router-link>
              <router-link to="/entrepreneur/bap/sales/retention">
                <li class="topic">
                  <img src="/images/dot-arrow.svg" width="10" class="mr-1" alt />My Customer Retention Strategy
                </li>
              </router-link>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current_month: 0,
      usersub: 0,
      showPage: false,
      templates: [],
      user: {},
      first: false,
      second: false,
      third: false,
      fourth: false,
      fifth: false,
      id: null
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      let name = "My Bright Idea";
      let user = JSON.parse(localStorage.getItem("authUser"));
      vm.getUserSub();
    });
  },
  mounted() {
    let user = JSON.parse(localStorage.getItem("authUser"));
    if (user !== null) {
      this.user = user;
    }
    this.getRecord();
    this.getGroups();
  },
  methods: {
    show(value) {
      switch (value) {
        case "first":
          this.first = !this.first;
          break;
        case "second":
          this.second = !this.second;
          break;
        case "third":
          this.third = !this.third;
          break;
        case "fourth":
          this.fourth = !this.fourth;
          break;
        case "fifth":
          this.fifth = !this.fifth;
          break;

        default:
          break;
      }
    },
    getGroups() {
      axios
        .get(`/api/get-form-templates`, {
          headers: { Authorization: `Bearer ${this.user.access_token}` }
        })
        .then(res => {
          if ((res.status = 200)) {
            let groups = [];
            this.templates = res.data;
            res.data.forEach(item => {
              groups.push(item.group);
            });

            let newSet = new Set(groups);
            this.templates = Array.from(newSet);
          }
        })
        .catch();
    },
    getUserSub() {
      let user = JSON.parse(localStorage.getItem("authUser"));

      if (user !== null) {
        axios.post(`/api/user/subscription-plan/${user.id}`).then(response => {
          if (response.data.length) {
            this.usersub = Math.round(response.data[0].level);

            if (Math.round(response.data[0].level) < 3) {
              this.$router.push({
                name: "SubscriptionProfile",
                params: {
                  level: 3
                },
                query: {
                  redirect_from: "bap_progress"
                }
              });
            } else {
              this.showPage = true;
            }
          } else {
            this.$router.push({
              name: "SubscriptionProfile",
              params: {
                level: 3
              },
              query: {
                redirect_from: "bap_progress"
              }
            });
          }
        });
      }
    },
    getRecord() {
      let user = JSON.parse(localStorage.getItem("authUser"));
      if (user != null) {
        axios
          .get(`/api/get-active-record`, {
            headers: {
              Authorization: `Bearer ${user.access_token}`
            }
          })
          .then(response => {
            this.current_month = response.data.current_month;
          });
      }
    }
  }
};
</script>

<style scoped>
.container-fluid {
  padding: 0;
  min-height: 100vh;
  background-color: #f7f8fa;
}
.contain-box {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.module {
  background: white;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 15px;
}
.sub_heading {
  padding: 15px;
}
.title {
  padding: 10px 40px;
}
.title_name {
  font-size: 20px;
  color: hsl(207, 46%, 20%);
  font-family: "Josefin Sans";
}
.topics {
  padding: 5px 80px;
  position: relative;
}
.topic {
  font-size: 15px;
  color: tomato;
}
.grid_box {
  height: 100px;
  position: relative;
  border: 1px solid #f7f8fa;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #414d57,
    #52616e,
    #647786,
    #778c9f,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #8aa3b8,
    #778c9f,
    #647786,
    #52616e,
    #414d57
  );
  transition: all 2s;
}
.grid_text {
  text-align: center;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  color: white;
  text-transform: capitalize;
  font-family: "Josefin Sans";
}
.grid_box:hover {
  background-image: linear-gradient(
    to left top,
    #a4c2db,
    #90abc1,
    #7d94a7,
    #6a7e8e,
    #586876,
    #586876,
    #586876,
    #586876,
    #6a7e8e,
    #7d94a7,
    #90abc1,
    #a4c2db
  );
}
h3 {
  font-size: 18.5px;
}
.first {
  width: 100%;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .first {
    width: 90%;
  }
  .container-fluid {
    padding: 20px 20px;
  }
  .bap_box {
    grid-template-columns: auto auto;
  }
  .grid_text {
    font-size: 18px;
  }
  .topics{
    padding:10px ;
  }
}
@media only screen and (max-width: 768px) {

  .module{
    width:90%;
  }
}
@media only screen and (max-width: 425px) {

  .module{
    width:100%;
  }
  .title{
    padding: 10px 0;
  }
  .topics{
    padding:10px 5px;
  }
}
</style>